<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="Social Services, AI-Resource Finder, Nonprofit, NGO, Local Services, Federal Resources, Family Benefits, Life Coaching" />
    <meta name="description" content="BenefitsGPS is your digital guide to social services. Powered by AI, we connect you to nonprofits, NGOs, and local to federal resources tailored to your needs. With expertise rooted in over 20 years of social work, we simplify complex benefits into 8th-grade level explanations. Let BenefitsGPS navigate the best resources for you." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="BenefitsGPS: Your Digital Guide to Social Services" />
    <meta property="og:description" content="BenefitsGPS is your digital guide to social services. Powered by AI, we connect you to nonprofits, NGOs, and local to federal resources tailored to your needs. Let BenefitsGPS navigate the best resources for you." />
    <meta property="og:url" content="https://xsbrt.com/benefitsGPS.html" />
    <meta property="og:site_name" content="BenefitsGPS - Navigate Your Benefits" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="BenefitsGPS: Navigate Your Benefits" />    
<meta name="msapplication-TileImage" content="gps.png" />
<meta name="msapplication-TileColor" content="white" />
    <meta name="msapplication-TileImage" content="gps.png" />
    <meta name="msapplication-TileColor" content="white" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="gps.png" />
    <link rel="icon" href="navigator.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <title>BenefitsGPS - Your digital guide to social services</title>
</head>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
    <v-app id="inspire">  

      <v-app-bar color="primary" dark density="prominent" elevation="18" style="cursor:pointer" @click="window.location.reload()">
        <v-app-bar-title link class="text-center justify-center action-title d-flex flex-column pb-1">
            <div class="d-flex align-center justify-center" link>
                <v-icon left class="pb-1 mr-1">mdi-crosshairs-gps</v-icon>
                BenefitsGPS
            </div>
            <div class="subtitle text-center" link>Navigate Your Benefits</div>         
        </v-app-bar-title>          
    </v-app-bar>
    

    <v-main class="justify-center text-center ma-4">

      <v-row class="text-center justify-center my-4">

        <v-col v-if="isSupported" cols="auto">
          <v-btn v-if="!isListening"
          class="my-4 mx-1"
          color="primary" 
          title="Speak what you want need"
          size="large"
          elevation="4"
          icon="mdi-account-voice"
          variant="tonal"
          ripple
          @click="startSpeechRecognition"
        > 
        </v-btn>
        <v-btn v-if="isListening" elevation="4" class="my-4  mx-1" title="Stop talking" variant="tonal" ripple size="large" color="error" icon="mdi-voice-off" large @click="stopSpeechRecognition"></v-btn>
        </v-col>

        <v-col v-if="favorites" cols="auto">
            <v-btn 
            class="my-4 mx-1"
            color="primary" 
            title="View your saved favorites"
            variant="tonal"
            elevation="4"
            ripple
            icon="mdi-star"
            size="large"
            @click="showFavorites=!showFavorites"
          > 
          </v-btn>
        </v-col>

        <v-col v-if="showFavorites&&favorites||o&&o.results" cols="auto">
          <v-btn              
            class="my-4 mx-1"
            color="primary" 
            title="Download results"
            elevation="4"
            size="large"
            icon="mdi-download"
            variant="tonal"
            ripple
            @click="downloadData"
          > 
          </v-btn>
        </v-col>

        <v-col v-if="previousSessions&&previousSessions.length > 1" cols="12" md="3">
          <v-autocomplete 
              class="my-4 mx-1"
              label="Revisit Your Past Queries"
              hint="Easily find and explore topics you've shown interest in before"
              persistent-hint
              auto-grow
              elevation="4"
              rounded
              variant="outlined"
              color="primary"      
              :items="previousSessions"
              item-title="description"
              v-model.lazy="o"
              @update:modelValue="showFavorites=false;gatherResults();"
              return-object
          ></v-autocomplete>
        </v-col>

      </v-row>

      <v-alert v-if="!o.description" elevation="4" class="mb-4 pl-4 py-2 text-left" variant="text" text="BenefitsGPS is your digital guide to social services. Powered by AI, we connect you to nonprofits, NGOs, and local to federal resources tailored to your needs. Let BenefitsGPS navigate the best resources for you." color="primary" title="Welcome to BenefitsGPS!" border elevation="8" rounded closable>      
      </v-alert> 

    <v-textarea 
    v-model.trim="o.description" 
    label="Describe Your Social Service Needs"
    hint="Share your story and needs. Let's find the right resources for you!"
    placeholder="What challenges are you facing? What kind of support are you looking for? Let's navigate together!"
    persistent-hint 
    elevation="4"
    auto-grow 
    rounded
    clearable 
    rows="2" 
    class="ma-4 action-textarea"
    variant="outlined"
    maxlength="750"    
    :counter="750"
    color="primary"
>
</v-textarea>

<v-btn 
v-if="o&&o.description&&o.description.length > 4" 
color="primary" 
elevation="6" 
variant="tonal"
size="large" 
rounded  
ripple
@click="gatherResults" 
class="mb-4 mt-2 pa-3 text-center justify-center action-button" 
:loading="loading"
>
<v-icon class="mr-1" size="large">mdi-crosshairs-gps</v-icon> 
Discover Resources Now!
</v-btn>

<v-progress-linear v-if="loading&&selectedQuote.q" color="primary" indeterminate height="65" class="py-4 my-4 mx-1 text-center justify-center text-white font-weight-black">
    <span class="pa-1">{{ selectedQuote.q }}</span>
</v-progress-linear>

    
      <v-overlay
        v-if="note" 
        v-model="note"
        class="overlay-container"
        close-on-back
        width="99%"
        height="99%"
      >
        <v-card class="overlay-card pa-1 text-center justify-center">
          <v-card-title class="overlay-title">
            <span>{{note.name}}</span>
            <v-spacer></v-spacer>
            <v-btn 
              class="my-4"
              variant="tonal"
              size="small"
              color="error" 
              @click="note = null; console.clear();" 
              title="Close"
              icon="mdi-close"
              elevation="4"
            >
            </v-btn>
          </v-card-title>
          <v-card-subtitle class="overlay-subtitle text-center justify-center pb-4">
            Notes
          </v-card-subtitle>

          <v-row>
            <v-col cols="12">
              <v-textarea 
                v-model.trim="note.description" 
                label="Enter your private notes below." 
                hint="Your notes are stored only on this device and won't be shared." 
                placeholder="E.g., Important details about this resource..."
                persistent-hint 
                auto-grow 
                elevation="4"
                rounded
                clearable 
                rows="2" 
                class="mb-2 mx-2"
                variant="outlined"
                color="primary"
              >
              </v-textarea>
            </v-col>
          </v-row>
              
          <v-btn v-if="note.description" 
              text 
              class="my-2 overlay-content"
              color="success"
              rounded
              size="large"
              variant="tonal" 
              title="submit"
              elevation="4"
              icon="mdi-plus"
              @click="addNote"
            >
            </v-btn>

            <v-card-text v-if="notes" class="mt-1 overlay-content">
              <v-timeline side="end" align="start"> 
                <v-timeline-item v-for="it in notes" :key="it.id" dot-color="primary" size="small">
                  <div class="d-flex">
                      <v-row>
                        <v-col class="text-left small font-weight-bold" cols="12">
                          <v-btn 
                            icon 
                            size="x-small"
                            class="mr-2"
                            color="error"  
                            elevation="4"
                            title="Delete note"
                            @click="deleteNote(it,note)"
                          >
                            <v-icon>mdi-close</v-icon>
                          </v-btn>{{toHumanReadableDate(it.mod)}}
                        </v-col>
                        <v-col class="text-left text-caption mb-2" cols="12">
                          {{it.description}}                          
                        </v-col>
                      </v-row>
                  </div>
                </v-timeline-item>
              </v-timeline>
            </v-card-text>
           
        </v-card>
      </v-overlay> 
 
      <v-row v-if="o && o.description && showResults" class="mt-4 text-center justify-center">

        <v-col v-if="showFavorites&&favorites" cols="12" class="text-h5 text-primary">
          <v-icon color="primary" size="large" class="pr-1 pb-2">mdi-star</v-icon> 
          Favorites
        </v-col>

        <v-col
          v-for="it in showResults"
          :key="it.name"
          cols="12"  
          sm="6"    
          md="4"   
          lg="3">   
          
          <v-card
        class="text-center ma-4"
        outlined
        elevation="10"
        color="indigo-lighten-5"
      >
  <v-card-text>
    <v-card-title class="headline text--primary">{{it.name}}</v-card-title>
    <v-card-subtitle class="mb-2 text--secondary">
      <div><a style="text-decoration:none;" class="text--secondary" :href="'tel:' + it.phone">{{it.phone}}</a></div>
      <a :href="it.website" class="text--secondary" style="text-decoration: none;" target="_blank">
        {{it.website}}
      </a>
    </v-card-subtitle>
    
    <v-card-text class="body-1 mt-2 text-left text--primary">{{it.directions}}</v-card-text>
   
   <v-card-actions class="text-center justify-center">
    <v-btn v-if="!showFavorites"
    icon 
    class="mx-4"
    color="success" 
    title="Save"
    variant="tonal"
    elevation="4"
    @click="saveFavorite(it)"
  >
    <v-icon size="large">mdi-star</v-icon>
  </v-btn>
   <v-btn 
    icon 
    class="mx-4"
    color="success" 
    variant="tonal"
    title="Notes"
    elevation="4"
    @click="note=it;console.log(notes.length);console.clear();"
  >
    <v-icon size="large">mdi-note</v-icon>
  </v-btn>
  <v-btn 
    icon 
    class="mx-4"
    color="success"
    title="Share" 
    elevation="4"
    variant="tonal"
    @click="shareItem(it)"
  >
  <v-icon size="large">mdi-share</v-icon>
  </v-btn>
  </v-card-actions>
</v-card>

        </v-col>
      </v-row>
    </v-main>
    <v-footer app class="text-center justify-center d-flex pa-4" elevation="18">
        <v-btn 
          icon
          size="large"
          color="primary" 
          elevation="4"
          variant="tonal"
          title="Share this site"
          @click="shareContent"
      >
        <v-icon>mdi-share</v-icon>
      </v-btn>
    </v-footer>
  </v-app>

     </script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script src="artyom.window.min.js"></script>   
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>   
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.6/xlsx.full.min.js"></script>    
    <script setup> 
        const { createApp } = Vue;
        const { createVuetify } = Vuetify;      
        const vuetify = createVuetify();      
        const app = createApp({

            data() {
                return {
                    o: {description: ''},
                    session: null,
                    loading: false,
                }
            },

            created() {                
              createStorage('benefitsGPS');                                              
              this.role = '';
              this.id = null;              
              this.artyom = null;
              this.location = null;               
              //this.$vuetify.theme.themes.primary = '#024004';                           
            },

            watch: {

                o: function (newValue) {
                    return newValue;
                },

                showFavorites: function (newValue) {
                    return newValue;
                },

                updateFavorites: function (newValue) {
                    return newValue;
                },

                note: function (newValue) {
                    return newValue;
                }
            },

            async mounted() { 
                //this.role = window.benefitsgps; 
                this.role = "You are a highly knowledgeable assistant with extensive experience in social work, community development, and economic frameworks. You have a deep understanding of the Upward Mobility Framework, Doughnut Economics, and various local and federal resources available to support underserved populations. Your expertise also includes explaining complex concepts in a simple and accessible manner, suitable for an 8th-grade audience. A user is seeking assistance to connect with resources and programs that can support their community, particularly focusing on underserved populations. They are interested in initiatives that promote economic inclusion, housing affordability, social justice, and ecological sustainability. Using your knowledge up to September 2021, provide a comprehensive guide that integrates the principles of Doughnut Economics and the Upward Mobility Framework. Highlight relevant organizations, nonprofits, NGOs, and local/federal programs that align with these frameworks and can significantly benefit the user’s community. Ensure that your response is structured as a JSON array containing 16 objects, each representing a different resource. Each object should include the following fields: 'name', 'phone', 'website', and 'directions'. The 'directions' field should provide clear, concise, and actionable guidance on how to engage with the resource, tailored to an 8th-grade audience. Remember, the goal is to empower the user and their community by connecting them with the most relevant and impactful resources, fostering a supportive environment for underserved populations, and promoting sustainable and inclusive development.";  
                this.session = randomString();                             
                let res = alasql("SELECT TOP 1 description FROM notes WHERE description IS NOT NULL AND id IS NULL ORDER BY DATE(mod) DESC");
                if (res&&res.length > 0) { 
                  this.o = res[0];
                  this.showFavorites = true;
                };
                this.o.u = await retrieveId();               
                this.artyom = new Artyom();
                this.isSupported = this.artyom.speechSupported();
                this.location = await getDeviceLocation();
                console.clear();
                console.log(this.role);
            },

            computed: {

              favorites() {
                if (this.showFavorites||this.updateFavorites) {
                  let res = alasql("SELECT * FROM notes WHERE session IS NOT NULL AND name IS NOT NULL ORDER BY DATE(mod) DESC");
                  if (res&&res.length > 0) { 
                    return alasql("SELECT * FROM ? GROUP BY name",[res]);
                  };
                };
                return null;
              },

              notes() {
                  if (!this.note||!this.note.name) { return null };
                  let res = alasql("SELECT * FROM notes WHERE description IS NOT NULL AND id IS NOT NULL AND mod IS NOT NULL AND name IS NOT NULL AND session IS NOT NULL ORDER BY DATE(mod) DESC");
                  if (res&&res.length > 0) {
                    res = res.filter(element => element.name == this.note.name); 
                    if (res&&res.length > 0) {
                      return res;
                    };                    
                  };
                  return null;
                },

              previousSessions() {                
                if (!this.session) { return null };
                try {
                  let res = alasql("SELECT description FROM notes WHERE description IS NOT NULL AND description <> '' AND id IS NULL GROUP BY description ORDER BY DATE(mod) DESC");
                  if (res&&res.length > 1) { 
                    return res;
                  };
                } catch(error) { return [] };                
                return [{description: ''}];  
              },

              showResults() {
                if (this.showFavorites&&this.favorites) { return this.favorites };
                if (this.o&&this.o.results&&this.o.results.length > 0) { return this.o.results };
                return null;
              }    

            },

            methods: { 
              
              async changeQuote() {
                  this.selectedQuote = getRandomQuote();
              },
              
              toHumanReadableDate(isoString) {
                const date = new Date(isoString);
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-based
                const day = String(date.getDate()).padStart(2, '0');
                const hours = String(date.getHours()).padStart(2, '0');
                const minutes = String(date.getMinutes()).padStart(2, '0');
                return `${year}-${month}-${day} ${hours}:${minutes}`;
              },

              async downloadData() {  
                let res = this.favorites;
                if (this.o.results) { res = this.o.results };                  
                if (res&&res.length > 0) {
                    downloadData(res);
                    res = null;
                };            
              },
              
              async saveFavorite(it) {
                this.updateFavorites = false;
                it["session"] = this.session;
                await saveEntity(it); 
                this.updateFavorites = true;               
              },

              async startSpeechRecognition() { 
                try {
                  this.o["description"] = '';
                  this.changeObject(this.o);
                  this.artyom.fatality();
                  await this.artyom.initialize({ debug: false, soundex: true, continuous: true, listen: true, speed: 1 });       
                  this.artyom.addCommands({
                    indexes: [/.*/],
                    smart: true,
                    action: (i, wildcard) => {
                      this.o["description"] = this.o.description + ' ' + wildcard.trim();
                    }
                  });
                  setTimeout(() => { this.isListening = true }, 2000);
                  this.artyom.redirectRecognizedTextOutput((text, isFinal) => {
                    this.o["description"] = text;
                });
                } catch (error) { return };               
              },

              async stopSpeechRecognition() { 
                try {
                  this.isListening = false;
                  this.artyom.fatality();
                if (!this.loading) { this.gatherResults() };
                } catch (error) { return };               
              },

              async shareItem(it) {                
                if (navigator.share) {
                  const shareData = {
                        title: it.name,
                        text: it.directions,
                        url: it.website
                    };
                    navigator.share(shareData);
                    it["session"] = this.session; 
                    saveEntity(it);
                  }; 
                },

                async shareContent() {                
                  if (navigator.share) {
                      const shareData = {
                          title: 'BenefitsGPS - Your Guide to Social Services',
                          text: 'BenefitsGPS is your AI-powered assistant to navigate social services. Enter your needs and discover nonprofit, NGO, and local/federal resources tailored for you. Let us connect you to the services that can benefit your family demographics.',
                          url: 'https://xsbrt.com/benefitsGPS'
                      };
                      try {
                          await navigator.share(shareData);
                      } catch (error) {
                          return;
                      }
                  } else {
                      return;
                  }
              },

              async changeObject(o) {
                if (typeof o === 'string') {
                  this.o.description = o;
                };
                this.o = o;
              },

              async clearInput() {
                this.session = randomString();        
              },

              async gatherResults() {
                if (!this.o||!this.o.description||this.o.description.length < 5) { return };
                this.showFavorites = false;
                console.clear();  
                this.loading = true;
                setInterval(this.changeQuote, 5500);  
                this.stopSpeechRecognition();
                if (this.o.results) { delete this.o.results }; 
                this.session = randomString();
                this.o["description"] = this.o.description.replace(/\s+/g, ' ').trim();
                saveEntity(this.o);                             
                let description = 'This customer is asking about the following: ' + this.o.description;
                if (this.location) {
                  description = description + '. The customers geographic location is latitude: ' + location.latitude + ', longitude: ' + location.longitude + '.';
                };
                const messages = [
                  { role: "system",  content: this.role },                
                  { role: "user", content: JSON.stringify("Return a JSON array of 16 objects formatted as {result: [{name: '', phone: '202-123-4567', website: '', directions: 'in clear, concise detail, tell the customer what they need to ask for as if they were in 8th grade, three sentences maximum'} ]) of any helpful organizations, nonprofits, NGOs, as well as any local and federal programs the requestor may benefit from. There should be no more than five government options in the results. No hypotheticals or made-up information. Order the results from most to least important based on all of the request. " + description.trim()) }
                ];
                //console.log(messages); 
                let res = await getResults(messages,0.2);
                if (res) {
                  this.o["results"] = alasql("SELECT * FROM ? WHERE name IS NOT NULL GROUP BY name",[res.result]);                  
                }; 
                this.loading = false;                
              },
              
            async addNote() {  
              let it = JSON.parse(JSON.stringify(this.note));
              if (it.phone) { delete it.phone };
              if (it.website) { delete it.website };
              if (it.summary) { delete it.summary };
              it["session"] = this.session;   
              it["id"] = randomString();
              await saveEntity(it);
              it["description"] = '';
              this.note = JSON.parse(JSON.stringify(it));              
              console.log(this.notes.length);
            },

            async deleteNote(it,note) {
              await deleteItem(it);
              this.note = JSON.parse(JSON.stringify(note));
              console.log(this.notes.length);
              console.clear();
            }

            },

            template: "#app-template", 
        });
        app.use(vuetify).mount('#app');
    </script>
    
    <style scoped>
      #app {
          width: 100%;
          height: 100vh;
          background-color: white;
      }
  
      .overlay-container {
          overflow: auto;
      }
  
      .overlay-card {
          max-width: 90%;
          margin: auto;
      }
  
      .overlay-title {
          font-size: 1.5em;
          font-weight: bold;
      }
  
      .overlay-subtitle {
          font-size: 1.2em;
      }
  
      .overlay-content {
          overflow-y: auto;
          max-height: 70vh;
      }
  
      .result-text {
          font-size: 1.1em;
          white-space: pre-wrap;
          word-wrap: break-word;
      }
  
      .action-title {
          font-weight: bold;
          letter-spacing: 1.2px;
      }
  
      .subtitle {
          font-size: 0.8em;
          margin-left: 5px;
      }
  
      .action-button {
          font-weight: bold;
          letter-spacing: 1.2px;
          transition: all 0.3s ease;
      }
  
      .action-button:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }
  
      .action-textarea {
          border: 2px solid var(--primary-color);
          border-radius: 8px;
          transition: all 0.3s ease;
      }
  
      .action-textarea:focus-within {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  </style>
  
</body>
</html>