<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”noindex,nofollow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords"
        content="lobbying, congress, advocacy, political connections, mission statement, position statement, congresspersons, legislative insights, political advocacy, lobbying tools" />
    <meta name="description"
        content="TinyLobby simplifies the lobbying process by connecting organizations with relevant congresspersons. Input your mission and position, and get insights, deliverables, and key connections tailored to your advocacy needs." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="TinyLobby: Congressional Advocacy Made Easy" />
    <meta property="og:description"
        content="TinyLobby simplifies the lobbying process by connecting organizations with relevant congresspersons. Input your mission and position, and get insights, deliverables, and key connections tailored to your advocacy needs." />
    <meta property="og:url" content="https://tinylobby.com" />
    <meta property="og:site_name" content="TinyLobby: Congressional Advocacy Made Easy" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="TinyLobby: Congressional Advocacy Made Easy" />
    <meta name="msapplication-TileImage" content="lightbulb.png" />
    <meta name="msapplication-TileColor" content="#121212" />
    <meta name="theme-color" content="#FFCD24" />
    <link rel="apple-touch-icon" href="lightbulb.png" />
    <link rel="icon" href="expert.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.5.8/dist/vuetify.min.css" />
    <title>TinyLobby: Congressional Advocacy Made Easy</title>
</head>
<script src="bq8nqs68.js"></script>
<body oncontextmenu="return false">
    <div id="app">
      <v-app fluid fullwidth fullheight style="background-color: #f5f5f5;">
        <v-container fluid>
          <v-row justify="center" align="center">
              <v-col cols="12">
                <v-card class="pa-4 elevation-12" :loading="loading" style="background: linear-gradient(120deg, #f9e8b5 0%, #fed7c2 100%);">
                  <v-card-title class="text-center justify-center">
                    <span class="display-1" style="color: black;">TinyLobby: Congressional Advocacy Made Easy</span>
                </v-card-title>

                <v-dialog v-if="deliverable" value="true" light fullscreen scrollable>
                  <v-card align-top width="800" class="text-center justify-center pa-4 elevation-10">
                      <!-- Display a loading bar if the result is not yet available -->
                      <v-card-text v-if="!deliverable.result">
                          <v-progress-linear indeterminate rounded striped color="yellow darken-2" class="mt-4" height="30">
                              Loading your deliverable...
                          </v-progress-linear>
                      </v-card-text>
                      
                      <!-- Display the deliverable title and content -->
                      <v-card-text>
                          <h1 class="text-center justify-center mt-4 pt-4">{{deliverable.title}}</h1>
                          
                          <!-- Close button -->
                          <v-btn x-large icon fab color="red" title="Close" @click="deliverable=null">
                              <v-icon x-large>mdi-close</v-icon>
                          </v-btn>
                          
                          <!-- Copy to clipboard button -->
                          <v-btn v-if="deliverable.result" x-large icon fab color="green" title="Copy to clipboard" @click="copyClipboard(deliverable.result)">
                              <v-icon x-large>mdi-content-copy</v-icon>
                          </v-btn>
                          
                          <!-- Display the deliverable content -->
                          <pre v-if="deliverable.result" class="text-left mt-2" style="color: black; font-size: 1.14em; white-space: pre-wrap; word-wrap: break-word; overflow-x: auto; max-width: 100%;">
                              {{deliverable.result}}
                          </pre>
                      </v-card-text>
                  </v-card>
              </v-dialog>        

               <!-- Craft Your Mission Statement -->
              <v-textarea 
                  v-model.trim="mission" 
                  rows="5" 
                  label="Craft your organization's mission 🚀" 
                  hint="For instance, 'Championing sustainable energy for a brighter tomorrow...'" 
                  class="my-2 mx-4" 
                  outlined 
                  rounded 
                  clearable 
                  color="purple lighten-1"
                  @click:clear="checkMissionPosition">
                  <template v-slot:prepend>
                      <v-icon color="purple lighten-1">mdi-rocket</v-icon>
                  </template>
              </v-textarea>


<!-- Define Your Position -->
<v-textarea 
    v-if="currentMission" 
    v-model.trim="position" 
    rows="3" 
    label="What's your passionate stance?" 
    hint="For instance, 'Championing solar energy tax incentives...'" 
    placeholder="Push for a higher federal minimum wage" 
    class="my-2 mx-4" 
    outlined 
    rounded 
    clearable 
    @keyup="getPotential"
    @click:clear="checkMissionPosition">
    <template v-slot:prepend>
        <v-icon color="blue lighten-1">mdi-bullhorn</v-icon>
    </template>
</v-textarea>

<!-- Connect with Congress -->
<v-autocomplete 
    v-if="currentMission && currentPosition" 
    class="mx-4" 
    v-model="results" 
    multiple 
    chips 
    append-icon="mdi-account-search" 
    hint="Discover Congress members who resonate with your cause!" 
    label="Connect with a Congressperson" 
    :items="master" 
    item-text="v" 
    return-object 
    clearable 
    outlined 
    rounded 
    @change="showResults">
</v-autocomplete>



<v-layout v-if="results && results.length > 0" row wrap class="text-center justify-center">

  <v-container v-if="congressFor" fluid>
    {{ congressFor.length }} for
  </v-container>

  <v-container v-if="congressAgainst" fluid>
    {{ congressAgainst.length }} against
  </v-container>

  <v-card v-for="o in results" :key="o.id.bioguide" elevation="10" class="ma-4 pa-3" max-width="420" style="background: linear-gradient(135deg, #A8FACD 0%, #B0E0F8 100%);">
      
      <!-- Congressperson's Image and Basic Info -->
      <v-card-title class="text-left text-capitalize">
          <v-layout row wrap>
              <v-flex xs12 md2>
                  <v-img rel="prefetch" contain class="lazy rounded-lg" height="120" width="140" :src="`https://theunitedstates.io/images/congress/225x275/${o.id.bioguide}.jpg`"></v-img>
              </v-flex>
              <v-flex xs12 md10 class="pl-4 subtitle-1 pt-3">
                  <strong>{{o.terms.type}} {{o.v}}</strong>
                  <div>{{o.terms.state}} {{o.terms.district}} - {{o.terms.party}}</div>
                  <div>{{o.terms.office}}</div>
                  <div>{{o.terms.phone}}</div>
              </v-flex>
          </v-layout> 
      </v-card-title>

      <!-- Deliverable Selection -->
      <v-card-text class="justify-center text-center pa-0 ma-0">
          <v-select :items="deliverables" class="mx-2" v-model="deliverable" return-object clearable rounded outlined label="Engage with a Deliverable" hint="Choose a deliverable to create" item-text="title" @change="getDeliverable(o)"></v-select> 
      </v-card-text>

      <!-- Connection Scores and Summary -->
      <v-card-text v-if="o.summary" class="text-center justify-center">
          <v-flex xs12 md12 class="small text-center justify-center px-2 pb-2">
              <v-flex v-if="o.summary.missionConnection || o.summary.positionConnection" xs12 md12 class="mb-2 text-center justify-center font-weight-bold pb-2">
                  <div class="h5 pb-1">Alignment Scores (1 = low; 10 = high)</div>
                  <v-chip dark :color="o.summary.missionConnection < 5 ? 'red' : 'green'">Mission: {{o.summary.missionConnection}}</v-chip>
                  <v-chip dark :color="o.summary.positionConnection < 5 ? 'red' : 'green'">Position: {{o.summary.positionConnection}}</v-chip>
              </v-flex>

              <!-- Keywords -->
              <v-chip-group class="d-flex justify-center align-center pb-2" dark column>
                <v-chip v-for="k in o.summary.keywords" :key="k">{{k}}</v-chip> 
            </v-chip-group>

              <!-- Summary -->
              <v-flex class="text-left" xs12 md12>{{o.summary.summary}}</v-flex>
          </v-flex>
      </v-card-text>

      <!-- External Links -->
      <v-card-text class="text-center justify-center">
          <v-chip-group class="d-flex justify-center align-center" dark>
              <v-chip @click="window.open('http://bioguide.congress.gov/scripts/biodisplay.pl?index='+o.id.bioguide,'_blank')" color="blue lighten-1">Bio</v-chip>
              <v-chip @click="window.open('https://www.fec.gov/data/candidate/'+o.id.fec+'/','_blank')" color="green lighten-1">FEC</v-chip>
              <v-chip @click="window.open('https://www.opensecrets.org/members-of-congress/summary?cid='+o.id.opensecrets,'_blank')" color="purple lighten-1">OpenSecrets</v-chip>
              <v-chip @click="window.open('https://www.govtrack.us/congress/members/'+o.id.govtrack,'_blank')" color="orange lighten-1">GovTrack</v-chip>
              <v-chip @click="window.open('https://justfacts.votesmart.org/candidate/key-votes/'+o.id.votesmart,'_blank')" color="red lighten-1">VoteSmart</v-chip>
              <v-chip @click="window.open('https://ballotpedia.org/'+o.id.ballotpedia,'_blank')" color="teal lighten-1">Ballotpedia</v-chip>
              <v-chip @click="window.open(o.terms.url,'_blank')" color="cyan lighten-1">Official Website</v-chip>
          </v-chip-group>
      </v-card-text>

  </v-card>

</v-layout>

               

              </v-card>
            </v-col>
        </v-row>
    </v-container>
        </v-app>
    </div>    

    <script src="https://cdn.jsdelivr.net/npm/localforage@1.10.0/dist/localforage.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.8/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
    <script>        

          new Vue({
            el: '#app',
            mode: 'production',
            vuetify: new Vuetify(),
            data() {
                return {
                    loading: true,
                    mission: null,
                    position: null,
                    deliverable: null,
                    oo: {},
                    master: [],
                    results: []                    
                }
            },

            computed: {

              currentMission() {
                if (this.mission&&this.mission.length > 4) {
                  let res = this.reformatText(this.mission);
                  alasql('INSERT INTO notes (mission, mod) VALUES (?, ?)', [JSON.stringify(res), new Date().toISOString()]);       
                  return res;
                };
                this.position = null;
                this.checkMissionPosition();
                return '';
              },

              currentPosition() {
                if (this.position&&this.position.length > 4) {
                  let res = this.reformatText(this.position);
                  alasql('INSERT INTO notes (position, mod) VALUES (?, ?)', [JSON.stringify(res), new Date().toISOString()]);       
                  return res;
                };
                this.checkMissionPosition();
                return '';
              },
              
              calculatedResults() {
                if (this.results&&this.results.length > 0) {
                  let res = alasql("SELECT * FROM ? WHERE summary IS NOT NULL",[this.results]);
                  if (res&&res.length > 0) {
                    for (let oo, w, i = res.length; i--;) {
                      oo = res[i];
                      w = 0;
                      if (oo.summary.missionConnection) {
                        w = w + ~~oo.summary.missionConnection;
                      };
                      if (oo.summary.positionConnection) {
                        w = w + ~~oo.summary.positionConnection;
                      };
                      if (w != 10) {
                        oo["w"] = w;
                      };
                    };
                    res = alasql("SELECT * FROM ? WHERE w IS NOT NULL ORDER BY w DESC",[res]);
                    if (res&&res.length > 0) { return res };
                  };
                };
                return null;
              },

              congressFor() {
                  if (this.calculatedResults) {
                    let res = alasql("SELECT * FROM ? WHERE w > 10",[this.calculatedResults]);
                    if (res&&res.length > 0) { return res };
                  };
                  return null;
              },

              congressAgainst() {
                  if (this.calculatedResults) {
                    let res = alasql("SELECT * FROM ? WHERE w < 10",[this.calculatedResults]);
                    if (res&&res.length > 0) { return res };
                  };
                  return null;
              }

            },

            methods: {  

              async checkMissionPosition() {
                if (this.showResults) {  
                    let chg = false;
                    let res = this.master;
                    for (let oo, i = res.length; i--;) {
                      oo = res[i];
                      if (oo.summary) { delete oo.summary; chg = true; };
                    };
                    if (chg) { 
                      this.master = JSON.parse(JSON.stringify(res));                    
                    };
                    this.results = JSON.parse(JSON.stringify([])); 
                    res = null;
                };
              },

              async copyClipboard(text) {
                let res = await navigator.clipboard.writeText(text);
                res = null;
                alert('Copied to clipboard: ' + text);
              },

              async showResults() {
                if (this.results&&this.results.length > 0) {
                  let chg = false;
                  for (let o, i = this.results.length; i--;) {
                    o = this.results[i];
                    if (!o.summary) {
                      o = await this.getCongressPerson(o);
                      chg = true;
                    };
                  };
                  if (chg) {
                    this.results = JSON.parse(JSON.stringify(this.results));
                  };
                };
              },

              reformatText(txt) {
                return txt.replace(/\s{2,}/g, ' ').trim();
              },

              async getPotential() {
                console.clear();
                if (this.master.length < 1||this.results.length > 0||!this.currentMission||this.currentMission.length < 20||!this.currentPosition||!this.currentPosition.length < 10) { return }; 
                console.clear();
                const messages = [
                  { role: "system",  content: this.role },
                  {
                    role: 'user',
                    content: `Provide a JSON array of 5 congressional bioguide ids of congresspersons related to the mission: ${this.currentMission} and the position: ${this.currentPosition}. Only return the ids without any other information in the JSON format of {congress: ['id1','id2',id3','id4','id5']}.`
                  }
                ];
                try {
                  let st = new Set(JSON.parse(await this.getResults(messages)).congress.sort());
                  console.log(st);
                  let res = this.master.filter(element => st.has(element.id.bioguide));
                  if (res&&res.length > 0) { this.results = res };
                } catch(error) { return };                            
              },

              async getCongressPerson(o) {
                const messages = [
                  { role: "system",  content: this.role },                
                  { role: "user", content: JSON.stringify("Write a detailed, yet concise summary no longer than two paragraphs of the political motivations, convictions and interests of " + o.terms.type + " " + o.v + " (" + o.terms.state + " "  + o.terms.district + ' ' + o.terms.party + "). In addition to a general summary, your summary should also include, if possible, the congressperson's connections to the provided mission: " + this.currentMission + "; and the provided position: " + this.currentPosition + ". Using a scale of 1 to 10, with 1 being low connection and 10 being high connection, calculate the congressperson's connection to the provided mission and the provided position. Highlight any common keywords, categories or phrases which respresent the congresspersons interests, motivations and convictions and put into a JSON array under the key 'keywords'. Return results as a single JSON object in the following format: {summary: '',keywords: '', missionConnection: '', positionConnection: ''}") }
                ];
                try {
                  o["summary"] = JSON.parse(await this.getResults(messages));
                } catch(error) { return o };                
                return o;
              },

              async getDeliverable(o) {                
                if (!this.deliverable) { return };
                if (this.deliverable.result) { delete this.deliverable.result; this.deliverable = JSON.parse(JSON.stringify(this.deliverable)); };
                if (!o.summary) {
                    o = await this.getCongressPerson(o);
                };               
                let txt = "You will create an " + this.deliverable.title + " (" +  this.deliverable.description + "). Your creation of the " + this.deliverable.title + " will be focused on the provided mission:  " + this.currentMission + "; and the provided position: "+  this.currentPosition + ". In your creation, you must take into account the selected congresspersons political motivations, convictions and interests as summarized here: " + o.summary.summary + ". Your creation will only be returned as text.";              
                const messages = [
                  { role: "system",  content: this.role },                
                  { role: "user", content: JSON.stringify(txt)},
                ];
                let res = await this.getResults(messages);
                if (res) {
                  this.deliverable["result"] = res.trim();
                  this.deliverable = JSON.parse(JSON.stringify(this.deliverable));
                  res = null;
                };
                return o;                             
              },

              async getResults(messages) { 
                console.clear();
                console.log(window.globalString.length);
                try { 
                    const response = await axios.post(this.apiUrl, {
                        'model': 'gpt-3.5-turbo-16k',
                        'temperature': 0.2,
                        'messages': messages
                    }, {
                        headers: {
                            'Authorization': `Bearer ${window.globalString}`,
                            'Content-Type': 'application/json'
                        }
                    }); 
                    return response.data.choices[0].message.content;
                } catch (error) {
                    return null;
                };
            },

                async getAx(a) { if (!this.online) { return }; return (await this.axiosClient.get(a)).data },
                
                randomString() { return Math.random().toString(36).substring(2, 6) + Math.random().toString(36).substring(2, 6) },                

                async getCongress() {
                  let res = alasql('COLUMN OF SELECT TOP 1 congress FROM notes WHERE congress IS NOT NULL ORDER BY DATE(mod) DESC');
                  if (res&&res.length > 0) {
                    this.master = [...this.master,...res[0]];
                    return;
                  };                  
                    res = await this.axiosClient.get('https://theunitedstates.io/congress-legislators/legislators-current.json');
                    if (res&&res.data&&res.data.length > 0) {
                        res = res.data;
                        for (let oo, i = res.length; i--;) {
                            oo = res[i];
                            oo['v'] = oo.name.official_full;
                            oo['terms'] = oo.terms[oo.terms.length-1];
                        };
                        res = alasql("SELECT * FROM ? WHERE v IS NOT NULL ORDER BY v ASC",[res]);
                        alasql('INSERT INTO notes (congress, mod) VALUES (?, ?)', [res, new Date().toISOString()]); 
                        this.master = [...this.master,...res];
                        res = null;
                    };
                }              
               

            },

            created() {                 
                this.apiUrl = 'https://api.openai.com/v1/chat/completions'; 
                this.role = 'As a professional lobbyist with more than three decades of experience successfully advocating for various causes in Washington DC, you have honed your strategic, diplomatic, and negotiation skills. Throughout your career, you have built relationships with numerous congresspersons, navigating the intricate, complex political landscape. You have dedicated your life to understanding the needs, concerns, and aspirations of these decision-makers to help shape policies and regulations favorably for your clients. Leverage your vast experience, persuasive skills, and deep understanding of legislative processes to provide insights on: Key strategies for effective lobbying, including how to build relationships with congresspersons and their staff; An overview of your most challenging lobbying experience, detailing the obstacles you faced and how you navigated them to secure a favorable outcome; Insight on how you maintain ethical boundaries while persuading decision-makers, providing a nuanced view of the lobbying profession; How you prepare for a lobbying campaign, outlining key steps from understanding the issue, strategizing, developing messages, to executing your plan; An exploration of the current political landscape, and how it impacts the lobbying profession, specifically in the context of growing calls for transparency and reforms. Tips for newcomers to the field, highlighting the skills, attitudes, and knowledge necessary for a successful lobbying career; Predictions for the future of lobbying based on your experience and the current trends in political advocacy.'; 
                this.currentDate = new Date().toISOString();   
                this.axiosClient = axios.create();
                this.axiosClient.defaults.headers = {
                    'Content-Type': 'application/json',
                    Accept: 'application/json'
                };
                this.axiosClient.defaults.timeout = 7500;
                //this.axiosClient.defaults.baseURL = 'https://xsbrt.com/';
                alasql([
                    'CREATE localStorage DATABASE IF NOT EXISTS lobby',
                    'ATTACH localStorage DATABASE lobby',
                    'USE lobby',
                    'CREATE TABLE IF NOT EXISTS notes',                  
                    'SET AUTOCOMMIT ON'
                ]); 
                this.deliverables = [
  {    
    "title": "Executive Summary",
    "description": "A high-level summary of the issue at hand and our proposed solution."
  },
  {
    
    "title": "Constituent Impact Analysis",
    "description": "Details on how the issue and proposed solution impact the congressperson's constituents."
  },
  {
    
    "title": "Economic Impact Analysis",
    "description": "Details on the economic implications of the issue and our proposed solution."
  },
  {
       "title": "Tweet Draft",
    "description": "A draft tweet the congressperson can use to express support for the issue."
  },
  {
      "title": "Press Release Draft",
    "description": "A draft press release the congressperson can use to announce support for the issue."
  },
  {
    "title": "Op-Ed Draft",
    "description": "A draft opinion editorial the congressperson can submit to a news outlet to express support for the issue."
  },
  {
     "title": "Talking Points",
    "description": "Key messages and arguments in favor of our position that the congressperson can use in speeches and interviews."
  },
  {
     "title": "Event Invitation",
    "description": "An invitation for the congressperson to attend a related event or town hall."
  },
  {
    
    "title": "Legal Analysis",
    "description": "Details on the legal aspects of the issue and our proposed solution, including potential constitutional considerations or precedent."
  }
];
                //this.session = this.randomString();                           
            },

            async mounted() { 
               await this.getCongress();
                let res = alasql('COLUMN OF SELECT TOP 1 mission FROM notes WHERE mission IS NOT NULL ORDER BY DATE(mod) DESC');
                if (res&&res.length > 0) {
                  this.mission = JSON.parse(res[0]);
                  res = alasql('COLUMN OF SELECT TOP 1 position FROM notes WHERE position IS NOT NULL ORDER BY DATE(mod) DESC');
                  if (res&&res.length > 0) {
                    this.position = JSON.parse(res[0]);
                    this.getPotential();                    
                  };
                };                 
                this.loading = false;         
            }


        }); 

    </script>
    <style>
       #app {
            width: 100%;
            height: 100vh;
            background-color: white;
        }
    </style>
</body>

</html>