<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Service Locator</title>
  <meta name="description" content="Find the best social, nonprofit, and government services near you using our Service Locator. Get location-based service information and view them on a map.">
  <meta name="keywords" content="Service Locator, Social Services, Nonprofit Services, Government Services, Location-Based Services">
  <meta name="author" content="Your Name">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.6.4/dist/vuetify.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <style>
    body {
      font-family: 'Roboto', sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;
    }
    #map {
      height: 500px;
      margin-top: 20px;
    }
    .landing-page {
      text-align: center;
      padding: 2rem;
    }
    .main-container {
      max-width: 900px;
      margin: auto;
      padding: 20px;
    }
    .headline {
      font-family: 'Montserrat', sans-serif;
      font-size: 32px;
      font-weight: bold;
      color: #333;
    }
    .description {
      font-size: 18px;
      color: #666;
    }
    .cta-button {
      background-color: #1976D2;
      color: white;
      margin-top: 20px;
    }
    .card {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <div id="app">
    <v-app>
      <v-container class="main-container">
        <v-row>
          <v-col cols="12">
            <v-card class="card mx-auto">
              <v-card-title class="headline">Service Locator</v-card-title>
              <v-card-text class="landing-page description">
                <p>Welcome to the Service Locator! Use our tool to find the best social, nonprofit, and government services near you. Simply allow us to detect your location or enter it manually, and we will show you a map with all the relevant services available in your area.</p>
                <v-form ref="form">
                  <v-text-field
                    v-model="location"
                    label="Enter your location"
                    prepend-icon="mdi-map-marker"
                    required
                    v-if="!locationDetected"
                  ></v-text-field>
                  <v-btn class="cta-button" @click="findServices">Find Services</v-btn>
                </v-form>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>

        <v-row v-if="serviceResults.length > 0">
          <v-col cols="12">
            <div id="map" ref="map"></div>
          </v-col>
        </v-row>
      </v-container>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.4/dist/vuetify.min.js" defer></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.10.0/localforage.min.js" defer></script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      Vue.config.productionTip = false;

      new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data() {
          return {
            location: '',
            locationDetected: false,
            serviceResults: [],
            mapCenter: [0, 0],
            map: null,
          };
        },
        methods: {
          async findServices() {
            if (this.location) {
              try {
                // Call the OpenAI API to get services based on location
                const response = await axios.post('YOUR_CHATGPT_API_ENDPOINT', {
                  prompt: `You are a helpful assistant. Provide a list of social, nonprofit, and government services near the following location: ${this.location}. Include the name of the service, a brief description, and the latitude and longitude coordinates for each service.`,
                  max_tokens: 200,
                  temperature: 0.5,
                });

                this.serviceResults = response.data.services;

                if (this.serviceResults.length > 0) {
                  this.mapCenter = [this.serviceResults[0].lat, this.serviceResults[0].lng];
                  this.$nextTick(() => {
                    this.updateMap();
                  });
                }

                // Save results to localForage
                localforage.setItem('serviceResults', this.serviceResults);

              } catch (error) {
                console.error('Error fetching services:', error);
              }
            }
          },
          updateMap() {
            if (this.map) {
              this.map.remove();
            }
            this.map = L.map(this.$refs.map).setView(this.mapCenter, 13);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(this.map);

            this.serviceResults.forEach(service => {
              L.marker([service.lat, service.lng])
                .addTo(this.map)
                .bindPopup(`<b>${service.name}</b><br>${service.description}`);
            });
          },
          detectLocation() {
            if ('geolocation' in navigator) {
              navigator.geolocation.getCurrentPosition(position => {
                const { latitude, longitude } = position.coords;
                this.location = `${latitude}, ${longitude}`;
                this.locationDetected = true;
                this.findServices();
              }, error => {
                console.error('Error getting location:', error);
                this.locationDetected = false;
              });
            }
          }
        },
        mounted() {
          this.$nextTick(() => {
            // Try to detect user location
            this.detectLocation();

            // Load saved results from localForage
            localforage.getItem('serviceResults').then(results => {
              if (results) {
                this.serviceResults = results;
                if (this.serviceResults.length > 0) {
                  this.mapCenter = [this.serviceResults[0].lat, this.serviceResults[0].lng];
                  this.updateMap();
                }
              }
            }).catch(err => {
              console.error('Error loading saved results:', err);
            });
          });
        },
      });
    });
  </script>
</body>
</html>