<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords"
        content="social services, human services, resources, support, assistance, directory, search, state, local organizations, agencies, well-being, United States, food,housing,health,addiction,childcare,employment,jobs,training,job training,education,disabled,legal aid,youth,sports,recreation,seniors,veterans,goods and services,financial support,money,xsbrt.com,benefits,government benefits,legislation,congress,nonprofits,grants,foundations,resources,social services" />
    <meta name="description"
        content="Find free social and human services in your area with our comprehensive directory. Search by state and service type to access resources and support for individuals and families in need. Connect with local organizations and agencies to receive assistance and improve your well-being." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="xsbrt.com - the more you use it, the more it works" />
    <meta property="og:description"
        content="Find free social and human services in your area with our comprehensive directory. Search by state and service type to access resources and support for individuals and families in need. Connect with local organizations and agencies to receive assistance and improve your well-being." />
    <meta property="og:url" content="https://xsbrt.com" />
    <meta property="og:site_name" content="xsbrt" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="xsbrt" />
    <meta name="msapplication-TileImage" content="lightbulb.png" />
    <meta name="msapplication-TileColor" content="#121212" />
    <meta name="theme-color" content="#FFCD24" />
    <link rel="apple-touch-icon" href="lightbulb.png" />
    <link rel="icon" href="expert.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.5.8/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3/dist/fp.min.js"></script>
    <title>xsbrt.com - the more you use it, the more it works</title>
</head>

<body oncontextmenu="return false">

    <div id="app" class="wrapper">
        <v-app style="background-color:#121212;" fluid fullwidth fullheight>

            <!-- HEADER -->
            <header style="position:sticky;z-index:100;" class="pb-2" fluid fullwidth>
                <v-flex class="text-white h2" @click="oo=null;location.reload();" style="cursor:pointer;">
                    <span class="material-icons md-48 pr-1">tungsten</span>xsbrt.com
                </v-flex>
                <span class="sub-nav text-white">

                    <v-btn icon color="white" x-large class="text_shadow mr-3" title="Choose location" @click="locationExpand = !locationExpand;searchExpand = false;adminExpand=false;" v-ripple
                    class="text-center elevation-2 pa-12 text-h5">
                        <v-icon>my_location</v-icon>                        
                    </v-btn>

                    <v-btn v-if="results&&results.search_items" icon color="white" x-large class="text_shadow mr-3" title="Search resources" v-ripple
                    class="text-center elevation-2 pa-12 text-h5" @click="locationExpand = false;adminExpand=false;searchExpand = !searchExpand;">
                        <v-icon>search</v-icon>                        
                    </v-btn> 
                    
                    <v-btn v-if="yourClicks||notesMap" icon color="white" x-large class="text_shadow" title="Manage your data" v-ripple
                    class="text-center elevation-2 pa-12 text-h5" @click="locationExpand = false;searchExpand = false;adminExpand = !adminExpand;">
                        <v-icon>manage_accounts</v-icon>                        
                    </v-btn>  

                    <v-flex xs12 md4 class="text-left">
                    
                        <v-expand-transition>
                            <v-autocomplete v-if="locationExpand" v-model="s" eager class="mx-auto py-2 h6" item-color="black" clearable hide-no-data outlined background-color="white" 
                            class="text-center elevation-2 pa-12 text-h5" allow-overflow="false" label="zip, area code, state, city, empowerment zone" placeholder="zip, area code, state, city, empowerment zone"
                                hint="zip, area code, state, city, empowerment zone" clearable return-object rounded item-color="#E50914" :items="locations" item-text="st" return-object @change="changeLocation();locationExpand = !locationExpand;"></v-autocomplete>
                        </v-expand-transition>

                        <v-expand-transition>
                            <v-autocomplete v-if="searchExpand" v-model="oo" eager class="mx-auto h6" full-width clearable hide-no-data outlined background-color="white" v-ripple
                            class="text-center elevation-2 pa-12 text-h5" label="Search..." placeholder="Search..." hint="Search..." rounded 
                                item-color="#E50914" clearable :items="results.search_items" return-object item-value="id" item-text="t" @change="searchExpand = !searchExpand;previousImage = new Set();scrollTop();"></v-autocomplete>
                        </v-expand-transition> 

                        <v-expand-transition>
                            <v-flex v-if="adminExpand" class="text-left mt-2">
                                <v-btn text color="white" @click="clearData" v-ripple class="text-center ma-1"><v-icon class="pr-1" small>delete_forever</v-icon>clear data</v-btn>
                                <v-autocomplete v-model="interests" class="ma-1 pa-2" full-width item-color="#E50914" :items="cats" allow-overflow="false" item-text="text" label="Interests" placeholder="Interests" hint="Interests" rounded item-value="i" dense multiple chips deletable-chips small-chips eager clearable hide-no-data outlined background-color="white" @change="changeInterests"></v-autocomplete>
                            </v-flex>
                        </v-expand-transition>

                    </v-flex>

                    </nav>
            </header>
            <!-- END OF HEADER --> 

            <!-- MAIN CONTAINER -->
            <v-main class="main-container" fullwidth style="overflow-x: hidden !important;width: 100vw !important;">
                 <v-progress-linear v-show="progress&&progress<95" v-model="progress" color="#E50914" height="25" rounded class="mt-4 text-white">
                    <template v-slot:default="{ value }">
                        <strong>{{ Math.ceil(value) }}%</strong>
                    </template>
                </v-progress-linear> 

                <v-flex v-if="locations&&location_prompt" xs12 md12 style="display: flex; align-items: center; justify-content: center;">
                    <v-alert icon="place" icon-color="white" class="text-white border ma-4 pa-4 h6" dismissible prominent
                    type="error" rounded max-width="800" transition="fade-transition">
                        Please choose a location using the <v-btn icon fab @click="locationExpand=true;"><v-icon large color="white">my_location</v-icon></v-btn>prompt above.</>
                    </v-alert>
                </v-flex>               
                
                <v-flex v-if="!location_prompt&&welcome&&progress> 49" xs12 md12 style="display: flex; align-items: center; justify-content: center;">
                    <v-alert icon="sentiment_satisfied_alt" icon-color="white" class="text-white border ma-4 pa-4 h6" dismissible prominent
                    type="error" rounded max-width="800" transition="fade-transition">
                        <h4>Welcome!</h4>
                        <p class="text-left" style="font-size:1.08em;">Find free social and human services in your area with our comprehensive directory. Search by nearly any location and service type to access resources and support for individuals and families in need. Connect with local organizations and agencies to receive assistance and improve your well-being.</p>
                    </v-alert>
                </v-flex>               

                <v-expand-transition hide-on-leave="true">
                <v-flex v-if="oo.id" xs12 md12 class="pt-4 text-center justify-center" style="position: relative; width: 100vw; height: auto; background-color: rgba(18,18,18,1); z-index:90;">
                    <v-card class="text-center justify-center text-white" flat tile min-width="100%" style="background-color: rgba(18,18,18,1);">
                        <v-card-title class="text-uppercase text_shadow text-center justify-center h3 rounded-lg" :style="cardImage(oo.cm)">{{oo.t}}</v-card-title>
                        <v-card-subtitle class="text_shadow text-center justify-center text-white h4 mt-4"  style="cursor:pointer">
                            <v-flex v-show="oo.lt&&oo.a" class="mb-2" @click="openLocation(oo)">{{oo.a}}</v-flex>
                            <v-flex v-show="oo.lt&&oo.l" @click="openLocation(oo)">{{oo.l}}</v-flex>
                            <v-flex v-show="oo.p&&oo.p.length>5" @click="openPhone(oo)">{{ formatPhoneNumber(oo.p) }}</v-flex>
                        </v-card-subtitle>
                        <v-flex class="text-center justify-center h6 text-lowercase font-italic" style="color:#FF6147;" xs12 md12>
                            <span v-for="c in oo.cs" class="mx-1">
                                {{catsmap.get(c).text}}
                            </span>
                        </v-flex>
                        <v-card-actions class="justify-center mb-2"> 
                            <v-btn v-show="oo.u||!isNaN(oo.id)&&!oo.l&&oo.tx" class="mx-2" icon title="Open website">
                                <v-icon large color="#FF6147" @click="openURL">link</v-icon>
                            </v-btn> 
                            <v-btn icon class="mx-2" @click="shareObject(oo)">
                              <v-icon large color="#FF6147">share</v-icon>
                            </v-btn> 
                            <v-btn class="d-md-none mx-2" icon title="View/add notes">
                                <v-icon large color="#FF6147" @click="document.getElementById('cardNotes').scrollIntoView({behavior: 'smooth'});">speaker_notes</v-icon>
                            </v-btn> 
                            <v-btn icon class="mx-2" @click="oo={}" v-ripple
                            class="text-center elevation-2 pa-12 text-h5">
                                <v-icon large color="#FF6147">cancel</v-icon>
                            </v-btn>
                          </v-card-actions>                         

                            <v-row class="pl-2">                            
 
                              <v-col
                                cols="12"
                                sm="6"
                                md="8"
                                class="pr-4 mr-1"
                              >
                                <v-card
                                  class="pa-2"
                                  tile
                                  style="background-color: rgba(18,18,18,1);"
                                >

                                <v-flex v-show="oo.tx" class="text-white text-left pa-3 rounded-lg ma-1 border" style="font-size:1.2rem" v-html="oo.tx">
                                </v-flex>

                                <v-flex v-if="itemMatches" class="mt-4 mx-4 px-2">
                                    
                                    <v-flex class="location mb-3 pb-4 mt-4 pb-5 mx-2">
                                        <h5 class="text-capitalize pl-1 mt-4 pt-4 mb-2 text-left" style="color:#FF6147;">Related</h5>
                                        <v-sheet color="#141414" tile class="ml-n12 mr-n12 mb-2">
                                            <v-slide-group v-model="model" multiple color="#141414" show-arrows="desktop">
                                                <v-slide-item v-for="cd in itemMatches.related" :key="cd.id"  v-slot="{ active, toggle }"
                                                    class="mr-4 pr-4">
                                                    <v-card height="120" width="225"
                                                        class="mr-4 pr-4 pt-3 pb-1 text-white font-weight-bold justify-center text-center overflow-hidden rounded-lg"
                                                        flat tile link :style="cardImage(cd.cm)" link @click="addClick(cd);oo=cd;scrollTop();">
                                                        <v-card-title class="justify-center text-center text-uppercase text_shadow h6"
                                                            style="word-wrap: normal;">{{cd.t}}</v-card-title>
                                                    </v-card>
                                                </v-slide-item>
                                            </v-slide-group>
                                        </v-sheet>                
                                    </v-flex>

                                    <v-flex v-if="itemMatches.money&&itemMatches.money.length > 0" class="location mb-5 pb-4 mt-4 pb-5 mx-2">
                                        <h5 class="text-capitalize pl-1 mt-4 pt-4 mb-2 text-left" style="color:#FF6147;">Money</h5>
                                        <v-sheet color="#141414" tile class="ml-n12 mr-n12 mb-2">
                                            <v-slide-group v-model="model" multiple color="#141414" show-arrows="desktop">
                                                <v-slide-item v-for="cd in itemMatches.money" :key="cd.id"  v-slot="{ active, toggle }"
                                                    class="mr-4 pr-4">
                                                    <v-card height="120" width="225"
                                                        class="mr-4 pr-4 pt-3 pb-1 text-white font-weight-bold justify-center text-center overflow-hidden rounded-lg"
                                                        flat tile link :style="cardImage(cd.cm)" link @click="addClick(cd);oo=cd;scrollTop();">
                                                        <v-card-title class="justify-center text-center text-uppercase text_shadow h6"
                                                            style="word-wrap: normal;">{{cd.t}}</v-card-title>
                                                    </v-card>
                                                </v-slide-item>
                                            </v-slide-group>
                                        </v-sheet>                
                                    </v-flex>

                                </v-flex>

                                </v-card>
                            </v-col>

                            <v-col
                                cols="12"
                                sm="6"
                                md="3"
                                id="cardNotes"
                              >
                                <v-card                                 
                                  class="pa-2"
                                  tile
                                  style="background-color: rgba(18,18,18,1);"
                                >
                                <v-row justify="space-around">
                                    <v-card width="400" rounded class="mt-4 pb-2">
                                      <v-img 
                                        height="200px"
                                        rel="preload"
                                        loading="lazy"
                                        :src="randomCategoryImage(oo.cm)"
                                      >
                                        <v-app-bar
                                          flat
                                          color="rgba(0, 0, 0, 0)">
                                          <v-toolbar-title class="h3 text-white text_shadow font-weight-bold">
                                            Notes
                                          </v-toolbar-title>
                                        </v-app-bar>                               
                                        
                                      </v-img>

                                      <v-textarea v-model="note.text" auto-grow clearable spellcheck="true" hint="ALL notes ONLY saved to your device." label="ALL notes ONLY saved to your device." placeholder="ALL notes ONLY saved to your device." class="mt-4 ml-4 mr-4" outlined filled rounded full-width rows="4">
                                      </v-textarea>

                                      <v-btn color="#FF6147" class="text-white" @click="addNote">add note</v-btn>
                              
                                      <v-card-text v-if="itemNotes" class="text-left">                                                                                
                                        <v-timeline
                                          align-top
                                          dense
                                        >
                                          <v-timeline-item
                                            v-for="it in itemNotes"
                                            :key="it.id"
                                            color="#FF6147"
                                            small
                                          >
                                            <div>
                                              <div class="font-weight-normal small" style="color:#FF6147">
                                                <v-btn icon small title="Click to delete" @click="deleteNote(it)"><v-icon color="#FF6147" class="pr-2 pb-1">delete_forever</v-icon></v-btn>{{ new Date(it.mod).toLocaleDateString() }}
                                              </div>
                                              <div style="font-size: 1.25em">{{ it.text }}</div>
                                            </div>
                                          </v-timeline-item>
                                        </v-timeline>
                                      </v-card-text>
                                    </v-card>
                                  </v-row>
                                </v-card>
                              </v-col>
                            </v-row>
                          
                    </v-card>
                </v-flex>
                </v-expand-transition>

                <v-flex v-if="showResults" xs12 md12 class="mx-4" style="overflow-x: hidden !important;width: 100vw !important;"> 

                    <v-flex v-if="showYourRecommendations" v-memo="recommendations" class="location mx-2 mb-5 pb-4 mt-4 pb-5" xs12 md12>

                        <h3 class="text-capitalize pl-1 mt-4 pt-4 mb-2" style="color:#FF6147;">Recommendations</h3>
                        <v-sheet color="#141414" tile class="ml-n12 mr-n12 mb-2">
                            <v-slide-group v-model="model" multiple color="#141414" show-arrows="desktop">
                                <v-slide-item v-for="it in recommendations" :key="it.id" v-slot="{ active, toggle }"
                                    class="mx-2 px-4">
                                    <v-card height="180" width="285"
                                        class="mr-4 pr-4 pt-3 pb-1 text-white font-weight-bold justify-center text-center overflow-hidden rounded-lg"
                                        flat tile link :style="cardImage(it.cm)" link @click="addClick(it);oo=it;scrollTop();" v-ripple
                                        class="text-center elevation-2 pa-12 text-h5">
                                        <v-card-title class="justify-center text-center text-uppercase text_shadow"
                                            style="word-wrap: normal;">{{it.t}}</v-card-title>
                                        <v-card-subtitle v-show="it.l"
                                            class="text-white justify-center text-center text_shadow">{{it.l}}
                                        </v-card-subtitle>
                                        <v-icon v-if="notesMap&&notesMap.has(it.id)" color="white" title="Has notes" style="cursor:pointer;" class="mx-1">speaker_notes</v-icon>
                                    </v-card>
                                </v-slide-item>
                            </v-slide-group>
                        </v-sheet>

                    </v-flex>

                    <v-flex v-if="showYourViews" v-memo="yourClicks" class="location mx-2 mb-5 pb-4 mt-4 pb-5" xs12 md12>

                        <h3 class="text-capitalize pl-1 mt-4 pt-4 mb-2" style="color:#FF6147;">Your views</h3>
                        <v-sheet color="#141414" tile class="ml-n12 mr-n12 mb-2">
                            <v-slide-group v-model="model" multiple color="#141414" show-arrows="desktop">
                                <v-slide-item v-for="it in yourClicks.clicks" :key="it.id" v-slot="{ active, toggle }"
                                    class="mx-2 px-4">
                                    <v-card height="180" width="285"
                                        class="mr-4 pr-4 pt-3 pb-1 text-white font-weight-bold justify-center text-center overflow-hidden rounded-lg"
                                        flat tile link :style="cardImage(it.cm)" link @click="addClick(it);oo=it;scrollTop();" v-ripple
                                        class="text-center elevation-2 pa-12 text-h5">
                                        <v-card-title class="justify-center text-center text-uppercase text_shadow"
                                            style="word-wrap: normal;">{{it.t}}</v-card-title>
                                        <v-card-subtitle v-show="it.l"
                                            class="text-white justify-center text-center text_shadow">{{it.l}}
                                        </v-card-subtitle>
                                        <v-icon v-if="notesMap&&notesMap.has(it.id)" color="white" title="Has notes" style="cursor:pointer;" class="mx-1">speaker_notes</v-icon>
                                    </v-card>
                                </v-slide-item>
                            </v-slide-group>
                        </v-sheet>

                    </v-flex>

                    <v-lazy v-model="isActiveMoneyAll" :options="{ threshold: .5 }" min-height="10" transition="fade-transition" grow shrink>

                        <v-flex v-if="recommendationsMoney" v-memo="recommendationsMoney" class="location mx-2 mb-5 pb-4 mt-4 pb-5" xs12 md12>
                        
                                <h3 class="text-capitalize pl-1 mt-4 pt-4 mb-2" style="color:#FF6147;">Funding Recommendations</h3>
                                <v-sheet color="#141414" tile class="ml-n12 mr-n12 mb-2">
                                    <v-slide-group v-model="model" multiple color="#141414" show-arrows="desktop">
                                        <v-slide-item v-for="it in recommendationsMoney" :key="it.id" v-slot="{ active, toggle }"
                                            class="mx-2 px-4">
                                            <v-card height="180" width="285"
                                                class="mr-4 pr-4 pt-3 pb-1 text-white font-weight-bold justify-center text-center overflow-hidden rounded-lg"
                                                flat tile link :style="cardImage(it.cm)" link @click="addClick(it);oo=it;scrollTop();" v-ripple
                                                class="text-center elevation-2 pa-12 text-h5">
                                                <v-card-title class="justify-center text-center text-uppercase text_shadow"
                                                    style="word-wrap: normal;">{{it.t}}</v-card-title>
                                                <v-card-subtitle v-show="it.l"
                                                    class="text-white justify-center text-center text_shadow">{{it.l}}
                                                </v-card-subtitle>
                                                <v-icon v-if="notesMap&&notesMap.has(it.id)" color="white" title="Has notes" style="cursor:pointer;" class="mx-1">speaker_notes</v-icon>
                                            </v-card>
                                        </v-slide-item>
                                    </v-slide-group>
                                </v-sheet>

                        </v-flex>
                   
                        <v-flex v-if="allMoney" class="location mx-2 mb-5 pb-4 mt-4 pb-5" xs12 md12>                       

                            <h3 class="text-capitalize pl-1 mt-4 pt-4 mb-2" style="color:#FF6147;">All Nearby Funding</h3>
                            <v-sheet color="#141414" tile class="ml-n12 mr-n12 mb-2">
                                <v-slide-group v-model="model" multiple color="#141414" show-arrows="desktop">
                                    <v-slide-item v-for="it in allMoney" :key="it.id" v-slot="{ active, toggle }"
                                        class="mx-2 px-4">
                                        <v-card height="180" width="285"
                                            class="mr-4 pr-4 pt-3 pb-1 text-white font-weight-bold justify-center text-center overflow-hidden rounded-lg"
                                            flat tile link :style="cardImage(it.cm)" link @click="addClick(it);oo=it;scrollTop();" v-ripple
                                            class="text-center elevation-2 pa-12 text-h5">
                                            <v-card-title class="justify-center text-center text-uppercase text_shadow"
                                                style="word-wrap: normal;">{{it.t}}</v-card-title>
                                            <v-card-subtitle v-show="it.l"
                                                class="text-white justify-center text-center text_shadow">{{it.l}}
                                            </v-card-subtitle>
                                            <v-icon v-if="notesMap&&notesMap.has(it.id)" color="white" title="Has notes" style="cursor:pointer;" class="mx-1">speaker_notes</v-icon>
                                        </v-card>
                                    </v-slide-item>
                                </v-slide-group>
                            </v-sheet>                    

                        </v-flex>

                </v-lazy>

                    <v-flex v-memo="results.search_items" v-for="it in results.cards" :key="it.i" class="location mx-3 mb-5 pb-4 mt-4 pb-5" xs12 md12> 
                        <v-lazy :v-model="it.i" :options="{ threshold: .5 }" min-height="10" transition="fade-transition" grow shrink></v-lazy>
                            <h3 class="text-capitalize pl-1 mt-4 pt-4 mb-2" style="color:#FF6147;">{{it.text}}</h3>
                            <v-sheet color="#141414" tile class="ml-n12 mr-n12 mb-2">
                               
                                <v-slide-group v-model="model" multiple color="#141414" show-arrows="desktop">
                                    <v-slide-item v-for="cd in it.cards" :key="cd.id" v-slot="{ active, toggle }"
                                        class="mx-2 px-4">
                                        <v-card height="180" width="285"
                                            class="mr-4 pr-4 pt-3 pb-1 text-white font-weight-bold justify-center text-center overflow-hidden rounded-lg"
                                            flat tile link :style="cardImage(it.i)" link @click="addClick(cd);oo=cd;scrollTop();" v-ripple
                                            class="text-center elevation-2 pa-12 text-h5">
                                            <v-card-title class="justify-center text-center text-uppercase text_shadow"
                                                style="word-wrap: normal;">{{cd.t}}</v-card-title>
                                            <v-card-subtitle v-show="cd.l"
                                                class="text-white justify-center text-center text_shadow">{{cd.l}}
                                            </v-card-subtitle>
                                            <v-icon v-if="yourClicks&&yourClicks.clicksMap.has(it.id)" color="white" title="Viewed by you" style="cursor:pointer;" class="mx-1">preview</v-icon>
                                            <v-icon v-if="notesMap&&notesMap.has(it.id)" color="white" title="Has notes" style="cursor:pointer;" class="mx-1">speaker_notes</v-icon>
                                        </v-card>
                                    </v-slide-item>
                                </v-slide-group>
                            
                            </v-sheet>  
                        </v-lazy>
                    </v-flex>

                </v-flex>  
                
                
             
                <!-- END OF MAIN CONTAINER -->                

                <!-- LINKS -->
                <v-layout class="text-center justify-center ma-4 pb-4 h5" row wrap>
                    <v-flex xs12 md3><v-btn text @click="about = !about" class="text-secondary" v-ripple
                        class="text-center elevation-2 pa-12 text-h5">About</v-btn></v-flex>
                    <v-flex xs12 md3><v-btn text @click="privacy = !privacy" class="text-secondary" v-ripple
                        class="text-center elevation-2 pa-12 text-h5">Privacy</v-btn></v-flex>
                        <v-flex xs12 md3><v-btn text @click="window.open('https://xsbrt.com/locations.html','_blank')" class="text-secondary" v-ripple
                            class="text-center elevation-2 pa-12 text-h5">Locations</v-btn></v-flex>
                </v-layout>
                <!-- END OF LINKS -->

                <v-bottom-sheet v-model="about" scrollable>
                    <v-card class="text-center justify-center pa-2">
                        <v-card-text>
                            <h4 class="text-black"><v-icon large color="black" class="pr-1 pb-2">info</v-icon>About</h4>
                            <v-flex xs12 md12 class="text-center justify-center">
                                <v-btn
                                text
                                fab
                                color="red"
                                @click="about = !about"
                                >
                                    close
                                </v-btn>
                            </v-flex> 
                        </v-card-text>
                        <v-card-text class="text-left">
                            <p class="pa-1">xsbrt is a free, continuously updated resource which makes positive differences in lives.</p>
                            <p class="pa-1">The system automatically learns customers needs as they move around the resources, all while maintaining anonymity.</p>
                            <p class="pa-1">As new resources are located they are dropped into the system for all to use. The same goes for a seemingly unending list of new features which are constantly being tested and deployed when ready for public consumption. New forms of artificial intelligence are continuously tested on the data to make it more accurate. Performance-wise, the more people who are using the system, the faster it gets thanks to CDNs and caching.
                            </p>
                            <p class="pa-1">When possible, the direct organization is used for the source. Other main sources of information include: congress.gov, benefits.gov and the latest AWS 990 postings. While not always successful, most sources are updated at least once a month.
                            </p>
                            <p class="pa-2 text-center text-danger h5">
                                The more you use it, the more it works...for all.
                                <v-flex class="mt-1">
                                    <v-btn icon large fab><a href="mailto:xsbrtco@gmail.com" style="text-decoration:none;" class="text-secondary"><v-icon large>email</v-icon></a></v-btn>
                                </v-flex>
                            </p>
                        </v-card-text>
                    </v-card>
                  </v-bottom-sheet>

                  <v-bottom-sheet v-model="privacy" scrollable>
                    <v-card class="text-center justify-center pa-2">
                        <v-card-text class="mb-1">
                            <h4 class="text-black"><v-icon large color="black" class="pr-1 pb-2">admin_panel_settings</v-icon>Privacy</h4>  
                            <v-flex xs12 md12 class="text-center justify-center">
                                <v-btn
                                text
                                fab
                                color="red"
                                @click="privacy = !privacy"
                                >
                                    close
                                </v-btn>
                            </v-flex>
                      </v-card-text>
                      <v-card-text class="text-left small">

                        <div class="font-weight-bold">Your privacy is critically important.</div>
      
                            <p>It is xsbrt's policy to respect your privacy regarding any information we may collect while operating our website. This Privacy Policy applies to https://xsbrt.com (hereinafter, "us", "we", or "https://xsbrt.com"). We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy ("Privacy Policy") to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.</p>
                            <p>This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms and conditions.</p>
          
                            <div class="pt-5 font-weight-bold">Website Visitors</div>
                            <p>Like most website operators, Xsbrt collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Xsbrt's purpose in collecting non-personally identifying information is to better understand how Xsbrt's visitors use its website. From time to time, Xsbrt may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
                            <p>Xsbrt also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users. Xsbrt only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.</p>
          
                            <div class="pt-5 font-weight-bold">Gathering of Personally-Identifying Information</div>
                            <p>Certain visitors to Xsbrt's websites choose to interact with Xsbrt in ways that require Xsbrt to gather personally-identifying information. The amount and type of information that Xsbrt gathers depends on the nature of the interaction. For example, we ask visitors who sign up for a blog at https://xsbrt.com to provide a username and email address.</p>
          
                            <div class="pt-5 font-weight-bold">Security</div>
                            <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
          
                            <div class="pt-5 font-weight-bold">Advertisements</div>
                            <p>Ads appearing on our website may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by Xsbrt and does not cover the use of cookies by any advertisers.</p>
          
          
                            <div class="pt-5 font-weight-bold">Links To External Sites</div>
                            <p>Our Service may contain links to external sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy and terms and conditions of every site you visit.</p>
                            <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.</p>           
          
                            <div class="pt-5 font-weight-bold">Aggregated Statistics</div>
                            <p>Xsbrt may collect statistics about the behavior of visitors to its website. Xsbrt may display this information publicly or provide it to others. However, Xsbrt does not disclose your personally-identifying information.</p>
          
          
                            <div class="pt-5 font-weight-bold">Cookies</div>
                            <p>To enrich and perfect your online experience, Xsbrt uses "Cookies", similar technologies and services provided by others to display personalized content, appropriate advertising and store your preferences on your computer.</p>
                            <p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. Xsbrt uses cookies to help Xsbrt identify and track visitors, their usage of https://xsbrt.com, and their website access preferences. Xsbrt visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Xsbrt's websites, with the drawback that certain features of Xsbrt's websites may not function properly without the aid of cookies.</p>
                            <p>By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to Xsbrt's use of cookies.</p>
    
                            <div class="pt-5 font-weight-bold">Privacy Policy Changes</div>
                            <p>Although most changes are likely to be minor, Xsbrt may change its Privacy Policy from time to time, and in Xsbrt's sole discretion. Xsbrt encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>

                      </v-card-text>
                      </v-card>
                  </v-bottom-sheet>  
                
            </v-main>
        </v-app>
    </div>    

    <script src="https://cdn.jsdelivr.net/npm/localforage@1.10.0/dist/localforage.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.8/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script> 
   
    <script>        

        String.prototype.distanceJW=function(c){var a;a=this;var h,b,d,k,e,g,f,l,n,m,p;a.length>c.length&&(c=[c,a],a=c[0],c=c[1]);k=~~Math.max(0,c.length/2-1);e=[];g=[];b=n=0;for(p=a.length;n<p;b=++n)for(h=a[b],l=Math.max(0,b-k),f=Math.min(b+k+1,c.length),d=m=l;l<=f?m<f:m>f;d=l<=f?++m:--m)if(null==g[d]&&h===c[d]){e[b]=h;g[d]=c[d];break}e=e.join("");g=g.join("");if(d=e.length){b=f=k=0;for(l=e.length;f<l;b=++f)h=e[b],h!==g[b]&&k++;b=g=e=0;for(f=a.length;g<f;b=++g)if(h=a[b],h===c[b])e++;else break;a=(d/a.length+
        d/c.length+(d-~~(k/2))/d)/3;a+=0.1*Math.min(e,4)*(1-a)}else a=0;return a};

        new Vue({
            el: '#app',
            mode: 'production',
            vuetify: new Vuetify(),
            data() {
                return {
                    progress: 0,
                    master: [],
                    clicks: [],  
                    oo: {},
                    welcome: false,
                    location_prompt: false,
                    notes: [],
                    about: false,
                    privacy: false,
                    search: '',
                    model: [],
                    searchExpand: false,
                    locationExpand: false,
                    adminExpand: false,
                    s: {},
                    isActiveMoneyAll: false
                }
            },

            computed: {   

                yourInterests() {
                    if (this.interests&&this.interests.length > 0) {
                        return new Set(this.interests);
                    };
                    return new Set();
                },

                recommendationsMoney() {
                    if (this.showResults&&this.results.money&&this.yourClicks) {
                        let res = this.results.money;
                        for (let o, yourPattern = this.yourClicks.yourPattern, st = this.yourClicks.clicksMap, i = res.length; i--;) {
                            o = res[i];
                            if (st.has(o.id)) { continue };
                            o["wm"] = yourPattern.distanceJW(o.cs.join(''));
                        };
                        res = alasql("SELECT TOP 100 * FROM ? WHERE wm IS NOT NULL ORDER BY wm ASC",[res]); 
                        if (res&&res.length > 0) { return res };
                    };
                    return null;
                },

                allMoney() {
                    if (this.showResults&&this.results.money) {
                        let res = alasql("SELECT TOP 100 * FROM ? WHERE dist IS NOT NULL AND lt IS NOT NULL ORDER BY dist ASC",[this.results.money]);
                        if (res&&res.length > 3) { return res };
                    };
                    return null;
                },
                
                recommendations() {
                    if (this.showResults&&this.yourClicks) {
                        let res = alasql("COLUMN OF SELECT cards FROM ?",[this.showResults]).flat(1);
                        res = alasql("SELECT * FROM ? WHERE id IS NOT NULL AND lt IS NOT NULL GROUP BY id",[res]);
                        for (let o, st = this.yourClicks.clicksMap, yourPattern = this.yourClicks.yourPattern, i = res.length; i--;) {
                            o = res[i];
                            if (st.has(o.id)) { continue };
                            o["wm"] = yourPattern.distanceJW(o.cs.join(''));
                        };
                        res = alasql("SELECT TOP 100 * FROM ? WHERE wm IS NOT NULL ORDER BY wm ASC",[res]); 
                        if (res&&res.length > 0) { return res };
                    };
                    return null;
                },
                
                yourClicks() {
                    if (this.clicks&&this.clicks.length > 1) {
                        let res = alasql("SELECT * FROM ? WHERE id IS NOT NULL AND cs IS NOT NULL",[this.clicks]);
                        if (res&&res.length > 1) {
                            let oo = {};                            
                            oo["cs"] = this.getArrayCounts(alasql("COLUMN OF SELECT cs FROM ?",[res]).flat(1));
                            //oo["ds"] = this.itemMap(this.getArrayCounts(alasql("COLUMN OF SELECT ds FROM ?",[res]).flat(1)));
                            oo["yourPattern"] = oo.cs.join('');
                            oo["clicks"] = alasql("SELECT * FROM ? GROUP BY id",[res]);
                            oo["clicksMap"] = new Set(alasql("COLUMN OF SELECT id FROM ? ORDER BY id ASC",[oo.clicks]));
                            res = null;
                            return oo;    
                        };                                           
                    };
                    return null;
                },

                showResults() {
                    if (!this.oo||!this.oo.cm) {
                        if (this.results&&this.results.cards) { return this.results.cards };
                    };
                    return false;
                },

                showYourViews() {
                    if (this.yourClicks) { 
                        return this.yourClicks.clicks.length > 0;
                    };
                    return false;
                },
                
                showYourRecommendations() {
                    if (this.recommendations) {
                        return this.recommendations.length > 0;
                    };
                    return false;
                },

                itemMatches() {
                    if (this.oo&&this.oo.cm) { 
                        if (this.welcome) { this.welcome = false };
                        let txt = this.oo.cs.join('')+this.textDigitsOnlySpaces(this.oo.t);
                        let res = alasql("COLUMN OF SELECT TOP 1 cards FROM ? WHERE i = " + this.oo.cm,[this.results.cards])[0];
                        for (let o, i = res.length; i--;) {
                            o = res[i];
                            o["wm"] = txt.distanceJW(o.cs.join('')+this.textDigitsOnlySpaces(o.t));
                        }; 
                        let relatedList = alasql("SELECT * FROM ? WHERE id <> '" + this.oo.id + "' ORDER BY wm DESC, w ASC",[res]); 
                        res = alasql("SELECT * FROM ? WHERE cm = " + this.oo.cm,[this.results.money]);
                        for (let o, i = res.length; i--;) {
                            o = res[i];
                            o["wm"] = txt.distanceJW(o.cs.join('')+this.textDigitsOnlySpaces(o.t));
                        };                      
                        return {related: relatedList, money:  alasql("SELECT * FROM ? WHERE id <> '" + this.oo.id + "' ORDER BY wm DESC, w ASC",[res]) };
                    };
                    return null;
                },

                notesMap() {
                    let res = alasql("SELECT * FROM ? WHERE itemID IS NOT NULL ORDER BY DATE(mod) DESC", [this.notes]);
                    if (res && res.length > 0) { 
                        res = alasql("SELECT * FROM ? GROUP BY id",[res]);
                        //res = alasql("SELECT * FROM ? ORDER BY itemID ASC",[res]); 
                        return new Map(res.map(obj => [obj.itemID, alasql("SELECT * FROM ? WHERE itemID = " + obj.itemID + " OR itemID = '" + obj.itemID + "'",[res])]));               
                    };
                    return null;
                },

                itemNotes() {
                    if (this.oo&&this.notesMap) { return this.notesMap.get(this.oo.id) };
                    return null;
                },

                customer() {
                    let oo = {};
                    oo["cid"] = this.cid;
                    if (this.lat) {
                        oo["lat"] = this.lat;
                        oo["lng"] = this.lng;
                    };
                    oo["m"] = this.mobile;
                    oo["d"] = new Date();
                    oo["s"] = this.session;
                    if (!oo.ip && this.ip) { oo["ip"] = this.ip };
                    return oo;
                },

                online() { return navigator.onLine },

                results() {
        if (this.progress > 99 && this.master.length > 1000) {

            const filteredIds = new Set(alasql("COLUMN OF SELECT id FROM ? WHERE t LIKE '%CHARIT%' OR t LIKE '%FOUNDATION%' OR t LIKE '%TRUST%' OR t LIKE '%FUND%' OR t LIKE '%CORPORATE%' OR t LIKE '%SCHOLARSHIP%'", [this.master]).sort());
            const dtc = this.s && this.s.st && isNaN(this.s.st) ? 225 : 75;
            const money = [];

            let cards = this.catsmap;
            cards = Array.from(cards.values()); 
            
            for (let item of this.master) {
                if (!item.lt && item.st && !this.stt.has(item.st)) continue;
                if (item.lt && (new Set()).has(item.lt) || item.lg && (new Set()).has(item.lg)) continue;
                if (item.cs.includes(43) && !item.l.includes(' ' + Array.from(this.stt)[0] + ' ')) continue;

                const dt = !item.lt ? 70 : (() => {
                    let lg = item.lg;
                    if (lg > 0) lg = -Math.abs(lg);
                    const distance = this.distance(this.lat, this.lng, item.lt, lg, "K");
                    if (distance > dtc) {
                        (new Set()).add(item.lt);
                        (new Set()).add(lg);
                        return false;
                    }
                    return distance;
                })();

                if (dt === false) continue;

                item.m = 0;
                if (![43, 42].includes(item.cs) && filteredIds.has(item.id)) item.m = 1;

                for (const cs of item.cs) {
                    try {
                        if (!cs) { continue };
                        const card = cards.find(c => c.i === cs);
                        if (!card) continue;
                        if (!card.cards) card["cards"] = [];

                        item.cm = card.i;
                        item.dist = dt;
                        item.w = dt * item.cs.indexOf(card.i) + 1;

                        if (this.yourPattern) {
                            item.w = dt * this.compareCategories(item.cs.indexOf(card.i), this.yourPattern.indexOf(card.i));
                        }

                        if (item.lt) item.w = Math.floor(item.w / 18.55);
                        if (this.yourInterests.has(card.i)) item.w = Math.floor(item.w / 3.9);
                        if (item.m === 1 || item.cs.includes(100)) money.push(item);
                        card.cards.push(item);  
                    } catch (error) {
                        continue;
                    };                    
                }
            }
            cards = cards.map(({i, text, cards: cardCards}) => ({i, text, cards: cardCards ? alasql("SELECT TOP 75 * FROM ? WHERE m = 0 AND w IS NOT NULL GROUP BY t ORDER BY w ASC, dist ASC, lt DESC", [cardCards]) : null}));
            
            cards.forEach(card => {
                if (card.cards && card.cards.length > 1) {
                    card.median = card.cards[Math.floor(card.cards.length / 2)].w;
                    if (this.c && this.c === card.i) card.median /= this.c;
                }
            });
            //console.log(cards);

const main = {
    cards: alasql("SELECT * FROM ? WHERE cards IS NOT NULL ORDER BY median ASC", [cards]),
    search_items: alasql("SELECT * FROM ? GROUP BY id", [alasql("COLUMN OF SELECT cards FROM ?", [cards]).flat(2)]),
    money: alasql("SELECT * FROM ? GROUP BY cm, id ORDER BY cm ASC, id ASC", [money]),
};
//console.log(main);
return main;
        }
}                            

            },

            methods: {

                compareCategories(x,y) {
                    if (x>-1&&y>-1) { 
                        if (x===y) { return 0.1 };
                        if (x < 1) { x = 1 };
                        if (y < 1) { y = 1 };
                        if (x>y) { return x - y};
                        return y - x;
                    };                    
                    return 5;
                },
                
                scrollTop() { window.scrollTo({top: 0, behavior: 'smooth'}) },

                formatPhoneNumber(a) { if (!a||a.length < 7) { return }; let b = new RegExp(/^((\+1)|1)? ?\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})( ?(ext\.? ?|x)(\d*))?$/); a = a.trim(); let c = b.exec(a); return null !== c && 8 < c.length ? "(" + c[3] + ") " + c[4] + "-" + c[5] + ("undefined" == typeof c[8] ? "" : " x" + c[8]) : a },

                clearData() { 
                    this.adminExpand = false;
                    this.notes = [];
                    this.clicks = []; 
                    this.interests = [];                
                    alasql('DELETE FROM notes'); 
                },

                textDigitsOnlySpaces(e){return e.replace(/[^A-z0-9\s]/g,"").replace(/\s\s+/g," ")},

                deleteNote(it) {
                    this.notes = alasql("SELECT * FROM ? WHERE id <> '" + it.id + "'", [this.notes]);
                    alasql("DELETE FROM notes WHERE id = '" + it.id + "'", [this.notes]); 
                },                         

                itemMap(al) {
                    if (al && al.length > 0) {
                        let mp = new Map();
                        for (let o, i = al.length; i--;) {
                            o = al[i];
                            if (!isNaN(o) && !mp.has(o)) {
                                mp.set(o, ~~al.indexOf(o));
                            };
                        };
                        al = null;
                        return mp;
                    };
                },

                getArrayCounts(res) {
                    if (!res || res.length < 1) { return };
                    for (let i = res.length; i--;) {
                        res.push({ k: res[i] });
                    };
                    res = alasql("SELECT TOP 5 k, COUNT(k) AS c FROM ? WHERE k IS NOT NULL AND k > 0 GROUP BY k ORDER BY c DESC", [res]);
                    return alasql("COLUMN OF SELECT k FROM ?", [res]);
                },

                getmobile() { return !!(navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i)) },

                async openURL() { 
                    let u = 'https://www.benefits.gov/benefit/'+this.oo.id;
                    if (this.oo.u) { 
                        u = this.oo.u; 
                        if (!u.includes('http')) { u = 'http://' + u };
                    };                    
                    window.open(u,'_target'); 
                    await this.addClick(this.oo);            
                },

                async openLocation(oo) {
                    window.open('https://google.com/maps/search/?q='+oo.lt+','+oo.lg,'_blank');
                    await this.addClick(oo);
                },

                async openPhone(oo) {
                    window.open('tel:'+oo.p,'_blank');
                    await this.addClick(oo);
                },

                async vibrate() {
                    return;
                    if (this.mobile&&"vibrate" in navigator) {
                        navigator.vibrate(200);
                    };
                },

                async getBen(lt, lg) {
                    this.scrollTop();

                    if (!lt || !lg) {
                        this.location_prompt = true;
                        this.locationExpand = true;
                    }

                    this.progress = 0;
                    this.lat = lt;
                    this.lng = lg;
                    this.stt = new Set();
                    lt = parseInt(lt);

                    await this.getYourPatternStatic();

                    const ct = new Map([
                        [lt, this.getgNEW(lt)],
                        [lt + 1, this.getgNEW(lt + 1)],
                        [lt - 1, this.getgNEW(lt - 1)],
                    ]);

                    let data = await Promise.allSettled([...ct.values()]);
                    data = data.flatMap(result => (result.status === "fulfilled" ? result.value : []));
                    ct.clear();

                    data = alasql("SELECT * FROM ? WHERE t IS NOT NULL", [data]);

                    const stt = this.states;
                    stt.forEach(o => {
                        o["d"] = this.distance(this.lat, this.lng, o.l, o.lg);
                    });

                    this.stt = new Set(alasql("COLUMN OF SELECT TOP 2 k FROM ? WHERE d IS NOT NULL ORDER BY d ASC", [stt]));

                    this.master = [...data, ...this.bg];
                    this.progress = 100;
                    data = null;
                    },

                async shareObject(o) {
                    navigator.share({
                        title: 'xsbrt.com: ' + o.t,
                        url: 'https://xsbrt.com/?fp=' + parseInt(this.lat) + '&rid=' + o.id
                    });
                    o["sh"] = 1;
                    await this.addClick(o);
                    o = null;
                },

                changeLocation() {
                    this.location_prompt = false;
                    this.oo = {};
                    if (!this.s || !this.s.lt) { return };
                    this.master = [];
                    this.getBen(this.s.lt, this.s.lg);
                    this.welcome = false;
                },

                async getAx(a) { if (!this.online) { return }; return (await this.axiosClient.get(a)).data },

                async getg(f) { if (!this.online) { return }; return (await this.axiosClient.get(f + '.json')).data; },

                compareDates(date1, date2) {
                    if (new Date(date1).getTime() > new Date(date2).getTime()) { return true };
                    return false;
                },

                subtractDays(days) {
                    let d = new Date();
                    return d.setDate(d.getDate() - days);
                },

                async addNote() { 
                    if (!this.note.text||this.note.text.length < 1) { return };                   
                    this.note["id"] = this.randomString();
                    this.note["mod"] = new Date();
                    this.note["item"] = this.oo;
                    this.note["itemID"] = this.oo.id;
                    this.notes.unshift(this.note);
                    alasql('INSERT INTO notes VALUES ?', [this.note]); 
                    this.note = {};
                    await this.addClick(this.oo);
                },

                async changeInterests() {  
                    let oo = {};                                    
                    oo["interests"] = this.interests;
                    oo["mod"] = new Date();
                    alasql('INSERT INTO notes VALUES ?', [oo]); 
                    oo = null;
                },

                 async getgNEW(id) {
                    id = id.toString();                                        
                    let data = await localforage.getItem(id);
                    if (this.progress < 95) { this.progress = this.progress + 25 } else { this.progress = 100 }; 
                    if (data && data.length > 1000) {
                        if (data[0].entry_date && this.compareDates(new Date(data[0].entry_date), this.sd)) { return data };
                    };
                    data = await this.getg(id);
                    if (!data) { return [] };
                    if (!["zips1","bg"].includes(id)) { 
                        data = alasql("SELECT *, i AS id, UPPER(n) AS t FROM ?",[data]); 
                        data = alasql("SELECT * FROM ? WHERE t NOT LIKE '%Livestock%' AND t NOT LIKE '%CONFERENCE%' AND t NOT LIKE 'PTA%' AND t NOT LIKE '%ASSN%' AND t NOT LIKE '%LOCAL%' AND t NOT LIKE '%ASSOC%' AND t NOT LIKE '%NATL ASSN%' AND t NOT LIKE '%NATIONAL%' AND t NOT LIKE '%ASSOCIATION%' AND t NOT LIKE '%CEMETERY%' AND t NOT LIKE '%COUNCIL%' AND t NOT LIKE '%ADOPTION%' AND t NOT LIKE '%POLICY%' AND t NOT LIKE '%CONSTRUCTION%' AND t NOT LIKE '%BOARD%' AND t NOT LIKE '%COMMITTEE%' AND t NOT LIKE '%COALITION%' AND t NOT LIKE '%CONSORTIUM%' AND t NOT LIKE '%MUSEUM%' AND t NOT LIKE '%FRIENDS OF%' AND t NOT LIKE '%CITIZEN%' AND t NOT LIKE '%INSTITUTE%' AND t NOT LIKE '%SOCIETY%' AND t NOT LIKE '%FEDERATION%' AND t NOT LIKE '%AWARD%' AND t NOT LIKE '%ADOPTION%' AND t NOT LIKE '%CONSERV%' AND t NOT LIKE '%MEXIKIDS%' AND t NOT LIKE '%DOCTORAL%' AND t NOT LIKE '%CALFRESH%'", [data]);                                          
                        data.unshift({ entry_date: new Date() });  
                    };                      
                    localforage.setItem(id, data);
                    return data;
                },

                randomString() { return Math.random().toString(36).substring(2, 6) + Math.random().toString(36).substring(2, 6) },

                distance(a, t, h, M, s) { let c = Math.PI * a / 180, n = Math.PI * h / 180, o = t - M, i = Math.PI * o / 180, I = Math.sin(c) * Math.sin(n) + Math.cos(c) * Math.cos(n) * Math.cos(i); return 1 < I && (I = 1), I = 60 * (I = 180 * (I = Math.acos(I)) / Math.PI) * 1.1515, "K" == s && (I *= 1.609344), "N" == s && (I *= .8684), I },

                async addClick(oo) {
                    if (!oo) { return };
                    this.scrollTop();
                    oo = { ...oo, ...this.customer };
                    oo["mod"] = new Date();
                    this.clicks.unshift(oo);
                    alasql('INSERT INTO notes VALUES ?', [oo]); 
                    if (oo.id&&oo.lt&&oo.cs) {
                        try {
                            oo = await this.supabaseM.from('clicks').insert({id: oo.id, cs: oo.cs[0], lt: oo.lt, lg: oo.lg });
                        } catch (error) {
                         return;
                        };                         
                    };
                },

                isEmpty(a) { return 0 === Object.keys(a).length },

                detectForeignBrowser(){return"en-US"!==navigator.language},

                async getLocation() {
                    this.scrollTop();
                    let fp = new URL(document.location).searchParams.get("fp");                
                    if (fp) {
                        if (fp.includes('-')) { 
                            fp = fp.split('-');
                            await this.getBen(fp[0], -Math.abs(fp[1]));
                            return;
                        };
                        let rid = new URL(document.location).searchParams.get("rid");                   
                        if (rid) {
                            let tmp = await this.getgNEW(fp); 
                            if (tmp&&tmp.length > 0) {
                                tmp = alasql("SELECT TOP 1 * FROM ? WHERE id = '" + rid + "' OR id = " + rid, [tmp]);
                                if (tmp && tmp.length > 0) {
                                    tmp = tmp[0];
                                    tmp["cm"] = tmp.cs[0];
                                    this.oo = JSON.parse(JSON.stringify(tmp));
                                    console.log(this.oo);
                                    if (this.oo.lt) {
                                        this.getBen(this.oo.lt, this.oo.lg);
                                        return;
                                    };
                                };                          
                            };
                        };                 
                    };
                    let res = null;                                     
                    try {
                        res = await new Promise((resolve, reject) => {
                        if (navigator.geolocation) {
                                navigator.geolocation.getCurrentPosition(resolve, reject);
                            };
                        });
                        if (res && res.coords) {
                            await this.getBen(res.coords.latitude, res.coords.longitude);
                            return;
                        };                        
                    } catch (error) {
                        console.log();
                    };
                     if (this.clicks&&this.clicks.length > 0) {
                        res = alasql("SELECT TOP 1 lat, lng FROM ? WHERE lat IS NOT NULL AND lng IS NOT NULL ORDER BY DATE(mod) DESC", [this.clicks]);
                        if (res && res.length > 0) {
                            res = res[0];
                            await this.getBen(res.lat, res.lng);
                            return;
                        };
                    }; 
                   try {
                        res = await axios.get('https://get.geojs.io/v1/ip/geo.json');
                        if (res&&res.latitude) {
                            await this.getBen(res.latitude, res.longitude);
                            return;
                        };                       
                    }
                    catch(err) {
                        console.log();
                    };
                    this.location_prompt = true; 
                    this.locationExpand = true;
                    this.welcome = true;
                },

                randomCategoryImage(cat) {
                    const x = Math.max(1, Math.floor(Math.random() * 9));
                    return cat + '_' + x + '.webp';
                },

                cardImage(cat) {
                    cat = this.randomCategoryImage(cat);                    
                    return "background-image: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ),url('" + cat + "');background-size: cover;background-position: center;background-color: rgba(18,18,18,1);";
                },

                async getYourPatternStatic() {
                    if (this.clicks&&this.clicks.length > 1) {
                        let res = alasql("COLUMN OF SELECT cs FROM ? WHERE cs IS NOT NULL",[this.clicks]);
                        if (res&&res.length > 1) {                  
                            this.yourPattern = this.getArrayCounts(res.flat(1));
                            res = null;
                        };                                           
                    };
                },

                levenshtein(c,a){if(al=c.length,bl=a.length,0==al)return bl;if(0==bl)return al;var b,d,e=[];for(b=0;b<=bl;b++)e[b]=[b];for(d=0;d<=al;d++)e[0][d]=d;for(b=1;b<=bl;b++)for(d=1;d<=al;d++)e[b][d]=a.charAt(b-1)==c.charAt(d-1)?e[b-1][d-1]:Math.min(e[b-1][d-1]+1,Math.min(e[b][d-1]+1,e[b-1][d]+1));return e[bl][al]}

            },

            created() { 
                this.cid = null;
                this.yourPattern = null;
                this.stt = new Set();
                this.lat = null;
                this.lng = null;
                this.ip = null;
                this.interests = [];
                this.note = {};                
                this.axiosClient = axios.create();
                this.axiosClient.defaults.headers = {
                    'Content-Type': 'application/json',
                    Accept: 'application/json'
                };
                this.axiosClient.defaults.timeout = 9500;
                this.axiosClient.defaults.baseURL = 'https://xsbrt.com/';
                alasql([
                    'CREATE localStorage DATABASE IF NOT EXISTS xsbrt',
                    'ATTACH localStorage DATABASE xsbrt',
                    'USE xsbrt',
                    'CREATE TABLE IF NOT EXISTS notes',                  
                    'SET AUTOCOMMIT ON'
                ]); 
                this.notesTable = null;
                this.bg = [];
                this.cats = [{ text: "worship", icon: "church", i: 43, wd: new Set([]) },{ text: "food", icon: "local_dining", i: 9, wd: new Set(["food stamps", "summer meal", "food", "hunger", "hungry", "meal", "groceries", "grocery", "dinner", "eat", "fruit", "vegetable", "meat", "milk", "breakfast", "lunch", "dinner"]) }, { text: "housing", icon: "hotel", i: 1, wd: new Set(["housing", "home", "house", "apartment", "homeownership", "homeowner", "shelter", "mission"]) }, { text: "health", icon: "local_hospital", i: 10, wd: new Set(["health", "healthcare", "medicine", "medical", "hospital", "clinic", "medicare", "medicaid"]) }, { text: "addiction", icon: "health_and_safety", i: 51, wd: new Set(["addiction", "addict", "drugs", "alcohol", "alcoholism", "drug addiction", "disease", "mental health", "well being"]) }, { text: "childcare", icon: "child_friendly", i: 3, wd: new Set(["child", "children", "childcare", "head start", "preschool", "toddler", "infant", "baby", "daycare", "day care"]) }, { text: "employment / training", icon: "build", i: 6, wd: new Set(["employment", "job", "jobs", "job", "employ", "training", "train", "work"]) }, { text: "education", icon: "school", i: 5, wd: new Set(["pre k", "preschool", "school", "education", "college", "community college", "unversity", "scholarship", "scholarships", "high school", "schools", "middle school", "junior high", "elementary", "primary school", "secondary school", "graduate", "graduate school"]) }, { text: "disabled", icon: "accessible_forward", i: 14, wd: new Set(["disabled", "disability", "handicap", "handicapped", "wheelchair", "disable"]) }, { text: "legal aid", icon: "gavel", i: 11, wd: new Set(["legal aid", "lawsuit", "legal", "law", "lawyer", "police", "court", "courts"]) }, { text: "immigration", icon: "language", i: 53, wd: new Set(["immigration", "immigrant", "foreign", "immigrate", "foreigner"]) }, { text: "youth/sports", icon: "fitness_center", i: 7, wd: new Set(["fitness", "youth", "kids", "sports", "sport", "recreation", "rec center", "soccer", "running", "tennis", "basketball", "football", "lacrosse", "track", "track and field", "cross country", "volleyball", "martial arts"]) }, { text: "seniors", icon: "cake", i: 15, wd: new Set(["senior", "seniors", "elderly", "aged", "old"]) }, { text: "veterans", icon: "flag", i: 16, wd: new Set(["veteran", "veterans", "military", "army", "navy", "VFW", "air force", "marines", "coast guard", "national guard"]) }, { text: "goods/services", icon: "widgets", i: 42, wd: new Set(["goodwill", "salvation army", "clothes", "clothing", "furniture", "goods", "services"]) }, { text: "financial", icon: "attach_money", i: 12, wd: new Set(["money", "finance", "financial", "aid"]) }];
                this.cats = alasql("SELECT * FROM ? ORDER BY i ASC",[this.cats]);
                this.catsmap = new Map(this.cats.map(obj => [~~obj.i, obj]));
                this.states = [{ "k": "HI", "l": 21.38667, "lg": -157.85833 }, { "k": "FL", "l": 26.35869, "lg": -80.407 }, { "k": "LA", "l": 30.21309, "lg": -91.15455 }, { "k": "TX", "l": 31.84235, "lg": -96.80028 }, { "k": "MS", "l": 32.35265, "lg": -90.01259 }, { "k": "AL", "l": 33.40178, "lg": -86.75221 }, { "k": "AZ", "l": 33.4356, "lg": -111.90931 }, { "k": "GA", "l": 33.749, "lg": -84.36909 }, { "k": "SC", "l": 33.81601, "lg": -80.17565 }, { "k": "CA", "l": 34.1064, "lg": -118.29257 }, { "k": "NM", "l": 35.01005, "lg": -105.96027 }, { "k": "AR", "l": 35.0887, "lg": -92.4421 }, { "k": "OK", "l": 35.65283, "lg": -97.14363 }, { "k": "NC", "l": 35.67097, "lg": -79.4378 }, { "k": "TN", "l": 36.01036, "lg": -86.44666 }, { "k": "NV", "l": 36.19886, "lg": -115.11889 }, { "k": "KY", "l": 37.77422, "lg": -85.94913 }, { "k": "MO", "l": 38.77144, "lg": -90.62651 }, { "k": "VA", "l": 38.77261, "lg": -77.30082 }, { "k": "DC", "l": 38.89511, "lg": -77.03637 }, { "k": "KS", "l": 38.96667, "lg": -95.23525 }, { "k": "MD", "l": 39.17316, "lg": -76.73192 }, { "k": "WV", "l": 39.62953, "lg": -80.72091 }, { "k": "DE", "l": 39.74595, "lg": -75.52437 }, { "k": "CO", "l": 39.7661, "lg": -104.98776 }, { "k": "IN", "l": 40.19338, "lg": -86.15804 }, { "k": "PA", "l": 40.3634, "lg": -76.30551 }, { "k": "UT", "l": 40.65995, "lg": -111.89994 }, { "k": "NJ", "l": 40.74399, "lg": -74.2107 }, { "k": "NY", "l": 40.81538, "lg": -73.83652 }, { "k": "OH", "l": 41.01283, "lg": -82.01319 }, { "k": "NE", "l": 41.13667, "lg": -97.36838 }, { "k": "CT", "l": 41.56232, "lg": -72.77954 }, { "k": "RI", "l": 41.81371, "lg": -71.41283 }, { "k": "IA", "l": 41.84447, "lg": -92.4113 }, { "k": "IL", "l": 41.9317, "lg": -88.06701 }, { "k": "MA", "l": 42.39593, "lg": -71.137 }, { "k": "MI", "l": 42.48948, "lg": -83.35271 }, { "k": "WY", "l": 42.86663, "lg": -105.50222 }, { "k": "NH", "l": 43.07176, "lg": -71.32729 }, { "k": "WI", "l": 43.1789, "lg": -88.13898 }, { "k": "ID", "l": 43.6135, "lg": -116.39151 }, { "k": "ME", "l": 44.09785, "lg": -70.21478 }, { "k": "SD", "l": 44.36832, "lg": -98.48648 }, { "k": "VT", "l": 44.46699, "lg": -72.57539 }, { "k": "MN", "l": 44.9483, "lg": -93.26883 }, { "k": "OR", "l": 45.35734, "lg": -122.86705 }, { "k": "MT", "l": 46.59271, "lg": -111.30081 }, { "k": "WA", "l": 47.51732, "lg": -122.23167 }, { "k": "ND", "l": 47.92526, "lg": -97.03285 }, { "k": "AK", "l": 61.21806, "lg": -135.33088 }]
                this.session = this.randomString();
                this.omain = { t: 'Find free social and human services in your area with our comprehensive directory. Search by state and service type to access resources and support for individuals and families in need. Connect with local organizations and agencies to receive assistance and improve your well-being.', id: '' };
                this.locations = [];              
                //this.$vuetify.theme.dark = false;                              
                this.mobile = this.getmobile;
                this.sd = this.subtractDays(32);
                this.supabaseM = supabase.createClient('https://ujxizbxulhutdibojwdy.supabase.co', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVqeGl6Ynh1bGh1dGRpYm9qd2R5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY2MjkzNTI1OSwiZXhwIjoxOTc4NTExMjU5fQ.1mmdQP0XZQOMWKJw8J4MLaA1wWRBUvY_xUH9F8rwBAY');                             
                this.locationChartDiv = null;
                this.clicksChartDiv = null;
                this.c = null;
            },

            async mounted() {                
                this.locations = await this.getgNEW('zips1');
                let res = await localStorage.getItem('fp');
                if (!res) {
                    this.welcome = true;
                    res = await FingerprintJS.load();
                    res = await res.get();
                    res = res.visitorId;
                    localStorage.setItem("fp", res);
                };
                this.cid = res;

                const notes = alasql("SELECT * FROM notes");
                if (notes.length > 0) {
                    this.notes = notes;
                    this.clicks = notes;

                    let interests = alasql("COLUMN OF SELECT TOP 20 cs FROM ? WHERE cs IS NOT NULL ORDER BY DATE(mod) DESC",[notes]).flat(2);
                    if (interests.length > 0) {
                        interests = new Set(interests);
                        let res2 = [];
                        for (let oo, i = this.cats.length; i--;) {
                            oo = this.cats[i];
                            if (interests.has(oo.i)) {
                                res2.push(oo);
                            };
                        };
                        interests = null;
                        if (res2&&res.length>0) {
                            this.interests = res2;
                            res2 = null;
                        };                       
                    };
                }; 
               
                this.bg = await this.getgNEW('bg');
                this.bg = alasql("SELECT *, i AS id, n AS t FROM ?", [this.bg]);
                this.bg = alasql("SELECT *, UPPER(t) AS t FROM ? WHERE t IS NOT NULL AND t <> ''",[this.bg]);
                this.bg = alasql("SELECT * FROM ? WHERE cs IS NOT NULL GROUP BY t",[this.bg]);
                this.bg = alasql("SELECT * FROM ? WHERE t NOT LIKE '%Livestock%' AND t NOT LIKE 'PTA%' AND t NOT LIKE '%ASSN%' AND t NOT LIKE '%NATL ASSN%' AND t NOT LIKE '%NATIONAL%' AND t NOT LIKE '%ASSOCIATION%' AND t NOT LIKE '%CEMETERY%' AND t NOT LIKE '%COUNCIL%' AND t NOT LIKE '%ADOPTION%' AND t NOT LIKE '%POLICY%' AND t NOT LIKE '%CONSTRUCTION%' AND t NOT LIKE '%BOARD%' AND t NOT LIKE '%COMMITTEE%' AND t NOT LIKE '%COALITION%' AND t NOT LIKE '%CONSORTIUM%' AND t NOT LIKE '%MUSEUM%' AND t NOT LIKE '%FRIENDS OF%' AND t NOT LIKE '%CITIZEN%' AND t NOT LIKE '%INSTITUTE%' AND t NOT LIKE '%SOCIETY%' AND t NOT LIKE '%FEDERATION%' AND t NOT LIKE '%AWARD%' AND t NOT LIKE '%ADOPTION%' AND t NOT LIKE '%CONSERV%' AND t NOT LIKE '%MEXIKIDS%' AND t NOT LIKE '%DOCTORAL%' AND t NOT LIKE '%CALFRESH%'", [this.bg]);       

                this.c = new URL(document.location).searchParams.get("c");
                if (this.c&&!isNaN(this.c)) {
                    this.c = ~~ this.c;
                    this.interests.unshift(this.c);
                    this.changeInterests();
                };

                await this.getLocation();
                this.locationChartDiv = document.getElementById('locationChart');
                this.clicksChartDiv = document.getElementById('myChart');
            }

        }); 

    </script>
    <style>
        /* CSS VARIABLES */
        :root {
            --primary: #141414;
            --light: #F3F3F3;
            --dark: #686868;
        }

        .text_shadow {
            text-shadow: 2px 2px 1px rgba(102, 107, 110, 0.93);
        }

        .text_shadow2 {
            text-shadow: 0.5px 0.5px 0.2px rgba(249, 251, 252, 0.93);
        }
        html,
        body {
            width: 100vw;
            min-height: 100vh;
            margin: 0;
            padding: 1px;
            background-color: var(--primary);
            color: var(--light);
            font-family: Arial, Helvetica, sans-serif;
            box-sizing: border-box;
            line-height: 1.4;
        }

        img {
            max-width: 100%;
        }

        h1 {
            padding-top: 60px;
            padding-left: 7px;
        }

        .wrapper {
            margin: 0;
            padding: 0;
        }

        /* HEADER */
        header {
            padding: 20px 20px 0 20px;
            position: fixed;
            top: 0;
            display: grid;
            grid-gap: 5px;
            grid-template-columns: 1fr 4fr 1fr;
            grid-template-areas:
                "nt mn mn sb . . . ";
            background-color: var(--primary);
            width: 100%;
            margin-bottom: 0px;
        }

        .netflixLogo {
            grid-area: nt;
            object-fit: cover;
            width: 100px;
            max-height: 100%;
            padding-left: 30px;
            padding-top: 0px;
        }

        .netflixLogo img {
            height: 35px;
        }

        #logo {
            color: #E50914;
            margin: 0;
            padding: 0;
        }


        .main-nav {
            grid-area: mn;
            padding: 0 30px 0 20px;
        }

        .main-nav a {
            color: var(--light);
            text-decoration: none;
            margin: 5px;
        }

        .main-nav a:hover {
            color: var(--dark);
        }

        .sub-nav {
            padding: 0 40px 0 40px;
        }

        .sub-nav a {
            color: var(--light);
            text-decoration: none;
            margin: 5px;
        }

        .sub-nav a:hover {
            color: var(--dark);
        }


        /* MAIN CONTIANER */
        .main-container {
            padding: 50px;
        }

        .box {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(6, minmax(100px, 1fr));
        }

        .box a {
            transition: transform .3s;
        }

        .box a:hover {
            transition: transform .3s;
            -ms-transform: scale(1.4);
            -webkit-transform: scale(1.4);
            transform: scale(1.4);
        }

        .box img {
            border-radius: 2px;
        }

        /* LINKS */
        .link {
            padding: 50px;
        }

        .sub-links ul {
            list-style: none;
            padding: 0;
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(4, 1fr);
        }

        .sub-links a {
            color: var(--dark);
            text-decoration: none;
        }

        .sub-links a:hover {
            color: var(--dark);
            text-decoration: underline;
        }

        .logos a {
            padding: 10px;
        }

        .logo {
            color: var(--dark);
        }


        /* FOOTER */
        footer {
            padding: 20px;
            text-align: center;
            color: var(--dark);
            margin: 10px;
        }

        /* MEDIA QUERIES */

        @media(max-width: 900px) {

            header {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas:
                    "nt nt nt  .  .  . sb . . . "
                    "mn mn mn mn mn mn  mn mn mn mn";
            }

            .box {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(4, minmax(100px, 1fr));
            }

        }

        @media(max-width: 700px) {

            header {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas:
                    "nt nt nt  .  .  . sb . . . "
                    "mn mn mn mn mn mn  mn mn mn mn";
            }

            .box {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(3, minmax(100px, 1fr));
            }

            .sub-links ul {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(3, 1fr);
            }

        }

        @media(max-width: 500px) {

            .wrapper {
                font-size: 15px;
            }

            header {
                margin: 0;
                padding: 20px 0 0 0;
                position: static;
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(1, 1fr);
                grid-template-areas:
                    "nt"
                    "mn"
                    "sb";
                text-align: center;
            }

            .netflixLogo {
                max-width: 100%;
                margin: auto;
                padding-right: 20px;
            }

            .main-nav {
                display: grid;
                grid-gap: 0px;
                grid-template-columns: repeat(1, 1fr);
                text-align: center;
            }

            h1 {
                text-align: center;
                font-size: 18px;
            }

            .box {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(1, 1fr);
                text-align: center;
            }

            .box a:hover {
                transition: transform .3s;
                -ms-transform: scale(1);
                -webkit-transform: scale(1);
                transform: scale(1.2);
            }

            .logos {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
            }

            .sub-links ul {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(1, 1fr);
                text-align: center;
                font-size: 15px;
            }
    </style>
</body>

</html>
