<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>    
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5XMC06LNLV"></script>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="food,housing,health,addiction,childcare,employment,jobs,training,job training,education,disabled,legal aid,youth,sports,recreation,seniors,veterans,goods and services,financial support,money,xsbrt.com,benefits,government benefits,legislation,congress,nonprofits,grants,foundations,resources,social services" />
    <meta name="description" content="xsbrt is a completely free, anonymous site to quickly find government and public resources which serve your community. There are tens of thousands of federal and local government programs, as well as nonprofits, foundations and community services to help you build a better life. As you click around, the site will learn your interests and customize all the results based upon your needs." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="xsbrt.com - the more you use it, the more it works" />
    <meta property="og:description" content="xsbrt is a completely free, anonymous site to quickly find government and public resources which serve your community. There are tens of thousands of federal and local government programs, as well as nonprofits, foundations and community services to help you build a better life. As you click around, the site will learn your interests and customize all the results based upon your needs." />
    <meta property="og:url" content="https://xsbrt.com" />
    <meta property="og:site_name" content="xsbrt" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="xsbrt" />
    <meta name="msapplication-TileImage" content="lightbulb.png" />
    <meta name="msapplication-TileColor" content="#000" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <meta name="theme-color" content="#FFCD24" />
    <link rel="apple-touch-icon" href="lightbulb.png" />
    <link rel="icon" href="expert.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />   
    <!-- <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.0.96/css/materialdesignicons.min.css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.5.8/dist/vuetify.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3/dist/fp.min.js"></script>
    
    <script async defer>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());      
        gtag('config', 'G-5XMC06LNLV');
        </script>         
    <title>xsbrt.com - the more you use it, the more it works</title>   
</head>
<body style="background-color:#2AABE4;">    
    <div id="app">        
        <v-app> 

        <v-dialog            
            v-model="dialog"
            v-if="dialog"
            hide-overlay
            persistent
            eager
            fullscreen        
            >
            <v-card
            color="#2AABE4"
            >
            <v-card-text class="p-5 text_shadow" style="color:#FFCD24;">
                <h2>One moment while everything is gathered for you...</h2>
                <transition name="bounce">
                <p v-if="quote" class="font-italic pt-4 h4 text-white">{{quote}}</p>
                </transition>
                <p class="mt-3 p-2 text-white h6">xsbrt is a completely free, anonymous site to quickly find government and public resources which serve your community. There are tens of thousands of federal and local government programs, as well as nonprofits, foundations and community services to help you build a better life. As you click around, the site will learn your interests and customize all the results based upon your needs.</p>
            </v-card-text>
            </v-card>
        </v-dialog>

                <v-navigation-drawer v-model="drawer"
                                     app
                                     color="#2AABE4"
                                     clipped>
                    <h4 class="d-sm-none d-sm-flex d-md-none p-3 text_shadow" style="color:#FFCD24;" @click="location.reload();">xsbrt</h4> 
                        <v-overflow-btn v-if="results&&results.search_items" 
                        :items="results.search_items"
                        prepend-inner-icon="mdi-magnify"
                        label="Search..."
                        background-color="#FFCD24"
                        item-color="#666B6E"
                        v-model="oo"
                        editable="false"
                        single-line="true"
                        item-color="black"
                        eager="true"
                        dense="true"
                        clearable="true"
                        hide-no-data="true"
                        rounded
                        flat
                        class="mt-5 p-2 mb-4 float-right font-weight-bold"
                        color="white"
                        return-object="true"
                        item-value="id" item-text="t" @change="console.log(itemClick);thumb=false;drawer=false;">
                    </v-overflow-btn>

                    <v-list class="font-weight-bold h4 text-uppercase">                                       
  
                        <v-list-item v-if="clickMatches" @click="clear();drawer=false;"
                                     link title="Click here to remove your results and start fresh">
                            <v-list-item-action>
                                <v-icon large color="white" class="text_shadow">delete_forever</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title class="text-white text_shadow">
                                    clear
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>                        
                        <v-list-item @click="drawer = false; sideDialog = 2; oo = null; window.scrollTo({top: 0, behavior: 'smooth'});"
                                     link>
                            <v-list-item-action>
                                <v-icon large color="white" class="text_shadow">contact_support</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title class="text-white text_shadow">
                                    about
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item @click="drawer = false; sideDialog = 3; oo = null; window.scrollTo({top: 0, behavior: 'smooth'});"
                                     link>
                            <v-list-item-action>
                                <v-icon large color="white" class="text_shadow">description</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title class="text-white text_shadow">
                                    privacy
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-navigation-drawer>

                <v-app-bar app
                           clipped-left
                           flat
                           color="#2AABE4">
                    <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                    <v-toolbar-title color="#FFCD24" @click.stop="drawer = !drawer" style="cursor:pointer;color:#FFCD24;" class="h2">
                        <v-icon x-large class="pr-1 text_shadow" color="#FFCD24">
                            wb_incandescent
                        </v-icon><span class="text_shadow">xsbrt</span>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-overflow-btn v-if="locations&&locations.length > 0" v-model="s"
                                    light="true"
                                    :items="locations"
                                    background-color="#FFCD24"
                                    item-color="#666B6E"
                                    prepend-inner-icon="location_on"
                                    label="area/zip code OR state"
                                    editable="false"
                                    single-line="true"
                                    eager="true"
                                    dense="false"
                                    clearable="true"
                                    hide-no-data="true"
                                    return-object
                                    rounded
                                    flat 
                                    hint="Enter area code, zip OR state"
                                    class="mt-5 pt-4 p-2 mr-1 mb-4 float-right"
                                    style="max-width:390px;font-size:1.05em;"
                                    @change="changeLocation"
                                    item-value="s" item-text="st">
                    </v-overflow-btn>
                    
                </v-app-bar>

                <v-expand-transition v-if="sideDialog" v-model="sideDialog" style="background-color:#2AABE4;">

                    <transition name="bounce">

                    <v-card v-if="sideDialog===2" class="p-4" style="background-color:#2AABE4;">
                        <v-card-text class="text-white text_shadow p-4 h5">
                                    
                            <center><v-btn color="#FFCD24" class="mt-4 mb-2 btn btn-sm" @click="sideDialog = null">close</v-btn></center>

                            <p>xsbrt is a free, continuously updated resource which makes positive differences in lives.</p>
                            
                            <p>The system automatically learns customers needs as they move around the resources, all while maintaining anonymity.</p>

                            <p>As new resources are located they are dropped into the system for all to use. The same goes for a seemingly unending list of new features which are constantly being tested and deployed when ready for public consumption. New forms of artificial intelligence are continuously tested on the data to make it more accurate. Performance-wise, the more people who are using the system, the faster it gets thanks to CDNs and caching.</p>
                            
                            <p>When possible, the direct organization is used for the source. Other main sources of information include: congress.gov, benefits.gov and the latest AWS 990 postings. While not always successful, most sources are updated at least once a month.</p>

                            <p>The more you use it, the more it works...for all.</p>

                            <h4 class="text-center justify-center"><a style="color:#FFCD24;" href="mailto:xsbrtco@gmail.com">contact</a></h4>

                        </v-card-text>
                    </v-card>

                    <v-card v-if="sideDialog===3" class="p-4" style="background-color:#2AABE4;font-size:1.17em;">
                        <v-card-text class="text-white text_shadow p-4">
                                
                        <center><v-btn color="#FFCD24" class="mt-4 btn btn-sm" @click="sideDialog = null">close</v-btn></center>

                        <div class="pt-5 font-weight-bold">Your privacy is critically important.</div>
      
                        <p>It is Xsbrt's policy to respect your privacy regarding any information we may collect while operating our website. This Privacy Policy applies to https://xsbrt.com (hereinafter, "us", "we", or "https://xsbrt.com"). We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy ("Privacy Policy") to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.</p>
                        <p>This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms and conditions.</p>
      
                        <div class="pt-5 font-weight-bold">Website Visitors</div>
                        <p>Like most website operators, Xsbrt collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Xsbrt's purpose in collecting non-personally identifying information is to better understand how Xsbrt's visitors use its website. From time to time, Xsbrt may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
                        <p>Xsbrt also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users. Xsbrt only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.</p>
      
                        <div class="pt-5 font-weight-bold">Gathering of Personally-Identifying Information</div>
                        <p>Certain visitors to Xsbrt's websites choose to interact with Xsbrt in ways that require Xsbrt to gather personally-identifying information. The amount and type of information that Xsbrt gathers depends on the nature of the interaction. For example, we ask visitors who sign up for a blog at https://xsbrt.com to provide a username and email address.</p>
      
                        <div class="pt-5 font-weight-bold">Security</div>
                        <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
      
                        <div class="pt-5 font-weight-bold">Advertisements</div>
                        <p>Ads appearing on our website may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by Xsbrt and does not cover the use of cookies by any advertisers.</p>
      
      
                        <div class="pt-5 font-weight-bold">Links To External Sites</div>
                        <p>Our Service may contain links to external sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy and terms and conditions of every site you visit.</p>
                        <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.</p>           
      
                        <div class="pt-5 font-weight-bold">Aggregated Statistics</div>
                        <p>Xsbrt may collect statistics about the behavior of visitors to its website. Xsbrt may display this information publicly or provide it to others. However, Xsbrt does not disclose your personally-identifying information.</p>
      
      
                        <div class="pt-5 font-weight-bold">Cookies</div>
                        <p>To enrich and perfect your online experience, Xsbrt uses "Cookies", similar technologies and services provided by others to display personalized content, appropriate advertising and store your preferences on your computer.</p>
                        <p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. Xsbrt uses cookies to help Xsbrt identify and track visitors, their usage of https://xsbrt.com, and their website access preferences. Xsbrt visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Xsbrt's websites, with the drawback that certain features of Xsbrt's websites may not function properly without the aid of cookies.</p>
                        <p>By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to Xsbrt's use of cookies.</p>

                        <div class="pt-5 font-weight-bold">Privacy Policy Changes</div>
                        <p>Although most changes are likely to be minor, Xsbrt may change its Privacy Policy from time to time, and in Xsbrt's sole discretion. Xsbrt encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>
                        
                    </v-card-text>
                    
                    </v-card>

                </v-transition>

                </v-expand-transition>    

                <v-expand-transition v-model="itemClick" v-if="itemClick" style="background-color:#2AABE4;">
                    <transition name="bounce">
                    <v-card style="background-color:#2AABE4;">
                        <v-system-bar
                        color="#33393D"
                        fixed
                        height="40"
                        class="mb-5 p-4 text_shadow"
                        style="cursor:pointer;font-size:1.5em;"
                      >                        
                      <v-flex @click="oo = null;console.log(itemClick);" class="text_shadow">
                        <v-icon large class="pr-1 text-shadow" color="#FFCD24">
                            wb_incandescent
                        </v-icon><span class="text_shadow" style="color:#FFCD24; font-size:2rem;">xsbrt</span>
                    </v-flex>
                    <v-spacer></v-spacer> 
                    </v-system-bar>

                        <v-card-title class="mt-5 pt-5 elevation-2"> 
                                                             
                                <v-flex xs12 md12 class="mt-5 pt-3 text-center">
                                    <center>
                                        <v-btn color="#FFCD24"
                                        class="btn btn-sm mb-4"
                                        @click="oo = null; console.log(itemClick);">
                                        close
                                    </v-btn>
                                    <h3 class="p-1 text-uppercase text-white text_shadow text-sm-h4" style="font-size: 1 rem;" data-splitting="words">{{decodeURIComponent(itemClick.t)}}
                                        <v-row v-if="itemClick.ncs" align="center" justify="center" class="mt-2">
                                            <v-icon v-for="it in itemClick.ncs" :key="it" v-if="catsmap.has(it)" :title="catsmap.get(it).text" large class="p-2 text-shadow" color="#FFCD24">
                                                {{catsmap.get(it).icon}}
                                            </v-icon>
                                        </v-row>
                                    </h3> 

                                        <a v-if="itemClick.lc" target="_blank" rel="prefetch" :href="itemClick.lc" @click="directions" style="cursor:pointer;color:black;text-decoration:none;">
                                            <div v-if="itemClick.dist&&!isNaN(itemClick.dist)&&itemClick.dist < mxd" class="text-warning text_shadow" title="Near you" @click="directions" style="cursor:pointer;"><v-icon class="pr-1" color="yellow darken-3">location_on</v-icon>{{itemClick.dist.toFixed(1)}} km</div>
                                                                    {{itemClick.a}}
                                            <div v-if="itemClick.l">{{itemClick.l}}</div>
                                        </a>                                
                                        <a v-if="itemClick.u&&itemClick.u.includes('.')" rel="prefetch" target="_blank" :href="itemClick.u" class="d-block text-lowercase" style="cursor:pointer;text-decoration:none;color:Black;" @click="openURL">{{itemClick.u}}</a>

                                        <v-btn v-if="!thumb" icon large class="p-1 mb-1" icon @click="like" title="Click here to 'like' this resource">
                                            <v-icon color="white" class="text-shadow" large>thumb_up</v-icon>
                                        </v-btn>
                                        <v-icon v-if="thumb" style="color:#FFCD24;" class="text-shadow p-1 mb-1" color="#FFCD24" large>thumb_up</v-icon>
                                        <v-icon v-if="this.navigator.share" class="text-shadow p-1 mb-1" color="yellow darken-1" large style="cursor:pointer;" title="Click here to share" @click="shareObject(itemClick)">share</v-icon> 
                                          </center>                                  
                                </v-flex> 
                        </v-card-title>
                        <v-card-text class="title m-2 text-center align-top justify-center scrollelement">
                           
                            <p v-if="itemClick.tx" xs12 md12 class="pl-5 pr-5 mb-5 pb-3 font-weight-normal text-white align-top text-left" v-html="itemClick.tx">
                            </p>                            

                                <v-slide-group v-if="itemClick.related&&itemClick.related.length > 2" class="ma-2 ma-md-3 scrollelement" show-arrows="always" center-active> 

                                    <v-slide-item v-for="it in itemClick.related" v-slot:default="{ active, toggle }" :class="{'cardsSmall': $vuetify.breakpoint.smAndDown}">
              
                                                <v-card outlined="true" raised="true" class="cards text-uppercase justify-center text-xs-center ma-1 ma-md-2" color="#9DCBE4" >                                                                                         
                                                    <v-card-text class="text-truncate justify-center text-xs-center text-center p-2">                                                        
                                                         <div class="card_title justify-center" @click="oo=it;console.log(itemClick);thumb=false;drawer=false;" :title="it.t">
                                                            <center><div class="p-1 text_shadow sub_label">related</div></center>                                                
                                                            {{it.t}}
                                                        </div>
                                                    </v-card-text>                                              
                                                </v-card>
              
                                    </v-slide-item>
                                    
                                </v-slide-group>  

                                <v-slide-group v-if="itemClick.money&&itemClick.money.length > 2" class="ma-2 ma-md-3 scrollelement" show-arrows="always" center-active> 

                                    <v-slide-item v-for="it in itemClick.money" v-slot:default="{ active, toggle }" :class="{'cardsSmall': $vuetify.breakpoint.smAndDown}">
              
                                                <v-card outlined="true" raised="true" class="cards text-uppercase justify-center text-xs-center ma-1 ma-md-2" color="#9DCBE4" >                                                                                         
                                                    <v-card-text class="text-truncate justify-center text-xs-center text-center p-2">                                                        
                                                         <div class="card_title justify-center" @click="oo=it;console.log(itemClick);thumb=false;drawer=false;" :title="it.t">
                                                            <center><div class="p-1 text_shadow sub_label">money</div></center>                                                
                                                            {{it.t}}
                                                        </div>
                                                    </v-card-text>                                              
                                                </v-card>
              
                                    </v-slide-item>
                                    
                                </v-slide-group> 
                            
                        </v-card-text>   

                    </v-card>
                </transition>
            </v-expand-transition> 
                

            <v-main v-if="results" color="#2AABE4" style="background-color: #2AABE4;"> 

                <v-progress-linear v-show="progress&&progress<95"
                v-model="progress"
                color="#FFCD24"
                height="25"
                class="mt-4 mb-0"
              >
              <template v-slot:default="{ value }">
                  <strong>{{ Math.ceil(value) }}%</strong>
                </template>
              </v-progress-linear>
                
                <v-flex v-if="location_prompt" class="mt-3 text_shadow p-3" style="color:#FFCD24;">Please choose an area/zip code or state from the list above.</v-flex> 
                
                <v-alert v-if="welcome"
                close-text="close"
                style="background-color: #2AABE4;"
                dismissible
                class="m-4 p-3 elevation-5 text_shadow text-white"
              >
                <h4 style="color:#FFCD24;">Welcome!</h4>          
                <p style="font-size:1.08em;">xsbrt is a completely free, anonymous site to quickly find government and public resources which serve your community. There are tens of thousands of federal and local government programs, as well as nonprofits, foundations and community services to help you build a better life. As you click around, the site will learn your interests and customize all the results based upon your needs.</p>
              </v-alert>           
              
                <v-slide-group v-if="results.you" class="ma-2 ma-md-3 scrollelement" show-arrows="always" center-active> 
                      <v-slide-item v-for="it in results.you" v-slot:default="{ active, toggle }" :class="{'cardsSmall': $vuetify.breakpoint.smAndDown}">
                        <v-card outlined="true" raised="true" class="cards text-uppercase justify-center text-xs-center ma-1 ma-md-2" color="#9DCBE4" >                                                                                         
                            <v-card-text class="text-truncate justify-center text-xs-center text-center p-2">                                                        
                                <h5 v-if="!it.t"><v-icon color="#FFCD24" x-large class="text_shadow pr-1 pb-1">{{it.icon}}</v-icon><div>{{it.text}}</div></h5>
                                <div v-else="" style="cursor:pointer;" class="card_title justify-center" @click="oo=it;console.log(it);thumb=false;drawer=false;">
                                    <center><div class="p-1 text_shadow sub_label">for you</div></center>                                                
                                    {{it.t}}
                                </div>
                            </v-card-text>                                              
                        </v-card>
                      </v-slide-item>                      
                  </v-slide-group>  

                  <v-slide-group v-if="yourViews" class="ma-2 ma-md-3 scrollelement" show-arrows="always" center-active> 
                    <v-slide-item v-for="it in yourViews" v-slot:default="{ active, toggle }" :class="{'cardsSmall': $vuetify.breakpoint.smAndDown}">
                      <v-card outlined="true" raised="true" class="cards text-uppercase justify-center text-xs-center ma-1 ma-md-2" color="#9DCBE4" >                                                                                         
                          <v-card-text class="text-truncate justify-center text-xs-center text-center p-2">                                                        
                              <h5 v-if="!it.t"><v-icon color="#FFCD24" x-large class="text_shadow pr-1 pb-1">visibility</v-icon><div>Your Views</div></h5>
                              <div v-else="" style="cursor:pointer;" class="card_title justify-center" @click="oo=it;console.log(it);thumb=false;drawer=false;">
                                  <center><div class="p-1 text_shadow sub_label">your views</div></center>                                                
                                  {{it.t}}
                              </div>
                          </v-card-text>                                              
                      </v-card>
                    </v-slide-item>                      
                </v-slide-group> 

                <v-slide-group v-for="item in results.cards" :key="item.cm" class="ma-2 ma-md-3 scrollelement" show-arrows="always" center-active> 

                    <v-slide-item v-for="it in item.data" :key="it.id" v-slot:default="{ active, toggle }" :class="{'cardsSmall': $vuetify.breakpoint.smAndDown}">

                                <v-card outlined="true" raised="true" class="cards text-uppercase justify-center text-xs-center ma-1 ma-md-2" color="#9DCBE4" >                                                                                         
                                    <v-card-text class="text-truncate justify-center text-xs-center text-center p-2">                                                        
                                        
                                        <h5 v-if="!it.t"><v-icon color="#FFCD24" x-large class="text_shadow pr-1 pb-1">{{it.icon}}</v-icon><div>{{item.text}}</div></h5>
                                        
                                        <div v-else="" class="card_title justify-center" @click="oo=it;console.log(itemClick);thumb=false;drawer=false;">
                                            <center><div class="p-1 text_shadow sub_label">{{item.text}}</div></center>                                                
                                            {{it.t}}
                                        </div>

                                    </v-card-text>                                              
                                </v-card>

                    </v-slide-item>
                    
                </v-slide-group>
                   
                    
                    </v-main>    


              <v-footer v-if="navigator.share" rounded paddless color="#FFCD24" class="text-center elevation-2 justify-center scrollelement">  
                  <center>
                    <v-icon class="text-shadow p-1" large style="cursor:pointer;color:#2AABE4;" title="Click here to share" @click="shareObject(omain)">share</v-icon> 
                 </center>
              </v-footer>
      
        </v-app>
    </div>
    <script defer async src="https://rawcdn.githack.com/incodenz/bot-detect/ed3b16299efc2c5e07e35f8a6562615838dd47f3/botDetect.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.9.0/localforage.min.js"></script> 
    <script src="https://rawcdn.githack.com/gildas-lormeau/zip.js/2936cd76e7f741eee7ce09bc215382cff1e9f2d2/dist/zip-full.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@1.29.4/dist/umd/supabase.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.8/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script>
        const SUPABASE_KEY = eval(function(p,a,c,k,e,d){e=function(c){return c};if(!''.replace(/^/,String)){while(c--){d[c]=k[c]||c}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('"2.1.0";',3,3,'nZCH8siovLqPxRJS3Md2yXQZDuoiaOAt8lCOYl44JHA|eyJyb2xlIjoiYW5vbiIsImlhdCI6MTYyNTA4MzI4OCwiZXhwIjoxOTQwNjU5Mjg4fQ|eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9'.split('|'),0,{}))        
        const SUPABASE_URL = eval(function(p,a,c,k,e,d){e=function(c){return c};if(!''.replace(/^/,String)){while(c--){d[c]=k[c]||c}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('"3://2.1.0";',4,4,'co|supabase|nijullawxfcvcnrgemim|https'.split('|'),0,{}));
        const supabaseNew = eval(function(p,a,c,k,e,d){e=function(c){return c};if(!''.replace(/^/,String)){while(c--){d[c]=k[c]||c}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('3.2(1,0);',4,4,'SUPABASE_KEY|SUPABASE_URL|createClient|supabase'.split('|'),0,{}));        

        let master = [];

        new Vue({
            el: '#app',
            mode: 'production',
            vuetify: new Vuetify(),                                    
            data() {
                return {  
                    dialog: true,
                    sideDialog: false,
                    progress: 1,
                    key: null,
                    ct: null,
                    lat: null,
                    lng: null,
                    state_list: new Map(),
                    s: null,
                    oo: {},
                    mobile: null,
                    ic: null,
                    ltlg: new URL(document.location).searchParams.get("fp"),
                    thumb: false,
                    quote: null,
                    ip: null,
                    cid: null, 
                    isActive: false,
                    drawer: false,
                    welcome: true,
                    location_prompt: false,
                    navigator: navigator          
                }
            },
           
            computed: {

                itemClick() {                    
                    if (this.oo&&!this.isEmpty(this.oo)&&this.results) {                                                
                        let o = Object.assign({}, this.oo);
                        let id = o.id;
                        let csmp = this.itemMap(o.cs);
                        let dsmp = this.itemMap(o.ds);
                        let res = this.results.money;
                        for (let oo, x, i = res.length; i--;) {
                            oo = res[i];
                            if (id==oo.id) { continue };
                            x = this.matchesNew2(csmp,dsmp,oo);
                            if (!x) {
                                if (oo.w) { delete oo.w };
                                continue;
                            };
                            oo["w"] = x;               
                        };
                        o["money"] = alasql("SELECT TOP 100 * FROM ? WHERE w IS NOT NULL AND id <> '" + o.id + "' ORDER BY w ASC",[res]);
                        res = alasql("COLUMN OF SELECT TOP 1 data FROM ? WHERE cm = " + o.cm,[this.results.cards]).flat();
                        for (let oo, x, i = res.length; i--;) {
                            oo = res[i];
                            if (id==oo.id) { continue };
                            x = this.matchesNew2(csmp,dsmp,oo);
                            if (!x) {
                                if (oo.w) { delete oo.w };
                                continue;
                            };
                            oo["w"] = x;               
                        };
                        csmp = null;
                        dsmp = null;
                        o["related"] = alasql("SELECT TOP 100 * FROM ? WHERE w IS NOT NULL AND id <> '" + o.id + "' ORDER BY w ASC",[res]);
                        res = null;
                        if (o.u&&o.u.includes('.')) {
                        if (!o.u.includes('http')) { o["u"] = "http://" + o.u };
                            };   
                           if (o.lt&&o.lg) { o["lc"] = "https://www.google.com/maps?q=" + o.lt + ',' + o.lg };                    
                            o["url"] = "https://xsbrt.com?l=" + this.ltlg + '&i=' + o.id;
                            if (o.cs) { o["ncs"] = o.cs };
                            if (!o.a&&!o.u&&o.id&&Number.isInteger(o.id)) {
                                o["u"] = 'https://www.benefits.gov/benefit/' + o.id;
                                o["dist"] = null;
                            };                       
                        window.scrollTo({top: 0, behavior: 'smooth'});
                        this.addClick(this.oo);
                        //console.log(this.yourViews);
                        return o;
                    };
                    return null;
                },

                yourViews() {
                    if (this.key&&this.results) { 
                        let st = alasql("COLUMN OF SELECT id FROM clicks WHERE id IS NOT NULL ORDER BY id ASC");
                        if (st&&st.length > 0) {
                            st = new Set(st);
                            let res = this.results.search_items.filter(it => st.has(it.id));
                            st = null;
                            if (res&&res.length > 0) {
                                res.unshift({i: 1});
                                return res;
                            };                        
                        };
                    }; 
                    return null; 
                },

                clickMatches() {
                    let res = alasql("SELECT TOP 100 cs, ds FROM clicks WHERE cs IS NOT NULL AND ds IS NOT NULL AND mod IS NOT NULL ORDER BY DATE (mod) DESC");                  
                    if (res&&res.length > 0) {
                        let cs = this.deepFlatten(alasql("COLUMN OF SELECT cs FROM ?",[res]));
                        let ds = this.deepFlatten(alasql("COLUMN OF SELECT ds FROM ? WHERE ds IS NOT NULL",[res]));
                        res = null;
                        this.welcome = false; 
                        return {cs: this.getArrayCounts(cs), ds: this.getArrayCounts(ds)};
                    };           
                    return null;                    
                },

                customer() {                    
                    let oo = {}; 
                    oo["cid"] = this.cid;
                    if (this.lat) {
                        oo["lat"] = this.lat;
                        oo["lng"] = this.lng;
                        oo["ltlg"]= parseInt(oo.lat).toString() + parseInt(oo.lng).toString();
                    };
                    oo["m"] = this.mobile;                   
                    oo["d"] = new Date();
                    oo["s"] = this.session; 
                    if (!oo.ip&&this.ip) { oo["ip"] = this.ip };                    
                    return oo;
                },

                online() { return this.navigator.onLine },                

                results() {                      
                     if ([25,50,75,100].includes(this.progress)) {
                       master = alasql("SELECT *, i AS id, n AS t FROM ?",[master]);
                       master = alasql("SELECT *, UPPER(t) AS t FROM ? WHERE t IS NOT NULL AND t <> ''", [master]);
                       master = alasql("SELECT * FROM ? WHERE t NOT LIKE '%Livestock%' AND t NOT LIKE 'PTA%' AND t NOT LIKE '%ASSN%' AND t NOT LIKE '%NATL ASSN%' AND t NOT LIKE '%NATIONAL%' AND t NOT LIKE '%ASSOCIATION%' AND t NOT LIKE '%CEMETERY%' AND t NOT LIKE '%COUNCIL%' AND t NOT LIKE '%ADOPTION%' AND t NOT LIKE '%POLICY%' AND t NOT LIKE '%CONSTRUCTION%' AND t NOT LIKE '%BOARD%' AND t NOT LIKE '%COMMITTEE%' AND t NOT LIKE '%COALITION%' AND t NOT LIKE '%CONSORTIUM%' AND t NOT LIKE '%MUSEUM%' AND t NOT LIKE '%FRIENDS OF%' AND t NOT LIKE '%CITIZEN%' AND t NOT LIKE '%INSTITUTE%' AND t NOT LIKE '%SOCIETY%' AND t NOT LIKE '%FEDERATION%' AND t NOT LIKE '%AWARD%' AND t NOT LIKE '%ADOPTION%' AND t NOT LIKE '%CONSERV%' AND t NOT LIKE '%MEXIKIDS%' AND t NOT LIKE '%DOCTORAL%' AND t NOT LIKE '%CALFRESH%'",[master]);
                       master = alasql("SELECT * FROM ? WHERE id IS NOT NULL GROUP BY t",[master]);
                       console.log('results');
                       console.log(master);
                       let st = new Set(alasql("COLUMN OF SELECT id FROM ? WHERE t LIKE '%CHARIT%' OR t LIKE '%FOUNDATION%' OR t LIKE '%TRUST%' OR t LIKE '%FUND%' OR t LIKE '%CORPORAT%' OR t LIKE '% GRANT%' OR t LIKE '%SCHOLARSHIP%' ORDER BY id ASC",[master]));
                       let stt = this.states;
                        for (let o, i = stt.length; i--;) {
                            o = stt[i];
                            o["d"] = this.distance(this.lat,this.lng,o.l,o.lg);
                        };
                        stt = new Set(alasql("COLUMN OF SELECT TOP 3 k FROM ? WHERE d IS NOT NULL ORDER BY d ASC",[stt]));
                        console.log(stt);
                        let dtc = 25;
                        if (this.s&&isNaN(this.s.st)) { dtc = 190.939 };                        
                        let csmp = null;
                        let dsmp = null;
                        let customer = this.clickMatches;
                        if (customer) {
                            csmp = this.itemMap(customer.cs);
                            dsmp = this.itemMap(customer.ds);
                        }; 
                        let custom = csmp&&csmp.size > 2;                                                   
                       for (let o, oo, dt, x, cs, id, i = master.length; i--;) {
                            o = master[i];
                            if (o.cm) { continue }; 
                            id = o.id;
                            if (o.i&&o.st&&!stt.has(o.st)||!o.cs||o.cs.length < 1) { delete o.id; continue; }; //** state trap
                            cs = ~~o.cs[0];
                            o["m"] = 0;
                            if (st.has(id)) { o["m"] = 1 };					
                            dt = 9.75;						
                            if (o.lt) {
                                dt = this.distance(this.lat,this.lng,o.lt,o.lg,"K");
                                if (dt > dtc) { delete o.id; continue; };                                                               
                            };
                            //**include weighted match based on customer clicks
                            o["w"] = dt++;                            
                            if (custom) {
                                x = this.matchesNew2(csmp,dsmp,o);
                                if (x) {
                                    //o["w"] = ((~~x / dt) * dt);
                                    o["w"] = ((dt/~~x) * dt);
                                };
                                //x = this.matchesNew(customer,o);
                                //o["w"] = +dt + x;
                            };                            
                            o["cm"] = cs;
                            o["dist"] = dt;
                            //secondary listing
                            if (o.cs[1]) {
                                oo = Object.assign({}, o);
                                oo["cm"] = ~~o.cs[1];
                                master.push(oo);
                            };
                        };
                        stt = null;                        
                        dsmp = null;
                        st = null;                        
                        let ooo = {};                                                                   
                        let al = alasql("SELECT a,cs,ds,dist,l,t,u,id,w,tx,lt,lg,cm,m FROM ? WHERE cm IS NOT NULL AND id IS NOT NULL ORDER BY w ASC, dist ASC",[master]); 
                        al = alasql("SELECT * FROM ? GROUP BY t",[al]); 
                        ooo["search_items"] = alasql("SELECT * FROM ? ORDER BY id ASC", [al]);
                        ooo["money"] = alasql("SELECT * FROM ? WHERE m = 1",[al]);
                        al = alasql("SELECT * FROM ? WHERE m = 0",[al]); 
                        let fpl = alasql("SELECT cm, AVG(w) AS ws, COUNT(cm) AS ct FROM ? GROUP BY cm ORDER BY ws ASC",[al]);
                        fpl = alasql("COLUMN OF SELECT cm FROM ? WHERE ct > 1",[fpl]);
                        let res = []; 
                        let all = [];                      
                        for (let cm, card_res, rd, oo, i = fpl.length; i--;) {
                            cm = ~~fpl[i];
                            oo = this.catsmap.get(cm);
                            if (!oo) { continue };
                            card_res = alasql("SELECT TOP 100 * FROM ? WHERE cm = " + cm,[al]);
                            if (!card_res||card_res.length < 2) { continue };
                            oo["id"] = cm;
                            rd = [oo];
                            rd.push(...card_res);
                            all.push(...rd);
                            res.unshift({cm: cm, text: oo.text, n: oo, data: rd }); 
                        };
                        al = null;
                        fpl = null;
                        ooo["cards"] = res;       
                        res = alasql("SELECT TOP 100 * FROM ? WHERE w > -1 GROUP BY t ORDER BY w ASC", [all]);
                        all = null;
                        if (res.length > 7) {
                            res.unshift({
                                w: -1,
                                text: "For You",
                                icon: "accessibility_new"
                            });
                            ooo["you"] = res;
                        };
                        res = null;                                                                               
                        return ooo; 
                    };
                    return null;
                }
    
            },

            methods: { 
                
                matchesNew2(csmp,dsmp,obj) {
                  if (csmp&&obj.cs) {
                    let x = 0.1;
                    let y = 0;
                    let cs = obj.cs;
                    for (let o, z, zz, i = cs.length; i--;) {
                        o = cs[i];
                        if (csmp.has(o)) {
                            y++;
                            z = ~~cs.indexOf(o);
                            zz = csmp.get(o);
                            if (z < 1&&zz<1) { 
                                continue;                            
                            };
                            if (z===0&&zz===0) { 
                                x = +x -3;
                                continue;                            
                            };
                            if (z===1&&zz===1) { 
                                x = +x -2;
                                continue;                            
                            };
                            if (z===2&&zz===2) { 
                                x = +x -1;
                                continue;                            
                            };
                            if (z > zz) {
                                x = +x + z;
                                continue;
                            };                           
                            x = +x + zz;  
                        };
                    };
                    cs = null;
                    csmp = null;
                    if (y < 1) { return };
                    if (dsmp&&obj.ds) {
                        let ds = obj.ds;
                        for (let o, z, zz, i = ds.length; i--;) {
                            o = ds[i];
                            if (dsmp.has(o)) {
                                y++;
                                z = ~~ds.indexOf(o);
                                zz = dsmp.get(o); 
                                if (z===0&&zz===0) { 
                                    x = +x -3;
                                    continue;                            
                                }; 
                                if (z===1&&zz===1) { 
                                    x = +x -2;
                                    continue;                            
                                };
                                if (z===2&&zz===2) { 
                                    x = +x -1;
                                    continue;                            
                                };                                
                                if (z > zz) {
                                    x = +x + z;
                                    continue;
                                };
                                x = +x + zz;  
                            };
                        };
                        obj = null;
                        ds = null;
                        dsmp = null;
                        return x / y;
                    };
                    obj = null;
                    x = +x + 9;
                    return x / y;
                  };
                  obj = null;                
                },

                itemMap(al) {                    
                    if (al&&al.length > 0) {
                        let mp = new Map();
                        for (let o, i = al.length; i--;) {
                            o = al[i];
                            if (!isNaN(o)&&!mp.has(o)) {
                                mp.set(o,~~al.indexOf(o));
                            };
                        };
                        al = null;
                        return mp;
                    };
                },

                getArrayCounts(res) {
                    if (!res||res.length < 1) { return };
                    for (let i = res.length; i--;) {
                        res.push({k: res[i] });
                    };                    
                    res = alasql("SELECT TOP 5 k, COUNT(k) AS c FROM ? WHERE k IS NOT NULL AND k > 0 GROUP BY k ORDER BY c DESC",[res]);
                    return alasql("COLUMN OF SELECT k FROM ?",[res]);
                },
             
                getmobile(){return!!(this.navigator.userAgent.match(/Android/i)||this.navigator.userAgent.match(/webOS/i)||this.navigator.userAgent.match(/iPhone/i)||this.navigator.userAgent.match(/iPad/i)||this.navigator.userAgent.match(/iPod/i)||this.navigator.userAgent.match(/BlackBerry/i)||this.navigator.userAgent.match(/Windows Phone/i))},

                getQuote(){this.dialog = true; this.quote=this.quotes[Math.floor(Math.random()*this.quotes.length)].q},

                async openURL(){this.oo.u&&(this.oo.uc=1,this.addClick(this.oo))},

                async directions(){this.oo.dr=1,this.addClick(this.oo)},

                async like(){this.oo.lk||(this.thumb=!0,this.oo.lk=1,this.addClick(this.oo))},

                deepFlatten(arr) {
                    return this.collapseArray(           // return shalowly flattened array
                        arr.map(x=>             // with each x in array
                        Array.isArray(x)      // is x an array?
                            ? this.deepFlatten(x)    // if yes, return deeply flattened x
                            : x                 // if no, return just x
                        )
                    )
                },

                collapseArray(res) { 
                    let res2 = [...res];
                    res = null;
                    res2 = res2.flat(1);
                    return res2.filter(Boolean); 
                },

                async vibrate() {
                    try {
                        if ("vibrate" in this.navigator) {
                            this.navigator.vibrate(200);
                        };
                    }
                    catch(err) {
                    return;
                    };                    
                }, 

                async appendBG() {
                    master = [...master, ...this.bg];
                    this.addProgress();                    
                },

                async getBen(lt,lg) {
                    if (!lt||!lg) { return };
                    await this.getQuote(); 
                    master = []; 
                    this.oo = {};                                       
                    this.progress = 0;
                    window.scrollTo({top: 0, behavior: 'smooth'});               
                    this.lat = lt;
                    this.lng = lg;
                    lt = parseInt(lt);
                    lg = parseInt(lg);
                    this.ltlg = lt.toString() + lg.toString();                   
                    let ct = new Map()
                    ct.set('bg',await this.appendBG());
                    ct.set(lt, await this.getgNEW(lt));
                    ct.set(lt+1, await this.getgNEW(lt+1));
                    ct.set(lt-1, await this.getgNEW(lt-1));                        
                    await Promise.allSettled(ct).then(this.progress = 100).then(this.vibrate());
                    let rid = new URL(document.location).searchParams.get("rid");                    
                    if (rid) {
                        let checkid = alasql("SELECT TOP 1 * FROM ? WHERE id = '" + rid + "' OR id = " + rid,[this.results.search_items]); 
                        console.log(checkid);                          
                        if (checkid&&checkid.length > 0) {
                            this.oo = JSON.parse(JSON.stringify(checkid[0]));
                        };                            
                    };    
                    master = [];
                    this.addClick(this.customer);                   
                },

                async shareObject(o) {
                    this.navigator.share({
                        title: 'xsbrt.com: ' + o.t,
                        url: 'https://xsbrt.com/?fp='+this.ltlg+'&rid='+o.id
                    });
                    o["sh"] = 1;
                    this.addClick(o);
                    o = null;
                },

                async bCheck(){this.rid||this.mobile||eval(function(t,n,e,i,r,o){if(r=function(t){return t.toString(36)},!"".replace(/^/,String)){for(;e--;)o[e.toString(14)]=i[e]||e.toString(14);i=[function(t){return o[t]}],r=function(){return"\\w+"},e=1}for(;e--;)i[e]&&(t=t.replace(new RegExp("\\b"+r(e)+"\\b","g"),i[e]));return t}('6(0.5||!0.3){1.2.4("7://c.b.a/8?9=d")};',0,14,"botDetect|window|location|isUser|replace|isBot|if|https|watch|v|com|youtube|www|CE8XKeN0zk4".split("|"),0,{}))},

                async changeLocation(){
                    if (!this.s||!this.s.lt) { return };
                    await this.getQuote();
                    master = [];
                    this.vibrate();                   
                    this.getBen(this.s.lt,this.s.lg);
                },

                async getAx(a){if (!this.online) { return }; return(await this.axiosClient.get(a)).data}, 

                async getg(f) { if (!this.online) { return }; return(await this.axiosClient.get('https://glcdn.githack.com/sarahb57/xsbrt/-/raw/main/' + f + '.json')).data; },

                async addProgress() { 
                    this.progress = this.progress + 25;
                    if (this.progress === 50) { this.dialog = false };
                },

                compareDates(date1,date2) {
                    if (new Date(date1).getTime() > new Date(date2).getTime()) { return true };
                    return false;
                },

                subtractDays(days) {
                    let d = new Date(); 
                    return d.setDate(d.getDate() - days);
                },

                async getgNEW(id) { 
                    let data = await localforage.getItem(id);
                    if (data&&data.length > 1&&data[0].entry_date) { 
                       if (this.compareDates(new Date(data[0].entry_date),this.sd)) {
                            if (id!='zips1'&&id!='bg') { this.addProgress(); master = [...master, ...data]; console.log(master); return; }; 
                            return data;  
                        };                        
                    };
                    data = await this.getg(id);                             
                    //let zipReader = new zip.ZipReader(new zip.Data64URIReader(data));
                    //let entries = await zipReader.getEntries();
                    //data = await entries[0].getData(new zip.TextWriter());
                    //await zipReader.close();
                    //zipReader = null;
                    //entries = null;
                    //data = JSON.parse(data);
                    data.unshift({entry_date: new Date()});
                    localforage.setItem(id, data);
                    if (id!='zips1'&&id!='bg') { this.addProgress(); master = [...master, ...data]; console.log(master); return;}; 
                    return data;                    
                },

                randomString(){return Math.random().toString(36).substring(2,6)+Math.random().toString(36).substring(2,6)},

                distance(a,t,h,M,s){let c=Math.PI*a/180,n=Math.PI*h/180,o=t-M,i=Math.PI*o/180,I=Math.sin(c)*Math.sin(n)+Math.cos(c)*Math.cos(n)*Math.cos(i);return 1<I&&(I=1),I=60*(I=180*(I=Math.acos(I))/Math.PI)*1.1515,"K"==s&&(I*=1.609344),"N"==s&&(I*=.8684),I},
                
                async clear(){
                    alasql(["DELETE FROM clicks","DROP TABLE clicks","CREATE TABLE IF NOT EXISTS clicks","SET AUTOCOMMIT ON"]);
                },
                           
                async addClick(oo) { 
                    if (!oo) { return };              
                    oo = {...oo, ...this.customer};
                    oo["mod"] = new Date();
                    if (oo.t) { delete oo.t };
                    if (oo.tx) { delete oo.tx }; 
                    if (oo.a) { delete oo.a }; 
                    alasql('INSERT INTO clicks VALUES ?', [oo]);
                    this.key = this.randomString();
                    //console.log(this.yourViews);
                    if (!this.online||!this.customer.ltlg) { oo = null; return; };
                    await eval(function(p,a,c,k,e,d){e=function(c){return c.toString(36)};if(!''.replace(/^/,String)){while(c--){d[c.toString(a)]=k[c]||c.toString(a)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('b.a(\'9\').8([{7:6,1:0.1,5:0.4}],{3:\'2\'});',12,12,'this|lat|minimal|returning|lng|lg|oo|json|insert|clicks|from|supabaseNew'.split('|'),0,{}))
                                  
                },

                isEmpty(a){return 0===Object.keys(a).length},

                async getLocation() {                  
                    let res = await new Promise((resolve, reject) => {
                        if (this.navigator.geolocation) {
                            this.navigator.geolocation.getCurrentPosition(resolve, reject);
                        };
                    });
                    if (res&&res.coords) {
                        this.getBen(res.coords.latitude,res.coords.longitude);
                        return;
                    };                    
                    res = alasql("SELECT TOP 1 lat, lng FROM ? WHERE lat IS NOT NULL AND lng IS NOT NULL ORDER BY DATE(mod) DESC",[this.clicks]);
                    if (res&&res.length > 0) {
                        res = res[0];
                        this.getBen(res.lat,res.lng);
                        return;
                    };
                    res = await getAx('http://ip-api.com/json');
                    if (res&&res.data) {
                        res = res.data;
                        this.getBen(res.lat,res.lng); 
                        this.ip = res.query;
                        return;
                    };
                    this.location_prompt = true;                
                }

            },           
           
            created() {
                this.quotes = [{"q":"Thinkin of losin' that funky feelin' don't. Cause you got to use just what you got to get just what you want. ― James Brown"},{"q":"The present is a gift. That's why they call it present. ― Jimmy Cliff"},{"q":"Time isn't holding us. Time isn't after us. ― David Byrne"},{"q":"Life is like riding a bicycle. To keep your balance, you must keep moving. ― Albert Einstein"},{"q":"Don’t give in to your fears. If you do, you won’t be able to talk to your heart. ― Paulo Coelho"},{"q":"Don’t fear failure. Not failure, but low aim, is the crime. In great attempts, it is glorious even to fail. ― Bruce Lee"},{"q":"Obstacles do not block the path. They are the path. ― Zen proverb"},{"q":"There are no passengers on spaceship earth. We are all crew. ― Marshall Mcluhan"},{"q":"We’re all just walking each other home. ― Ram Dass"},{"q":"Sometimes the questions are complicated and the answers are simple. ― Dr. Seuss"},{"q":"A man who becomes conscious of the responsibility he bears toward a human being who affectionately waits for him, or to an unfinished work, will never be able to throw his life away. ― Viktor Frankl"},{"q":"We are here to laugh at the odds and live our lives so well that Death will tremble to take us. ― Charles Bukowski"},{"q":"If you assume that there is no hope, you guarantee that there will be no hope. If you assume that there is an instinct for freedom, that there are opportunities to change things, then there is a possibility that you can contribute to making a better world.― Noam Chomsky"},{"q":"If the only thing it requires to make things happen is that you stop talking and start doing, then life is simple. ― Jose Andres"},{"q":"Wherever there is a fight so hungry people may eat, I will be there. ― John Steinbeck"}];
                this.axiosClient = axios.create();
                this.axiosClient.defaults.headers = {
                    'Content-Type': 'application/json',
                    Accept: 'application/json'
                };
                this.axiosClient.defaults.timeout = 5000;
               this.bg = null;
                alasql([
                    'CREATE localStorage DATABASE IF NOT EXISTS xsbrt',
                    'ATTACH localStorage DATABASE xsbrt',
                    'USE xsbrt',
                    'CREATE TABLE IF NOT EXISTS clicks',                  
                    'SET AUTOCOMMIT ON'
                ]); 
                this.cats = [{text:"food",icon:"local_dining",i:9,wd:new Set(["food stamps","summer meal","food","hunger","hungry","meal","groceries","grocery","dinner","eat","fruit","vegetable","meat","milk","breakfast","lunch","dinner"].sort())},{text:"housing",icon:"hotel",i:1,wd:new Set(["housing","home","house","apartment","homeownership","homeowner","shelter","mission"].sort())},{text:"health",icon:"local_hospital",i:10,wd:new Set(["health","healthcare","medicine","medical","hospital","clinic","medicare","medicaid"].sort())},{text:"addiction",icon:"health_and_safety",i:51,wd:new Set(["addiction","addict","drugs","alcohol","alcoholism","drug addiction","disease","mental health","well being"].sort())},{text:"childcare",icon:"child_friendly",i:3,wd:new Set(["child","children","childcare","head start","preschool","toddler","infant","baby","daycare","day care"].sort())},{text:"employment / training",icon:"build",i:6,wd:new Set(["employment","job","jobs","job","employ","training","train","work"].sort())},{text:"education",icon:"school",i:5,wd:new Set(["pre k","preschool","school","education","college","community college","unversity","scholarship","scholarships","high school","schools","middle school","junior high","elementary","primary school","secondary school","graduate","graduate school"].sort())},{text:"disabled",icon:"accessible_forward",i:14,wd:new Set(["disabled","disability","handicap","handicapped","wheelchair","disable"].sort())},{text:"legal aid",icon:"gavel",i:11,wd:new Set(["legal aid","lawsuit","legal","law","lawyer","police","court","courts"].sort())},{text:"immigration",icon:"language",i:53,wd:new Set(["immigration","immigrant","foreign","immigrate","foreigner"].sort())},{text:"youth/sports",icon:"fitness_center",i:7,wd:new Set(["fitness","youth","kids","sports","sport","recreation","rec center","soccer","running","tennis","basketball","football","lacrosse","track","track and field","cross country","volleyball","martial arts"].sort())},{text:"seniors",icon:"cake",i:15,wd:new Set(["senior","seniors","elderly","aged","old"].sort())},{text:"veterans",icon:"flag",i:16,wd:new Set(["veteran","veterans","military","army","navy","VFW","air force","marines","coast guard","national guard"].sort())},{text:"goods/services",icon:"widgets",i:42,wd:new Set(["goodwill","salvation army","clothes","clothing","furniture","goods","services"].sort())},{text:"financial",icon:"attach_money",i:12,wd:new Set(["money","finance","financial","aid"].sort())}];                
                this.catsmap = new Map(this.cats.map(obj => [~~obj.i, obj]));
                this.states = [{ "k": "HI", "l": 21.38667, "lg": -157.85833 }, { "k": "FL", "l": 26.35869, "lg": -80.407 }, { "k": "LA", "l": 30.21309, "lg": -91.15455 }, { "k": "TX", "l": 31.84235, "lg": -96.80028 }, { "k": "MS", "l": 32.35265, "lg": -90.01259 }, { "k": "AL", "l": 33.40178, "lg": -86.75221 }, { "k": "AZ", "l": 33.4356, "lg": -111.90931 }, { "k": "GA", "l": 33.749, "lg": -84.36909 }, { "k": "SC", "l": 33.81601, "lg": -80.17565 }, { "k": "CA", "l": 34.1064, "lg": -118.29257 }, { "k": "NM", "l": 35.01005, "lg": -105.96027 }, { "k": "AR", "l": 35.0887, "lg": -92.4421 }, { "k": "OK", "l": 35.65283, "lg": -97.14363 }, { "k": "NC", "l": 35.67097, "lg": -79.4378 }, { "k": "TN", "l": 36.01036, "lg": -86.44666 }, { "k": "NV", "l": 36.19886, "lg": -115.11889 }, { "k": "KY", "l": 37.77422, "lg": -85.94913 }, { "k": "MO", "l": 38.77144, "lg": -90.62651 }, { "k": "VA", "l": 38.77261, "lg": -77.30082 }, { "k": "DC", "l": 38.89511, "lg": -77.03637 }, { "k": "KS", "l": 38.96667, "lg": -95.23525 }, { "k": "MD", "l": 39.17316, "lg": -76.73192 }, { "k": "WV", "l": 39.62953, "lg": -80.72091 }, { "k": "DE", "l": 39.74595, "lg": -75.52437 }, { "k": "CO", "l": 39.7661, "lg": -104.98776 }, { "k": "IN", "l": 40.19338, "lg": -86.15804 }, { "k": "PA", "l": 40.3634, "lg": -76.30551 }, { "k": "UT", "l": 40.65995, "lg": -111.89994 }, { "k": "NJ", "l": 40.74399, "lg": -74.2107 }, { "k": "NY", "l": 40.81538, "lg": -73.83652 }, { "k": "OH", "l": 41.01283, "lg": -82.01319 }, { "k": "NE", "l": 41.13667, "lg": -97.36838 }, { "k": "CT", "l": 41.56232, "lg": -72.77954 }, { "k": "RI", "l": 41.81371, "lg": -71.41283 }, { "k": "IA", "l": 41.84447, "lg": -92.4113 }, { "k": "IL", "l": 41.9317, "lg": -88.06701 }, { "k": "MA", "l": 42.39593, "lg": -71.137 }, { "k": "MI", "l": 42.48948, "lg": -83.35271 }, { "k": "WY", "l": 42.86663, "lg": -105.50222 }, { "k": "NH", "l": 43.07176, "lg": -71.32729 }, { "k": "WI", "l": 43.1789, "lg": -88.13898 }, { "k": "ID", "l": 43.6135, "lg": -116.39151 }, { "k": "ME", "l": 44.09785, "lg": -70.21478 }, { "k": "SD", "l": 44.36832, "lg": -98.48648 }, { "k": "VT", "l": 44.46699, "lg": -72.57539 }, { "k": "MN", "l": 44.9483, "lg": -93.26883 }, { "k": "OR", "l": 45.35734, "lg": -122.86705 }, { "k": "MT", "l": 46.59271, "lg": -111.30081 }, { "k": "WA", "l": 47.51732, "lg": -122.23167 }, { "k": "ND", "l": 47.92526, "lg": -97.03285 }, { "k": "AK", "l": 61.21806, "lg": -135.33088 }]
                this.height = '100%'; 
                this.session = this.randomString();
                this.omain = {t:'xsbrt is a completely free, anonymous site to quickly find government and public resources which serve your community. There are tens of thousands of federal and local government programs, as well as nonprofits, foundations and community services to help you build a better life. As you click around, the site will learn your interests and customize all the results based upon your needs.',id: ''};
                this.mxd = 5.01;
                this.locations = null;                                                    
                this.$vuetify.theme.dark = false;
                //window.addEventListener('beforeunload', async (event) => {
                    //event.preventDefault();
                    //event.returnValue = '';
                    //await this.processClicks();                   
                //});               
                this.mobile = this.getmobile; 
                this.sd = this.subtractDays(32);   
            },

            async mounted() {            
                let res = await this.getgNEW('zips1'); 
                this.locations = alasql("SELECT k AS st, l AS lt, lg FROM ? WHERE l IS NOT NULL ORDER BY st ASC",[res]);
                res = await localforage.getItem('fp');
                if (!res||res.length < 4) { 
                    res = await FingerprintJS.load();
                    res = await res.get();
                    res = res.visitorId;
                    localforage.setItem('fp', res);
                };  
                this.cid = res;                
                res = null;
                this.bg = await this.getgNEW('bg');
                if (this.ltlg&&this.ltlg.includes('-')) { 
                    let al = this.ltlg.split('-');    
                    this.ltlg = null;                    
                    await this.getBen(al[0],-Math.abs(al[1]));                    
                    return;
                };
                await this.getLocation();                
            }

        });        

    </script>

<style scoped="global">  

    html {
        font-size: calc(60% + 0.8vmin);
        scroll-behavior:smooth;
    }

    .v-slide-group__wrapper {
        touch-action: auto;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }

    .card_title {
        font-size: 1.08em;color:#33393D;cursor:pointer;overflow:hidden;text-overflow: ellipsis;padding-bottom:1px;-webkit-line-clamp: 3;
        justify-content: center;
        align-items: center;
        -webkit-box-orient: vertical;
    }

    .sub_label {
        color:#FFCD24; 
        font-size:0.9em;
        opacity:0.82;
        -webkit-line-clamp: 1;
        margin-bottom: 8px;
    }

    .text_shadow {
        text-shadow: 2px 2px 1px rgba(102,107,110,0.93);
    }

    .cards {
        width: 18rem;height: 8rem; overflow:hidden;text-overflow: ellipsis;padding-bottom:1px;-webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        justify-content: center;
        align-items: center;
        padding: auto;
        margin: auto;
        align-content: center;         
    }

    .cardsSmall {
        width: 15rem;
    }

    .shuffleMedium-move {
        transition: transform 1s;
    }

    .bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.scrollelement {
        content-visibility: auto;
    }

    @media print {
    * {
    -webkit-print-color-adjust: exact;
    background: white;
    color: black;
    background-color: white !important;
    color: black !important;
    font-weight: 700 !important;
    }
    }
  
  </style> 
<script defer async src="https://instant.page/1.2.0" integrity="sha384-0xWpXpkOUkAVETH+RMYJlSFIDNGlnPHgmqv2rP3uZS1BM48EMcxAZGW09n4pTGV4" crossorigin="anonymous"></script>
</body>
</html>
