<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="AI Solutions, Nonprofit Support, Social Services, Decision Making, Strategic Communication, Futuristic Analysis, Media Management, Public Relations, Reputation Management" />
    <meta name="description" content="xsbrt offers a range of AI-driven solutions: BenefitsGPS for social services, FundMagnet for nonprofit fundraising, Decision Support for making informed choices, Media Management for strategic communication, and Future for futuristic analysis and predictions, and more. Expertise and technology combined to address your unique challenges." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="xsbrt: AI-Driven Solutions for Diverse Needs" />
    <meta property="og:description" content="Explore xsbrt for a range of AI-driven solutions catering to social services, nonprofit fundraising, decision support, media management, and futuristic analysis, and more. Your one-stop hub for tailored, expert-driven approaches." />
    <meta property="og:url" content="https://xsbrt.com" />
    <meta property="og:site_name" content="xsbrt" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="xsbrt: AI-Driven Solutions" />
    <meta name="msapplication-TileImage" content="https://xsbrt.com/xsbrtimage.png" />
    <meta name="msapplication-TileColor" content="white" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="https://xsbrt.com/xsbrtimage.png" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <title>xsbrt.com: AI-Driven Solutions for Diverse Needs</title>
</head>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
    <v-app id="inspire"> 
      <headerComponent :o="{title: 'xsbrt', icon: 'mdi-lightbulb-on-outline', subtitle: null, url: 'https://xsbrt.com'}"></headerComponent>

    <v-main class="justify-center text-center ma-1">

      <welcome :o="{text: 'Explore xsbrt for a range of AI-driven solutions catering to social services, nonprofit fundraising, decision support, media management, and futuristic analysis. Your one-stop hub for tailored, expert-driven approaches.'}"></welcome>  

      <v-row class="justify-center text-center d-flex mt-2">  

          <v-card v-for="it in results" :key="it.title" ripple @click="openItem(it)" 
          class="text-center pa-1 ma-4"
          outlined
          max-width="485"
          elevation="20"
          color="indigo-lighten-5"
        >          
          <v-card-title class="headline text-primary">
            <v-icon class="pb-1 pr-1" large>{{it.icon}}</v-icon>
            {{it.title}}
          </v-card-title>
          
          <v-card-text class="body-1 text-left text-primary">{{it.description}}</v-card-text>
 
        </v-card>

      </v-row>
   
    </v-main>
    
  </v-app>

     </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="artyom.window.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script> 
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.6/xlsx.full.min.js"></script>      
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();
      const { loadModule } = window['vue3-sfc-loader'];

      async function loadComponentsAndInitApp() {          

        async function addComponent(component) {
          return await loadModule('./' + component + '.vue', {
                  moduleCache: {
                      vue: Vue
                  },
                  async getFile(url) {
                      const res = await fetch(url);
                      if (!res.ok)
                          throw Object.assign(new Error(url + ' ' + res.statusText), { res });
                      return await res.text();
                  },
                  addStyle: (textContent) => {
                      const style = document.createElement('style');
                      style.textContent = textContent;
                      document.head.appendChild(style);
                  }
              });
        }
        
      //define components
      const headerComponent = await addComponent('header');    
      const welcome = await addComponent('welcome');

      const app = createApp({

          data() {
              return {                 
                  results: getAreas()
              }
          },

          methods: {

            async openItem(it) {
              window.open(it.url,'_parent');
            }

          },

          components: {
            headerComponent,
            welcome
          },

          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>
      
    
    <style scoped>
      #app {
          width: 100%;
          height: 100vh;
          background-color: white;
      }
  </style>
  
</body>
</html>