<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords"
        content="social services, human services, resources, support, assistance, directory, search, state, local organizations, agencies, well-being, United States, food,housing,health,addiction,childcare,employment,jobs,training,job training,education,disabled,legal aid,youth,sports,recreation,seniors,veterans,goods and services,financial support,money,xsbrt.com,benefits,government benefits,legislation,congress,nonprofits,grants,foundations,resources,social services" />
    <meta name="description"
        content="Find free social and human services in your area with our comprehensive directory. Search by state and service type to access resources and support for individuals and families in need. Connect with local organizations and agencies to receive assistance and improve your well-being." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="xsbrt.com - the more you use it, the more it works" />
    <meta property="og:description"
        content="Find free social and human services in your area with our comprehensive directory. Search by state and service type to access resources and support for individuals and families in need. Connect with local organizations and agencies to receive assistance and improve your well-being." />
    <meta property="og:url" content="https://xsbrt.com" />
    <meta property="og:site_name" content="xsbrt" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="xsbrt" />
    <meta name="msapplication-TileImage" content="lightbulb.png" />
    <meta name="msapplication-TileColor" content="#121212" />
    <meta name="theme-color" content="#FFCD24" />
    <link rel="apple-touch-icon" href="lightbulb.png" />
    <link rel="icon" href="expert.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.5.8/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3/dist/fp.min.js"></script>
    <title>xsbrt.com - the more you use it, the more it works</title>
</head>

<body oncontextmenu="return false">

    <div id="app" class="wrapper">
        <v-app style="background-color:#121212;" fluid fullwidth fullheight>

            <!-- HEADER -->
            <header style="position:sticky;z-index:100;" class="pb-2" fluid fullwidth>
                <v-flex class="text-white h2" @click="window.location.replace('https://xsbrt.com');" style="cursor:pointer;">
                    <span class="material-icons md-48 pr-1">tungsten</span>xsbrt.com
                </v-flex>
            </header>
            <!-- END OF HEADER --> 

            <!-- MAIN CONTAINER -->
            <v-main class="main-container" fullwidth style="overflow-x: hidden !important;width: 100vw !important;">

                 <v-progress-linear color="#E50914" height="10" indeterminate :active="loading" rounded class="mt-4 text-white"></v-progress-linear>               
                
                <v-flex xs12 md12 style="display: flex; align-items: center; justify-content: center;">
                    <v-alert icon="sentiment_satisfied_alt" icon-color="white" class="text-white border ma-4 pa-4 h6" dismissible prominent
                    type="error" rounded max-width="800" transition="fade-transition">
                        <h4>Welcome!</h4>
                        <p class="text-left" style="font-size:1.08em;">Find free social and human services in your area with our comprehensive directory. Search by nearly any location and service type to access resources and support for individuals and families in need. Connect with local organizations and agencies to receive assistance and improve your well-being.</p>
                    </v-alert>
                </v-flex> 

                <v-container v-if="!loading" fluid class="text-white text-uppercase mt-4">
                    
                    <v-lazy v-model="isActiveCity" :options="{ threshold: .5 }" min-height="200" grow shrink>
                        <v-layout row wrap class="text-left justify-center my-4 py-4">
                            <v-flex xs12 md12 class="h5 text-center my-4 pt-3 border-top border-danger text-danger">Cities</v-flex>  
                            <v-flex v-for="it in o.cities" :key="it.st" xs6 md3 class="pa-3">
                                <a style="text-decoration:none;color:white;" target="_blank" :href="it.l" :title="it.st">{{it.st}}</a>
                            </v-flex> 
                        </v-layout>
                    </v-lazy> 
                    
                    <v-lazy v-model="isActiveZone" :options="{ threshold: .5 }" min-height="200" grow shrink>
                        <v-layout row wrap class="text-left justify-center my-4 py-4">
                            <v-flex xs12 md12 class="h5 text-center my-4 pt-3 border-top border-danger text-danger">Enterprise Zones</v-flex>  
                            <v-flex v-for="it in o.zones" :key="it.st" xs6 md3 class="pa-3">
                                <a style="text-decoration:none;color:white;" target="_blank" :href="it.l" :title="it.st">{{it.st}}</a>
                            </v-flex> 
                        </v-layout>
                    </v-lazy> 

                    <v-lazy v-model="isActiveArea" :options="{ threshold: .5 }" min-height="200" grow shrink>
                        <v-layout row wrap class="text-left justify-center my-4 py-4">
                            <v-flex xs12 md12 class="h5 text-center my-4 pt-3 border-top border-danger text-danger">Area Codes</v-flex>  
                            <v-flex v-for="it in o.areaCodes" :key="it.st" xs3 md1 class="pa-3">
                                <a style="text-decoration:none;color:white;" target="_blank" :href="it.l" :title="it.st">{{it.st}}</a>
                            </v-flex> 
                        </v-layout>
                    </v-lazy>

                    <v-lazy v-model="isActiveZip" :options="{ threshold: .5 }" min-height="200" grow shrink>
                        <v-layout row wrap class="text-left justify-center my-4 py-4 pt-3 border-top border-danger">
                            <v-flex xs12 md12 class="h5 text-center mb-2 text-danger">Zip Codes</v-flex>  
                            <v-flex v-for="it in o.zipCodes" :key="it.st" xs3 md1 class="pa-3">
                                <a style="text-decoration:none;color:white;" target="_blank" :href="it.l" :title="it.st">{{it.st}}</a>
                            </v-flex> 
                        </v-layout>
                    </v-lazy>                   

                </v-container>

            </v-main>
        </v-app>
    </div>    

    <script src="https://cdn.jsdelivr.net/npm/localforage@1.10.0/dist/localforage.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.8/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js"></script>

    <script>

        new Vue({
            el: '#app',
            mode: 'production',
            vuetify: new Vuetify(),
            data() {
                return {
                    loading: true,
                    o: {},
                    isActiveCity: false,
                    isActiveZip: false,
                    isActiveArea: false,
                    isActiveZone: false
                }
            },

            async mounted() { 
                let res = await localforage.getItem('zips1');
                if (!res||res.length < 2) {
                    res = await axios.get('https://xsbrt.com/zips1.json');
                    res = res.data;
                    try {
                        localforage.setItem('zips1', res);
                    } 
                    catch {
                        console.clear();
                    };                    
                }; 
                this.o = {areaCodes: [], zipCodes: [], cities: [], zones: [] };
                for (let oo, st, lng, lk = 'https://xsbrt.com/?fp=', stct, stl = new Set(['new','north','rhode','south','west']), i = 0, ll = res.length; i < ll; i++) {
                     oo = res[i]; 
                     st = oo.st;
                     oo["l"] = lk + oo.lt + oo.lg;
                     lng = st.length;
                     if (lng === 3) {
                        this.o.areaCodes.push(oo);
                        continue;
                     };
                     if (lng === 5&&!isNaN(st.charAt(1))) {
                        this.o.zipCodes.push(oo);
                        continue;
                     }
                     if (st.includes(' ')) {
                        st = st.trim().toLowerCase();
                        if (st.includes(',')||st.includes('county')||st.includes('community')||st.includes('empower')||st.includes('enterprise')||st.includes('zone')||st.includes('renewal')) {
                            this.o.zones.push(oo);
                            continue;
                        };
                        stct = st.split(' ');                        
                        if (stct.length > 2||!stl.has(stct[0])) {
                            this.o.cities.push(oo);
                            continue;
                        };
                    }; 
                };
                this.loading = false;              
                res = null;
            }

        }); 

    </script>
    <style>
         :root {--primary: #141414;--light: #F3F3F3;--dark: #686868;}.text_shadow {text-shadow: 2px 2px 1px rgba(102, 107, 110, 0.93);}.text_shadow2 {text-shadow: 0.5px 0.5px 0.2px rgba(249, 251, 252, 0.93);}html, body {width: 100vw;min-height: 100vh;margin: 0;padding: 1px;background-color: var(--primary);color: var(--light);font-family: Arial, Helvetica, sans-serif;box-sizing: border-box;line-height: 1.4;}img {max-width: 100%;}h1 {padding-top: 60px;padding-left: 7px;}.wrapper {margin: 0;padding: 0;}header {padding: 20px 20px 0 20px;position: fixed;top: 0;display: grid;grid-gap: 5px;grid-template-columns: 1fr 4fr 1fr;grid-template-areas: "nt mn mn sb . . . ";background-color: var(--primary);width: 100%;margin-bottom: 0px;}.netflixLogo {grid-area: nt;object-fit: cover;width: 100px;max-height: 100%;padding-left: 30px;padding-top: 0px;}.netflixLogo img {height: 35px;}#logo {color: #E50914;margin: 0;padding: 0;}.main-nav {grid-area: mn;padding: 0 30px 0 20px;}.main-nav a {color: var(--light);text-decoration: none;margin: 5px;}.main-nav a:hover {color: var(--dark);}.sub-nav {padding: 0 40px 0 40px;}.sub-nav a {color: var(--light);text-decoration: none;margin: 5px;}.sub-nav a:hover {color: var(--dark);}.main-container {padding: 50px;}.box {display: grid;grid-gap: 20px;grid-template-columns: repeat(6, minmax(100px, 1fr));}.box a {transition: transform .3s;}.box a:hover {transition: transform .3s;-ms-transform: scale(1.4);-webkit-transform: scale(1.4);transform: scale(1.4);}.box img {border-radius: 2px;}.link {padding: 50px;}.sub-links ul {list-style: none;padding: 0;display: grid;grid-gap: 20px;grid-template-columns: repeat(4, 1fr);}.sub-links a {color: var(--dark);text-decoration: none;}.sub-links a:hover {color: var(--dark);text-decoration: underline;}.logos a {padding: 10px;}.logo {color: var(--dark);}footer {padding: 20px;text-align: center;color: var(--dark);margin: 10px;}@media(max-width: 900px) {header {display: grid;grid-gap: 20px;grid-template-columns: repeat(2, 1fr);grid-template-areas: "nt nt nt . . . sb . . . " "mn mn mn mn mn mn mn mn mn mn";}.box {display: grid;grid-gap: 20px;grid-template-columns: repeat(4, minmax(100px, 1fr));}}@media(max-width: 700px) {header {display: grid;grid-gap: 20px;grid-template-columns: repeat(2, 1fr);grid-template-areas: "nt nt nt . . . sb . . . " "mn mn mn mn mn mn mn mn mn mn";}.box {display: grid;grid-gap: 20px;grid-template-columns: repeat(3, minmax(100px, 1fr));}.sub-links ul {display: grid;grid-gap: 20px;grid-template-columns: repeat(3, 1fr);}}@media(max-width: 500px) {.wrapper {font-size: 15px;}header {margin: 0;padding: 20px 0 0 0;position: static;display: grid;grid-gap: 20px;grid-template-columns: repeat(1, 1fr);grid-template-areas: "nt" "mn" "sb";text-align: center;}.netflixLogo {max-width: 100%;margin: auto;padding-right: 20px;}.main-nav {display: grid;grid-gap: 0px;grid-template-columns: repeat(1, 1fr);text-align: center;}h1 {text-align: center;font-size: 18px;}.box {display: grid;grid-gap: 20px;grid-template-columns: repeat(1, 1fr);text-align: center;}.box a:hover {transition: transform .3s;-ms-transform: scale(1);-webkit-transform: scale(1);transform: scale(1.2);}.logos {display: grid;grid-gap: 20px;grid-template-columns: repeat(2, 1fr);text-align: center;}.sub-links ul {display: grid;grid-gap: 20px;grid-template-columns: repeat(1, 1fr);text-align: center;font-size: 15px;}
    </style>
</body>

</html>