<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="Social Services, AI-Resource Finder, Nonprofit, NGO, Local Services, Federal Resources, Family Benefits, Life Coaching" />
    <meta name="description" content="BenefitsGPS is your digital guide to social services. Powered by AI, we connect you to nonprofits, NGOs, and local to federal resources tailored to your needs. With expertise rooted in over 20 years of social work, we simplify complex benefits into 8th-grade level explanations. Let BenefitsGPS navigate the best resources for you." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="BenefitsGPS: Your Digital Guide to Social Services" />
    <meta property="og:description" content="BenefitsGPS is your digital guide to social services. Powered by AI, we connect you to nonprofits, NGOs, and local to federal resources tailored to your needs. Let BenefitsGPS navigate the best resources for you." />
    <meta property="og:url" content="https://xsbrt.com/benefitsGPS.html" />
    <meta property="og:site_name" content="BenefitsGPS - Navigate Your Benefits" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="BenefitsGPS: Navigate Your Benefits" />    
    <meta name="msapplication-TileImage" content="gps.png" />
    <meta name="msapplication-TileColor" content="white" />
    <meta name="msapplication-TileImage" content="gps.png" />
    <meta name="msapplication-TileColor" content="white" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="gps.png" />
    <link rel="icon" href="navigator.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <title>BenefitsGPS - Your digital guide to social services</title>
</head>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
    <v-app id="inspire"> 
      <headerComponent :o="{title: 'BenefitsGPS', icon: 'mdi-crosshairs-gps', subtitle: 'Your digital guide to social services', url: 'https://xsbrt.com/benefitsgps'}"></headerComponent>

    <v-main class="justify-center text-center ma-2">
      <v-row class="justify-center my-1">  
        
        <v-col cols="auto" sm="12" md="4">
            <previousSessions :o="o" :key="session" @my-session="previousSession"></previousSessions>
        </v-col>

        <v-col cols="auto" sm="12" md="10">
            <mission :o="{
                label: 'Describe Your Social Service Needs',
                hint: 'Share your story and needs. Let us find the right resources for you!',
                placeholder: 'What challenges are you facing? What kind of support are you looking for?'
            }" @speech-recognized="processSpeech"></mission>             
        </v-col>

      </v-row>

      <v-btn 
      v-if="showLoad" 
      color="primary" 
      elevation="12"
      variant="tonal"
      size="large"
      rounded  
      ripple
      @click="gatherResults" 
      class="mb-4 pa-2 text-center justify-center" 
      :loading="loading"
    >
    <v-icon class="pr-1">mdi-crosshairs-gps</v-icon>
    Discover Resources!
    </v-btn> 

    <v-container v-if="o&&o.results" fluid class="mt-4 d-flex text-center justify-center">

       <v-row>

        <v-col
          v-for="it in o.results"
          :key="it.name"
          cols="12"  
          sm="6"    
          md="4"   
          lg="3">   
          
          <v-card
            class="text-center ma-2"
            outlined
            elevation="20"
            color="indigo-lighten-5"
          >
          <v-card-text>
            <v-card-title class="headline text-primary">{{it.name}}</v-card-title>
            <v-card-subtitle class="mb-2 text-primary font-weight-bold">
              <div><a style="text-decoration:none;" class="text-primary" :href="'tel:' + it.phone">{{it.phone}}</a></div>
              <a :href="it.website" class="text-primary" style="text-decoration: none;" target="_blank">
                {{it.website}}
              </a>
            </v-card-subtitle>
            
            <v-card-text class="body-1 mt-2 text-left text-primary">{{it.directions}}</v-card-text>
   
            <v-card-actions class="text-center justify-center">
              <v-btn ripple variant="tonal" elevation="6" class="mx-2" color="primary" title="Click here to share" icon="mdi-share" @click="shareItem(it)">
              </v-btn>

            <v-btn 
              icon 
              class="mx-2"
              color="success" 
              variant="tonal"
              title="Notes"
              elevation="4"
              @click="note=it;console.log(notes.length);console.clear();"
            >
              <v-icon size="large">mdi-note</v-icon>
            </v-btn>
           
            </v-card-actions>
          </v-card>

        </v-col>

       </v-row>

    </v-container> 
   
    </v-main>
    
  </v-app>

     </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="artyom.window.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script> 
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.6/xlsx.full.min.js"></script>      
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();
      const { loadModule } = window['vue3-sfc-loader'];

      async function loadComponentsAndInitApp() {          

        async function addComponent(component) {
          return await loadModule('./' + component + '.vue', {
                  moduleCache: {
                      vue: Vue
                  },
                  async getFile(url) {
                      const res = await fetch(url);
                      if (!res.ok)
                          throw Object.assign(new Error(url + ' ' + res.statusText), { res });
                      return await res.text();
                  },
                  addStyle: (textContent) => {
                      const style = document.createElement('style');
                      style.textContent = textContent;
                      document.head.appendChild(style);
                  }
              });
        }
        
      //define components
      const headerComponent = await addComponent('header');
      const mission = await addComponent('speechText');
      const previousSessions = await addComponent('previousSessions');

      const app = createApp({

          data() {
              return {
                  o: {description: ''},
                  session: randomString(),
                  loading: false
              }
          }, 
          
          computed: {
              showLoad() {
                  return (this.o.description && this.o.description.length > 9) || this.o.speech;
              }
          },

          created() { 
              createStorage('benefitsGPS');
              this.role =  "You are a highly knowledgeable assistant with extensive experience in social work, community development, and economic frameworks. You have a deep understanding of the Urban Institutes Upward Mobility Framework, Doughnut Economics by Kate Raworth, and various local and federal resources available to support underserved populations. Your expertise also includes explaining complex concepts in a simple and accessible manner, suitable for an 8th-grade audience. A user is seeking assistance to connect with resources and programs that can support their community, particularly focusing on underserved populations. They are interested in initiatives that promote economic inclusion, housing affordability, social justice, and ecological sustainability. Using your knowledge up to September 2021, provide a comprehensive guide that integrates the principles of Doughnut Economics and the Upward Mobility Framework. Highlight relevant organizations, nonprofits, NGOs, and local/federal programs that align with these frameworks and can significantly benefit the user’s community. Ensure that your response is structured as a JSON array containing 16 objects, each representing a different resource. Each object should include the following fields: 'name', 'phone', 'website', and 'directions'. The 'directions' field should provide clear, concise, and actionable guidance on how to engage with the resource, tailored to an 8th-grade audience. Remember, the goal is to empower the user and their community by connecting them with the most relevant and impactful resources, fostering a supportive environment for underserved populations, and promoting sustainable and inclusive development.";   
          },

          watch: {

              o: function (newValue) {
                  return newValue;
              }
          },

          async mounted() { 
              this.o.session = this.session; 
              this.o.id = await retrieveId();
              this.o.location = await getDeviceLocation();
              this.role = "You are a highly advanced language model with the capability to generate responses using the DSPy approach, which emphasizes dynamic, adaptable, and systematic strategies for prompt engineering. Please analyze the input text, extract the relevant information, and provide a response in the following JSON structure: {status: success, data: {response: Your answer here"}}. Ensure that your response is tailored to the specific context of the input, and avoid using hard-coded or overly verbose prompts. If you are unable to understand the input or need more information, respond with: {"status": "error", "message": "I need more information to proceed"}. Here is the input text: You are a highly knowledgeable assistant with extensive experience in social work, community development, and economic frameworks. You have a deep understanding of the Urban Institutes Upward Mobility Framework, Doughnut Economics by Kate Raworth, and various local and federal resources available to support underserved populations. Your expertise also includes explaining complex concepts in a simple and accessible manner, suitable for an 8th-grade audience. A user residing at latitude: 38.973559, longitude: -77.0261601 is seeking assistance to connect with resources and programs that can support their community, particularly focusing on underserved populations. They are interested in initiatives that promote economic inclusion, housing affordability, social justice, and ecological sustainability. Using your knowledge up to September 2021, provide a comprehensive guide that integrates the principles of Doughnut Economics and the Upward Mobility Framework, tailored to their geographic location. Highlight relevant organizations, nonprofits, NGOs, and local/federal programs within or accessible from their location that align with these frameworks and can significantly benefit the user’s community. Ensure that your response is structured as a JSON array containing 16 objects, each representing a different resource. Each object should include the following fields: 'name', 'phone', 'website', and 'directions'. The 'directions' field should provide clear, concise, and actionable guidance on how to engage with the resource, tailored to an 8th-grade audience and the user's geographic location. Remember, the goal is to empower the user and their community by connecting them with the most relevant and impactful resources, fostering a supportive environment for underserved populations, and promoting sustainable and inclusive development.";
              if (this.o.location) {
                this.role = "You are a highly knowledgeable assistant with extensive experience in social work, community development, and economic frameworks. You have a deep understanding of the Urban Institutes Upward Mobility Framework, Doughnut Economics by Kate Raworth, and various local and federal resources available to support underserved populations. Your expertise also includes explaining complex concepts in a simple and accessible manner, suitable for an 8th-grade audience. A user residing at latitude: 38.973559, longitude: -77.0261601 is seeking assistance to connect with resources and programs that can support their community, particularly focusing on underserved populations. They are interested in initiatives that promote economic inclusion, housing affordability, social justice, and ecological sustainability. Using your knowledge up to September 2021, provide a comprehensive guide that integrates the principles of Doughnut Economics and the Upward Mobility Framework, tailored to their geographic location. Highlight relevant organizations, nonprofits, NGOs, and local/federal programs within or accessible from their location that align with these frameworks and can significantly benefit the user’s community. Ensure that your response is structured as a JSON array containing 16 objects, each representing a different resource. Each object should include the following fields: 'name', 'phone', 'website', and 'directions'. The 'directions' field should provide clear, concise, and actionable guidance on how to engage with the resource, tailored to an 8th-grade audience and the user's geographic location. Remember, the goal is to empower the user and their community by connecting them with the most relevant and impactful resources, fostering a supportive environment for underserved populations, and promoting sustainable and inclusive development.";
              };
              console.log(this.role);
          },

          methods: { 

            async processSpeech(o) {
              if (!o||o.results.length < 10) { return };
              this.o = Vue.reactive({ description: o.results });
              console.log(this.o);
              console.clear();
              if (o.speech) { this.gatherResults(); };
              o = null;
            },

            async previousSession(o) {
                if (!o||!o.description) { return };  
                this.o = Vue.reactive(o);
                console.log(this.o);
                o = null;
                console.clear();
            },

            async gatherResults() {
                if (!this.o||!this.o.description||this.o.description.length < 5) { return };
                console.clear();  
                this.loading = true;
                if (this.o.results) { delete this.o.results };
                this.o["description"] = this.o.description.replace(/\s+/g, ' ').trim();
                let description = 'This customer is asking about the following: ' + this.o.description;
                const messages = [
                  { role: "system",  content: this.role },                
                  { role: "user", content: JSON.stringify("Return a JSON array of 16 objects formatted as {result: [{name: '', phone: '202-123-4567', website: '', directions: 'in clear, concise detail, tell the customer what they need to ask for as if they were in 8th grade, three sentences maximum'} ]) of any helpful organizations, nonprofits, NGOs, as well as any local and federal programs the requestor may benefit from. There should be no more than five government options in the results. No hypotheticals, hallucinations or made-up information. Order the results from most to least important based on all of the request. " + description.trim()) }
                ];                
                let res = await getResults(messages,0.2);
                if (res) {
                  this.o["results"] = alasql("SELECT * FROM ? WHERE name IS NOT NULL GROUP BY name",[res.result]);                  
                }; 
                this.loading = false;
                saveEntity(this.o);
                this.session = randomString(); 
            },

            
          },

          components: {
            headerComponent,
            mission,
            previousSessions
          },

          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>
      
    
    <style scoped>
      #app {
          width: 100%;
          height: 100vh;
          background-color: white;
      }
  
      .overlay-container {
          overflow: auto;
      }
  
      .overlay-card {
          max-width: 90%;
          margin: auto;
      }
  
      .overlay-title {
          font-size: 1.5em;
          font-weight: bold;
      }
  
      .overlay-subtitle {
          font-size: 1.2em;
      }
  
      .overlay-content {
          overflow-y: auto;
          max-height: 70vh;
      }
  
      .result-text {
          font-size: 1.1em;
          white-space: pre-wrap;
          word-wrap: break-word;
      }
  
      .action-title {
          font-weight: bold;
          letter-spacing: 1.2px;
      }
  
      .subtitle {
          font-size: 0.8em;
          margin-left: 5px;
      }
  
      .action-button {
          font-weight: bold;
          letter-spacing: 1.2px;
          transition: all 0.3s ease;
      }
  
      .action-button:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }
  
      .action-textarea {
          border: 2px solid var(--primary-color);
          border-radius: 8px;
          transition: all 0.3s ease;
      }
  
      .action-textarea:focus-within {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  </style>
  
</body>
</html>