<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BenefitsGPS | Find Local Nonprofit and Government Programs for Your Needs</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/artyom.js@1.0.6/build/artyom.window.min.js"></script>
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      font-family: 'Inter', sans-serif;
    }

    #app {
      display: flex;
      height: 100vh;
    }

    .v-application {
      background-color: #f5f5f5;
    }

    .sidebar {
      background-color: #1976D2;
      width: 250px;
      display: flex;
      flex-direction: column;
      color: #fff;
      padding: 20px;
    }

    .sidebar .sidebar-title {
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .sidebar .nav-item {
      margin-bottom: 1rem;
      cursor: pointer;
    }

    .content-area {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding: 20px;
      overflow-y: auto;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .header .title {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .search-section, .results-section {
      margin-bottom: 40px;
    }

    .results-section-title {
      font-weight: 700;
      display: flex;
      align-items: center;
      color: #1976D2;
      margin-bottom: 16px;
    }

    .result-card {
      transition: transform 0.2s, box-shadow 0.2s;
    }

    .result-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .loading-indicator {
      margin-top: 20px;
    }

    .v-btn {
      border-radius: 8px;
    }
  </style>
</head>

<body>
  <div id="app">
    <v-app>
      <!-- Sidebar -->
      <div class="sidebar">
        <h2 class="sidebar-title">BenefitsGPS</h2>
        <div class="nav-item" @click="scrollToSection('search-section')">
          <v-icon left>mdi-magnify</v-icon> Search
        </div>
        <div class="nav-item" @click="scrollToSection('recommendations-section')">
          <v-icon left>mdi-account-multiple</v-icon> Personalized Recommendations
        </div>
        <div class="nav-item" @click="scrollToSection('programs-section')">
          <v-icon left>mdi-home-search</v-icon> Assistance Programs
        </div>
      </div>

      <!-- Content Area -->
      <div class="content-area">
        <!-- Header -->
        <div class="header">
          <div class="title">Find Assistance Programs Tailored to Your Needs</div>
        </div>

        <!-- Search Section -->
        <div id="search-section" class="search-section">
          <v-textarea v-model="userInput" label="Describe your situation (e.g., 'Single mother seeking housing and childcare support in New York City.')"
            rows="4" outlined clearable class="mb-4"></v-textarea>
          <v-btn color="secondary" @click="startStopListening" block class="mb-3">
            <v-icon left>{{ listening ? 'mdi-microphone-off' : 'mdi-microphone' }}</v-icon>
            {{ listening ? 'Stop Listening' : 'Speak Your Situation' }}
          </v-btn>
          <v-btn color="primary" block @click="fetchBenefitsData" :disabled="loading">
            <v-icon left>mdi-magnify</v-icon> Search for Programs
          </v-btn>
          <v-progress-linear v-if="loading" indeterminate color="primary" class="loading-indicator"></v-progress-linear>
        </div>

        <!-- Recommendations Section -->
        <div id="recommendations-section" class="results-section" v-if="results && results.recommendations">
          <h3 class="results-section-title"><v-icon left>mdi-account-multiple</v-icon> Personalized Recommendations</h3>
          <v-list dense>
            <v-list-item v-for="(rec, index) in results.recommendations" :key="index">
              <v-list-item-content>
                <v-list-item-title class="font-weight-bold">{{ rec.recommendation }}</v-list-item-title>
                <v-list-item-subtitle>Benefit: {{ rec.benefit }}</v-list-item-subtitle>
                <v-list-item-subtitle>Cost: {{ rec.cost }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </div>

        <!-- Available Programs Section -->
        <div id="programs-section" class="results-section" v-if="results && results.results">
          <h3 class="results-section-title"><v-icon left>mdi-home-search</v-icon> Available Assistance Programs</h3>
          <v-row>
            <v-col v-for="(result, index) in results.results" :key="index" cols="12" sm="6">
              <v-card class="result-card mb-3" outlined>
                <v-card-title class="font-weight-bold">{{ result.name }}</v-card-title>
                <v-card-subtitle>{{ result.type }}</v-card-subtitle>
                <v-card-text>{{ result.description }}</v-card-text>
                <v-card-actions>
                  <v-btn text icon :href="result.website" target="_blank">
                    <v-icon>mdi-web</v-icon>
                  </v-btn>
                  <v-btn text icon @click="copyToClipboard(result.phone)">
                    <v-icon>mdi-phone</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </div>
      </div>
    </v-app>
  </div>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          userInput: '',
          loading: false,
          results: null,
          artyom: null,
          listening: false,
          pauseTimeout: null,
          pauseDuration: 4000
        };
      },
      created() {
        this.initArtyom();
      },
      methods: {
        async fetchBenefitsData() {
          if (!this.userInput) return;
          this.loading = true;
          this.results = null;
          try {
            const endpoint = 'https://benefitsgps.xsbrt.workers.dev/';
            const params = new URLSearchParams({
              user_input: this.userInput
            });
            const url = `${endpoint}?${params.toString()}`;
            const response = await fetch(url, {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json',
                'Referer': window.location.href,
              },
            });
            if (!response.ok) {
              throw new Error(`Error: ${response.status} - ${response.statusText}`);
            }
            const data = await response.json();
            this.results = JSON.parse(data);
          } catch (error) {
            console.error('Error fetching data:', error);
          } finally {
            this.loading = false;
          }
        },
        copyToClipboard(text) {
          navigator.clipboard.writeText(text).then(() => {
            alert('Copied to clipboard');
          });
        },
        initArtyom() {
          this.artyom = new Artyom();
        },
        startStopListening() {
          if (this.listening) {
            this.stopArtyom();
            this.fetchBenefitsData();
          } else {
            this.startArtyom();
          }
        },
        startArtyom() {
          this.artyom.initialize({
            lang: "en-US",
            continuous: true,
            listen: true,
            debug: true,
            speed: 1
          }).then(() => {
            console.log("Artyom is continuously listening...");
            this.listening = true;
            this.resetPauseTimeout();
          }).catch((err) => {
            console.error("Artyom couldn't start the recognition.", err);
          });

          this.artyom.addCommands({
            indexes: ["*"],
            smart: true,
            action: (i, wildcard) => {
              this.userInput = this.userInput ? `${this.userInput} ${wildcard}` : wildcard;
              this.resetPauseTimeout();
            }
          });
        },
        stopArtyom() {
          clearTimeout(this.pauseTimeout);
          this.artyom.fatality().then(() => {
            console.log("Artyom has stopped listening.");
            this.listening = false;
          });
        },
        resetPauseTimeout() {
          clearTimeout(this.pauseTimeout);
          this.pauseTimeout = setTimeout(() => {
            this.stopArtyom();
            this.fetchBenefitsData();
          }, this.pauseDuration);
        },
        scrollToSection(sectionId) {
          const section = document.getElementById(sectionId);
          if (section) {
            section.scrollIntoView({ behavior: 'smooth' });
          }
        }
      }
    });
  </script>
</body>

</html>
