<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BenefitsGPS</title>
  <meta name="description" content="Track Performance Evaluator is a web-based application that analyzes track and field performance, providing comprehensive insights into athlete's performance, age group classification, meet ratings, competitiveness ratings, and scholarship projections.">
  <meta name="keywords" content="track and field, performance evaluation, athlete analysis, track performance, field events, athlete scholarships, sports performance, track event analysis, field event analysis">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.js"></script>
</head>
<body>
  <div id="app">
    <v-app>
      <v-container>
        <v-card flat tile class="text-center justify-center">
          <v-card-title class="primary--text text-center justify-center d-flex mt-4" headline>
            <v-icon large class="pb-1 pr-1" color="primary">mdi-run</v-icon>
            BenefitsGPS
          </v-card-title>
          <v-progress-linear v-show="loading" indeterminate color="primary" class="my-4"></v-progress-linear>
          <v-card-text v-if="results&&results.recommendations&&results.results" class="text-left align-start">
            <v-row>
              <v-col xs="12" sm="12" md="4" lg="4" xl="4">
                <v-list dense>
                  <v-list-item v-for="it in results.recommendations" :key="it.recommendation">
                    <v-list-item-content>
                      <v-list-item-title class="subtitle-1 font-weight-bold">{{ it.recommendation }}</v-list-item-title>
                      <v-list-item-subtitle>Benefit: {{ it.benefit }}</v-list-item-subtitle>
                      <v-list-item-subtitle>Cost: {{ it.cost }}</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-col>
              <v-col xs="12" sm="12" md="8" lg="8" xl="6">
                <v-row no-gutters>
                  <v-col xs="12" sm="12" md="3" lg="3" xl="3">
                    <v-card v-for="it in results.results" :key="it.name" elevation="8" rounded>
                      <v-card-title>
                        {{ it.name }}
                      </v-card-title>
                      <v-card-text>{{ it.description }}</v-card-text>
                    </v-card>
                  </v-col>
                </v-row>
              </v-col>              
            </v-row>
          </v-card-text>
        </v-card>
      </v-container>
    </v-app>
  </div>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          txt: '',
          loading: false,
          results: null
        };
      },

      async mounted() {
        try {
            this.fetchBenefitsData('22 year old yemen immigrant female with an infant living in Provo UT');
          //const params = new URL(document.location).searchParams;
          //if (!params.get("gender")||!params.get("dob")||!params.get("event")||!params.get("timeOrMark")) { return; };          
        } catch(error) {console.log(error);return;};
      },

      methods: {

        async fetchBenefitsData(userInput) {  
            this.loading = true;          
            try {
                this.results = null;
                console.log(userInput);
                const endpoint = 'https://benefitsgps.xsbrt.workers.dev/';
                const params = new URLSearchParams({
                    user_input: userInput
                });
                const url = `${endpoint}?${params.toString()}`;
                const response = await fetch(url, {
                    method: 'GET', 
                    headers: {
                        'Content-Type': 'application/json',
                        'Referer': window.location.href, 
                    },
                });
                if (!response.ok) {
                    throw new Error(`Error: ${response.status} - ${response.statusText}`);
                };
                const data = await response.json();
                this.results = JSON.parse(data);
                console.log(this.results);
            } catch (error) {
                // Handle any errors that occur during the fetch
                console.error('Error fetching data:', error);
            }
            this.loading = false;
        },

        async shareResults() {
          try {
            if (navigator.share) {
                const queryString = new URLSearchParams({ gender: this.gender, dob: this.dob, event: this.event, timeOrMark: this.timeOrMark }).toString();
                await navigator.share({
                  title: 'Track Performance',
                  text: 'Check out this performance!',
                  url: `https://xsbrt.com/trackPerformance/?${queryString}`
              });
            };
          } catch{e} { return; };
        },


      }
    });
  </script>
</body>
</html>