<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BenefitsGPS | Find Local Nonprofit and Government Programs for Your Needs</title>
  <meta name="description" content="BenefitsGPS connects you to personalized local nonprofit, federal, and government assistance programs based on your specific needs, such as housing, employment, healthcare, and more.">
  <meta name="keywords" content="benefits, government programs, nonprofit services, local assistance, federal assistance, social services, healthcare programs, employment support, housing assistance">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" rel="preload"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.js" rel="preload"></script>
  <script src="https://cdn.jsdelivr.net/npm/artyom.js@1.0.6/build/artyom.window.min.js"></script>
  <style>
    body {
      font-family: 'Inter', sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;
    }

    .title-icon {
      font-size: 2rem;
      color: #1976D2;
    }

    .v-card-title {
      color: #1976D2;
      font-weight: 600;
    }

    .v-card-subtitle {
      color: #555;
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
    }

    .v-btn {
      border-radius: 8px;
    }

    .results-section-title {
      font-weight: 700;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      color: #1976D2;
    }

    .results-section-title v-icon {
      margin-right: 8px;
    }

    .result-card {
      transition: transform 0.2s, box-shadow 0.2s;
    }

    .result-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .loading-indicator {
      margin-top: 20px;
    }

    @media (min-width: 768px) {
      .main-card {
        max-width: 1000px; /* Wider on larger screens */
        margin: 40px auto; /* More space around the card */
      }

      .v-container {
        padding-left: 48px;
        padding-right: 48px;
      }
    }

    @media (min-width: 1200px) {
      .main-card {
        max-width: 1200px; /* Even wider on very large screens */
      }
    }
  </style>
</head>

<body>
  <div id="app">
    <v-app>
      <!-- Main Container -->
      <v-container fluid class="d-flex align-center justify-center fill-height">
        <v-card class="main-card px-5 py-4 mx-auto" elevation="3">
          <!-- Title -->
          <v-card-title class="text-h5 text-center d-flex justify-center align-center">
            <v-icon class="title-icon mr-2">mdi-map-marker</v-icon>
            Find Assistance Programs Tailored to Your Needs
          </v-card-title>
          <v-card-subtitle class="text-center">
            Discover the best local nonprofit, federal, and government programs based on your current situation.
          </v-card-subtitle>

          <!-- Input Field for User Query -->
          <v-textarea v-model="userInput" label="Describe your situation (e.g., 'Single mother seeking housing and childcare support in New York City.')"
            rows="4" outlined clearable class="mb-4"></v-textarea>

          <!-- Voice Input Button -->
          <v-btn color="secondary" @click="startStopListening" block class="mb-3">
            <v-icon left>{{ listening ? 'mdi-microphone-off' : 'mdi-microphone' }}</v-icon>
            {{ listening ? 'Stop Listening' : 'Speak Your Situation' }}
          </v-btn>

          <!-- Search Button -->
          <v-btn color="primary" block @click="fetchBenefitsData" :disabled="loading">
            <v-icon left>mdi-magnify</v-icon> Search for Programs
          </v-btn>

          <!-- Loading Indicator -->
          <v-progress-linear v-if="loading" indeterminate color="primary" class="loading-indicator"></v-progress-linear>

          <!-- Results Section -->
          <v-divider v-if="results && (results.recommendations || results.results)" class="my-4"></v-divider>
          <v-card-text v-if="results && (results.recommendations || results.results)">
            <h3 class="results-section-title"><v-icon left>mdi-account-multiple</v-icon> Personalized Recommendations</h3>
            <v-list dense v-if="results.recommendations">
              <v-list-item v-for="(rec, index) in results.recommendations" :key="index">
                <v-list-item-content>
                  <v-list-item-title class="font-weight-bold">{{ rec.recommendation }}</v-list-item-title>
                  <v-list-item-subtitle>Benefit: {{ rec.benefit }}</v-list-item-subtitle>
                  <v-list-item-subtitle>Cost: {{ rec.cost }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>

            <h3 class="results-section-title mt-4"><v-icon left>mdi-home-search</v-icon> Available Assistance Programs</h3>
            <v-row>
              <v-col v-for="(result, index) in results.results" :key="index" cols="12" sm="6" md="4">
                <v-card class="result-card mb-3" outlined>
                  <v-card-title class="font-weight-bold">{{ result.name }}</v-card-title>
                  <v-card-subtitle>{{ result.type }}</v-card-subtitle>
                  <v-card-text>{{ result.description }}</v-card-text>
                  <v-card-actions>
                    <v-btn text icon :href="result.website" target="_blank">
                      <v-icon>mdi-web</v-icon>
                    </v-btn>
                    <v-btn text icon @click="copyToClipboard(result.phone)">
                      <v-icon>mdi-phone</v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-container>
    </v-app>
  </div>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          userInput: '',
          loading: false,
          results: null,
          artyom: null,
          listening: false,
          pauseTimeout: null,
          pauseDuration: 4000
        };
      },
      created() {
        this.initArtyom();
      },
      methods: {
        async fetchBenefitsData() {
          if (!this.userInput) return;
          this.loading = true;
          this.results = null;
          try {
            const endpoint = 'https://benefitsgps.xsbrt.workers.dev/';
            const params = new URLSearchParams({
              user_input: this.userInput
            });
            const url = `${endpoint}?${params.toString()}`;
            const response = await fetch(url, {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json',
                'Referer': window.location.href,
              },
            });
            if (!response.ok) {
              throw new Error(`Error: ${response.status} - ${response.statusText}`);
            }
            const data = await response.json();
            this.results = JSON.parse(data);
          } catch (error) {
            console.error('Error fetching data:', error);
          } finally {
            this.loading = false;
          }
        },
        copyToClipboard(text) {
          navigator.clipboard.writeText(text).then(() => {
            alert('Copied to clipboard');
          });
        },
        initArtyom() {
          this.artyom = new Artyom();
        },
        startStopListening() {
          if (this.listening) {
            this.stopArtyom();
            this.fetchBenefitsData();
          } else {
            this.startArtyom();
          }
        },
        startArtyom() {
          this.artyom.initialize({
            lang: "en-US",
            continuous: true,
            listen: true,
            debug: true,
            speed: 1
          }).then(() => {
            console.log("Artyom is continuously listening...");
            this.listening = true;
            this.resetPauseTimeout();
          }).catch((err) => {
            console.error("Artyom couldn't start the recognition.", err);
          });

          this.artyom.addCommands({
            indexes: ["*"],
            smart: true,
            action: (i, wildcard) => {
              this.userInput = this.userInput ? `${this.userInput} ${wildcard}` : wildcard;
              this.resetPauseTimeout();
            }
          });
        },
        stopArtyom() {
          clearTimeout(this.pauseTimeout);
          this.artyom.fatality().then(() => {
            console.log("Artyom has stopped listening.");
            this.listening = false;
          });
        },
        resetPauseTimeout() {
          clearTimeout(this.pauseTimeout);
          this.pauseTimeout = setTimeout(() => {
            this.stopArtyom();
            this.fetchBenefitsData();
          }, this.pauseDuration);
        }
      }
    });
  </script>
</body>

</html>
