<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BenefitsGPS | Find Local Nonprofit and Government Programs for Your Needs</title>
  <meta name="description" content="BenefitsGPS connects you to personalized local nonprofit, federal, and government assistance programs based on your specific needs, such as housing, employment, healthcare, and more.">
  <meta name="keywords" content="benefits, government programs, nonprofit services, local assistance, federal assistance, social services, healthcare programs, employment support, housing assistance">
  
  <!-- Meta Tags for Social Sharing -->
  <meta property="og:title" content="BenefitsGPS | Find Local Nonprofit and Government Programs for Your Needs">
  <meta property="og:description" content="Discover local nonprofit, federal, and government assistance programs tailored to your needs, such as housing, employment, and healthcare.">
  <meta property="og:image" content="https://example.com/social-share-image.jpg">
  <meta property="og:url" content="https://example.com">
  <meta name="twitter:card" content="summary_large_image">

  <!-- Font and Vuetify CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.css" rel="stylesheet">

  <!-- Vue and Vuetify JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.js"></script>

  <!-- Additional Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/artyom.js@1.0.6/build/artyom.window.min.js"></script>

  <style>
    body {
      font-family: 'Inter', sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;
    }

    .title-icon {
      font-size: 2rem;
      color: #1976D2;
    }

    .v-card-title {
      color: #1976D2;
      font-weight: 600;
    }

    .v-card-subtitle {
      color: #555;
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
    }

    .v-btn {
      border-radius: 8px;
    }

    .results-section-title {
      font-weight: 700;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      color: #1976D2;
    }

    .results-section-title v-icon {
      margin-right: 8px;
    }

    .result-card {
      transition: transform 0.2s, box-shadow 0.2s;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .result-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .result-card-title {
      font-size: 1.2rem;
      font-weight: 500;
      color: #1976D2;
      text-decoration: none;
    }

    .loading-indicator {
      margin-top: 20px;
    }

    .v-card-actions {
      padding-top: 0;
    }

    .v-card-text,
    .v-card-subtitle {
      padding-bottom: 16px;
    }

    .section-spacing {
      margin-bottom: 40px;
    }

    a {
      text-decoration: none;
    }

    .icon-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border: none;
      background: none;
      cursor: pointer;
      color: #1976D2;
      border-radius: 50%;
      transition: background-color 0.2s ease;
    }

    .icon-btn:hover {
      background-color: #e3f2fd;
    }

    @media (min-width: 768px) {
      .main-card {
        max-width: 1000px;
        margin: 40px auto;
        padding: 40px;
      }

      .v-container {
        padding-left: 48px;
        padding-right: 48px;
      }
    }

    @media (min-width: 1200px) {
      .main-card {
        max-width: 1200px;
      }
    }
  </style>
</head>

<body>
  <div id="app">
    <v-app>
      <!-- Main Container -->
      <v-container fluid class="d-flex align-center justify-center fill-height">
        <v-card class="main-card px-5 py-4 mx-auto" elevation="3">
          <!-- Language Selector -->
          <v-select
            v-model="selectedLanguage"
            :items="languages"
            item-text="name"
            item-value="code"
            label="Select Language"
            prepend-icon="mdi-google-translate"
            @change="updateLanguage"
            class="mb-4"
          ></v-select>

          <!-- Title -->
          <v-card-title class="text-h5 text-center d-flex justify-center align-center">
            <v-icon class="title-icon mr-2">mdi-map-marker</v-icon>
            {{ translations.title }}
          </v-card-title>
          <v-card-subtitle class="text-center mt-1 mb-4">
            {{ translations.subtitle }}
          </v-card-subtitle>

          <!-- Input Field for User Query -->
          <v-textarea 
            v-model="userInput" 
            :label="translations.userInputLabel"
            rows="4" 
            outlined 
            clearable 
            class="mb-4">
          </v-textarea>

          <!-- Voice Input Button -->
          <v-btn :loading="micLoading" color="secondary" @click="startStopListening" block class="mb-3">
            <v-icon left v-if="!micLoading">{{ listening ? 'mdi-microphone-off' : 'mdi-microphone' }}</v-icon>
            {{ listening ? translations.stopListening : translations.speakSituation }}
          </v-btn>         

          <!-- Search Button -->
          <v-btn color="primary" block @click="fetchBenefitsData" :disabled="loading">
            <v-icon left>mdi-magnify</v-icon> {{ translations.searchPrograms }}
          </v-btn>

           <!-- Share Input Button -->
           <v-btn v-if="" color="info" block @click="shareInput" class="mb-4">
            <v-icon left>mdi-share-variant</v-icon> {{ translations.shareSearch }}
          </v-btn>

          <!-- Loading Indicator -->
          <v-progress-linear v-if="loading" indeterminate color="primary" class="loading-indicator"></v-progress-linear>

          <!-- Results Section -->
          <v-divider v-if="results && (results.recommendations || results.results)" class="my-4"></v-divider>
          <v-card-text v-if="results && (results.recommendations || results.results)">
            <!-- Personalized Recommendations -->
            <div class="section-spacing">
              <h3 class="results-section-title"><v-icon left>mdi-account-multiple</v-icon> {{ translations.personalizedRecommendations }}</h3>
              <v-row dense v-if="results.recommendations">
                <v-col v-for="(rec, index) in results.recommendations" :key="index" cols="12" md="6">
                  <v-list-item two-line>
                    <v-list-item-content>
                      <v-list-item-title class="font-weight-bold">{{ rec.recommendation }}</v-list-item-title>
                      <v-list-item-subtitle>{{ translations.benefit }}: {{ rec.benefit }}</v-list-item-subtitle>
                      <v-list-item-subtitle>{{ translations.cost }}: {{ rec.cost }}</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-col>
              </v-row>
            </div>

            <!-- Available Assistance Programs -->
            <div class="section-spacing">
              <h3 class="results-section-title"><v-icon left>mdi-home-search</v-icon> {{ translations.availablePrograms }}</h3>
              <v-row>
                <v-col v-for="(result, index) in results.results" :key="index" cols="12" sm="6" md="4">
                  <v-card class="result-card mb-3" outlined>
                    <!-- Link to Organization Website on Title -->
                    <v-card-title>
                      <a :href="result.website" target="_blank" class="result-card-title">
                        {{ result.name }}
                      </a>
                    </v-card-title>
                    <v-card-subtitle>{{ result.type }}</v-card-subtitle>
                    <!-- Link to Organization Website on Description -->
                    <v-card-text>
                      <a :href="result.website" target="_blank" style="text-decoration: none; color: inherit;">
                        {{ result.description }}
                      </a>
                    </v-card-text>
                    <v-card-actions>
                      <a :href="result.website" target="_blank" class="icon-btn" aria-label="Visit Website">
                        <v-icon>mdi-web</v-icon>
                      </a>
                      <a :href="'tel:' + result.phone.replace(/[^0-9]/g, '')" class="icon-btn" aria-label="Call">
                        <v-icon>mdi-phone</v-icon>
                      </a>
                      <!-- Share Result Button -->
                      <button @click="shareResult(result)" class="icon-btn" aria-label="Share">
                        <v-icon>mdi-share-variant</v-icon>
                      </button>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </div>
          </v-card-text>
        </v-card>
      </v-container>
    </v-app>
  </div>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          userInput: '',
          loading: false,
          results: null,
          artyom: null,
          listening: false,
          micLoading: false, // State for microphone loading
          pauseTimeout: null,
          pauseDuration: 10000, // Increased to 10 seconds for longer speech input
          gracePeriod: 2000, // Grace period to prevent immediate checks after starting
          micInitDelay: 1000, // Delay for microphone to initialize properly
          selectedLanguage: 'en', // Default language
          languages: [
            { name: '中文', code: 'zh' },
            { name: 'Español', code: 'es' },
            { name: 'हिन्दी', code: 'hi' },
            { name: 'العربية', code: 'ar' },
            { name: 'বাংলা', code: 'bn' },
            { name: 'Português', code: 'pt' },
            { name: 'Русский', code: 'ru' },
            { name: '日本語', code: 'ja' },
            { name: 'ਪੰਜਾਬੀ', code: 'pa' },
            { name: 'Deutsch', code: 'de' },
          ],
          translations: {
            title: "Get Personalized Assistance Programs Based on Your Needs",
            subtitle: "Provide a detailed description of your situation, including specific needs, challenges, and your location (e.g., city, state, country). The more information you provide, the better we can connect you with the most suitable local nonprofit, federal, and government programs. We can process results for any location worldwide!",
            userInputLabel: "Describe your needs in detail (e.g., 'Single mother in New York City looking for housing and childcare support.')",
            speakSituation: "Speak Your Situation",
            stopListening: "Stop Listening",
            shareSearch: "Share Your Search",
            searchPrograms: "Search for Programs",
            personalizedRecommendations: "Personalized Recommendations",
            availablePrograms: "Available Assistance Programs",
            benefit: "Benefit",
            cost: "Cost"
          },
          languageData: {
            en: {
              title: "Get Personalized Assistance Programs Based on Your Needs",
              subtitle: "Provide a detailed description of your situation, including specific needs, challenges, and your location (e.g., city, state, country). The more information you provide, the better we can connect you with the most suitable local nonprofit, federal, and government programs. We can process results for any location worldwide!",
              userInputLabel: "Describe your needs in detail (e.g., 'Single mother in New York City looking for housing and childcare support.')",
              speakSituation: "Speak Your Situation",
              stopListening: "Stop Listening",
              shareSearch: "Share Your Search",
              searchPrograms: "Search for Programs",
              personalizedRecommendations: "Personalized Recommendations",
              availablePrograms: "Available Assistance Programs",
              benefit: "Benefit",
              cost: "Cost"
            },
            zh: {
              title: "根据您的需求获取个性化的援助计划",
              subtitle: "请详细描述您的情况，包括具体需求、挑战以及您的位置（例如，城市、州、国家）。提供的信息越详细，我们就越能为您连接到最合适的本地非营利组织、联邦和政府项目。我们可以为世界上任何地点处理结果！",
              userInputLabel: "详细描述您的需求（例如，‘纽约市的单身母亲寻找住房和儿童保育支持’）",
              speakSituation: "说出您的情况",
              stopListening: "停止听取",
              shareSearch: "分享您的搜索",
              searchPrograms: "搜索项目",
              personalizedRecommendations: "个性化推荐",
              availablePrograms: "可用援助计划",
              benefit: "好处",
              cost: "成本"
            },
            es: {
              title: "Obtenga Programas de Asistencia Personalizados Basados en Sus Necesidades",
              subtitle: "Proporcione una descripción detallada de su situación, incluidas sus necesidades específicas, desafíos y su ubicación (por ejemplo, ciudad, estado, país). Cuanta más información proporcione, mejor podremos conectarlo con los programas locales sin fines de lucro, federales y gubernamentales más adecuados. ¡Podemos procesar resultados para cualquier ubicación en el mundo!",
              userInputLabel: "Describa sus necesidades en detalle (por ejemplo, 'Madre soltera en la ciudad de Nueva York buscando apoyo para vivienda y cuidado infantil.')",
              speakSituation: "Hable Su Situación",
              stopListening: "Dejar de Escuchar",
              shareSearch: "Compartir Su Búsqueda",
              searchPrograms: "Buscar Programas",
              personalizedRecommendations: "Recomendaciones Personalizadas",
              availablePrograms: "Programas de Asistencia Disponibles",
              benefit: "Beneficio",
              cost: "Costo"
            },
            hi: {
              title: "आपकी आवश्यकताओं के आधार पर व्यक्तिगत सहायता कार्यक्रम प्राप्त करें",
              subtitle: "कृपया अपनी स्थिति का विस्तृत विवरण दें, जिसमें आपकी विशिष्ट आवश्यकताएं, चुनौतियां और आपका स्थान (जैसे, शहर, राज्य, देश) शामिल हैं। जितनी अधिक जानकारी आप देंगे, हम आपको सबसे उपयुक्त स्थानीय गैर-लाभकारी, संघीय और सरकारी कार्यक्रमों से जोड़ सकते हैं। हम दुनिया के किसी भी स्थान के लिए परिणाम संसाधित कर सकते हैं!",
              userInputLabel: "अपनी आवश्यकताओं का विवरण दें (उदाहरण के लिए, 'न्यूयॉर्क शहर में आवास और चाइल्डकेयर समर्थन की तलाश में एकल माँ')",
              speakSituation: "अपनी स्थिति बताएं",
              stopListening: "सुनना बंद करें",
              shareSearch: "अपनी खोज साझा करें",
              searchPrograms: "कार्यक्रम खोजें",
              personalizedRecommendations: "व्यक्तिगत अनुशंसाएँ",
              availablePrograms: "उपलब्ध सहायता कार्यक्रम",
              benefit: "लाभ",
              cost: "लागत"
            },
            ar: {
              title: "احصل على برامج مساعدة مخصصة بناءً على احتياجاتك",
              subtitle: "يرجى تقديم وصف مفصل لوضعك، بما في ذلك الاحتياجات والتحديات الخاصة بك وموقعك (مثل المدينة، الولاية، البلد). كلما قدمت مزيدًا من المعلومات، زادت قدرتنا على ربطك بأكثر البرامج المحلية غير الربحية والفيدرالية والحكومية ملاءمةً. يمكننا معالجة النتائج لأي موقع في العالم!",
              userInputLabel: "صف احتياجاتك بالتفصيل (مثل 'أم عزباء في مدينة نيويورك تبحث عن دعم للإسكان ورعاية الأطفال')",
              speakSituation: "تحدث عن حالتك",
              stopListening: "توقف عن الاستماع",
              shareSearch: "شارك بحثك",
              searchPrograms: "ابحث عن البرامج",
              personalizedRecommendations: "توصيات مخصصة",
              availablePrograms: "برامج المساعدة المتاحة",
              benefit: "الفائدة",
              cost: "التكلفة"
            },
            bn: {
              title: "আপনার প্রয়োজনের উপর ভিত্তি করে ব্যক্তিগতকৃত সহায়তা প্রোগ্রাম পান",
              subtitle: "আপনার পরিস্থিতি সম্পর্কে একটি বিশদ বিবরণ প্রদান করুন, যার মধ্যে আপনার নির্দিষ্ট প্রয়োজনীয়তা, চ্যালেঞ্জ এবং আপনার অবস্থান (যেমন, শহর, রাজ্য, দেশ) অন্তর্ভুক্ত। আপনি যত বেশি তথ্য প্রদান করবেন, আমরা আপনাকে সবচেয়ে উপযুক্ত স্থানীয় অলাভজনক, ফেডারেল এবং সরকারী প্রোগ্রামের সাথে সংযুক্ত করতে পারব। আমরা বিশ্বের যে কোনও স্থানের জন্য ফলাফল প্রক্রিয়া করতে পারি!",
              userInputLabel: "আপনার প্রয়োজনগুলি বিস্তারিতভাবে বর্ণনা করুন (যেমন, 'নিউ ইয়র্ক সিটির একক মা যারা হাউজিং এবং চাইল্ডকেয়ার সহায়তা খুঁজছেন')",
              speakSituation: "আপনার পরিস্থিতি বলুন",
              stopListening: "শোনা বন্ধ করুন",
              shareSearch: "আপনার অনুসন্ধান শেয়ার করুন",
              searchPrograms: "প্রোগ্রাম অনুসন্ধান করুন",
              personalizedRecommendations: "ব্যক্তিগত সুপারিশ",
              availablePrograms: "উপলব্ধ সহায়তা প্রোগ্রাম",
              benefit: "সুবিধা",
              cost: "খরচ"
            },
            pt: {
              title: "Obtenha Programas de Assistência Personalizados com Base nas Suas Necessidades",
              subtitle: "Forneça uma descrição detalhada da sua situação, incluindo necessidades específicas, desafios e sua localização (por exemplo, cidade, estado, país). Quanto mais informações você fornecer, melhor poderemos conectá-lo aos programas locais, federais e governamentais mais adequados. Podemos processar resultados para qualquer local do mundo!",
              userInputLabel: "Descreva suas necessidades em detalhes (por exemplo, 'Mãe solteira em Nova York procurando suporte para moradia e cuidado infantil.')",
              speakSituation: "Fale a Sua Situação",
              stopListening: "Parar de Ouvir",
              shareSearch: "Compartilhe Sua Pesquisa",
              searchPrograms: "Buscar Programas",
              personalizedRecommendations: "Recomendações Personalizadas",
              availablePrograms: "Programas de Assistência Disponíveis",
              benefit: "Benefício",
              cost: "Custo"
            },
            ru: {
              title: "Получите персонализированные программы помощи, основанные на ваших потребностях",
              subtitle: "Пожалуйста, предоставьте подробное описание вашей ситуации, включая ваши конкретные потребности, трудности и местоположение (например, город, штат, страна). Чем больше информации вы предоставите, тем лучше мы сможем связать вас с наиболее подходящими местными некоммерческими, федеральными и государственными программами. Мы можем обрабатывать результаты для любого места в мире!",
              userInputLabel: "Опишите ваши потребности подробно (например, 'Мать-одиночка в Нью-Йорке ищет поддержку в жилищном вопросе и уходе за детьми.')",
              speakSituation: "Расскажите о вашей ситуации",
              stopListening: "Прекратить прослушивание",
              shareSearch: "Поделитесь вашим поиском",
              searchPrograms: "Искать программы",
              personalizedRecommendations: "Персонализированные рекомендации",
              availablePrograms: "Доступные программы помощи",
              benefit: "Преимущество",
              cost: "Стоимость"
            },
            ja: {
              title: "あなたのニーズに基づいた個別の支援プログラムを取得",
              subtitle: "具体的なニーズ、課題、および場所（例：市、州、国）を含む、状況の詳細な説明を提供してください。提供する情報が多ければ多いほど、最も適した地元の非営利、連邦、および政府プログラムに接続することができます。世界中のどの場所の結果でも処理できます！",
              userInputLabel: "あなたのニーズを詳しく説明してください（例：「ニューヨーク市のシングルマザーが住宅とチャイルドケアのサポートを探しています」）",
              speakSituation: "あなたの状況を話してください",
              stopListening: "リスニングを停止",
              shareSearch: "検索を共有",
              searchPrograms: "プログラムを検索",
              personalizedRecommendations: "個別の推奨事項",
              availablePrograms: "利用可能な支援プログラム",
              benefit: "利点",
              cost: "コスト"
            },
            pa: {
              title: "ਤੁਹਾਡੀਆਂ ਲੋੜਾਂ ਅਨੁਸਾਰ ਨਿੱਜੀ ਸਹਾਇਤਾ ਪ੍ਰੋਗਰਾਮ ਪ੍ਰਾਪਤ ਕਰੋ",
              subtitle: "ਕਿਰਪਾ ਕਰਕੇ ਆਪਣੀ ਸਥਿਤੀ ਦਾ ਵਿਸਥਾਰ ਨਾਲ ਵੇਰਵਾ ਦਿਓ, ਜਿਸ ਵਿੱਚ ਤੁਹਾਡੀਆਂ ਵਿਸ਼ੇਸ਼ ਲੋੜਾਂ, ਚੁਣੌਤੀਆਂ ਅਤੇ ਤੁਹਾਡਾ ਟਿਕਾਣਾ (ਉਦਾਹਰਣ ਲਈ, ਸ਼ਹਿਰ, ਰਾਜ, ਦੇਸ਼) ਸ਼ਾਮਲ ਹਨ। ਜਿੰਨੀ ਵਧੀਕ ਜਾਣਕਾਰੀ ਤੁਸੀਂ ਦਿਓਗੇ, ਉਨ੍ਹਾਂ ਸਭ ਤੋਂ ਉਚਿਤ ਸਥਾਨਕ ਨਾਨਫਾਇਨਾਂਸ਼ੀਅਲ, ਫੈਡਰਲ ਅਤੇ ਸਰਕਾਰੀ ਪ੍ਰੋਗਰਾਮਾਂ ਨਾਲ ਤੁਸੀਂ ਜੋੜ ਸਕਦੇ ਹੋ। ਅਸੀਂ ਦੁਨੀਆ ਦੇ ਕਿਸੇ ਵੀ ਸਥਾਨ ਲਈ ਨਤੀਜੇ ਪ੍ਰਕਾਸ਼ਤ ਕਰ ਸਕਦੇ ਹਾਂ!",
              userInputLabel: "ਆਪਣੀਆਂ ਲੋੜਾਂ ਨੂੰ ਵੇਰਵਾ ਵਿੱਚ ਵੇਰਵੋ (ਉਦਾਹਰਣ ਲਈ, 'ਨਿਊਯਾਰਕ ਸ਼ਹਿਰ ਵਿੱਚ ਇੱਕ ਸਿੰਗਲ ਮਾਂ ਜੋ ਹਾਉਸਿੰਗ ਅਤੇ ਚਾਇਲਡਕੇਅਰ ਸਹਾਇਤਾ ਲੱਭ ਰਹੀ ਹੈ')",
              speakSituation: "ਆਪਣੀ ਸਥਿਤੀ ਬਿਆਨ ਕਰੋ",
              stopListening: "ਸੁਣਨਾ ਬੰਦ ਕਰੋ",
              shareSearch: "ਆਪਣੀ ਖੋਜ ਸਾਂਝੀ ਕਰੋ",
              searchPrograms: "ਪ੍ਰੋਗਰਾਮ ਖੋਜੋ",
              personalizedRecommendations: "ਨਿੱਜੀ ਸਿਫਾਰਿਸ਼ਾਂ",
              availablePrograms: "ਉਪਲਬਧ ਸਹਾਇਤਾ ਪ੍ਰੋਗਰਾਮ",
              benefit: "ਫਾਇਦਾ",
              cost: "ਲਾਗਤ"
            },
            de: {
              title: "Erhalten Sie personalisierte Unterstützungsprogramme basierend auf Ihren Bedürfnissen",
              subtitle: "Bitte geben Sie eine detaillierte Beschreibung Ihrer Situation an, einschließlich spezifischer Bedürfnisse, Herausforderungen und Ihres Standorts (z. B. Stadt, Bundesland, Land). Je mehr Informationen Sie angeben, desto besser können wir Sie mit den am besten geeigneten lokalen gemeinnützigen, bundesstaatlichen und staatlichen Programmen verbinden. Wir können Ergebnisse für jeden Ort weltweit verarbeiten!",
              userInputLabel: "Beschreiben Sie Ihre Bedürfnisse im Detail (z. B. 'Alleinerziehende Mutter in New York City sucht Unterstützung für Wohnen und Kinderbetreuung.')",
              speakSituation: "Sprechen Sie Ihre Situation",
              stopListening: "Aufhören zu hören",
              shareSearch: "Teilen Sie Ihre Suche",
              searchPrograms: "Programme suchen",
              personalizedRecommendations: "Personalisierte Empfehlungen",
              availablePrograms: "Verfügbare Unterstützungsprogramme",
              benefit: "Nutzen",
              cost: "Kosten"
            }
          }
        };
      },
      created() {
        this.detectBrowserLanguage(); // Detect and set the language based on browser
        this.initArtyom();
      },
      methods: {
        detectBrowserLanguage() {
          const browserLang = navigator.language.slice(0, 2); // Detect browser language
          if (this.languages.some(lang => lang.code === browserLang)) {
            this.selectedLanguage = browserLang; // Set the language if supported
            this.updateLanguage(); // Update translations based on detected language
          }
        },
        async fetchBenefitsData() {
          if (!this.userInput) return;
          this.loading = true;
          this.results = null;
          try {
            const endpoint = 'https://benefitsgps.xsbrt.workers.dev/';
            const params = new URLSearchParams({
              user_input: this.userInput
            });
            const url = `${endpoint}?${params.toString()}`;
            const response = await fetch(url, {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json',
                'Referer': window.location.href,
              },
            });
            if (!response.ok) {
              throw new Error(`Error: ${response.status} - ${response.statusText}`);
            }
            const data = await response.json();
            this.results = JSON.parse(data);
          } catch (error) {
            console.error('Error fetching data:', error);
          } finally {
            this.loading = false;
          }
        },
        copyToClipboard(text) {
          navigator.clipboard.writeText(text).then(() => {
            alert('Copied to clipboard');
          });
        },
        initArtyom() {
          this.artyom = new Artyom();
        },
        startStopListening() {
          if (this.listening) {
            this.stopArtyom();
          } else {
            this.micLoading = true; // Show loading spinner on button
            setTimeout(() => {
              this.startArtyom();
            }, this.micInitDelay); // Delay to ensure the microphone initializes
          }
        },
        startArtyom() {
          this.artyom.initialize({
            lang: this.selectedLanguage === 'en' ? "en-US" : `${this.selectedLanguage}`, // Language code for speech recognition
            continuous: true, // Ensures continuous listening
            listen: true,
            debug: true,
            speed: 1
          }).then(() => {
            console.log("Artyom is now listening...");
            this.listening = true;
            this.micLoading = false; // Hide loading spinner once initialized
  
            // Wait for a grace period before checking for pauses
            setTimeout(() => {
              this.resetPauseTimeout();
            }, this.gracePeriod);
          }).catch((err) => {
            console.error("Artyom couldn't start the recognition.", err);
            this.micLoading = false; // Ensure loading spinner is hidden if error occurs
          });
  
          this.artyom.addCommands({
            indexes: ["*"],
            smart: true,
            action: (i, wildcard) => {
              this.userInput = this.userInput ? `${this.userInput} ${wildcard}` : wildcard;
              this.resetPauseTimeout(); // Reset timeout after each input
            }
          });
        },
        stopArtyom() {
          clearTimeout(this.pauseTimeout);
          this.artyom.fatality().then(() => {
            console.log("Artyom has stopped listening.");
            this.listening = false;
            this.fetchBenefitsData(); // Automatically fetch results after stopping
          });
        },
        resetPauseTimeout() {
          clearTimeout(this.pauseTimeout);
          this.pauseTimeout = setTimeout(() => {
            if (this.listening) { // Ensure we're still listening
              this.stopArtyom(); // Stop listening if no input for 10 seconds
            }
          }, this.pauseDuration);
        },
        shareInput() {
          const shareUrl = `${window.location.origin}${window.location.pathname}?input=${encodeURIComponent(this.userInput)}`;
          this.shareContent('Check out this search for assistance programs:', shareUrl);
        },
        shareResult(result) {
          const shareContent = `Check out this assistance program: ${result.name} - ${result.description}`;
          this.shareContent(shareContent, result.website);
        },
        shareContent(text, url) {
          if (navigator.share) {
            navigator.share({
              title: 'BenefitsGPS',
              text: text,
              url: url,
            }).then(() => console.log('Successful share'))
              .catch((error) => console.error('Error sharing:', error));
          } else {
            alert(`Copy and share this link: ${url}`);
          }
        },
        updateLanguage() {
          this.translations = this.languageData[this.selectedLanguage]; // Update UI texts based on selected language
          if (this.listening) {
            this.stopArtyom(); // Restart speech recognition in the new language if currently listening
          }
        },
      }
    });
  </script>
  
</body>

</html>