<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="Social Services, AI-Resource Finder, Nonprofit, NGO, Local Services, Federal Resources, Family Benefits, Life Coaching" />
    <meta name="description" content="BenefitsGPS is your digital guide to social services. Powered by AI, we connect you to nonprofits, NGOs, and local to federal resources tailored to your needs. With expertise rooted in over 20 years of social work, we simplify complex benefits into 8th-grade level explanations. Let BenefitsGPS navigate the best resources for you." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="BenefitsGPS: Your Digital Guide to Social Services" />
    <meta property="og:description" content="BenefitsGPS is your digital guide to social services. Powered by AI, we connect you to nonprofits, NGOs, and local to federal resources tailored to your needs. Let BenefitsGPS navigate the best resources for you." />
    <meta property="og:url" content="https://xsbrt.com/benefitsGPS.html" />
    <meta property="og:site_name" content="BenefitsGPS - Navigate Your Benefits" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="BenefitsGPS: Navigate Your Benefits" />    
    <meta name="msapplication-TileImage" content="gps.png" />
    <meta name="msapplication-TileColor" content="white" />
    <meta name="msapplication-TileImage" content="gps.png" />
    <meta name="msapplication-TileColor" content="white" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="gps.png" />
    <link rel="icon" href="navigator.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <title>BenefitsGPS - Your digital guide to social services</title>
</head>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
    <v-app id="inspire"> 
      <headerComponent :o="{title: 'BenefitsGPS', icon: 'mdi-lightbulb-on-outline', subtitle: 'Your digital guide to social services', url: 'https://xsbrt.com/decisions'}"></headerComponent>

    <v-main class="justify-center text-center ma-2">
      <v-row class="justify-center my-2 pt-2">  
        
        <v-col cols="auto" sm="12" md="4" class="mb-1">
            <previousSessions :o="o" :key="session" @my-session="previousSession"></previousSessions>
        </v-col>

        <v-col cols="auto" sm="12" md="10">
            <mission :o="{
                label: 'Facing a tough decision? Let’s apply decision-making heuristics!',
                hint: 'Describe the decision you need to make, and we’ll analyze it using expert heuristics to guide you towards the best choice.',
                placeholder: 'E.g., Should I take the job offer? Is it the right time to invest? How to prioritize my tasks for the day?'
            }" @speech-recognized="processSpeech"></mission>             
        </v-col>

      </v-row>

      <v-btn 
      v-if="showLoad" 
      color="primary" 
      elevation="12"
      variant="tonal"
      size="large"
      rounded  
      ripple
      @click="gatherResults" 
      class="mb-4 pa-2 text-center justify-center" 
      :loading="loading"
    >
    <v-icon class="pr-1">mdi-human-handsup</v-icon>
    Answer!
    </v-btn> 

    <v-container v-if="o&&o.answer" fluid class="mt-4 d-flex text-center justify-center">

        <v-row class="d-flex justify-center text-center">
            <shareToolBar class="my-2" :o="{text: o.answer, url: 'https://xsbrt.com/decisions', description: o.description}"></shareToolBar>

            <v-col cols="12" sm="12" md="12">
                <v-alert title="Answer" :text="o.answer" prominent color="primary" class="text-left pa-4 my-2" border elevation="18" rounded icon="mdi-checkbox-marked-circle-outline"></v-alert>
            </v-col> 

        </v-row>       

    </v-container> 
   
    </v-main>
    
  </v-app>

     </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="artyom.window.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script> 
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>      
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();
      const { loadModule } = window['vue3-sfc-loader'];

      async function loadComponentsAndInitApp() {          

        async function addComponent(component) {
          return await loadModule('./' + component + '.vue', {
                  moduleCache: {
                      vue: Vue
                  },
                  async getFile(url) {
                      const res = await fetch(url);
                      if (!res.ok)
                          throw Object.assign(new Error(url + ' ' + res.statusText), { res });
                      return await res.text();
                  },
                  addStyle: (textContent) => {
                      const style = document.createElement('style');
                      style.textContent = textContent;
                      document.head.appendChild(style);
                  }
              });
        }
        
      //define components
      const headerComponent = await addComponent('header');
      const mission = await addComponent('speechText');
      const previousSessions = await addComponent('previousSessions');
      const shareToolBar = await addComponent('shareToolBar');

      const app = createApp({

          data() {
              return {
                  o: {description: ''},
                  session: randomString(),
                  loading: false
              }
          }, 
          
          computed: {
              showLoad() {
                  return (this.o.description && this.o.description.length > 9) || this.o.speech;
              }
          },

          created() { 
              this.role = 'You are a decision-making expert with a focus on practical application of strategies. Given the strategies: Uphill Decisions, The Two-Minute Rule, Solomons Paradox, The Hesitation Strategy, and Regret Minimization, provide a direct and concise answer to the posed question.' + writingPrompt() + ' Apply the most suitable strategy based on the context, ensuring your response is well-structured, detailed, and formatted as a JSON object. JSON template: { "answer": "Direct and concise response applying the chosen strategy, including a clear explanation of the reasoning behind the final decision." }.';
              createStorage('decisions');
              this.id = null;               
          },

          watch: {

              o: function (newValue) {
                  return newValue;
              }
          },

          async mounted() { 
              this.o.session = this.session; 
              this.o.id = await retrieveId();
          },

          methods: { 

            async processSpeech(o) {
              if (!o||o.results.length < 10) { return };
              this.o = Vue.reactive({ description: o.results });
              console.log(this.o);
              console.clear();
              if (o.speech) { this.gatherResults(); };
              o = null;
            },

            async previousSession(o) {
                if (!o||!o.description) { return };  
                this.o = Vue.reactive(o);
                console.log(this.o);
                o = null;
                console.clear();
            },

            async gatherResults() {
              //console.clear();
              if (!this.o||!this.o.description||this.o.description.length < 10) { return }; 
              if (this.o.answer) { 
                delete this.o.answer;
             };            
              this.loading = true;  
              this.o["description"] = convertMultipleSpacesToSingle(this.o.description);
              const messages = [
                  { role: "system", content: this.role },
                  { role: "user", content: `The question needing an answer is about the following: "${this.o.description}".` }
              ];
              
              const res = await getResults(messages,0.6,'gpt-4');
              if (res) { 
                this.o = Vue.reactive({ ...this.o, ...res });
                console.log(this.o);
                console.clear();
              }; 
              this.loading = false;
              this.o["session"] = this.session;
              this.session = randomString();
            },

            
          },

          components: {
            headerComponent,
            mission,
            previousSessions,
            shareToolBar
          },

          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>
      
    
    <style scoped>
      #app {
          width: 100%;
          height: 100vh;
          background-color: white;
      }
  
      .overlay-container {
          overflow: auto;
      }
  
      .overlay-card {
          max-width: 90%;
          margin: auto;
      }
  
      .overlay-title {
          font-size: 1.5em;
          font-weight: bold;
      }
  
      .overlay-subtitle {
          font-size: 1.2em;
      }
  
      .overlay-content {
          overflow-y: auto;
          max-height: 70vh;
      }
  
      .result-text {
          font-size: 1.1em;
          white-space: pre-wrap;
          word-wrap: break-word;
      }
  
      .action-title {
          font-weight: bold;
          letter-spacing: 1.2px;
      }
  
      .subtitle {
          font-size: 0.8em;
          margin-left: 5px;
      }
  
      .action-button {
          font-weight: bold;
          letter-spacing: 1.2px;
          transition: all 0.3s ease;
      }
  
      .action-button:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }
  
      .action-textarea {
          border: 2px solid var(--primary-color);
          border-radius: 8px;
          transition: all 0.3s ease;
      }
  
      .action-textarea:focus-within {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  </style>
  
</body>
</html>