<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BenefitsGPS</title>
  <meta name="description" content="BenefitsGPS helps you find local nonprofit, federal, and local government programs based on your personal needs and situation.">
  <meta name="keywords" content="benefits, government programs, nonprofit, assistance, support, social services">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.js"></script>
</head>
<body>
  <div id="app">
    <v-app>
      <!-- Main Container -->
      <v-container fluid class="d-flex align-center justify-center fill-height">
        <v-card max-width="600" class="px-4 py-6 mx-auto my-5" elevation="2">
          <!-- Title -->
          <v-card-title class="text-h5 text-center mb-2">Find Programs Tailored for You</v-card-title>
          <v-card-subtitle class="text-center mb-4">
            Enter details about your current situation to find local nonprofit, federal, and local government programs.
          </v-card-subtitle>

          <!-- Input Field for User Query -->
          <v-textarea
            v-model="userInput"
            label="Describe your situation (e.g., '33-year-old refugee from El Salvador looking for asylum and work.')"
            rows="4"
            outlined
            clearable
            class="mb-2"
          ></v-textarea>

          <!-- Voice Input Button -->
          <v-btn color="secondary" @click="startStopListening" class="mb-4" block>
            <v-icon left>{{ listening ? 'mdi-microphone-off' : 'mdi-microphone' }}</v-icon> 
            {{ listening ? 'Stop Listening' : 'Speak Your Situation' }}
          </v-btn>

          <!-- Search Button -->
          <v-btn color="primary" block @click="fetchBenefitsData" :disabled="loading">
            <v-icon left>mdi-magnify</v-icon> Find Programs
          </v-btn>

          <!-- Loading Indicator -->
          <v-progress-linear v-if="loading" indeterminate color="primary" class="mt-4"></v-progress-linear>

          <!-- Results Section -->
          <v-divider v-if="results && (results.recommendations || results.results)" class="my-4"></v-divider>
          <v-card-text v-if="results && (results.recommendations || results.results)">
            <h3 class="text-h6">Personalized Recommendations</h3>
            <v-list dense v-if="results.recommendations">
              <v-list-item v-for="(rec, index) in results.recommendations" :key="index">
                <v-list-item-content>
                  <v-list-item-title class="font-weight-bold">{{ rec.recommendation }}</v-list-item-title>
                  <v-list-item-subtitle>Benefit: {{ rec.benefit }}</v-list-item-subtitle>
                  <v-list-item-subtitle>Cost: {{ rec.cost }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>

            <h3 class="text-h6 mt-4">Available Programs</h3>
            <v-row>
              <v-col v-for="(result, index) in results.results" :key="index" cols="12" sm="6">
                <v-card outlined class="mb-3">
                  <v-card-title class="font-weight-bold">{{ result.name }}</v-card-title>
                  <v-card-subtitle>{{ result.type }}</v-card-subtitle>
                  <v-card-text>{{ result.description }}</v-card-text>
                  <v-card-actions>
                    <v-btn text icon :href="result.website" target="_blank">
                      <v-icon>mdi-web</v-icon>
                    </v-btn>
                    <v-btn text icon @click="copyToClipboard(result.phone)">
                      <v-icon>mdi-phone</v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-container>
    </v-app>
  </div>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          userInput: '',
          loading: false,
          results: null,
          recognition: null,
          listening: false,
        };
      },
      created() {
        // Initialize Speech Recognition
        this.initSpeechRecognition();
      },
      methods: {
        async fetchBenefitsData() {
          if (!this.userInput) return;
          this.loading = true;
          this.results = null;
          try {
            const endpoint = 'https://benefitsgps.xsbrt.workers.dev/';
            const params = new URLSearchParams({
              user_input: this.userInput
            });
            const url = `${endpoint}?${params.toString()}`;
            const response = await fetch(url, {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json',
                'Referer': window.location.href,
              },
            });
            if (!response.ok) {
              throw new Error(`Error: ${response.status} - ${response.statusText}`);
            }
            const data = await response.json();
            this.results = JSON.parse(data);
          } catch (error) {
            console.error('Error fetching data:', error);
          } finally {
            this.loading = false;
          }
        },
        copyToClipboard(text) {
          navigator.clipboard.writeText(text).then(() => {
            alert('Copied to clipboard');
          });
        },
        initSpeechRecognition() {
          // Check for browser support for Web Speech API
          if ('webkitSpeechRecognition' in window || 'SpeechRecognition' in window) {
            const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
            this.recognition = new SpeechRecognition();
            this.recognition.lang = 'en-US';
            this.recognition.interimResults = false;
            this.recognition.maxAlternatives = 1;

            // Recognition Event Handlers
            this.recognition.onresult = (event) => {
              const speechResult = event.results[0][0].transcript;
              this.userInput = speechResult;
              this.listening = false;
            };
            this.recognition.onerror = (event) => {
              console.error('Speech recognition error', event);
              this.listening = false;
            };
            this.recognition.onend = () => {
              this.listening = false;
            };
          } else {
            alert('Your browser does not support speech recognition. Please use a different browser.');
          }
        },
        startStopListening() {
          if (this.listening) {
            this.recognition.stop();
            this.listening = false;
          } else {
            this.recognition.start();
            this.listening = true;
          }
        }
      }
    });
  </script>
</body>
</html>