<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BenefitsGPS | Find Local Nonprofit and Government Programs for Your Needs</title>
  <meta name="description" content="BenefitsGPS connects you to personalized local nonprofit, federal, and government assistance programs based on your specific needs, such as housing, employment, healthcare, and more.">
  <meta name="keywords" content="benefits, government programs, nonprofit services, local assistance, federal assistance, social services, healthcare programs, employment support, housing assistance">

  <!-- Meta Tags for Social Sharing -->
  <meta property="og:title" content="BenefitsGPS | Find Local Nonprofit and Government Programs for Your Needs">
  <meta property="og:description" content="Discover local nonprofit, federal, and government assistance programs tailored to your needs, such as housing, employment, and healthcare.">
  <meta property="og:image" content="https://example.com/social-share-image.jpg">
  <meta property="og:url" content="https://example.com">
  <meta name="twitter:card" content="summary_large_image">

  <!-- Font and Vuetify CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.css" rel="stylesheet">

  <!-- Vue and Vuetify JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.js" defer></script>

  <!-- Additional Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/artyom.js@1.0.6/build/artyom.window.min.js" defer></script>

  <style>
    body {
      font-family: 'Inter', sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;
    }

    .title-icon {
      font-size: 2rem;
      color: #1976D2;
    }

    .v-card-title {
      color: #1976D2;
      font-weight: 600;
    }

    .v-card-subtitle {
      color: #555;
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
    }

    .v-btn {
      border-radius: 8px;
    }

    .results-section-title {
      font-weight: 700;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      color: #1976D2;
    }

    .result-card {
      transition: transform 0.2s, box-shadow 0.2s;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .result-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .result-card-title {
      font-size: 1.2rem;
      font-weight: 500;
      color: #1976D2;
      text-decoration: none;
    }

    .loading-indicator {
      margin-top: 20px;
    }

    .v-card-actions {
      padding-top: 0;
    }

    .v-card-text,
    .v-card-subtitle {
      padding-bottom: 16px;
    }

    .section-spacing {
      margin-bottom: 40px;
    }

    a {
      text-decoration: none;
    }

    .icon-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border: none;
      background: none;
      cursor: pointer;
      color: #1976D2;
      border-radius: 50%;
      transition: background-color 0.2s ease;
    }

    .icon-btn:hover {
      background-color: #e3f2fd;
    }

    @media (min-width: 768px) {
      .main-card {
        max-width: 1000px;
        margin: 40px auto;
        padding: 40px;
      }

      .v-container {
        padding-left: 48px;
        padding-right: 48px;
      }
    }

    @media (min-width: 1200px) {
      .main-card {
        max-width: 1200px;
      }
    }
  </style>
</head>

<body>
  <div id="app">
    <v-app>
      <!-- Main Container -->
      <v-container fluid class="d-flex align-center justify-center fill-height">
        <v-card class="main-card px-5 py-4 mx-auto" elevation="3">
          <!-- Language Selector -->
          <v-select
            v-model="selectedLanguage"
            :items="languages"
            item-text="name"
            item-value="code"
            label="Select Language"
            prepend-icon="mdi-google-translate"
            @change="updateLanguage"
            class="mb-4"
          ></v-select>

          <!-- Dropdown for Previous Results -->
          <v-select
            v-if="savedSearches.length > 0"
            v-model="selectedSavedSearch"
            :items="savedSearches"
            item-text="label"
            item-value="id"
            label="Select Previous Search"
            @change="loadSavedSearch"
            class="mb-4"
          ></v-select>

          <!-- Title -->
          <v-card-title class="text-h5 text-center d-flex justify-center align-center">
            <v-icon class="title-icon mr-2">mdi-map-marker</v-icon>
            {{ currentTranslations.title }}
          </v-card-title>
          <v-card-subtitle class="text-center mt-1 mb-4">
            {{ currentTranslations.subtitle }}
          </v-card-subtitle>

          <!-- Input Field for User Query -->
          <v-textarea 
            v-model="userInput" 
            :label="currentTranslations.userInputLabel"
            rows="4" 
            outlined 
            clearable 
            class="mb-4">
          </v-textarea>

          <!-- Voice Input Button -->
          <v-btn :loading="micLoading" color="secondary" @click="startStopListening" block class="mb-3">
            <v-icon left v-if="!micLoading">{{ listening ? 'mdi-microphone-off' : 'mdi-microphone' }}</v-icon>
            {{ listening ? currentTranslations.stopListening : currentTranslations.speakSituation }}
          </v-btn>

          <!-- Share Input Button -->
          <v-btn color="info" block @click="shareInput" class="mb-4" v-if="results">
            <v-icon left>mdi-share-variant</v-icon> {{ currentTranslations.shareSearch }}
          </v-btn>

          <!-- Search Button -->
          <v-btn color="primary" block @click="fetchBenefitsData" :disabled="loading">
            <v-icon left>mdi-magnify</v-icon> {{ currentTranslations.searchPrograms }}
          </v-btn>

          <!-- Loading Indicator -->
          <v-progress-linear v-if="loading" indeterminate color="primary" class="loading-indicator"></v-progress-linear>

          <!-- Results Section -->
          <v-divider v-if="results && (results.recommendations || results.results)" class="my-4"></v-divider>
          <v-card-text v-if="results && (results.recommendations || results.results)">
            <!-- Personalized Recommendations -->
            <div class="section-spacing">
              <h3 class="results-section-title"><v-icon left>mdi-account-multiple</v-icon> {{ currentTranslations.personalizedRecommendations }}</h3>
              <v-row dense v-if="results.recommendations">
                <v-col v-for="(rec, index) in results.recommendations" :key="index" cols="12" md="6">
                  <v-list-item two-line>
                    <v-list-item-content>
                      <v-list-item-title class="font-weight-bold">{{ rec.recommendation }}</v-list-item-title>
                      <v-list-item-subtitle>{{ currentTranslations.benefit }}: {{ rec.benefit }}</v-list-item-subtitle>
                      <v-list-item-subtitle>{{ currentTranslations.cost }}: {{ rec.cost }}</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-col>
              </v-row>
            </div>

            <!-- Available Assistance Programs -->
            <div class="section-spacing">
              <h3 class="results-section-title"><v-icon left>mdi-home-search</v-icon> {{ currentTranslations.availablePrograms }}</h3>
              <v-row>
                <v-col v-for="(result, index) in results.results" :key="index" cols="12" sm="6" md="4">
                  <v-card class="result-card mb-3" outlined>
                    <!-- Link to Organization Website on Title -->
                    <v-card-title>
                      <a :href="result.website" target="_blank" class="result-card-title">
                        {{ result.name }}
                      </a>
                    </v-card-title>
                    <v-card-subtitle>{{ result.type }}</v-card-subtitle>
                    <!-- Link to Organization Website on Description -->
                    <v-card-text>
                      <a :href="result.website" target="_blank" style="text-decoration: none; color: inherit;">
                        {{ result.description }}
                      </a>
                    </v-card-text>
                    <v-card-actions>
                      <a :href="result.website" target="_blank" class="icon-btn" aria-label="Visit Website">
                        <v-icon>mdi-web</v-icon>
                      </a>
                      <a :href="'tel:' + result.phone.replace(/[^0-9]/g, '')" class="icon-btn" aria-label="Call">
                        <v-icon>mdi-phone</v-icon>
                      </a>
                      <!-- Share Result Button -->
                      <button @click="shareResult(result)" class="icon-btn" aria-label="Share">
                        <v-icon>mdi-share-variant</v-icon>
                      </button>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </div>
          </v-card-text>
        </v-card>
      </v-container>
    </v-app>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data() {
          return {
            userInput: '',
            loading: false,
            results: null,
            artyom: null,
            listening: false,
            micLoading: false,
            pauseTimeout: null,
            pauseDuration: 10000,
            gracePeriod: 2000,
            micInitDelay: 1000,
            selectedLanguage: 'en',
            languages: [
              { name: '中文', code: 'zh' },
              { name: 'Español', code: 'es' },
              { name: 'हिन्दी', code: 'hi' },
              { name: 'العربية', code: 'ar' },
              { name: 'বাংলা', code: 'bn' },
              { name: 'Português', code: 'pt' },
              { name: 'Русский', code: 'ru' },
              { name: '日本語', code: 'ja' },
              { name: 'ਪੰਜਾਬੀ', code: 'pa' },
              { name: 'Deutsch', code: 'de' },
            ],
            currentTranslations: {}, // Reactive property for current language translations
            languageData: {
              // Include all translations for each language
            },
            savedSearches: [],
            selectedSavedSearch: null,
          };
        },
        created() {
          this.detectBrowserLanguage();
          this.initArtyom();
          this.initDatabase();
          this.loadSavedSearches();
        },
        methods: {
          detectBrowserLanguage() {
            const browserLang = navigator.language.slice(0, 2);
            if (this.languages.some(lang => lang.code === browserLang)) {
              this.selectedLanguage = browserLang;
              this.updateLanguage();
            }
          },
          updateLanguage() {
            this.currentTranslations = this.languageData[this.selectedLanguage];
            if (this.listening) {
              this.stopArtyom();
            }
          },
          async fetchBenefitsData() {
            if (!this.userInput) return;
            this.loading = true;
            this.results = null;
            try {
              const endpoint = 'https://benefitsgps.xsbrt.workers.dev/';
              const params = new URLSearchParams({ user_input: this.userInput });
              const url = `${endpoint}?${params.toString()}`;
              const response = await fetch(url);
              if (!response.ok) throw new Error(`Error: ${response.status} - ${response.statusText}`);
              const data = await response.json();
              this.results = JSON.parse(data);
              this.saveSearchToDB(this.userInput, this.results);
            } catch (error) {
              console.error('Error fetching data:', error);
            } finally {
              this.loading = false;
            }
          },
          saveSearchToDB(search, results) {
            // Saving logic for IndexedDB
          },
          loadSavedSearches() {
            // Loading logic for IndexedDB
          },
          loadSavedSearch() {
            // Loading saved search from IndexedDB
          },
          initDatabase() {
            // IndexedDB Initialization logic
          },
          initArtyom() {
            this.artyom = new Artyom();
          },
          startStopListening() {
            if (this.listening) {
              this.stopArtyom();
            } else {
              this.micLoading = true;
              setTimeout(() => {
                this.startArtyom();
              }, this.micInitDelay);
            }
          },
          startArtyom() {
            this.artyom.initialize({
              lang: this.selectedLanguage === 'en' ? "en-US" : `${this.selectedLanguage}`,
              continuous: true,
              listen: true,
              debug: true,
              speed: 1
            }).then(() => {
              console.log("Artyom is now listening...");
              this.listening = true;
              this.micLoading = false;
              setTimeout(() => {
                this.resetPauseTimeout();
              }, this.gracePeriod);
            }).catch((err) => {
              console.error("Artyom couldn't start the recognition.", err);
              this.micLoading = false;
            });

            this.artyom.addCommands({
              indexes: ["*"],
              smart: true,
              action: (i, wildcard) => {
                this.userInput = this.userInput ? `${this.userInput} ${wildcard}` : wildcard;
                this.resetPauseTimeout();
              }
            });
          },
          stopArtyom() {
            clearTimeout(this.pauseTimeout);
            this.artyom.fatality().then(() => {
              console.log("Artyom has stopped listening.");
              this.listening = false;
              this.fetchBenefitsData();
            });
          },
          resetPauseTimeout() {
            clearTimeout(this.pauseTimeout);
            this.pauseTimeout = setTimeout(() => {
              if (this.listening) {
                this.stopArtyom();
              }
            }, this.pauseDuration);
          },
          shareInput() {
            const shareUrl = `${window.location.origin}${window.location.pathname}?input=${encodeURIComponent(this.userInput)}`;
            this.shareContent('Check out this search for assistance programs:', shareUrl);
          },
          shareResult(result) {
            const shareContent = `Check out this assistance program: ${result.name} - ${result.description}`;
            this.shareContent(shareContent, result.website);
          },
          shareContent(text, url) {
            if (navigator.share) {
              navigator.share({
                title: 'BenefitsGPS',
                text: text,
                url: url,
              }).then(() => console.log('Successful share'))
                .catch((error) => console.error('Error sharing:', error));
            } else {
              alert(`Copy and share this link: ${url}`);
            }
          },
        }
      });
    });
  </script>
</body>

</html>
