<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords"
    content="behavioral psychology, Big Five personality traits, Schwartz Value Circumplex, custom communication strategies, user analysis, tailored content, psychological profiling, effective communication, engagement strategies, personality-driven marketing, communication scenarios, outcome evaluation, communication reports" />
<meta name="description"
    content="Leverage behavioral psychology to develop tailored communication strategies. Analyze audiences using Big Five traits and Schwartz Value Circumplex, create custom content, and evaluate outcomes for effective engagement." />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Psychology-Driven Communication Strategies" />
<meta property="og:description"
    content="Utilize advanced psychological analysis to develop bespoke communication strategies. Engage audiences effectively through customized content based on personality traits and values." />
<meta property="og:url" content="https://xsbrt.com/communications.html" />
<meta property="og:site_name" content="Psychology-Driven Communication Strategies" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta name="apple-mobile-web-app-title" content="Behavioral Communication Tool" />
<meta name="msapplication-TileImage" content="xsbrtimage.png" />
<meta name="msapplication-TileColor" content="white" />
<meta name="theme-color" content="white" />
<link rel="apple-touch-icon" href="xsbrtimage.png" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <title>Psychology-Driven Communication Strategies</title>
</head>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
    <v-app id="inspire"> 
      <headerComponent :o="{title: 'Communicate', icon: 'mdi-account-search', subtitle: 'Psychology-Driven Communication Strategies', url: 'https://xsbrt.com/communicate.html'}"></headerComponent>

    <v-main class="justify-center text-center mx-1">

      <welcome v-if="!loading&&!showLoad&&!o.description&&!o.description.length > 0" :o="{text: 'Leverage behavioral psychology to develop tailored communication strategies. Analyze audiences using Big Five traits and Schwartz Value Circumplex, create custom content, and evaluate outcomes for effective engagement.'}"></welcome>  

      <v-row class="justify-center mb-1">  
        
        <v-col cols="auto" sm="12" md="4">
            <previousSessions :o="o" :key="session" @my-session="previousSession"></previousSessions>
        </v-col>

        <v-col cols="auto" sm="12" md="10">
            <mission :o="{
                label: 'Identify Your Communication Needs',
                hint: 'Describe the communication challenges you are facing. Are you looking to analyze personality traits, tailor content based on psychological profiles, or evaluate communication strategies?',
                placeholder: 'Describe your communications challenge. Need to analyze personality traits or tailor messages? Let’s explore solutions together!'
            }" @speech-recognized="processSpeech"></mission>                       
        </v-col>

      </v-row>

      <v-btn 
      v-if="showLoad" 
      color="primary" 
      elevation="12"
      variant="tonal"
      size="x-large"
      rounded  
      ripple
      @click="gatherResults" 
      class="pa-2 text-center justify-center" 
      :loading="loading"
    >
    <v-icon left class="pr-1">mdi-message-alert</v-icon>
    Start Analysis
    </v-btn> 

    <quotes v-if="loading" class="mt-4"></quotes>

    <v-container v-if="o.PsychologyDrivenUserAnalysis" fluid class="px-2"> 

     <ideas class="my-4" :o="{title: o.description, url: 'https://xsbrt.com/communicate.html', role: this.role, prompt: `${o.description}`}" :key="o.description"></ideas> 

      <relatedToolbar :description="o.description" :pageInfo="path" class="my-4"></relatedToolbar> 

       <v-container fluid class="mt-4">

        <v-row class="text-center justify-center d-flex">

            <v-col cols="auto" xs="12" sm="6" md="3" lg="3" xl="3" outlined elevation="6" class="px-1">

                <v-card v-if="o.OutcomeEvaluation"
                        class="text-center pa-1 mt-2 pb-4"
                        color="indigo-lighten-5"
                    >
                        <v-card-title class="text-primary text-subtitle-1">
                            <v-icon class="pr-1 pb-1" large>mdi-thumb-up-outline</v-icon>
                            Desired Outcomes
                        </v-card-title>
                        <v-card-text class="text-primary text-caption text-left">
                            {{ o.OutcomeEvaluation.description }}
                        </v-card-text>  
                        <v-expansion-panels variant="accordion">
                            <v-expansion-panel v-for="it in o.OutcomeEvaluation.desiredOutcomes" :key="it" elevation="0" class="ma-0 pa-0">
                                <v-expansion-panel-title ripple class="ma-0 pa-1 text-left text-primary" rounded color="indigo-lighten-5"> 
                                    <v-icon color="primary" left class="pr-2">mdi-thumb-up-outline</v-icon>{{ it }}
                                </v-expansion-panel-title>
                                <v-expansion-panel-text class="ma-0 pa-0" elevation="0"> 
                                    <deliverable :o="{title: 'Desired Outcome: ' +it, url: 'https://xsbrt.com/communicate.html', role: this.role, prompt: `${o.OutcomeEvaluation.description}. You are interested in the desired outcome: ${it}. Focus on: ${o.description}. The output must be a valid JSON object in the format { result: 'formatted text' }.`}" :key="it"></deliverable>                        
                                </v-expansion-panel-text>
                            </v-expansion-panel>          
                        </v-expansion-panels>
                    </v-card>

                    <v-card v-if="o.ReportingAndAdvising"
            class="text-center pa-1 py-4"
            color="indigo-lighten-5"
        >
            <v-card-title class="text-primary text-subtitle-1">
                <v-icon class="pr-1 pb-1" large>mdi-google-analytics</v-icon>
                Reporting and Advising
            </v-card-title>
            <v-card-text class="text-primary text-caption text-left">
                {{ o.ReportingAndAdvising.description }}
            </v-card-text>  
            <v-expansion-panels variant="accordion">
                <v-expansion-panel v-for="it in o.ReportingAndAdvising.reportContents" :key="it" elevation="0" class="ma-0 pa-0">
                    <v-expansion-panel-title ripple class="ma-0 pa-1 text-left text-primary" rounded color="indigo-lighten-5"> 
                        <v-icon color="primary" left class="pr-2">mdi-google-analytics</v-icon>{{ it }}
                    </v-expansion-panel-title>
                    <v-expansion-panel-text class="ma-0 pa-0" elevation="0"> 
                        <deliverable :o="{title: 'Reporting: ' +it, url: 'https://xsbrt.com/communicate.html', role: this.role, prompt: `${o.ReportingAndAdvising.reportContents.description}. You are interested in the reporting on: ${it}. Focus on: ${o.description}. The output must be a valid JSON object in the format { result: 'formatted text' }.`}" :key="it"></deliverable>                        
                    </v-expansion-panel-text>
                </v-expansion-panel>          
            </v-expansion-panels>
        </v-card>
            
                <v-card v-if="o.PsychologyDrivenUserAnalysis"
                  class="text-center pa-1 pt-4"
                  color="indigo-lighten-5"
                >
                <v-card-text>
                  <v-card-title class="text-primary text-subtitle-1">
                    <v-icon class="pr-1 pb-1" large>mdi-thought-bubble-outline</v-icon>
                    Psychology Analysis
                  </v-card-title>
                  <v-card-text class="text-primary text-caption text-left">
                    {{ o.PsychologyDrivenUserAnalysis.description }}
                  </v-card-text>               
                    
                    <v-expansion-panels v-if="o.PsychologyDrivenUserAnalysis.traits" variant="accordion">
                      <v-expansion-panel v-for="it in o.PsychologyDrivenUserAnalysis.traits" :key="it" elevation="0" class="ma-0 pa-0">
                          <v-expansion-panel-title ripple class="ma-0 pa-1 text-left text-primary" rounded color="indigo-lighten-5"> 
                              <v-icon color="primary" left class="pr-2">mdi-thought-bubble-outline</v-icon>{{ it }}
                          </v-expansion-panel-title>
                          <v-expansion-panel-text class="ma-0 pa-0" elevation="0"> 
                            <deliverable :o="{title: 'Trait: ' +it, url: 'https://xsbrt.com/communicate.html', role: this.role, prompt: `${o.PsychologyDrivenUserAnalysis.description}. You are interested in the trait ${it}. Focus on: ${o.description}. The output must be a valid JSON object in the format { result: 'formatted text' }.`}" :key="it"></deliverable>                        
                          </v-expansion-panel-text>
                      </v-expansion-panel> 
                      <v-expansion-panel v-if="o.PsychologyDrivenUserAnalysis.values" v-for="it in o.PsychologyDrivenUserAnalysis.values" :key="it" elevation="0" class="ma-0 pa-0">
                        <v-expansion-panel-title ripple class="ma-0 pa-1 text-left text-primary" rounded color="indigo-lighten-5"> 
                            <v-icon color="primary" left class="pr-2">mdi-thought-bubble-outline</v-icon>{{ it }}
                        </v-expansion-panel-title>
                        <v-expansion-panel-text class="ma-0 pa-0" elevation="0"> 
                          <deliverable :o="{title: 'Trait: ' +it, url: 'https://xsbrt.com/communicate.html', role: this.role, prompt: `${o.PsychologyDrivenUserAnalysis.description}. You are interested in the value ${it}. Focus on: ${o.description}. The output must be a valid JSON object in the format { result: 'formatted text' }.`}" :key="it"></deliverable>                        
                        </v-expansion-panel-text>
                    </v-expansion-panel>             
                    </v-expansion-panels>
                </v-card>
                    
            </v-col>

            <v-col cols="auto" xs="12" sm="12" md="10" lg="9" xl="9" class="text-center justify-center d-flex">
        
           

            <v-col cols="6" xs="12" sm="12" md="6" lg="6" xl="6">
        <v-card v-if="o.CustomCommunicationsDevelopment"
            class="text-center pa-2"
            outlined
            elevation="20"
            color="indigo-lighten-5"
        >
            <v-card-title class="headline text-primary">
                <v-icon class="pr-1 pb-1" large>mdi-file-document</v-icon>
                Content Types
            </v-card-title>
            <v-card-text class="text-primary text-caption text-left">
                {{ o.CustomCommunicationsDevelopment.description }}
            </v-card-text>  
            <v-expansion-panels variant="accordion">
                <v-expansion-panel v-for="it in o.CustomCommunicationsDevelopment.contentTypes" :key="it" elevation="0" class="ma-0 pa-0">
                    <v-expansion-panel-title ripple class="ma-0 pa-2 text-left text-primary" rounded elevation="4" color="indigo-lighten-5"> 
                        <v-icon color="primary" left class="pr-2">mdi-file-document</v-icon>{{ it }}
                    </v-expansion-panel-title>
                    <v-expansion-panel-text class="ma-0 pa-0" elevation="0"> 
                        <deliverable :o="{title: 'Content Type: ' +it, url: 'https://xsbrt.com/communicate.html', role: this.role, prompt: `${o.CustomCommunicationsDevelopment.description}. You are interested in the content type: ${it}. Focus on: ${o.description}. The output must be a valid JSON object in the format { result: 'formatted text' }.`}" :key="it"></deliverable>                        
                    </v-expansion-panel-text>
                </v-expansion-panel>          
            </v-expansion-panels>
        </v-card>
    </v-col>

    <v-col cols="6" xs="12" sm="12" md="6" lg="6" xl="6">
        <v-card v-if="o.ScenarioBasedApplication"
            class="text-center pa-2"
            outlined
            elevation="20"
            color="indigo-lighten-5"
        >
            <v-card-title class="headline text-primary">
                <v-icon class="pr-1 pb-1" large>mdi-nature-people</v-icon>
                Scenarios
            </v-card-title>
            <v-card-text class="text-primary text-caption text-left">
                {{ o.ScenarioBasedApplication.description }}
            </v-card-text>  
            <v-expansion-panels variant="accordion">
                <v-expansion-panel v-for="it in o.ScenarioBasedApplication.scenarios" :key="it" elevation="0" class="ma-0 pa-0">
                    <v-expansion-panel-title ripple class="ma-0 pa-2 text-left text-primary" rounded elevation="4" color="indigo-lighten-5"> 
                        <v-icon color="primary" left class="pr-2">mdi-nature-people</v-icon>{{ it }}
                    </v-expansion-panel-title>
                    <v-expansion-panel-text class="ma-0 pa-0" elevation="0"> 
                        <deliverable :o="{title: 'Scenario: ' +it, url: 'https://xsbrt.com/communicate.html', role: this.role, prompt: `${o.ScenarioBasedApplication.description}. You are interested in the scenario: ${it}. Focus on: ${o.description}. The output must be a valid JSON object in the format { result: 'formatted text' }.`}" :key="it"></deliverable>                        
                    </v-expansion-panel-text>
                </v-expansion-panel>          
            </v-expansion-panels>
        </v-card>
    </v-col>

</v-col>

        </v-row>

        </v-container> 
   
    </v-main>
    
  </v-app>

     </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="artyom.window.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script> 
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.6/xlsx.full.min.js"></script>      
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();
      const { loadModule } = window['vue3-sfc-loader'];

      async function loadComponentsAndInitApp() {          

        async function addComponent(component) {
          return await loadModule('./' + component + '.vue', {
                  moduleCache: {
                      vue: Vue
                  },
                  async getFile(url) {
                      const res = await fetch(url);
                      if (!res.ok)
                          throw Object.assign(new Error(url + ' ' + res.statusText), { res });
                      return await res.text();
                  },
                  addStyle: (textContent) => {
                      const style = document.createElement('style');
                      style.textContent = textContent;
                      document.head.appendChild(style);
                  }
              });
        }
        
      //define components
      const headerComponent = await addComponent('header');    
      const welcome = await addComponent('welcome');
      const previousSessions = await addComponent('previousSessions');
      const mission = await addComponent('speechText');
      const quotes = await addComponent('quotes');
      const deliverable = await addComponent('deliverable');
      const relatedToolbar = await addComponent('relatedToolbar');
      const shareToolBar = await addComponent('shareToolBar');
      const ideas = await addComponent('ideas');

      const app = createApp({

          data() {
              return {
                  o: {description: '', name: 'communicate'},
                  session: randomString(),
                  loading: false
              }
          }, 
          
          computed: {
              showLoad() {
                  return (this.o.description && this.o.description.length > 9) || this.o.speech;
              }
          },

          created() { 
              createStorage('communicate');              
              this.role =  "You are a custom communications specialist with a behavioral psychology focus. Your objective is to apply the principles of the 'Big Five' personality traits and the Schwartz Value Circumplex to create tailored communications strategies based on end-user input. This role capitalizes on your expertise in both psychology and communications, requiring you to analyze and apply complex psychological concepts to create highly customized and effective communication strategies based on specific user needs. Key Responsibilities: 1. Psychology-Driven User Analysis: Conduct a thorough analysis of target audiences using the 'Big Five' personality traits (Openness to Experience, Conscientiousness, Extraversion, Agreeableness, Neuroticism) and the Schwartz Value Circumplex (Power, Achievement, Hedonism, Stimulation, Self-Direction, Universalism, Benevolence, Tradition, Conformity, Security). Understand how these traits and values influence preferences and behaviors; 2. Custom Communications Development: Develop bespoke communication strategies and content (such as emails, social media posts, press releases, and official statements) that resonate with the identified personality traits and values of the target audience; 3. Scenario-Based Application: Craft specific communication examples for various scenarios (workplace, social interactions, personal decisions) based on the combination of personality traits and values identified in your audience analysis; 4. Outcome Evaluation: Continuously assess the effectiveness of communication strategies in achieving desired outcomes, such as increased engagement, improved relationships, or more effective decision-making; 5. Reporting and Advising: Prepare detailed reports and recommendations for stakeholders, outlining the psychology behind each communication strategy and its impact on audience behavior and responses." + processPrompt() + " Your intended audience is in the 10th grade. " + writingPrompt();                  
              this.path = new URL(document.location).pathname; 
              this.writing = writingPrompt(); 
            },

          watch: {

              o: function (newValue) {
                  return newValue;
              }
          },

          async mounted() {  
            window.open('https://xsbrt.com/?s=mdi-account-search','_self');
              return;
              this.o.name = 'communicate';
              this.o.session = this.session; 
              this.o.id = await retrieveId();
              this.o.location = await getDeviceLocation();
              if (this.o.location) {
                this.role = this.role + " The person seeking communications assistance resides at latitude: " + this.o.location.latitude + ", longitude: " + this.o.location.longitude + '.';
              };
              this.related(new URL(document.location).searchParams.get("d"));
          },

          methods: { 

            async processSpeech(o) {
              if (!o||o.results.length < 10) { return };
              this.o = Vue.reactive({ description: o.results });
              console.log(this.o);
              console.clear();
              if (o.speech) { this.gatherResults(); };
              o = null;
            },

            async previousSession(o) {
                if (!o||!o.description) { return };  
                this.o = Vue.reactive(o);
                console.log(this.o);
                o = null;
                console.clear();
            },

            async related(directions) {
              if (!directions||directions.length < 4) { return };
              this.o.description = directions.trim();
              this.gatherResults();
            },

            async gatherResults() {
                if (!this.o||!this.o.description||this.o.description.length < 5) { return };
                console.clear();  
                this.loading = true;
                this.o["description"] = this.o.description.replace(/\s+/g, ' ').trim();
                const messages = [
                  { role: "system",  content: this.role },                
                  { role: "user", content: "Create a JSON structure tailored to effectively utilize Behavioral Psychology for communications, based exclusively on the following user provided input: '" + this.o.description + "'. The JSON must consist of main objects directly relevant to the user's input: 'PsychologyDrivenUserAnalysis', 'CustomCommunicationsDevelopment', 'ScenarioBasedApplication', 'OutcomeEvaluation', and 'ReportingAndAdvising'. Each object should encapsulate attributes directly related to the user's input, including 'description', 'traits': top 3 best matches based on user input, 'values': top 3 best matches based on user input, 'contentTypes', 'scenarios', 'desiredOutcomes', and 'reportContents'. Ensure the structure is consistent, clear, and adheres to the precise format previously established in our discussion. This JSON is crafted to offer a uniform, machine-readable depiction of the role's responsibilities and goals, as they pertain specifically to the user's provided text."}
                ];  
                            
                let res = await getResultsNEW(messages,0.6);
                if (res) {
                  this.o = {...this.o, ...res}; 
                }; 
                this.loading = false;
                this.o.name = 'communicate';
                saveEntity(this.o);
                this.session = randomString(); 
            }
            
          },

          components: {
            headerComponent,
            welcome,
            previousSessions,
            mission,
            quotes,
            deliverable,
            relatedToolbar,
            shareToolBar,
            ideas
          },

          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>
      
    
    <style scoped>
      #app {
          width: 100%;
          height: 100vh;
          background-color: white;
      }
  
      .overlay-container {
          overflow: auto;
      }
  
      .overlay-card {
          max-width: 90%;
          margin: auto;
      }
  
      .overlay-title {
          font-size: 1.5em;
          font-weight: bold;
      }
  
      .overlay-subtitle {
          font-size: 1.2em;
      }
  
      .overlay-content {
          overflow-y: auto;
          max-height: 70vh;
      }
  
      .result-text {
          font-size: 1.1em;
          white-space: pre-wrap;
          word-wrap: break-word;
      }
  
      .action-title {
          font-weight: bold;
          letter-spacing: 1.2px;
      }
  
      .subtitle {
          font-size: 0.8em;
          margin-left: 5px;
      }
  
      .action-button {
          font-weight: bold;
          letter-spacing: 1.2px;
          transition: all 0.3s ease;
      }
  
      .action-button:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }
  
      .action-textarea {
          border: 2px solid var(--primary-color);
          border-radius: 8px;
          transition: all 0.3s ease;
      }
  
      .action-textarea:focus-within {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  </style>
  
</body>
</html>