<template>
    <v-slide-group-item v-if="oo&&oo.result" v-slot="{ isSelected, toggle }" v-slot="{ isSelected, toggle }">
        <v-card elevation="12" rounded class="ma-4 pa-4" min-height="285" width="350">
            <v-card-title class="text-center">
                <v-icon class="pb-1 pr-1" large>mdi-account-multiple-outline</v-icon>Contacts                  
            </v-card-title>                             
            <v-card-text class="pa-2"> 
               <ul>
                <li class="pb-2"></li>
               </ul>
                {{ it }}  
            </v-card-text>                 
        </v-card>
    </v-slide-group-item> 
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    data() {
              return {
                  oo: this.o
              }
          }, 

    computed: {

        showResults() {
            if (this.oo&&this.oo.result) { return this.oo.result };
            return null;
        }

    },

    async mounted() {
        if (!this.o.prompt) { this.o = null; return; }; 
        if (this.o.result) { return };
        this.getIdea();
    },

    methods: { 

        async getIdea() {  
            if (this.o.result) { delete this.o.result }; 
            const messages = [
                { role: "system", content: this.o.role },
                { role: "user", content: 'ChatGPT, after analyzing the following text: ' + this.o.prompt + ', generate a JSON array list of the top five key contacts most closely related to the content of the input. These contacts should include a mix of individuals (with their titles), companies, NGOs, nonprofits, government agencies, and legislative functions relevant to the issue. Each entry in the JSON array must include the name of the contact (or the name of the agency/function), their title or role, and the name of their affiliated organization or government body. Emphasize relevance and influence in relation to the users input, ensuring that the contacts are directly linked to the topic discussed.' +  processPrompt() + '. Your response will only be returned as a well-formed JSON object like {result: [array of text only of contacts] }. Ensure your output strictly adheres to this JSON format.' }                
            ];
            let temperature = this.o.temperature ? this.o.temperature : 0.3;
            let res = await getResultsNEW(messages, null, null, true);
            if (res&&res.result) {
                this.oo["result"] = res.result;
            };
        }
    }

}
</script>