<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="Decision Making, Heuristics, Expert Guidance, Problem Solving, Decision Analysis, Heuristic Application, Decision Support, Expert Advice, Decision-Making Strategies, Decision-Making Heuristics" />
    <meta name="description" content="Navigate through tough decisions with expert guidance at xsbrt. Apply decision-making heuristics to analyze and make informed choices. Whether it's personal or professional decisions, our AI-driven platform provides structured results and expert advice tailored to your unique situation." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Expert Decision-Making Support" />
    <meta property="og:description" content="Facing a tough decision? xsbrt offers expert guidance and heuristic analysis to help you make the best choice. Dive in for structured results and personalized advice." />
    <meta property="og:url" content="https://xsbrt.com/decision" />
    <meta property="og:site_name" content="xsbrt" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="xsbrt: Expert Decision-Making Support" />
    <meta name="msapplication-TileImage" content="xsbrtimage.png" />
    <meta name="msapplication-TileColor" content="blue" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="xsbrtimage.png" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <title>Expert Decision-Making Support</title>
</head>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
    <v-app id="inspire"> 
      <headerComponent :o="{title: 'Decision Support', icon: 'mdi-comment-question-outline', subtitle: 'Navigate through tough decisions', url: 'https://xsbrt.com/decisions.html'}"></headerComponent>

    <v-main class="justify-center text-center ma-1">

        <welcome v-if="!loading&&!o.description&&!o.description.length > 0" class="mb-4" :o="{text: 'Navigate through tough decisions with expert guidance at xsbrt. Apply decision-making heuristics to analyze and make informed choices. Whether it is personal or professional decisions, our AI-driven platform provides structured results and expert advice tailored to your unique situation.'}"></welcome> 

      <v-row class="justify-center mt-2">  
        
        <v-col cols="auto" sm="12" md="4" class="mb-1">
            <previousSessions :o="o" :key="session" @my-session="previousSession"></previousSessions>
        </v-col>

        <v-col cols="auto" sm="12" md="10">
            <mission :o="{
                label: 'Facing a tough decision? Let’s apply decision-making heuristics!',
                hint: 'Describe the decision you need to make, and we’ll analyze it using expert heuristics to guide you towards the best choice.',
                placeholder: 'E.g., Should I take the job offer? Is it the right time to invest? How to prioritize my tasks for the day?'
            }" @speech-recognized="processSpeech"></mission>             
        </v-col>

      </v-row>

      <v-btn 
      v-if="showLoad" 
      color="primary" 
      elevation="12"
      variant="tonal"
      size="large"
      rounded  
      ripple
      @click="gatherResults" 
      class="mb-4 mt-3 pa-2 text-center justify-center" 
      :loading="loading"
    >
    <v-icon class="pr-1">mdi-human-handsup</v-icon>
    Answer!
    </v-btn> 

    <quotes v-if="loading"></quotes>

    <v-container v-if="o&&o.answer" fluid class="mt-4 d-flex text-center justify-center">

        <v-row class="d-flex justify-center text-center">
            <v-btn ripple variant="tonal" elevation="6" class="mx-2" color="primary" title="Click here to get expert advice on this" icon="mdi-lightbulb-on-outline" @click="jumpLink('xsbrt')"></v-btn>
            <v-btn ripple variant="tonal" elevation="6" class="mx-2" color="primary" title="Discover a future-focused approach to forecasting" icon="mdi-sitemap" @click="jumpLink('future')"></v-btn> 
            <v-col cols="12" sm="12" md="12">
                <v-alert title="Answer" :text="o.answer" prominent color="primary" class="text-left pa-4 my-2" border elevation="18" rounded icon="mdi-checkbox-marked-circle-outline"></v-alert>              
                <ideas class="mt-4 pt-4" :o="{title: o.description, url: 'https://xsbrt.com/decisions.html', role: this.role, prompt: `${o.answer}`}" :key="o.description"></ideas>  
            </v-col> 

        </v-row>       

    </v-container> 
   
    </v-main>
    
  </v-app>

     </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="artyom.window.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.9.0/localforage.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>    
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();
      const { loadModule } = window['vue3-sfc-loader'];

      async function loadComponentsAndInitApp() {          

        async function addComponent(component) {
          return await loadModule('./' + component + '.vue', {
                  moduleCache: {
                      vue: Vue
                  },
                  async getFile(url) {
                      const res = await fetch(url);
                      if (!res.ok)
                          throw Object.assign(new Error(url + ' ' + res.statusText), { res });
                      return await res.text();
                  },
                  addStyle: (textContent) => {
                      const style = document.createElement('style');
                      style.textContent = textContent;
                      document.head.appendChild(style);
                  }
              });
        }
        
      //define components
      const headerComponent = await addComponent('header');  
      const welcome = await addComponent('welcome');   
      const previousSessions = await addComponent('previousSessions');
      const mission = await addComponent('speechText');
      const quotes = await addComponent('quotes');
      const shareToolBar = await addComponent('shareToolBar');
      const deliverable = await addComponent('deliverable');
      const ideas = await addComponent('ideas');

      const app = createApp({

          data() {
              return {
                  o: {description: '', name: 'decisions'},
                  session: randomString(),
                  loading: false
              }
          }, 
          
          computed: {
              showLoad() {
                  return (this.o.description && this.o.description.length > 9) || this.o.speech;
              }
          },

          created() { 
                window.open('https://xsbrt.com/?s=comment-question-outline','_self');
              return;
              this.role = 'You are a decision-making expert with a focus on practical application of strategies. Given the strategies: Uphill Decisions, The Two-Minute Rule, Solomons Paradox, The Hesitation Strategy, and Regret Minimization, provide a direct and concise answer to the posed question.' + writingPrompt() + ' Apply the most suitable strategy based on the context, ensuring your response is well-structured, detailed, and formatted as a JSON object. ' + processPrompt() + ' JSON template: { "answer": "Direct and concise response applying the chosen strategy, including a clear explanation of the reasoning behind the final decision." }.';
              createStorage('decisions');
              this.id = null;               
          },

          watch: {

              o: function (newValue) {
                  return newValue;
              }
          },

          async mounted() { 
              this.o.name = 'decisions';
              this.o.session = this.session; 
              this.o.id = await retrieveId();
              this.o.location = await getDeviceLocation();
              if (this.o.location) {
                this.role = this.role + " The person resides at latitude: " + this.o.location.latitude + ", longitude: " + this.o.location.longitude + '.';
              };
              let description = new URL(document.location).searchParams.get("d");
              if (description&&description.length > 9) {
                this.o.description = description.trim();
                this.gatherResults();
              };
          },

          methods: { 

            async jumpLink(link) {
                window.open('https://xsbrt.com/'+link+'.html?d='+this.o.description,'_parent');
            },

            async processSpeech(o) {
              if (!o||o.results.length < 10) { return };
              this.o = Vue.reactive({ description: o.results });
              console.log(this.o);
              console.clear();
              if (o.speech) { this.gatherResults(); };
              o = null;
            },

            async previousSession(o) {
                if (!o||!o.description) { return };  
                this.o = Vue.reactive(o);
                console.log(this.o);
                o = null;
                console.clear();
            },

            async gatherResults() {
              //console.clear();
              if (!this.o||!this.o.description||this.o.description.length < 10) { return }; 
              if (this.o.answer) { 
                delete this.o.answer;
             };            
              this.loading = true;  
              this.o["description"] = convertMultipleSpacesToSingle(this.o.description);
              const messages = [
                  { role: "system", content: this.role },
                  { role: "user", content: `The question needing an answer is about the following: "${this.o.description}".` }
              ];
              
              const res = await getResultsNEW2(messages,0.6,null,null);
              if (res) {
                this.o.name = 'decisions'; 
                this.o = Vue.reactive({ ...this.o, ...res });
                console.log(this.o);
                console.clear();
              }; 
              this.loading = false;
              this.o["session"] = this.session;
              this.session = randomString();
            },

            
          },

          components: {
            headerComponent,
            welcome,
            previousSessions,
            mission,
            quotes,
            shareToolBar,
            deliverable,
            ideas
          },

          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>
      
    
    <style scoped>
      #app {
          width: 100%;
          height: 100vh;
          background-color: white;
      }
  
      .overlay-container {
          overflow: auto;
      }
  
      .overlay-card {
          max-width: 90%;
          margin: auto;
      }
  
      .overlay-title {
          font-size: 1.5em;
          font-weight: bold;
      }
  
      .overlay-subtitle {
          font-size: 1.2em;
      }
  
      .overlay-content {
          overflow-y: auto;
          max-height: 70vh;
      }
  
      .result-text {
          font-size: 1.1em;
          white-space: pre-wrap;
          word-wrap: break-word;
      }
  
      .action-title {
          font-weight: bold;
          letter-spacing: 1.2px;
      }
  
      .subtitle {
          font-size: 0.8em;
          margin-left: 5px;
      }
  
      .action-button {
          font-weight: bold;
          letter-spacing: 1.2px;
          transition: all 0.3s ease;
      }
  
      .action-button:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }
  
      .action-textarea {
          border: 2px solid var(--primary-color);
          border-radius: 8px;
          transition: all 0.3s ease;
      }
  
      .action-textarea:focus-within {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  </style>
  
</body>
</html>