<template>
  <v-container v-if="o" fluid class="text-center justify-center ma-0 pa-0">

    <v-btn v-if="!loading&&!final" x-large ripple variant="tonal" elevation="6" color="primary" title="Click here to get more information" icon="mdi-file-plus" @click="getDeliverable">
    </v-btn>

    <v-progress-circular v-if="loading && !final" color="primary" indeterminate :size="68" :width="7"></v-progress-circular>   
    <v-banner v-if="!loading && showSnackBar && !final" color="warning" icon="mdi-clock-alert" text="Sorry! This is taking too long! Try again in a few minutes." stacked></v-banner>
    
    <v-row v-if="final&&final.results" class="text-center justify-center pa-0 ma-0">
        <v-col cols="12" class="text-center justify-center">
            <v-btn ripple variant="tonal"  elevation="6" class="mx-1" color="primary" title="Click here to copy to your clipboard" icon="mdi-content-copy" @click="clip" style="display: inline-block;">
            </v-btn>
            <v-btn ripple variant="tonal"  elevation="6" class="mx-1" color="primary" title="Click here to share" icon="mdi-share" @click="share" style="display: inline-block;">
            </v-btn>
            <v-btn ripple variant="tonal"  elevation="6" class="mx-1" color="primary" title="Click here to download" icon="mdi-download" @click="downloadAsTxt" style="display: inline-block;">
            </v-btn>
            <v-btn ripple variant="tonal"  elevation="6" class="mx-1" color="primary" title="Click here to recreate new deliverable" icon="mdi-restart" @click="getDeliverable" style="display: inline-block;">
            </v-btn>
        </v-col>   
        <v-col cols="12" class="text-left font-weight-regular text-body-1 result-text mt-2" v-html="final.results"></v-col>            
    </v-row>     
  </v-container>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    data() {
        return {
            final: null,
            loading: false,
            showSnackBar: false
        }
    },

    async mounted() {
        if (!this.o.prompt) { this.o = null; return; }; 
        if (this.o.auto) { this.getDeliverable() };
    },

    methods: { 

        async getDeliverable() {  
            if (this.o.result) { delete this.o.result };          
            this.loading = true;
            this.showSnackBar = false;
            const messages = [
                { role: "system", content: this.o.role },
                { role: "user", content: this.o.prompt + ' ' + processPrompt() + ' ' + writingPrompt() + ' Generate a response in JSON format with two fields: "results_text" containing formatted plain text with any necessary line breaks, and "results" containing the same content formatted in HTML. Ensure that the HTML is fully tagged for optimal formatting and provide proper spacing for easy reading. Ensure your output strictly adheres to this JSON format.' }                
            ];
            let temperature = this.o.temperature ? this.o.temperature : 0.4;
            let res = await getResultsNEW(messages, null, null, true);
            if (res&&res.results) {
                this.final = res;
                this.loading = false;
                //this.$emit('my-deliverable', this.final);
                return; 
            }; 
            this.loading = false;
            this.showSnackBar = true
        },

        async share() {
            const shareData = {
                title: this.o.title,
                text: this.final.results_text,
                url: this.o.url
            };
            navigator.share(shareData);
        },

        async clip() {
            copyClipboard(this.final.results_text);
        },

        async downloadAsTxt() {
            const blob = new Blob([this.final.results_text], { type: 'text/plain' });
            const link = document.createElement('a');
            link.href = URL.createObjectURL(blob);
            link.download = "download.txt";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
 
    }

}
</script>

<style>
    .result-text {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        font-family: Roboto,sans-serif;
        font-size: 0.9rem;
        line-height: 1.5;
        overflow-x: hidden;
        text-rendering: optimizeLegibility;
        word-wrap: break-word;
        overflow-y: auto;
        max-height: 90vh;
        margin: 0 !important;
        padding: 0 !important;
    }
</style>