<template>
  <v-container v-if="o" fluid>
    <v-progress-circular v-if="loading && !o.results" color="primary" indeterminate :size="68" :width="7"></v-progress-circular>   
    <v-banner v-if="!loading && showSnackBar && !o.results" color="warning" icon="mdi-clock-alert" text="Sorry! This is taking too long! Try again in a few minutes." stacked></v-banner>
    
    <v-row v-if="o.result" class="text-center justify-center">
        <v-col cols="12" class="text-center justify-center">
            <v-btn ripple variant="tonal" size="large" elevation="6" class="mx-2" color="primary" title="Click here to copy to your clipboard" icon="mdi-content-copy" @click="clip" style="display: inline-block;">
            </v-btn>
            <v-btn ripple variant="tonal" size="large" elevation="6" class="mx-2" color="primary" title="Click here to share" icon="mdi-share" @click="share" style="display: inline-block;">
            </v-btn>
            <v-btn ripple variant="tonal" size="large" elevation="6" class="mx-2" color="primary" title="Click here to download" icon="mdi-download" @click="downloadAsTxt" style="display: inline-block;">
            </v-btn>
        </v-col>   
        <v-col cols="12">
            <pre class="result-text text-left">
                {{o.result}}
            </pre> 
        </v-col>            
    </v-row>  
   
  </v-container>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    data() {
        return {
            loading: false,
            showSnackBar: false
        }
    },

    async mounted() {
        if (this.o.result) { return };
        if (!this.o.prompt) { this.o = null; return; }; 
        this.loading = true;
        this.showSnackBar = false;
        const messages = [
            { role: "system", content: this.o.role },
            { role: "user", content: this.o.prompt + ' ' + writingPrompt() + ' Your response will only be returned as a well-formed JSON object like {result: formatted text }. Ensure your output strictly adheres to this JSON format.' }                
        ];
        let temperature = this.o.temperature ? this.o.temperature : 0.4;
        let res = await getResultsNEW(messages, null, null,;
        if (res&&res.result) {
            this.o.result = res.result;
            this.loading = false;
            res = null;
            this.$emit('my-deliverable', this.o.result);
            return; 
        }; 
        this.loading = false;
        this.showSnackBar = true;
    },

    methods: { 

        async share() {
            const shareData = {
                title: this.o.title,
                text: this.o.result,
                url: this.o.url
            };
            navigator.share(shareData);
        },

        async clip() {
            copyClipboard(this.o.result);
        },

        async downloadAsTxt() {
            const blob = new Blob([this.o.result], { type: 'text/plain' });
            const link = document.createElement('a');
            link.href = URL.createObjectURL(blob);
            link.download = "download.txt";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
 
    }

}
</script>

<style>
    .result-text {
        font-size: 1.1em;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-y: auto;
        max-height: 90vh;
    }
</style>