<template>
  <v-container v-if="o" fluid>
    <!-- Progress indicator -->
    <v-progress-circular v-if="createLoading && !it.results" color="primary" indeterminate :size="68" :width="7"></v-progress-circular>    
    <!-- Banner for long operation -->
    <v-banner v-if="showSnackBar && !it.results" color="warning" icon="mdi-clock-alert" class="mt-2" text="Sorry! This is taking too long! Try again in a few minutes." stacked></v-banner>

    <pre v-if="o.result" class="result-text overlay-content text-left">
        {{it.results}}
    </pre> 
  </v-container>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    data() {
        return {
            loading: false,
            createLoading: false,
            showSnackBar: false
        }
    },

    async mounted() {
      
    },

    methods: { 

        async getDeliverable(it) {
              if (it.results) { return };
              console.clear();              
              this.showSnackBar = false;
              this.createLoading = true;
              let messages = [
                  { role: "system", content: it.role ? it.role : this.role }                
              ];
              if (it.prompt) {
                messages.push( { role: "user", content: it.prompt + ' Your response will only be returned as a well-formed JSON object like {result: formatted text }. Ensure your output strictly adheres to this JSON format. ' + writingPrompt() })
              } else {                
                let txt = `Generate a ${it.type} focused on the mission: ${this.o.description}, taking into account ${it.name}'s summary: ${it.summary}. The output must be a valid JSON object in the format { result: 'formatted text' }.`;
                txt = txt + writingPrompt();
                messages.push( { role: "user", content: txt })
              };
              console.log(messages);
              let res = await getResults(messages, 0.2, null);
              if (res&&res.result) {
                  const updatedDeliverables = this.deliverables.map(oo => {
                      if (it.name === oo.name) {
                          return { ...oo, results: res.result };
                      }
                      return oo;
                  });
                  this.deliverables = updatedDeliverables;
                  console.log(this.deliverables);
                  console.clear();
                  this.createLoading = false;
                  return; 
              }; 
              this.showSnackBar = true;
              this.createLoading = false;
          }             

    }
}
</script>

<style>
.overlay-content {
    overflow-y: auto;
    max-height: 90vh;
}

.result-text {
    font-size: 1.1em;
    white-space: pre-wrap;
    word-wrap: break-word;
}
</style>