<template>
  <v-container v-if="o" fluid>
    <v-progress-circular v-if="loading && !o.results" color="primary" indeterminate :size="68" :width="7"></v-progress-circular>   
    <v-banner v-if="!loading && showSnackBar && !o.results" color="warning" icon="mdi-clock-alert" class="mt-2" text="Sorry! This is taking too long! Try again in a few minutes." stacked></v-banner>
    <pre v-if="o.result" class="result-text overlay-content text-left">
        {{o.result}}
    </pre> 
  </v-container>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    data() {
        return {
            loading: true,
            showSnackBar: false
        }
    },

    async mounted() {
        if (!this.o.prompt) { this.o = null; return; }; 
        this.showSnackBar = false;
        let messages = [
            { role: "system", content: this.o.role }                
        ];
        if (it.prompt) {
        messages.push( { role: "user", content: it.prompt + ' Your response will only be returned as a well-formed JSON object like {result: formatted text }. Ensure your output strictly adheres to this JSON format. ' + writingPrompt() })
        } else {                
        let txt = `Generate a ${it.type} focused on the mission: ${this.o.description}, taking into account ${it.name}'s summary: ${it.summary}. The output must be a valid JSON object in the format { result: 'formatted text' }.`;
        txt = txt + writingPrompt();
        messages.push( { role: "user", content: txt })
        };
        console.log(messages);
        let res = await getResults(messages, 0.2, null);
        if (res&&res.result) {
        this.o.result = res.result;
        this.loading = false;
        return; 
        }; 
        this.loading = false;
        this.showSnackBar = true;
    }

}
</script>

<style>
.overlay-content {
    overflow-y: auto;
    max-height: 90vh;
}

.result-text {
    font-size: 1.1em;
    white-space: pre-wrap;
    word-wrap: break-word;
}
</style>