<template>
  <v-container v-if="o" fluid>
    <v-progress-circular v-if="loading && !o.results" color="primary" indeterminate :size="68" :width="7"></v-progress-circular>   
    <v-banner v-if="!loading && showSnackBar && !o.results" color="warning" icon="mdi-clock-alert" text="Sorry! This is taking too long! Try again in a few minutes." stacked></v-banner>
    <pre v-if="o.result" class="result-text overlay-content text-left">
        {{o.result}}
    </pre> 
  </v-container>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    data() {
        return {
            loading: true,
            showSnackBar: false
        }
    },

    async mounted() {
        if (!this.o.prompt) { this.o = null; return; }; 
        this.showSnackBar = false;
        const messages = [
            { role: "system", content: this.o.role },
            { role: "user", content: this.o.prompt + ' ' + writingPrompt() + ' Your response will only be returned as a well-formed JSON object like {result: formatted text }. Ensure your output strictly adheres to this JSON format.' }                
        ];
        let temperature = this.o.temperature ? this.o.temperature : 0.4;
        let res = await getResults(messages, temperature, null);
        if (res&&res.result) {
            this.o.result = res.result;
            this.loading = false;
            res = null;
            this.$emit('my-deliverable', this.o.result);
            return; 
        }; 
        this.loading = false;
        this.showSnackBar = true;
    }

}
</script>

<style>
.overlay-content {
    overflow-y: auto;
    max-height: 90vh;
}

.result-text {
    font-size: 1.1em;
    white-space: pre-wrap;
    word-wrap: break-word;
}
</style>