<template>
    <v-lazy v-if="o"      
        :min-height="200"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >
    <v-footer app class="text-center justify-center d-flex pa-4" elevation="18">
        <v-btn 
          icon
          ripple
          elevation="4"
          variant="tonal"
          size="large"
          color="primary" 
          title="Share this site"
          @click="shareContent"
      >
        <v-icon>mdi-share</v-icon>
      </v-btn>
    </v-footer>
    </v-lazy>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    }

    methods: {

        async startSpeechRecognition() { 
            try {
                this.loading = true;
                this.isListening = false;
                this.speechText = '';
                await this.artyom.initialize({lang:"en-US", debug: false, soundex: true, continuous: true, listen: true, speed: 1 });       
                this.artyom.addCommands({
                    indexes: [/.*/],
                    smart: true,
                    action: (i, wildcard) => {
                        this.speechText = this.speechText + ' ' + wildcard.trim();
                    }
                });
                setTimeout(() => { this.isListening = true; this.loading = false; }, 2000);
                  this.artyom.redirectRecognizedTextOutput((text, isFinal) => {
                    this.speechText = text.trim();
                });
                return;
            } catch (error) {
                this.artyom.fatality();
                return;
            }               
        },
,
        async emitResults() {
            if (!this.speechText.length > 1) {
                this.$emit('speech-recognized', this.speechText.trim());
            }; 
        },

        async stopSpeechRecognition() { 
            try {                
                this.isListening = false; 
                this.artyom.fatality();
                this.emitResults();
            } catch (error) {
                return;
            }               
        }
    }
}
</script>