<template>
    <v-lazy v-if="o"      
        :min-height="200"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >
    <v-footer app class="text-center justify-center d-flex pa-4" elevation="18">
        <v-btn 
          icon
          ripple
          elevation="4"
          variant="tonal"
          size="large"
          color="primary" 
          title="Share this site"
          @click="shareContent"
      >
        <v-icon>mdi-share</v-icon>
      </v-btn>
    </v-footer>
    </v-lazy>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    methods: {

       async shareContent() {
           await navigator.share({
               title: this.o.title,
               text: this.o.description,
               url: this.o.url
           })
       }
    }
}
</script>