<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords"
    content="Nonprofit, Fundraising, AI-driven, Custom Solutions, Letters of Inquiry, Budgets, Case Statements, Grant Writing, Funding Entities" />
<meta name="description"
    content="FundMagnet is your ultimate platform for nonprofit fundraising, designed to ignite your organization's potential. Leveraging cutting-edge AI technology, we offer personalized funding solutions tailored to your mission. From crafting compelling Letters of Inquiry to devising meticulous budgets and strategic fundraising plans, FundMagnet is your one-stop solution for all your fundraising needs. Let us help you turn your vision into reality." />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="FundMagnet - Ignite Your Nonprofit's Potential" />
<meta property="og:description"
    content="FundMagnet is your ultimate platform for nonprofit fundraising, designed to ignite your organization's potential. Leveraging cutting-edge AI technology, we offer personalized funding solutions tailored to your mission. From crafting compelling Letters of Inquiry to devising meticulous budgets and strategic fundraising plans, FundMagnet is your one-stop solution for all your fundraising needs. Let us help you turn your vision into reality." />
<meta property="og:url" content="https://xsbrt.com/tinyfundraiser" />
<meta property="og:site_name" content="FundMagnet - Spark Your Nonprofit's Potential" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="yes" />
<meta name="apple-mobile-web-app-title" content="FundMagnet - Ignite Your Nonprofit's Potential" />
<meta name="msapplication-TileImage" content="magnet.png" />
<meta name="msapplication-TileColor" content="white" />
<meta name="theme-color" content="white" />
<link rel="apple-touch-icon" href="magnet.png" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <title>FundMagnet - Ignite Your Nonprofit's Potential</title>
</head>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
    <v-app id="inspire"> 
      <headerComponent :o="{title: 'FundMagnet', icon: 'mdi-magnet', subtitle: 'Ignite Your Nonprofit', url: 'https://xsbrt.com/fundmagnet'}"></headerComponent>

    <v-main class="justify-center text-center ma-1">

      <welcome v-if="!loading&&!showLoad" :o="{text: 'FundMagnet is your ultimate platform for nonprofit fundraising, designed to ignite your organizations potential. Leveraging cutting-edge AI technology, we offer personalized funding solutions tailored to your mission. From crafting compelling Letters of Inquiry to devising meticulous budgets and strategic fundraising plans, FundMagnet is your one-stop solution for all your fundraising needs. Let us help you turn your vision into reality.'}"></welcome>  

      <v-row class="justify-center mt-2 mb-1">  
        
        <v-col cols="auto" sm="12" md="4">
            <previousSessions :o="o" :key="session" @my-session="previousSession"></previousSessions>
        </v-col>

        <v-col cols="auto" sm="12" md="10">
            <mission :o="{
                label: 'Your Nonprofit Mission, Story, Future. Share It Here!',
                hint: 'Pour your passion into words. Your next big nonprofit funding opportunity starts with a single sentence!',
                placeholder: 'What is your dream? What fuels your nonprofit organization? Lets make it happen!'
            }" @speech-recognized="processSpeech"></mission>             
        </v-col>

      </v-row>

      <v-btn 
      v-if="showLoad" 
      color="primary" 
      elevation="12"
      variant="tonal"
      size="x-large"
      rounded  
      ripple
      @click="gatherResults" 
      class="pa-2 text-center justify-center" 
      :loading="loading"
    >
    <v-icon left class="pr-1">mdi-cash-multiple</v-icon>
    Unleash Funding Potential!
    </v-btn> 

    <quotes v-if="loading" class="mt-4"></quotes>

    <v-container v-if="o&&o.results" fluid class="mt-4 d-flex text-center justify-center px-2"> 

       <v-row>

        <v-col cols="12" sm="12" md="12" class="my-2 text-center justify-center">
          <v-btn ripple variant="tonal" elevation="8" size="x-large" color="primary" title="Click here to download as Excel" icon="mdi-download" @click="download">
          </v-btn>
        </v-col>

        <v-col
          v-for="it in o.results"
          :key="it.name"
          class="pa-1"
          cols="12"  
          sm="6"    
          md="4"   
          lg="3">   
          
          <v-card
            class="text-center ma-2"
            outlined
            elevation="20"
            color="indigo-lighten-5"
          >
          <v-card-text>
            <v-card-title class="headline text-primary">{{it.name}}</v-card-title>
            <v-card-subtitle class="mb-2 text-primary font-weight-bold">
              <div><a style="text-decoration:none;" class="text-primary" :href="'tel:' + it.phone">{{it.phone}}</a></div>
              <a :href="it.website" class="text-primary" style="text-decoration: none;" target="_blank">
                {{it.website}}
              </a>
            </v-card-subtitle>
            
            <v-card-text class="body-1 mt-2 text-left text-primary">{{it.summary}}</v-card-text>
   
            <v-card-actions class="text-center justify-center">              
                <v-btn ripple variant="tonal" elevation="6" class="mx-2" color="primary" title="Click here to share" icon="mdi-share" @click="shareItem(it)">
                </v-btn> 
                <v-btn ripple variant="tonal" elevation="6" class="mx-2" color="primary" title="Click here to see related" icon="mdi-google-circles-extended" @click="related(it.summary,it.name)">             
                <relatedToolbar :description="it.summary"></relatedToolbar>   
              </v-card-actions>
              <v-expansion-panels variant="accordion" class="mt-2" elevation="0">

                <v-expansion-panel v-for="dlv in it.deliverables" :key="dlv.name" elevation="0" class="ma-0 pa-0">
                    <v-expansion-panel-title ripple class="ma-0 pa-2 text-left text-primary" rounded elevation="4" color="indigo-lighten-5" title="Click to create" @click="getDeliverable(it,dlv)"> 
                        <v-icon color="primary" left class="pr-2">mdi-information-outline</v-icon>{{ dlv.name }}
                    </v-expansion-panel-title>
                    <v-expansion-panel-text class="text-center justify-center ma-0 pa-1" elevation="0">  
                        
                        <v-progress-circular v-if="createLoading&&!dlv.results" color="primary" indeterminate :size="68" :width="7"></v-progress-circular>
        
                        <v-banner v-if="showSnackBar&&!dlv.results" color="warning" icon="mdi-clock-alert" class="mt-2 text-center justify-center" text="Sorry! This is taking too long! Try again in a few minutes." stacked></v-banner>
        
                        <v-row v-if="dlv.results" class="text-center justify-center py-2 mb-4">

                            <shareToolBar class="my-4" :o="{text: dlv.results, url: 'https://xsbrt.com/fundmagnet', description: dlv.name ': ' }"></shareToolBar>
        
                            <pre class="result-text overlay-content pt-4 mb-2 text-left">
                                {{dlv.results}}
                            </pre>               
        
                        </v-row>
        
                    </v-expansion-panel-text>
                </v-expansion-panel>
        
            </v-expansion-panels>
          </v-card>

        </v-col>

       </v-row>

    </v-container> 
   
    </v-main>
    
  </v-app>

     </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="artyom.window.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script> 
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.6/xlsx.full.min.js"></script>      
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();
      const { loadModule } = window['vue3-sfc-loader'];

      async function loadComponentsAndInitApp() {          

        async function addComponent(component) {
          return await loadModule('./' + component + '.vue', {
                  moduleCache: {
                      vue: Vue
                  },
                  async getFile(url) {
                      const res = await fetch(url);
                      if (!res.ok)
                          throw Object.assign(new Error(url + ' ' + res.statusText), { res });
                      return await res.text();
                  },
                  addStyle: (textContent) => {
                      const style = document.createElement('style');
                      style.textContent = textContent;
                      document.head.appendChild(style);
                  }
              });
        }
        
      //define components
      const headerComponent = await addComponent('header');    
      const welcome = await addComponent('welcome');
      const previousSessions = await addComponent('previousSessions');
      const mission = await addComponent('speechText');
      const quotes = await addComponent('quotes');
      const relatedToolbar = await addComponent('relatedToolbar');
      const shareToolBar = await addComponent('shareToolBar');

      const app = createApp({

          data() {
              return {
                  o: {description: '', name: 'FundMagnet'},
                  session: randomString(),
                  loading: false,
                  createLoading: false,
                  showSnackBar: false
              }
          }, 
          
          computed: {
              showLoad() {
                  return (this.o.description && this.o.description.length > 9) || this.o.speech;
              }
          },

          created() { 
              createStorage('FundMagnet');              
              this.role =  'You are a professional fundraiser, grant researcher and grant writer with over 30 years of experience successfully securing funding for many different nonprofits from foundations, corporations and charitable trusts. You only return valid, well-formed JSON based on data up to September 2021. No hallucinations, hypotheticals or made-up information.';                  
          },

          watch: {

              o: function (newValue) {
                  return newValue;
              }
          },

          async mounted() {    
              let writing = writingPrompt();                          
              this.deliverables = [  
                  {
                      "name": "Letter of Inquiry (LOI)",
                      "description": "Compose an incisive Letter of Inquiry that serves as an impactful introduction to an organization and its mission. Leverage my years of experience to make it resonate with potential funders. Results must be well-formed JSON." + writing
                  },
                  {
                      "name": "Budget",
                      "description": "Develop a meticulous Budget that reflects the financial acumen I've gained over the years. Include a comprehensive breakdown of projected expenses and income. Results must be well-formed JSON."
                  },
                  {
                      "name": "Case Statement",
                      "description": "Create a robust Case Statement that encapsulates the mission, vision, and needs of an organization. Utilize my decades of experience to make it an invaluable asset for major gift fundraising. Results must be well-formed JSON." + writing
                  },
                  {
                      "name": "Fundraising Plan",
                      "description": "Formulate a strategic Fundraising Plan that draws on my 30 years of experience. Outline achievable fundraising goals, innovative strategies, and realistic timelines. Results must be well-formed JSON."
                  }]; 
                this.o.name = 'FundMagnet';
              this.o.session = this.session; 
              this.o.id = await retrieveId();
              this.o.location = await getDeviceLocation();
              if (this.o.location) {
                this.role = this.role + " The person seeking funding assistance resides at latitude: " + this.o.location.latitude + ", longitude: " + this.o.location.longitude + '.';
              };
              console.log(this.role);
              this.related(new URL(document.location).searchParams.get("d"));
          },

          methods: { 

            async processSpeech(o) {
              if (!o||o.results.length < 10) { return };
              this.o = Vue.reactive({ description: o.results });
              console.log(this.o);
              console.clear();
              if (o.speech) { this.gatherResults(); };
              o = null;
            },

            async previousSession(o) {
                if (!o||!o.description) { return };  
                this.o = Vue.reactive(o);
                console.log(this.o);
                o = null;
                console.clear();
            },

            async related(directions,name) {
              if (!directions||directions.length < 4) { return };
              if (name) { directions = directions + '. Do not return ' + name + '.' };
              this.o.description = directions.trim();
              this.gatherResults();
            },

            async gatherResults() {
                if (!this.o||!this.o.description||this.o.description.length < 5) { return };
                console.clear();  
                this.loading = true;
                if (this.o.results) { delete this.o.results };
                this.o["description"] = this.o.description.replace(/\s+/g, ' ').trim();
                const messages = [
                  { role: "system",  content: this.role },                
                  { role: "user", content: `Generate a JSON object with the key 'result' containing an array of 15 diverse, unique, and interesting funding entities. Ensure that no more than half of the entries are major funders and prioritize smaller funders in the ranking. The array should be ordered from best to worst matches based on alignment with the mission: "${this.o.description}". Each entity must have a name, phone (formatted as 202-123-4567), website, and summary. All entries in the 'result' array must be unique and duplicate-free. No hypotheticals, hallucinations or made-up information. Only entries which provide funding.`}
                ];                
                let res = await getResults(messages,0.2);
                if (res) {
                  res = alasql("SELECT * FROM ? WHERE name IS NOT NULL GROUP BY name",[res.result]);
                  for (let o, i = res.length; i--;) {
                    o = res[i];
                    o.deliverables = this.deliverables;
                  };
                  this.o["results"] = res;                  
                }; 
                this.loading = false;
                this.o.name = 'FundMagnet';
                saveEntity(this.o);
                this.session = randomString(); 
            },

            async getDeliverable(it,dlv) {
                if (dlv.results) { return };
                console.clear();              
                this.showSnackBar = false;
                this.createLoading = true;
                const messages = [
                    { role: "system", content: this.role },
                    { role: "user", content: dlv.description + ` Focus on the mission: ${it.summary}. The output must be a valid JSON object in the format { result: 'formatted text' }. ` }                
                ];
                let res = await getResults(messages, 0.2, null);
                if (res&&res.result) {
                    const updatedDeliverables = it.deliverables.map(oo => {
                        if (dlv.name === oo.name) {
                            return { ...oo, results: res.result };
                        }
                        return oo;
                    });
                    it.deliverables = updatedDeliverables;
                    res = this.o.results.deliverables.map(oo => {
                        if (it.name === oo.name) {
                            return it;
                        }
                        return oo;
                    });
                    this.o["results"] = res;
                    this.createLoading = false;
                    return; 
                }; 
                this.showSnackBar = true;
                this.createLoading = false;
            },        

            async download() {
              downloadData(this.o.results);
            },

            async shareItem(it) {
              if (navigator.share) {
                const shareData = {
                      title: it.name,
                      text: it.summary,
                      url: it.website
                  };
                  navigator.share(shareData);
                }; 
            }
            
          },

          components: {
            headerComponent,
            welcome,
            previousSessions,
            mission,
            quotes,
            relatedToolbar,
            shareToolBar
          },

          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>
      
    
    <style scoped>
      #app {
          width: 100%;
          height: 100vh;
          background-color: white;
      }
  
      .overlay-container {
          overflow: auto;
      }
  
      .overlay-card {
          max-width: 90%;
          margin: auto;
      }
  
      .overlay-title {
          font-size: 1.5em;
          font-weight: bold;
      }
  
      .overlay-subtitle {
          font-size: 1.2em;
      }
  
      .overlay-content {
          overflow-y: auto;
          max-height: 70vh;
      }
  
      .result-text {
          font-size: 1.1em;
          white-space: pre-wrap;
          word-wrap: break-word;
      }
  
      .action-title {
          font-weight: bold;
          letter-spacing: 1.2px;
      }
  
      .subtitle {
          font-size: 0.8em;
          margin-left: 5px;
      }
  
      .action-button {
          font-weight: bold;
          letter-spacing: 1.2px;
          transition: all 0.3s ease;
      }
  
      .action-button:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }
  
      .action-textarea {
          border: 2px solid var(--primary-color);
          border-radius: 8px;
          transition: all 0.3s ease;
      }
  
      .action-textarea:focus-within {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  </style>
  
</body>
</html>