<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="xsbrt, ChatGPT, Structured Results, Expert Analysis, Real-life Expert, User Issues, Problem Solving, AI-driven Solutions, Data Structuring, Expert Role Design, Deliverables Crafting" />
    <meta name="description" content="xsbrt is your premier destination for obtaining structured results from real-life experts. Harnessing the power of advanced AI-driven solutions, we deliver concise and actionable insights tailored to your unique challenges. From pinpointing the most suitable expert roles to devising detailed deliverables, xsbrt ensures you receive the most accurate and relevant solutions. Dive in to transform your challenges into actionable insights." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Your Expertise Hub" />
    <meta property="og:description" content="xsbrt is your premier destination for obtaining structured results from real-life experts. Dive in to transform your challenges into actionable insights." />
    <meta property="og:url" content="https://xsbrt.com" />
    <meta property="og:site_name" content="xsbrt" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="xsbrt" />
    <meta name="msapplication-TileImage" content="xsbrtimage.png" />
    <meta name="msapplication-TileColor" content="blue" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="xsbrtimage.png" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <title>Your Expertise Hub</title>
</head>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
    <v-app id="inspire"> 
      <headerComponent :o="{title: 'Future', icon: 'mdi-lightbulb-on-outline', subtitle: 'Your Expertise Hub', url: 'https://xsbrt.com/future'}"></headerComponent>

    <v-main class="justify-center text-center ma-2">

      <welcome v-if="!loading&&!o.description&&!o.description.length > 0" class="mb-4" :o="{text: 'xsbrt is your premier destination for obtaining structured results from real-life experts. Harnessing the power of advanced AI-driven solutions, we deliver concise and actionable insights tailored to your unique challenges. From pinpointing the most suitable expert roles to devising detailed deliverables, xsbrt ensures you receive the most accurate and relevant solutions. Dive in to transform your challenges into actionable insights.'}"></welcome> 

      <v-row class="justify-center mt-2">  
        
        <v-col cols="auto" sm="12" md="4" class="mb-1">
          <previousSessions :o="o" :key="session" @my-session="previousSession"></previousSessions>
        </v-col>

        <v-col cols="auto" sm="12" md="10">
          <mission :o="{
            label: 'Need expert insights? Solutions to challenges? Start here!',
            hint: 'Simply describe your challenge or question. Our experts are here to help!',
            placeholder: 'E.g., How to start a bakery? Ways to improve team productivity? Best practices for organic farming?'
        }" @speech-recognized="processSpeech"></mission>
        </v-col>

      </v-row>

      <v-btn 
      v-if="showLoad" 
      color="primary" 
      elevation="20"
      variant="tonal"
      size="x-large"
      rounded  
      ripple
      @click="gatherResults" 
      class="mb-4 mt-3 pa-3 text-center justify-center action-button" 
      :loading="loading"
    >
    <v-icon class="pr-1">mdi-human-handsup</v-icon>
    Let's help!
    </v-btn> 

    <quotes v-if="loading"></quotes>

<v-container v-if="o&&o.forecasting_approach" class="text-center justify-center" fluid>   

    <relatedToolbar :description="o.description" :pageInfo="path" class="my-4"></relatedToolbar> 

    <v-row class="text-center justify-center d-flex">
      
      <v-col 
            cols="12"
            xs="12"  
            sm="12"    
            md="12"   
            lg="12"
            xl="12"> 
              <h4>Forecast</h4>
          </v-col>
          
      <v-expansion-panels variant="accordion" elevation="0">

        <v-col 
            cols="auto"
            xs="12"  
            sm="12"    
            md="4"   
            lg="4"
            xl="4"> 
              <v-expansion-panel elevation="0" class="ma-0 pa-0" rounded>
                <v-expansion-panel-title ripple class="ma-0 pa-4 text-left text-primary small" rounded elevation="4" color="indigo-lighten-5"> 
                  <v-icon color="primary" left class="pr-2">mdi-file-document</v-icon>
                  Short Term 
                </v-expansion-panel-title>
                <v-expansion-panel-text class="text-left ma-0 pa-0" elevation="0"> 
                  {{o.forecast.short_term}}
                </v-expansion-panel-text>
              </v-expansion-panel> 
          </v-col>

          <v-col 
          cols="auto"
          xs="12"  
          sm="12"    
          md="4"   
          lg="4"
          xl="4"> 
            <v-expansion-panel elevation="0" class="ma-0 pa-0" rounded>
              <v-expansion-panel-title ripple class="ma-0 pa-4 text-left text-primary small" rounded elevation="4" color="indigo-lighten-5"> 
                <v-icon color="primary" left class="pr-2">mdi-file-document</v-icon>
                Medium Term 
              </v-expansion-panel-title>
              <v-expansion-panel-text class="text-left ma-0 pa-0" elevation="0"> 
                {{o.forecast.medium_term}}
              </v-expansion-panel-text>
            </v-expansion-panel> 
        </v-col>

        <v-col 
          cols="auto"
          xs="12"  
          sm="12"    
          md="4"   
          lg="4"
          xl="4"> 
            <v-expansion-panel elevation="0" class="ma-0 pa-0" rounded>
              <v-expansion-panel-title ripple class="ma-0 pa-4 text-left text-primary small" rounded elevation="4" color="indigo-lighten-5"> 
                <v-icon color="primary" left class="pr-2">mdi-file-document</v-icon>
                Long Term 
              </v-expansion-panel-title>
              <v-expansion-panel-text class="text-left ma-0 pa-0" elevation="0"> 
                {{o.forecast.long_term}}
              </v-expansion-panel-text>
            </v-expansion-panel> 
        </v-col>

        {
          "description": "two state solution in Israel",
          "name": "future",
          "session": "mwyi0zs8",
          "forecasting_approach": {
              "understanding_past_lessons": "Historical attempts to resolve the Israeli-Palestinian conflict reveal that high-stakes negotiations are often disrupted by unforeseen events, shifts in leadership, and underlying historical grievances. Past predictions have sometimes failed to account for the dynamic nature of geopolitical relationships and the impact of external influencers. Recognizing these patterns, we must approach forecasting with an awareness of the fluidity of political alliances and the importance of timing in diplomatic efforts.",
              "current_knowledge_integration": "Integrating current knowledge involves understanding the geopolitical landscape, including the interests of neighboring states, global superpowers, and non-state actors. It also requires an awareness of technological advancements that can influence diplomacy, such as social media's role in shaping public opinion and cyber-security concerns that may affect state relations.",
              "human_nature_understanding": "A two-state solution involves not just political and territorial considerations but also deeply rooted human emotions, identities, and aspirations. Understanding human nature means acknowledging the desire for self-determination, security, and justice on both sides, as well as the potential for empathy and compromise.",
              "broad_spectrum_thinking": "Broad-spectrum thinking encourages us to consider a wide range of factors, including economic incentives, environmental challenges, cultural exchanges, and the role of international law and organizations, all of which can contribute to a peaceful resolution. This approach helps in identifying non-traditional pathways that may lead to a two-state solution.",
              "positive_outcome_focus": "Focusing on positive outcomes involves envisioning a future where mutual recognition, respect, and cooperation lead to a stable and prosperous region. This vision emphasizes the shared benefits of peace, such as economic growth, increased safety, and enhanced regional and international standing.",
              "continuous_knowledge_update": "Continuous updates of knowledge require staying informed about the latest developments in the region, shifts in public opinion, breakthroughs in negotiation techniques, and the emergence of new leaders and influencers who could change the status quo.",
              "inspirational_communication": "Communicating a vision for peace in an inspirational manner involves articulating the tangible benefits of a two-state solution for everyday Israelis and Palestinians, while also appealing to shared human values and the universal desire for a better future for the next generations."
          },
          "forecast": {
              "short_term": "In the short term, the likelihood of a comprehensive two-state solution being reached and implemented remains low, given the current political climate, ongoing security concerns, and lack of consensus within and between the parties involved.",
              "medium_term": "In the medium term, incremental progress is possible, with confidence-building measures, increased civil society engagement, and international support potentially creating a more conducive environment for renewed negotiations. Technological and economic collaboration may serve as catalysts for a gradual approach towards a two-state reality.",
              "long_term": "In the long term, sustained efforts to promote mutual understanding, along with generational changes in leadership and public sentiment, could lead to conditions where a two-state solution becomes a viable and mutually desirable outcome. This would likely involve a combination of political agreements, economic partnerships, and cultural exchanges aimed at fostering a lasting peace."
          },
          "mod": "2023-11-26T23:07:32.745Z"
      }

    </v-expansion-panels>

  </v-row>
</v-container>
 
   
    </v-main>
    
  </v-app>

     </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="artyom.window.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.9.0/localforage.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script> 
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>      
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();
      const { loadModule } = window['vue3-sfc-loader'];

      async function loadComponentsAndInitApp() {          

        async function addComponent(component) {
          return await loadModule('./' + component + '.vue', {
                  moduleCache: {
                      vue: Vue
                  },
                  async getFile(url) {
                      const res = await fetch(url);
                      if (!res.ok)
                          throw Object.assign(new Error(url + ' ' + res.statusText), { res });
                      return await res.text();
                  },
                  addStyle: (textContent) => {
                      const style = document.createElement('style');
                      style.textContent = textContent;
                      document.head.appendChild(style);
                  }
              });
        }
        
      //define components
      const headerComponent = await addComponent('header');
      const welcome = await addComponent('welcome'); 
      const previousSessions = await addComponent('previousSessions');
      const mission = await addComponent('speechText');      
      const quotes = await addComponent('quotes');
      const relatedToolbar = await addComponent('relatedToolbar');
      const shareToolBar = await addComponent('shareToolBar');
      const deliverable = await addComponent('deliverable');

      const app = createApp({

          data() {
              return {
                  o: {description: '', name: 'xsbrts'},
                  session: null,
                  loading: false
              }
          }, 
          
          computed: {
              showLoad() {
                  return (this.o.description && this.o.description.length > 9) || this.o.speech;
              }
          },

          created() {  
              this.role = null;
              createStorage('future');
              this.id = null; 
              this.path = new URL(document.location).pathname;          
          },

          watch: {

              o: function (newValue) {
                  return newValue;
              }
          },

          async mounted() { 
              this.o.name = 'future';
              this.role = 'Your role is that of a highly accurate futurist, specialized in making precise and well-researched forecasts about future trends and events. In light of the historical challenges in predicting the future, including our tendency to project current technologies and societal norms onto future scenarios, and the nonlinear nature of progress, your task is to develop more effective methods for forecasting future developments. This involves considering lessons learned from past predictions, both accurate and inaccurate, and integrating insights from current technological and scientific knowledge, an understanding of human nature, and conceptual, broad-spectrum thinking.Your expertise is not limited to analyzing vast amounts of data and recognizing patterns; it also involves a deep understanding of the complexities and unpredictabilities inherent in forecasting. You are adept at using both quantitative and qualitative methods to predict future occurrences, with a focus on envisioning positive outcomes that drive us toward a future where we strive for equality, freedom, health, and safety. This approach emphasizes the importance of constructing a hopeful and realistically attainable vision of the future, rather than attempting to outline specific technologies or societal structures.As a futurist, you are required to continuously update your knowledge base with the latest research and developments across various fields and to communicate your forecasts in a way that is clear, actionable, and inspires positive change. Your role demands critical thinking, open-mindedness, and the ability to synthesize complex ideas effectively.Key Responsibilities: 1. Analyze current global trends across various domains, taking into account the nonlinear nature of progress. 2. Use data analytics and broad-spectrum thinking to identify patterns and project future scenarios. 3. Reflect on historical predictions to improve forecasting accuracy. 4. Develop forecasts that focus on positive societal outcomes, such as equality, freedom, health, and safety. 5. Continuously update knowledge with recent developments and research. 6. Communicate complex forecasts in an understandable and inspirational manner. You only return resuls as valid JSON.';
              this.o.session = randomString();  
              this.o.id = await retrieveId();
              //this.o.location = await getDeviceLocation();
              //if (this.o.location) {
                //this.role = this.role + " The person seeking assistance resides at latitude: " + this.o.location.latitude + ", longitude: " + this.o.location.longitude + '.';
              //};
              let description = new URL(document.location).searchParams.get("d");
              if (description&&description.length > 9) {
                this.o.description = description.trim();
                this.gatherResults();
              };
          },

          methods: { 

            async processSpeech(o) {
              if (!o||o.results.length < 10) { return };
              this.o = Vue.reactive({ ...this.o, description: o.results });
              console.log(this.o);
              console.clear();
              if (o.speech) { this.gatherResults(); };
            },

            async previousSession(o) {              
                if (!o||!o.description) { return };
                console.log('emitted');               
                this.o = Vue.reactive(o);
                console.log(this.o);
                console.clear();
                o = null;
            },

            async gatherResults() {
              console.clear();
              this.showSnackBar = false;
              if (!this.o||!this.o.description||this.o.description.length < 10) { return };             
              this.loading = true;                
              if (this.o.deliverables) { delete this.o.deliverables };               
              this.o["description"] = convertMultipleSpacesToSingle(this.o.description);
              const messages = [
                  { role: "system", content: this.role },
                  { role: "user", content: `Given the historical challenges in accurately predicting the future, including our tendency to apply current technologies and societal norms to future scenarios, and the nonlinear nature of progress, how can we more effectively forecast future developments using the information provided by the user below? Consider the lessons learned from past predictions, both accurate and inaccurate, and integrate insights from current technological and scientific knowledge, an understanding of human nature, and conceptual, broad-spectrum thinking. Focus on envisioning positive outcomes that drive us toward a future where we strive for equality, freedom, health, and safety, rather than attempting to outline specific technologies or societal structures. How can we use this approach to construct a more hopeful and realistically attainable vision of the future? The user has asked about the following: "${this.o.description}". Your response will strictly follow this JSON format: {"forecasting_approach": { "understanding_past_lessons": "response", "current_knowledge_integration": "response", "human_nature_understanding": "response", "broad_spectrum_thinking": "response", "positive_outcome_focus": "response",  "continuous_knowledge_update": "response",  "inspirational_communication": "response" }, "forecast": {  "short_term": "response",  "medium_term": "response", "long_term": "response" }}` }
              ];
              let res = await getResultsNEW(messages,0.6);
              console.log(res);
              if (res) { 
                this.o.name = 'future';
                this.o = Vue.reactive({ ...this.o, ...res });
                console.log(this.o);
                saveEntity(this.o); 
              }; 
              this.session = randomString();
              this.loading = false;           
            }

          },

          components: {
            headerComponent,
            welcome,
            previousSessions,
            mission,
            quotes,
            shareToolBar,
            deliverable,
            relatedToolbar
          },

          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>
      
    
    <style scoped>
      #app {
          width: 100%;
          height: 100vh;
          background-color: white;
      }
  
      .overlay-container {
          overflow: auto;
      }
  
      .overlay-card {
          max-width: 90%;
          margin: auto;
      }
  
      .overlay-title {
          font-size: 1.5em;
          font-weight: bold;
      }
  
      .overlay-subtitle {
          font-size: 1.2em;
      }
  
      .overlay-content {
          overflow-y: auto;
          max-height: 70vh;
      }
  
      .result-text {
          font-size: 1.1em;
          white-space: pre-wrap;
          word-wrap: break-word;
      }
  
      .action-title {
          font-weight: bold;
          letter-spacing: 1.2px;
      }
  
      .subtitle {
          font-size: 0.8em;
          margin-left: 5px;
      }
  
      .action-button {
          font-weight: bold;
          letter-spacing: 1.2px;
          transition: all 0.3s ease;
      }
  
      .action-button:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }
  
      .action-textarea {
          border: 2px solid var(--primary-color);
          border-radius: 8px;
          transition: all 0.3s ease;
      }
  
      .action-textarea:focus-within {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  </style>
  
</body>
</html>