<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="Futurism, Future Trends, Data Analytics, Forecasting, Societal Progress, Technological Insights, Predictive Analysis, Human Nature, Equality, Freedom, Health, Safety" />
    <meta name="description" content="Embark on a journey of precise and insightful future forecasting. Leveraging deep understanding of technology, society, and human nature, our platform offers well-researched predictions aimed at creating a positive future focused on equality, freedom, health, and safety." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Envisioning a Hopeful Future: Expert Futuristic Analysis and Predictions" />
    <meta property="og:description" content="Discover a future-focused approach to forecasting, blending data analytics and broad-spectrum thinking to inspire positive societal change." />
    <meta property="og:url" content="https://xsbrt.com/future.html" />
    <meta property="og:site_name" content="future" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="future" />
    <meta name="msapplication-TileImage" content="xsbrtimage.png" />
    <meta name="msapplication-TileColor" content="blue" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="xsbrtimage.png" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <title>Future</title>
</head>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
    <v-app id="inspire"> 
      <headerComponent :o="{title: 'Future', icon: 'mdi-sitemap', subtitle: 'Expert Futuristic Analysis and Predictions', url: 'https://xsbrt.com/future.html'}"></headerComponent>

    <v-main class="justify-center text-center ma-2">

      <welcome v-if="!loading&&!o.description&&!o.description.length > 0" class="mb-4" :o="{text: 'Discover a future-focused approach to forecasting, blending data analytics and broad-spectrum thinking to inspire positive societal change.'}"></welcome> 

      <v-row class="justify-center mt-2">  
        
        <v-col cols="auto" sm="12" md="4" class="mb-1">
          <previousSessions :o="o" :key="session" @my-session="previousSession"></previousSessions>
        </v-col>

        <v-col cols="auto" sm="12" md="10">
          <mission :o="{
            label: 'Seeking insights into the future? Need forecasts or trend analysis? Begin your journey here!',
            hint: 'Describe the future trend or scenario you are curious about. Our futurists are ready to assist!',
            placeholder: 'E.g., Future of renewable energy? Trends in global health? Prospects for AI in education?'
        }" @speech-recognized="processSpeech"></mission>
        
        </v-col>

      </v-row>

      <v-btn 
      v-if="showLoad" 
      color="primary" 
      elevation="20"
      variant="tonal"
      size="x-large"
      rounded  
      ripple
      @click="gatherResults" 
      class="mb-4 mt-3 pa-3 text-center justify-center action-button" 
      :loading="loading"
    >
    <v-icon class="pr-1">mdi-human-handsup</v-icon>
    Forecast the Future!
    </v-btn> 

    <quotes v-if="loading"></quotes>

<v-container v-if="o&&o.forecasting_approach" fluid>  
    <v-row class="text-center justify-center d-flex">
              
      <v-expansion-panels variant="accordion" elevation="0">

        <v-col v-for="it in termsArray" :key="it"
            cols="12"
            xs="12"  
            sm="12"    
            md="6"   
            lg="4"
            xl="4"> 
              <v-expansion-panel elevation="0" class="ma-0 pa-0" rounded>
                <v-expansion-panel-title ripple class="ma-0 pa-4 text-left text-primary text-capitalize text-h6" rounded elevation="4" color="indigo-lighten-5"> 
                  <v-icon color="primary" left large class="pr-2">mdi-search-web</v-icon>
                  {{it.replace(/_/g, ' ')}}
                </v-expansion-panel-title>
                <v-expansion-panel-text class="text-left ma-0 pa-0" elevation="0"> 
                  {{o.forecast[it]}}
                </v-expansion-panel-text>
              </v-expansion-panel> 
          </v-col>         

        <v-col v-for="it in itemsArray" :key="it"
          cols="12"
          xs="12"  
          sm="12"    
          md="6"   
          lg="4"
          xl="4"> 
            <v-expansion-panel elevation="0" class="ma-0 pa-0" rounded>
              <v-expansion-panel-title ripple class="ma-0 pa-2 text-left text-primary text-capitalize text-h6" rounded elevation="4" color="indigo-lighten-5"> 
                <v-icon color="primary" left class="pr-2">mdi-file-document</v-icon>
                {{it.replace(/_/g, ' ')}}
              </v-expansion-panel-title>
              <v-expansion-panel-text class="text-left ma-0 pa-0" elevation="0"> 
                {{o.forecasting_approach[it]}}
              </v-expansion-panel-text>
            </v-expansion-panel> 
        </v-col>

    </v-expansion-panels>

  </v-row>
</v-container>
 
   
    </v-main>
    
  </v-app>

     </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="artyom.window.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.9.0/localforage.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script> 
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>      
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();
      const { loadModule } = window['vue3-sfc-loader'];

      async function loadComponentsAndInitApp() {          

        async function addComponent(component) {
          return await loadModule('./' + component + '.vue', {
                  moduleCache: {
                      vue: Vue
                  },
                  async getFile(url) {
                      const res = await fetch(url);
                      if (!res.ok)
                          throw Object.assign(new Error(url + ' ' + res.statusText), { res });
                      return await res.text();
                  },
                  addStyle: (textContent) => {
                      const style = document.createElement('style');
                      style.textContent = textContent;
                      document.head.appendChild(style);
                  }
              });
        }
        
      //define components
      const headerComponent = await addComponent('header');
      const welcome = await addComponent('welcome'); 
      const previousSessions = await addComponent('previousSessions');
      const mission = await addComponent('speechText');      
      const quotes = await addComponent('quotes');
      const relatedToolbar = await addComponent('relatedToolbar');

      const app = createApp({

          data() {
              return {
                  o: {description: '', name: 'future'},
                  session: null,
                  loading: false
              }
          }, 
          
          computed: {
              showLoad() {
                  return (this.o.description && this.o.description.length > 9) || this.o.speech;
              }
          },

          created() {  
              this.role = null;
              createStorage('future');
              this.id = null; 
              this.path = new URL(document.location).pathname; 
              this.termsArray = ["short_term","medium_term","long_term"];
              this.itemsArray = ["understanding_past_lessons","current_knowledge_integration","human_nature_understanding","broad_spectrum_thinking","positive_outcome_focus","continuous_knowledge_update"];         
          },

          watch: {

              o: function (newValue) {
                  return newValue;
              }
          },

          async mounted() { 
              this.o.name = 'future';
              this.role = 'Your role is that of a highly accurate futurist, specialized in making precise and well-researched forecasts about future trends and events. In light of the historical challenges in predicting the future, including our tendency to project current technologies and societal norms onto future scenarios, and the nonlinear nature of progress, your task is to develop more effective methods for forecasting future developments. This involves considering lessons learned from past predictions, both accurate and inaccurate, and integrating insights from current technological and scientific knowledge, an understanding of human nature, and conceptual, broad-spectrum thinking.Your expertise is not limited to analyzing vast amounts of data and recognizing patterns; it also involves a deep understanding of the complexities and unpredictabilities inherent in forecasting. You are adept at using both quantitative and qualitative methods to predict future occurrences, with a focus on envisioning positive outcomes that drive us toward a future where we strive for equality, freedom, health, and safety. This approach emphasizes the importance of constructing a hopeful and realistically attainable vision of the future, rather than attempting to outline specific technologies or societal structures.As a futurist, you are required to continuously update your knowledge base with the latest research and developments across various fields and to communicate your forecasts in a way that is clear, actionable, and inspires positive change. Your role demands critical thinking, open-mindedness, and the ability to synthesize complex ideas effectively.Key Responsibilities: 1. Analyze current global trends across various domains, taking into account the nonlinear nature of progress. 2. Use data analytics and broad-spectrum thinking to identify patterns and project future scenarios. 3. Reflect on historical predictions to improve forecasting accuracy. 4. Develop forecasts that focus on positive societal outcomes, such as equality, freedom, health, and safety. 5. Continuously update knowledge with recent developments and research. 6. Communicate complex forecasts in an understandable and inspirational manner. You only return resuls as valid JSON.';
              this.o.session = randomString();  
              this.o.id = await retrieveId();
              //this.o.location = await getDeviceLocation();
              //if (this.o.location) {
                //this.role = this.role + " The person seeking assistance resides at latitude: " + this.o.location.latitude + ", longitude: " + this.o.location.longitude + '.';
              //};
              let description = new URL(document.location).searchParams.get("d");
              if (description&&description.length > 9) {
                this.o.description = description.trim();
                this.gatherResults();
              };
          },

          methods: { 

            async processSpeech(o) {
              if (!o||o.results.length < 10) { return };
              this.o = Vue.reactive({ ...this.o, description: o.results });
              console.log(this.o);
              console.clear();
              if (o.speech) { this.gatherResults(); };
            },

            async previousSession(o) {              
                if (!o||!o.description) { return };
                console.log('emitted');               
                this.o = Vue.reactive(o);
                console.log(this.o);
                console.clear();
                this.gatherResults();
            },

            async gatherResults() {
              console.clear();
              if (!this.o||!this.o.description||this.o.description.length < 10) { return };             
              this.loading = true;                
              if (this.o.deliverables) { delete this.o.deliverables };               
              this.o["description"] = convertMultipleSpacesToSingle(this.o.description);
              const messages = [
                  { role: "system", content: this.role },
                  { role: "user", content: `Given the historical challenges in accurately predicting the future, including our tendency to apply current technologies and societal norms to future scenarios, and the nonlinear nature of progress, how can we more effectively forecast future developments using the information provided by the user below? Consider the lessons learned from past predictions, both accurate and inaccurate, and integrate insights from current technological and scientific knowledge, an understanding of human nature, and conceptual, broad-spectrum thinking. Focus on envisioning positive outcomes that drive us toward a future where we strive for equality, freedom, health, and safety, rather than attempting to outline specific technologies or societal structures. How can we use this approach to construct a more hopeful and realistically attainable vision of the future? The user has asked about the following: "${this.o.description}". Your response will strictly follow this JSON format: {"forecasting_approach": { "understanding_past_lessons": "response focused on user input", "current_knowledge_integration": "response focused on user input", "human_nature_understanding": "response focused on user input", "broad_spectrum_thinking": "response focused on user input", "positive_outcome_focus": " focused on user input",  "continuous_knowledge_update": "response focused on user input" }, "forecast": {  "short_term": "response focused on user input",  "medium_term": "response focused on user input", "long_term": "response focused on user input" }}` }
              ];
              let res = await getResultsNEW(messages,0.6);
              if (res) { 
                this.o.name = 'future';
                this.o = Vue.reactive({ ...this.o, ...res });
                saveEntity(this.o); 
              }; 
              this.session = randomString();
              this.loading = false;           
            }

          },

          components: {
            headerComponent,
            welcome,
            previousSessions,
            mission,
            quotes,
            relatedToolbar
          },

          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>
      
    
    <style scoped>
      #app {
          width: 100%;
          height: 100vh;
          background-color: white;
      }
  
      .overlay-container {
          overflow: auto;
      }
  
      .overlay-card {
          max-width: 90%;
          margin: auto;
      }
  
      .overlay-title {
          font-size: 1.5em;
          font-weight: bold;
      }
  
      .overlay-subtitle {
          font-size: 1.2em;
      }
  
      .overlay-content {
          overflow-y: auto;
          max-height: 70vh;
      }
  
      .result-text {
          font-size: 1.1em;
          white-space: pre-wrap;
          word-wrap: break-word;
      }
  
      .action-title {
          font-weight: bold;
          letter-spacing: 1.2px;
      }
  
      .subtitle {
          font-size: 0.8em;
          margin-left: 5px;
      }
  
      .action-button {
          font-weight: bold;
          letter-spacing: 1.2px;
          transition: all 0.3s ease;
      }
  
      .action-button:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }
  
      .action-textarea {
          border: 2px solid var(--primary-color);
          border-radius: 8px;
          transition: all 0.3s ease;
      }
  
      .action-textarea:focus-within {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  </style>
  
</body>
</html>