<template>
    <v-container fluid>
        <v-app-bar v-if="o" color="primary" dark density="prominent" elevation="22">
            <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer" title="Click to view other xsbrt resources"></v-app-bar-nav-icon>
            <v-app-bar-title link class="text-center justify-center action-title d-flex flex-column pa-2" style="cursor:pointer">
            <div class="d-flex align-center justify-center text-h5" @click="openLink">
                <v-icon left class="pb-1 pr-2">{{o.icon}}</v-icon>
                {{o.title}}
            </div>
            <div v-if="o.subtitle" class="subtitle text-center">{{ o.subtitle }}</div>         
        </v-app-bar-title>          
        </v-app-bar> 
        <v-navigation-drawer
            v-model="drawer"
            location="top"
            height="100%"
            app
            fixed
            class="pa-1"
            style="min-height: 100vh;"
            temporary
        >
            <v-list lines="one">
                <v-list-item v-if="locations" ripple density="compact" class="text-primary my-2 pr-2" color="primary" max-width="350">
                     <v-autocomplete v-model.lazy="location" clearable rounded variant="outlined" density="compact" ripple label="Choose your location: zip, area code, state, city, empowerment zone" hint="Choose your location: zip, area code, state, city, empowerment zone" persistent-hint :items="locations" @update:modelValue="emitResults" item-title="st" return-object @click:clear="location={};"></v-autocomplete>
                </v-list-item>
                <v-list-item v-for="it in items" :key="it.title" ripple style="cursor:pointer;" @click="openLinkNavigation(it)" density="compact" class="text-primary" color="primary" :title="it.title">
                    <template v-slot:prepend>
                        <v-icon color="primary" :icon="it.icon"></v-icon>
                    </template>
                </v-list-item>
            </v-list>
       </v-navigation-drawer>
    </v-container>    
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    data() {
        return {
            drawer: false,
            locations: null,
            location: {st: ''}
        }
    },

    created() {

        this.items = [
            {title: 'xsbrt',icon: 'mdi-lightbulb-on-outline',description:'Your destination for results from real-life experts.', link: 'xsbrt.html'},
            {title: 'BenefitsGPS',icon: 'mdi-crosshairs-gps',description:'BenefitsGPS is your digital guide to social services.', link: 'benefitsGPS.html'},
            {title: 'Expert Decision-Making Support',icon: 'mdi-comment-question-outline',description:'Navigate through tough decisions with expert guidance.', link: 'decisions.html'},
            {title: 'FundMagnet',icon: 'mdi-magnet',description:'FundMagnet is your ultimate platform for nonprofit fundraising, designed to ignite your potential.', link: 'fundmagnet.html'},
            {title: 'TinyLobby',icon: 'mdi-bullhorn',description:'TinyLobby simplifies the lobbying process by connecting organizations with relevant congresspersons.', link: 'tinylobby.html'},
            {title: 'Media',icon: 'mdi-message-alert',description:'Develop a comprehensive strategic communication plan.', link: 'media.html'}
        ];

    },

    async mounted() {            
        try {   
            let res = await getLocalStorageDataByName('locations');
            if (res&&res.length > 1) {
                this.locations = this.appendCurrentLocation(res);
                res = null;
                return;
            };
            res = await axios.get('https://xsbrt.com/zips1.json');           
            if (res&&res.data) { 
                res = res.data;
                this.locations = this.appendCurrentLocation(res); 
                await addLocalStorageDataByName('locations',res); 
                res = null;         
            };
        } catch(error) { return; };
    },

    methods: {

        appendCurrentLocation(res) {
            res.unshift({st: 'Current location'});
            return res;
        },

        async emitResults() {
            if (!this.location) { this.$emit('my-location', {}); return; };
            if (this.location.st)
            if (localStorage.getItem('location')) { localStorage.setItem('location', this.location); }; 
            this.$emit('my-location', this.location);
        },

       async openLinkNavigation(it) {
         window.open(it.link,'_self')
       },

       async openLink() {
        if (!this.o.url) {
            this.o.url = 'https://xsbrt.com';
        };
        window.open(this.o.url,'_self')
       }

    }
}
</script>