<template>
    <v-container fluid>
        <v-app-bar v-if="o" color="primary" dark density="prominent" elevation="22">
            <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer" title="Click to view other xsbrt resources"></v-app-bar-nav-icon>
            <v-app-bar-title link class="text-center justify-center action-title d-flex flex-column pa-2" style="cursor:pointer">
            <div class="d-flex align-center justify-center text-h4" @click="openLink">
                <v-icon left class="pb-1 pr-2">{{o.icon}}</v-icon>
                {{o.title}}
            </div>
            <div v-if="o.subtitle" class="subtitle text-center">{{ o.subtitle }}</div>         
        </v-app-bar-title>          
        </v-app-bar> 
        <v-navigation-drawer
            v-model="drawer"
            location="top"
            class="mb-1"
            temporary
        >
            <v-list lines="one">
                <v-list-item v-for="it in items" :key="it.title" ripple style="cursor:pointer;" @click="openLinkNavigation(it)" density="compact" color="primary" :title="it.title">
                    <template v-slot:prepend>
                        <v-icon color="primary" :icon="it.icon"></v-icon>
                    </template>
                    <v-list-item-title class="primary-text">{{ it.title }}</v-list-item-title>
                </v-list-item>
            </v-list>
       </v-navigation-drawer>
    </v-container>    
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    data() {
        return {
            drawer: false
        }
    },

    created() {

        this.items = [
            {title: 'BenefitsGPS',icon: 'mdi-crosshairs-gps',description:'BenefitsGPS is your digital guide to social services.', link: 'benefitsgps.html'},
            {title: 'Expert Decision-Making Support',icon: 'mdi-comment-question-outline',description:'Navigate through tough decisions with expert guidance.', link: 'decisions.html'},
            {title: 'FundMagnet',icon: 'mdi-magnet',description:'FundMagnet is your ultimate platform for nonprofit fundraising, designed to ignite your potential.', link: 'fundmagnet.html'},
            {title: 'TinyLobby',icon: 'mdi-bullhorn',description:'TinyLobby simplifies the lobbying process by connecting organizations with relevant congresspersons.', link: 'tinylobby.html'},
            {title: 'xsbrt',icon: 'mdi-lightbulb-on-outline',description:'Your destination for results from real-life experts.', link: 'xsbrt.html'}
        ];

    },

    methods: {

       async openLinkNavigation(it) {
         window.open(it.link,'_self')
       },

       async openLink() {
        if (!this.o.url) {
            this.o.url = 'https://xsbrt.com';
        };
        window.open(this.o.url,'_self')
       }

    }
}
</script>