<template>
    <v-container fluid>
        <v-app-bar v-if="o" color="primary" dark density="prominent" elevation="22">
            <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer" title="Click to view other xsbrt resources"></v-app-bar-nav-icon>
            <v-app-bar-title link class="text-center justify-center action-title d-flex flex-column pa-2" style="cursor:pointer">
            <div class="d-flex align-center justify-center text-h4" @click="openLink">
                <v-icon left class="pb-1 pr-2">{{o.icon}}</v-icon>
                {{o.title}}
            </div>
            <div v-if="o.subtitle" class="subtitle text-center">{{ o.subtitle }}</div>         
        </v-app-bar-title>          
        </v-app-bar> 
        <v-navigation-drawer
            v-model="drawer"
            location="top"
            class="text-center justify-center pt-4"
            temporary
        >
            <v-card class="ma-2 pa-2 text-primary" elevation="6" max-width="350" style="cursor:pointer;">
                <v-card-title class="text-center justify-center d-flex">
                    <v-icon color="primary" size="large" class="pb-1 pr-1">mdi-lightbulb-on-outline</v-icon>
                    Expert Decision-Making Support
                </v-card-title>
                <v-card-text class="text-left">Navigate through tough decisions with expert guidance at xsbrt.</v-card-text>
            </v-card>

        </v-navigation-drawer>
    </v-container>    
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    data() {
        return {
            drawer: false
        }
    },

    methods: {

       async openLink() {
        if (!this.o.url) {
            this.o.url = 'https://xsbrt.com';
        };
        window.open(this.o.url,'_self')
       }

    }
}
</script>