<template>
     <v-alert
      v-if="o.result"
      type="info"
      color="primary"
      variant="outlined"
      closable
      icon="mdi-account-check"
      title="Ideas!"
      density="comfortable"
      :text="o.text"
      prominent
      rounded
      border="bottom"
      elevation="8"
      class="mx-4 py-4 px-2 text-left"
    > 
    </v-alert>
  <v-container v-if="o.result" fluid class="text-center justify-center ma-0 pa-0">
    <v-row v-if="o.result" class="text-center justify-center px-4 ma-0">
        <v-col cols="12">
            <h2 class="text-primary mb-2"><v-icon color="primary" large class="pr-1 pb-1 justify-center text-center">mdi-account-check</v-icon>Ideas!</h2>  
           <ul v-for="it in o.result" :key="it" class="text-left">
            <li class="mb-2">{{ it }}</li>
           </ul> 
        </v-col>            
    </v-row> 
  </v-container>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    async mounted() {
        if (!this.o.prompt) { this.o = null; return; }; 
        if (this.o.result) { return };
        this.getIdea();
    },

    methods: { 

        async getIdea() {  
            if (this.o.result) { delete this.o.result }; 
            const messages = [
                { role: "system", content: this.o.role },
                { role: "user", content: 'You must come up with at least three novel, innovative, effective and probable ideas related to the following prompt: ' + this.o.prompt + ' ' + processPrompt() + ' ' + writingPrompt() + '. Your response will only be returned as a well-formed JSON object like {result: [array of text only of novel ideas] }. Ensure your output strictly adheres to this JSON format.' }                
            ];
            let temperature = this.o.temperature ? this.o.temperature : 0.4;
            let res = await getResultsNEW(messages, null, null, true);
            if (res&&res.result) {
                this.o.result = res.result;
                res = null;
                this.$emit('my-idea', this.o.result);
                return; 
            };
        }
    }

}
</script>