<template>
  <v-container v-if="o" fluid class="text-center justify-center ma-0 pa-0">
    <v-progress-circular v-if="loading && !o.results" color="primary" indeterminate :size="68" :width="7"></v-progress-circular>   
    <v-banner v-if="!loading && showSnackBar && !o.results" color="warning" icon="mdi-clock-alert" text="Sorry! This is taking too long! Try again in a few minutes." stacked></v-banner>
    
    <v-row v-if="o.result" class="text-center justify-center pa-2 ma-0">
        <v-divider class="mb-1"></v-divider>
        <v-col cols="12" class="text-center justify-center">
            <h2 class="text-primary mb-2"><v-icon color="primary" large class="pr-1 pb-1">mdi-account-check</v-icon>Ideas!</h2>            
        </v-col>   
        <v-col cols="12">
           <ul v-for="it in o.result" :key="it" class="text-left">
            <li class="mb-2">{{ it }}</li>
           </ul> 
        </v-col>            
    </v-row>  
   
  </v-container>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    data() {
        return {
            loading: false,
            showSnackBar: false
        }
    },

    async mounted() {
        if (!this.o.prompt) { this.o = null; return; }; 
        if (this.o.result) { return };
        this.getIdea();
    },

    methods: { 

        async getIdea() {  
            if (this.o.result) { delete this.o.result };          
            this.loading = true;
            this.showSnackBar = false;
            const messages = [
                { role: "system", content: this.o.role },
                { role: "user", content: 'You must come up with at least three novel, innovative, effective and probable ideas related to the following prompt: ' + this.o.prompt + ' ' + processPrompt() + ' ' + writingPrompt() + '. Your response will only be returned as a well-formed JSON object like {result: [array of text only of novel ideas] }. Ensure your output strictly adheres to this JSON format.' }                
            ];
            let temperature = this.o.temperature ? this.o.temperature : 0.4;
            let res = await getResultsNEW(messages, null, null, true);
            console.log(res);
            if (res&&res.result) {
                this.o.result = res.result;
                this.loading = false;
                res = null;
                this.$emit('my-idea', this.o.result);
                return; 
            }; 
            this.loading = false;
            this.showSnackBar = true
        },
    }

}
</script>