<template>
    <v-card  v-if="oo&&oo.result" elevation="12" rounded class="ma-4 pa-4" min-height="285" width="350">
        <v-card-title class="text-center">
            <v-icon class="pb-1 pr-1" large>mdi-account-check</v-icon>Ideas                   
        </v-card-title>                             
        <v-card-text class="pa-1">                      
            <ul v-for="it in oo.result" :key="it" class="mt-4 text-left">
            <li class="mb-4">
                {{ it }}            
            </li>
        </ul> 
        </v-card-text>                 
    </v-card>
    <v-bottom-sheet v-if="oo&&oo.result" contained scrollable>
        <v-alert 
            color="primary"
            variant="outlined"
            closable            
            title="Ideas!"
            density="comfortable"
            prominent
            rounded
            border="bottom"
            elevation="22"
            class="px-4 py-2 text-center justify-center"
            > 
        <ul v-for="it in oo.result" :key="it" class="mt-4 text-left">
            <li class="mb-4">
                <v-icon class="pb-1 pr-1" large>mdi-account-check</v-icon>
                {{ it }}            
            </li>
        </ul> 
    </v-alert>  
</v-bottom-sheet>
    
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    data() {
              return {
                  oo: this.o
              }
          }, 

    computed: {

        showResults() {
            if (this.oo&&this.oo.result) { return this.oo.result };
            return null;
        }

    },

    async mounted() {
        if (!this.o.prompt) { this.o = null; return; }; 
        if (this.o.result) { return };
        this.getIdea();
    },

    methods: { 

        async getIdea() {  
            if (this.o.result) { delete this.o.result }; 
            const messages = [
                { role: "system", content: this.o.role },
                { role: "user", content: 'You must come up with three novel, innovative, effective and probable ideas related to the following prompt: ' + this.o.prompt + ' ' + processPrompt() + ' ' + writingPrompt() + '. Your response will only be returned as a well-formed JSON object like {result: [array of text only of novel ideas] }. Ensure your output strictly adheres to this JSON format.' }                
            ];
            let temperature = this.o.temperature ? this.o.temperature : 0.4;
            let res = await getResultsNEW(messages, null, null, true);
            if (res&&res.result) {
                this.oo["result"] = res.result;
            };
        }
    }

}
</script>