<template>
    <v-bottom-sheet>
        <v-alert
      
      type="info"
      color="primary"
      variant="outlined"
      closable
      icon="mdi-account-check"
      title="Ideas!"
      density="comfortable"
      prominent
      rounded
      border="bottom"
      elevation="22"
      class="mx-4 pa-2 text-left"
    > 
        <ul v-for="it in oo.result" :key="it" class="mt-2">
            <li class="mb-3">{{ it }}</li>
        </ul> 
    </v-alert>  
</v-bottom-sheet>
    
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    data() {
              return {
                  oo: this.o
              }
          }, 

    computed: {

        showResults() {
            if (this.oo&&this.oo.result) { return this.oo.result };
            return null;
        }

    },

    async mounted() {
        if (!this.o.prompt) { this.o = null; return; }; 
        if (this.o.result) { return };
        this.getIdea();
    },

    methods: { 

        async getIdea() {  
            if (this.o.result) { delete this.o.result }; 
            const messages = [
                { role: "system", content: this.o.role },
                { role: "user", content: 'You must come up with three novel, innovative, effective and probable ideas related to the following prompt: ' + this.o.prompt + ' ' + processPrompt() + ' ' + writingPrompt() + '. Your response will only be returned as a well-formed JSON object like {result: [array of text only of novel ideas] }. Ensure your output strictly adheres to this JSON format.' }                
            ];
            let temperature = this.o.temperature ? this.o.temperature : 0.4;
            let res = await getResultsNEW(messages, null, null, true);
            if (res&&res.result) {
                this.oo["result"] = res.result;
            };
        }
    }

}
</script>