<template>
     <v-slide-group v-if="oo&&oo.result" 
        show-arrows
        class="mb-4 mx-2 px-4 pb-4"
        >
       <v-slide-group-item v-for="it in oo.result" :key="it" v-slot="{ isSelected, toggle }" v-slot="{ isSelected, toggle }">
            <v-card elevation="12" rounded class="ma-4 pa-4" min-height="285" width="350">
                <v-card-title class="text-center">
                    <v-icon class="pb-1 pr-1" large>mdi-account-check</v-icon>Idea                  
                </v-card-title>                             
                <v-card-text class="pa-1"> 
                    {{ it }}  
                </v-card-text>                 
            </v-card>
        </v-slide-group-item> 
    
    </v-slide-group>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    data() {
              return {
                  oo: this.o
              }
          }, 

    computed: {

        showResults() {
            if (this.oo&&this.oo.result) { return this.oo.result };
            return null;
        }

    },

    async mounted() {
        if (!this.o.prompt) { this.o = null; return; }; 
        if (this.o.result) { return };
        this.getIdea();
    },

    methods: { 

        async getIdea() {  
            if (this.o.result) { delete this.o.result }; 
            const messages = [
                { role: "system", content: this.o.role },
                { role: "user", content: 'You must come up with five novel, innovative, effective and probable ideas related to the following prompt: ' + this.o.prompt + ' ' + processPrompt() + ' ' + writingPrompt() + '. Your response will only be returned as a well-formed JSON object like {result: [array of text only of novel ideas] }. Ensure your output strictly adheres to this JSON format.' }                
            ];
            let temperature = this.o.temperature ? this.o.temperature : 0.4;
            let res = await getResultsNEW(messages, null, null, true);
            if (res&&res.result) {
                this.oo["result"] = res.result;
            };
        }
    }

}
</script>