<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="AI Solutions for Nonprofits, Social Service AI Tools, Strategic Decision-Making AI, AI in Media Management, AI for Public Relations, Future Prediction AI, AI Technology for Reputation Management" />
    <meta name="description" content="Discover xsbrt's AI solutions tailored for social services, nonprofit fundraising, and strategic decision-making. Leverage our AI technology for effective media management, futuristic analysis, and enhancing public relations. Address your challenges with our expert-driven AI tools." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="xsbrt: Tailored AI Solutions for Nonprofits & Strategic Communication" />
    <meta property="og:description" content="Leverage xsbrt's AI-driven solutions for nonprofit support, social services, informed decision-making, media strategy, and future analysis. Discover our expert approach to solving complex challenges with AI technology." />
    <meta property="og:url" content="https://xsbrt.com" />
    <meta property="og:site_name" content="xsbrt" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="xsbrt: Custom AI Solutions" />    
    <meta name="msapplication-TileImage" content="https://xsbrt.com/xsbrtimage.png" />
    <meta name="msapplication-TileColor" content="white" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="https://xsbrt.com/xsbrtimage.png" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" />
    <script src="https://openfpcdn.io/fingerprintjs/v3/iife.min.js"></script>
    <title>AI for Nonprofits, Fundraising & Strategic Decisions | xsbrt Solutions</title>
</head>
<script>
  var fpPromise = FingerprintJS.load();
</script>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
      <v-app class="background-row">

        <v-app-bar 
          class="hidden-md-and-up scrollable-container justify-center align-center text-center" 
          absolute 
          border 
          flat 
          density="compact" 
          fixed
        >
          <v-list-item-group class="d-flex justify-space-around" style="width: 100%;"> 
            <v-list-item v-if="isSupported">
              <v-btn v-if="!isListening" icon ripple @click="startSpeechRecognition" :loading="speechLoading" aria-label="Click to speak what you want">
                <v-icon color="black">mdi-microphone</v-icon>
              </v-btn>
              <v-btn v-if="isListening" icon ripple @click="stopSpeechRecognition" aria-label="Click to stop speaking">
                <v-icon color="red">mdi-microphone-off</v-icon>
              </v-btn> 
            </v-list-item>

            <v-list-item link @click="getCurrentLocationClick" aria-label="Click to ask something new">
              <v-btn icon ripple aria-label="Click to ask something new">
                <v-icon>mdi-tab-plus</v-icon>
              </v-btn>
            </v-list-item>

            <v-list-item v-if="searchItems" class="pt-2">
              <!-- Adjusted classes for better alignment and spacing -->
              <v-autocomplete class="mt-4 pa-1" :items="searchItems" prepend-inner-icon="mdi-history" return-object item-title="plan_title" single-line v-model:modelValue="o" flat clearable tile ripple label="Revisit your previous sessions" hint="Revisit your previous sessions">
              </v-autocomplete> 
            </v-list-item>
          </v-list-item-group>
        </v-app-bar>


        <v-main scrollable class="mr-2">
          
          <v-row v-if="o.uniqueCode" class="mt-4">

            <v-col cols="12">
              <v-card class="elevation-20 mx-3 rounded-lg" color="black">                 
                <v-card-title class="text-h6">
                  <v-icon large color="white" class="pr-2 pb-2">mdi-information-variant</v-icon>{{ o.plan_title }}
                </v-card-title> 
                <v-card-actions>
                  <v-btn icon="mdi-share" color="white" @click="shareAll"></v-btn>
                  <v-btn icon="mdi-download" color="white" @click="downloadAll"></v-btn>
                </v-card-actions>  
                <v-card-text>               
                  <v-row>
                    <v-col cols="12">
                      {{o.description}}
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col v-for="it in [...o.steps,...o.ideas]" :key="it.title" cols="12">
              <v-card class="elevation-16 mx-3 rounded-lg">
                <v-card-title class="text-h6">
                  <v-icon large color="black" class="pr-2 pb-2">{{it.icon}}</v-icon>{{ it.title }}
                </v-card-title>
                <v-card-actions>                   
                  <v-btn v-if="!it.result&&!it.panel" icon="mdi-play" @click="it.panel = !it.panel; getSubResult(it);" color="black"></v-btn>
                  <v-btn v-if="!it.result&&it.panel" icon="mdi-stop" @click="it.panel = !it.panel;" color="black"></v-btn>
                  <v-btn v-if="it.result" icon="mdi-replay" color="black" @click="getSubResultReplay(it)"></v-btn>                 
                  <v-btn v-if="it.result" icon="mdi-share" color="black" @click="shareSub(it)"></v-btn>
                  <v-btn v-if="it.result" icon="mdi-download" color="black"></v-btn>
                </v-card-actions> 
                <v-progress-linear v-if="it.panel&&!it.result" indeterminate :height="20" rounded-bar></v-progress-linear>
                <v-card-text>
                  <v-row>
                    <v-col cols="12">
                      {{it.description}}
                    </v-col>
                    <v-col v-if="!loading&&it.result" class="pa-4" cols="12">
                      <ul class="px-4 mx-1">
                        <li v-for="it2 in it.result" :key="it2" class="mb-4">
                          {{it2}}
                        </li>
                      </ul> 
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-col>

          </v-row>

      </v-main>
        
      </v-app>
     </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="artyom.window.min.js"></script>
    <script async defer src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>    
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();

      async function loadComponentsAndInitApp() { 
      const app = createApp({

          data() {
              return {               
                  o: {},
                  loading: false,                  
                  drawer: false,
                  artyom: new Artyom(),
                  isSupported: false,
                  speechLoading: false,
                  isListening: false,
                  items: null
              }
          },

          computed: {   
            
            searchItems() {
              if (this.items&&this.items.length > 0) {
                return alasql("SELECT * FROM ? WHERE uniqueCode IS NOT NULL GROUP BY plan_title ORDER BY DATE(Modified) DESC",[this.items]);
              };
              return null;
            }
                     
          },

          watch: {
              o: {
                  handler(newValue, oldValue) {
                      // You can process the newValue here
                      //console.log('New value:', newValue);
                      return;
                  },
                  deep: true
              }
          },

          async mounted() {  
              
              //** processing of url text **
              //let resText = await getURLText('https://www.athletics.co.ke/index.php/2024/03/22/sifan-hassan-withdraws-from-world-cross-country-championships/');
              //console.log(resText);
              //return;

              await Promise.allSettled([
                this.getlocation(),
                this.getDevice(),
                this.getStore(),
                this.speechSupport(),
                //this.getLatest()
              ]);
              if (this.searchItems) {
                this.o = {...this.o,...this.searchItems[0]};
              };              
              this.masterResults('stop the war in Yemen');                         
              //const serviceID = new URL(document.location).searchParams.get("s");
          },

          methods: { 

              async getLatest() {
                try {
                  const response = await fetch('https://worker-misty-night-e212.xsbrt.workers.dev/');
                  if (!response.ok) {
                    return;
                  };
                  const data = await response.json();
                  //console.log(data);
                  return data;
                } catch (error) {
                  return;
                }
            },

            async getDevice() {
              try {
                  let deviceId = getCookie('deviceId') || localStorage.getItem('deviceId') || await getIndexedDB('deviceId');
                  if (!deviceId) {
                      const fp = await fpPromise;
                      const fingerprintResult = await fp.get();
                      deviceId = fingerprintResult.visitorId;
                      setCookie('deviceId', deviceId, 7);
                      localStorage.setItem('deviceId', deviceId);
                      await setIndexedDB('deviceId', deviceId);
                  };
                  this.o.f = deviceId;
                  return;
              } catch (e) {
                  return;
              }; 
          },

          cleanObject(obj) {
            if (Array.isArray(obj)) {
                return obj.map(element => {
                    if (typeof element === 'object' && element !== null) {
                        return this.cleanObject(element);
                    }
                    return element;
                });
            } else if (typeof obj === 'object' && obj !== null) {
                const cleanedObj = {};
                Object.keys(obj).forEach(key => {
                    const value = obj[key];
                    if (typeof value === 'object' && value !== null) {
                        cleanedObj[key] = this.cleanObject(value);
                    } else if (typeof value !== 'function' && typeof value !== 'undefined') {
                        cleanedObj[key] = value;
                    }
                });
                return cleanedObj;
            }
            return obj;    },

          async updateOrAddToIndexedDB(key, jsonObject) {
              try {
                  let existingArray = await getIndexedDB(key) || [];
                  if (Array.isArray(existingArray)) {
                      const cleanJsonObject = this.cleanObject(jsonObject);
                      existingArray.push(cleanJsonObject);
                  } else {
                      existingArray = [this.cleanObject(jsonObject)];
                  };
                  await setIndexedDB(key, existingArray);
                  this.getStore();
                  return;
              } catch (error) {
                  return;
              }
          },

          async getStore() {
            try {
              const res = await getIndexedDB('xsbrt');
              if (res&&res.length > 0) {
                this.items = res;
                return;
              };
            } catch(e) { return; };
          },

            async getlocation() {
              try {
                let res = getCookie('deviceLocation') || localStorage.getItem('deviceLocation') || await getIndexedDB('deviceLocation');
                if (!res) {
                    res = await axios.get('https://worker-misty-bird-e215.xsbrt.workers.dev/');
                    res = JSON.stringify(res);
                    setCookie('deviceLocation', res,7);
                    localStorage.setItem('deviceLocation', res);
                    await setIndexedDB('deviceLocation', res);
                };
                res = JSON.parse(res);
                this.o.l = res.latitude;
                this.o.lg = res.longitude;
                return;
              } catch(e) { return; }
            },

            async speechSupport() {
              try {
                this.isSupported = await this.artyom.speechSupported();
                navigator.permissions.query({name:'microphone'}).then((permissionStatus) => {
                    if (permissionStatus.state === 'denied') {
                        this.isSupported = false;
                        return;
                    };
                }); 
              } catch(e) { return; };
            },

            async masterResults(user_input) {  
              try {
                const messages = [
  { 
    role: "system", 
    content: "You are a chatbot specialized in creating structured responses. Your role is to provide clear, well-structured, and accurate JSON outputs based on the given instructions." 
  },
  { 
    role: "user", 
    content: `Create a detailed plan for "${user_input}". The plan should include steps and ideas, each with a unique code, title, brief description, and an LCC code. Structure each element as follows: {
      "uniqueCode": "",
      "plan_title": "",
      "description": "",
      "LCC_code": "",
      "steps": [
        {
          "title": "",
          "role": "",
          "description": "",
          "chatGPT_prompt": [
            {
              "role": "system",
              "content": "You are an expert in a specific field related to the step, focusing on generating actionable insights, always remaining connected to the user input. Example: You are an finance expert."
            },
            {
              "role": "user",
              "content": "Provide a detailed analysis of a specific aspect related to the step, always remaining connected to the user input. Example: Provide a detailed analysis of low risk stock market investing for a retirement plan."
            },
            {
              "role": "assistant",
              "content": "You only return well-structured, and accurate JSON outputs based on the given instructions.."
            }
            'You only return well-structured, and accurate JSON outputs based on the given instructions.
          ],
          "prompt_temperature": "variable between 0.1 and 0.9",
          "icon": "Google material icon mdi-icon"
        },
        // Include 5 to 10 steps
      ],
      "ideas": [
        {
          "title": "",
          "description": "",
          "role": "",
          "chatGPT_prompt": [
            {
              "role": "system",
              "content": "You are a creative strategist focusing on generating innovative ideas."
            },
            {
              "role": "user",
              "content": "Develop a unique and impactful idea related to the specific field."
            }
          ],
          "prompt_temperature": "variable between 0.1 and 0.9",
          "icon": "Google material icon mdi-icon"
        }
        // Include 3 ideas
      ]
    }`
  }
];

                  this.o = { ...this.o, ...await getResultsNEW(messages, 0.5, null, null) };
                  this.o.Modified = new Date();
                 // console.log(this.o);                  
                  if (this.o.uniqueCode) {
                    //this.updateOrAddToIndexedDB('xsbrt', this.o);
                    const oo = {};
                    oo.d = this.o.uniqueCode;
                    oo.c = this.o.LCC_code;
                    oo.o = this.o;
                    oo.l = this.o.l;
                    oo.lg = this.o.lg;
                    oo.f = this.o.f;
                    //this.ps(oo);
                  }; 
                  return;
              } catch(error) { return; };   
            },

            async ps(oo) {
              try {
                axios.post('https://worker-spring-snow-9c76.xsbrt.workers.dev/', oo, {
                  headers: {
                    'Content-Type': 'application/json',
                  },
                });
              } catch(e) { return; };    
            },

            async downloadAll() {
              console.log(this.o);
              //parse as formatted pdf
            },

            async shareAll() {
               const shareData = {
                    title: this.o.plan_title,
                    text: this.o.description,
                    url: 'https://xsbrt.com/' + this.o.uniqueCode
                };
                navigator.share(shareData);
            }, 

            async shareSub(it) {
                const shareData = {
                    title: this.o.plan_title+': '+it.title,
                    text: it.description +'\n'+it.result,
                    url: 'https://xsbrt.com/' + this.o.uniqueCode
                };
                navigator.share(shareData);
            },

            async getSubResult(it) {
              try {
                    if (!it.panel) return;
                    const messages = JSON.parse(JSON.stringify(it.chatGPT_prompt));
                    console.clear();
                    console.log(messages);
                    const json = await getResultsNEW(messages, 0.4, null, null);
                    console.log(json);
                    if (json&&json.result) {
                      it.result = json.result;
                      it.panel = true;
                      this.loading = false;
                      return; 
                    };               
                } catch (e) {
                    it.panel = false;
                    this.loading = false;
                    return;
                };
                it.panel = false;
                this.loading = false;
                return;
            },

            async getSubResultReplay(it) {
              try {                    
                    delete it.result;
                    it.panel = true;
                    this.loading = true;
                    const messages = JSON.parse(JSON.stringify(it.chatGPT_prompt));
                    const temp = parseFloat(parseFloat(it.prompt_temperature)+0.25);
                    const json = await getResultsNEW(messages, temp, null, null);
                    if (json&&json.result) {
                      it.result = json.result;
                      it.panel = true;
                      this.loading = false;
                      return; 
                    };               
                } catch (e) {
                    it.panel = false;
                    this.loading = false;
                };
                it.panel = false;
                this.loading = false;
            },

            standardizeKey(key) {
              // If the key contains underscores, replace them with spaces and capitalize each word.
              if (key.includes('_')) {
                return key
                  .split('_')
                  .map(segment => segment.charAt(0).toUpperCase() + segment.slice(1).toLowerCase())
                  .join(' ');
              }

              // Add spaces before uppercase letters in camelCase, and capitalize the first letter of each word.
              // This will transform "noChangeRequired" to "No Change Required".
              return key
                // Insert a space before uppercase letters followed by lowercase letters.
                .replace(/([a-z])([A-Z])/g, '$1 $2')
                // Capitalize the first letter of each word.
                .replace(/\b[a-z]/g, char => char.toUpperCase());
            },

            async closeKeyboard() {
              try {
                if (document.activeElement && document.activeElement.blur) {
                  document.activeElement.blur();
                };
              } catch(error) { return; };             
            },

            async getCurrentLocationClick() {
              try {
                const res = await getCurrentLocation();
                if (res&&res.latitude) {
                  this.o.location = res;
                };
              } catch(error) { return; };
            },

            async startSpeechRecognition() { 
              try {
                  this.speechLoading = true;
                  this.isListening = false;
                  this.o.description = '';
                  await this.artyom.initialize({lang:"en-US", debug: false, soundex: true, continuous: true, listen: true, speed: 1 });       
                  this.artyom.addCommands({
                      indexes: [/.*/],
                      smart: true,
                      action: (i, wildcard) => {
                        this.o.description = this.o.description + ' ' + wildcard.trim();
                      }
                  });
                  setTimeout(() => { this.isListening = true; this.speechLoading = false; }, 2250);
                    this.artyom.redirectRecognizedTextOutput((text, isFinal) => {
                      this.o.description = text;
                  });
                  return;
              } catch (error) {
                  this.speechLoading = false;
                  this.artyom.fatality();
                  return;
              }               
          },

          async stopSpeechRecognition() { 
              try {  
                  this.gatherResults();  
                  this.speechLoading = false,                 
                  this.isListening = false; 
                  this.artyom.fatality();
                  return;               
              } catch (error) {
                  return;
              }               
          },

            async save(actionID) {
              const oo = {};
              oo.s = this.o.mainObject.s;
              oo.f = this.o.deviceId;                                  
              if (this.o.location) {
                oo.l = this.o.location.latitude;
                oo.lg = this.o.location.longitude;
              };
              oo.d = this.o.description;
              if (this.o.results.c) {
                oo.c = this.o.results.c;
              };
              if (actionID) {
                oo.actionID = actionID;
              };
              ps(oo); 
            },           

            async shareResult() {
              this.share(this.o.mainObjectTitle,this.o.description,'https://xsbrt.com/?s='+this.o.mainObject.icon+'&d='+this.o.description);
              this.save(1);
            },
            
            async share(title,text,url) {
              if (navigator.share) {
                const shareData = {
                      title: title,
                      text: text,
                      url: url
                  };
                  navigator.share(shareData);
                }; 
            }, 

            async clip() {
                copyClipboard(this.o.deliverable.results_text);
                this.save(2);
            }
                
          },
          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>
<style>

*, *::before, *::after {
  box-sizing: border-box; /* This ensures padding and border are included in the width and height */
}

body, html {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: calc(1em + 1vw); /* Adjusts size based on viewport width */
  text-rendering: optimizeLegibility; /* Enhances text legibility */
}

.background-row {
  position: relative;
  min-height: 100vh; /* Set a minimum height to ensure the row is visible */
}

.background-row::before {
  content: '';
  display: block;
  position: fixed; /* Change this from absolute to fixed to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('xsbrtBackground.webp') no-repeat center center; /* Ensure it doesn't repeat */
  background-size: cover;
  opacity: 0.4;
  z-index: -1; /* Ensure it stays in the background */
}

.transparent-bg {
  background-color: transparent !important;
  border: none !important; /* Remove borders */
  box-shadow: none !important; /* Remove any shadow that might look like a border */
}

/* Toolbar styles */
.v-toolbar {
  background-color: #f5f5f5; /* Toolbar background color */
  padding-right: 16px;
}

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines you want */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
      </style>
  
</body>
</html>