<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta name="google-adsense-account" content="ca-pub-4654076039664824">
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="AI Solutions for Nonprofits, Social Service AI Tools, Strategic Decision-Making AI, AI in Media Management, AI for Public Relations, Future Prediction AI, AI Technology for Reputation Management" />
    <meta name="description" content="Discover xsbrt's AI solutions tailored for social services, nonprofit fundraising, and strategic decision-making. Leverage our AI technology for effective media management, futuristic analysis, and enhancing public relations. Address your challenges with our expert-driven AI tools." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="xsbrt: Tailored AI Solutions for Nonprofits & Strategic Communication" />
    <meta property="og:description" content="Leverage xsbrt's AI-driven solutions for nonprofit support, social services, informed decision-making, media strategy, and future analysis. Discover our expert approach to solving complex challenges with AI technology." />
    <meta property="og:url" content="https://xsbrt.com" />
    <meta property="og:site_name" content="xsbrt" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="xsbrt: Custom AI Solutions" />    
    <meta name="msapplication-TileImage" content="https://xsbrt.com/xsbrtimage.png" />
    <meta name="msapplication-TileColor" content="white" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="https://xsbrt.com/xsbrtimage.png" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" />
    <script src="https://openfpcdn.io/fingerprintjs/v3/iife.min.js"></script>
    <title>AI for Nonprofits, Fundraising & Strategic Decisions | xsbrt Solutions</title>
</head>
<script>
  var fpPromise = FingerprintJS.load();
</script>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
      <v-app class="background-row">

        <v-app-bar class="hidden-md-and-up scrollable-container" absolute border flat density="compact" fixed>
          <v-list-item link @click="getCurrentLocationClick" aria-label="Click to get your current location">
            <v-tooltip
                activator="parent"
                location="end"
                eager
                max-width="270"
              >
              Get your current location to improve results               
            </v-tooltip>
                <v-icon>mdi-map-marker-circle</v-icon>
            </v-tooltip>
          </v-list-item>
          <v-list-item v-for="service in services" :key="service.title" link @click="o.mainObject=service;o.results='';o.description='';o.showDeliverable=false;showNewFlip=false;o.description='';" aria-label="Click to go to service">
            <v-tooltip
                activator="parent"
                location="end"
                eager
                max-width="270"
              >
              {{service.shortTitle.toUpperCase()}}: 
              {{service.subtitle}}                  
            </v-tooltip>
                <v-icon>{{service.icon}}</v-icon>
            </v-tooltip>
          </v-list-item>
        </v-app-bar>

        <v-navigation-drawer class="transparent-bg hidden-sm-and-down font-weight-black" flat rail> 
          <v-list-item link @click="getCurrentLocationClick" aria-label="Click to get your current location">
            <v-tooltip
                activator="parent"
                location="end"
                eager
                max-width="270"
              >
              Get your current location to improve results               
            </v-tooltip>
                <v-icon>mdi-map-marker-circle</v-icon>
            </v-tooltip>
          </v-list-item>                           
          <v-list-item v-for="service in services" :key="service.title" link @click="o.mainObject=service;o.results='';o.description='';o.showDeliverable=false;" aria-label="Click to go to service">
            <v-tooltip
                activator="parent"
                location="end"
                eager
                max-width="270"
              >
              {{service.shortTitle.toUpperCase()}}: 
              {{service.subtitle}}                  
            </v-tooltip>
                <v-icon>{{service.icon}}</v-icon>
            </v-tooltip>
          </v-list-item>
        </v-navigation-drawer>
    
        <!-- Main Content -->         
          <v-row v-if="o" class="pt-16">  
            <Transition name="bounce">         
            <v-col v-if="o.mainObject && o.mainObject.description" cols="12" md="6" lg="6" xl="6" offset-md="1" offset-lg="1" offset-xl="1" class="px-4" transition="fab-transition">
              <h1 class="headline mb-2 font-weight-black text-center-sm">
                <v-icon class="pb-2 pr-2">{{ o.mainObject.icon }}</v-icon>
                {{ o.mainObject.shortTitle }}
                <div v-if="o.location && o.location.latitude" class="mb-2 pl-4" style="font-size: 0.75rem;cursor:pointer;" @click="getCurrentLocationClick" aria-label="Click to get your current location">
                  <v-icon class="pr-1 pb-1">mdi-map-marker-circle</v-icon>
                  {{ o.location.latitude }}, {{ o.location.longitude }}
                </div>
              </h1>
              <h2 v-if="o.mainObject.subtitle" class="mb-2 font-italic font-weight-light text-center-sm px-2" style="font-size:0.97em;">
                {{ o.mainObject.subtitle }}
              </h2>
              <p :class="{'font-weight-bold text-left px-3': true, 'truncate-text': loading||showTitle}">
                {{ o.mainObject.description }}
              </p>

              <ul v-if="showExamples" class="ma-4 pt-4 px-4" style="font-style: italic;">
                <h5><v-icon class="pb-1 pr-1">mdi-information-outline</v-icon>Example:</h5>
                <li v-for="it in showExamples" class="pa-1 mb-1" @click="o.description=it;gatherResults();" style="cursor:pointer;">
                  {{ it }}
                </li>
              </ul>

            </v-col>
          </Transition>
            
            <Transition name="bounce">
            <v-col cols="12" md="4" lg="4" xl="4" class="align-items-center text-center justify-center px-4">             

              <quotes v-if="loading" class="mx-2 px-2"></quotes>
              
              <v-btn v-if="!showNew&&!loading" class="hidden-md-and-up" icon fab ripple elevation="20" size="60" @click="showNewFlip=true;this.loading=false;this.o.description='';" aria-label="Click to create start new item">
                <v-icon size="60" color="black">mdi-plus-circle-outline</v-icon>
              </v-btn>

              <div v-if="showNew" class="justify-center mb-4 md:pt-20 lg:pt-20 xl:pt-20 align-items-center text-center">

                <v-btn v-if="isSupported&&!isListening" icon fab ripple elevation="20" size="60" @click="startSpeechRecognition" :loading="speechLoading" aria-label="Click to speak what you want">
                  <v-icon size="60" color="black">mdi-microphone</v-icon>
                </v-btn>
                <v-btn v-if="isListening" icon fab ripple elevation="20" size="60" @click="stopSpeechRecognition" aria-label="Click to stop speaking">
                  <v-icon size="60" color="red">mdi-microphone-off</v-icon>
                </v-btn> 
                
              </div>  
                
                  
                  <v-autocomplete v-if="showNew&&previousSessions" :items="previousSessions" density="compact" prepend-inner-icon="mdi-history" v-model:modelValue="o.description"
                  @update:modelValue="gatherResults" class="pa-1 mt-1 mx-0 mb-0" elevation="20" clearable rounded bg-color="white" variant="solo" ripple label="Revisit your previous sessions" hint="Revisit your previous sessions" @click:clear="o.description='';o.results=null;">
                  </v-autocomplete> 
                
                    <v-textarea v-if="showNew"
                      v-model.lazy="o.description"
                      :label="o.mainObject.label"
                      :hint="o.mainObject.hint"
                      spellcheck="true"
                      autocomplete="on"
                      :placeholder="o.mainObject.placeholder"
                      clearable 
                      rows="2"
                      class="pa-1 ma-0"
                      bg-color="white"
                      prepend-inner-icon="mdi-comment-text"
                      :auto-grow="!showTitle"
                      elevation="20"
                      variant="solo"
                      maxlength="500"
                  >
                  </v-textarea>                  
                  <v-btn v-if="!loading&&o.description&&showNew" text variant="elevated" size="small" ripple elevation="20" rounded @click="gatherResults" aria-label="Click to submit new item">
                    submit
                  </v-btn>        
            </v-col>
          </Transition>

            <div id="resultsID" class="ma-0 pa-0"></div>
            <v-col cols="12" id="results">  
              
              <Transition name="bounce">
                <v-container v-if="o.showDeliverable" transition="fab-transition" fluid>
                    <quotes v-if="!o.deliverable" class="mx-2"></quotes> 
                  
                    <v-row v-if="o.deliverable&&o.deliverable.results" class="text-center justify-center mb-4 pa-4">
                      <v-col cols="12" class="text-center justify-center mb-4">
                          <h3 v-if="o.deliverable.title" class="mb-4 text-uppercase">{{o.deliverable.title}}</h3>
                          <v-btn ripple variant="tonal" elevation="6" class="mx-1" icon="mdi-close-circle-outline" @click="o.showDeliverable=false" style="display: inline-block;" aria-label="Click here to close">
                          </v-btn>
                          <v-btn ripple variant="tonal" elevation="6" class="mx-1" icon="mdi-content-copy" @click="clip" style="display: inline-block;" aria-label="Click here to copy to your clipboard">
                          </v-btn>
                          <v-btn ripple variant="tonal" elevation="6" class="mx-1" aria-label="Click here to share" icon="mdi-share" @click="shareDeliverable" style="display: inline-block;">
                          </v-btn>
                      </v-col>   
                      <v-col cols="12" class="text-left font-weight-regular text-body-1 result-text mx-4 px-4 rounded-scrollable-container" rounded style="background-color: rgba(255, 255, 255, 0.7);" v-html="o.deliverable.results"></v-col>
                  </v-row>    

                </v-container>
              </Transition>
               
               <v-card-actions v-if="o.description&&(Object.keys(o.results).length > 0||o.results.length > 0)&&(shareBar||showDownload)" class="text-center justify-center d-flex mb-2 mx-1">
                <v-btn size="large" ripple elevation="8" class="mx-1 mt-1" icon="mdi-share" aria-label="Click to share this result" @click="shareResult"></v-btn>
                <v-btn v-if="shareBar" v-for="sv in shareBar" :key="sv.title" ripple elevation="8" size="large" class="mx-1" :icon="sv.icon" @click="o.mainObject=sv;gatherResults();" aria-label="Click to open related service">
                </v-btn>
              </v-card-actions> 

              <v-alert v-if="showAlert" transition="fab-transition" closable type="info" variant="tonal" class="pa-4 font-weight-bold text-center justify-center ma-4 text-h4" text="Oh no! This didn't work out. Try again in a few minutes please."></v-alert>

              <div v-if="showTitle||o.mainObject.icon=='mdi-home'" class="hidden-md-and-up text-center justify-center"><v-icon>mdi-arrow-left</v-icon><v-icon>mdi-arrow-right</v-icon></div> 
             
              <Transition name="bounce">
              <v-slide-group v-if="showTitle||o.mainObject.icon=='mdi-home'"
                show-arrows
                class="mb-1 center-on-large"
                next-icon="mdi-arrow-right"
                prev-icon="mdi-arrow-left"
                transition="fab-transition"
              > 

              <v-slide-group-item v-if="o.mainObject.icon=='mdi-finance'" v-for="(item, key) in o.results" :key="key"
                v-slot="{ isSelected, toggle }"
              >
                <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small animated-item" min-height="285" link ripple aria-label="Click here to expand on this item" @click="getDeliverable(item.prompt,key.replace(/_/g, ' '))">
                  <v-card-title class="d-flex text-center justify-center">
                    {{key.replace(/_/g, ' ')}}                     
                  </v-card-title>
                  <v-card-text class="pa-1">                      
                    {{item.description}}
                  </v-card-text>
                </v-card>
              </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-home'"
                    v-for="service in services.slice(1)"
                    :key="service.title"
                    v-slot="{ isSelected, toggle }"
                  >                 
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small animated-item" min-height="285" link ripple @click="o.mainObject=service;o.results='';o.description='';showNew=true;" aria-label="Click to open service">
                      <v-card-title class="d-flex text-center justify-center">
                        <v-icon class="pb-1 pr-2">{{service.icon}}</v-icon>{{service.shortTitle}}                      
                      </v-card-title>
                      <v-card-text class="pa-1">                      
                        {{service.description}}
                      </v-card-text>
                    </v-card>

                  </v-slide-group-item>

                  <v-slide-group-item v-if="o.mainObject.icon=='mdi-crosshairs-gps'&&o.results&&o.results.length > 0"
                    v-for="it in o.results"
                    :key="it.name"
                    v-slot="{ isSelected, toggle }"
                  >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                    <v-card-title class="text-center">
                      {{it.name}}                      
                    </v-card-title>
                    <v-card-subtitle class="mb-2 font-weight-bold text-center">
                      <div><a style="text-decoration:none;" :href="'tel:' + it.phone">{{it.phone}}</a></div>
                      <div><a :href="it.website" style="text-decoration: none;" target="_blank">
                        {{it.website}}
                      </a></div>
                    </v-card-subtitle>
                    <v-card-actions class="text-center justify-center d-flex">
                      <v-btn ripple variant="tonal" elevation="4" size="small" class="mx-1" aria-label="Click to share" icon="mdi-share" @click="shareItem(it)">
                      </v-btn>         
                    </v-card-actions>                                  
                    <v-card-text class="pa-1">                      
                      {{it.directions}}
                    </v-card-text> 
                    <v-card-actions class="text-center justify-center d-flex">
                      <v-btn v-for="sv in shareBar" :key="sv.title" ripple variant="tonal" elevation="4" size="small" class="mx-1" :icon="sv.icon" @click="o.description=it.directions;o.mainObject=sv;gatherResults();" aria-label="Click to get related results">
                      </v-btn> 
                    </v-card-actions>                
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-magnet'"
                  v-for="it in o.results"
                  :key="it.name"
                  v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                    <v-card-title class="text-center">
                      {{it.name}}                      
                    </v-card-title>
                    <v-card-subtitle class="mb-2 font-weight-bold text-center">
                      <div><a style="text-decoration:none;" :href="'tel:' + it.phone">{{it.phone}}</a></div>
                      <div><a :href="it.website" style="text-decoration: none;" target="_blank">
                        {{it.website}}
                      </a></div>
                    </v-card-subtitle>
                    <v-card-actions class="text-center justify-center d-flex">
                      <v-btn ripple variant="tonal" elevation="4" size="small" class="mx-1" aria-label="Click to share" icon="mdi-share" @click="shareItem(it)">
                      </v-btn>
                    </v-card-actions>                                  
                    <v-card-text class="pa-1">                      
                      {{it.summary}}
                    </v-card-text>
                    <v-expansion-panels variant="accordion" class="mt-2" elevation="0">
                      <v-expansion-panel v-for="dlv in fundDeliverables" :key="dlv.name" elevation="0" class="ma-0 pa-0" @click="getSubDeliverable(it,dlv)">
                          <v-expansion-panel-title ripple class="ma-0 pa-2 text-left" rounded elevation="4" aria-label="Click to create"> 
                              <v-icon left class="pr-2">mdi-information-outline</v-icon>{{ dlv.name }}
                          </v-expansion-panel-title>
                      </v-expansion-panel>
                    </v-expansion-panels>
                    <v-card-actions class="text-center justify-center d-flex">
                      <v-btn v-for="sv in shareBar" :key="sv.title" ripple variant="tonal" elevation="4" size="small" class="mx-1" :icon="sv.icon" @click="o.description=it.summary;o.mainObject=sv;gatherResults();" aria-label="Click to get related results">
                      </v-btn> 
                    </v-card-actions>      
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-lightbulb-on-outline'&&o.results.deliverables" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                    <v-card-title class="text-center">
                      {{o.results.expert}}                      
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      {{o.results.summary}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-lightbulb-on-outline'&&o.results.deliverables" v-for="it in o.results.deliverables" :key="it.name" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small animated-item" min-height="285" link ripple aria-label="Click to expand on item" @click="getDeliverable(it.prompt,it.name)">
                    <v-card-title class="text-center">
                      {{it.name}}                      
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      {{it.description}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-bullhorn'&&o.results.media_analysis" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small animated-item" min-height="285" aria-label="Click to expand on item" link ripple @click="getDeliverable('Given the following text of ' + o.results.media_analysis + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.','Media Analysis')">
                    <v-card-title class="text-center">
                      Media Analysis                     
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      {{o.results.media_analysis}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-bullhorn'&&o.results.key_narrative_points" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                    <v-card-title class="text-center">
                      Key Points                     
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      <li v-for="it in o.results.key_narrative_points" :key="it" class="mb-2 animated-item" aria-label="Click to expand on item" style="cursor:pointer;" link ripple @click="getDeliverable('Given the following text of ' + it + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.' + it,'Key Point')">
                        {{it}}
                      </li>
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-bullhorn'&&o.results.deliverables" v-for="it in o.results.deliverables" :key="it.deliverableDescription" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small animated-item" min-height="285" aria-label="Click to expand on item" link ripple @click="getDeliverable('Given the following text of ' + it.deliverableDescription + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.','Media Deliverable')">
                    <v-card-title class="text-center">
                      Media Deliverable                     
                    </v-card-title>  
                    <v-card-text class="pa-1">                      
                      {{it.deliverableDescription}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-bullhorn'&&o.results.rapid_response_strategy" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small animated-item" min-height="285" aria-label="Click to expand on item" link ripple @click="getDeliverable('Given the following text of ' + o.results.rapid_response_strategy + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.','Rapid Response Strategy')">
                    <v-card-title class="text-center">
                      Rapid Response Strategy                     
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      {{o.results.rapid_response_strategy}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-account-search'&&o.results" v-slot="{ isSelected, toggle }" v-for="(value, key) in o.results" :key="key"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small animated-item" min-height="285" aria-label="Click to expand on item" link ripple @click="getDeliverable('Given the following text of ' + value + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.',key.replace(/_/g, ' '))">
                    <v-card-title class="text-center text-uppercase">
                    {{key.replace(/_/g, ' ')}}                    
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      {{value}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-bullhorn'&&o.results&&o.results.monitoring_and_adjustment_steps" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small animated-item" min-height="285" aria-label="Click to expand on item" link ripple @click="getDeliverable('Given the following text of ' + o.results.monitoring_and_adjustment_steps + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.','Monitoring & Adjustment')">
                    <v-card-title class="text-center">
                     Monitoring & Adjustment                     
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      {{o.results.monitoring_and_adjustment_steps}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-sitemap'&&o.results.forecast" v-for="(value, key) in o.results.forecast" :key="key" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small animated-item" min-height="285" aria-label="Click to expand on item" link ripple @click="getDeliverable('Given the following text of ' + key.replace(/_/g, ' ') + ': ' + value + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.',key.replace(/_/g, ' ') )">
                    <v-card-title class="text-center text-capitalize">
                      {{key.replace(/_/g, ' ')}}                    
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      {{value}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-comment-question-outline'&&o.results" v-for="(value, key) in o.results" :key="key" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small animated-item" min-height="285" aria-label="Click to expand on item" link ripple @click="getDeliverable('Given the following text of ' + value + ': ' + value + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.' + value,key)">
                    <v-card-title class="text-center text-capitalize">
                      {{key}}                    
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      {{value}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-thumbs-up-down'&&o.results" v-for="it in o.results" :key="description" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small animated-item" min-height="285" aria-label="Click to expand on item" link ripple @click="getDeliverable('Given the following text of ' + ': ' + it.description + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.', it.label)">
                    <v-card-title class="text-center text-capitalize">
                      {{it.label}}                     
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      {{it.description}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-sitemap'&&o.results.forecasting_approach" v-for="(value, key) in o.results.forecasting_approach" :key="key" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small animated-item" min-height="285" aria-label="Click to expand on item" link ripple @click="getDeliverable('Given the following text of ' + key.replace(/_/g, ' ') + ': ' + value + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.', key.replace(/_/g, ' '))">
                    <v-card-title class="text-center text-capitalize">
                      {{key.replace(/_/g, ' ')}}                     
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      {{value}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>


                <v-slide-group-item v-if="o.mainObject.icon=='mdi-key-plus'&&o.results.Long_Term_Impact" v-for="it in o.results.Long_Term_Impact.Specific_Risks" :key="it.Risk_Factor" v-slot="{ isSelected, toggle }"
                >                  
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                      <v-card-title class="text-center text-capitalize">
                        {{it.Risk_Factor}}                    
                      </v-card-title>   
                      <v-card-subtitle class="text-center">
                        Long Term Impact Risk Factor<br/>Impact level: {{it.Impact_Level}}
                      </v-card-subtitle>                          
                      <v-card-text class="pa-4 text-center justify-center">
                        <h4 class="my-2">Mitigation strategies</h4>   
                        <ul class="px-1">
                          <li class="mb-2 text-left animated-item" style="cursor:pointer;" aria-label="Click to expand on item" link ripple @click="getDeliverable('Given the following text of the long term impact risk factor ' + it.Risk_Factor + '; AND the mitigation strategy ' + it.Mitigation_Strategies + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.', it.Mitigation_Strategies)">
                            {{it.Mitigation_Strategies}}
                          </li> 
                        </ul> 
                      </v-card-text>                 
                    </v-card>
                  </v-slide-group-item>

                  <v-slide-group-item v-if="o.mainObject.icon=='mdi-key-plus'&&o.results.Financial_Consequences" v-for="it in o.results.Financial_Consequences.Specific_Risks" :key="it.Risk_Factor" v-slot="{ isSelected, toggle }"
                  >                  
                    <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                        <v-card-title class="text-center text-capitalize">
                          {{it.Risk_Factor}}                    
                        </v-card-title>   
                        <v-card-subtitle class="text-center">
                          Financial Consequences Risk Factor<br/>Impact level: {{it.Impact_Level}}
                        </v-card-subtitle>                          
                        <v-card-text class="pa-4 text-center justify-center">
                          <h4 class="my-2">Mitigation strategies</h4>   
                          <ul class="px-1">
                            <li class="mb-2 text-left animated-item" aria-label="Click to expand on item"  style="cursor:pointer;" link ripple @click="getDeliverable('Given the following text of the financial consequence risk factor ' + it.Risk_Factor + '; AND the mitigation strategy ' + it.Mitigation_Strategies + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.', it.Mitigation_Strategies)">
                              {{it.Mitigation_Strategies}}
                            </li> 
                          </ul> 
                        </v-card-text>                 
                      </v-card>
                    </v-slide-group-item>

                    <v-slide-group-item v-if="o.mainObject.icon=='mdi-key-plus'&&o.results.Personal_Development" v-for="it in o.results.Personal_Development.Specific_Risks" :key="it.Risk_Factor" v-slot="{ isSelected, toggle }"
                    >                  
                      <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                          <v-card-title class="text-center text-capitalize">
                            {{it.Risk_Factor}}                    
                          </v-card-title>   
                          <v-card-subtitle class="text-center">
                            Personal Development Risk Factor<br/>Impact level: {{it.Impact_Level}}
                          </v-card-subtitle>                          
                          <v-card-text class="pa-4 text-center justify-center">
                            <h4 class="my-2">Mitigation strategies</h4>   
                            <ul class="px-1">
                              <li class="mb-2 text-left animated-item" style="cursor:pointer;" aria-label="Click to expand on item" link ripple @click="getDeliverable('Given the following text of the personal development risk factor ' + it.Risk_Factor + '; AND the mitigation strategy ' + it.Mitigation_Strategies + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.', it.Mitigation_Strategies)">
                                {{it.Mitigation_Strategies}}
                              </li> 
                            </ul> 
                          </v-card-text>                 
                        </v-card>
                      </v-slide-group-item>

                      <v-slide-group-item v-if="o.mainObject.icon=='mdi-key-plus'&&o.results.Social_Implications" v-for="it in o.results.Social_Implications.Specific_Risks" :key="it.Risk_Factor" v-slot="{ isSelected, toggle }"
                    >                  
                      <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                          <v-card-title class="text-center text-capitalize">
                            {{it.Risk_Factor}}                    
                          </v-card-title>   
                          <v-card-subtitle class="text-center">
                            Social Implications Risk Factor<br/>Impact level: {{it.Impact_Level}}
                          </v-card-subtitle>                          
                          <v-card-text class="pa-4 text-center justify-center">
                            <h4 class="my-2">Mitigation strategies</h4>   
                            <ul class="px-1">
                              <li class="mb-2 text-left animated-item" aria-label="Click to expand on item"  style="cursor:pointer;" link ripple @click="getDeliverable('Given the following text of the social implications risk factor ' + it.Risk_Factor + '; AND the mitigation strategy ' + it.Mitigation_Strategies + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.', it.Mitigation_Strategies)">
                                {{it.Mitigation_Strategies}}
                              </li> 
                            </ul> 
                          </v-card-text>                 
                        </v-card>
                      </v-slide-group-item>

                      <v-slide-group-item v-if="o.mainObject.icon=='mdi-account-switch'&&o.results.Complexities" v-for="(value, key) in o.results" :key="key" v-slot="{ isSelected, toggle }"
                      >                  
                        <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                            <v-card-title class="text-center text-capitalize">
                              {{key.replace(/_/g, ' ')}}                      
                            </v-card-title>

                            <v-card-text v-if="value.description&&value.prompt" class="pa-4 text-left animated-item" style="cursor:pointer;" link ripple @click="getDeliverable(value.prompt, key)" aria-label="Click to expand on item">
                              {{value.description}}
                            </v-card-text>                             
                           
                            <v-card-text v-if="key=='Lobbying_Strategy'" class="pa-4 text-center justify-center">
                              <div style="cursor:pointer;" class="text-left animated-item" link aria-label="Click to expand on item" ripple @click="getDeliverable(value.prompt, 'Influence Public Opinion')">
                                {{value.Influence_Public_Opinion.description}}
                              </div>
                              <ul v-if="value.Potential_Alliances" class="pa-1 mt-2">
                                <h4 class="my-2">Potential Alliances</h4>
                                <li v-for="it2 in value.Potential_Alliances" ripple link style="cursor:pointer;" aria-label="Click to expand on item" class="mb-2 text-left animated-item" @click="getDeliverable('Given the following text of the potential alliance: ' + it2 + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.', 'Potential Alliance: ' + it2)">
                                  {{it2}}
                                </li>
                              </ul>
                            </v-card-text>

                            <v-card-text v-if="key=='Communication_Guidance'" class="pa-4 text-left">
                              <h4 class="my-2 text-center">Tone</h4>
                              <span ripple link style="cursor:pointer;" class="animated-item" aria-label="Click to expand on item" @click="getDeliverable('Given the following text of communications guidance tone: ' + value.Tone + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.', 'Tone')">{{value.Tone}}</span>
                              <h4 class="my-2 pt-2 text-center">Content</h4>
                              <span ripple link style="cursor:pointer;" class="animated-item" aria-label="Click to expand on item" @click="getDeliverable('Given the following text of communications guidance content: ' + value.Content + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.', 'Content')">{{value.Content}}</span>
                            </v-card-text> 

                            <v-card-text v-if="key=='Deliverables'" class="pa-4 text-left">
                              
                              {{value.Legislative_Brief.description}}

                            </v-card-text>    
                                                      
                            
                            <v-card-text v-if="Array.isArray(value)&&value.length > 0" class="pa-4 text-left">
                              <ul class="px-1">
                                <li v-for="it2 in value" class="mb-2 animated-item" style="cursor:pointer;" aria-label="Click to expand on item"  @click="getDeliverable('Given the following line item: ' + it2 + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.', it2)">
                                  {{it2}}
                                </li>
                              </ul>
                            </v-card-text> 

                          </v-card>
                        </v-slide-group-item>

                        <v-slide-group-item v-if="o.mainObject.icon=='mdi-account-switch'&&o.results.Complexities" v-for="it in lobbyDeliverables" :key="it.title" v-slot="{ isSelected, toggle }"
                      >                  
                          <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small animated-item" min-height="285" link ripple @click="getDeliverable(it.prompt + o.description, it.title)" aria-label="Click to expand on item">
                              <v-card-title class="text-center text-capitalize">
                                {{it.title}}                      
                              </v-card-title>
                              <v-card-text class="pa-4 text-left">
                                {{it.description}}
                              </v-card-text>  
                            </v-card>
                        </v-slide-group-item>


                <v-slide-group-item v-if="o&&o.ideas" v-for="it in o.ideas" :key="it" v-slot="{ isSelected, toggle }" v-slot="{ isSelected, toggle }">
                  <v-card elevation="12" rounded class="ma-4 pa-4 animated-item" min-height="285" link ripple aria-label="Click to expand on idea"  @click="getDeliverable('Given the following text of ' + it + '; AND ' + this.o.description + ', please provide a detailed expansion. Analyze the key themes, elaborate on any underlying ideas or implications, and explain how these elements connect to the broader context or related concepts. Where appropriate, include examples, analogies, or hypothetical scenarios to illustrate your points. Ensure your response is thorough, engaging, and maintains the essence of the original text while offering deeper insights or a broader perspective.','Idea')">
                      <v-card-title class="text-center">
                          <v-icon class="pb-1 pr-1" large>mdi-thought-bubble-outline</v-icon>Idea                  
                      </v-card-title>                             
                      <v-card-text class="pa-1"> 
                          {{ it }}  
                      </v-card-text>                 
                  </v-card>
              </v-slide-group-item>

            </v-slide-group>
          </Transition>

            </v-col>

          </v-row> 
          <div id="bottomID" class="ma-0 pa-0"></div>    
        
      </v-app>
     </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="artyom.window.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>    
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();
      const { loadModule } = window['vue3-sfc-loader'];

      async function loadComponentsAndInitApp() {          

        async function addComponent(component) {
          return await loadModule('./' + component + '.vue', {
                  moduleCache: {
                      vue: Vue
                  },
                  async getFile(url) {
                      const res = await fetch(url);
                      if (!res.ok)
                          throw Object.assign(new Error(url + ' ' + res.statusText), { res });
                      return await res.text();
                  },
                  addStyle: (textContent) => {
                      const style = document.createElement('style');
                      style.textContent = textContent;
                      document.head.appendChild(style);
                  }
              });
        }
        
      //define components
      const quotes = await addComponent('quotes');
      const app = createApp({

          data() {
              return {               
                  o: {},
                  loading: false,                  
                  drawer: false,
                  artyom: new Artyom(),
                  isSupported: false,
                  speechLoading: false,
                  isListening: false,
                  showNewFlip: false,
                  hideAlert: false
              }
          },
          
          computed: {

            showExamples() {
              if (!this.o.description&&!this.o.loading&&(!this.o.results||this.o.mainObject.icon=='mdi-home')&&this.o.mainObject.examples) {
                return getRandomItems(this.o.mainObject.examples, 1);
              };
              return null;
            },

            shareBar() {
              if (this.o.results) {
                if (['mdi-crosshairs-gps','mdi-magnet'].includes(this.o.mainObject.icon)) {
                  return alasql("SELECT * FROM ? WHERE title IN('BenefitsGPS','FundMagnet','xsbrt','Future') AND icon <> 'mdi-home'",[this.services]);
                };
                if (['mdi-bullhorn','mdi-lightbulb-on-outline','mdi-sitemap','mdi-account-search'].includes(this.o.mainObject.icon)) {
                  return alasql("SELECT * FROM ? WHERE title <> '" + this.o.mainObject.title + "' AND icon <> 'mdi-home' AND title IN('xsbrt','Future','Risk Assessment')",[this.services]);
                };
                if ('mdi-comment-question-outline'==this.o.mainObject.icon) {
                  return alasql("SELECT * FROM ? WHERE title IN('Pros and Cons Analysis','xsbrt','Future','Risk Assessment') AND icon <> 'mdi-home'",[this.services]);
                };
                if ('mdi-thumbs-up-down'==this.o.mainObject.icon) {
                  return alasql("SELECT * FROM ? WHERE title IN('Decision Support','xsbrt','Future','Risk Assessment') AND icon <> 'mdi-home'",[this.services]);
                };
                if ('mdi-key-plus'==this.o.mainObject.icon) {
                  return alasql("SELECT * FROM ? WHERE title IN('Decision Support','xsbrt','Future','Pros and Cons Analysis') AND icon <> 'mdi-home'",[this.services]);
                };
                if ('mdi-finance'==this.o.mainObject.icon) {
                  return alasql("SELECT * FROM ? WHERE title IN('Pros and Cons Analysis','xsbrt','Future','Risk Assessment') AND icon <> 'mdi-home'",[this.services]);
                };
              };
              return null;
            },

            isLargeScreen() {
              return window.innerWidth >= 960; // Example breakpoint
            },

            showTitle() {
              return this.o.description&&this.o.results&&(this.o.results.toString().length>0||Object.keys(this.o.results).length > 0);
            },

            previousSessions() {
              if (this.o.descriptionArray&&this.o.descriptionArray.length > 0) {
                return Array.from(new Set(this.o.descriptionArray));
              };  
              return null;
            },

            showNew() {
              if (this.isLargeScreen) { return true; };
              if (this.showNewFlip) { return true; };
              if (this.loading||this.showTitle) { return false; };
              if (!this.showTitle) { return true };
              return false;
            }

          },

          created() {             
              const array = getAreas(); 
              this.services = alasql("SELECT * FROM ? WHERE s IS NOT NULL AND s > 0",[array]);
              let res = null;
              const referrer = document.referrer;
              if (referrer.includes('benefitsgps')) {
                res = alasql("SELECT TOP 1 * FROM ? WHERE icon = 'mdi-crosshairs-gps'",[this.services])[0];
              } else {
                res = alasql("SELECT TOP 1 * FROM ? WHERE icon = 'mdi-lightbulb-on-outline'",[this.services])[0];
                res.icon = 'mdi-home';
              };
              this.o.mainObject = res;             
              this.services.unshift(res);
              this.o.session = randomString();              
              this.o.services = [];
              this.o.descriptionArray = [];
              this.count = 0;
              this.fundDeliverables = [  
                {
                    "name": "Letter of Inquiry (LOI)",
                    "description": "Compose an incisive Letter of Inquiry that serves as an impactful introduction to an organization and its mission. Leverage my years of experience to make it resonate with potential funders. Results must be well-formed JSON."
                },
                {
                    "name": "Budget",
                    "description": "Develop a meticulous Budget that reflects the financial acumen I've gained over the years. Include a comprehensive breakdown of projected expenses and income. Results must be well-formed JSON."
                },
                {
                    "name": "Case Statement",
                    "description": "Create a robust Case Statement that encapsulates the mission, vision, and needs of an organization. Utilize my decades of experience to make it an invaluable asset for major gift fundraising. Results must be well-formed JSON."
                },
                {
                    "name": "Fundraising Plan",
                    "description": "Formulate a strategic Fundraising Plan that draws on my 30 years of experience. Outline achievable fundraising goals, innovative strategies, and realistic timelines. Results must be well-formed JSON."
                }];
                this.lobbyDeliverables = [
                  {
                      "title": "Advocacy Issue Analysis",
                      "description": "A detailed examination of the user's advocacy issue, focusing on its social, economic, and political impacts.",
                      "prompt": "Conduct a comprehensive analysis of the social, economic, and political impacts of a specific advocacy issue. Identify key challenges, opportunities, and possible unintended consequences. Provide a detailed overview to inform and guide lobbying strategies for: "
                  },
                  {
                      "title": "Legislative Landscape Overview",
                      "description": "An overview of the current legislative context relevant to the user's advocacy issue, including laws, regulations, and key policymakers.",
                      "prompt": "Outline the current legislative landscape, discussing existing laws, regulations, and recent legislative efforts. Highlight key policymakers and legislative bodies that play a crucial role. Offer insights into potential legislative changes or trends that could impact: "
                  },
                  {
                    "title": "Legislative Brief",
                    "description": "A concise summary of the legislative context and recent developments relevant to the user's advocacy issue, including key laws, regulations, and policymakers.",
                    "prompt": "Prepare a legislative brief that summarizes current laws, regulations, and recent legislative developments. Highlight key legislative bodies, and any significant legislative trends or changes. Conclude with insights on how these factors might impact: "
                  }
              ];
                this.resultsDiv = null; 
                this.bottomDiv = null;
                console.clear();                
          },

          watch: {

              o: function (newValue) {
                  return newValue;
              },
              deep: true
          },

          async mounted() { 
              const results = await handleDeviceLocationAndId();             
              if (results) {
                  this.o = {...this.o,...results};                                 
              };
              const res = await getIndexedDB('xsbrt');
              if (res) {
                this.o = {...this.o,...JSON.parse(res)};
              }; 
              this.o.description = '';
              this.o.mainObject = this.services[0]; 
              this.resultsDiv = document.getElementById('resultsID'); 
              this.bottomDiv = document.getElementById('bottomID');

              this.isSupported = await this.artyom.speechSupported();
              navigator.permissions.query({name:'microphone'}).then((permissionStatus) => {
                  if (permissionStatus.state === 'denied') {
                      this.isSupported = false;
                  };
              });

              //const ress = await serviceEntries(3);
              //console.log(ress);
              console.clear();             

              setIndexedDB('xsbrt', JSON.stringify(this.o));   
              this.masterResults('develop a 100 meter training plan for 12 year old girl with a personal record of 12.62 to get to the time of 12.42');           
              let serviceID = new URL(document.location).searchParams.get("s");
              if (serviceID) {
                serviceID = alasql("SELECT TOP 1 * FROM ? WHERE icon = '" + serviceID.trim() + "'",[this.services]);
                if (serviceID&&serviceID.length > 0) {
                  this.o.mainObject = serviceID[0];     
                  const description = new URL(document.location).searchParams.get("d");
                  if (description&&description.length>9) {
                    this.o.description = description.trim();
                    try {
                      const lt = new URL(document.location).searchParams.get("lt");
                      if (lt&&!isNaN(lt)) {
                        const lg = new URL(document.location).searchParams.get("lg");
                        if (lg&&!isNaN(lg)) {
                          this.o.location = {latitude: lt, longitude: lg };
                        };
                      };
                    } catch(e) { console.clear(); };
                    this.gatherResults();
                    return;
                  };                  
                };                
              };              
          },

          methods: { 

            async masterResults(user_input) {  
              try {
                  const messages = [
                      { role: "system", content: "You are a chatbot and OpenAI API expert, specialized in creating ChatGPT prompts. Your expertise lies in crafting prompts that consistently yield the desired responses. You understand the nuances of the OpenAI API, and you use this knowledge to guide users in formulating effective prompts. You are adept at breaking down complex ideas into simpler components to create clear and concise prompts. Your role includes providing tips, best practices, and creative insights to help users achieve their goals with ChatGPT. You avoid technical jargon unless the user is familiar with it, and always aim for clarity and precision in your guidance. You're also equipped to handle a range of inquiries related to ChatGPT and the OpenAI API, offering tailored advice based on the user's level of expertise and specific needs. You never hallucinate or make up important information or details." },
                      { role: "user", content: `Create a detailed plan for the inquiry "${user_input}". Begin by outlining steps that include a unique code which is a brief two or three word branded link phrase to be used in a url, title, a brief description, assign a specific Library of Congress Classification (LCC) code that best categorizes the inquiry's aspect being addressed, execution steps, a detailed yet concise description of the best-suited role for each step, a detailed yet concise two sentence description of the step, a highly effective chatGPTprompt for generating structured content for the step, a suggested prompt temperature based on the chatGPTprompt. Develop three novel, original and probable ideas including a title, two sentence description, a highly effective chatGPTprompt for generating structured content for the idea, a suggested prompt temperature based on the idea chatGPTprompt, a detailed yet concise description of the best-suited role for the idea. For each step and idea, select a Google Material Design icon that visually represents the concept. Ensure the plan, including LCC codes and icons, is structured in well-formed standarized JSON which has the same labels and keys every time, and refine the plan internally for clarity and effectiveness before generating the final output. The JSON should always follow this structure: {"uniqueCode":"","plan_title":"","description":"","LCC_code":"","steps":[{"title":"","role":"","description":"","chatGPT_prompt":"","prompt_temperature":"","icon":""},{"title":"","role":"","description":"","chatGPT_prompt":"","prompt_temperature":"","icon":""},{"title":"","role":"","description":"","chatGPT_prompt":"","prompt_temperature":"","icon":""},...any additional needed steps],"ideas":[{"title":"","description":"","role": "","chatGPT_prompt":"","prompt_temperature":"","icon":""},{"title":"","description":"",,"role": "","chatGPT_prompt":"","prompt_temperature":"","icon":""},{"title":"","description":"",,"role": "","chatGPT_prompt":"","prompt_temperature":"","icon":""}]}
` }
                  ];
                  const response = await getResultsNEW(messages, 0.5, null, null);                
                  console.log(response);
                  return response;
              } catch(e) { return; };   
            },

            async hideNoResultsAlert() {
                this.showAlert = true;
                setTimeout(() => {
                    this.showAlert = false;
                }, 3000); // 4000 milliseconds = 4 seconds
            },

            async closeKeyboard() {
              try {
                if (document.activeElement && document.activeElement.blur) {
                  document.activeElement.blur();
                };
              } catch(error) { return; };             
            },

            async getCurrentLocationClick() {
              try {
                const res = await getCurrentLocation();
                if (res&&res.latitude) {
                  this.o.location = res;
                };
              } catch(error) { return; };
            },

            async startSpeechRecognition() { 
              try {
                  this.speechLoading = true;
                  this.isListening = false;
                  this.o.description = '';
                  await this.artyom.initialize({lang:"en-US", debug: false, soundex: true, continuous: true, listen: true, speed: 1 });       
                  this.artyom.addCommands({
                      indexes: [/.*/],
                      smart: true,
                      action: (i, wildcard) => {
                        this.o.description = this.o.description + ' ' + wildcard.trim();
                      }
                  });
                  setTimeout(() => { this.isListening = true; this.speechLoading = false; }, 2250);
                    this.artyom.redirectRecognizedTextOutput((text, isFinal) => {
                      this.o.description = text;
                  });
                  return;
              } catch (error) {
                  this.speechLoading = false;
                  this.artyom.fatality();
                  return;
              }               
          },

          async stopSpeechRecognition() { 
              try {  
                  this.gatherResults();  
                  this.speechLoading = false,                 
                  this.isListening = false; 
                  this.artyom.fatality();
                  return;               
              } catch (error) {
                  return;
              }               
          },
            async previousSession(o) {
                if (!o||!o.description) { return };  
                this.o = Vue.reactive(o);
                console.log(this.o);
                o = null;
                console.clear();
            },

            async gatherResults() {
              console.clear();
              if (!this.o.mainObject||!this.o.description||this.o.description.length < 10) { return };
              window.scrollTo({top:0,behavior:"smooth"});
              this.closeKeyboard();
              this.o.showDeliverable = false;
              console.clear();
              this.loading = true;
              this.showNewFlip = false; 
              this.showAlert = false;
              this.o["results"] = '';               
              this.o.description = convertMultipleSpacesToSingle(this.o.description);
              this.o.descriptionArray.unshift(this.o.description);
              if (this.o.mainObject.icon=='mdi-home') {
                this.o.mainObject = alasql("SELECT TOP 1 * FROM ? WHERE icon = 'mdi-lightbulb-on-outline'",[this.services])[0];  
              };
              let role = null;
              if (!this.o.location) {
                const loc = await getLocationNew();
                if (loc) { this.o.location = loc };
              };
              if (this.o.location&&this.o.location.latitude&&this.o.location.longitude) {
                role = this.o.mainObject.role + " The person resides at latitude: " + this.o.location.latitude + ", longitude: " + this.o.location.longitude + '.';
              } else {
                role = this.o.mainObject.role;
              };
              const messages = [
                  { role: "system", content: role + ' ' + processPrompt() },
                  { role: "user", content: `${this.o.mainObject.action} Also, identify the most accurate Library of Congress Classification (LCC) code that corresponds to the provided user input, returning the identified LCC code in a simple format, do not include any additional information or context in your response, just the LCC code itself, assigning it to the final JSON as 'c'. The user has asked about the following: "${this.o.description}".` }
              ];
              //console.log(messages);
              this.count = this.count++;
              if (this.count > 50) { return; };
              const res = await getResultsNEW(messages,0.4,null,null);
              if (res) {
                this.o.results = res.result ? res.result : res;
                if (this.o.results.Risk_Assessment) {
                  this.o.results = this.o.results.Risk_Assessment;
                };
                //this.bottomDiv.scrollTop = this.bottomDiv.scrollHeight;
                window.scrollTo({ left: 0, top: document.body.scrollHeight, behavior: 'smooth' });
                this.save();             
              } else { this.hideNoResultsAlert(); };             
              this.loading = false;
              //this.getContacts();
              this.getIdea();
              setIndexedDB('xsbrt', JSON.stringify(this.o));
              //console.clear();              
            },

            async save(actionID) {
              const oo = {};
              oo.s = this.o.mainObject.s;
              oo.f = this.o.deviceId;                                  
              if (this.o.location) {
                oo.l = this.o.location.latitude;
                oo.lg = this.o.location.longitude;
              };
              oo.d = this.o.description;
              if (this.o.results.c) {
                oo.c = this.o.results.c;
              };
              if (actionID) {
                oo.actionID = actionID;
              };
              ps(oo); 
            },

            async getDeliverable(prompt,title) {
              this.o.showDeliverable = true;
              window.scrollTo({top:0,behavior:"smooth"});
              console.clear();
              if (this.o.deliverable) { delete this.o.deliverable };
              const messages = [
                  { role: "system", content: this.o.mainObject.role + processPrompt() + ' ' + writingPrompt() },
                  { role: "user", content: prompt + '. You must always relate your response to the following: ' + this.o.description + '. Generate a response in JSON format with two fields: "results_text" containing formatted plain text with any necessary line breaks, and "results" containing the same content formatted in HTML. Ensure that the HTML is fully tagged for optimal formatting and provide proper spacing for easy reading. Ensure your output strictly adheres to this JSON format.' }
              ];
              //console.log(messages);
              this.count = this.count++;
              if (this.count > 50) { return; };
              const res = await getResultsNEW(messages,0.4,null,null);
              //console.log(res);
              if (res) {
                this.o.deliverable = res.result ? res.result : res;
                if (title) { this.o.deliverable.title = title };
                return;
              }; 
            },

            async getSubDeliverable(it,dlv) {
              this.getDeliverable('Create a ' + dlv.name + ' (' + dlv.description + ') for ' + it.name + ', staying focused the entire time on the following: ' + it.summary,it.name + ': ' + dlv.name);
            },

            async getContacts() {
                return;  
                if (this.o.contacts) { delete this.o.contacts }; 
                const messages = [
                    { role: "system", content: this.o.mainObject.role + processPrompt() },
                    { role: "user", content: 'ChatGPT, after analyzing the following text: ' + this.o.description + ', generate a JSON array list of the top five key contacts most closely related to the content of the input. These contacts should include a mix of individuals (with their titles), companies, NGOs, nonprofits, government agencies, and legislative functions relevant to the issue. Each entry in the JSON array must include the name of the contact (or the name of the agency/function), their title or role, and the name of their affiliated organization or government body. Emphasize relevance and influence in relation to the users input, ensuring that the contacts are directly linked to the topic discussed. Your response will only be returned as a well-formed JSON array of objects like {result: [{"name","title","affiliation"},...] }. Ensure your output strictly adheres to this JSON format. You will never hallucinate or make-up any contacts or information.' }                
                ];
                const res = await getResultsNEW(messages, 0.2, null, true);
                if (res&&res.result&&res.result.length>2) {
                    this.o.contacts = res.result;
                };
            },

            async getIdea() {
                if (this.o.ideas) { delete this.o.ideas }; 
                const messages = [
                    { role: "system", content: this.o.mainObject.role + processPrompt() },
                    { role: "user", content: 'You must come up with three novel, innovative, effective and probable ideas related to the following prompt: ' + this.o.description + '. Your response will only be returned as a well-formed JSON object like {result: [array of text only of novel ideas] }. Ensure your output strictly adheres to this JSON format. No hallucinations or any made-up contacts.' }                
                ];
                const res = await getResultsNEW(messages, 0.6, null, true);
                if (res&&res.result) {
                    this.o.ideas = res.result;
                };
            },

            async shareResult() {
              this.share(this.o.mainObjectTitle,this.o.description,'https://xsbrt.com/?s='+this.o.mainObject.icon+'&d='+this.o.description);
              this.save(1);
            },
            
            async share(title,text,url) {
              if (navigator.share) {
                const shareData = {
                      title: title,
                      text: text,
                      url: url
                  };
                  navigator.share(shareData);
                }; 
            },  
            
            async shareDeliverable() {
              this.share(this.o.deliverable.title,this.o.deliverable.results_text,'https://xsbrt.com');
              this.save(1);
            },

            async clip() {
                copyClipboard(this.o.deliverable.results_text);
                this.save(2);
            }
                
          },

          components: {
            quotes
          },

          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>      
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "kf3riyvo42");
  </script>  

<style>

body, html {
  max-width: 100vw;
  overflow-x: hidden;
}

.background-row {
  position: relative;
  min-height: 100vh; /* Set a minimum height to ensure the row is visible */
}

.background-row::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('xsbrtBackground.webp') no-repeat center center;
  background-size: cover;
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
}

.transparent-bg {
  background-color: transparent !important;
  border: none !important; /* Remove borders */
  box-shadow: none !important; /* Remove any shadow that might look like a border */
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.light-text {
  font-weight: 300; /* Light weight */
}

.bold-text {
  font-weight: 900; /* Bold weight */
}

.scrollable-container {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
  }
  /* Optional: Style for the scrollbar */
  .scrollable-container::-webkit-scrollbar {
    height: 4px;
  }
  .scrollable-container::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
  }

/* Toolbar styles */
.v-toolbar {
  background-color: #f5f5f5; /* Toolbar background color */
  padding-right: 16px;
}

.animated-item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines you want */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-size: 1.5rem; /* Adjust based on mock-up */
  font-weight: 300; /* Adjust based on mock-up */
  color: black; /* Title color */
}

.headline {
  font-size: 3rem; /* Main title font size */
  font-weight: 400; /* Main title font weight */
  color: black; /* Main title color */
}

.subheadline {
  font-size: 1.25rem; /* Subtitle font size */
  font-weight: 300; /* Subtitle font weight */
  color: black; /* Subtitle color */
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.search {
  max-width: 500px; /* Search bar width */
}

/* Service buttons */
.service-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Spacing between buttons */
}

/* Image container styles */
.image-container {
  background: url('path/to/your/image.jpg') no-repeat center center;
  background-size: cover;
}

.v-card {
    /* Remove any fixed height/width and use max-width for large screens if needed */
    max-width: 350px; /* Example for large screens */
  }

  .rounded-scrollable-container {
  overflow-y: auto; /* Adds vertical scroll */
  max-height: 500px; /* Adjust this value based on your requirement */
  padding: 16px; /* Consistent padding, you can adjust as needed */
}

  .result-text, .result-text * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Roboto,sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 50vh;
    margin: 5px !important;
    padding: 18px !important;
  }

  .result-text, .result-text * p {
    padding-bottom: 2px !important;
  }

  .result-text, .result-text * li {
    padding-left: 3px !important;
  }

/* Responsive adjustments */
@media (max-width: 600px) {

  .small-screen-no-gutters > .v-row {
    margin-right: 0;
    margin-left: 0;
  }

  .small-screen-no-gutters > .v-row > .v-col {
    padding-right: 0;
    padding-left: 0;
  }

  .pt-16 {
    padding-top: 0; /* Remove top padding on small screens */
  }

  .px-4 {
    padding-left: 1rem; /* Reduce left/right padding */
    padding-right: 1rem;
  }

  .headline, .font-italic {
    margin-bottom: 1rem; /* Reduce margin for headline and subtitle if needed */
  }

  .v-app-bar.fixed {
    position: fixed; /* Ensures it's fixed at the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030; /* Higher than the page content */
    overflow: hidden; /* Prevents horizontal overflow */
  }

  .rounded-scrollable-container {
    padding-left: 16px; /* Consistent left padding on small screens */
    padding-right: 16px; /* Consistent right padding on small screens */
  }

  .text-center-sm {
    text-align: center;
  }

  .headline {
    font-size: 2rem; /* Adjust for smaller screens */
  }

  .subheadline {
    font-size: 1rem; /* Adjust for smaller screens */
  }

  .search {
    max-width: 100%; /* Full width on smaller screens */
  }

  .align-items-center {
      align-items: center; /* This will center the content horizontally */
    }
    .pt-md-12, .pl-md-16, .ml-md-8 {
      padding-top: 0 !important;
      padding-left: 0 !important;
      margin-left: 0 !important;
    }
    .v-col {
      padding-left: 0 !important; /* Remove left padding */
      padding-right: 0 !important; /* Remove right padding */
      margin-left: 0 !important; /* Remove left margin */
      margin-right: 0 !important; /* Remove right margin */
    }
    .d-flex.align-items-center {
      justify-content: center; /* Horizontally center the content */
      align-items: flex-start; /* Align items to the top */
    }
    /* If you have specific padding or margin values for small screens, set them here */
    .pa-1, .pa-2, .ma-0 {
      padding: 0.5rem !important; /* Adjust this value as needed */
      margin: 0 !important;
    }

  .full-width-on-small {
      width: 99% !important; /* Force full width */
    }

    .v-slide-group {
      margin: 0;
      padding: 0;
    }
    .v-slide-group .v-slide-group__wrapper {
      width: 100%;
    }
    .v-slide-group__content {
      margin: 0 !important;
      padding: 0 !important;
    }
    .v-slide-group-item {
      margin: 0 !important;
      padding: 0 !important;
      width: 100% !important; /* Ensure each slide item takes full width */
    }

    .v-card {
      width: 99%; /* Full width on small screens */
      margin: 8px; /* Reset margins */
      max-width: auto; /* Override any max-width for small screens */
      min-height: auto; /* Allow the card to expand according to the content */
      padding: 1em; /* Adjust padding to ensure content doesn't touch the edges */
    
    }
    .v-card-title, .v-card-text {
      font-size: smaller; /* Adjust font size for small screens */
      word-wrap: break-word; /* Ensure text wraps inside the card */
      overflow-wrap: break-word; 
    }

}
      </style>
  
</body>
</html>