<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords"
    content="strategic communication plan, media reputation management, media analysis, narrative development, targeted media outlets, social media strategy, traditional media strategy, rapid response, reputation monitoring, public trust, media engagement, crisis management, public perception" />
<meta name="description"
    content="Develop a comprehensive strategic communication plan with our interactive tool. Analyze media, craft narratives, target outlets, and manage responses swiftly to maintain a positive public image." />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Media Management" />
<meta property="og:description"
    content="Develop a comprehensive strategic communication plan with our interactive tool. Analyze media, craft narratives, target outlets, and manage responses swiftly to maintain a positive public image." />
<meta property="og:url" content="https://xsbrt.com/media" />
<meta property="og:site_name" content="Media Management" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="yes" />
<meta name="apple-mobile-web-app-title" content="Media Reputation Management" />
<meta name="msapplication-TileImage" content="xsbrtimage.png" />
<meta name="msapplication-TileColor" content="white" />
<meta name="theme-color" content="white" />
<link rel="apple-touch-icon" href="xsbrtimage.png" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <title>xsbrt</title>
</head>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
    <v-app id="inspire"> 
      <headerComponent :o="{title: 'xsbrt', icon: 'mdi-lightbulb-on-outline', subtitle: null, url: 'https://xsbrt.com'}"></headerComponent>

    <v-main class="justify-center text-center ma-1">

      <welcome :o="{text: 'Develop a comprehensive strategic communication plan with our interactive tool. Analyze media, craft narratives, target outlets, and manage responses swiftly to maintain a positive public image.'}"></welcome>  

      <v-row class="justify-center my-2">  
        
        <v-col v-for="it in results" :key="it.title" cols="auto" xs="12" sm="12" md="6" lg="4" xl="4">

          <v-card
          class="text-center ma-1 pa-1"
          outlined
          max-width="380"
          elevation="20"
          color="indigo-lighten-5"
        >          
          <v-card-title class="headline text-primary">{{it.title}}</v-card-title>
          <v-card-subtitle class="mb-2 text-primary font-weight-bold">
            <div><a style="text-decoration:none;" class="text-primary" :href="'tel:' + it.phone">{{it.phone}}</a></div>
            <a :href="it.website" class="text-primary" style="text-decoration: none;" target="_blank">
              {{it.website}}
            </a>
          </v-card-subtitle>
          
          <v-card-text class="body-1 mt-2 text-left text-primary">{{it.description}}</v-card-text>
 
          <v-card-actions class="text-center justify-center">
            <v-btn ripple variant="tonal" elevation="6" class="mx-1" color="primary" title="Click here to share" icon="mdi-share" @click="shareItem(it)">
            </v-btn>  
            <relatedToolbar :description="it.directions" :pageInfo="path"></relatedToolbar>          
          </v-card-actions>
        </v-card>
            
        </v-col>

      </v-row>
   
    </v-main>
    
  </v-app>

     </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="artyom.window.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script> 
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.6/xlsx.full.min.js"></script>      
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();
      const { loadModule } = window['vue3-sfc-loader'];

      async function loadComponentsAndInitApp() {          

        async function addComponent(component) {
          return await loadModule('./' + component + '.vue', {
                  moduleCache: {
                      vue: Vue
                  },
                  async getFile(url) {
                      const res = await fetch(url);
                      if (!res.ok)
                          throw Object.assign(new Error(url + ' ' + res.statusText), { res });
                      return await res.text();
                  },
                  addStyle: (textContent) => {
                      const style = document.createElement('style');
                      style.textContent = textContent;
                      document.head.appendChild(style);
                  }
              });
        }
        
      //define components
      const headerComponent = await addComponent('header');    
      const welcome = await addComponent('welcome');

      const app = createApp({

          data() {
              return {                 
                  results: getAreas()
              }
          },

          components: {
            headerComponent,
            welcome
          },

          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>
      
    
    <style scoped>
      #app {
          width: 100%;
          height: 100vh;
          background-color: white;
      }
  </style>
  
</body>
</html>