<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords"
    content="strategic communication plan, media reputation management, media analysis, narrative development, targeted media outlets, social media strategy, traditional media strategy, rapid response, reputation monitoring, public trust, media engagement, crisis management, public perception" />
<meta name="description"
    content="Develop a comprehensive strategic communication plan with our interactive tool. Analyze media, craft narratives, target outlets, and manage responses swiftly to maintain a positive public image." />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Media Management" />
<meta property="og:description"
    content="Develop a comprehensive strategic communication plan with our interactive tool. Analyze media, craft narratives, target outlets, and manage responses swiftly to maintain a positive public image." />
<meta property="og:url" content="https://xsbrt.com/media" />
<meta property="og:site_name" content="Media Management" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="yes" />
<meta name="apple-mobile-web-app-title" content="Media Reputation Management" />
<meta name="msapplication-TileImage" content="xsbrtimage.png" />
<meta name="msapplication-TileColor" content="white" />
<meta name="theme-color" content="white" />
<link rel="apple-touch-icon" href="xsbrtimage.png" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <title>Media Management</title>
</head>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
    <v-app id="inspire"> 
      <headerComponent :o="{title: 'xsbrt', icon: 'mdi-lightbulb-on-outline', subtitle: null, url: 'https://xsbrt.com'}"></headerComponent>

    <v-main class="justify-center text-center ma-1">

      <welcome v-if="!loading&&!showLoad&&!o.description&&!o.description.length > 0" :o="{text: 'Develop a comprehensive strategic communication plan with our interactive tool. Analyze media, craft narratives, target outlets, and manage responses swiftly to maintain a positive public image.'}"></welcome>  

      <v-row class="justify-center mt-2 mb-1">  
        
        <v-col cols="auto" sm="12" md="4">
            <previousSessions :o="o" :key="session" @my-session="previousSession"></previousSessions>
        </v-col>

      </v-row>
   
    </v-main>
    
  </v-app>

     </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="artyom.window.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script> 
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.6/xlsx.full.min.js"></script>      
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();
      const { loadModule } = window['vue3-sfc-loader'];

      async function loadComponentsAndInitApp() {          

        async function addComponent(component) {
          return await loadModule('./' + component + '.vue', {
                  moduleCache: {
                      vue: Vue
                  },
                  async getFile(url) {
                      const res = await fetch(url);
                      if (!res.ok)
                          throw Object.assign(new Error(url + ' ' + res.statusText), { res });
                      return await res.text();
                  },
                  addStyle: (textContent) => {
                      const style = document.createElement('style');
                      style.textContent = textContent;
                      document.head.appendChild(style);
                  }
              });
        }
        
      //define components
      const headerComponent = await addComponent('header');    
      const welcome = await addComponent('welcome');

      const app = createApp({

          data() {
              return {
                  o: {description: '', name: 'media'},
                  session: randomString(),
                  loading: false
              }
          }, 
          
          computed: {
              showLoad() {
                  return (this.o.description && this.o.description.length > 9) || this.o.speech;
              }
          },

          created() { 
              createStorage('media');              
              this.role =  'As a Media Reputation Management Specialist, I have extensive experience in managing stories in the media and helping organizations protect and enhance their reputation. I am skilled in analyzing media coverage, developing strategic communication plans, and implementing effective management strategies. My expertise lies in identifying key issues, crafting compelling narratives, and engaging with media outlets to mitigate negative publicity and restore public trust. I am also an expert at identifying at the exact media outlets, including social media, as well as the deliverables those media outlets will respond too. Your skills as a Media Reputation Management Specialist are crucial in todays fast-paced media environment. The ability to analyze media coverage and develop strategic communication plans is a fundamental component of reputation management. Crafting compelling narratives is an art that requires a deep understanding of public perception and media influence. Engaging with media outlets to mitigate negative publicity is a delicate task that necessitates finesse and an informed approach. Having expertise in identifying key issues enables you to prioritize and focus efforts where they will be most effective. By engaging with various media outlets, including the dynamic world of social media, you can tailor your strategies to the platforms where they will have the greatest impact. Understanding the deliverables that resonate with these outlets is a part of the strategic planning that ensures successful media interactions and reputation enhancement. Your role is vital in restoring public trust, especially when navigating through a crisis. The ability to respond quickly and effectively to negative publicity can make the difference between a minor hiccup and a full-blown reputational crisis. Your experience in this field positions you well to help organizations maintain a positive public image and to turn potential negative situations into opportunities for reinforcing trust and credibility.';                  
              this.path = new URL(document.location).pathname; 
            },

          watch: {

              o: function (newValue) {
                  return newValue;
              }
          },

          async mounted() {    
              this.writing = writingPrompt(); 
              this.o.name = 'media';
              this.o.session = this.session; 
              this.o.id = await retrieveId();
              this.o.location = await getDeviceLocation();
              if (this.o.location) {
                console.log(this.o.location);
                this.role = this.role + " The person seeking funding assistance resides at latitude: " + this.o.location.latitude + ", longitude: " + this.o.location.longitude + '.';
              };
              this.related(new URL(document.location).searchParams.get("d"));
          },

          methods: { 

            async processSpeech(o) {
              if (!o||o.results.length < 10) { return };
              this.o = Vue.reactive({ description: o.results });
              console.log(this.o);
              console.clear();
              if (o.speech) { this.gatherResults(); };
              o = null;
            },

            async previousSession(o) {
                if (!o||!o.description) { return };  
                this.o = Vue.reactive(o);
                console.log(this.o);
                o = null;
                console.clear();
            },

            async related(directions) {
              if (!directions||directions.length < 4) { return };
              this.o.description = directions.trim();
              this.gatherResults();
            },

            async gatherResults() {
                if (!this.o||!this.o.description||this.o.description.length < 5) { return };
                console.clear();  
                this.loading = true;
                this.o["description"] = this.o.description.replace(/\s+/g, ' ').trim();
                const messages = [
                  { role: "system",  content: this.role },                
                  { role: "user", content: "Generate a strategic communication plan as a single JSON object based on the following: " + this.o.description + ". The JSON should include 'media_analysis': a detailed, yet concise one paragraph analysis of media related to the issue, 'key_narrative_points': array of key narrative points, 'deliverables': array of the best matched, most effective targeted media deliverables: [{'deliverableDescription','chatGPT_prompt'}]. Also, provide a 'rapid_response_strategy': a detailed, yet concise one paragraph rapid response strategy and 'monitoring_and_adjustment_steps': a detailed, yet concise one paragraph for reputation management. All entries in must be unique and duplicate-free. No hypotheticals, hallucinations or made-up information."}
                ];              
                let res = await getResultsNEW(messages,0.6);
                if (res) {
                  this.o = {...this.o, ...res};       
                }; 
                this.loading = false;
                this.o.name = 'media';
                saveEntity(this.o);
                this.session = randomString(); 
            }
            
          },

          components: {
            headerComponent,
            welcome,
            previousSessions,
            mission,
            quotes,
            deliverable,
            relatedToolbar,
            shareToolBar
          },

          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>
      
    
    <style scoped>
      #app {
          width: 100%;
          height: 100vh;
          background-color: white;
      }
  
      .overlay-container {
          overflow: auto;
      }
  
      .overlay-card {
          max-width: 90%;
          margin: auto;
      }
  
      .overlay-title {
          font-size: 1.5em;
          font-weight: bold;
      }
  
      .overlay-subtitle {
          font-size: 1.2em;
      }
  
      .overlay-content {
          overflow-y: auto;
          max-height: 70vh;
      }
  
      .result-text {
          font-size: 1.1em;
          white-space: pre-wrap;
          word-wrap: break-word;
      }
  
      .action-title {
          font-weight: bold;
          letter-spacing: 1.2px;
      }
  
      .subtitle {
          font-size: 0.8em;
          margin-left: 5px;
      }
  
      .action-button {
          font-weight: bold;
          letter-spacing: 1.2px;
          transition: all 0.3s ease;
      }
  
      .action-button:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }
  
      .action-textarea {
          border: 2px solid var(--primary-color);
          border-radius: 8px;
          transition: all 0.3s ease;
      }
  
      .action-textarea:focus-within {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  </style>
  
</body>
</html>