<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="AI Solutions, Nonprofit Support, Social Services, Decision Making, Strategic Communication, Futuristic Analysis, Media Management, Public Relations, Reputation Management" />
    <meta name="description" content="xsbrt offers a range of AI-driven solutions: BenefitsGPS for social services, FundMagnet for nonprofit fundraising, Decision Support for making informed choices, Media Management for strategic communication, and Future for futuristic analysis and predictions, and more. Expertise and technology combined to address your unique challenges." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="xsbrt: AI-Driven Solutions for Diverse Needs" />
    <meta property="og:description" content="Explore xsbrt for a range of AI-driven solutions catering to social services, nonprofit fundraising, decision support, media management, and futuristic analysis, and more. Your one-stop hub for tailored, expert-driven approaches." />
    <meta property="og:url" content="https://xsbrt.com" />
    <meta property="og:site_name" content="xsbrt" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="xsbrt: AI-Driven Solutions" />
    <meta name="msapplication-TileImage" content="https://xsbrt.com/xsbrtimage.png" />
    <meta name="msapplication-TileColor" content="white" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="https://xsbrt.com/xsbrtimage.png" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" />
    <script src="https://openfpcdn.io/fingerprintjs/v3/iife.min.js"></script>
    <title>xsbrt.com: AI-Driven Solutions for Diverse Needs</title>
</head>
<script>
  var fpPromise = FingerprintJS.load();
</script>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
      <v-app class="background-row">

        <v-app-bar class="hidden-md-and-up scrollable-container" absolute border flat density="compact">
          <v-list-item v-for="service in services" :key="service.title" link @click="o.mainObject=service;o.results='';o.description='';">
            <v-tooltip
                activator="parent"
                location="end"
                eager
                max-width="270"
              >
              {{service.shortTitle.toUpperCase()}}: 
              {{service.subtitle}}                  
            </v-tooltip>
                <v-icon>{{service.icon}}</v-icon>
            </v-tooltip>
          </v-list-item>
        </v-app-bar>

        <v-navigation-drawer class="transparent-bg hidden-sm-and-down font-weight-black" flat rail>                            
          <v-list-item v-for="service in services" :key="service.title" link @click="o.mainObject=service;o.results='';o.description='';">
            <v-tooltip
                activator="parent"
                location="end"
                eager
                max-width="270"
              >
              {{service.shortTitle.toUpperCase()}}: 
              {{service.subtitle}}                  
            </v-tooltip>
                <v-icon>{{service.icon}}</v-icon>
            </v-tooltip>
          </v-list-item>
        </v-navigation-drawer>
    
        <!-- Main Content -->         
          <v-row v-if="o" class="pt-16">           
            <v-col v-if="o.mainObject && o.mainObject.description" cols="12" md="6" lg="6" xl="6" offset-md="1" offset-lg="1" offset-xl="1">
              <h1 class="headline mb-2 font-weight-black text-center-sm">
                <v-icon class="pb-2 pr-2">{{ o.mainObject.icon }}</v-icon>
                {{ o.mainObject.shortTitle }}
              </h1>
              <h2 v-if="o.mainObject.subtitle" class="mb-2 font-italic font-weight-light text-center-sm">
                {{ o.mainObject.subtitle }}
              </h2>
              <p v-if="!loading && !o.result" class="font-weight-bold text-left px-3">
                {{ o.mainObject.description }}
              </p>              
              <div v-if="showTitle" class="service-buttons text-center justify-center">              
               <v-btn v-if="showDownload" size="large" variant="tonal" icon ripple class="mx-1" elevation="6">
                <v-icon>mdi-download</v-icon>
               </v-btn>
              </div>              

              <v-container v-if="o.mainObject.icon=='mdi-comment-question-outline'&&o.results&&o.results.answer" class="mt-4 py-4 px-2 font-weight-black">
                <v-icon size="x-large" class="pr-2 pb-2">mdi-checkbox-marked-circle-outline</v-icon>{{o.results.answer}}
              </v-container>

            </v-col>
            
            <v-col cols="12" md="4" lg="4" xl="4" class="align-items-center text-center justify-center">

              <div class="justify-center mb-4 md-pt-20 lg-pt-20 xl-pt-20 align-items-center text-center">

                <v-btn v-if="isSupported&&!isListening" icon fab ripple elevation="20" size="70" @click="startSpeechRecognition" :loading="speechLoading">
                  <v-icon size="70" color="black">mdi-microphone</v-icon>
                </v-btn>
                <v-btn v-if="isListening" icon fab ripple elevation="20" size="70" @click="stopSpeechRecognition">
                  <v-icon size="70" color="red">mdi-microphone-off</v-icon>
                </v-btn> 
                
              </div>

                <quotes v-if="loading"></quotes> 
                  
                  <v-autocomplete v-if="previousSessions" :items="previousSessions" density="compact" prepend-inner-icon="mdi-history" v-model:modelValue="o.description"
                  @update:modelValue="gatherResults" class="pa-1 mt-4 mx-0 mb-0" elevation="20" clearable rounded bg-color="white" variant="solo" ripple label="Revisit your previous sessions" hint="Revisit your previous sessions" @click:clear="o.description='';o.results=null;">
                  </v-autocomplete> 
                
                    <v-textarea 
                      v-model.lazy="o.description"
                      :label="o.mainObject.label"
                      :hint="o.mainObject.hint"
                      spellcheck="true"
                      autocomplete="on"
                      :placeholder="o.mainObject.placeholder"
                      clearable 
                      rows="2"
                      class="pa-2 ma-0"
                      bg-color="white"
                      prepend-inner-icon="mdi-comment-text"
                      auto-grow
                      elevation="20"
                      variant="solo"
                      maxlength="1000"
                  >
                  </v-textarea>
                  <v-btn v-if="!loading&&o.description" text variant="elevated" size="x-large" ripple elevation="20" class="mb-4" rounded @click="gatherResults">
                    submit
                  </v-btn>        
            </v-col>

            <v-col cols="12" id="results">            

              <v-slide-group v-if="showTitle||o.mainObject.icon=='mdi-home'"
                :show-arrows="isLargeScreen"
                class="mb-1 center-on-large"
              >

                  <v-slide-group-item v-if="o.mainObject.icon=='mdi-home'"
                    v-for="service in services"
                    :key="service.title"
                    v-slot="{ isSelected, toggle }"
                  >
                    <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285" link ripple @click="o.mainObject=service;o.results='';o.description='';">
                      <v-card-title class="d-flex text-center justify-center">
                        <v-icon class="pb-1 pr-2">{{service.icon}}</v-icon>{{service.shortTitle}}                      
                      </v-card-title>
                      <v-card-text class="pa-1">                      
                        {{service.description}}
                      </v-card-text>
                    </v-card>
                  </v-slide-group-item>

                  <v-slide-group-item v-if="o.mainObject.icon=='mdi-crosshairs-gps'"
                    v-for="it in o.results"
                    :key="it.name"
                    v-slot="{ isSelected, toggle }"
                  >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                    <v-card-title class="text-center">
                      {{it.name}}                      
                    </v-card-title>
                    <v-card-subtitle class="mb-2 font-weight-bold text-center">
                      <div><a style="text-decoration:none;" :href="'tel:' + it.phone">{{it.phone}}</a></div>
                      <div><a :href="it.website" style="text-decoration: none;" target="_blank">
                        {{it.website}}
                      </a></div>
                    </v-card-subtitle>
                    <v-card-actions class="text-center justify-center d-flex">
                      <v-btn ripple variant="tonal" elevation="4" size="small" class="mx-1" title="Click here to share" icon="mdi-share" @click="shareItem(it)">
                      </v-btn>         
                    </v-card-actions>                                  
                    <v-card-text class="pa-1">                      
                      {{it.directions}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-magnet'"
                  v-for="it in o.results"
                  :key="it.name"
                  v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                    <v-card-title class="text-center">
                      {{it.name}}                      
                    </v-card-title>
                    <v-card-subtitle class="mb-2 font-weight-bold text-center">
                      <div><a style="text-decoration:none;" :href="'tel:' + it.phone">{{it.phone}}</a></div>
                      <div><a :href="it.website" style="text-decoration: none;" target="_blank">
                        {{it.website}}
                      </a></div>
                    </v-card-subtitle>
                    <v-card-actions class="text-center justify-center d-flex">
                      <v-btn ripple variant="tonal" elevation="4" size="small" class="mx-1" title="Click here to share" icon="mdi-share" @click="shareItem(it)">
                      </v-btn>         
                    </v-card-actions>                                  
                    <v-card-text class="pa-1">                      
                      {{it.summary}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-lightbulb-on-outline'&&o.results.deliverables" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                    <v-card-title class="text-center">
                      {{o.results.expertTitle}}                      
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      {{o.results.role}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-lightbulb-on-outline'&&o.results.deliverables" v-for="it in o.results.deliverables" :key="it.name" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285" link ripple>
                    <v-card-title class="text-center">
                      {{it.name}}                      
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      {{it.description}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-message-alert'&&o.results.media_analysis" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                    <v-card-title class="text-center">
                      Media Analysis                     
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      {{o.results.media_analysis}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-message-alert'&&o.results.key_narrative_points" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                    <v-card-title class="text-center">
                      Key Points                     
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      <li v-for="it in o.results.key_narrative_points" :key="it" class="mb-2">
                        {{it}}
                      </li>
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-message-alert'&&o.results.deliverables" v-for="it in o.results.deliverables" :key="it.deliverableDescription" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285" link ripple>
                    <v-card-title class="text-center">
                      Deliverable                     
                    </v-card-title>  
                    <v-card-text class="pa-1">                      
                      {{it.deliverableDescription}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-message-alert'&&o.results.rapid_response_strategy" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                    <v-card-title class="text-center">
                      Rapid Response Strategy                     
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      {{o.results.rapid_response_strategy}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-message-alert'&&o.results&&o.results.monitoring_and_adjustment_steps" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                    <v-card-title class="text-center">
                     Monitoring & Adjustment                     
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      {{o.results.monitoring_and_adjustment_steps}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-sitemap'&&o.results.forecast" v-for="(value, key) in o.results.forecast" :key="key" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                    <v-card-title class="text-center text-capitalize">
                      {{key.replace(/_/g, ' ')}}                    
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      {{value}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-sitemap'&&o.results.forecasting_approach" v-for="(value, key) in o.results.forecasting_approach" :key="key" v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4 full-width-on-small" min-height="285">
                    <v-card-title class="text-center text-capitalize">
                      {{key.replace(/_/g, ' ')}}                     
                    </v-card-title>                             
                    <v-card-text class="pa-1">                      
                      {{value}}
                    </v-card-text>                 
                  </v-card>
                </v-slide-group-item>

                <ideas v-if="o.mainObject&&o.description" class="full-width-on-small" :o="{title: o.description, url: o.mainObject.url, role: o.mainObject.role, prompt: `${o.description}`}" :key="o.description.length+o.mainObject.title.length"></ideas> 

            </v-slide-group>             

            </v-col>

          </v-row>
      </v-app>
     </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="artyom.window.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>    
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();
      const { loadModule } = window['vue3-sfc-loader'];

      async function loadComponentsAndInitApp() {          

        async function addComponent(component) {
          return await loadModule('./' + component + '.vue', {
                  moduleCache: {
                      vue: Vue
                  },
                  async getFile(url) {
                      const res = await fetch(url);
                      if (!res.ok)
                          throw Object.assign(new Error(url + ' ' + res.statusText), { res });
                      return await res.text();
                  },
                  addStyle: (textContent) => {
                      const style = document.createElement('style');
                      style.textContent = textContent;
                      document.head.appendChild(style);
                  }
              });
        }
        
      //define components
      const quotes = await addComponent('quotes');
      const shareToolBar = await addComponent('shareToolBar');
      const deliverable = await addComponent('deliverable');
      const ideas = await addComponent('ideasNEW');

      const app = createApp({

          data() {
              return {
                  o: {},
                  loading: false,                  
                  drawer: false,
                  artyom: new Artyom(),
                  isSupported: false,
                  speechLoading: false,
                  isListening: false
              }
          },
          
          computed: {

            isLargeScreen() {
              return window.innerWidth >= 960; // Example breakpoint
            },

            showTitle() {
              return this.o.description&&this.o.results&&this.o.results.toString().length>0;
            },

            previousSessions() {
              if (this.o.descriptionArray&&this.o.descriptionArray.length > 0) {
                return Array.from(new Set(this.o.descriptionArray));
              };  
              return null;
            },

            showDownload() {
              return this.o.results&&Array.isArray(this.o.results)&&this.o.results.length > 0&&this.o.mainObject&&['mdi-crosshairs-gps','mdi-magnet'].includes(this.o.mainObject.icon);
            }

          },

          created() {  
              this.services = getAreas();             
              this.homeObject = {title: 'xsbrt', shortTitle: 'xsbrt', icon: 'mdi-home', subtitle: '', url: 'https://xsbrt.com/', description: 'xsbrt offers a range of AI-driven solutions: BenefitsGPS for social services, FundMagnet for nonprofit fundraising, Decision Support for making informed choices, Media Management for strategic communication, and Future for futuristic analysis and predictions, and more. Expertise and technology combined to address your unique challenges.', label: 'Need expert insights? Solutions to challenges? Start here!', hint: 'Simply describe your challenge or question. Our experts are here to help!', placeholder: 'E.g., How to start a bakery? Ways to improve team productivity? Best practices for organic farming?', action: this.services[4].action, role: this.services[4].role};
              this.services.unshift(this.homeObject);
              this.o.session = randomString();
              this.o.services = [];
              this.o.descriptionArray = [];
          },

          watch: {

              o: function (newValue) {
                  return newValue;
              },
              deep: true
          },

          async mounted() { 
              const results = await handleDeviceLocationAndId();             
              if (results) {
                  this.o = {...this.o,...results};                 
              };
              const res = await getIndexedDB('xsbrt');
              if (res) {
                this.o = {...this.o,...JSON.parse(res)};
              };              
              this.o.mainObject = this.services[0];
              this.o.description = '';

              console.log(this.o);

              this.isSupported = await this.artyom.speechSupported();
              navigator.permissions.query({name:'microphone'}).then((permissionStatus) => {
                  if (permissionStatus.state === 'denied') {
                      this.isSupported = false;
                  };
              });

              setIndexedDB('xsbrt', JSON.stringify(this.o));

              

              //passed description parameter             
              let description = new URL(document.location).searchParams.get("d");
              if (description&&description.length > 9) {
                this.o.description = description;
                this.gatherResults();
              };
          },

          methods: { 

            async startSpeechRecognition() { 
              try {
                  this.speechLoading = true;
                  this.isListening = false;
                  this.o.description = '';
                  await this.artyom.initialize({lang:"en-US", debug: false, soundex: true, continuous: true, listen: true, speed: 1 });       
                  this.artyom.addCommands({
                      indexes: [/.*/],
                      smart: true,
                      action: (i, wildcard) => {
                        this.o.description = this.o.description + ' ' + wildcard.trim();
                      }
                  });
                  setTimeout(() => { this.isListening = true; this.speechLoading = false; }, 2250);
                    this.artyom.redirectRecognizedTextOutput((text, isFinal) => {
                      this.o.description = text;
                  });
                  return;
              } catch (error) {
                  this.speechLoading = false;
                  this.artyom.fatality();
                  return;
              }               
          },

          async stopSpeechRecognition() { 
              try {  
                  this.gatherResults();  
                  this.speechLoading = false,                 
                  this.isListening = false; 
                  this.artyom.fatality();
                  return;               
              } catch (error) {
                  return;
              }               
          },
            async previousSession(o) {
                if (!o||!o.description) { return };  
                this.o = Vue.reactive(o);
                console.log(this.o);
                o = null;
                console.clear();
            },

            async gatherResults() {
              if (!this.o.mainObject||!this.o.description||this.o.description.length < 10) { return };
              console.clear();
              this.loading = true; 
              this.o["results"] = '';               
              this.o.description = convertMultipleSpacesToSingle(this.o.description);
              this.o.descriptionArray.unshift(this.o.description);
              if (this.o.mainObject.icon=='mdi-home') {
                this.o.mainObject = this.services[5];
              };
              let role = null;
              if (this.o.location) {
                role = this.o.mainObject.role + " The person resides at latitude: " + this.o.location.latitude + ", longitude: " + this.o.location.longitude + '.';
              } else {
                role = this.o.mainObject.role;
              };
              const messages = [
                  { role: "system", content: role + '. ' + processPrompt() },
                  { role: "user", content: `${this.o.mainObject.action} The user has asked about the following: "${this.o.description}".` }
              ];
              const res = await getResultsNEW(messages,0.4,null,null);
              if (res) {
                this.o.results = res.result ? res.result : res;
                //window.scrollTo(0, document.body.scrollHeight);
                console.log(this.o);
                console.clear();
                const scrollableElement = document.getElementById('results'); // Replace with your scrollable element's ID
                scrollableElement.scrollTop = scrollableElement.scrollHeight;
                scrollableElement.animate = smo
              }; 
              this.loading = false;
              setIndexedDB('xsbrt', JSON.stringify(this.o));
            },

            async shareMain() {
              if (this.o.mainObject) {
                this.share(this.o.mainObject.title,this.o.mainObject.description,this.o.mainObject.url);
              };
            },
            
            async share(title,text,url) {
              if (navigator.share) {
                const shareData = {
                      title: title,
                      text: text,
                      url: url
                  };
                  navigator.share(shareData);
                }; 
            }
            
          },

          components: {
            quotes,
            shareToolBar,
            deliverable,
            ideas
          },

          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>      
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "kf3riyvo42");
  </script>  

<style>

.background-row {
  position: relative;
  min-height: 100vh; /* Set a minimum height to ensure the row is visible */
}

.background-row::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('backgroundimage.png') no-repeat center center;
  background-size: cover;
  opacity: 0.4;
}

.transparent-bg {
  background-color: transparent !important;
  border: none !important; /* Remove borders */
  box-shadow: none !important; /* Remove any shadow that might look like a border */
}

body {
  font-family: 'Roboto', sans-serif;
}

.light-text {
  font-weight: 300; /* Light weight */
}

.bold-text {
  font-weight: 900; /* Bold weight */
}

.scrollable-container {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
  }
  /* Optional: Style for the scrollbar */
  .scrollable-container::-webkit-scrollbar {
    height: 4px;
  }
  .scrollable-container::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
  }

/* Toolbar styles */
.v-toolbar {
  background-color: #f5f5f5; /* Toolbar background color */
  padding-right: 16px;
}

.title {
  font-size: 1.5rem; /* Adjust based on mock-up */
  font-weight: 300; /* Adjust based on mock-up */
  color: black; /* Title color */
}

.headline {
  font-size: 3rem; /* Main title font size */
  font-weight: 400; /* Main title font weight */
  color: black; /* Main title color */
}

.subheadline {
  font-size: 1.25rem; /* Subtitle font size */
  font-weight: 300; /* Subtitle font weight */
  color: black; /* Subtitle color */
}

.search {
  max-width: 500px; /* Search bar width */
}

/* Service buttons */
.service-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Spacing between buttons */
}

/* Image container styles */
.image-container {
  background: url('path/to/your/image.jpg') no-repeat center center;
  background-size: cover;
}

.v-card {
    /* Remove any fixed height/width and use max-width for large screens if needed */
    max-width: 350px; /* Example for large screens */
  }

/* Responsive adjustments */
@media (max-width: 600px) {

  .text-center-sm {
    text-align: center;
  }

  .headline {
    font-size: 2rem; /* Adjust for smaller screens */
  }

  .subheadline {
    font-size: 1rem; /* Adjust for smaller screens */
  }

  .search {
    max-width: 100%; /* Full width on smaller screens */
  }

  .align-items-center {
      align-items: center; /* This will center the content horizontally */
    }
    .pt-md-12, .pl-md-16, .ml-md-8 {
      padding-top: 0 !important;
      padding-left: 0 !important;
      margin-left: 0 !important;
    }
    .v-col {
      padding-left: 0 !important; /* Remove left padding */
      padding-right: 0 !important; /* Remove right padding */
      margin-left: 0 !important; /* Remove left margin */
      margin-right: 0 !important; /* Remove right margin */
    }
    .d-flex.align-items-center {
      justify-content: center; /* Horizontally center the content */
      align-items: flex-start; /* Align items to the top */
    }
    /* If you have specific padding or margin values for small screens, set them here */
    .pa-1, .pa-2, .ma-0 {
      padding: 0.5rem !important; /* Adjust this value as needed */
      margin: 0 !important;
    }

  .full-width-on-small {
      width: 99% !important; /* Force full width */
    }

    .v-slide-group {
      margin: 0;
      padding: 0;
    }
    .v-slide-group .v-slide-group__wrapper {
      width: 100%;
    }
    .v-slide-group__content {
      margin: 0 !important;
      padding: 0 !important;
    }
    .v-slide-group-item {
      margin: 0 !important;
      padding: 0 !important;
      width: 100% !important; /* Ensure each slide item takes full width */
    }

    .v-card {
      width: 99%; /* Full width on small screens */
      margin: 8px; /* Reset margins */
      max-width: auto; /* Override any max-width for small screens */
      min-height: auto; /* Allow the card to expand according to the content */
      padding: 1em; /* Adjust padding to ensure content doesn't touch the edges */
    
    }
    .v-card-title, .v-card-text {
      font-size: smaller; /* Adjust font size for small screens */
      word-wrap: break-word; /* Ensure text wraps inside the card */
      overflow-wrap: break-word; 
    }

}
      </style>
  
</body>
</html>