<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="Decision Making, Heuristics, Expert Guidance, Problem Solving, Decision Analysis, Heuristic Application, Decision Support, Expert Advice, Decision-Making Strategies, Decision-Making Heuristics" />
    <meta name="description" content="Navigate through tough decisions with expert guidance at xsbrt. Apply decision-making heuristics to analyze and make informed choices. Whether it's personal or professional decisions, our AI-driven platform provides structured results and expert advice tailored to your unique situation." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Expert Decision-Making Support" />
    <meta property="og:description" content="Facing a tough decision? xsbrt offers expert guidance and heuristic analysis to help you make the best choice. Dive in for structured results and personalized advice." />
    <meta property="og:url" content="https://xsbrt.com/decision" />
    <meta property="og:site_name" content="xsbrt" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="xsbrt: Expert Decision-Making Support" />
    <meta name="msapplication-TileImage" content="xsbrtimage.png" />
    <meta name="msapplication-TileColor" content="blue" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="xsbrtimage.png" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" />
    <title>Expert Decision-Making Support</title>
</head>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
      <v-app>      

        <!-- Toolbar -->
        <v-app-bar app elevation="24" class="px-2" dense>
          <v-toolbar-title class="title bold-text">
           title
          </v-toolbar-title>
          <v-spacer></v-spacer>
            test
        </v-app-bar>
    
        <!-- Main Content -->
        <v-container fluid class="pa-0 mt-10">

          <v-row no-gutters class="background-row">
            <v-col cols="12" md="7" class="pt-12 px-12 content-area">
              <h2 class="mb-2 font-weight-bold">Welcome to</h2>
              <h1 class="headline mb-6 font-weight-black">
                <v-icon class="pb-2 pr-2">mdi-crosshairs-gps</v-icon>
                BenefitsGPS
              </h1>
              <h4 class="subtitle-1 mb-8 light-text">BenefitsGPS is your digital guide to social services. Powered by AI, we connect you to nonprofits, NGOs, and local to federal resources tailored to your needs. Let BenefitsGPS navigate the best resources for you.</h4>              
              <div class="service-buttons">
               <v-btn small rounded ripple class="mx-1" elevation="6">share</v-btn>
               <v-btn small rounded ripple class="mx-1" elevation="6">download</v-btn>
              </div>
            </v-col>
            <v-col cols="12" md="5" class="d-flex flex-column align-center justify-center pt-md-4">
                <v-btn icon fab ripple elevation="20" size="150">
                  <v-icon size="150" color="black">mdi-microphone</v-icon>
                </v-btn>
                <v-textarea 
                  label="Tell me what you want"
                  spellcheck="true"
                  autocomplete="on"
                  clearable 
                  rows="1"
                  class="mt-4 pa-1"
                  bg-color="white"
                  prepend-inner-icon="mdi-comment-text"
                  auto-grow
                  elevation="20"
                  variant="solo"
                  maxlength="1000"
                  :counter="1000"
                  style="min-width: 99%"
              >
              </v-textarea>  
            </v-col>

            <v-col cols="16" class="align-center justify-center mx-4">
              <v-slide-group
                show-arrows
              >
                <v-slide-group-item
                  v-for="n in 25"
                  :key="n"
                  v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-1" height="200" width="250">
                    <v-card-title>card title</v-card-title>
                    <v-card-text>card text</v-card-text>
                  </v-card>
                </v-slide-group-item>
              </v-slide-group>
            </v-col>

          </v-row>
        </v-container>
      </v-app>
     </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="artyom.window.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.9.0/localforage.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>    
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();
      const { loadModule } = window['vue3-sfc-loader'];

      async function loadComponentsAndInitApp() {          

        async function addComponent(component) {
          return await loadModule('./' + component + '.vue', {
                  moduleCache: {
                      vue: Vue
                  },
                  async getFile(url) {
                      const res = await fetch(url);
                      if (!res.ok)
                          throw Object.assign(new Error(url + ' ' + res.statusText), { res });
                      return await res.text();
                  },
                  addStyle: (textContent) => {
                      const style = document.createElement('style');
                      style.textContent = textContent;
                      document.head.appendChild(style);
                  }
              });
        }
        
      //define components
      const headerComponent = await addComponent('header');  
      const welcome = await addComponent('welcome');   
      const previousSessions = await addComponent('previousSessions');
      const mission = await addComponent('speechText');
      const quotes = await addComponent('quotes');
      const shareToolBar = await addComponent('shareToolBar');
      const deliverable = await addComponent('deliverable');
      const ideas = await addComponent('ideas');

      const app = createApp({

          data() {
              return {
                  o: {description: '', name: 'decisions'},
                  session: randomString(),
                  loading: false,
                  services: getAreas(),
                  drawer: false
              }
          }, 
          
          computed: {
              showLoad() {
                  return (this.o.description && this.o.description.length > 9) || this.o.speech;
              }
          },

          created() { 
              this.role = 'You are a decision-making expert with a focus on practical application of strategies. Given the strategies: Uphill Decisions, The Two-Minute Rule, Solomons Paradox, The Hesitation Strategy, and Regret Minimization, provide a direct and concise answer to the posed question.' + writingPrompt() + ' Apply the most suitable strategy based on the context, ensuring your response is well-structured, detailed, and formatted as a JSON object. ' + processPrompt() + ' JSON template: { "answer": "Direct and concise response applying the chosen strategy, including a clear explanation of the reasoning behind the final decision." }.';
              createStorage('decisions');
              this.id = null;               
          },

          watch: {

              o: function (newValue) {
                  return newValue;
              }
          },

          async mounted() { 
              this.o.name = 'decisions';
              this.o.session = this.session; 
              this.o.id = await retrieveId();
              this.o.location = await getDeviceLocation();
              if (this.o.location) {
                this.role = this.role + " The person resides at latitude: " + this.o.location.latitude + ", longitude: " + this.o.location.longitude + '.';
              };
              let description = new URL(document.location).searchParams.get("d");
              if (description&&description.length > 9) {
                this.o.description = description.trim();
                this.gatherResults();
              };
          },

          methods: { 

            async jumpLink(link) {
                window.open('https://xsbrt.com/'+link+'.html?d='+this.o.description,'_parent');
            },

            async processSpeech(o) {
              if (!o||o.results.length < 10) { return };
              this.o = Vue.reactive({ description: o.results });
              console.log(this.o);
              console.clear();
              if (o.speech) { this.gatherResults(); };
              o = null;
            },

            async previousSession(o) {
                if (!o||!o.description) { return };  
                this.o = Vue.reactive(o);
                console.log(this.o);
                o = null;
                console.clear();
            },

            async gatherResults() {
              //console.clear();
              if (!this.o||!this.o.description||this.o.description.length < 10) { return }; 
              if (this.o.answer) { 
                delete this.o.answer;
             };            
              this.loading = true;  
              this.o["description"] = convertMultipleSpacesToSingle(this.o.description);
              const messages = [
                  { role: "system", content: this.role },
                  { role: "user", content: `The question needing an answer is about the following: "${this.o.description}".` }
              ];
              
              const res = await getResultsNEW(messages,0.6,null,null);
              if (res) {
                this.o.name = 'decisions'; 
                this.o = Vue.reactive({ ...this.o, ...res });
                console.log(this.o);
                console.clear();
              }; 
              this.loading = false;
              this.o["session"] = this.session;
              this.session = randomString();
            }      

            
          },

          components: {
            headerComponent,
            welcome,
            previousSessions,
            mission,
            quotes,
            shareToolBar,
            deliverable,
            ideas
          },

          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>      
    

<style>

.background-row {
  position: relative;
  min-height: 100vh; /* Set a minimum height to ensure the row is visible */
}

.background-row::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('backgroundimage.png') no-repeat center center;
  background-size: cover;
  opacity: 0.4;
}

body {
  font-family: 'Roboto', sans-serif;
}

.light-text {
  font-weight: 300; /* Light weight */
}

.bold-text {
  font-weight: 900; /* Bold weight */
}

/* Toolbar styles */
.v-toolbar {
  background-color: #f5f5f5; /* Toolbar background color */
  padding-right: 16px;
}

.title {
  font-size: 1.5rem; /* Adjust based on mock-up */
  font-weight: 300; /* Adjust based on mock-up */
  color: black; /* Title color */
}

.headline {
  font-size: 3rem; /* Main title font size */
  font-weight: 400; /* Main title font weight */
  color: black; /* Main title color */
}

.subheadline {
  font-size: 1.25rem; /* Subtitle font size */
  font-weight: 300; /* Subtitle font weight */
  color: black; /* Subtitle color */
}

.search {
  max-width: 500px; /* Search bar width */
}

/* Service buttons */
.service-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Spacing between buttons */
}

/* Image container styles */
.image-container {
  background: url('path/to/your/image.jpg') no-repeat center center;
  background-size: cover;
}

/* Responsive adjustments */
@media (max-width: 960px) {
  .headline {
    font-size: 2.5rem; /* Adjust for smaller screens */
  }

  .subheadline {
    font-size: 1rem; /* Adjust for smaller screens */
  }

  .search {
    max-width: 100%; /* Full width on smaller screens */
  }
}
      </style>
  
</body>
</html>