<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="AI Solutions, Nonprofit Support, Social Services, Decision Making, Strategic Communication, Futuristic Analysis, Media Management, Public Relations, Reputation Management" />
    <meta name="description" content="xsbrt offers a range of AI-driven solutions: BenefitsGPS for social services, FundMagnet for nonprofit fundraising, Decision Support for making informed choices, Media Management for strategic communication, and Future for futuristic analysis and predictions, and more. Expertise and technology combined to address your unique challenges." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="xsbrt: AI-Driven Solutions for Diverse Needs" />
    <meta property="og:description" content="Explore xsbrt for a range of AI-driven solutions catering to social services, nonprofit fundraising, decision support, media management, and futuristic analysis, and more. Your one-stop hub for tailored, expert-driven approaches." />
    <meta property="og:url" content="https://xsbrt.com" />
    <meta property="og:site_name" content="xsbrt" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="xsbrt: AI-Driven Solutions" />
    <meta name="msapplication-TileImage" content="https://xsbrt.com/xsbrtimage.png" />
    <meta name="msapplication-TileColor" content="white" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="https://xsbrt.com/xsbrtimage.png" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" />
    <script src="https://openfpcdn.io/fingerprintjs/v3/iife.min.js"></script>
    <title>xsbrt.com: AI-Driven Solutions for Diverse Needs</title>
</head>
<script>
  var fpPromise = FingerprintJS.load();
</script>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
      <v-app>
    
        <!-- Main Content -->
        <v-container v-if="o" fluid class="pa-0">         

          <v-row no-gutters class="background-row">
            <v-col cols="1">
              <v-navigation-drawer app dark permanent rail class="font-weight-black" elevation="4">
                <v-list-item link @click="o.mainObject=homeObject">
                  <v-tooltip
                      activator="parent"
                      location="end"
                      eager
                      max-width="270"
                    >
                    {{homeObject.shortTitle.toUpperCase()}}: 
                    {{homeObject.description}}
                  
                  </v-tooltip>
                      <v-icon>{{homeObject.icon}}</v-icon>
                  </v-tooltip>
                </v-list-item>               
                <v-list-item v-for="service in services" :key="service.title" link @click="o.mainObject=service">
                  <v-tooltip
                      activator="parent"
                      location="end"
                      eager
                      max-width="270"
                    >
                    {{service.shortTitle.toUpperCase()}}: 
                    {{service.description}}
                  
                  </v-tooltip>
                      <v-icon>{{service.icon}}</v-icon>
                  </v-tooltip>
                </v-list-item>
              </v-navigation-drawer>
            </v-col>
            <v-col cols="10" md="6" class="pt-12 px-12 content-area">
              <h2 class="mb-2 font-weight-bold">Welcome to</h2>
              <h1 class="headline mb-4 font-weight-black">
                <v-icon class="pb-2 pr-2">{{ o.icon }}</v-icon>
                {{ o.mainObject.shortTitle }}
              </h1>
              <h2 v-if="o.subtitle" class="mb-2 font-italic font-weight-light">
                {{ o.mainObject.subtitle }}
              </h2>
              <h4 class="subtitle-2 mb-8 light-text font-weight-bold">
                {{ o.mainObject.description }}
              </h4>              
              <div class="service-buttons text-center justify-center">
               <v-btn size="large" ripple class="mx-1" elevation="6" icon variant="tonal">
                <v-icon>mdi-share</v-icon>
               </v-btn>
               <v-btn v-if="o.results" size="large" variant="tonal" ripple class="mx-1" elevation="6">
                <v-icon>mdi-download</v-icon>
               </v-btn>
              </div>
              <ideas v-if="o.mainObject" class="ma-4 pa-2" :o="{title: o.mainObject.description, url: o.mainObject.url, role: o.mainObject.role, prompt: `${o.mainObject.description}`}" :key="o.mainObject.description"></ideas> 
            </v-col>
            <v-col cols="12" md="5" class="d-flex flex-column align-center justify-center pt-md-4">
              <v-container class="text-center justify-center">

                  <v-btn v-if="isSupported&&!isListening" icon fab ripple elevation="20" size="130" @click="startSpeechRecognition" :loading="speechLoading">
                    <v-icon size="130" color="black">mdi-microphone</v-icon>
                  </v-btn>
                  <v-btn v-if="isListening" icon fab ripple elevation="20" size="130" @click="stopSpeechRecognition">
                    <v-icon size="130" color="red">mdi-microphone-off</v-icon>
                  </v-btn>   
                  
                  <v-container fluid class="px-8">                 
                  
                      <v-textarea 
                        v-model.lazy="o.description"
                        :label="o.mainObject.label"
                        :hint="o.mainObject.hint"
                        spellcheck="true"
                        autocomplete="on"
                        :placeholder="o.mainObject.placeholder"
                        clearable 
                        rows="2"
                        class="pa-2 ma-0"
                        bg-color="white"
                        prepend-inner-icon="mdi-comment-text"
                        auto-grow
                        elevation="20"
                        variant="solo"
                        maxlength="1000"
                    >
                    </v-textarea>
                    <v-btn v-if="!loading&&o.description" text variant="elevated" ripple elevation="20" class="mb-4" rounded @click="gatherResults">
                      submit
                    </v-btn> 

                    <v-autocomplete :items="previousSessions" density="compact" prepend-inner-icon="mdi-history" v-model.lazy="o" class="pa-1 mt-4 mx-0 mb-0" elevation="20" clearable rounded bg-color="white" variant="solo" ripple label="Revisit your previous sessions" hint="Revisit your previous sessions" return-object item-title="description" item-value="session" @update:modelValue="emitResults" @click:clear="o={};emitResults();">
                    </v-autocomplete> 

                </v-container>
              
              </v-container>               
            </v-col>

            <v-col cols="16" class="align-center justify-center mx-4">
              <quotes v-if="loading"></quotes>            

              <v-slide-group
                show-arrows
              >

                <v-slide-group-item v-if="o.mainObject.icon=='mdi-home'"
                  v-for="service in services"
                  :key="service.title"
                  v-slot="{ isSelected, toggle }"
                >
                  <v-card elevation="12" rounded class="ma-4 pa-4" height="285" width="350" link ripple @click="o.mainObject=service">
                    <v-card-title class="d-flex text-center justify-center">
                      <v-icon class="pb-1 pr-2">{{service.icon}}</v-icon>{{service.shortTitle}}                      
                    </v-card-title>
                    <v-card-text class="pa-1">                      
                      {{service.description}}
                    </v-card-text>
                  </v-card>
                </v-slide-group-item>

              </v-slide-group>              
            </v-col>

          </v-row>
        </v-container>
        <v-footer class="text-center justify-center" app elevation="4">
         <span class="px-4">privacy</span>
         <span class="px-4">about</span>
        </v-footer>
      </v-app>
     </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="artyom.window.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>    
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();
      const { loadModule } = window['vue3-sfc-loader'];

      async function loadComponentsAndInitApp() {          

        async function addComponent(component) {
          return await loadModule('./' + component + '.vue', {
                  moduleCache: {
                      vue: Vue
                  },
                  async getFile(url) {
                      const res = await fetch(url);
                      if (!res.ok)
                          throw Object.assign(new Error(url + ' ' + res.statusText), { res });
                      return await res.text();
                  },
                  addStyle: (textContent) => {
                      const style = document.createElement('style');
                      style.textContent = textContent;
                      document.head.appendChild(style);
                  }
              });
        }
        
      //define components
      const quotes = await addComponent('quotes');
      const shareToolBar = await addComponent('shareToolBar');
      const deliverable = await addComponent('deliverable');
      const ideas = await addComponent('ideas');

      const app = createApp({

          data() {
              return {
                  o: {},
                  loading: false,                  
                  drawer: false,
                  services: getAreas(),
                  artyom: new Artyom(),
                  isSupported: false,
                  speechLoading: false,
                  isListening: false,
                  speechText: ''
              }
          }, 

          created() {               
              this.homeObject =  {title: 'xsbrt', shortTitle: 'xsbrt', icon: 'mdi-home', subtitle: '', url: 'https://xsbrt.com/', description: 'xsbrt offers a range of AI-driven solutions: BenefitsGPS for social services, FundMagnet for nonprofit fundraising, Decision Support for making informed choices, Media Management for strategic communication, and Future for futuristic analysis and predictions, and more. Expertise and technology combined to address your unique challenges.', label: 'Need expert insights? Solutions to challenges? Start here!', hint: 'Simply describe your challenge or question. Our experts are here to help!', placeholder: 'E.g., How to start a bakery? Ways to improve team productivity? Best practices for organic farming?'};
              this.o.mainObject = this.homeObject;
              this.o.session = randomString();
              this.o.services = [];
          },

          watch: {

              o: function (newValue) {
                  return newValue;
              },
              deep: true
          },

          async mounted() { 
              const results = await handleDeviceLocationAndId();             
              if (results) {
                  this.o = {...this.o,...results};
                  if (this.o.location) {
                    this.role = this.role + " The person resides at latitude: " + this.o.location.latitude + ", longitude: " + this.o.location.longitude + '.';
                  };
              };
              const res = await getIndexedDB('xsbrt');
              if (res) {
                this.o = {...this.o,...JSON.parse(res)};
              };
              setIndexedDB('xsbrt', JSON.stringify(this.o));

              this.isSupported = await this.artyom.speechSupported();
              navigator.permissions.query({name:'microphone'}).then((permissionStatus) => {
                  if (permissionStatus.state === 'denied') {
                      this.isSupported = false;
                  };
              });

              console.log(this.o);

              //passed description parameter             
              let description = new URL(document.location).searchParams.get("d");
              if (description&&description.length > 9) {
                this.o.description = description.trim();
                this.gatherResults();
              };
          },

          methods: { 

            async startSpeechRecognition() { 
              try {
                  this.speechLoading = true;
                  this.isListening = false;
                  this.o.description = '';
                  await this.artyom.initialize({lang:"en-US", debug: false, soundex: true, continuous: true, listen: true, speed: 1 });       
                  this.artyom.addCommands({
                      indexes: [/.*/],
                      smart: true,
                      action: (i, wildcard) => {
                        this.o.description = this.o.description + ' ' + wildcard.trim();
                      }
                  });
                  setTimeout(() => { this.isListening = true; this.speechLoading = false; }, 2250);
                    this.artyom.redirectRecognizedTextOutput((text, isFinal) => {
                      this.o.description = text;
                  });
                  return;
              } catch (error) {
                  this.speechLoading = false;
                  this.artyom.fatality();
                  return;
              }               
          },

          async stopSpeechRecognition() { 
              try {  
                  this.gatherResults();  
                  this.speechLoading = false,                 
                  this.isListening = false; 
                  this.artyom.fatality();
                  return;               
              } catch (error) {
                  return;
              }               
          },
            async previousSession(o) {
                if (!o||!o.description) { return };  
                this.o = Vue.reactive(o);
                console.log(this.o);
                o = null;
                console.clear();
            },

            async gatherResults() {
              if (!this.o||!this.o.description||this.o.description.length < 10) { return };
              this.loading = true; 
              this.o.results = '';               
              this.o.description = convertMultipleSpacesToSingle(this.o.description);
              const messages = [
                  { role: "system", content: this.o.mainObject.role },
                  { role: "user", content: `The question needing an answer is about the following: "${this.o.description}".` }
              ];
              console.log(messages);
              const res = await getResultsNEW(messages,0.4,null,null);
              console.log(res);
              if (res) {
                this.o.results = res;
                console.log(this.o);
              }; 
              this.loading = false;
            },

            async shareMain() {
              if (this.o.mainObject) {
                this.share(this.o.mainObject.title,this.o.main)
              };
            },
            
            async share(title,text,url) {
              if (navigator.share) {
                const shareData = {
                      title: title,
                      text: text,
                      url: url
                  };
                  navigator.share(shareData);
                }; 
            }
            
          },

          components: {
            quotes,
            shareToolBar,
            deliverable,
            ideas
          },

          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>      
    

<style>

.background-row {
  position: relative;
  min-height: 100vh; /* Set a minimum height to ensure the row is visible */
}

.background-row::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('backgroundimage.png') no-repeat center center;
  background-size: cover;
  opacity: 0.4;
}

body {
  font-family: 'Roboto', sans-serif;
}

.light-text {
  font-weight: 300; /* Light weight */
}

.bold-text {
  font-weight: 900; /* Bold weight */
}

/* Toolbar styles */
.v-toolbar {
  background-color: #f5f5f5; /* Toolbar background color */
  padding-right: 16px;
}

.title {
  font-size: 1.5rem; /* Adjust based on mock-up */
  font-weight: 300; /* Adjust based on mock-up */
  color: black; /* Title color */
}

.headline {
  font-size: 3rem; /* Main title font size */
  font-weight: 400; /* Main title font weight */
  color: black; /* Main title color */
}

.subheadline {
  font-size: 1.25rem; /* Subtitle font size */
  font-weight: 300; /* Subtitle font weight */
  color: black; /* Subtitle color */
}

.search {
  max-width: 500px; /* Search bar width */
}

/* Service buttons */
.service-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Spacing between buttons */
}

/* Image container styles */
.image-container {
  background: url('path/to/your/image.jpg') no-repeat center center;
  background-size: cover;
}

/* Responsive adjustments */
@media (max-width: 960px) {
  .headline {
    font-size: 2.5rem; /* Adjust for smaller screens */
  }

  .subheadline {
    font-size: 1rem; /* Adjust for smaller screens */
  }

  .search {
    max-width: 100%; /* Full width on smaller screens */
  }
}
      </style>
  
</body>
</html>