<template>
    <v-lazy v-if="deliverable"      
        :min-height="200"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >
    <v-overlay
        v-if="note" 
        v-model="note"
        class="overlay-container"
        close-on-back
        width="99%"
        height="99%"
      >
        <v-card class="overlay-card pa-1 text-center justify-center">
          <v-card-title class="overlay-title">
            <span>{{note.name}}</span>
            <v-spacer></v-spacer>
            <v-btn 
              class="my-4"
              variant="tonal"
              elevation="4"
              size="large"
              color="error" 
              ripple
              @click="note = null; console.clear();" 
              title="Close"
              icon="mdi-close"
            >
            </v-btn>
          </v-card-title>
          <v-card-subtitle class="overlay-subtitle text-center justify-center pb-4">
            Notes
          </v-card-subtitle>

          <v-row>
            <v-col cols="12">
              <v-textarea 
                v-model.trim="note.description" 
                label="Enter your private notes below." 
                hint="Your notes are stored only on this device and won't be shared." 
                placeholder="E.g., Important details about..."
                persistent-hint 
                auto-grow 
                rounded
                clearable 
                rows="2" 
                class="mb-2 mx-2"
                variant="outlined"
                color="primary"
              >
              </v-textarea>
            </v-col>
          </v-row>
              
          <v-btn v-if="note.description" 
              text 
              class="my-2 overlay-content"
              color="success"
              rounded
              size="large"
              variant="tonal" 
              title="submit"
              icon="mdi-plus"
              elevation="4"
              ripple
              @click="addNote"
            >
            </v-btn>

            <v-card-text v-if="notes" class="mt-1 overlay-content">
              <v-timeline side="end" align="start"> 
                <v-timeline-item v-for="it in notes" :key="it.id" dot-color="primary" size="small">
                  <div class="d-flex">
                      <v-row>
                        <v-col class="text-left small font-weight-bold" cols="12">
                          <v-btn 
                            icon 
                            size="x-small"
                            class="mr-2"
                            color="error"  
                            ripple
                            variant="tonal"
                            elevation="4"
                            title="Delete note"
                            @click="deleteNote(it,note)"
                          >
                            <v-icon>mdi-close</v-icon>
                          </v-btn>{{toHumanReadableDate(it.mod)}}
                        </v-col>
                        <v-col class="text-left text-caption mb-2" cols="12">
                          {{it.description}}                          
                        </v-col>
                      </v-row>
                  </div>
                </v-timeline-item>
              </v-timeline>
            </v-card-text>
           
        </v-card>
      </v-overlay> 
    </v-lazy>
</template>
<script>
export default {

    props: {

        deliverable: {
            type: Object,
            required: true
        }

    },

    data() {
      return {
        selectedQuote: getRandomQuoteFromArray(this.deliverable.quotes),
        quoteInterval: setInterval(this.changeQuote, 4500)
      };
    },

    async mounted() {
        let txt = "You will create an " + this.deliverable.type + " (" +this.deliverable.description + ").";
        if (this.deliverable.action) { 
            txt = txt + ' ' + this.deliverable.action;
        };
        const messages = [
            { role: "system", content: this.deliverable.role },
            { role: "user", content: txt + " Your creation will only be returned as a single, well-formed JSON object in the following format: {results: 'formatted text of request result'}. " + writingPrompt() }
        ];
        txt = null;
        try {
            const result = await Promise.race([
                getResults(messages, 0.4),
                new Promise((_, reject) => setTimeout(() => reject(new Error('Request timed out after 45 seconds')), 35000))
            ]);                      
            if (result && result.results) {
                this.deliverable.results = result.results;
                result = null;
            };
            this.stopQuotes();
        } catch (error) {
            this.stopQuotes();
            this.deliverable.results = 'This request has become way too slow! Try again please!';
        }
    },

    methods: { 
             
        toHumanReadableDate(isoString) {
              const date = new Date(isoString);
              const year = date.getFullYear();
              const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-based
              const day = String(date.getDate()).padStart(2, '0');
              const hours = String(date.getHours()).padStart(2, '0');
              const minutes = String(date.getMinutes()).padStart(2, '0');
              return `${year}-${month}-${day} ${hours}:${minutes}`;
            }

    }
}
</script>

<style scoped>
.overlay-container {
    width: 100%;
    height: 85%;
    overflow: auto;
}

.overlay-card {
    width: 100%;
    height: 85%;
    margin: auto;
}

.overlay-title {
    font-size: 1.5em;
    font-weight: bold;
}

.overlay-subtitle {
    font-size: 1.2em;
}

.overlay-content {
    overflow-y: auto;
    max-height: 90vh;
}

.result-text {
    font-size: 1.1em;
    white-space: pre-wrap;
    word-wrap: break-word;
}
</style>