<template>
    <v-lazy v-if="previousSessions"       
        :min-height="2"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >
        
    </v-lazy>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    data() {
        return {
            previousSessions: null
        }
    },

    async mounted() {
        try {
            if (this.o.session&&this.o.description&&this.o.name) {
                await saveEntity(this.o);
            };
            let res = await getLocalStorageDataByName(this.o.name);
            if (res&&res.length > 1) {
                res = alasql("SELECT * FROM ? notes WHERE session IS NOT NULL AND description IS NOT NULL AND description <> '' ORDER BY DATE(mod) DESC",[res]);
            if (res&&res.length > 1) { 
                res = alasql("SELECT * FROM ? GROUP BY description",[res]);
                if (res&&res.length > 1) {
                    this.previousSessions = alasql("SELECT TOP 20 * FROM ?", [res]);
                    res = null;
                };               
            };
            };
            
        } catch (error) { return null; };            
        return null; 
    },

    methods: { 
         
    }
}
</script>