<template>
    <v-lazy      
        :min-height="200"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >    
        <!-- A file input component that is displayed if the 'o' prop is provided. It allows users to select and upload files. -->
        <v-file-input  id="fileInput" class="text-center justify-center" show-size color="primary" rounded outlined clearable accept=".pdf" label="Upload a pdf" hint="Use the content of a pdf file" persistent-hint @change="fileUpload" :loading="fileUploading"></v-file-input>
    </v-lazy>   
  </template>
  
  <script>
    module.exports = {
      
    // Data properties for the component
    data() {
        return {        // Determines if the v-lazy container is active or not
          fileUploading: false     // Indicates if a file is currently being uploaded
        }
    },
  
    // Lifecycle hook that is called after the component is mounted to the DOM
    async mounted() {
      try {
        // Check if the user is on a mobile device
        const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
        if (isMobile) {
            // If on mobile, set the file input to capture from the camera
            const fileInput = document.querySelector('v-file-input');
            if (fileInput) {
                fileInput.setAttribute('capture', 'camera');
            };
        }
      } catch {error} { 
        // If there's an error, simply return without doing anything
        return; 
      }
    },
  
    // Methods for the component
    methods: {
      // Method to handle the file upload process
      async fileUpload(file) {
        // If no file is selected, return
        if (!file) { return };
        // Set the uploading state to true
        this.fileUploading = true;
        console.clear();
        // If an upload method is provided in the 'o' prop, execute it
        if (this.o.upload) {
          let res = await uploadToFileList(file, null, this.o.site, this.o.listName);
          if (res) {
            // If the upload is successful, store the file in the 'o' prop
            this.o.file = file;
          };
        }; 
        // Set the uploading state to false
        this.fileUploading = false;   
        // Update the hint to indicate successful upload
        this.o.hint = 'Your file has been successfully uploaded!'; 
        // Emit an event to notify parent components of the upload
        this.$emit('my-upload', file);
        file = null;
      },

      async uploadAcceptance(file) {
        if (!file) return null;

        const reader = new FileReader();
        reader.readAsArrayBuffer(file);

        const resultPromise = new Promise(async (resolve, reject) => {
            reader.onload = async function (e) {
                const buffer = e.target.result;
                const pdf = await pdfjsLib.getDocument(buffer).promise;
                const numPages = pdf.numPages;

                const promises = Array.from({ length: numPages }, async (_, i) => {
                    const pageNum = i + 1;
                    const page = await pdf.getPage(pageNum);
                    const textContentObj = await page.getTextContent();
                    const pageText = textContentObj.items.map(s => s.str).join(' ').trim();
                    return { p: pageNum, t: JSON.stringify(convertMultipleSpacesToSingle(pageText)) };
                });

                const resultArray = await Promise.all(promises);
                resolve(resultArray);
            };

            reader.onerror = function (e) {
                reject(null);
            };
        });

        const resultArray = await resultPromise;
        return resultArray.length > 0 ? resultArray : null;
    },

convertMultipleSpacesToSingle(str) {
    return str.replace(/\s+/g, ' ').trim();
}



    }
    }
  </script>