<template>
    <v-lazy v-if="o"      
        :min-height="200"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >    
        <!-- A file input component that is displayed if the 'o' prop is provided. It allows users to select and upload files. -->
        <v-file-input v-if="o" id="fileInput" class="text-center justify-center" show-size color="primary" rounded outlined clearable accept="*.pdf" :label="o.label" :hint="o.hint" persistent-hint @change="fileUpload" :loading="fileUploading"></v-file-input>
    </v-lazy>   
  </template>
  
  <script>
    module.exports = {
  
    // Define the props that this component expects
    props: {
      // 'o' prop is an object that contains configuration for the file input component
      o: {
        type: Object,
        required: true
      }
    },
    
    // Data properties for the component
    data() {
        return {        // Determines if the v-lazy container is active or not
          fileUploading: false     // Indicates if a file is currently being uploaded
        }
    },
  
    // Lifecycle hook that is called after the component is created
    created() {
      // If 'o' prop is not provided, deactivate the v-lazy container
      if (!this.o) { this.isActive = false; return };
      // If no label is provided for the file input, set default values
      if (!this.o.label) { 
        this.o.label = 'Upload file'; 
        this.o.hint = this.o.label; 
        this.o.accept = '.doc,.docx,.xls,.xlxs,.csv,.txt,.ppt,.pptx,.gif,.jpeg,.jpg,.png,.webp,image/*,video/*,.pdf,audio/*'; 
      };
    },
  
    // Lifecycle hook that is called after the component is mounted to the DOM
    async mounted() {
      try {
        // Check if the user is on a mobile device
        const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
        if (isMobile) {
            // If on mobile, set the file input to capture from the camera
            const fileInput = document.querySelector('v-file-input');
            if (fileInput) {
                fileInput.setAttribute('capture', 'camera');
            };
        }
      } catch {error} { 
        // If there's an error, simply return without doing anything
        return; 
      }
    },
  
    // Methods for the component
    methods: {
      // Method to handle the file upload process
      async fileUpload(file) {
        // If no file is selected, return
        if (!file) { return };
        // Set the uploading state to true
        this.fileUploading = true;
        console.clear();
        // If an upload method is provided in the 'o' prop, execute it
        if (this.o.upload) {
          let res = await uploadToFileList(file, null, this.o.site, this.o.listName);
          if (res) {
            // If the upload is successful, store the file in the 'o' prop
            this.o.file = file;
          };
        }; 
        // Set the uploading state to false
        this.fileUploading = false;   
        // Update the hint to indicate successful upload
        this.o.hint = 'Your file has been successfully uploaded!'; 
        // Emit an event to notify parent components of the upload
        this.$emit('my-upload', file);
        file = null;
      }
    }
    }
  </script>