<template>
    <v-lazy      
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >    
    <v-progress-circular v-if="fileUploading" color="primary" indeterminate :size="70"></v-progress-circular>    
    <v-file-input v-if="!fileUploading"
        id="fileInput"
        clearable
        show-size 
        rounded
        base-color="primary"
        accept="application/pdf" 
        label="Upload a pdf" hint="Use the content of a pdf file" 
        persistent-hint 
        variant="solo-inverted"
        @change="uploadAcceptance"
    ></v-file-input>
    </v-lazy>   
  </template>
  
  <script>
    module.exports = {
       
        props: {

            o: {
                type: Object,
                required: true
            }

        },
    // Data properties for the component
    data() {
        return {           // Determines if the v-lazy container is active or not
          fileUploading: false     // Indicates if a file is currently being uploaded
        }
    },
  
    // Lifecycle hook that is called after the component is mounted to the DOM
    async mounted() {
        console.log(this.o);
        return;
      try {
        // Check if the user is on a mobile device
        const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
        if (isMobile) {
            // If on mobile, set the file input to capture from the camera
            const fileInput = document.querySelector('v-file-input');
            if (fileInput) {
                fileInput.setAttribute('capture', 'camera');
            };
        }
      } catch {error} { 
        // If there's an error, simply return without doing anything
        return; 
      }
    },
  
    // Methods for the component
    methods: {

        async processLargeInput(input) {
            // Split the input into smaller chunks
            const chunks = [];
            const maxChunkSize = 4096;
            while (input.length > 0) {
                let chunk = input.slice(0, maxChunkSize);
                chunks.push(chunk);
                input = input.slice(maxChunkSize);
            };
            // Function to process a chunk of text with OpenAI API
            const processChunk = async (chunk) => {
                try {
                    const messages = [
                        { role: "system", content: this.o.role + ' ' + this.writingShort },
                        { role: "user", content: `Provide a detailed yet concise summary of the following, leaving out no important details: "${chunk}".` }
                    ];
                    console.log(messages);
                    const response = await getResults(messages,0.4);
                    return response.choices[0].text.trim();
                } catch (error) {
                return '';
                }
            };

            // Process each chunk and combine the results
            const results = await Promise.all(chunks.map(processChunk));
            return results.join(' ');
        },
     
        async uploadAcceptance(event) {
            try {            
            let file = event.target.files[0]
            if (!file) return null;
            if (!(file instanceof Blob)) {
                return;
            };
            this.fileUploading = true;
            const reader = new FileReader();
            reader.readAsArrayBuffer(file);
            const resultPromise = new Promise(async (resolve, reject) => {
                reader.onload = async function (e) {
                    const buffer = e.target.result;
                    const pdf = await pdfjsLib.getDocument(buffer).promise;
                    const numPages = Math.min(pdf.numPages, 10); 
                    const promises = Array.from({ length: numPages }, async (_, i) => {
                        const pageNum = i + 1;
                        const page = await pdf.getPage(pageNum);
                        const textContentObj = await page.getTextContent();
                        page.cleanup(); // Free up resources
                        return textContentObj.items.map(s => s.str).join(' ').trim();
                    });

                    const resultArray = await Promise.all(promises);
                    const combinedText = resultArray.join(' ');
                    resolve(combinedText);
                };

                reader.onerror = function (e) {
                    reject(null);
                };
            });

            file = null;

            let resultText = await resultPromise;
            resultText = resultText.replace(/\s+/g, ' ').trim();
            console.log()
            if (this.o.chunks&&this.o.role) {
                resultText = await processLargeInput(resultText);
            };
            this.o.results = resultText;
            this.$emit('my-upload', this.o);
            this.fileUploading = false;
            resultText = null;
        } catch(error) { this.fileUploading = false; return; };
        }

    }
    }
  </script>