<template>
    <v-lazy      
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >    
    <v-progress-circular v-if="fileUploading" color="primary" indeterminate :size="70"></v-progress-circular>    
    <v-file-input v-if="!fileUploading"
        :disabled="!initialized"
        id="fileInput"
        clearable
        show-size 
        rounded
        base-color="primary"
        accept="application/pdf" 
        label="Upload a pdf" hint="Use the content of a pdf file" 
        persistent-hint 
        variant="solo-inverted"
        @change="uploadAcceptance"
    ></v-file-input>
    </v-lazy>   
  </template>
  
  <script>
    module.exports = {
       
        props: {

            o: {
                type: Object,
                required: true
            }

        },
    // Data properties for the component
    data() {
        return {           // Determines if the v-lazy container is active or not
          fileUploading: false,
          initialized: false    // Indicates if a file is currently being uploaded
        }
    },

    computed: {

        role() {
            return this.o && this.o.role;
        }
    },
  
    // Lifecycle hook that is called after the component is mounted to the DOM
    async mounted() {
        this.initialized = true;
        if (this.o.camera) { 
        try {
            // Check if the user is on a mobile device
            const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
            if (isMobile) {
                // If on mobile, set the file input to capture from the camera
                const fileInput = document.querySelector('v-file-input');
                if (fileInput) {
                    fileInput.setAttribute('capture', 'camera');
                };
            }
        } catch {error} { 
            // If there's an error, simply return without doing anything
            return; 
        }
        };
    },
  
    // Methods for the component
    methods: {
     
        async uploadAcceptance(event) {
            try {            
            let file = event.target.files[0]
            if (!file) return null;
            if (!(file instanceof Blob)) {
                return;
            };
            this.fileUploading = true;
            const role = this.role + writingPromptShort();            
            const reader = new FileReader();
            reader.readAsArrayBuffer(file);
            const resultPromise = new Promise(async (resolve, reject) => {
                reader.onload = async function (e) {
                    const buffer = e.target.result;
                    const pdf = await pdfjsLib.getDocument(buffer).promise;
                    const numPages = Math.min(pdf.numPages, 4); 
                    const promises = Array.from({ length: numPages }, async (_, i) => {
                    const pageNum = i + 1;
                    console.log(pageNum)
                    const page = await pdf.getPage(pageNum);
                    const textContentObj = await page.getTextContent();
                    page.cleanup();                   
                    return textContentObj.items.map(s => s.str).join(' ').trim();
                    });
                    const resultArray = await Promise.all(promises);
                    const combinedText = resultArray.join(' ');
                    resolve(combinedText);
                };

                reader.onerror = function (e) {
                    reject(null);
                };
            });

            file = null;

            let resultText = await resultPromise; 
            console.log(resultText);
            resultText = convertMultipleSpacesToSingle(resultText);
              const messages = [
                  { role: "system", content: role },
                  { role: "user", content: `Create a top-quality resume which is engaging and sure to get noticed relying on the latest, most up to date resume recommendations using all of the following: "${resultText}".` }
              ];
              //console.log(messages);
            resultText = await getResults(messages,0.4,'gpt-3.5-turbo-16k');
            console.log(resultText);
            this.o.results = resultText;
            this.$emit('my-upload', this.o);
            this.fileUploading = false;
            resultText = null;
        } catch(error) { this.fileUploading = false; return; };
        }

    }
    }
  </script>