<template>
    <v-lazy      
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >    
    <v-progress-circular v-if="fileUploading" color="primary" indeterminate :size="70"></v-progress-circular>    
    <v-file-input v-if="!fileUploading"
        id="fileInput"
        clearable
        show-size 
        rounded
        base-color="primary"
        accept="application/pdf" 
        label="Upload a pdf" hint="Use the content of a pdf file" 
        persistent-hint 
        variant="solo-inverted"
        @change="uploadAcceptance"
    ></v-file-input>
    </v-lazy>   
  </template>
  
  <script>
    module.exports = {
       
        props: {

            o: {
                type: Object,
                required: true
            }

        },
    // Data properties for the component
    data() {
        return {           // Determines if the v-lazy container is active or not
          fileUploading: false,
          chunks: this.o.chunks     // Indicates if a file is currently being uploaded
        }
    },
  
    // Lifecycle hook that is called after the component is mounted to the DOM
    async mounted() {
        //if (this.o.chunks) {
            //this.chunks = true;
            //console.log('chunks!');
        //};   
        //return;
        console.log(this.chunks);
        if (this.o.camera) { 
        try {
            // Check if the user is on a mobile device
            const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
            if (isMobile) {
                // If on mobile, set the file input to capture from the camera
                const fileInput = document.querySelector('v-file-input');
                if (fileInput) {
                    fileInput.setAttribute('capture', 'camera');
                };
            }
        } catch {error} { 
            // If there's an error, simply return without doing anything
            return; 
        }
        };
    },
  
    // Methods for the component
    methods: {
     
        async uploadAcceptance(event) {
            try {            
            let file = event.target.files[0]
            if (!file) return null;
            if (!(file instanceof Blob)) {
                return;
            };
            this.fileUploading = true;
            const reader = new FileReader();
            reader.readAsArrayBuffer(file);
            const resultPromise = new Promise(async (resolve, reject) => {
                reader.onload = async function (e) {
                    const buffer = e.target.result;
                    const pdf = await pdfjsLib.getDocument(buffer).promise;
                    const numPages = Math.min(pdf.numPages, 10); 
                    const promises = Array.from({ length: numPages }, async (_, i) => {
                        const pageNum = i + 1;
                        const page = await pdf.getPage(pageNum);
                        const textContentObj = await page.getTextContent();
                        page.cleanup(); // Free up resources
                        //process individual page
                        console.log(this.chunks);
                        if (this.chunks) {
                            const txt = textContentObj.items.map(s => s.str).join(' ').trim();
                            const messages = [
                                { role: "system", content: this.o.role + ' ' + this.writingShort },
                                { role: "user", content: 'Provide a detailed yet concise summary of the following, leaving out no important details:' + txt }
                            ];
                            console.log(messages);
                            const response = await getResults(messages,0.4);
                            return response.choices[0].text.trim();
                        } else {
                            return textContentObj.items.map(s => s.str).join(' ').trim();
                        };                        
                    });

                    const resultArray = await Promise.all(promises);
                    const combinedText = resultArray.join(' ');
                    resolve(combinedText);
                };

                reader.onerror = function (e) {
                    reject(null);
                };
            });

            file = null;

            let resultText = await resultPromise;
            resultText = resultText.replace(/\s+/g, ' ').trim();  
            console.log(resultText);
            this.o.results = resultText;
            this.$emit('my-upload', this.o);
            this.fileUploading = false;
            resultText = null;
        } catch(error) { this.fileUploading = false; return; };
        }

    }
    }
  </script>