<template>
    <v-lazy      
        :min-height="200"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >    
        <!-- A file input component that is displayed if the 'o' prop is provided. It allows users to select and upload files. -->
        <v-file-input  id="fileInput" class="text-center justify-center" show-size color="primary" rounded outlined clearable accept=".pdf" label="Upload a pdf" hint="Use the content of a pdf file (10 pages or less)" persistent-hint @change="uploadAcceptance" :loading="fileUploading"></v-file-input>
    </v-lazy>   
  </template>
  
  <script>
    module.exports = {
      
    // Data properties for the component
    data() {
        return {        // Determines if the v-lazy container is active or not
          fileUploading: false     // Indicates if a file is currently being uploaded
        }
    },
  
    // Lifecycle hook that is called after the component is mounted to the DOM
    async mounted() {
      try {
        // Check if the user is on a mobile device
        const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
        if (isMobile) {
            // If on mobile, set the file input to capture from the camera
            const fileInput = document.querySelector('v-file-input');
            if (fileInput) {
                fileInput.setAttribute('capture', 'camera');
            };
        }
      } catch {error} { 
        // If there's an error, simply return without doing anything
        return; 
      }
    },
  
    // Methods for the component
    methods: {
     
        async uploadAcceptance(file) {
    if (!file) return null;
    this.fileUploading = true;

    const reader = new FileReader();
    reader.readAsArrayBuffer(file);

    const resultPromise = new Promise(async (resolve, reject) => {
        reader.onload = async function (e) {
            const buffer = e.target.result;
            const pdf = await pdfjsLib.getDocument(buffer).promise;
            const numPages = Math.min(pdf.numPages, 10); // Limit to a maximum of 10 pages

            const promises = Array.from({ length: numPages }, async (_, i) => {
                const pageNum = i + 1;
                const page = await pdf.getPage(pageNum);
                const textContentObj = await page.getTextContent();
                page.cleanup(); // Free up resources
                return textContentObj.items.map(s => s.str).join(' ').trim();
            });

            const resultArray = await Promise.all(promises);
            const combinedText = resultArray.join(' ');
            resolve(combinedText);
        };

        reader.onerror = function (e) {
            reject(null);
        };
    });

    file = null;

    const resultText = await resultPromise;
    const optimizedText = convertMultipleSpacesToSingle(resultText);
    this.$emit('my-upload', optimizedText);
    this.fileUploading = false;
},

        convertMultipleSpacesToSingle(str) {
            return str.replace(/\s+/g, ' ').trim();
        }

    }
    }
  </script>