<template>
    <v-lazy v-if="key"      
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >

    </v-lazy>
</template>
<script>
export default {

    props: {

        key: {
            type: String
        }

    },

    data() {
      return {
        selectedQuote: getRandomQuoteFromArray(this.deliverable.quotes)
      };
    },

    async mounted() {
       
    },

    methods: { 
         
    }
}
</script>