<template>
    <v-lazy v-if="previousSessions"      
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >
        <v-autocomplete>

        </v-autocomplete>
    </v-lazy>
</template>
<script>
export default {

    props: {

        key: {
            type: String
        },

        dataName: {
            type: String,
            re
        }

    },

    computed: {

        previousSessions() {

        }
    },

    async mounted() {
       
    },

    methods: { 
         
    }
}
</script>