<template>
    <v-lazy       
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >
        <v-autocomplete v-if="previousSessions" :items="previousSessions" v-model.lazy="o" clearable rounded variant="outlined" density="comfortable" ripple class="mx-auto" label="Revisit your previous sessions" hint="Revisit your previous sessions" persistent-hint return-object item-title="description" item-value="session" @change="emitResults">
        </v-autocomplete>
    </v-lazy>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    data() {
        return {
            previousSessions: null
        }
    },

    async mounted() {
        console.log('sessions mounted');
        console.log(this.o);
        try {
            if (this.o.session&&this.o.description) {
                await saveEntity(this.o);
                this.o = {};
            };
            let res = alasql("SELECT * FROM notes WHERE session IS NOT NULL AND description IS NOT NULL AND description <> '' ORDER BY DATE(mod) DESC");
            console.log(res);
            if (res&&res.length > 1) { 
                res = alasql("SELECT * FROM ? GROUP BY description",[res]);
                if (res&&res.length > 1) {
                    
                }
                res = null;
                console.log(this.previousSessions);
            };
        } catch (error) { return null; };            
        return null; 
    },

    methods: { 

        async emitResults() {
            if (this.o&&this.o.description) {
                this.$emit('my-session', this.o);
                return;
            };
            this.$emit('my-session', {}); 
        }
         
    }
}
</script>