<template>
    <v-lazy v-if="previousSessions"      
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >
        <v-autocomplete :items="previousSessions" v-model="session">

        </v-autocomplete>
    </v-lazy>
</template>
<script>
export default {

    props: {

        session: {
            type: String,
            required: true
        },

        dataName: {
            type: String,
            required: true
        }

    },

    data() {
                return {
                    o: {},
                    session: null,
                    loading: false,
                    deliverable: null,
                    showFavorites: false,
                    favorites: null,
                    note: null,
                    isListening: false,
                    loading: false,
                    isSupported: true,
                    selectedQuote: null
                }
            },

    computed: {

        previousSessions() {
            const res = alasql("SELECT * FROM notes WHERE session IS NOT NULL AND description IS NOT NULL ORDER BY DATE(mod) DESC");
            if (res&&res.length > 0) { 
                return alasql("SELECT * FROM ? GROUP BY description",[res]);
            };
            return null; 
        }
    },

    async mounted() {
       
    },

    methods: { 
         
    }
}
</script>