<template>
    <v-lazy v-if="previousSessions"      
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >
        <v-autocomplete :items="previousSessions" v-model="o" rounded class="mx-auto" label="dataName" hint="Revisit your previous sessions" persistent-hint return-object item-text="description" item-value="session">

        </v-autocomplete>
    </v-lazy>
</template>
<script>
export default {

    props: {

        session: {
            type: String,
            required: true
        },

        dataName: {
            type: String,
            required: true
        }

    },

    data() {
        return {
            o: {},
        }
    },

    computed: {

        previousSessions() {
            const res = alasql("SELECT * FROM notes WHERE session IS NOT NULL AND description IS NOT NULL ORDER BY DATE(mod) DESC");
            if (res&&res.length > 0) { 
                return alasql("SELECT * FROM ? GROUP BY description",[res]);
            };
            return null; 
        }
    },

    async mounted() {
       
    },

    methods: { 
         
    }
}
</script>