<template>
    <v-lazy v-if="previousSessions"      
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >
        <v-autocomplete :items="previousSessions" v-model.lazy="o" clearable rounded variant="outlined" density="comfortable" ripple class="mx-auto" label="Revisit your previous sessions" hint="Revisit your previous sessions" persistent-hint return-object item-title="description" item-value="session" @change="emitResults">
        </v-autocomplete>
    </v-lazy>
</template>
<script>
export default {

    props: {

        session: {
            type: String,
            required: true
        }

    },

    data() {
        return {
            o: {},
        }
    },

    computed: {

        previousSessions() {
            try {
                const res = alasql("SELECT * FROM notes WHERE session IS NOT NULL AND description IS NOT NULL AND description <> '' ORDER BY DATE(mod) DESC");
                if (res&&res.length > 1) { 
                    
                    return alasql("SELECT * FROM ? GROUP BY description",[res]);
                };
            } catch (error) { return null; };            
            return null; 
        }
    },

    methods: { 

        async emitResults() {
            if (this.o&&this.o.description) {
                this.$emit('my-session', this.o);
                return;
            };
            this.$emit('my-session', {}); 
        }
         
    }
}
</script>