<template>
    <v-lazy v-if="previousSessions"      
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >
        <v-autocomplete>

        </v-autocomplete>
    </v-lazy>
</template>
<script>
export default {

    props: {

        session: {
            type: String,
            
        },

        dataName: {
            type: String,
            required: true
        }

    },

    computed: {

        previousSessions() {
            let res = alasql("SELECT * FROM notes WHERE session IS NOT NULL AND mission IS NOT NULL AND position IS NOT NULL ORDER BY DATE(mod) DESC");
            if (res&&res.length > 0) { 
                return alasql("SELECT * FROM ? GROUP BY position",[res]);
            };
            return null; 
        }
    },

    async mounted() {
       
    },

    methods: { 
         
    }
}
</script>