<template>
    <v-lazy v-if="key"      
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >

    </v-lazy>
</template>
<script>
export default {

    props: {

        key: {
            type: String
        }

    },

    data() {
      return {
        selectedQuote: getRandomQuoteFromArray(this.deliverable.quotes),
        quoteInterval: setInterval(this.changeQuote, 4500)
      };
    },

    async mounted() {
       
    },

    methods: { 
             
        async copyToClipboard() {
            copyClipboard(this.deliverable.results);
            alert('Use CTRL + V to paste this deliverable from your clipboard');
        }
    }
}
</script>

<style scoped>
.overlay-container {
    width: 100%;
    height: 85%;
    overflow: auto;
}

.overlay-card {
    width: 100%;
    height: 85%;
    margin: auto;
}

.overlay-title {
    font-size: 1.5em;
    font-weight: bold;
}

.overlay-subtitle {
    font-size: 1.2em;
}

.overlay-content {
    overflow-y: auto;
    max-height: 90vh;
}

.result-text {
    font-size: 1.1em;
    white-space: pre-wrap;
    word-wrap: break-word;
}
</style>