<template>
    <v-lazy v-if="deliverable"      
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >
    </v-lazy>
</template>
<script>
export default {

    props: {

        key: {
            type: Object,
            required: true
        }

    },

    data() {
      return {
        selectedQuote: getRandomQuoteFromArray(this.deliverable.quotes),
        quoteInterval: setInterval(this.changeQuote, 4500)
      };
    },

    async mounted() {
        let txt = "You will create an " + this.deliverable.type + " (" +this.deliverable.description + ").";
        if (this.deliverable.action) { 
            txt = txt + ' ' + this.deliverable.action;
        };
        const messages = [
            { role: "system", content: this.deliverable.role },
            { role: "user", content: txt + " Your creation will only be returned as a single, well-formed JSON object in the following format: {results: 'formatted text of request result'}. " + writingPrompt() }
        ];
        txt = null;
        try {
            const result = await Promise.race([
                getResults(messages, 0.4),
                new Promise((_, reject) => setTimeout(() => reject(new Error('Request timed out after 45 seconds')), 35000))
            ]);                      
            if (result && result.results) {
                this.deliverable.results = result.results;
                result = null;
            };
            this.stopQuotes();
        } catch (error) {
            this.stopQuotes();
            this.deliverable.results = 'This request has become way too slow! Try again please!';
        }
    },

    methods: { 
             
        async stopQuotes() {
            this.selectedQuote = null;
            clearInterval(this.quoteInterval);
            this.quoteInterval = null;                  
        },

        async changeQuote() {
            this.selectedQuote = getRandomQuote(this.deliverable.quotes);
        },

        async shareDeliverable() {
            if (navigator.share) {
                const shareData = {
                    title: this.deliverable.type + ': ' + this.deliverable.terms.type + ' ' + this.deliverable.v,
                    text: this.deliverable.results,
                    url: this.deliverable.url
                };
                navigator.share(shareData);
            }; 
        },

        async copyToClipboard() {
            copyClipboard(this.deliverable.results);
            alert('Use CTRL + V to paste this deliverable from your clipboard');
        }
    }
}
</script>

<style scoped>
.overlay-container {
    width: 100%;
    height: 85%;
    overflow: auto;
}

.overlay-card {
    width: 100%;
    height: 85%;
    margin: auto;
}

.overlay-title {
    font-size: 1.5em;
    font-weight: bold;
}

.overlay-subtitle {
    font-size: 1.2em;
}

.overlay-content {
    overflow-y: auto;
    max-height: 90vh;
}

.result-text {
    font-size: 1.1em;
    white-space: pre-wrap;
    word-wrap: break-word;
}
</style>