<template>
    <v-container class="text-center justify-center px-4 mx-2 my-2" transition="fab-transition">
        <v-progress-linear elevation="20" color="primary" indeterminate height="70" class="py-4 text-center justify-center text-white font-weight-black">
        <span class="pa-1">{{ selectedQuote }}</span>
        </v-progress-linear>
    </v-container>
</template>
<script>
export default {

    data() {
        return {
            selectedQuote: '',
            quoteInterval: null
        }
    },

    created() {
        this.quotesArray = ["Thinkin of losin' that funky feelin' don't. Cause you got to use just what you got to get just what you want. ― James Brown","The present is a gift. That's why they call it present. ― Jimmy Cliff","Time isn't holding us. Time isn't after us. ― David Byrne","Life is like riding a bicycle. To keep your balance, you must keep moving. ― Albert Einstein","Don’t give in to your fears. If you do, you won’t be able to talk to your heart. ― Paulo Coelho","Don’t fear failure. Not failure, but low aim, is the crime. In great attempts, it is glorious even to fail. ― Bruce Lee","Obstacles do not block the path. They are the path. ― Zen proverb","There are no passengers on spaceship earth. We are all crew. ― Marshall Mcluhan","We’re all just walking each other home. ― Ram Dass","Sometimes the questions are complicated and the answers are simple. ― Dr. Seuss","We are here to laugh at the odds and live our lives so well that Death will tremble to take us. ― Charles Bukowski","If the only thing it requires to make things happen is that you stop talking and start doing, then life is simple. ― Jose Andres","Wherever there is a fight so hungry people may eat, I will be there. ― John Steinbeck"];
        this.quotesArrayLength = this.quotesArray.length;
        this.changeQuote();              
        this.quoteInterval = setInterval(this.changeQuote, 4500); 
    },

    methods: {

        async changeQuote() {
            const x = Math.floor(Math.random() * this.quotesArrayLength);
            this.selectedQuote = this.quotesArray[x];
        }  

    }
}
</script>