<template>
    <div class="d-inline-flex align-center">
      <v-btn v-if="!pageCheck.includes('fundmagnet.html')" ripple variant="tonal" elevation="6" class="mx-1" color="primary" title="Click here to see related funding opportunities" icon="mdi-magnet" @click="openLink('fundmagnet.html')"></v-btn>
      <v-btn v-if="!pageCheck.includes('benefitsgps.html')" ripple variant="tonal" elevation="6" class="mx-1" color="primary" title="Click here to see related resources" icon="mdi-crosshairs-gps" @click="openLink('benefitsGPS.html')"></v-btn>
      <v-btn v-if="!pageCheck.includes('media.html')" ripple variant="tonal" elevation="6" class="mx-1" color="primary" title="Click here to get media advice" icon="mdi-message-alert" @click="openLink('media.html')"></v-btn>
      <v-btn v-if="!pageCheck.includes('xsbrt.html')" ripple variant="tonal" elevation="6" class="mx-1" color="primary" title="Click here to get expert advice on this" icon="mdi-lightbulb-on-outline" @click="openLink('xsbrt.html')"></v-btn>
      <v-btn v-if="!pageCheck.includes('xsbrt.html')" ripple variant="tonal" elevation="6" class="mx-1" color="primary" title="Click here to get expert advice on this" icon="mdi-lightbulb-on-outline" @click="openLink('xsbrt.html')"></v-btn>
    </div>
  </template>
  
  <script>
  export default {
      props: {
          description: {
              type: String,
              required: true
          },

          pageInfo: {
              type: String,
              required: true
          }
      },
  
      data() {
          return {
              localDescription: this.description,
              pageCheck: this.pageInfo.trim().toLowerCase()
          };
      },
  
      async mounted() {
          this.localDescription = decodeURIComponent(this.localDescription).trim();          
      },
  
      methods: { 
          openLink(it) {           
              window.open(`https://xsbrt.com/${it}?d=${encodeURIComponent(this.localDescription)}`, '_parent');
          }       
      }
  }
  </script>
  