<template>
    <div class="d-inline-flex align-center">
      <v-btn v-if="!pageInfo.includes('fundmagnet.html')" ripple variant="tonal" elevation="6" class="mx-1" color="primary" title="Click here to see related funding opportunities" icon="mdi-magnet" @click="openLink('fundmagnet.html')"></v-btn>
      <v-btn v-if="!pageInfo.includes('benefitsGPS.html')" ripple variant="tonal" elevation="6" class="mx-1" color="primary" title="Click here to see related resources" icon="mdi-crosshairs-gps" @click="openLink('benefitsGPS.html')"></v-btn>
      <v-btn !pageInfo.includes('fundmagnet.html') ripple variant="tonal" elevation="6" class="mx-1" color="primary" title="Click here to get expert advice on this" icon="mdi-lightbulb-on-outline" @click="openLink('xsbrt.html')"></v-btn>
    </div>
  </template>
  
  <script>
  export default {
      props: {
          description: {
              type: String,
              required: true
          }
      },
  
      data() {
          return {
              localDescription: this.description,
              pageInfo: new URL(document.location).pathname
          };
      },
  
      async mounted() {
          this.localDescription = decodeURIComponent(this.localDescription).trim();          
      },
  
      methods: { 
          openLink(it) {           
              window.open(`https://xsbrt.com/${it}?d=${encodeURIComponent(this.localDescription)}`, '_self');
          }       
      }
  }
  </script>
  