<template>
    <span class="text-center justify-center">
        <v-btn ripple variant="tonal" elevation="6" class="mx-2" color="primary" title="Click here to see related funding opportunities" icon="mdi-magnet" @click="openLink('fundmagnet.html')"" style="display: inline-block;">
        </v-btn>
        <v-btn ripple variant="tonal" elevation="6" class="mx-2" color="primary" title="Click here to see related resources" icon="mdi-crosshairs-gps" @openLink="benefitsGPS.html" style="display: inline-block;">
        </v-btn>
        <v-btn ripple variant="tonal" elevation="6" class="mx-2" color="primary" title="Click here to get expert advice on this" icon="mdi-lightbulb-on-outline" @openLink="xsbrt.html" style="display: inline-block;">
        </v-btn>
    </span>
</template>
<script>
export default {

    props: {

        description: {
            type: String,
            required: true
        }

    },

    methods: { 

        async openLink(it) {           
            window.open("https://xsbrt.com/" + it + "?d=" + this.description.trim(),'_self');
        }       
         
    }
}
</script>