<template>
    <v-lazy       
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >
        <v-row>
            <v-col cols="auto">
                <v-btn ripple variant="tonal" size="large" elevation="6" class="mx-2" color="primary" title="Click here to copy to your clipboard" icon="mdi-content-copy" @click="clip" style="display: inline-block;">
                </v-btn>
                <v-btn ripple variant="tonal" size="large" elevation="6" class="mx-2" color="primary" title="Click here to share" icon="mdi-share" @click="share" style="display: inline-block;">
                </v-btn>
                <v-btn ripple variant="tonal" size="large" elevation="6" class="mx-2" color="primary" title="Click here to download" icon="mdi-download" @click="downloadAsTxt" style="display: inline-block;">
                </v-btn>
            </v-col>           
        </v-row>
    </v-lazy>
</template>
<script>
export default {

    props: {

        description: {
            type: String,
            required: true
        }

    },

    methods: { 

        async openLink(it) {
            if (this.description) 
        }       
         
    }
}
</script>