<template>
    <div class="inline-block">
        <v-btn ripple variant="tonal" elevation="6" class="mx-1" color="primary" title="Click here to see related funding opportunities" icon="mdi-magnet" @click="openLink('fundmagnet')">
        </v-btn>
        <v-btn ripple variant="tonal" elevation="6" class="mx-1" color="primary" title="Click here to see related resources" icon="mdi-crosshairs-gps" @click="openLink('benefitsGPS')" >
        </v-btn>
        <v-btn ripple variant="tonal" elevation="6" class="mx-1" color="primary" title="Click here to get expert advice on this" icon="mdi-lightbulb-on-outline" @click="openLink('xsbrt')"  style="display: inline-block;">
        </v-btn>
    </div>
</template>
<script>
export default {

    props: {

        description: {
            type: String,
            required: true
        }

    },

    methods: { 

        async openLink(it) {           
            window.open("https://xsbrt.com/" + it + ".html?d=" + this.description.trim(),'_self');
        }       
         
    }
}
</script>