<template>
    <div class="d-inline-flex align-center">
      <v-btn ripple variant="tonal" elevation="6" class="mx-1" color="primary" title="Click here to see related funding opportunities" icon="mdi-magnet" @click="openLink('fundmagnet.html')"></v-btn>
      <v-btn ripple variant="tonal" elevation="6" class="mx-1" color="primary" title="Click here to see related resources" icon="mdi-crosshairs-gps" @click="openLink('benefitsGPS.html')"></v-btn>
      <v-btn ripple variant="tonal" elevation="6" class="mx-1" color="primary" title="Click here to get expert advice on this" icon="mdi-lightbulb-on-outline" @click="openLink('xsbrt.html')"></v-btn>
    </div>
  </template>
  
  <script>
  export default {
      props: {
          description: {
              type: String,
              required: true
          }
      },
  
      data() {
          return {
              // Create a local copy of the description prop
              localDescription: this.description,
              fundmagnet: true,
              benefitsGPS: true,
              xsbrt: true
          };
      },
  
      mounted() {
          // Use the local copy instead of directly mutating the prop
          this.localDescription = decodeURIComponent(this.localDescription).trim();
          const pageInfo = new URL(document.location).pathn;
          console.log(pageInfo);
      },
  
      methods: { 
          openLink(it) {           
              window.open(`https://xsbrt.com/${it}?d=${encodeURIComponent(this.localDescription)}`, '_self');
          }       
      }
  }
  </script>
  