<template>
    <v-container class="inline-block" fluid>
        <v-btn ripple variant="tonal" style="display: inline-block" elevation="6" class="mx-1" color="primary" title="Click here to see related funding opportunities" icon="mdi-magnet" @click="openLink('fundmagnet.html')">
        </v-btn>
        <v-btn ripple variant="tonal" style="display: inline-block" elevation="6" class="mx-1" color="primary" title="Click here to see related resources" icon="mdi-crosshairs-gps" @click="openLink('benefitsGPS.html')">
        </v-btn>
        <v-btn ripple variant="tonal" elevation="6" class="mx-1" color="primary" title="Click here to get expert advice on this" icon="mdi-lightbulb-on-outline" @click="openLink('xsbrt.html')">
        </v-btn>
    </v-container>
</template>
<script>
export default {

    props: {

        description: {
            type: String,
            required: true
        }

    },

    methods: { 

        async openLink(it) {           
            window.open("https://xsbrt.com/" + it + "?d=" + this.description.trim(),'_self');
        }       
         
    }
}
</script>