<template>
    <v-container v-if="description">
        <v-btn ripple variant="tonal" size="large" elevation="6" class="mx-2" color="primary" title="Click here to copy to your clipboard" icon="mdi-content-copy" @click="clip" style="display: inline-block;">
                </v-btn>
                <v-btn ripple variant="tonal" size="large" elevation="6" class="mx-2" color="primary" title="Click here to share" icon="mdi-share" @click="share" style="display: inline-block;">
                </v-btn>
                <v-btn ripple variant="tonal" size="large" elevation="6" class="mx-2" color="primary" title="Click here to download" icon="mdi-download" @click="downloadAsTxt" style="display: inline-block;">
                </v-btn>
    </v-container>
</template>
<script>
export default {

    props: {

        description: {
            type: String,
            required: true
        }

    },

    async mounted() {
        if (!this.description||this.description.length < 5) {
           return;
        };
    },

    methods: { 

        async openLink(it) {
           
            window.open(it + "?d=" + this.description.trim(),'_self');
        }       
         
    }
}
</script>