<template>
    <v-container>

    </v-container>
</template>
<script>
export default {

    props: {

        description: {
            type: String,
            required: true
        }

    },

    async mounted() {
        if (!this.description||this.description.length < 5) {
           return;
        };
    },

    methods: { 

        async openLink(it) {
           
            window.open(it + "?d=" + this.description.trim(),'_self');
        }       
         
    }
}
</script>