<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="IE=edge" />
  <meta name="robots" content="index,follow" />
  <meta http-equiv="CACHE-CONTROL" content="Public" />
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta name="bingbot" content="index, follow">
  <title>Relief</title>
  <meta name="description" content="Track Performance Evaluator is an advanced web-based tool designed to analyze track and field athletes' performances. Get detailed insights on age group classifications, performance metrics, and scholarship projections. Ideal for athletes, coaches, and recruiters.">
  <meta name="keywords" content="track and field performance analysis, athlete performance evaluator, track event insights, field event performance, athlete scholarship projections, sports performance tracking, track athlete analysis, youth track and field, athletic performance tools">
  <meta name="google-adsense-account" content="ca-pub-4654076039664824">
  <meta property="og:title" content="Track Performance Evaluator | Analyze Track & Field Athletes' Performances">
  <meta property="og:description" content="Track Performance Evaluator provides in-depth analysis of track and field athletes’ performances. Perfect for athletes, coaches, and recruiters seeking insights on event results, progression, and scholarship projections.">
  <meta property="og:url" content="https://xsbrt.com/trackPerformance">
  <meta property="og:type" content="website">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.js"></script>
  <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script> 
  <style>
    /* CSS for masonry layout */
    .masonry {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Column width */
      grid-auto-rows: 10px; /* Base row height */
      gap: 20px; /* Gap between items */
      padding: 20px;
    }

    .news-item {
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2em;
      color: #333;
    }

    /* Dynamic row heights */
    .news-item:nth-child(odd) {
      grid-row: span 15;
    }

    .news-item:nth-child(even) {
      grid-row: span 10;
    }

    .news-item:hover {
      transform: translateY(-5px);
    }

    .headline {
  font-size: 24px;
  font-weight: bold;
}

/* Expanded content container */
.expanded-content {
  background-color: white; /* Solid white background */
  padding: 16px;
  
  /* Position it fixed to cover the entire screen */
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 95vh;
  
  /* Make sure it appears above other content */
  z-index: 9999;

  /* Allow scrolling if content is larger than the viewport */
  overflow-y: auto;
  
  /* Smooth transition for closing */
  transition: all 0.2s ease;
}

/* Ensure the button doesn't shrink */
.v-btn {
  margin-top: 16px;
}
  </style>
</head>
<body>
  <div id="app">
    <v-app>
      <v-container v-if="result" fluid class="masonry"> 
            <v-card v-for="it in result" :key="it.id" class="news-item" link ripple :style="{'background-color': getRandomLightColor()}" @click="openCard(it)">
                <v-card-title>{{it.fields.title}}</v-card-title>                
            </v-card>
            <!-- Expanded area for full content -->
            <v-expand-transition>
              <v-card v-if="openedCardId" class="pa-4 expanded-content elevation-16">
                <v-card-title class="d-flext align-center justify-center">{{openedCardId.fields.title}}</v-card-title> 
                <v-card-actions class="d-flex align-center justify-center">
                  <v-btn fab class="elevation-8" title="Close this entry" @click.stop="closeCard"><v-icon color="red">mdi-close-circle-outline</v-icon></v-btn>
                  <v-btn fab class="elevation-8" title="Share this entry"><v-icon>mdi-share-variant</v-icon></v-btn>
                </v-card-actions>
                <v-card-text class="text-left">                  
                  <v-row justify="center">
                    <v-expansion-panels accordion>
                      <v-expansion-panel>
                        <v-expansion-panel-header>Description</v-expansion-panel-header>
                        <v-expansion-panel-content>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </v-expansion-panel-content>
                      </v-expansion-panel>
                    </v-expansion-panels>
                  </v-row>
                </v-card-text>
            </v-card>
          </v-expand-transition>
      </v-container>
    </v-app>
  </div>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          openedCardId: null,
          loading: false,
          result: null
        };
      },

      computed: {
       
      },

      async mounted() {
        this.evaluatePerformance();
      },

      methods: {

        openCard(cardId) {
          this.openedCardId = cardId;

          // Push a new state into the history so we can listen for back button
          //window.history.pushState({ cardId }, '', `#card-${cardId}`);

          // Handle the back button event
          //window.onpopstate = this.handleBackButton;
        },

        closeCard() {
          this.openedCardId = null;
          //window.history.back(); // Go back to the previous state (if opened by card click)
        },
        handleBackButton() {
          this.openedCardId = null; // Close the card when the back button is pressed
        },
      beforeDestroy() {
        //window.onpopstate = null; // Clean up the back button event listener when the component is destroyed
      },

        getRandomLightColor() {
            const r = Math.floor(200 + Math.random() * 55); // Generate light red
            const g = Math.floor(200 + Math.random() * 55); // Generate light green
            const b = Math.floor(200 + Math.random() * 55); // Generate light blue
            return `rgb(${r}, ${g}, ${b})`;
        },

        async evaluatePerformance() {
          this.noResult = false;
          this.loading = true;
          this.result = null;
          //https://apidoc.reliefweb.int/swagger.yaml

         
          const workerUrl = 'https://api.reliefweb.int/v1/reports?appname=xsbrt&limit=500&preset=analysis&fields[include][]=body&sort[]=date.created:desc'; // Replace with your actual worker URL

          try {
            const response = await fetch(workerUrl, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                Referer: window.location.origin,
              }
            });

            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }

            const data = await response.json();
            this.result = data.data;
            console.log(this.result);
          } catch (error) {
            console.error('Error fetching performance data:', error);
            this.noResult = true;
          } finally {
            this.loading = false;
          }
        },
        async shareResults() {
          try {
            if (navigator.share) {
              const queryString = new URLSearchParams({
                gender: this.gender,
                dob: this.dob,
                event: this.event,
                timeOrMark: this.timeOrMark
              }).toString();
              await navigator.share({
                title: 'Track Performance',
                text: 'Check out this performance!',
                url: `https://xsbrt.com/trackPerformance/?${queryString}`
              });
            }
          } catch (e) {
            return;
          }
        }
      }
    });
  </script>
</body>
</html>