<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="IE=edge" />
  <meta name="robots" content="index,follow" />
  <meta http-equiv="CACHE-CONTROL" content="Public" />
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta name="bingbot" content="index, follow">
  <title>Relief</title>
  <meta name="description" content="Track Performance Evaluator is an advanced web-based tool designed to analyze track and field athletes' performances. Get detailed insights on age group classifications, performance metrics, and scholarship projections. Ideal for athletes, coaches, and recruiters.">
  <meta name="keywords" content="track and field performance analysis, athlete performance evaluator, track event insights, field event performance, athlete scholarship projections, sports performance tracking, track athlete analysis, youth track and field, athletic performance tools">
  <meta name="google-adsense-account" content="ca-pub-4654076039664824">
  <meta property="og:title" content="Track Performance Evaluator | Analyze Track & Field Athletes' Performances">
  <meta property="og:description" content="Track Performance Evaluator provides in-depth analysis of track and field athletes’ performances. Perfect for athletes, coaches, and recruiters seeking insights on event results, progression, and scholarship projections.">
  <meta property="og:url" content="https://xsbrt.com/trackPerformance">
  <meta property="og:type" content="website">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.js"></script>
  <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script> 
  <style>
    /* CSS for masonry layout */
    .masonry {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Column width */
      grid-auto-rows: 10px; /* Base row height */
      gap: 20px; /* Gap between items */
      padding: 20px;
    }

    .news-item {
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2em;
      color: #333;
    }

    /* Dynamic row heights */
    .news-item:nth-child(odd) {
      grid-row: span 15;
    }

    .news-item:nth-child(even) {
      grid-row: span 10;
    }

    .news-item:hover {
      transform: translateY(-5px);
    }
  </style>
</head>
<body>
  <div id="app">
    <v-app>
      <v-container>
        <!-- Title and Intro Section -->
        <v-card flat tile class="text-center justify-center">
          <v-card-title class="primary--text text-center justify-center d-flex mt-2" headline>
            <v-icon large class="pb-1 pr-1" color="primary">mdi-run</v-icon>
            Relief
          </v-card-title>

          <v-card-text>
            <p class="mb-4 text-center">Input athlete (ages 7 to 18) details to receive insights on performance, age group classification, etc., based on the recent data from various sources. Results may vary.
              <div><b class="primary--text">REMEMBER:</b> There are <span class="primary--text">NO</span> elite age group athletes.</p></div>
            

                <v-col cols="12" xs="12" sm="12" md="3" lg="3" class="align-center">
                  <v-text-field
                    label="Time/Mark (meters)"
                    v-model="timeOrMark"
                    placeholder="e.g., 12.43 or 1:21 for time or 5.12 for distance (meters)"
                    hint="e.g., 12.43 or 1:21 for time or 5.12 for distance (meters)"
                    prepend-inner-icon="mdi-timer"
                    clearable 
                    rounded 
                    outlined 
                    dense
                    ripple
                    required
                    :error-messages="timeOrMarkError"
                  ></v-text-field>
                </v-col>

                <v-col v-if="gender&&dob&&event&&timeOrMark" cols="12" class="text-center">
                  <v-btn type="submit" color="primary" x-large class="white--text" rounded elevation="16" :loading="loading">Evaluate</v-btn>
                  <v-btn v-if="result" fab elevation="16" class="ml-1" ripple title="Click to share results" @click="shareResults"><v-icon color="primary">mdi-share</v-icon></v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
        </v-card>

        <!-- Masonry Layout Section for News Posts -->
        <v-card flat tile class="text-center justify-center mt-4">
          <v-card-title class="primary--text text-center justify-center d-flex mt-2" headline>
            Latest News
          </v-card-title>

          <div class="masonry">
            <!-- Example news items -->
            <div class="news-item">News Item 1</div>
            <div class="news-item">News Item 2</div>
            <div class="news-item">News Item 3</div>
            <div class="news-item">News Item 4</div>
            <div class="news-item">News Item 5</div>
            <div class="news-item">News Item 6</div>
            <div class="news-item">News Item 7</div>
            <div class="news-item">News Item 8</div>
            <div class="news-item">News Item 9</div>
          </div>
        </v-card>
      </v-container>
    </v-app>
  </div>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          gender: '',
          dob: '',
          event: '',
          timeOrMark: '',
          timeOrMarkError: '',
          menu: false,
          dobError: '',
          events: [
            '55m',
            '60m',
            '100m',
            '200m',
            '300m',
            '400m',
            '800m',
            '1500m',
            '3000m',
            '5000m',
            '110m Hurdles',
            '400m Hurdles',
            'High Jump',
            'Pole Vault',
            'Long Jump',
            'Triple Jump',
            'Shot Put',
            'Discus Throw',
            'Hammer Throw',
            'Javelin Throw'
          ].sort(),
          loading: false,
          result: null,
          noResult: false
        };
      },

      watch: {
        timeOrMark(value) {
          this.validateTimeOrMark(value);
        },
      },

      computed: {
        minDob() {
          const currentYear = new Date().getFullYear();
          const minYear = currentYear - 7;
          return new Date(minYear, 11, 31);
        },
        maxDob() {
          const currentYear = new Date().getFullYear();
          const maxYear = currentYear - 18;
          return new Date(maxYear, 0, 1);
        }
      },

      methods: {
        validateTimeOrMark(value) {
          const regex = /^(\d{1,2}\.\d{1,2}|\d{1,2}:\d{2})$/;
          if (!value.match(regex)) {
            this.timeOrMarkError = 'Invalid format. Use 12.43, 1:21, or 5.12';
          } else {
            this.timeOrMarkError = '';
          }
        },
        validateDob() {
          if (!this.dob) {
            this.dobError = 'Date of Birth is required';
            return;
          }
          const selectedDate = new Date(this.dob);
          const minDate = this.minDob;
          const maxDate = this.maxDob;

          if (selectedDate > minDate || selectedDate < maxDate) {
            this.dobError = 'Athlete must be between 7 and 18 years old by December 31st of this year.';
          } else {
            this.dobError = '';
          }
          this.menu = false;
        },
        allowedDates(val) {
          const selectedDate = new Date(val);
          const minDate = this.minDob;
          const maxDate = this.maxDob;
          return selectedDate <= minDate && selectedDate >= maxDate;
        },
        async evaluatePerformance() {
          this.noResult = false;
          this.loading = true;
          this.result = null;

          const athleteData = {
            gender: this.gender,
            date_of_birth: this.dob,
            event: this.event,
            time_or_mark: this.timeOrMark,
          };

          const workerUrl = 'https://track-performance.xsbrt.workers.dev/'; // Replace with your actual worker URL

          try {
            const response = await fetch(workerUrl, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                Referer: window.location.origin,
              },
              body: JSON.stringify(athleteData),
            });

            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }

            const data = await response.json();
            this.result = data;
          } catch (error) {
            console.error('Error fetching performance data:', error);
            this.noResult = true;
          } finally {
            this.loading = false;
          }
        },
        async shareResults() {
          try {
            if (navigator.share) {
              const queryString = new URLSearchParams({
                gender: this.gender,
                dob: this.dob,
                event: this.event,
                timeOrMark: this.timeOrMark
              }).toString();
              await navigator.share({
                title: 'Track Performance',
                text: 'Check out this performance!',
                url: `https://xsbrt.com/trackPerformance/?${queryString}`
              });
            }
          } catch (e) {
            return;
          }
        }
      }
    });
  </script>
</body>
</html>