<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="IE=edge" />
  <meta name="robots" content="index,follow" />
  <meta http-equiv="CACHE-CONTROL" content="Public" />
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta name="bingbot" content="index, follow">
  <title>Advanced Humanitarian Data Analysis Tool | Expert Cost-Benefit Insights and Policy Recommendations</title>
  <meta name="description" content="Leverage in-depth cost-benefit analysis using data from ReliefWeb, the leading humanitarian information service. Get expert policy recommendations and data-driven insights tailored for decision-makers and analysts.">
  <meta name="keywords" content="humanitarian data analysis, cost-benefit analysis, ReliefWeb data, policy recommendations, economic analysis, humanitarian crises, decision-making tools, data-driven insights, disaster response, global humanitarian information">
  <meta property="og:title" content="Advanced Humanitarian Data Analysis Tool | Expert Cost-Benefit Insights and Policy Recommendations">
  <meta property="og:description" content="Analyze humanitarian data from ReliefWeb and get actionable cost-benefit insights and policy recommendations. Ideal for decision-makers in the humanitarian sector.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://xsbrt.com/relief.html">
  <meta name="twitter:title" content="Humanitarian Data Analysis Tool | Policy Recommendations and Insights">
  <meta name="twitter:description" content="Perform advanced cost-benefit analysis using ReliefWeb's global humanitarian data. Drive effective decision-making with data-driven insights.">
  <meta name="google-adsense-account" content="ca-pub-4654076039664824">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.js"></script>
  <style>
    html {
      scroll-behavior: smooth;
    }
    /* CSS for masonry layout */
    .masonry {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Column width */
      grid-auto-rows: 10px; /* Base row height */
      gap: 20px; /* Gap between items */
      padding: 20px;
    }

    .news-item {
      padding: 24px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3em;
      color: #111;
    }

    /* Dynamic row heights */
    .news-item:nth-child(odd) {
      grid-row: span 15;
    }

    .news-item:nth-child(even) {
      grid-row: span 10;
    }

    .news-item:hover {
      transform: translateY(-5px);
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }

    .headline {
  font-size: 24px;
  font-weight: bold;
}

/* Expanded content container */
.expanded-content {
  background-color: white; /* Solid white background */
  padding: 16px;
  
  /* Position it fixed to cover the entire screen */
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  
  /* Make sure it appears above other content */
  z-index: 9999;

  /* Allow scrolling if content is larger than the viewport */
  overflow-y: auto;
  
  /* Smooth transition for closing */
  transition: all 0.2s ease;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Ensure the button doesn't shrink */
.v-btn {
  margin-top: 16px;
}
@media print {
  /* Hide everything by default */
  body * {
    visibility: hidden;
  }

  /* Make only the print-section visible */
  .print-section, 
  .print-section * {
    visibility: visible;
  }

  /* Ensure the print-section is positioned correctly */
  .print-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto; /* Ensures it can expand fully */
    overflow: visible; /* Ensures content isn't clipped */
  }

  /* Prevent breaking inside the cards */
  .v-card {
    page-break-inside: avoid;
  }

  /* Optional: Force a page break after the cards (if needed for long content) */
  .v-card + .v-card {
    page-break-before: always;
  }
}
  </style>
</head>
<body>
  <div id="app">
    <v-app>
      <v-container v-if="result" fluid class="align-center justify-center text-center">
        <h3 class="pt-2">Advanced Humanitarian Data Analysis Tool | Expert Cost-Benefit Insights and Policy Recommendations</h3>
        <v-btn small fab ripple title="About this site" @click="about=!about"><v-icon color="black">mdi-information</v-icon></v-btn>
        <v-expand-transition>
          <v-card v-if="about" flat tile class="my-2">
            <v-card-title class="d-flex text-center align-center justify-center">About This Tool</v-card-title>
            <v-card-text class="text-left">
              <p>The Advanced Humanitarian Data Analysis Tool is a cutting-edge platform designed to provide expert insights and cost-benefit analysis for global humanitarian crises. Leveraging data from ReliefWeb, the tool uses advanced AI to generate actionable recommendations, helping decision-makers prioritize interventions based on economic efficiency and impact.</p>
              <v-card-subtitle>Key features include:</v-card-subtitle>
              <ul>
                <li class="pb-2">Real-Time Data: Access the latest 100 ReliefWeb reports, updated frequently, ensuring decisions are based on current conditions.</li>
                <li class="pb-2">Cost-Benefit Insights: Analyze humanitarian issues through the Copenhagen Consensus framework, evaluating the feasibility, costs, and benefits of various interventions.</li>
                <li class="pb-2">Interactive Analysis: Detailed breakdowns of key findings and recommendations are presented, ordered by ease of implementation, cost, and expected impact.
                  User-Friendly Interface: Designed with simplicity in mind, the tool supports quick searches, interactive data, and a responsive layout for both desktop and mobile users.</li>
                <li>Whether you're a field worker, policy advisor, or researcher, this tool equips you with the data-driven insights needed to make informed, effective decisions in humanitarian contexts.</li>                
              </ul>
            </v-card-text>
          </v-card>
        </v-expand-transition>  
        <v-autocomplete v-model="openedCardId" :items="result" item-text="fields.title" class="mt-4" return-object rounded outlined ripple clearable label="Search latest issues..." hint="Search latest issues..." @change="getSolutions()"></v-autocomplete>
        
      </v-container>
      <v-container v-if="result" fluid class="masonry"> 

            <v-card v-for="it in result" :key="it.id" class="news-item d-print-none" link ripple :style="{'background-color': getRandomLightColor()}" @click="openCard(it)">
                <v-card-title>{{it.fields.title}}</v-card-title>                
            </v-card>

            <!-- Expanded area for full content -->
            <v-expand-transition>
              <v-card v-if="openedCardId" flat tile class="pa-4 expanded-content print-section">
                <v-card-title class="d-flext align-center justify-center text-center">{{openedCardId.fields.title}}</v-card-title> 
                <v-card-actions class="d-flex align-center justify-center mb-4 d-print-none">
                  <v-btn fab ripple class="elevation-8" title="Close this entry" @click.stop="closeCard"><v-icon color="red">mdi-close-circle-outline</v-icon></v-btn>
                  <v-btn v-if="solutions" fab ripple class="elevation-8" title="Share this entry" @click="shareResult()"><v-icon color="green">mdi-share-variant</v-icon></v-btn>
                  <v-btn v-if="solutions" fab ripple class="elevation-8" title="Copy entry to clipboard" @click="cutAndPaste()"><v-icon color="green">mdi-content-cut</v-icon></v-btn>
                  <v-btn v-if="solutions" fab ripple class="elevation-8" title="Print this entry" @click="window.print()"><v-icon color="green">mdi-printer</v-icon></v-btn>
                </v-card-actions>
                <v-progress-linear 
                v-if="loading"
                indeterminate
                rounded
                striped
                height="25"
                class="my-4 pa-4 d-flex align-center justify-center"
                color="yellow darken-1 text--black"
              >
                <span class="text-center font-weight-bold" style="font-size: 18px;">
                  Getting recommendations and analysis...
                </span>
              </v-progress-linear>

                  <v-row v-if="solutions" class="align-start justify-center mb-4">
                    <v-col cols="auto" xs="12" sm="12" md="8" lg="8" xl="8">
                      <v-card class="elevation-4" rounded :style="{'background-color': getRandomLightColor()}">
                        <v-card-title class="d-flex align-center justify-center">
                          <v-icon color="black" class="pr-1 pb-1">mdi-lightbulb-on-outline</v-icon>
                          Recommendations
                        </v-card-title>
                        <v-card-text>
                          <ol style="font-weight: 500;font-size: 17px;">
                            <li v-for="it in solutions.recommendations" :key="it.Recommendation" class="pb-4 mb-1">
                              <div class="pb-2 font-weight-bold" style="font-weight: 600;font-size: 18px;">{{ it.Recommendation }}</div>
                              <div class="pb-3"><v-icon class="pb-1 pr-1" color="green">mdi-checkbox-marked-circle</v-icon>{{ it.Benefit }}</div>
                              <div class="pb-4"><v-icon class="pb-1 pr-1" color="red">mdi-alert-octagon</v-icon>{{ it.Cost }}</div>
                            </li>
                          </ol>
                        </v-card-text>
                      </v-card>
                    </v-col>
                  
                    <v-col cols="auto" xs="12" sm="12" md="4" lg="4" xl="4">
                      <v-card class="elevation-4" rounded :style="{'background-color': getRandomLightColor()}">
                        <v-card-title class="d-flex align-center justify-center">
                          <v-icon color="black" class="pr-1 pb-1">mdi-file-document</v-icon>
                          Analysis
                        </v-card-title>
                        <v-card-text> 
                          <ul style="font-weight: 500;font-size: 17px;">
                            <li v-for="it in solutions.inDepthAnalysis" :key="it" class="pb-4">
                              {{ it }}
                            </li>
                          </ul>
                        </v-card-text>
                      </v-card>
                    </v-col>
                  
                  </v-row>
                <v-card-text class="d-print-none pa-0 ma-0">                  
                  <v-card rounded class="elevation-4" :style="{'background-color': getRandomLightColor()}">
                    <v-card-title class="d-flex align-center justify-center"><v-icon color="black" class="pr-1">mdi-information-outline</v-icon>Description</v-card-title>
                    <v-card-text style="font-weight: 500;font-size: 16px;">
                      {{openedCardId.fields.body}}
                    </v-card-text>
                  </v-card>
                </v-card-text>
            </v-card>
          </v-expand-transition>

      </v-container>
    </v-app>
  </div>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          openedCardId: null,
          loading: true,
          result: null,
          solutions: null,
          about: false
        };
      },

      async mounted() {
        const results = await Promise.allSettled([
          this.fetchDataAndServe(),          
          this.getAllSolutionsFromIndexedDB() 
        ]);
        // Handle the results of both promises
        const fetchDataResult = results[0];
        const solutionsResult = results[1];
          await this.fetchDataAndServe();
          let res = await this.getAllSolutionsFromIndexedDB();
          let id = new URL(document.location).searchParams.get("id");
          if (this.result && id && !isNaN(id)) {
            const res = this.result.filter(element => element.id === id);
            if (res&&res.length) {
              this.openedCardId = res[0];
              this.getSolutions();
            } else {
              this.fetchById(id);
            };                                    
          };
          this.loading = false;
          const CHECK_INTERVAL = 10 * 60 * 1000;
          setInterval(this.fetchDataAndServe, CHECK_INTERVAL);
      },

      methods: {

        async cutAndPaste() {
          let textOutput = this.openedCardId.fields.title+'\n\n';

          // Format inDepthAnalysis
          textOutput += 'Analysis:\n\n';
          this.solutions.inDepthAnalysis.forEach((analysis, index) => {
              textOutput += `${index + 1}. ${analysis}\n`;
          });

          textOutput += '\nRecommendations:\n\n';

          // Format recommendations
          this.solutions.recommendations.forEach((recommendation, index) => {
              textOutput += `${index + 1}. Recommendation: ${recommendation.Recommendation}\n`;
              textOutput += `   Benefit: ${recommendation.Benefit}\n`;
              textOutput += `   Cost: ${recommendation.Cost}\n\n`;
          });
          textOutput += `\nMore: https://xsbrt.com/relief/?id=${this.openedCardId.id}`;
          await navigator.clipboard.writeText(textOutput.trim());
        },

        async fetchDataAndServe() {
           const workerUrl = 'https://api.reliefweb.int/v1/reports?appname=xsbrt&limit=100&preset=analysis&fields[include][]=body&sort[]=date.created:desc';
          try {
            const response = await fetch(workerUrl, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                Referer: window.location.origin,
              }
            });
            if (response.ok) {
              let apiData = await response.json();
              this.result = apiData.data.filter(element => element.fields.body && element.fields.body.length > 9); 
            };
          } catch(e) {};          
      },

      async fetchById(id) {
          if (!id||isNaN(id)) { return; };
          const workerUrl = 'https://api.reliefweb.int/v1/reports/'+id;
          try {
            const response = await fetch(workerUrl, {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json',
                Referer: window.location.origin,
              }
            });
            if (response.ok) {
              const apiData = await response.json();
              this.openedCardId = apiData.data;
              this.getSolutions();
              this.results.unshift(apiData.data);
            };
          } catch(e) {};          
      },

        openCard(cardId) {
          this.openedCardId = cardId;
          this.getSolutions();

          // Push a new state into the history so we can listen for back button
          //window.history.pushState({ cardId }, '', `#card-${cardId}`);

          // Handle the back button event
          //window.onpopstate = this.handleBackButton;
        },

        closeCard() {
          this.openedCardId = null;
          //window.history.back(); // Go back to the previous state (if opened by card click)
        },
        handleBackButton() {
          this.openedCardId = null; // Close the card when the back button is pressed
        },
      beforeDestroy() {
        //window.onpopstate = null; // Clean up the back button event listener when the component is destroyed
      },

      getRandomLightColor() {
          let r, g, b;
          let contrastRatio = 0;

          while (contrastRatio < 4.5) { // Loop until contrast ratio with black text >= 4.5
              // Restrict color range to light colors
              r = Math.floor(200 + Math.random() * 55);  // Lighter red range (200-255)
              g = Math.floor(200 + Math.random() * 55);  // Lighter green range (200-255)
              b = Math.floor(200 + Math.random() * 55);  // Lighter blue range (200-255)

              // Calculate relative luminance for the generated color
              const luminance1 = [r, g, b].map(value => {
                  const sRGB = value / 255;
                  return (sRGB <= 0.03928) ? sRGB / 12.92 : Math.pow((sRGB + 0.055) / 1.055, 2.4);
              }).reduce((lum, component, i) => {
                  const weight = i === 0 ? 0.2126 : (i === 1 ? 0.7152 : 0.0722); // RGB luminance weights
                  return lum + (component * weight);
              }, 0);

              // Black luminance is always 0
              const luminance2 = 0;

              // Calculate contrast ratio
              const brightest = Math.max(luminance1, luminance2);
              const darkest = Math.min(luminance1, luminance2);
              contrastRatio = (brightest + 0.05) / (darkest + 0.05);
          }

          return `rgb(${r}, ${g}, ${b})`;
      },

      async getSolutions() {
          if (!this.openedCardId) {
            return;
          };
          //check for solutions via cardid in results
          if (this.openedCardId.solutions) {
            this.solutions = this.openedCardId.solutions;
            window.scrollTo(0,0);
            return;
          };
          let res = this.result.filter(element => element.id === this.openedCardId.id && element.solutions);
          if (res&&res.length) {
            this.solutions = res.solutions;
            window.scrollTo(0,0);
            return;
          };
          res = await this.getSolutionsFromIndexedDB(this.openedCardId.id);
          if (res) {
            this.solutions = res;
            window.scrollTo(0,0);
            return;
          };
          this.solutions = null;          
          this.loading = true;
          try {
            const workerUrl = 'https://relief.xsbrt.workers.dev/';
            const response = await fetch(workerUrl, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'Referer': window.location.origin,
              },
              body: JSON.stringify({
                input: this.openedCardId.fields.title + ' ' + this.openedCardId.fields.body,
              }),
            });
            if (response.ok) {
              const data = await response.json();
              this.solutions = {
                inDepthAnalysis: data.InDepthAnalysis,
                recommendations: data.Recommendations,
              };
              window.scrollTo(0,0);
              this.updateResults();
            };
          } catch (error) {};
          this.loading = false;
        },
        async updateResults() {
          try {
            let res = this.result;
            for (let o, i = res.length; i--;) {
              o = res[i];
              if (o.id === this.openedCardId.id) {
                o.solutions = this.solutions;
                this.storeSolutionInIndexedDB(o);
                break;
              };
            };
            this.result = res;
          } catch(e) {};
        },
        async getAllSolutionsFromIndexedDB() {
          return new Promise((resolve, reject) => {
            try {
              const request = indexedDB.open('relief', 1);

              // Handle database upgrade if needed
              request.onupgradeneeded = function(event) {
                const db = event.target.result;
                if (!db.objectStoreNames.contains('solutions')) {
                  db.createObjectStore('solutions', { keyPath: 'id' });
                }
              };

              // Handle success after opening the database
              request.onsuccess = function(event) {
                const db = event.target.result;
                const transaction = db.transaction(['solutions'], 'readonly');
                const store = transaction.objectStore('solutions');

                // Get all entries from the object store
                const getAllRequest = store.getAll();

                getAllRequest.onsuccess = function() {
                  resolve(getAllRequest.result);  // Resolve with all solutions
                };

                getAllRequest.onerror = function() {
                  reject(getAllRequest.error);  // Reject if there's an error in retrieving
                };
              };

              // Handle error if database open fails
              request.onerror = function() {
                reject(request.error);  // Reject if opening database fails
              };

            } catch (error) {
              reject(error);  // Catch any other errors and reject
            }
          });
        },
        async getSolutionsFromIndexedDB(id) {
          return new Promise((resolve, reject) => {
            try {
              const request = indexedDB.open('relief', 1);

              request.onupgradeneeded = function(event) {
                const db = event.target.result;
                if (!db.objectStoreNames.contains('solutions')) {
                  db.createObjectStore('solutions', { keyPath: 'id' });
                }
              };

              request.onsuccess = function(event) {
                const db = event.target.result;
                const transaction = db.transaction(['solutions'], 'readonly');
                const store = transaction.objectStore('solutions');

                const getRequest = store.get(id);

                getRequest.onsuccess = function() {
                  if (getRequest.result) {
                    resolve(getRequest.result.solutions);  // Return the solutions if found
                  } else {
                    resolve(null);  // Return null if no solutions found for the given id
                  }
                };

                getRequest.onerror = function() {
                  reject(getRequest.error);  // Reject with error if retrieval fails
                };
              };

              request.onerror = function() {
                reject(request.error);  // Reject if the database opening fails
              };
            } catch (error) {
              reject(error);  // Catch any other errors and reject
            }
          });
        },
        async storeSolutionInIndexedDB(solutions) {
          try {
            const request = indexedDB.open('relief', 1);
            request.onupgradeneeded = function(event) {
              const db = event.target.result;
              if (!db.objectStoreNames.contains('solutions')) {
                db.createObjectStore('solutions', { keyPath: 'id' });
              }
            };
            request.onsuccess = function(event) {
              const db = event.target.result;
              const transaction = db.transaction(['solutions'], 'readwrite');
              const store = transaction.objectStore('solutions');
              store.put({ id: solutions.id, solutions: solutions });
            };
          } catch (error) {
          }
        },
        shareResult() {
          try {
            if (navigator.share) {
              navigator.share({
                title: 'Advanced Humanitarian Data Analysis: ' + this.openedCardId.fields.title,
                text: 'Check out these recommendations and analysis:',
                url: `https://xsbrt.com/relief/?id=${this.openedCardId.id}`
              });
            }
          } catch (e) {
            return;
          }
        }
      }
    });
  </script>
</body>
</html>