<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="IE=edge" />
  <meta name="robots" content="index,follow" />
  <meta http-equiv="CACHE-CONTROL" content="Public" />
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta name="bingbot" content="index, follow">
  <title>Advanced Humanitarian Data Analysis Tool | Expert Cost-Benefit Insights and Policy Recommendations</title>
  <meta name="description" content="Leverage in-depth cost-benefit analysis using data from ReliefWeb, the leading humanitarian information service. Get expert policy recommendations and data-driven insights tailored for decision-makers and analysts.">
  <meta name="keywords" content="humanitarian data analysis, cost-benefit analysis, ReliefWeb data, policy recommendations, economic analysis, humanitarian crises, decision-making tools, data-driven insights, disaster response, global humanitarian information">
  <meta property="og:title" content="Advanced Humanitarian Data Analysis Tool | Expert Cost-Benefit Insights and Policy Recommendations">
  <meta property="og:description" content="Analyze humanitarian data from ReliefWeb and get actionable cost-benefit insights and policy recommendations. Ideal for decision-makers in the humanitarian sector.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://xsbrt.com/relief.html">
  <meta name="twitter:title" content="Humanitarian Data Analysis Tool | Policy Recommendations and Insights">
  <meta name="twitter:description" content="Perform advanced cost-benefit analysis using ReliefWeb's global humanitarian data. Drive effective decision-making with data-driven insights.">
  <meta name="google-adsense-account" content="ca-pub-4654076039664824">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.js"></script>
  <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script> 
  <style>
    /* CSS for masonry layout */
    .masonry {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Column width */
      grid-auto-rows: 10px; /* Base row height */
      gap: 20px; /* Gap between items */
      padding: 20px;
    }

    .news-item {
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2em;
      color: #333;
    }

    /* Dynamic row heights */
    .news-item:nth-child(odd) {
      grid-row: span 15;
    }

    .news-item:nth-child(even) {
      grid-row: span 10;
    }

    .news-item:hover {
      transform: translateY(-5px);
    }

    .headline {
  font-size: 24px;
  font-weight: bold;
}

/* Expanded content container */
.expanded-content {
  background-color: white; /* Solid white background */
  padding: 16px;
  
  /* Position it fixed to cover the entire screen */
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  
  /* Make sure it appears above other content */
  z-index: 9999;

  /* Allow scrolling if content is larger than the viewport */
  overflow-y: auto;
  
  /* Smooth transition for closing */
  transition: all 0.2s ease;
}

/* Ensure the button doesn't shrink */
.v-btn {
  margin-top: 16px;
}
  </style>
</head>
<body>
  <div id="app">
    <v-app>
      <v-container v-if="result" fluid class="align-center justify-center text-center">
        <h3 class="py-2">Advanced Humanitarian Data Analysis Tool | Expert Cost-Benefit Insights and Policy Recommendations</h3>
        <v-autocomplete v-model="openedCardId" :items="result" item-text="fields.title" class="mt-4" return-object rounded outlined clearable label="Search latest issues..." hint="Search latest issues..." @change="getSolutions()"></v-autocomplete>
      </v-container>
      <v-container v-if="result" fluid class="masonry"> 

            <v-card v-for="it in result" :key="it.id" class="news-item d-print-none" link ripple :style="{'background-color': getRandomLightColor()}" @click="openCard(it)">
                <v-card-title>{{it.fields.title}}</v-card-title>                
            </v-card>

            <!-- Expanded area for full content -->
            <v-expand-transition>
              <v-card v-if="openedCardId" class="pa-4 expanded-content elevation-16">
                <v-card-title class="d-flext align-center justify-center text-center">{{openedCardId.fields.title}}</v-card-title> 
                <v-card-actions class="d-flex align-center justify-center mb-4">
                  <v-btn fab ripple class="elevation-8" title="Close this entry" @click.stop="closeCard"><v-icon color="red">mdi-close-circle-outline</v-icon></v-btn>
                  <v-btn fab ripple class="elevation-8" title="Share this entry"><v-icon>mdi-share-variant</v-icon></v-btn>
                  <v-btn fab ripple class="elevation-8" title="Print this entry" @click="window.print()"><v-icon>mdi-printer</v-icon></v-btn>
                </v-card-actions>
                <v-progress-linear 
                v-if="loading"
                indeterminate
                rounded
                striped
                height="25"
                class="my-4 pa-4 d-flex align-center justify-center"
                color="yellow darken-1 text--black"
              >
                <span class="text-center font-weight-bold" style="font-size: 18px;">
                  Getting recommendations and analysis...
                </span>
              </v-progress-linear>

                  <v-row v-if="solutions" class="align-start justify-center mb-4">
                    <v-col cols="auto" xs="12" sm="12" md="8" lg="8" xl="8">
                      <v-card class="elevation-4" rounded :style="{'background-color': getRandomLightColor()}">
                        <v-card-title class="d-flex align-center justify-center">
                          <v-icon color="black" class="pr-1">mdi-lightbulb-on-outline</v-icon>
                          Recommendations
                        </v-card-title>
                        <v-card-text>
                          <ol>
                            <li v-for="it in solutions.recommendations" :key="it.Recommendation" class="pb-4">
                              <b>{{ it.Recommendation }}</b>
                              <div>Benefit: {{ it.Benefit }}</div>
                              <div>Cost: {{ it.Cost }}</div>
                            </li>
                          </ol>
                        </v-card-text>
                      </v-card>
                    </v-col>
                  
                    <v-col cols="auto" xs="12" sm="12" md="4" lg="4" xl="4">
                      <v-card class="elevation-4" rounded :style="{'background-color': getRandomLightColor()}">
                        <v-card-title class="d-flex align-center justify-center">
                          <v-icon color="black" class="pr-1">mdi-file-document</v-icon>
                          Analysis
                        </v-card-title>
                        <v-card-text>
                          <ul>
                            <li v-for="it in solutions.inDepthAnalysis" :key="it" class="pb-4">
                              {{ it }}
                            </li>
                          </ul>
                        </v-card-text>
                      </v-card>
                    </v-col>
                  
                  </v-row>
                <v-card-text class="d-print-none">                  
                  <v-card rounded class="elevation-4" :style="{'background-color': getRandomLightColor()}">
                    <v-card-title class="d-flex align-center justify-center"><v-icon color="black" class="pr-1">mdi-information-outline</v-icon>Description</v-card-title>
                    <v-card-text>
                      {{openedCardId.fields.body}}
                    </v-card-text>
                  </v-card>
                </v-card-text>
            </v-card>
          </v-expand-transition>

      </v-container>
    </v-app>
  </div>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          openedCardId: null,
          loading: false,
          result: null,
          solutions: null
        };
      },

      computed: {
       
      },

      async mounted() {
        this.evaluatePerformance();
      },

      methods: {

        openCard(cardId) {
          this.openedCardId = cardId;
          this.getSolutions();

          // Push a new state into the history so we can listen for back button
          //window.history.pushState({ cardId }, '', `#card-${cardId}`);

          // Handle the back button event
          //window.onpopstate = this.handleBackButton;
        },

        closeCard() {
          this.openedCardId = null;
          //window.history.back(); // Go back to the previous state (if opened by card click)
        },
        handleBackButton() {
          this.openedCardId = null; // Close the card when the back button is pressed
        },
      beforeDestroy() {
        //window.onpopstate = null; // Clean up the back button event listener when the component is destroyed
      },

        getRandomLightColor() {
            const r = Math.floor(200 + Math.random() * 55); // Generate light red
            const g = Math.floor(200 + Math.random() * 55); // Generate light green
            const b = Math.floor(200 + Math.random() * 55); // Generate light blue
            return `rgb(${r}, ${g}, ${b})`;
        },

        async getSolutions() {
          if (!this.openedCardId) { return; };
          this.solutions = null;
          this.loading = true;
          try {
            const workerUrl = 'https://relief.xsbrt.workers.dev/'; 
            const response = await fetch(workerUrl, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'Referer': window.location.origin,
              },
              body: JSON.stringify({
                input: this.openedCardId.fields.body 
              }),
            });
            if (response.ok) {
              const data = await response.json();
              this.solutions = {
                inDepthAnalysis: data.InDepthAnalysis,
                recommendations: data.Recommendations
              };
            };           
          } catch (error) {};
          this.loading = false;
        },

        async evaluatePerformance() {
          this.noResult = false;
          this.loading = true;
          this.result = null;
          //https://apidoc.reliefweb.int/swagger.yaml

         
          const workerUrl = 'https://api.reliefweb.int/v1/reports?appname=xsbrt&limit=500&preset=analysis&fields[include][]=body&sort[]=date.created:desc'; // Replace with your actual worker URL

          try {
            const response = await fetch(workerUrl, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                Referer: window.location.origin,
              }
            });

            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }

            const data = await response.json();
            this.result = data.data.filter(element => element.fields.body&&element.fields.body.length>9);
          } catch (error) {
          } finally {
            this.loading = false;
          }
        },
        async shareResults() {
          try {
            if (navigator.share) {
              await navigator.share({
                title: 'Advanced Humanitarian Data Analysis: ' + this.openedCardId.fields.title,
                text: 'Check out these recommendations and analysis:',
                url: `https://xsbrt.com/relief/?id=${this.openedCardId.id}`
              });
            }
          } catch (e) {
            return;
          }
        }
      }
    });
  </script>
</body>
</html>