<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="xsbrt, ChatGPT, Structured Results, Expert Analysis, Real-life Expert, User Issues, Problem Solving, AI-driven Solutions, Data Structuring, Expert Role Design, Deliverables Crafting" />
    <meta name="description" content="xsbrt is your premier destination for obtaining structured results from real-life experts. Harnessing the power of advanced AI-driven solutions, we deliver concise and actionable insights tailored to your unique challenges. From pinpointing the most suitable expert roles to devising detailed deliverables, xsbrt ensures you receive the most accurate and relevant solutions. Dive in to transform your challenges into actionable insights." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="xsbrt: Your Expertise Hub" />
    <meta property="og:description" content="xsbrt is your premier destination for obtaining structured results from real-life experts. Dive in to transform your challenges into actionable insights." />
    <meta property="og:url" content="https://xsbrt.com" />
    <meta property="og:site_name" content="xsbrt" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="xsbrt" />
    <meta name="msapplication-TileImage" content="xxsbrtimage.png" />
    <meta name="msapplication-TileColor" content="blue" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="xsbrtimage.png" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <title>xsbrt</title>
</head>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
    <v-app id="inspire"> 
      <headerComponent :o="{title: 'resume', icon: 'mdi-lightbulb-on-outline', subtitle: '', url: 'https://xsbrt.com/resume'}"></headerComponent>

    <v-main class="justify-center text-center ma-2">

      <v-row class="justify-center my-2 pt-4">       

        <v-col cols="auto" sm="12" md="3">
          <pdfComponent v-if="!loading" :o="{role: this.role}" @my-upload="processUpload"></pdfComponent>
          <v-progress-circular v-if="loading" color="primary" indeterminate :size="70"></v-progress-circular> 
        </v-col>

      </v-row>

      <v-row v-if="!loading&&o.results" class="text-center justify-center pa-4 mx-2">

        <mission :o="{
          label: 'Want to tailor your resume for a particular job OR add something to it?',
          hint: 'Simply start talking or typing what you want to happen to your resume',
          placeholder: 'E.g., Applying for a job at Homeland Security. Want to add experience with accounting. Highlight my charity work.'
      }" @speech-recognized="processSpeech" class="mb-2"></mission>

          <v-col cols="12" sm="12" md="12">                   
              <v-btn ripple variant="tonal" size="large" elevation="6" class="ma-2" color="primary" title="Click here to copy to your clipboard" icon="mdi-content-copy" @click="clip(o)">
              </v-btn>
              <v-btn ripple variant="tonal" size="large" elevation="6" class="ma-2" color="primary" title="Click here to share" icon="mdi-share" @click="share(o)">
              </v-btn>
              <v-btn ripple variant="tonal" size="large" elevation="6" class="ma-2" color="primary" title="Click here to download" icon="mdi-download" @click="downloadAsTxt(o)">
              </v-btn>
          </v-col>

          <ul v-if="o.linkedIn" class="my-4 pa-4">
            <v-divider></v-divider>
            <li v-for="it in o.linkedIn" :key="it" class="py-2 text-left">{{it}}</li>
            <v-divider></v-divider>
          </ul>

          <pre class="result-text overlay-content pt-4 mb-2 text-left">
              {{o.results}}
          </pre>

      </v-row>

   
    </v-main>
    
  </v-app>

     </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="artyom.window.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script> 
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>      
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();
      const { loadModule } = window['vue3-sfc-loader'];

      async function loadComponentsAndInitApp() {          

        async function addComponent(component) {
          return await loadModule('./' + component + '.vue', {
                  moduleCache: {
                      vue: Vue
                  },
                  async getFile(url) {
                      const res = await fetch(url);
                      if (!res.ok)
                          throw Object.assign(new Error(url + ' ' + res.statusText), { res });
                      return await res.text();
                  },
                  addStyle: (textContent) => {
                      const style = document.createElement('style');
                      style.textContent = textContent;
                      document.head.appendChild(style);
                  }
              });
        }
        
      //define components
      const headerComponent = await addComponent('header');
      const mission = await addComponent('speechText');
      const pdfComponent = await addComponent('pdf');

      const app = createApp({

          data() {
              return {
                  o: {description: ''},
                  session: null,
                  loading: false,
                  createLoading: false,
                  showSnackBar: false,
                  previousSessions: []
              }
          }, 
          
          computed: {
              showLoad() {
                  return (this.o.description && this.o.description.length > 9) || this.o.speech;
              }
          },

          created() {  
            this.role = "You are a Resume Formatting Specialist, personal publicist and employement agent with extensive experience in creating and updating resumes using the latest and most effective formats, as well as amazing at attracting the attention of employers for your customers. Your goal is to assist individuals in showcasing their skills, qualifications, and experiences in the best possible way to increase their chances of landing their dream job. You adhere strictly to factual information, avoiding any form of hallucination, fabrication, or hypothetical scenarios. You ensure that each resume is meticulously optimized for visibility on job search websites including LinkedIn, Indeed, Monster.com, Glassdoor.com, ZipRecruiter, Dice.com, and others. All results are exclusively provided in a JSON format {results:}. Ensure the resume is optimized for job search sites and highlights the user's most attractive traits to employers. You will include and optimally organize all of the provided information as possible.";
            //createStorage('resumeChat');
            this.id = null;
            this.messages = [];               
          },

          watch: {

              o: function (newValue) {
                  return newValue;
              }
          },

          async mounted() {               
              this.o.session = randomString();                             
              //let res = alasql("SELECT TOP 1 description FROM notes WHERE description IS NOT NULL AND id IS NULL ORDER BY DATE(mod) DESC");
              //if (res&&res.length > 0) { 
                //this.o = res[0];
              //};
              this.o.id = await retrieveId();
              //this.o.location = await getDeviceLocation();
              //this.updatePreviousSessions();
          },

          methods: { 

            async share(it) {
              if (navigator.share) {
                const shareData = {
                      title: 'My resume',
                      text: it.results,
                      url: 'https://xsbrt.com/xsbrt'
                  };
                  navigator.share(shareData);
                }; 
            },

            async clip(it) {
              copyClipboard(it.results);
            },

           async downloadAsTxt(it) {
              const blob = new Blob([it.results], { type: 'text/plain' });
              const link = document.createElement('a');
              link.href = URL.createObjectURL(blob);
              link.download = "download.txt";
              document.body.appendChild(link);
              link.click();
              document.body.removeChild(link);
          },

          chunkText(text) {
            const chunks = [];
            const chunkSize = 4000;
            for (let i = 0; i < text.length; i += chunkSize) {
              chunks.push(text.slice(i, i + chunkSize));
            }
            return chunks;
          },

            async processUpload(o) {
              if (!o||o.results.length < 10) { return };
              this.loading = true;
              if (this.o.results) { delete this.o.results };
              this.messages = [
                  {
                      "role": "system",
                      "content": "Act as a Resume Formatting Specialist with expertise in developing and optimizing resumes. Your task is to help clients present their skills and experience effectively, adhering to truthfulness and practicality. Your output should be well-suited for online job platforms like LinkedIn and Indeed, and formatted as JSON {\"results\": \"\"}. Focus on creating resumes that are both appealing to employers and optimized for job search algorithms."
                  },
                  {
                      "role": "user",
                      "content": "Please create an updated resume that follows the most effective industry standards. It should be tailored for online job search engines, emphasizing the candidate's strengths in a compelling way, with an engaging professional summary. The final resume should be provided in JSON format: {\"results\": \"formatted resume text\"}. Use the following details to craft the resume: " + o.results;
                  }
              ];
              //const messages = [
                //{ role: "system", content: this.role },
                 //{ role: "user", content: `Create a brand new resume using all of the following, returning the results strictly as a well-formed JSON object in the format of {result: //formatted resume text }: ${o.results}` }
                  //{
                  //  "role": "system",
                  //  "content": this.role
                  //},
                  //{
                    //"role": "user",
                    //"content": "Craft an outstanding resume that adheres to the latest best practices, ensuring it is optimized for job search sites and highlights my most attractive traits //to employers. Ensure all results are returned in a JSON format: {results: 'pre-formatted resume text'}. Here is my information: " + o.results
                  //},
                  //{
                  //  "role": "user",
                  //  "content": "Craft an outstanding summary that adheres to the latest best practices, ensuring it is optimized for job search sites and highlights my most attractive traits //to employers. Ensure all results are returned in a JSON format: {results: 'pre-formatted resume text'}. Here is my information: " + o.results
                 // }
              //];              
              console.log(this.messages);
              //saveEntity(messages);
              //gpt-3.5-turbo-16k
                let txt = await getResults(this.messages,0.4,'gpt-4-1106-preview');
                console.log(txt);
                if (txt&&txt.results) {
                    this.o = Vue.reactive({ description: o.results, results: txt.results, linkedIn: txt.linkedIn });
                    console.log(this.o);
                };
                this.loading = false;          
            },

            async processSpeech(o) {
              if (!o||o.results.length < 10) { return };
              this.loading = true;
              this.messages.push( {
                    "role": "user",
                    "content": "Customize the results based on the following input: " + this.o.results + "."
                  });
                  console.log(this.messages);
              let txt = await getResults(this.messages,0.6,'gpt-4-1106-preview');
              if (txt&&txt.results) {
                  this.o = Vue.reactive({ description: o.results, results: txt.results, linkedIn: txt.linkedIn });
                  console.log(this.o);
              };
              this.loading = false;  
            },

            //async fileUpload(o) {
              //this.o.description = o.results;
              //this.gatherResults();
              //o = null;
            //},

            async updatePreviousSessions() {
              return;
              this.previousSessions = alasql("SELECT * FROM notes WHERE description IS NOT NULL AND description <> ''");
              console.log(this.previousSessions);
            }

          },

          components: {
            headerComponent,
            pdfComponent,
            mission
          },

          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>
      
    
    <style scoped>
      #app {
          width: 100%;
          height: 100vh;
          background-color: white;
      }
  
      .overlay-container {
          overflow: auto;
      }
  
      .overlay-card {
          max-width: 90%;
          margin: auto;
      }
  
      .overlay-title {
          font-size: 1.5em;
          font-weight: bold;
      }
  
      .overlay-subtitle {
          font-size: 1.2em;
      }
  
      .overlay-content {
          overflow-y: auto;
          max-height: 70vh;
      }
  
      .result-text {
          font-size: 1.1em;
          white-space: pre-wrap;
          word-wrap: break-word;
      }
  
      .action-title {
          font-weight: bold;
          letter-spacing: 1.2px;
      }
  
      .subtitle {
          font-size: 0.8em;
          margin-left: 5px;
      }
  
      .action-button {
          font-weight: bold;
          letter-spacing: 1.2px;
          transition: all 0.3s ease;
      }
  
      .action-button:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }
  
      .action-textarea {
          border: 2px solid var(--primary-color);
          border-radius: 8px;
          transition: all 0.3s ease;
      }
  
      .action-textarea:focus-within {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  </style>
  
</body>
</html>