<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="xsbrt, ChatGPT, Structured Results, Expert Analysis, Real-life Expert, User Issues, Problem Solving, AI-driven Solutions, Data Structuring, Expert Role Design, Deliverables Crafting" />
    <meta name="description" content="xsbrt is your premier destination for obtaining structured results from real-life experts. Harnessing the power of advanced AI-driven solutions, we deliver concise and actionable insights tailored to your unique challenges. From pinpointing the most suitable expert roles to devising detailed deliverables, xsbrt ensures you receive the most accurate and relevant solutions. Dive in to transform your challenges into actionable insights." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="xsbrt: Your Expertise Hub" />
    <meta property="og:description" content="xsbrt is your premier destination for obtaining structured results from real-life experts. Dive in to transform your challenges into actionable insights." />
    <meta property="og:url" content="https://xsbrt.com" />
    <meta property="og:site_name" content="xsbrt" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="xsbrt" />
    <meta name="msapplication-TileImage" content="xxsbrtimage.png" />
    <meta name="msapplication-TileColor" content="blue" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="xsbrtimage.png" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <title>xsbrt</title>
</head>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
    <v-app id="inspire"> 
      <headerComponent :o="{title: 'resume', icon: 'mdi-lightbulb-on-outline', subtitle: '', url: 'https://xsbrt.com/resume'}"></headerComponent>

    <v-main class="justify-center text-center ma-2">

      <v-row class="justify-center my-2 pt-4">       

        <v-col cols="auto" sm="12" md="10">
          <pdfComponent :o="{role: this.role}" @my-upload="processUpload"></pdfComponent>
        </v-col>

      </v-row>

        <v-btn 
        v-if="showLoad" 
        color="primary" 
        elevation="20"
        variant="tonal"
        size="x-large"
        rounded  
        ripple
        @click="gatherResults" 
        class="mb-4 pa-3 text-center justify-center action-button" 
        :loading="loading"
        >
        <v-icon class="pr-1">mdi-human-handsup</v-icon>
        Let's help!
        </v-btn> 

        <v-container v-if="o" class="text-left" fluid>     

            <v-banner v-if="showSnackBar&&!it.results" color="warning" icon="mdi-clock-alert" class="mt-2 text-center justify-center" text="Sorry! This is taking too long! Try again in a few minutes." stacked>
            </v-banner>

            <v-row v-if="o.results" class="text-center justify-center py-2 mb-4">

                <v-col cols="12" sm="12" md="12">                   
                    <v-btn ripple variant="tonal" size="large" elevation="6" class="ma-2" color="primary" title="Click here to copy to your clipboard" icon="mdi-content-copy" @click="clip(o)">
                    </v-btn>
                    <v-btn ripple variant="tonal" size="large" elevation="6" class="ma-2" color="primary" title="Click here to share" icon="mdi-share" @click="share(o)">
                    </v-btn>
                    <v-btn ripple variant="tonal" size="large" elevation="6" class="ma-2" color="primary" title="Click here to download" icon="mdi-download" @click="downloadAsTxt(o)">
                    </v-btn>
                </v-col>

                <pre class="result-text overlay-content pt-4 mb-2 text-left">
                    {{o.results}}
                </pre>               

            </v-row>


        </v-container>
 
   
    </v-main>
    
  </v-app>

     </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="artyom.window.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script> 
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>      
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();
      const { loadModule } = window['vue3-sfc-loader'];

      async function loadComponentsAndInitApp() {          

        async function addComponent(component) {
          return await loadModule('./' + component + '.vue', {
                  moduleCache: {
                      vue: Vue
                  },
                  async getFile(url) {
                      const res = await fetch(url);
                      if (!res.ok)
                          throw Object.assign(new Error(url + ' ' + res.statusText), { res });
                      return await res.text();
                  },
                  addStyle: (textContent) => {
                      const style = document.createElement('style');
                      style.textContent = textContent;
                      document.head.appendChild(style);
                  }
              });
        }
        
      //define components
      const headerComponent = await addComponent('header');
      //const footerComponent = await addComponent('footer');
      const pdfComponent = await addComponent('pdf');

      const app = createApp({

          data() {
              return {
                  o: {description: ''},
                  session: null,
                  loading: false,
                  createLoading: false,
                  showSnackBar: false,
                  previousSessions: []
              }
          }, 
          
          computed: {
              showLoad() {
                  return (this.o.description && this.o.description.length > 9) || this.o.speech;
              }
          },

          created() {  
            this.role = 'As a Resume Formatting Specialist, I have many years of experience in creating and updating resumes with the latest and most effective formats. I have won numerous awards for my expertise in crafting resumes that stand out and capture the attention of employers. My goal is to help individuals present their skills, qualifications, and experiences in the best possible way to increase their chances of landing their dream job.';
            //createStorage('resume');
            this.id = null;  
            this.writing = writingPrompt();
            this.writingShort = writingPromptShort();                 
          },

          watch: {

              o: function (newValue) {
                  return newValue;
              }
          },

          async mounted() {               
              this.o.session = randomString();                             
              //let res = alasql("SELECT TOP 1 description FROM notes WHERE description IS NOT NULL AND id IS NULL ORDER BY DATE(mod) DESC");
              //if (res&&res.length > 0) { 
                //this.o = res[0];
              //};
              this.o.id = await retrieveId();
              //this.o.location = await getDeviceLocation();
              //this.updatePreviousSessions();
          },

          methods: { 

            async share(it) {
              if (navigator.share) {
                const shareData = {
                      title: it.name,
                      text: this.getAllText(it),
                      url: 'https://xsbrt.com/xsbrt'
                  };
                  navigator.share(shareData);
                }; 
            },

            getAllText(it) {
              if (!it.results) { return null };
              return it.results.trim();
              let txt = it.results;
              if (it.keywords) {
                for (let oo, i = it.keywords.length; i--;) {
                  oo = it.keywords[i];
                  if (oo.results) {
                    txt = txt + '\n\n' + oo.phrase + '\n\n' + oo.results;
                  };
                };
              };
              return txt.trim();
            },

            async clip(it) {
              let txt = this.getAllText(it);
              copyClipboard(txt);
            },

           async downloadAsTxt(it) {
              let txt = this.getAllText(it);
              const blob = new Blob([txt], { type: 'text/plain' });
              const link = document.createElement('a');
              link.href = URL.createObjectURL(blob);
              link.download = "download.txt";
              document.body.appendChild(link);
              link.click();
              document.body.removeChild(link);
          },

            async processUpload(o) {
              if (!o||o.results.length < 10) { return };
              if (this.o.results) { delete this.o.results };
              const messages = [
                 { role: "system", content: this.role + this.writingShort },
                 { role: "user", content: `Create a highly engaging, top quality resume using all of the following, based only on the current best resume practices, returning the results strictly as a well-formed JSON object in the format of {result: resume text}: ${o.results}` }
              ];
              messages = [
                                {
                  "role": "system",
                  "content": "I am a seasoned Resume Formatting Specialist with extensive experience in developing and refining resumes to align with contemporary best practices. My work has garnered numerous accolades, showcasing my ability to create resumes that effectively draw the attention of potential employers. My mission is to assist job seekers in showcasing their skills, qualifications, and experiences in a manner that maximizes their chances of securing their ideal job. I commit to avoiding hallucinations, clichés, mentions of AI, neutral opinions, and the excessive use of words such as 'crucial', 'delve', 'unlock', 'ensure', and 'master'. I will also steer clear of specific rhetorical devices like Metaphor + Tricolon, anastrophes, and Antithetical Parallelism, and will refrain from misusing terms or using Parentheses and Em Dashes. My focus will be on clear, straightforward writing, utilizing common vocabulary, maintaining simple syntax, concentrating on a single idea at a time, and structuring content to engage the reader effectively."
                  },
                  {
                  "role": "user",
                  "content": "Generate a top-notch resume that adheres strictly to the latest best practices in resume writing, and present the results in a well-structured JSON format, using the template {result: 'resume text'}: "
                  }
              ];
              console.log(messages);
                let txt = await getResults(messages,0.4,'gpt-3.5-turbo-16k');
                if (txt&&txt.result) {
                    this.o = Vue.reactive({ ...this.o, results: txt.result });
                    console.log(this.o);
                };          
            },

            //async fileUpload(o) {
              //this.o.description = o.results;
              //this.gatherResults();
              //o = null;
            //},

            async updatePreviousSessions() {
              return;
              this.previousSessions = alasql("SELECT * FROM notes WHERE description IS NOT NULL AND description <> ''");
              console.log(this.previousSessions);
            },

            async gatherResults() {
              console.clear();
              this.showSnackBar = false;
              if (!this.o||!this.o.description||this.o.description.length < 10) { return };             
              this.loading = true;                
              if (this.o.deliverables) { delete this.o.deliverables }; 
              this.session = randomString();
              this.o["description"] = convertMultipleSpacesToSingle(this.o.description);
              const messages = [
                  { role: "system", content: this.role + ' ' + this.writingShort },
                  { role: "user", content: `The user has asked about the following: "${this.o.description}".` }
              ];
              //console.log(messages);
              const res = await getResults(messages,0.4);
              if (res) { 
                this.o = Vue.reactive({ ...this.o, ...res });
                saveEntity(this.o); 
                this.updatePreviousSessions();
              }; 
              this.loading = false;           
            }            

          },

          components: {
            headerComponent,
            pdfComponent
          },

          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>
      
    
    <style scoped>
      #app {
          width: 100%;
          height: 100vh;
          background-color: white;
      }
  
      .overlay-container {
          overflow: auto;
      }
  
      .overlay-card {
          max-width: 90%;
          margin: auto;
      }
  
      .overlay-title {
          font-size: 1.5em;
          font-weight: bold;
      }
  
      .overlay-subtitle {
          font-size: 1.2em;
      }
  
      .overlay-content {
          overflow-y: auto;
          max-height: 70vh;
      }
  
      .result-text {
          font-size: 1.1em;
          white-space: pre-wrap;
          word-wrap: break-word;
      }
  
      .action-title {
          font-weight: bold;
          letter-spacing: 1.2px;
      }
  
      .subtitle {
          font-size: 0.8em;
          margin-left: 5px;
      }
  
      .action-button {
          font-weight: bold;
          letter-spacing: 1.2px;
          transition: all 0.3s ease;
      }
  
      .action-button:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }
  
      .action-textarea {
          border: 2px solid var(--primary-color);
          border-radius: 8px;
          transition: all 0.3s ease;
      }
  
      .action-textarea:focus-within {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  </style>
  
</body>
</html>