<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Sprinting Form Analysis, Running Mechanics, Sprint Technique Evaluation, Body Alignment in Sprinting, Leg Mechanics in Sprinting, Arm Action Dynamics, Foot Strike Analysis, Phases of Sprinting, Ground Force Application, Muscle Utilization in Sprinting, Energy Dynamics in Sprinting" />
    <meta name="description" content="Expert sprinting form analysis by evaluating key mechanics identified by leading experts. Assess body position, leg mechanics, arm action, foot strike, phases of sprinting, ground force application, muscle utilization, and energy dynamics. Improve your sprinting technique with our detailed feedback." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Expert Sprinting Form Analysis: Enhance Your Running Technique" />
    <meta property="og:description" content="Leverage expert insights to analyze and improve your sprinting form. Evaluate key mechanics including body alignment, leg mechanics, arm action, foot strike, and more. Get detailed feedback and suggestions for optimal performance." />
    <meta property="og:url" content="https://xsbrt.com/run.html" />
    <meta property="og:site_name" content="Sprinting Form Analyzer" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="Sprinting Form Analyzer" />
    <meta name="msapplication-TileImage" content="https://xsbrt.com/xsbrtimage.png" />
    <meta name="msapplication-TileColor" content="white" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="https://xsbrt.com/xsbrtimage.png" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" />
    <title>Sprinting Form Analyzer</title>
    <style>
        body, html {
            max-width: 100%;
            overflow-x: hidden;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            text-rendering: optimizeLegibility;
            background-color: #f5f5f5;
        }

        .title {
            font-size: 2rem;
            font-weight: bold;
            color: #333;
        }

        .subtitle {
            font-size: 1.2rem;
            color: #666;
        }

        .card-title {
            font-size: 1.5rem;
            font-weight: 600;
            color: #444;
        }

        .card-subtitle {
            font-size: 1rem;
            color: #777;
        }

        .card-content {
            font-size: 1rem;
            color: #555;
        }

        .card-actions {
            margin-top: 1rem;
        }

        .icon-btn {
            color: #1976d2;
        }

        .progress-bar {
            margin-top: 2rem;
            background-color: #1976d2;
        }

        .list-item-title {
            font-weight: bold;
            color: #333;
        }

        .list-item-subtitle {
            color: #666;
        }

        .container {
            padding: 2rem;
        }

        .analysis-container {
            margin-top: 2rem;
        }

        .analysis-title {
            margin-bottom: 1rem;
        }

        .analysis-section {
            margin-bottom: 1.5rem;
        }

        .analysis-section h3 {
            font-size: 1.2rem;
            color: #444;
        }

        .analysis-section p {
            font-size: 1rem;
            color: #555;
        }
    </style>
</head>
<body oncontextmenu="return false">  
    <div id="app"></div>
    <video id="videoElement" autoplay playsinline hidden muted></video>
    <canvas id="canvasElement" hidden></canvas>

    <script type="text/x-template" id="app-template">
        <v-app>
            <v-app-bar class="justify-center align-center text-center" fixed app>
                <v-toolbar-title class="title">Sprint Analyzer</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon size="large" class="icon-btn" ripple aria-label="Add New Sprinter" @click="newSprinter">
                    <v-icon size="large">mdi-account-plus</v-icon>
                </v-btn>
                <v-autocomplete v-if="sprinters.length"
                    v-model="selectedSprinter" 
                    prepend-inner-icon="mdi-account" 
                    :items="sprinters" 
                    item-title="fullName" 
                    label="Select Sprinter" 
                    @change="loadSprinter"
                    clearable
                ></v-autocomplete>
                <v-btn v-show="selectedSprinter && !stream" size="large" class="icon-btn" icon ripple aria-label="Take sprinting video" @click="videoCapture">
                    <v-icon size="large">mdi-video</v-icon>
                </v-btn>
                <v-btn v-show="selectedSprinter && stream" size="large" class="icon-btn" icon ripple aria-label="Stop taking sprinting video" @click="stopRecording">
                    <v-icon size="large" color="red">mdi-video-off</v-icon>
                </v-btn>
                <v-file-input v-show="selectedSprinter"
                    id="fileInput" 
                    v-model="file"
                    accept="image/*,video/*"
                    hide-details
                    prepend-icon="mdi-paperclip"
                    aria-label="Upload sprint image/video"
                ></v-file-input>
            </v-app-bar>

            <v-main>
                <v-container class="container" fluid>
                    <v-form ref="form" v-model="valid" v-show="showSprinterForm">
                        <v-text-field v-model="sprinter.firstName" :rules="rules" label="First Name"></v-text-field>
                        <v-text-field v-model="sprinter.lastName" :rules="rules" label="Last Name"></v-text-field>
                        <v-text-field
                            v-model="sprinter.dob"
                            :rules="rules"
                            label="Date of Birth"
                            type="date"
                        ></v-text-field>
                        <v-radio-group v-model="sprinter.gender" :rules="rules" row>
                            <v-radio label="Male" value="male"></v-radio>
                            <v-radio label="Female" value="female"></v-radio>
                        </v-radio-group>
                        <v-btn @click="saveSprinter">Save Sprinter</v-btn>
                    </v-form>
                    <v-list v-if="selectedSprinter && selectedSprinter.analyses.length" class="mt-4">
                        <v-subheader class="subtitle mb-4">Previous Analyses</v-subheader>
                        <v-list-item v-for="(analysis, index) in selectedSprinter.analyses" :key="analysis.timestamp" @click="loadAnalysis(index)" class="pb-4">
                            <v-list-item-content>
                                <v-list-item-title class="list-item-title">{{ new Date(analysis.timestamp).toLocaleString() }}</v-list-item-title>
                                <v-list-item-subtitle class="list-item-subtitle">Overall Rating: {{ analysis.overall_rating }}</v-list-item-subtitle>
                                <v-list-item-subtitle class="list-item-subtitle">{{ analysis.suggestions }}</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                    <v-progress-linear v-show="loading" class="progress-bar" height="45" indeterminate rounded class="text-center justify-center font-weight-bold pa-2 text-white mt-4">                        
                        <v-icon size="x-large" color="black">mdi-run-fast</v-icon> {{ progressValue }}
                    </v-progress-linear>
                    <v-row v-if="selectedSprinter && selectedSprinter.analyses.length" class="analysis-container mt-4">
                        <v-col cols="12">
                            <v-card flat tile>                 
                                <v-card-title class="card-title">Overall Rating: {{ selectedAnalysis.overall_rating }}</v-card-title> 
                                <v-card-subtitle class="card-subtitle">scale of 1 to 10; 1 is poor; 10 is excellent</v-card-subtitle>
                                <v-card-actions class="card-actions">
                                    <v-btn icon="mdi-share" class="icon-btn" size="large" fab></v-btn>
                                </v-card-actions>  
                                <div v-if="selectedAnalysis.body_position" class="analysis-section">
                                    <h3><v-icon color="black" class="pr-1 pb-1">mdi-human-handsup</v-icon>Body Position</h3>             
                                    <p>{{ selectedAnalysis.body_position }}</p>
                                </div>
                                <div v-if="selectedAnalysis.leg_mechanics" class="analysis-section">
                                    <h3><v-icon color="black" class="pr-1 pb-1">mdi-seat-legroom-normal</v-icon>Leg Mechanics</h3>             
                                    <p>{{ selectedAnalysis.leg_mechanics }}</p>
                                </div>
                                <div v-if="selectedAnalysis.arm_action" class="analysis-section">
                                    <h3><v-icon color="black" class="pr-1 pb-1">mdi-human-handsdown</v-icon>Arm Action</h3>             
                                    <p>{{ selectedAnalysis.arm_action }}</p>
                                </div>
                                <div v-if="selectedAnalysis.foot_strike" class="analysis-section">
                                    <h3><v-icon color="black" class="pr-1 pb-1">mdi-format-strikethrough</v-icon>Foot Strike</h3>             
                                    <p>{{ selectedAnalysis.foot_strike }}</p>
                                </div>
                                <div v-if="selectedAnalysis.phase_analysis" class="analysis-section">
                                    <h3><v-icon color="black" class="pr-1 pb-1">mdi-google-analytics</v-icon>Phase Analysis</h3>             
                                    <p>{{ selectedAnalysis.phase_analysis }}</p>
                                </div>
                                <div v-if="selectedAnalysis.ground_force" class="analysis-section">
                                    <h3><v-icon color="black" class="pr-1 pb-1">mdi-waves</v-icon>Ground Force</h3>             
                                    <p>{{ selectedAnalysis.ground_force }}</p>
                                </div>
                                <div v-if="selectedAnalysis.muscle_utilization" class="analysis-section">
                                    <h3><v-icon color="black" class="pr-1 pb-1">mdi-access-point</v-icon>Muscle Utilization</h3>              
                                    <p>{{ selectedAnalysis.muscle_utilization }}</p>
                                </div>
                                <div v-if="selectedAnalysis.energy_dynamics" class="analysis-section">
                                    <h3><v-icon color="black" class="pr-1 pb-1">mdi-access-point</v-icon>Energy Dynamics</h3>              
                                    <p>{{ selectedAnalysis.energy_dynamics }}</p>
                                </div>
                                <div v-if="selectedAnalysis.suggestions" class="analysis-section">
                                    <h3><v-icon color="black" class="pr-1 pb-1">mdi-thought-bubble</v-icon>Suggestions</h3>              
                                    <p>{{ selectedAnalysis.suggestions }}</p>
                                </div>
                                <div v-if="selectedAnalysis.exercises" class="analysis-section">
                                    <h3><v-icon color="black" class="pr-1 pb-1">mdi-dumbbell</v-icon>Exercises</h3>              
                                    <p>{{ selectedAnalysis.exercises }}</p>
                                </div>
                                <div v-if="selectedAnalysis.workouts" class="analysis-section">
                                    <h3><v-icon color="black" class="pr-1 pb-1">mdi-human-greeting</v-icon>Workouts</h3>              
                                    <p>{{ selectedAnalysis.workouts }}</p>
                                </div>
                            </v-card>
                        </v-col>            
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.9.0/localforage.min.js"></script> <!-- Added LocalForage -->
    <script setup type="module">        
        const { createApp, ref, reactive, watch, onMounted } = Vue;
        const { createVuetify } = Vuetify;      
        const vuetify = createVuetify();

        async function loadComponentsAndInitApp() { 
            const app = createApp({
                setup() {
                    const canvas = ref(document.getElementById('canvasElement'));
                    const file = ref(null);
                    const stream = ref(null);
                    const loading = ref(false);
                    const progressValue = ref('');
                    const items = ref(null);
                    const images = ref([]);
                    const valid = ref(true);
                    const showSprinterForm = ref(false);
                    const sprinter = reactive({
                        firstName: '',
                        lastName: '',
                        dob: '',
                        gender: '',
                        analyses: []
                    });
                    const sprinters = ref([]);
                    const selectedSprinter = ref(null);
                    const selectedAnalysis = ref({}); // To hold the currently selected analysis
                    const rules = [
                        v => !!v || 'Required.'
                    ];

                    const systemRole = "You are a Sprinting Form Analysis Expert. Your role is to analyze the running form by evaluating uploaded images of a runner sprinting, focusing on key mechanics identified by experts and detailed research. Assess the form based on body position and alignment (head, spine, and pelvic alignment as highlighted by Dan Pfaff and Tom Tellez), leg mechanics (hip flexion, knee drive, and triple extension during the propulsion phase as described in 'The 4 Main Phases of Sprinting Mechanics'), arm action (arm swing dynamics for coordination with the legs as emphasized by Stuart McMillan and Mike Hurst), foot strike and ground contact (foot strike pattern for minimal ground contact time and optimal force application based on insights from Ralph Mann and the 'Pose Method' by Dr. Nicholas Romanov), phases of sprinting (start, acceleration, drive, and deceleration phases using guidelines from 'The 4 Main Phases of Sprinting Mechanics', Usain Bolt’s technique analysis, and the 'Sprinting Primer'), ground force application (force during ground contact in relation to body weight and quickness of ground contact times as outlined in the 'Sprinting Primer' from DC Speed), muscle utilization (contribution of different muscle groups, particularly the calves, glutes, and hip flexors, and balance between stride length and stride frequency as discussed in the 'Sprinting Primer'), and energy dynamics (energy expenditure and fatigue resistance during the final phases of the sprint). Provide visual feedback and suggestions for improvement based on deviations from ideal form as identified by these experts, and highlight unique attributes that contribute to effective sprinting, such as Usain Bolt's use of gravitational torque for forward propulsion and the emphasis on ground force application.";
                    const systemAction = "Analyze the running form by evaluating the uploaded image of a runner sprinting, focusing on key mechanics identified by experts and detailed research. If there are more than one runner in the pictures, focus on the runner in the center of the screen or the runner who is leading the race. Provide an overall form and technique rating on scale of 1 to 10 with 1 being worst and 10 being best. Assess form based on the following elements: an overall form and technique rating on scale of 1 to 10 with 1 being worst and 10 being best, body position and alignment (head, spine, and pelvic alignment as highlighted by Dan Pfaff and Tom Tellez); leg mechanics (hip flexion, knee drive, and triple extension during the propulsion phase as described in 'The 4 Main Phases of Sprinting Mechanics'); arm action (arm swing dynamics for coordination with the legs as emphasized by Stuart McMillan and Mike Hurst); foot strike and ground contact (foot strike pattern for minimal ground contact time and optimal force application based on insights from Ralph Mann and the 'Pose Method' by Dr. Nicholas Romanov); phases of sprinting (start, acceleration, drive, and deceleration phases using guidelines from 'The 4 Main Phases of Sprinting Mechanics', Usain Bolt’s technique analysis, and the 'Sprinting Primer'); ground force application (force during ground contact in relation to body weight and quickness of ground contact times as outlined in the 'Sprinting Primer' from DC Speed); muscle utilization (contribution of different muscle groups, particularly the calves, glutes, and hip flexors, and balance between stride length and stride frequency as discussed in the 'Sprinting Primer'); and energy dynamics (energy expenditure and fatigue resistance during the final phases of the sprint). Provide feedback and suggestions for improvement based on deviations from ideal form as identified by these experts, and highlight unique attributes that contribute to effective sprinting, such as Usain Bolt's use of gravitational torque for forward propulsion and the emphasis on ground force application. You only return valid JSON object as your response. Example of possible JSON Output to be used only as a guide for the exact object format and key names: { 'overall_rating': 3, 'body_position': 'Good alignment with minor forward lean',  'leg_mechanics': 'Optimal hip flexion and knee drive, needs more ankle extension',  'arm_action': 'Symmetrical arm swing, good elbow angle',  'foot_strike': 'Forefoot strike, minimal ground contact time',  'phase_analysis': 'Strong acceleration phase, needs improvement in drive phase',  'ground_force': 'High force application, slightly prolonged ground contact time',  'muscle_utilization': 'Effective calf and glute engagement, improve hip flexor activation',  'energy_dynamics': 'Maintains speed well, slight deceleration towards end',  'suggestions': 'Increase ankle extension during propulsion, maintain forward lean longer, optimize ground contact time', 'exercises': '3 x 30 calf lifts,...', 'workouts': '8 x 30 meter flys,...more'}";

                    watch(file, async (newFile) => {
                        const file = newFile[0];
                        if (file) {
                            loading.value = true;
                            progressValue.value = 'Analyzing sprint form...';
                            const fileType = file.type.split('/')[0];
                            if (fileType === 'image') {
                                await processImageFile(file);
                            } else if (fileType === 'video') {
                                await processVideoFile(file);
                            }
                        }
                    });

                    async function newSprinter() {
                        selectedSprinter.value = null;
                        sprinter.firstName = '';
                        sprinter.lastName = '';
                        sprinter.dob = '';
                        sprinter.gender = '';
                        sprinter.analyses = [];
                        showSprinterForm.value = true;
                    }

                    async function saveSprinter() {
                        try {
                            const sprinterData = { ...sprinter };
                            await localforage.setItem(`${sprinter.firstName}_${sprinter.lastName}`, sprinterData);
                            await loadSprinters();
                            showSprinterForm.value = false;
                            selectedSprinter.value = sprinterData;
                            selectedAnalysis.value = sprinter.analyses.length ? sprinter.analyses[0] : {};
                        } catch (error) {
                            console.error('Error saving sprinter:', error);
                        }
                    }

                    async function loadSprinters() {
                        try {
                            const keys = await localforage.keys();
                            sprinters.value = await Promise.all(keys.map(async key => {
                                const sprinter = await localforage.getItem(key);
                                sprinter.fullName = `${sprinter.firstName} ${sprinter.lastName}`;
                                return sprinter;
                            }));
                        } catch (error) {
                            console.error('Error loading sprinters:', error);
                        }
                    }

                    async function loadSprinter() {
                        try {
                            showSprinterForm.value = false;
                            const sprinterData = await localforage.getItem(`${selectedSprinter.value.firstName}_${selectedSprinter.value.lastName}`);
                            sprinter.firstName = sprinterData.firstName;
                            sprinter.lastName = sprinterData.lastName;
                            sprinter.dob = sprinterData.dob;
                            sprinter.gender = sprinterData.gender;
                            sprinter.analyses = sprinterData.analyses || [];
                            selectedAnalysis.value = sprinter.analyses.length ? sprinter.analyses[0] : {};
                        } catch (error) {
                            console.error('Error loading sprinter:', error);
                        }
                    }

                    async function loadAnalysis(index) {
                        selectedAnalysis.value = selectedSprinter.value.analyses[index];
                    }

                    async function ImageAIOCR(dataUrl, systemRole, action) {
                        try {
                            const payload = {
                                dataUrl: dataUrl,
                                systemRole: systemRole,
                                action: action
                            };
                            const response = await fetch('https://worker-spring-sun-7622.xsbrt.workers.dev/', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(payload)
                            });
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            const resText = await response.text();
                            let res;
                            try {
                                res = JSON.parse(resText);
                            } catch (e) {
                                throw new Error('Response is not a valid JSON');
                            }
                            console.log(res);
                            sprinter.analyses.unshift(res); // Add new analysis to the beginning
                            await saveAnalysis();
                            selectedAnalysis.value = sprinter.analyses[0];
                            // Ensure the selected sprinter is updated
                            selectedSprinter.value = { ...sprinter };
                        } catch (error) {
                            console.error('Error in ImageAIOCR:', error);
                        }
                    }

                    async function saveAnalysis() {
                        try {
                            const sprinterKey = `${sprinter.firstName}_${sprinter.lastName}`;
                            const sprinterData = await localforage.getItem(sprinterKey);
                            if (sprinterData) {
                                sprinterData.analyses = sprinter.analyses;
                                await localforage.setItem(sprinterKey, sprinterData);
                                loadSprinter(); // Refresh sprinter data
                            }
                        } catch (error) {
                            console.error('Error saving analysis:', error);
                        }
                    }

                    async function videoCapture() {
                        try {
                            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                                stream.value = await navigator.mediaDevices.getUserMedia({ video: true });

                                const video = document.getElementById('videoElement');
                                video.srcObject = stream.value;
                                video.onloadedmetadata = function() {
                                    video.play();
                                    captureFrames(video);
                                };

                                setTimeout(() => {
                                    stopRecording();
                                }, 10000);
                            }
                        } catch(e) {
                            console.error("Error capturing video: ", e);
                        }
                    }

                    async function stopRecording() {
                        if (stream.value) {
                            stream.value.getTracks().forEach(track => track.stop());
                            const video = document.getElementById('videoElement');
                            if (video) {
                                captureFrames(video);
                                video.pause();
                            }
                            stream.value = null;
                        }
                    }

                    async function captureFrames(video) {
                        try {
                            let count = 0;
                            const interval = setInterval(() => {
                                if (video.readyState >= 2 && count < 30) {
                                    takeStill(video);
                                    count++;
                                } else if (count >= 30) {
                                    clearInterval(interval);
                                    stitchImages();
                                    video.srcObject.getTracks().forEach(track => track.stop());
                                }
                            }, 90);
                        } catch(e) {
                            console.error('Error capturing frames:', e);
                        }
                    }

                    async function stitchImages() {
                        try {
                            const totalWidth = images.value.reduce((sum, img) => sum + img.width, 0);
                            canvas.value.width = totalWidth;
                            canvas.value.height = Math.max(...images.value.map(img => img.height));
                            let xOffset = 0;
                            const context = canvas.value.getContext('2d');
                            images.value.forEach(img => {
                                context.drawImage(img, xOffset, 0);
                                xOffset += img.width;
                            });
                            const dataUrl = canvas.value.toDataURL('image/png');
                            await ImageAIOCR(dataUrl, systemRole, systemAction);
                        } catch(error) {
                            console.error('Error stitching images:', error);
                        }
                        loading.value = false; 
                    }

                    async function processImageFile(file) { 
                        try {
                            const reader = new FileReader();
                            const dataUrl = await new Promise((resolve, reject) => {
                                reader.onload = function(event) {
                                    resolve(event.target.result);
                                };
                                reader.onerror = function(event) {
                                    reject(new Error("Error reading file"));
                                };
                                reader.readAsDataURL(file);
                            });
                            await ImageAIOCR(dataUrl, systemRole, systemAction);
                        } catch(e) {
                            console.error('Error processing image file:', e);
                        }
                        loading.value = false;             
                    }

                    async function processVideoFile(file) {
                        try {
                            images.value = [];
                            const url = URL.createObjectURL(file);
                            const video = document.getElementById('videoElement');
                            video.src = url;
                            video.onloadedmetadata = () => {
                                let count = 0;
                                const interval = setInterval(() => {
                                    if (video.readyState >= 2 && count < 30) {
                                        takeStill(video);
                                        count++;
                                    } else if (count >= 30) {
                                        clearInterval(interval);
                                        stitchImages();
                                        video.srcObject && video.srcObject.getTracks().forEach(track => track.stop());
                                    }
                                }, 850);
                            };
                        } catch(e) {
                            console.error('Error processing video file:', e);
                        }
                    }

                    function takeStill(video) {
                        try {
                            const canvas = document.createElement('canvas');
                            canvas.width = video.videoWidth;
                            canvas.height = video.videoHeight;
                            const context = canvas.getContext('2d');
                            context.drawImage(video, 0, 0, canvas.width, canvas.height);
                            const img = new Image();
                            img.src = canvas.toDataURL('image/png');
                            images.value.push(img);
                        } catch(e) {
                            console.error('Error taking still:', e);
                        }            
                    }

                    onMounted(async () => {
                        await loadSprinters();
                    });

                    return {
                        file,
                        stream,
                        loading,
                        progressValue,
                        videoCapture,
                        stopRecording,
                        captureFrames,
                        stitchImages,
                        processImageFile,
                        processVideoFile,
                        takeStill,
                        sprinter,
                        sprinters,
                        selectedSprinter,
                        selectedAnalysis,
                        rules,
                        showSprinterForm,
                        valid,
                        newSprinter,
                        saveSprinter,
                        loadSprinters,
                        loadSprinter,
                        loadAnalysis
                    };
                },
                template: "#app-template", 
            });
            app.use(vuetify).mount('#app');
        }

        loadComponentsAndInitApp();
    </script>
</body>
</html>
