<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Expert sprinting form analysis by evaluating key mechanics identified by leading experts. Improve your sprinting technique with our detailed feedback." />
    <title>Sprinting Form Analyzer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" />
</head>
<body oncontextmenu="return false">
    <video id="videoElement" autoplay playsinline hidden muted></video>
    <canvas id="canvasElement" hidden></canvas>
    <div id="app"></div>

    <script type="text/x-template" id="app-template">
        <v-app>
            <v-app-bar app color="primary" dark>
                <v-toolbar-title>Sprint Analyzer</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon @click="newSprinter">
                    <v-icon>mdi-account-plus</v-icon>
                </v-btn>
                <v-autocomplete
                    v-if="sprinters && sprinters.length"
                    v-model="selectedSprinter"
                    :items="sprinters"
                    item-title="fullName"
                    item-value="fullName"
                    label="Select Sprinter"
                    clearable
                    @change="loadSprinter"
                ></v-autocomplete>
                <v-btn v-show="selectedSprinter && !stream" icon @click="videoCapture">
                    <v-icon>mdi-video</v-icon>
                </v-btn>
                <v-btn v-show="selectedSprinter && stream" icon @click="stopRecording">
                    <v-icon>mdi-video-off</v-icon>
                </v-btn>
                <v-file-input
                    v-show="selectedSprinter"
                    v-model="file"
                    accept="image/*,video/*"
                    hide-details
                    flat
                    clearable
                    label="Upload sprint image/video"
                ></v-file-input>
            </v-app-bar>
            <v-main>
                <v-container>
                    <v-form v-model="valid" v-if="showSprinterForm">
                        <v-text-field v-model="sprinter.firstName" label="First Name"></v-text-field>
                        <v-text-field v-model="sprinter.lastName" label="Last Name"></v-text-field>
                        <v-text-field v-model="sprinter.dob" label="Date of Birth" type="date"></v-text-field>
                        <v-radio-group v-model="sprinter.gender" row>
                            <v-radio label="Male" value="male"></v-radio>
                            <v-radio label="Female" value="female"></v-radio>
                        </v-radio-group>
                        <v-btn @click="saveSprinter">Save Sprinter</v-btn>
                    </v-form>
                    <v-list v-if="selectedSprinter && selectedSprinter.analyses.length">
                        <v-subheader>Previous Analyses</v-subheader>
                        <v-list-item v-for="analysis in selectedSprinter.analyses" :key="analysis.timestamp" @click="loadAnalysis(analysis)">
                            <v-list-item-content>
                                <v-list-item-title>{{ new Date(analysis.timestamp).toLocaleString() }}</v-list-item-title>
                                <v-list-item-subtitle>Overall Rating: {{ analysis.overall_rating }}</v-list-item-subtitle>
                                <v-list-item-subtitle>{{ analysis.suggestions }}</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                    <v-progress-linear v-show="loading" indeterminate color="primary" class="my-4"></v-progress-linear>
                    <v-row v-if="o">
                        <v-col cols="12">
                            <v-card flat>
                                <v-card-title>
                                    <v-icon>mdi-star</v-icon> Overall Rating: {{ o.overall_rating }}
                                </v-card-title>
                                <v-card-subtitle>Scale of 1 to 10; 1 is poor; 10 is excellent</v-card-subtitle>
                                <v-card-text v-if="o.body_position">
                                    <strong>Body Position:</strong> {{ o.body_position }}
                                </v-card-text>
                                <v-card-text v-if="o.leg_mechanics">
                                    <strong>Leg Mechanics:</strong> {{ o.leg_mechanics }}
                                </v-card-text>
                                <v-card-text v-if="o.arm_action">
                                    <strong>Arm Action:</strong> {{ o.arm_action }}
                                </v-card-text>
                                <v-card-text v-if="o.foot_strike">
                                    <strong>Foot Strike:</strong> {{ o.foot_strike }}
                                </v-card-text>
                                <v-card-text v-if="o.phase_analysis">
                                    <strong>Phase Analysis:</strong> {{ o.phase_analysis }}
                                </v-card-text>
                                <v-card-text v-if="o.ground_force">
                                    <strong>Ground Force:</strong> {{ o.ground_force }}
                                </v-card-text>
                                <v-card-text v-if="o.muscle_utilization">
                                    <strong>Muscle Utilization:</strong> {{ o.muscle_utilization }}
                                </v-card-text>
                                <v-card-text v-if="o.energy_dynamics">
                                    <strong>Energy Dynamics:</strong> {{ o.energy_dynamics }}
                                </v-card-text>
                                <v-card-text v-if="o.suggestions">
                                    <strong>Suggestions:</strong> {{ o.suggestions }}
                                </v-card-text>
                                <v-card-text v-if="o.exercises">
                                    <strong>Exercises:</strong> {{ o.exercises }}
                                </v-card-text>
                                <v-card-text v-if="o.workouts">
                                    <strong>Workouts:</strong> {{ o.workouts }}
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.9.0/localforage.min.js"></script>
    <script type="module">
        const { createApp } = Vue;
        const { createVuetify } = Vuetify;
        const vuetify = createVuetify();

        createApp({
            data() {
                return {
                    canvas: null,
                    o: null,
                    file: null,
                    stream: null,
                    loading: false,
                    sprinter: { firstName: '', lastName: '', dob: '', gender: '' },
                    sprinters: [],
                    selectedSprinter: null,
                    valid: true,
                    showSprinterForm: false,
                    systemRole: "You are a Sprinting Form Analysis Expert. Your role is to analyze the running form by evaluating uploaded images of a runner sprinting, focusing on key mechanics identified by experts and detailed research. Assess the form based on body position and alignment (head, spine, and pelvic alignment as highlighted by Dan Pfaff and Tom Tellez), leg mechanics (hip flexion, knee drive, and triple extension during the propulsion phase as described in 'The 4 Main Phases of Sprinting Mechanics'), arm action (arm swing dynamics for coordination with the legs as emphasized by Stuart McMillan and Mike Hurst), foot strike and ground contact (foot strike pattern for minimal ground contact time and optimal force application based on insights from Ralph Mann and the 'Pose Method' by Dr. Nicholas Romanov), phases of sprinting (start, acceleration, drive, and deceleration phases using guidelines from 'The 4 Main Phases of Sprinting Mechanics', Usain Bolt’s technique analysis, and the 'Sprinting Primer'), ground force application (force during ground contact in relation to body weight and quickness of ground contact times as outlined in the 'Sprinting Primer' from DC Speed), muscle utilization (contribution of different muscle groups, particularly the calves, glutes, and hip flexors, and balance between stride length and stride frequency as discussed in the 'Sprinting Primer'), and energy dynamics (energy expenditure and fatigue resistance during the final phases of the sprint). Provide visual feedback and suggestions for improvement based on deviations from ideal form as identified by these experts, and highlight unique attributes that contribute to effective sprinting, such as Usain Bolt's use of gravitational torque for forward propulsion and the emphasis on ground force application. Respond only with a well-formed JSON object. Do not include any explanatory text or preamble. Only provide the JSON object as the output.",
                    ises': '3 x 30 calf lifts,...', 'workouts': '8 x 30 meter flys,...more'}",
                };
            },
            computed: {
                fullName() {
                    return `${this.sprinter.firstName} ${this.sprinter.lastName}`;
                }
            },
            watch: {
                file: {
                    handler(newValue) {
                        const file = this.file;
                        if (file) {
                            this.loading = true;
                            this.o = null;
                            if (file[0].type.includes('image')) {
                                this.processImageFile(file[0]);
                                return;
                            }
                            if (file[0].type.includes('video')) {
                                this.processVideoFile(file[0]);
                                return;
                            };
                            this.loading = false;
                        }
                    },
                    deep: true
                }
            },
            async mounted() {
                this.canvas = document.getElementById('canvasElement');
                await localforage.config({
                    driver: localforage.INDEXEDDB,
                    name: 'SprintAnalyzer',
                    version: 1.0,
                    storeName: 'sprinters'
                });
                this.loadSprinters();
            },
            methods: {
                async newSprinter() {
                    this.o = null;
                    this.selectedSprinter = null;
                    this.sprinter = { firstName: '', lastName: '', dob: '', gender: '' };
                    this.showSprinterForm = true;
                },
                async saveSprinter() {
                    const sprinter = { ...this.sprinter, fullName: `${this.sprinter.firstName} ${this.sprinter.lastName}`, analyses: [] };
                    await localforage.setItem(`${sprinter.firstName}_${sprinter.lastName}`, sprinter);
                    await this.loadSprinters();
                    this.selectedSprinter = sprinter;
                    this.showSprinterForm = false;
                },
                async loadSprinters() {
                    const keys = await localforage.keys();
                    this.sprinters = await Promise.all(keys.map(async key => {
                        const sprinter = await localforage.getItem(key);
                        sprinter.fullName = `${sprinter.firstName} ${sprinter.lastName}`;
                        return sprinter;
                    }));
                    console.log("Loaded sprinters: ", this.sprinters);
                },
                async loadSprinter() {
                    this.sprinter = await localforage.getItem(`${this.selectedSprinter.firstName}_${this.selectedSprinter.lastName}`);
                    console.log("Loaded sprinter: ", this.sprinter);
                },
                async loadAnalysis(analysis) {
                    this.o = analysis;
                },
                async processImageFile(file) {
                    const reader = new FileReader();
                    reader.onload = async (event) => {
                        await this.ImageAIOCR(event.target.result);
                    };
                    reader.readAsDataURL(file);
                },
                async processVideoFile(file) {
                    const url = URL.createObjectURL(file);
                    const video = document.getElementById('videoElement');
                    video.src = url;
                    video.onloadedmetadata = () => {
                        let count = 0;
                        const interval = setInterval(() => {
                            if (count < 30) {
                                this.takeStill(video);
                                count++;
                            } else {
                                clearInterval(interval);
                                this.stitchImages();
                            }
                        }, 850);
                    };
                },
                takeStill(video) {
                    const canvas = document.createElement('canvas');
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
                    const context = canvas.getContext('2d');
                    context.drawImage(video, 0, 0, canvas.width, canvas.height);
                    const img = new Image();
                    img.src = canvas.toDataURL('image/png');
                    this.images.push(img);
                },
                async stitchImages() {
                    const totalWidth = this.images.reduce((sum, img) => sum + img.width, 0);
                    this.canvas.width = totalWidth;
                    this.canvas.height = Math.max(...this.images.map(img => img.height));
                    let xOffset = 0;
                    const context = this.canvas.getContext('2d');
                    this.images.forEach(img => {
                        context.drawImage(img, xOffset, 0);
                        xOffset += img.width;
                    });
                    const dataUrl = this.canvas.toDataURL('image/png');
                    await this.ImageAIOCR(dataUrl);
                    this.loading = false;
                },
                async ImageAIOCR(dataUrl, systemRole, action) {
                    try {
                        const payload = {
                            dataUrl: dataUrl,
                            systemRole: systemRole,
                            action: action
                        };
                        const response = await fetch('https://worker-spring-sun-7622.xsbrt.workers.dev/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(payload)
                        });
                        if (!response.ok) {
                            return null;
                        }
                        const result = await response.json();
                        this.o = result;
                        this.saveAnalysis();
                    } catch (error) {
                        return null;
                    }
                },
                async saveAnalysis() {
                    const analysis = { ...this.o, timestamp: new Date().toISOString() };
                    const sprinterKey = `${this.sprinter.firstName}_${this.sprinter.lastName}`;
                    const sprinterData = await localforage.getItem(sprinterKey);
                    if (sprinterData) {
                        sprinterData.analyses.push(analysis);
                        await localforage.setItem(sprinterKey, sprinterData);
                        this.loadSprinter();
                    }
                },
                async videoCapture() {
                    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                        this.stream = await navigator.mediaDevices.getUserMedia({ video: true });
                        const video = document.getElementById('videoElement');
                        video.srcObject = this.stream;
                        video.onloadedmetadata = () => {
                            video.play();
                            this.captureFrames(video);
                        };
                        setTimeout(() => {
                            this.stopRecording();
                        }, 10000);
                    }
                },
                async stopRecording() {
                    if (this.stream) {
                        this.stream.getTracks().forEach(track => track.stop());
                        this.stream = null;
                    }
                },
                async captureFrames(video) {
                    let count = 0;
                    const interval = setInterval(() => {
                        if (video.readyState >= 2 && count < 30) {
                            this.takeStill(video);
                            count++;
                        } else if (count >= 30) {
                            clearInterval(interval);
                            this.stitchImages();
                            video.srcObject.getTracks().forEach(track => track.stop());
                        }
                    }, 90);
                }
            },
            template: '#app-template',
        }).use(vuetify).mount('#app');
    </script>
    <style>
        body, html {
            max-width: 100%;
            overflow-x: hidden;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
        }
    </style>
</body>
</html>