<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Sprinting Form Analysis, Running Mechanics, Sprint Technique Evaluation, Body Alignment in Sprinting, Leg Mechanics in Sprinting, Arm Action Dynamics, Foot Strike Analysis, Phases of Sprinting, Ground Force Application, Muscle Utilization in Sprinting, Energy Dynamics in Sprinting" />
    <meta name="description" content="Expert sprinting form analysis by evaluating key mechanics identified by leading experts. Assess body position, leg mechanics, arm action, foot strike, phases of sprinting, ground force application, muscle utilization, and energy dynamics. Improve your sprinting technique with our detailed feedback." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Expert Sprinting Form Analysis: Enhance Your Running Technique" />
    <meta property="og:description" content="Leverage expert insights to analyze and improve your sprinting form. Evaluate key mechanics including body alignment, leg mechanics, arm action, foot strike, and more. Get detailed feedback and suggestions for optimal performance." />
    <meta property="og:url" content="https://xsbrt.com/run.html" />
    <meta property="og:site_name" content="Sprinting Form Analyzer" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="Sprinting Form Analyzer" />
    <meta name="msapplication-TileImage" content="https://xsbrt.com/xsbrtimage.png" />
    <meta name="msapplication-TileColor" content="white" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="https://xsbrt.com/xsbrtimage.png" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" />
    <title>Sprinting Form Analyzer</title>
</head>
<body oncontextmenu="return false">
      <video id="videoElement" autoplay playsinline hidden muted></video>
     <canvas id="canvasElement" hidden></canvas>  
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
      <v-app>

        <v-toolbar border elevation="6" extended>
    
          <v-toolbar-title>Sprint Analyzer</v-toolbar-title>
    
          <v-spacer></v-spacer>
    
          <v-btn icon size="large" ripple aria-label="Add New Sprinter" @click="newSprinter">
            <v-icon size="large" color="black">mdi-account-plus</v-icon>
          </v-btn>

          <v-autocomplete v-if="sprinters.length"
                  v-model.lazy="selectedSprinter" 
                  prepend-inner-icon="mdi-account" 
                  :items="sprinters" 
                  return-object
                  item-title="fullName" 
                  label="Select Sprinter" 
                  @change="loadSprinter"
                  clearable
                ></v-autocomplete>
    
          <v-btn v-show="selectedSprinter&&!stream" size="large" icon ripple aria-label="Take sprinting video" @click="videoCapture">
            <v-icon size="large" color="black">mdi-video</v-icon>
          </v-btn>
    
          <v-btn v-show="selectedSprinter&&stream" size="large" icon ripple aria-label="Stop taking sprinting video" @click="stopRecording">
            <v-icon size="large" color="red">mdi-video-off</v-icon>
          </v-btn>

          <v-file-input v-show="selectedSprinter"
                  id="fileInput" 
                  v-model.lazy="file"
                  accept="image/*,video/*"
                  hide-details
                  flat
                  tile
                  clearable
                  aria-label="Upload sprint image/video"
                ></v-file-input>

        </v-toolbar>        

        <v-main>
            <v-container>
              <v-form ref="form" v-model="valid" v-show="showSprinterForm">
                <v-text-field v-model="sprinter.firstName" label="First Name" row></v-text-field>
                <v-text-field v-model="sprinter.lastName" label="Last Name" row></v-text-field> 
                <v-text-field label="Date of birth" v-model="sprinter.dob" type="date" row></v-text-field>
                <v-radio-group v-model="sprinter.gender" row>
                  <v-radio label="Male" value="male"></v-radio>
                  <v-radio label="Female" value="female"></v-radio>
                </v-radio-group>
                <v-btn @click="saveSprinter">Save Sprinter</v-btn>
              </v-form>
              <v-list v-if="selectedSprinter && selectedSprinter.analyses.length" class="mt-4">
                <v-subheader class="mb-4">Previous Analyses</v-subheader>
                <v-list-item v-for="analysis in selectedSprinter.analyses" :key="analysis.timestamp" @click="loadAnalysis(analysis)" class="pb-4">
                  <v-list-item-content>
                    <v-list-item-title>{{ new Date(analysis.timestamp).toLocaleString() }}</v-list-item-title>
                    <v-list-item-subtitle>Overall Rating: {{ analysis.overall_rating }}</v-list-item-subtitle>
                    <v-list-item-subtitle>{{ analysis.suggestions }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
              <v-progress-linear v-show="loading" color="black" height="45" indeterminate rounded class="text-center justify-center font-weight-bold pa-2 text-white mt-4">                        
                <v-icon size="x-large" color="black">mdi-run-fast</v-icon> {{ progressValue }}
              </v-progress-linear>
              <v-row v-if="o" class="mt-4">
                <v-col cols="12">
                  <v-card flat tile>                 
                    <v-card-title class="text-h6">
                      <v-icon size="large" color="black">mdi-star</v-icon>Overall Rating: {{ o.overall_rating }}
                    </v-card-title> 
                    <v-card-subtitle>scale of 1 to 10; 1 is poor; 10 is excellent</v-card-subtitle>
                    <v-card-actions>
                      <v-btn icon="mdi-share" color="black" size="large" fab></v-btn>
                    </v-card-actions>  
                    <v-card-text v-if="o.body_position">  
                      <h3><v-icon color="black" class="pr-1 pb-1">mdi-human-handsup</v-icon>Body position</h3>             
                      {{o.body_position}}
                    </v-card-text>
                    <v-card-text v-if="o.leg_mechanics">  
                      <h3><v-icon color="black" class="pr-1 pb-1">mdi-seat-legroom-normal</v-icon>Leg mechanics</h3>             
                      {{o.leg_mechanics}}
                    </v-card-text>
                    <v-card-text v-if="o.arm_action">  
                      <h3><v-icon color="black" class="pr-1 pb-1">mdi-human-handsdown</v-icon>Arm action</h3>             
                      {{o.arm_action}}
                    </v-card-text>
                    <v-card-text v-if="o.foot_strike">  
                      <h3><v-icon color="black" class="pr-1 pb-1">mdi-format-strikethrough</v-icon>Foot strike</h3>             
                      {{o.foot_strike}}
                    </v-card-text>
                    <v-card-text v-if="o.phase_analysis">  
                      <h3><v-icon color="black" class="pr-1 pb-1">mdi-google-analytics</v-icon>Phase analysis</h3>             
                      {{o.phase_analysis}}
                    </v-card-text>
                    <v-card-text v-if="o.ground_force">  
                      <h3><v-icon color="black" class="pr-1 pb-1">mdi-waves</v-icon>Ground force</h3>             
                      {{o.ground_force}}
                    </v-card-text>
                    <v-card-text v-if="o.muscle_utilization">  
                      <h3><v-icon color="black" class="pr-1 pb-1">mdi-access-point</v-icon>Muscle utilization</h3>              
                      {{o.muscle_utilization}}
                    </v-card-text>
                    <v-card-text v-if="o.energy_dynamics">  
                      <h3><v-icon color="black" class="pr-1 pb-1">mdi-access-point</v-icon>Energy dynamics</h3>              
                      {{o.energy_dynamics}}
                    </v-card-text>
                    <v-card-text v-if="o.suggestions">  
                      <h3><v-icon color="black" class="pr-1 pb-1">mdi-thought-bubble</v-icon>Suggestions</h3>              
                      {{o.suggestions}}
                    </v-card-text>
                    <v-card-text v-if="o.exercises">  
                      <h3><v-icon color="black" class="pr-1 pb-1">mdi-dumbbell</v-icon>Exercises</h3>              
                      {{o.exercises}}
                    </v-card-text>
                    <v-card-text v-if="o.workouts">  
                      <h3><v-icon color="black" class="pr-1 pb-1">mdi-human-greeting</v-icon>Workouts</h3>              
                      {{o.workouts}}
                    </v-card-text>
                  </v-card>
                </v-col>            
              </v-row>
            </v-container>
      </v-main>
      </v-app>
    </script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.9.0/localforage.min.js"></script> <!-- Added LocalForage -->
    <script setup type="module">        
      const { createApp } = Vue;
      const { createVuetify } = Vuetify;      
      const vuetify = createVuetify();

      async function loadComponentsAndInitApp() { 
        const app = createApp({
          data() {
              return { 
                  canvas: document.getElementById('canvasElement'),             
                  o: null,
                  file: null,
                  stream: null,
                  loading: false,
                  progressValue: '',
                  items: null,
                  images: [],
                  systemRole: "You are a Sprinting Form Analysis Expert. Your role is to analyze the running form by evaluating uploaded images of a runner sprinting, focusing on key mechanics identified by experts and detailed research. Assess the form based on body position and alignment (head, spine, and pelvic alignment as highlighted by Dan Pfaff and Tom Tellez), leg mechanics (hip flexion, knee drive, and triple extension during the propulsion phase as described in 'The 4 Main Phases of Sprinting Mechanics'), arm action (arm swing dynamics for coordination with the legs as emphasized by Stuart McMillan and Mike Hurst), foot strike and ground contact (foot strike pattern for minimal ground contact time and optimal force application based on insights from Ralph Mann and the 'Pose Method' by Dr. Nicholas Romanov), phases of sprinting (start, acceleration, drive, and deceleration phases using guidelines from 'The 4 Main Phases of Sprinting Mechanics', Usain Bolt’s technique analysis, and the 'Sprinting Primer'), ground force application (force during ground contact in relation to body weight and quickness of ground contact times as outlined in the 'Sprinting Primer' from DC Speed), muscle utilization (contribution of different muscle groups, particularly the calves, glutes, and hip flexors, and balance between stride length and stride frequency as discussed in the 'Sprinting Primer'), and energy dynamics (energy expenditure and fatigue resistance during the final phases of the sprint). Provide visual feedback and suggestions for improvement based on deviations from ideal form as identified by these experts, and highlight unique attributes that contribute to effective sprinting, such as Usain Bolt's use of gravitational torque for forward propulsion and the emphasis on ground force application. Respond only with a well-formed JSON object. Do not include any explanatory text or preamble. Only provide the JSON object as the output.",
                  systemAction: "Analyze the running form by evaluating the uploaded image of a runner sprinting, focusing on key mechanics identified by experts and detailed research. If there are more than one runner in the pictures, focus on the runner in the center of the screen or the runner who is leading the race. Provide an overall form and technique rating on scale of 1 to 10 with 1 being worst and 10 being best. Assess form based on the following elements: an overall form and technique rating on scale of 1 to 10 with 1 being worst and 10 being best, body position and alignment (head, spine, and pelvic alignment as highlighted by Dan Pfaff and Tom Tellez); leg mechanics (hip flexion, knee drive, and triple extension during the propulsion phase as described in 'The 4 Main Phases of Sprinting Mechanics'); arm action (arm swing dynamics for coordination with the legs as emphasized by Stuart McMillan and Mike Hurst); foot strike and ground contact (foot strike pattern for minimal ground contact time and optimal force application based on insights from Ralph Mann and the 'Pose Method' described by Dr. Nicholas Romanov); phases of sprinting (start, acceleration, drive, and deceleration phases using guidelines from 'The 4 Main Phases of Sprinting Mechanics', Usain Bolt’s technique analysis, and the 'Sprinting Primer'); ground force application (force during ground contact in relation to body weight and quickness of ground contact times as outlined in the 'Sprinting Primer' from DC Speed); muscle utilization (contribution of different muscle groups, particularly the calves, glutes, and hip flexors, and balance between stride length and stride frequency as discussed in the 'Sprinting Primer'); and energy dynamics (energy expenditure and fatigue resistance during the final phases of the sprint). Provide feedback and suggestions for improvement based on deviations from ideal form as identified by these experts, and highlight unique attributes that contribute to effective sprinting, such as Usain Bolt's use of gravitational torque for forward propulsion and the emphasis on ground force application. You only return valid JSON object as your response. Example of possible JSON Output to be used only as a guide for the exact object format and key names: { 'overall_rating': 3, 'body_position': 'Good alignment with minor forward lean',  'leg_mechanics': 'Optimal hip flexion and knee drive, needs more ankle extension',  'arm_action': 'Symmetrical arm swing, good elbow angle',  'foot_strike': 'Forefoot strike, minimal ground contact time',  'phase_analysis': 'Strong acceleration phase, needs improvement in drive phase',  'ground_force': 'High force application, slightly prolonged ground contact time',  'muscle_utilization': 'Effective calf and glute engagement, improve hip flexor activation',  'energy_dynamics': 'Maintains speed well, slight deceleration towards end',  'suggestions': 'Increase ankle extension during propulsion, maintain forward lean longer, optimize ground contact time', 'exercises': '3 x 30 calf lifts,...', 'workouts': '8 x 30 meter flys,...more'}",
                  sprinter: {
                    firstName: '',
                    lastName: '',
                    dob: '',
                    gender: ''
                  },
                  sprinters: [],
                  selectedSprinter: null,
                  menu: false,
                  valid: true,
                  showSprinterForm: false
              }
          },

          computed: {
            fullName() {
                return `${this.sprinter.firstName} ${this.sprinter.lastName}`;
            }
          },

          watch: {
              file: {
                  handler(newValue, oldValue) {
                      const file = this.file[0];
                      if (file) {
                        this.loading = true;
                        this.progressValue = 'Analyzing sprint form...';
                        this.o = null;
                        const fileType = file.type.split('/')[0];
                        if (fileType === 'image') {
                          this.processImageFile(file);
                          return;
                        };
                        if (fileType === 'video') {
                          this.processVideoFile(file);
                          return;
                        };
                      };
                      return;
                  },
                  deep: true
              }
          },

          async mounted() {
              await localforage.config({
                driver: localforage.INDEXEDDB,
                name: 'SprintAnalyzer',
                version: 1.0,
                storeName: 'sprinters', // Should be alphanumeric, with underscores.
                description: 'Store sprinter details and their sprint analysis.'
              });
              this.loadSprinters();
          },

          methods: { 

            async newSprinter() {
              this.o = null;
              this.selectedSprinter = null;
              this.valid = false;
              this.sprinter = { firstName: '', lastName: '', dob: '', gender: '' };
              this.showSprinterForm = true;
            },

            async saveSprinter() {
              try {
                this.o = null;
                this.showSprinterForm = false;  
                const selectedSprinter = {
                  ...this.sprinter,
                  analyses: []
                };
                await localforage.setItem(`${selectedSprinter.firstName}_${selectedSprinter.lastName}`, selectedSprinter);
                await this.loadSprinters(); 
                this.selectedSprinter = structuredClone(selectedSprinter);
                await this.loadSprinter();                  
              } catch (error) {
                
              }
            },

            async loadSprinters() {
              try {
                const keys = await localforage.keys();
                this.sprinters = await Promise.all(keys.map(async key => {
                    const sprinter = await localforage.getItem(key);
                    sprinter.fullName = `${sprinter.firstName} ${sprinter.lastName}`;
                    return sprinter;
                }));
              } catch (error) {
              }
            },

            async loadSprinter() {
              try {
                this.o = null;
                this.showSprinterForm = false;
                this.valid = false;
                this.sprinter = structuredClone(await localforage.getItem(`${this.selectedSprinter.firstName}_${this.selectedSprinter.lastName}`));
              } catch (error) {
              }
            },

            async loadAnalysis(analysis) {
              this.o = analysis;
            },

            async ImageAIOCR(dataUrl, systemRole, action) {
                try {
                    const payload = {
                        dataUrl: dataUrl,
                        systemRole: systemRole,
                        action: action
                    };
                    const response = await fetch('https://worker-spring-sun-7622.xsbrt.workers.dev/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(payload)
                    });
                    if (!response.ok) {
                        return;
                    };
                    const res = await response.json();
                    try {
                      console.log(res);
                      this.o = JSON.parse(res);
                    } catch(e) { this.o = res; };
                    this.saveAnalysis();
                } catch (error) {}
            }, 

            async saveAnalysis() {
              try {
                const analysis = {
                  ...this.o,
                  timestamp: new Date().toISOString()
                };
                const sprinterKey = `${this.sprinter.firstName}_${this.sprinter.lastName}`;
                const sprinterData = await localforage.getItem(sprinterKey);
                if (sprinterData) {
                  sprinterData.analyses.push(analysis);
                  await localforage.setItem(sprinterKey, sprinterData);
                  this.loadSprinter(); // Refresh sprinter data
                }
              } catch (error) {}
            }, 

            async videoCapture() {
              try {
                if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                  this.stream = await navigator.mediaDevices.getUserMedia({ video: true });

                  const video = document.getElementById('videoElement');
                  video.srcObject = this.stream;
                  video.onloadedmetadata = function() {
                    video.play();
                    this.captureFrames(video); // 'this' here refers to the function's context
                  }.bind(this); // Bind 'this' to the Vue instance

                  // Stop capturing video after 10 seconds
                  setTimeout(() => {
                    this.stopRecording();
                  }, 10000); // 10000 milliseconds = 10 seconds
                }
              } catch(e) {
              }
            },

            async stopRecording() {
              if (this.stream) {
                this.stream.getTracks().forEach(track => track.stop()); // Stop all tracks of the stream
                const video = document.getElementById('videoElement');
                if (video) {
                  this.captureFrames(video);
                  video.pause(); // Pause the video element
                };
                this.stream = null;
              }
            },

            async captureFrames(video) {
              try {
                let count = 0;
                const interval = setInterval(() => {
                    if (video.readyState >= 2 && count < 30) { // Ensure video is ready
                        this.takeStill();
                        count++;
                    } else if (count >= 30) {
                        clearInterval(interval);
                        this.stitchImages();
                        video.srcObject.getTracks().forEach(track => track.stop()); // Stop the video stream
                    }
                }, 90); // Capture interval set to 90 milliseconds
              } catch(e) {};                
            },

            async stitchImages() {
                try {
                    const totalWidth = this.images.reduce((sum, img) => sum + img.width, 0);
                    this.canvas.width = totalWidth;
                    this.canvas.height = Math.max(...this.images.map(img => img.height));
                    let xOffset = 0;
                    const context = this.canvas.getContext('2d');
                    this.images.forEach(img => {
                        context.drawImage(img, xOffset, 0);
                        xOffset += img.width; // Move the offset for the next image
                    });
                    // Convert the canvas to a data URL (Base64)
                    const dataUrl = this.canvas.toDataURL('image/png');
                    await this.ImageAIOCR(dataUrl, this.systemRole,this.systemAction);
                } catch(error) {};
                this.loading = false; 
            },

            async processImageFile(file) { 
              try {
                const reader = new FileReader();
                const dataUrl = await new Promise((resolve, reject) => {
                    reader.onload = function(event) {
                        resolve(event.target.result);
                    };
                    reader.onerror = function(event) {
                        reject(new Error("Error reading file"));
                    };
                    reader.readAsDataURL(file);
                });
                await this.ImageAIOCR(dataUrl, this.systemRole, this.systemAction);
              } catch(e) {};
               this.loading = false;             
          },

          async processVideoFile(file) {
            try {
              this.images = [];
              const url = URL.createObjectURL(file);
              const video = document.getElementById('videoElement');
              video.src = url;
              video.onloadedmetadata = () => {
                let count = 0;
                const interval = setInterval(() => {
                    if (video.readyState >= 2 && count < 30) { // Ensure video is ready
                      this.takeStill(video);
                      count++;
                    } else if (count >= 30) {
                      clearInterval(interval);
                      this.stitchImages();
                      video.srcObject && video.srcObject.getTracks().forEach(track => track.stop()); // Stop the video stream if necessary
                    }
                }, 850); // Capture interval set to 850 milliseconds (adjust as needed)
              };
            } catch(e) {};
          },

          takeStill(video) {
            try {
              const canvas = document.createElement('canvas');
              canvas.width = video.videoWidth;
              canvas.height = video.videoHeight;
              const context = canvas.getContext('2d');
              context.drawImage(video, 0, 0, canvas.width, canvas.height);
              const img = new Image();
              img.src = canvas.toDataURL('image/png');
              this.images.push(img);
            } catch(e) {};            
          }

          }, //end methods
          template: "#app-template", 
      });
      app.use(vuetify).mount('#app');
    }

    loadComponentsAndInitApp();

  </script>
<style>

    body, html {
        max-width: 100%;
        overflow-x: hidden;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
        /* font-size: calc(1em + 1vw); /* Adjusts size based on viewport width */
        text-rendering: optimizeLegibility; /* Enhances text legibility */
    }

</style>  
</body>
</html>