<template>
    <v-lazy       
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
        class="d-flex justify-center"
    >
    <v-container fluid class="d-flex justify-center">
        <v-row class="d-flex justify-center">
            <v-btn ripple variant="tonal" size="large" elevation="6" class="mx-2" color="primary" title="Click here to copy to your clipboard" icon="mdi-content-copy" @click="clip" style="display: inline-block;">
            </v-btn>
            <v-btn ripple variant="tonal" size="large" elevation="6" class="mx-2" color="primary" title="Click here to share" icon="mdi-share" @click="share" style="display: inline-block;">
            </v-btn>
            <v-btn ripple variant="tonal" size="large" elevation="6" class="mx-2" color="primary" title="Click here to download" icon="mdi-download" @click="downloadAsTxt" style="display: inline-block;">
            </v-btn>
        </v-row>
    </v-container>
    </v-lazy>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    methods: { 

        async share() {
              if (navigator.share) {
                const shareData = {
                      title: this.o.description,
                      text: this.o.text,
                      url: this.o.url
                  };
                  navigator.share(shareData);
                }; 
            },

        async clip() {
            copyClipboard(this.o.text);
        },

        async downloadAsTxt() {
            const blob = new Blob([this.o.text], { type: 'text/plain' });
            const link = document.createElement('a');
            link.href = URL.createObjectURL(blob);
            link.download = "download.txt";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
         
    }
}
</script>