<template>
    <v-lazy       
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >
        <v-row class="d-flex justify-center text-center">
            <v-col cols="auto" class="d-flex justify-center text-center">

            </v-col>
           
        </v-row>
    </v-lazy>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    methods: { 

        async share() {
              if (navigator.share) {
                const shareData = {
                      title: this.o.description,
                      text: this.o.text,
                      url: this.o.url
                  };
                  navigator.share(shareData);
                }; 
            },

        async clip() {
            copyClipboard(this.o.text);
        },

        async downloadAsTxt() {
            const blob = new Blob([this.o.text], { type: 'text/plain' });
            const link = document.createElement('a');
            link.href = URL.createObjectURL(blob);
            link.download = "download.txt";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
         
    }
}
</script>