<template>
    <v-lazy       
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >
        <v-container fluid class="text-center justify-center">

        </v-container>
    
    </v-lazy>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    methods: { 

        async share() {
              if (navigator.share) {
                const shareData = {
                      title: o.description,
                      text: o.text,
                      url: o.url
                  };
                  navigator.share(shareData);
                }; 
            },

        async clip() {
            copyClipboard(o.text);
        },

        async downloadAsTxt() {
            const blob = new Blob([o.txt], { type: 'text/plain' });
            const link = document.createElement('a');
            link.href = URL.createObjectURL(blob);
            link.download = "download.txt";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
         
    }
}
</script>