<template>
    <v-lazy       
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >
        <v-row>
            <v-col cols="12" sm="12" md="12">                   
                <v-btn ripple variant="tonal" size="large" elevation="6" class="ma-2" color="primary" title="Click here to copy to your clipboard" icon="mdi-content-copy" @click="clip">
                </v-btn>
                <v-btn ripple variant="tonal" size="large" elevation="6" class="ma-2" color="primary" title="Click here to share" icon="mdi-share" @click="share">
                </v-btn>
                <v-btn ripple variant="tonal" size="large" elevation="6" class="ma-2" color="primary" title="Click here to download" icon="mdi-download" @click="downloadAsTxt">
                </v-btn>
            </v-col>
        </v-row> 
    </v-lazy>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    methods: { 

        async share() {
              if (navigator.share) {
                const shareData = {
                      title: o.description,
                      text: o.text,
                      url: o.url
                  };
                  navigator.share(shareData);
                }; 
            },

            async clip() {
              copyClipboard(o.text);
            },

           async downloadAsTxt(it) {
              const blob = new Blob([o.answer], { type: 'text/plain' });
              const link = document.createElement('a');
              link.href = URL.createObjectURL(blob);
              link.download = "download.txt";
              document.body.appendChild(link);
              link.click();
              document.body.removeChild(link);
          }
         
    }
}
</script>