<template>
    <v-lazy       
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >
    <v-row>

        <v-col cols="12" sm="12" md="12">                   
            <v-btn ripple variant="tonal" size="large" elevation="6" class="ma-2" color="primary" title="Click here to copy to your clipboard" icon="mdi-content-copy" @click="clip(o)">
            </v-btn>
            <v-btn ripple variant="tonal" size="large" elevation="6" class="ma-2" color="primary" title="Click here to share" icon="mdi-share" @click="share(o)">
            </v-btn>
            <v-btn ripple variant="tonal" size="large" elevation="6" class="ma-2" color="primary" title="Click here to download" icon="mdi-download" @click="downloadAsTxt(o)">
            </v-btn>
        </v-col>

</v-row> 
    </v-lazy>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    data() {
        return {
            previousSessions: null
        }
    },

    async mounted() {
        try {
            if (this.o.session&&this.o.description) {
                await saveEntity(this.o);
            };
            let res = alasql("SELECT * FROM notes WHERE session IS NOT NULL AND description IS NOT NULL AND description <> '' ORDER BY DATE(mod) DESC");
            if (res&&res.length > 1) { 
                res = alasql("SELECT * FROM ? GROUP BY description",[res]);
                if (res&&res.length > 1) {
                    this.previousSessions = res;
                    res = null;
                };               
            };
        } catch (error) { return null; };            
        return null; 
    },

    methods: { 

        async emitResults() {
            if (this.o&&this.o.description) {  
                this.$emit('my-session', this.o);
                return;
            };
            this.$emit('my-session', {}); 
        }
         
    }
}
</script>