<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="xsbrt, ChatGPT, Structured Results, Expert Analysis, Real-life Expert, User Issues, Problem Solving, AI-driven Solutions, Data Structuring, Expert Role Design, Deliverables Crafting" />
    <meta name="description" content="xsbrt is your premier destination for obtaining structured results from real-life experts. Harnessing the power of advanced AI-driven solutions, we deliver concise and actionable insights tailored to your unique challenges. From pinpointing the most suitable expert roles to devising detailed deliverables, xsbrt ensures you receive the most accurate and relevant solutions. Dive in to transform your challenges into actionable insights." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="xsbrt: Your Expertise Hub" />
    <meta property="og:description" content="xsbrt is your premier destination for obtaining structured results from real-life experts. Dive in to transform your challenges into actionable insights." />
    <meta property="og:url" content="https://xsbrt.com" />
    <meta property="og:site_name" content="xsbrt" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="xsbrt" />
    <meta name="msapplication-TileImage" content="xsbrt-icon.png" />
    <meta name="msapplication-TileColor" content="blue" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="magnet.png" />
    <link rel="icon" href="magnet_icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <title>xsbrt</title>
</head>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
    <v-app id="inspire">  

      <v-app-bar color="primary" dark density="prominent" elevation="18">
        <v-app-bar-title link class="text-center justify-center action-title d-flex flex-column pb-1" style="cursor:pointer">
          <div class="d-flex align-center justify-center" @click="window.open('https://xsbrt.com/xsbrt','_self')">
              <v-icon left class="pb-1">mdi-brain-freeze-outline</v-icon>
              xsbrt
          </div>
          <div class="subtitle text-center" link>Let's help!</div>         
      </v-app-bar-title>          
    </v-app-bar> 

    <v-main class="justify-center text-center ma-4">

      <v-row class="justify-center my-4">

          <v-col v-if="isSupported&&!isListening" cols="auto">
            <v-btn 
            color="primary" 
            class="my-4"
            title="Speak what you want"
            size="large"
            icon="mdi-account-voice"
            variant="tonal"
            ripple
            @click="startSpeechRecognition"
          > 
          </v-btn>
           <!-- Stop Talking Button -->
          <v-btn v-if="isSupported&&isListening"
              title="Stop talking" 
              variant="tonal" 
              ripple 
              color="error" 
              icon="mdi-voice-off" 
              @click="stopSpeechRecognition"
          ></v-btn>
        </v-col>

      <v-col v-if="previousSessions&&previousSessions.length > 1" cols="12" md="3">
        <v-autocomplete
          label="Keeping track of your previous interests"
          hint="Here's a searchable list of ideas you have asked to fund in the past"
          persistent-hint
          auto-grow
          rounded
          ripple
          class="my-4"
          variant="outlined"
          color="primary"      
          :items="previousSessions"
          item-title="description"
          v-model.lazy="o"
          @update:modelValue="showFavorites=false;gatherResults();"
          return-object
        ></v-autocomplete>
      </v-col>

      </v-row>

      <v-textarea 
      v-model.trim="o.description" 
      label="Describe Your Issue or Challenge"
      hint="Seek structured results from real-life experts. Your journey to actionable insights starts with clarity!"
      placeholder="What's the challenge you're facing? Need expert insights or structured solutions? Share it here!"
      persistent-hint 
      auto-grow 
      rounded
      clearable 
      rows="3" 
      class="ma-4 action-textarea"
      variant="outlined"
      maxlength="1000"
      :counter="1000"
      color="primary"
  >
  </v-textarea>

  <v-btn 
  v-if="o&&o.description&&o.description.length > 4" 
  color="primary" 
  elevation="8" 
  variant="tonal"
  size="large" 
  rounded  
  ripple
  @click="gatherResults" 
  class="mb-4 mt-2 pa-3 text-center justify-center action-button" 
  :loading="loading"
>
Let's help!
</v-btn> 

<v-container v-if="o.results" class="text-left">

    <v-alert class="mt-2 my-4 pa-4 text-left" variant="text" :text="o.results.role" color="primary" :title="o.results.expertTitle" border elevation="8" rounded>      
    </v-alert>   

    <v-row v-if="o.results.questions" class="mt-4 pt-4">
        <v-col cols="12" sm="12" md="12" v-for="it in o.results.questions" class="py-4 primary text-h5" :key="it">
            <v-icon class="pr-2" color="primary" large>mdi-help</v-icon>{{it}}
        </v-col>
    </v-row> 
    
    <v-row v-if="o.results.deliverables">
        <v-col cols="12" sm="12" md="12" v-for="it in o.results.deliverables" class="py-4" :key="it.name">
            <span class="primary">{{it.name}}</span>
            <v-row v-if="it.questions">
                <v-col cols="12" sm="12" md="12" v-for="it2 in it.questions" class="ml-4 pl-4 pb-2" :key="it2">
                    <v-icon class="pr-2" color="primary" large>mdi-help</v-icon>{{it2}}
                </v-col>
            </v-row> 

        </v-col>
    </v-row> 

</v-container>
        
      <v-overlay
  v-model="deliverable"
  class="overlay-container"
  close-on-back
  width="99%"
  height="99%"
>
  <v-card class="overlay-card py-4">
    <v-card-title class="overlay-title text-center justify-center">
      <span>{{deliverable.entity}}</span>      
      <v-spacer></v-spacer>
        <v-btn v-if="deliverable.result" 
        icon
        ripple
        color="success"
        class="my-4 mx-2"
        variant="tonal"
        size="small"
        @click="copyClipboard" 
        title="Copy to clipboard">
      <v-icon>mdi-content-copy</v-icon>
      </v-btn>
      <v-btn v-if="deliverable.result" 
        icon
        ripple
        size="small"
        color="success"
        class="my-4 mx-2"
        variant="tonal"
        title="Share this content"
        @click="shareDeliverable"
      >
        <v-icon>mdi-share</v-icon>
      </v-btn>
      <v-btn 
        icon 
        ripple
        class="my-4 mx-2"
        color="error" 
        @click="overlay = false; deliverable = null;" 
        title="Close"
        variant="tonal"
        size="small"
      >
      <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-card-title>

    <v-card-subtitle class="overlay-subtitle text-center justify-center pb-4">
      {{deliverable.type}}
    </v-card-subtitle>

    <v-card-text class="overlay-content pb-2">
      <v-progress-linear v-if="!deliverable.result&&selectedQuote" color="primary" indeterminate height="65" class="py-4 my-4 mx-1 text-center justify-center text-white font-weight-black">
        <span class="pa-1">{{ selectedQuote.q }}</span>
      </v-progress-linear>

      <pre v-if="deliverable.result" class="result-text pb-2">
        {{deliverable.result}}
      </pre>
    </v-card-text>
  </v-card>
</v-overlay> 

<v-progress-linear v-if="loading&&selectedQuote&&!deliverable" color="primary" indeterminate height="65" class="py-4 my-4 mx-1 text-center justify-center text-white font-weight-black">
  <span class="pa-1">{{ selectedQuote.q }}</span>
</v-progress-linear>
 
   
    </v-main>
    <v-footer app class="text-center justify-center d-flex pa-4" elevation="18">
        <v-btn 
          icon
          ripple
          size="small"
          color="primary" 
          title="Share this site"
          @click="shareContent"
      >
        <v-icon>mdi-share</v-icon>
      </v-btn>
    </v-footer>
  </v-app>

     </script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script src="artyom.window.min.js"></script>   
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>    
    <script setup> 
        const { createApp } = Vue;
        const { createVuetify } = Vuetify;      
        const vuetify = createVuetify();      
        const app = createApp({

            data() {
                return {
                    o: {description: ''},
                    session: null,
                    loading: false,
                    deliverable: null,
                    isListening: false,
                    loading: false,
                    isSupported: true,
                    selectedQuote: null
                }
            },

            created() {  
                this.role = null;
                createStorage('xsbrts');
                this.id = null;              
                this.artyom = null;                           
            },

            watch: {
                deliverable: function (newValue) {
                    return newValue;
                },

                o: function (newValue) {
                    return newValue;
                }
            },

            async mounted() { 
                this.role = 'You are a ChatGPT specialist skilled in producing structured results. Based on the issue I provide:1. Determine a Title:     - Identify a suitable title that represents the best real-life expert for the described issue, no hypotheticals or made-up experts. 2. Craft an Expert Role:    - Design a ChatGPT role description that captures the essence of the identified expert. 3. Generate Follow-up Questions:    - Suggest no more than two questions that could refine and enhance the understanding of the initial issue. 4. Outline Deliverables:    - Based on the crafted role, provide between 3 and 5 deliverables that address the issue optimally.    - For each deliverable, list out specific 2 questions to tailor it to the situations specifics. 5. Summarize the Input:    - Provide a concise summary of the presented issue for clarity. Finally, consolidate your results strictly within this JSON structure:```    {  "expertTitle": "[Outcome of Step 1]",  "role": "[Outcome of Step 2]",  "questions": "[Outcome of Step 3]",  "deliverables": [    {      "name": "[Name of Deliverable]",      "description": "[Description of Deliverable]",      "questions": "[Associated Questions for Deliverable]"    },    ... [Additional deliverables as needed]  ]"}```Please ensure your output adheres to this JSON format.' + writingPrompt();                 
                this.o.session = randomString();                             
                //let res = alasql("SELECT TOP 1 description FROM notes WHERE description IS NOT NULL AND id IS NULL ORDER BY DATE(mod) DESC");
                //if (res&&res.length > 0) { 
                  //this.o = res[0];
                //};
                this.o.id = await retrieveId();
                this.artyom = new Artyom();
                this.isSupported = this.artyom.speechSupported();
                this.o.location = await getDeviceLocation();
                console.clear();
                //console.log(this.o.id); 
            },

            computed: {
              

              previousSessions() {                
                if (!this.session) { return null };
                try {
                  let res = alasql("SELECT description FROM notes WHERE description IS NOT NULL AND description <> '' AND id IS NULL GROUP BY description ORDER BY DATE(mod) DESC");
                  if (res&&res.length > 1) { 
                    return res;
                  };
                } catch(error) { return [] };                
                return [{description: ''}];  
              }

            },

            methods: {   
              
              async changeQuote() {
                  this.selectedQuote = await getRandomQuote();
              },

              async startSpeechRecognition() { 
                try {
                  this.o["description"] = '';
                  this.artyom.fatality();
                  await this.artyom.initialize({ debug: false, soundex: true, continuous: true, listen: true, speed: 1 });       
                  this.artyom.addCommands({
                    indexes: [/.*/],
                    smart: true,
                    action: (i, wildcard) => {
                      this.o["description"] = this.o.description + ' ' + wildcard.trim();
                    }
                  });
                  setTimeout(() => { this.isListening = true }, 2000);
                  this.artyom.redirectRecognizedTextOutput((text, isFinal) => {
                    this.o["description"] = text.trim();
                });
                } catch (error) { return };               
              },

              async stopSpeechRecognition() { 
                try {
                  this.isListening = false;
                  this.artyom.fatality();
                if (!this.loading) { this.gatherResults() };
                } catch (error) { return };               
              },

              async shareItem(it) {                
                if (navigator.share) {
                  const shareData = {
                        title: it.name,
                        text: it.summary,
                        url: it.website
                    };
                    navigator.share(shareData);
                    saveEntity(it);
                  }; 
                },

                async shareDeliverable() {
                  let it = {};
                  it["title"] = this.deliverable.type + ' - ' + this.deliverable.entity;
                  it["text"] = this.deliverable.result;
                  it["text"] = 'https://xsbrt.com/xsbrt'
                  this.shareItem(it);
                },

              async shareContent() {                
                if (navigator.share) {
                  const shareData = {
                        title: 'FundMagnet - Ignite Your Nonprofit\'s Potential',
                        text: 'FundMagnet is your ultimate platform for nonprofit fundraising, designed to ignite your organization\'s potential. Leveraging cutting-edge AI technology, we offer personalized funding solutions tailored to your mission. From crafting compelling Letters of Inquiry to devising meticulous budgets and strategic fundraising plans, FundMagnet is your one-stop solution for all your fundraising needs. Let us help you turn your vision into reality.',
                        url: 'https://xsbrt.com/tinyfundraiser'
                    };
                    navigator.share(shareData);
                  }; 
                },

              async changeObject(o) {
                if (typeof o === 'string') {
                  this.o.description = o;
                };
                this.o = o;
              },

              async clearInput() {
                this.session = randomString();
                if (!this.o) {
                  this.o = { description: ''}; 
                  return;                 
                };
                this.o.description = '';                
              },

              async getDeliverable(it) { 
                console.clear();                              
                if (!this.deliverable) { return };  
                await this.changeQuote;              
                if (this.deliverable.result) { 
                  this.deliverable.result = '';                                
                };                
                setInterval(this.changeQuote, 5500); 
                this.deliverable["entity"] = it.name;
                this.o["description"] = this.o.description.replace(/\s+/g, ' ').trim();
                let txt = `Generate a ${this.deliverable.type} focused on the mission: ${this.o.description}, taking into account ${it.name}'s summary: ${it.summary}. The output must be a valid JSON object in the format { result: 'formatted text' }.`;
                txt = txt + writingPrompt();                
                const messages = [
                    { role: "system", content: this.role },
                    { role: "user", content: txt }
                ];
                const res = await getResults(messages,0.4);
                if (res) {
                  this.deliverable["result"] = res.result;
                  saveEntity(it);
                };                           
              },

              async gatherResults() {
                if (!this.o||!this.o.description||this.o.description.length < 5) { return };
                await this.changeQuote; 
                //this.stopSpeechRecognition();
                this.showFavorites = false;
                console.clear();  
                this.loading = true;
                setInterval(this.changeQuote, 5500);                 
                if (this.o.results) { delete this.o.results }; 
                this.session = randomString();
                this.o["description"] = convertMultipleSpacesToSingle(this.o.description);
                saveEntity(this.o);  
                let txt = `The user has asked about the following: "${this.o.description}".`;
                //if (this.location&&this.location.latitude) {
                  //txt = txt + ' This persons geographic location is latitude: ' + this.location.latitude + '; longitude: ' + this.location.longitude + '.';
                //};                           
                const messages = [
                    { role: "system", content: this.role },
                    { role: "user", content: txt }
                ];
                const res = await getResults(messages,0.4);
                if (res) {
                  this.o["results"] = res; 
                  console.log(res);                 
                }; 
                this.loading = false;              
              },

            async copyClipboard() {
              copyClipboard(this.deliverable["result"]);
            },    

            async downloadData() {
                let res = null;
                if (this.showFavorites) { res = this.favorites } else { res = this.o.results };
                if (res&&res.length > 0) {
                    downloadData(res);
                };            
            }

            },

            template: "#app-template", 
        });
        app.use(vuetify).mount('#app');
    </script>
    
    <style scoped>
      #app {
          width: 100%;
          height: 100vh;
          background-color: white;
      }
  
      .overlay-container {
          overflow: auto;
      }
  
      .overlay-card {
          max-width: 90%;
          margin: auto;
      }
  
      .overlay-title {
          font-size: 1.5em;
          font-weight: bold;
      }
  
      .overlay-subtitle {
          font-size: 1.2em;
      }
  
      .overlay-content {
          overflow-y: auto;
          max-height: 70vh;
      }
  
      .result-text {
          font-size: 1.1em;
          white-space: pre-wrap;
          word-wrap: break-word;
      }
  
      .action-title {
          font-weight: bold;
          letter-spacing: 1.2px;
      }
  
      .subtitle {
          font-size: 0.8em;
          margin-left: 5px;
      }
  
      .action-button {
          font-weight: bold;
          letter-spacing: 1.2px;
          transition: all 0.3s ease;
      }
  
      .action-button:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }
  
      .action-textarea {
          border: 2px solid var(--primary-color);
          border-radius: 8px;
          transition: all 0.3s ease;
      }
  
      .action-textarea:focus-within {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  </style>
  
</body>
</html>