<template>
    <v-lazy v-if="o"      
        :min-height="50"
        :options="{'threshold':0.5}"
        transition="fade-transition"
    >
    <v-row class="justify-center mt-1">  
        <v-col v-if="isSupported" cols="auto" class="pt-3">
            <v-btn v-if="!isListening"
                color="primary" 
                elevation="4"
                title="Start talking"
                size="x-large"
                icon="mdi-account-voice"
                variant="tonal"
                ripple
                :loading="loading"
                @click="startSpeechRecognition"
            > 
            </v-btn>
            <v-btn v-if="isListening"
                title="Stop talking" 
                variant="tonal" 
                ripple 
                size="x-large"
                elevation="4"
                color="error" 
                icon="mdi-voice-off" 
                :loading="loading"
                @click="stopSpeechRecognition"
            ></v-btn>
        </v-col> 
        <v-col cols="auto" xs="12" sm="12" md="8" lg="8" xl="8">
            <v-textarea 
                v-model="speechText" 
                :label="o.label"
                :hint="o.hint"
                :placeholder="o.placeholder"
                persistent-hint 
                rounded
                class="pa-1 mr-4"
                spellcheck="true"
                autocomplete="on"
                clearable 
                rows="1"
                density="comfortable" 
                variant="outlined"
                maxlength="1000"
                :counter="1000"
                color="primary"
                @click:clear="emitResults"
            >
            </v-textarea>            
        </v-col>
    </v-row>
    </v-lazy>
</template>
<script>
export default {

    props: {

        o: {
            type: Object,
            required: true
        }

    },

    data() {
      return {
        artyom: new Artyom(),
        loading: false,
        isSupported: false,
        isListening: false,
        speechText: ''
      };
    },

    watch: {
        speechText(newVal, oldVal) {
            if (newVal.length > 9) {
                this.emitResults();
            }
        }
    },

    async mounted() {
        this.isSupported = await this.artyom.speechSupported();
        navigator.permissions.query({name:'microphone'}).then((permissionStatus) => {
            if (permissionStatus.state === 'denied') {
                this.isSupported = false;
            };
        });
    },

    methods: {

        async startSpeechRecognition() { 
            try {
                this.loading = true;
                this.isListening = false;
                this.speechText = '';
                await this.artyom.initialize({lang:"en-US", debug: false, soundex: true, continuous: true, listen: true, speed: 1 });       
                this.artyom.addCommands({
                    indexes: [/.*/],
                    smart: true,
                    action: (i, wildcard) => {
                        this.speechText = this.speechText + ' ' + wildcard.trim();
                    }
                });
                setTimeout(() => { this.isListening = true; this.loading = false; }, 2000);
                  this.artyom.redirectRecognizedTextOutput((text, isFinal) => {
                    this.speechText = text;
                });
                return;
            } catch (error) {
                this.artyom.fatality();
                return;
            }               
        },

        async emitResults() {
            if (this.speechText.length > 9) {
                this.o.results = this.speechText;
                this.$emit('speech-recognized', this.o);
                return;
            };
            this.$emit('speech-recognized', {}); 
        },

        async stopSpeechRecognition() { 
            try { 
                this.o.speech = true;               
                this.emitResults();
                this.isListening = false; 
                this.artyom.fatality();                
            } catch (error) {
                return;
            }               
        }
    }
}
</script>