<template>
      <button @click="startRecognition">Start Speech Recognition</button>
  </template>
  
  <script>
  export default {
    data() {
      return {
        text: '',
        artyom: new Artyom()
      };
    },
    methods: {
      startRecognition() {
        this.artyom.initialize({
          lang: "en-US",
          continuous: true,
          debug: false,
          listen: true
        });
        
        this.artyom.redirectRecognizedTextOutput((recognizedText, isFinal) => {
          if (isFinal) {
            this.text += recognizedText + ". ";
            this.$emit('speech-recognized', this.text); // Emitting the result to the parent
          }
        });
      }
    }
  };
  </script>
  
  <style scoped>
    textarea {
      width: 100%;
      height: 100px;
      padding: 10px;
      box-sizing: border-box;
    }
  </style>
  