<template>
    <span v-if="isSupported">      
        <v-btn v-if="!isListening"
                color="primary" 
                class="my-4"
                title="Speak what you want"
                size="large"
                icon="mdi-account-voice"
                variant="tonal"
                ripple
                @click="startSpeechRecognition"
          > 
          </v-btn>
           <!-- Stop Talking Button -->
          <v-btn v-if="isListening"
              title="Stop talking" 
              variant="tonal" 
              ripple 
              color="error" 
              icon="mdi-voice-off" 
              @click="stopSpeechRecognition"
          ></v-btn>
    </span>
  </template>
  
  <script>
  export default {
    data() {
      return {
        text: '',
        artyom: new Artyom(),
        isSupported: this.artyom.speechSupported(),
        isListening: false
      };
    },
    methods: {

        async startSpeechRecognition() { 
            try {
                this.text = '';
                this.artyom.fatality();
                await this.artyom.initialize({ debug: false, soundex: true, continuous: true, listen: true, speed: 1 });       
                this.artyom.addCommands({
                indexes: [/.*/],
                smart: true,
                action: (i, wildcard) => {
                    this.text = this.text + ' ' + wildcard.trim();
                }
                });
                setTimeout(() => { this.isListening = true }, 2000);
                this.artyom.redirectRecognizedTextOutput((text, isFinal) => {
                this.text = text.trim();
            });
            } catch (error) { return };               
        },

        async stopSpeechRecognition() { 
            try {
                this.isListening = false;
                this.artyom.fatality();
                this.$emit('speech-recognized', this.text.trim());
            } catch (error) { return };               
        }

    }
  };
  </script>