<template>
    <span>
        <button @click="startRecognition">Start Speech Recognition</button>
            <v-btn 
            color="primary" 
            class="my-4"
            title="Speak what you want"
            size="large"
            icon="mdi-account-voice"
            variant="tonal"
            ripple
            @click="startSpeechRecognition"
          > 
          </v-btn>
           <!-- Stop Talking Button -->
          <v-btn v-if="isSupported&&isListening"
              title="Stop talking" 
              variant="tonal" 
              ripple 
              color="error" 
              icon="mdi-voice-off" 
              @click="stopSpeechRecognition"
          ></v-btn>
    </span>
  </template>
  
  <script>
  export default {
    data() {
      return {
        text: '',
        artyom: new Artyom(),
        isSupported: this.artyom.speechSupported(),
        isListening: false
      };
    },
    methods: {

        async startSpeechRecognition() { 
                try {
                  this.o["description"] = '';
                  this.artyom.fatality();
                  await this.artyom.initialize({ debug: false, soundex: true, continuous: true, listen: true, speed: 1 });       
                  this.artyom.addCommands({
                    indexes: [/.*/],
                    smart: true,
                    action: (i, wildcard) => {
                      this.o["description"] = this.o.description + ' ' + wildcard.trim();
                    }
                  });
                  setTimeout(() => { this.isListening = true }, 2000);
                  this.artyom.redirectRecognizedTextOutput((text, isFinal) => {
                    this.o["description"] = text.trim();
                });
                } catch (error) { return };               
              },

              async stopSpeechRecognition() { 
                try {
                  this.isListening = false;
                  this.artyom.fatality();
                if (!this.loading) { this.gatherResults() };
                } catch (error) { return };               
              },

      startRecognition() {
        this.artyom.initialize({
          lang: "en-US",
          continuous: true,
          debug: false,
          listen: true
        });
        
        this.artyom.redirectRecognizedTextOutput((recognizedText, isFinal) => {
          if (isFinal) {
            this.text += recognizedText + ". ";
            this.$emit('speech-recognized', this.text); // Emitting the result to the parent
          }
        });
      }
    }
  };
  </script>