<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sprint Analyzer</title>
  <!-- Vue.js 2 CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <!-- Vuetify.js 2 CDN -->
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.js"></script>
  <!-- Material Design Icons -->
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
  <!-- localForage CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.10.0/localforage.min.js"></script>
</head>
<body>
  <div id="app">
    <v-app>
      <v-container fluid>
        <v-row justify="center">
          <v-col cols="12" md="10">
            <v-card elevation="2" class="pa-5">
              <v-card-title class="headline primary--text text--darken-2">
                Sprint Analyzer
              </v-card-title>
              <v-card-actions>
                <v-btn color="primary" @click="startCapture" :disabled="processing" ripple>
                  Start Video Capture
                </v-btn>
                <v-btn icon fab elevation="16" @click="stopVideoStream" :disabled="!processing" title="Click to stop video" ripple color="red" class="ml-2">
                  <v-icon>mdi-stop</v-icon>
                </v-btn>
                <v-btn icon fab elevation="16" color="primary" @click="triggerFileUpload" title="Click to upload file" ripple class="ml-2">
                  <v-icon>mdi-upload</v-icon>
                </v-btn>
                
                <input
                  ref="fileInput"
                  type="file"
                  accept="video/*"
                  @change="handleVideoUpload"
                  style="display: none;"
                />
              </v-card-actions>
              <v-card-text>
                <p>
                  Upload a video file or start video capture to analyze sprinting performance.
                  Ensure the runner is centered in the frame for accurate analysis. Capture will stop automatically after 7 seconds.
                </p>

                <v-row v-if="aiData && aiData.Recommendations" class="align-start justify-left">
                  <v-col xs="12" sm="12" md="4" lg="4" xl="3">
                    <v-text-field v-model.trim="athlete.firstName" rounded outlined hint="Athlete's first name" label="Athlete's first name"></v-text-field>
                  </v-col>
                  <v-col xs="12" sm="12" md="4" lg="4" xl="3">
                    <v-text-field v-model.trim="athlete.lastName" rounded outlined hint="Athlete's last name" label="Athlete's last name"></v-text-field>
                  </v-col>
                  <v-col xs="12" sm="12" md="4" lg="4" xl="3">
                    <v-select v-model="athlete.gender" :items="['Male', 'Female', 'Other']" rounded outlined label="Gender"></v-select>
                  </v-col>
                  <v-col xs="12" sm="12" md="4" lg="4" xl="3">
                    <v-text-field v-model="athlete.dob" label="Date of Birth" type="date" rounded outlined></v-text-field>
                  </v-col>                 
                </v-row>

                <v-row v-if="aiData && aiData.Recommendations" class="align-center justify-center">
                  <v-col cols="12">
                    <v-btn icon fab x-large elevation="16" title="Click to save result" ripple color="green" @click="saveResults">
                      <v-icon>mdi-content-save</v-icon>
                    </v-btn>
                  </v-col>
                </v-row>

                <v-row v-show="savedAthletes.length" class="mt-5">
                  <v-col cols="12">
                    <v-autocomplete
                      v-model="selectedAthlete"
                      :items="savedAthletes"
                      item-text="fullName"
                      label="Select an Athlete"
                      return-object
                      @change="loadAthleteResults"
                    ></v-autocomplete>
                  </v-col>
                </v-row>

                  <!-- Display Athlete Information and Results -->
  <v-row v-if="aiData&&aiData.Recommendations">
    <v-col cols="12" md="12">
      <v-card class="my-4" v-for="(result, index) in athlete.results" :key="index" outlined elevation="12"> 
        <v-card-title v-if="result.date">{{ result.date }}</v-card-title>      
        <v-card-text>
          <!-- Show sprint analysis metrics in a list -->
          <v-list dense>
            <v-list-item v-if="result.EstimatedSpeed" two-line>
              <v-list-item-content>
                <v-list-item-title class="subtitle-1 font-weight-bold">Speed Estimate</v-list-item-title>
                <v-list-item-subtitle>{{ result.EstimatedSpeed.analysis }}</v-list-item-subtitle>
                <v-list-item-subtitle>Miles per hour: {{ result.EstimatedSpeed.improvement }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

            <v-list-item v-if="result.ForceApplication" two-line>
              <v-list-item-content>
                <v-list-item-title class="subtitle-1 font-weight-bold">Force Application</v-list-item-title>
                <v-list-item-subtitle>{{ result.ForceApplication.analysis }}</v-list-item-subtitle>
                <v-list-item-subtitle>{{ result.ForceApplication.improvement }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

            <v-list-item v-if="result.GroundContactTime" two-line>
              <v-list-item-content>
                <v-list-item-title class="subtitle-1 font-weight-bold">Ground Contact Time</v-list-item-title>
                <v-list-item-subtitle>{{ result.GroundContactTime.analysis }}</v-list-item-subtitle>
                <v-list-item-subtitle>{{ result.GroundContactTime.improvement }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

            <v-list-item v-if="result.BodyPosture" two-line>
              <v-list-item-content>
                <v-list-item-title class="subtitle-1 font-weight-bold">Posture and Mechanics</v-list-item-title>
                <v-list-item-subtitle>{{ result.BodyPosture.analysis }}</v-list-item-subtitle>
                <v-list-item-subtitle>{{ result.BodyPosture.improvement }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

            <v-list-item v-if="result.AccelerationEfficiency" two-line>
              <v-list-item-content>
                <v-list-item-title class="subtitle-1 font-weight-bold">Acceleration Efficiency</v-list-item-title>
                <v-list-item-subtitle>{{ result.AccelerationEfficiency.analysis }}</v-list-item-subtitle>
                <v-list-item-subtitle>{{ result.AccelerationEfficiency.improvement }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

            <v-list-item v-if="result.MuscleEngagement" two-line>
              <v-list-item-content>
                <v-list-item-title class="subtitle-1 font-weight-bold">Muscle Engagement</v-list-item-title>
                <v-list-item-subtitle>{{ result.MuscleEngagement.analysis }}</v-list-item-subtitle>
                <v-list-item-subtitle>{{ result.MuscleEngagement.improvement }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

            <v-list-item v-if="result.VelocityMaintenance" two-line>
              <v-list-item-content>
                <v-list-item-title class="subtitle-1 font-weight-bold">Velocity Maintenance</v-list-item-title>
                <v-list-item-subtitle>{{ result.VelocityMaintenance.analysis }}</v-list-item-subtitle>
                <v-list-item-subtitle>{{ result.VelocityMaintenance.improvement }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            
            <v-list-item v-if="result.Recommendations && result.Recommendations.length">
              <v-list-item-content>
                <v-list-item-title class="subtitle-1 font-weight-bold">Recommendations</v-list-item-title>
                <v-list-item-subtitle>
                  <ul>
                    <li v-for="(recommendation, recIndex) in result.Recommendations" :key="recIndex">
                      {{ recommendation.recommendation }}
                    </li>
                  </ul>
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>


                <v-row>
                  <v-progress-linear v-show="processing" indeterminate color="primary" class="my-4"></v-progress-linear>


                  <v-col v-if="aiData&&aiData.Recommendations" cols="12">
                    <v-card outlined elevation="12">      
                      <v-card-text>
                        <!-- Show sprint analysis metrics in a list -->
                        <v-list dense>
                          <v-list-item v-if="aiData.EstimatedSpeed" two-line>
                            <v-list-item-content>
                              <v-list-item-title class="subtitle-1 font-weight-bold">Speed Estimate</v-list-item-title>
                              <v-list-item-subtitle class="wrap-text">{{ aiData.EstimatedSpeed.analysis }}</v-list-item-subtitle>
                              <v-list-item-subtitle class="wrap-text">{{ aiData.EstimatedSpeed.improvement }}</v-list-item-subtitle>
                            </v-list-item-content>
                          </v-list-item>
              
                          <v-list-item v-if="aiData.ForceApplication" two-line>
                            <v-list-item-content>
                              <v-list-item-title class="subtitle-1 font-weight-bold">Force Application</v-list-item-title>
                              <v-list-item-subtitle class="wrap-text">{{ aiData.ForceApplication.analysis }}</v-list-item-subtitle>
                              <v-list-item-subtitle class="wrap-text">{{ aiData.ForceApplication.improvement }}</v-list-item-subtitle>
                            </v-list-item-content>
                          </v-list-item>
              
                          <v-list-item v-if="aiData.GroundContactTime" two-line>
                            <v-list-item-content>
                              <v-list-item-title class="subtitle-1 font-weight-bold">Ground Contact Time</v-list-item-title>
                              <v-list-item-subtitle class="wrap-text">{{ aiData.GroundContactTime.analysis }}</v-list-item-subtitle>
                              <v-list-item-subtitle class="wrap-text">{{ aiData.GroundContactTime.improvement }}</v-list-item-subtitle>
                            </v-list-item-content>
                          </v-list-item>
              
                          <v-list-item v-if="aiData.BodyPosture" two-line>
                            <v-list-item-content>
                              <v-list-item-title class="subtitle-1 font-weight-bold">Posture and Mechanics</v-list-item-title>
                              <v-list-item-subtitle class="wrap-text">{{ aiData.BodyPosture.analysis }}</v-list-item-subtitle>
                              <v-list-item-subtitle class="wrap-text">{{ aiData.BodyPosture.improvement }}</v-list-item-subtitle>
                            </v-list-item-content>
                          </v-list-item>
              
                          <v-list-item v-if="aiData.AccelerationEfficiency" two-line>
                            <v-list-item-content>
                              <v-list-item-title class="subtitle-1 font-weight-bold">Acceleration Efficiency</v-list-item-title>
                              <v-list-item-subtitle class="wrap-text">{{ aiData.AccelerationEfficiency.analysis }}</v-list-item-subtitle>
                              <v-list-item-subtitle class="wrap-text">{{ aiData.AccelerationEfficiency.improvement }}</v-list-item-subtitle>
                            </v-list-item-content>
                          </v-list-item>
              
                          <v-list-item v-if="aiData.MuscleEngagement" two-line>
                            <v-list-item-content>
                              <v-list-item-title class="subtitle-1 font-weight-bold">Muscle Engagement</v-list-item-title>
                              <v-list-item-subtitle class="wrap-text">{{ aiData.MuscleEngagement.analysis }}</v-list-item-subtitle>
                              <v-list-item-subtitle class="wrap-text">{{ aiData.MuscleEngagement.improvement }}</v-list-item-subtitle>
                            </v-list-item-content>
                          </v-list-item>
              
                          <v-list-item v-if="aiData.VelocityMaintenance" two-line>
                            <v-list-item-content>
                              <v-list-item-title class="subtitle-1 font-weight-bold">Velocity Maintenance</v-list-item-title>
                              <v-list-item-subtitle class="wrap-text">{{ aiData.VelocityMaintenance.analysis }}</v-list-item-subtitle>
                              <v-list-item-subtitle class="wrap-text">{{ aiData.VelocityMaintenance.improvement }}</v-list-item-subtitle>
                            </v-list-item-content>
                          </v-list-item>
                          
                          <v-list-item v-if="aiData.Recommendations && aiData.Recommendations.length">
                            <v-list-item-content>
                              <v-list-item-title class="subtitle-1 font-weight-bold">Recommendations</v-list-item-title>
                              <v-list-item-subtitle class="wrap-text">
                                <ul>
                                  <li v-for="(recommendation, recIndex) in aiData.Recommendations" :key="recIndex">
                                    {{ recommendation.recommendation }}
                                  </li>
                                </ul>
                              </v-list-item-subtitle>
                            </v-list-item-content>
                          </v-list-item>
                        </v-list>
                      </v-card-text>
                    </v-card>
                  </v-col>
                  <v-col v-show="capturedFrames.length" cols="12">
                    <v-carousel
                      :cycle="processing"
                      hide-delimiters
                      height="400"
                      show-arrows-on-hover
                      class="my-carousel"
                      :interval="900"
                    >
                      <v-carousel-item
                        v-for="(frame, index) in capturedFrames"
                        :key="index"
                      >
                        <v-img
                          :src="frame"
                          :alt="'Frame ' + index"
                          max-height="400px"
                          max-width="100%"
                          class="d-flex align-center justify-center"
                        />
                      </v-carousel-item>
                    </v-carousel>
                  </v-col>                  
                </v-row>  
                <video ref="video" autoplay style="display: none;" width="100%" muted></video>                
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-app>
  </div>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          videoStream: null,
          aiData: null, // AI data containing metrics and recommendations
          processing: false,
          capturedFrames: [],
          athlete: { firstName: '', lastName: '', gender: '', dob: '' }, // New athlete data
          savedAthletes: [], // List of saved athletes
          selectedAthlete: null // Selected athlete from autocomplete
        };
      },
      methods: {
        triggerFileUpload() {
          this.$refs.fileInput.click();
        },
        async handleVideoUpload(event) {
          try {
            const videoFile = event.target.files && event.target.files[0];
            this.processVideoFile(videoFile);
          } catch (error) {
            return;
          }
        },
        async processVideoFile(videoFile) {
          try {
            this.processing = true;
            this.capturedFrames = []; // Reset captured frames
            this.aiData = null;

            const videoElement = document.createElement('video');
            videoElement.src = URL.createObjectURL(videoFile);
            videoElement.muted = true; // Ensure the uploaded video is muted

            // Ensure the video is loaded
            await new Promise(resolve => {
              videoElement.onloadeddata = () => resolve();
            });

            // Play the video to be able to seek through it
            videoElement.play();

            // Process the video like in the video stream case
            this.processVideoFromStream(videoElement);
          } catch (error) {
            console.error('Error processing video file:', error);
            this.processing = false;
          }
        },
        async startCapture() {
          try {
            this.aiData = null;
            this.processing = true;
            this.capturedFrames = []; // Reset captured frames

            const videoElement = this.$refs.video;
            this.videoStream = await navigator.mediaDevices.getUserMedia({
              video: { facingMode: 'user' },
              audio: false,
            });

            // Stop all audio tracks
            this.videoStream.getAudioTracks().forEach(track => track.stop());
            videoElement.srcObject = this.videoStream;
            videoElement.style.display = 'block';
            videoElement.muted = true; // Ensure the video is muted

            videoElement.addEventListener('loadedmetadata', () => {
              this.processVideoFromStream(videoElement);
            });
          } catch (error) {
            console.error("Error accessing media devices.", error);
            this.processing = false;
          }
        },
        async processVideoFromStream(videoElement) {
          this.capturedFrames = [];
          this.aiData = null;
          this.processing = true;

          // Define constants for duration and frame rate
          const maxDuration = 7; // Maximum duration to capture in seconds
          const frameRate = 0.15; // Interval between frames in seconds

          // Calculate total number of frames to capture
          const duration = Math.min(videoElement.duration || maxDuration, maxDuration);
          const totalFrames = Math.floor(duration / frameRate);

          // Prepare canvas for capturing frames
          const canvas = document.createElement('canvas');
          const context = canvas.getContext('2d');
          const videoWidth = videoElement.videoWidth;
          const videoHeight = videoElement.videoHeight;
          canvas.width = videoWidth;
          canvas.height = videoHeight;

          let frameIndex = 0; // Initialize frame index

          // Function to capture a single frame
          const captureFrame = () => {
            if (videoElement.currentTime >= duration || frameIndex >= totalFrames) {
              console.log('Captured all frames.');
              this.stopVideoStream();             
              this.analyzeFrames(); // Analyze frames after capturing all
              return;
            }

            // Set video time to the next frame capture point
            videoElement.currentTime = frameIndex * frameRate;

            // Handle the frame capture after seeking
            const onFrameCaptured = () => {
              context.drawImage(videoElement, 0, 0, videoWidth, videoHeight);
              const img = new Image();
              img.src = canvas.toDataURL();
              this.capturedFrames.push(img);
              console.log(`Captured frame ${frameIndex + 1}/${totalFrames}`);

              frameIndex++; // Increment frame index
              requestAnimationFrame(captureFrame); // Schedule next frame capture
            };

            // Listen for the video seeking event to capture the frame
            videoElement.onseeked = onFrameCaptured;

            // Fallback in case `onseeked` event doesn't fire (e.g., due to browser quirks)
            const fallbackTimeout = setTimeout(() => {
              console.log('Seek event fallback triggered.');
              onFrameCaptured(); // Capture the frame using fallback
            }, 300); // 300ms fallback timeout

            // Clear the fallback timeout if `onseeked` fires correctly
            videoElement.onseeked = () => {
              clearTimeout(fallbackTimeout);
              onFrameCaptured();
            };

          // Error handling in case video seek fails
          videoElement.onerror = (err) => {
            console.error("Error while seeking video", err);
            this.stopVideoStream();
            this.processing = false;
          };
        };

        captureFrame(); // Start capturing frames
      },
      async mergeAndResizeImages(images) {
            console.log('Merging images...');

            // Ensure all images are loaded before proceeding
            await Promise.all(images.map(img => {
                return new Promise((resolve) => {
                    if (img.complete) {
                        resolve();
                    } else {
                        img.onload = resolve;
                    }
                });
            }));

            // Create a canvas large enough to hold all the images side by side
            const totalWidth = images.reduce((sum, img) => sum + img.width, 0);
            const maxHeight = Math.max(...images.map(img => img.height));

            // Set the canvas dimensions based on the combined images
            const canvas = document.createElement('canvas');
            canvas.width = totalWidth;
            canvas.height = maxHeight;

            // Draw each image onto the canvas side by side
            const context = canvas.getContext('2d');
            let xOffset = 0;
            images.forEach((img, index) => {
                context.drawImage(img, xOffset, 0);
                xOffset += img.width;
                console.log(`Merged frame ${index + 1}/${images.length}`);
            });

            // Resize the canvas to a specific width while maintaining aspect ratio
            const resizedCanvas = document.createElement('canvas');
            const ctx = resizedCanvas.getContext('2d');

            const newWidth = 300; // Adjust as needed
            const aspectRatio = canvas.width / canvas.height;
            const newHeight = Math.floor(newWidth / aspectRatio); // Maintain aspect ratio

            resizedCanvas.width = newWidth;
            resizedCanvas.height = newHeight;

            ctx.drawImage(canvas, 0, 0, newWidth, newHeight);

            // Convert the resized canvas to a Base64 string
            console.log('Resized image created.');
            const stitchedImage = resizedCanvas.toDataURL('image/png'); 

            // Create an image element and push it to capturedFrames
            const img = new Image();
            img.src = stitchedImage;
                this.capturedFrames.push(img);
                console.log(this.capturedFrames);

            return stitchedImage;
        },
        async analyzeFrames() {
            const base64ImageData = await this.mergeAndResizeImages(this.capturedFrames);
            this.processing = true;
            console.log('Analyzing frames...');
            const payload = {
                image: base64ImageData
            };

            try {
                const response = await fetch('https://sprint-analysis.xsbrt.workers.dev/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(payload)
                });

                if (!response.ok) {
                    throw new Error(`Failed to send image to worker: ${response.statusText}`);
                }

                const data = await response.json();
                console.clear();
                this.aiData = JSON.parse(data);
                this.processing = false;
                console.log(this.aiData);
            } catch (error) {
                console.error('Error sending image to worker:', error);
            } finally {
                this.processing = false;
            }
        },
        stopVideoStream() {
            this.processing = false;
            const videoElement = this.$refs.video;
            videoElement.pause();
            videoElement.srcObject = null;
            videoElement.style.display = "none";

            if (this.videoStream) {
                this.processVideoFromStream(videoElement);
                this.videoStream.getTracks().forEach((track) => track.stop());
                this.videoStream = null;
            }
        },
        async saveResults() {
          if (!this.athlete.firstName || !this.athlete.lastName || !this.athlete.dob) {
            alert('Please fill in all required fields.');
            return;
          }
          const athleteKey = `${this.athlete.firstName}_${this.athlete.lastName}_${this.athlete.dob}`;
          
          let athleteData = await localforage.getItem(athleteKey) || { ...this.athlete, results: [] };
          this.aiData.date = new Date();
          athleteData.results.unshift(this.aiData);
          
          await localforage.setItem(athleteKey, athleteData);
          this.loadSavedAthletes(); // Refresh the list of saved athletes
          alert('Results saved successfully!');
        },
        async loadSavedAthletes() {
          const athletes = [];
          await localforage.iterate((value, key) => {
            // Check if the athlete has a first name, last name, and date of birth
            if (value.firstName && value.lastName && value.dob) {
              athletes.push({
                fullName: `${value.firstName} ${value.lastName}`,
                ...value
              });
            }
          });
          if (!athletes.length) { return; };
          this.savedAthletes = athletes;
          console.log(athletes);
        },
        async loadAthleteResults() {
          if (this.selectedAthlete) {
            const athleteData = await localforage.getItem(`${this.selectedAthlete.firstName}_${this.selectedAthlete.lastName}_${this.selectedAthlete.dob}`);
            this.athlete = athleteData;
          }
        }
      },
      mounted() {
        this.loadSavedAthletes(); // Load saved athletes when the component is mounted
      }
    });
  </script>
<style>
  body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #f0f0f0;
  }
  .v-img img {
    border-radius: 8px;
  }
  video {
    border-radius: 8px;
    margin-top: 20px;
  }
  .ai-recommendation {
    font-style: italic;
    color: #616161;
    margin-top: 20px;
  }
  .my-carousel {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .v-carousel-item img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
  .list-text {
    white-space: normal;
    word-wrap: break-word;
  }
  .no-truncate {
  white-space: normal;
}
.wrap-text {
  white-space: normal;
  word-wrap: break-word;
  overflow: visible; /* Ensure there’s no truncation or ellipsis */
}
</style>
</body>
</html>