<template>
  <div>
    <h2>My Tasks</h2>
  </div>
</template>

<script>
import TodoItem from './TodoItem.vue';

export default {
  name: 'TaskList',
  components: {
    TodoItem
  },
  data() {
    return {
      tasks: [
        { id: 'task1', name: 'Go to the gym' },
        { id: 'task2', name: 'Buy groceries' },
        { id: 'task3', name: 'Finish Vue project' }
      ]
    };
  }
};
</script>

<style scoped>
/* TaskList styles */
</style>
