<template>

    <div id="app"></div>
    <script type="text/x-template" id="app-template">
        <v-app id="inspire">  
    <div>
      <h1>{{ title }}</h1>
      <button @click="sayHello">Click me!</button>
    </div>
    </
    </script>
  </template>
  
  <script>
  export default {
    data() {
      return {
        title: 'Hello from MyComponent!'
      }
    },
    methods: {
      sayHello() {
        alert('Hello, Vue 3!');
      }
    }
  }
  </script>
  