<template>
  <div>
    <input type="checkbox" id="todo-item" />
    <label for="todo-item">My Todo Item</label>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export default class TodoItem extends Vue {
    // Any data, computed properties, or methods would go here.
    // Since the component is very simple and has no state or props, 
    // we don't have any right now.
}
</script>