<template>
    <div>
      <h1>{{ title }}</h1>
      <button @click="sayHello">Click me!</button>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        title: 'Hello from MyComponent!'
      }
    },
    methods: {
      sayHello() {
        alert('Hello, Vue 3!');
      }
    }
  }
  </script>
  
  <style scoped>
  h1 {
    color: blue;
  }
  button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  </style>
  