Vue.component('test', {
    template: `
    <div>
    <h4>{{title}}</h4>
    <p>{{description}}</p>
    <img v-bind:src="thumbnail" class="margin-bottom-default" />
    </div>
    `,
    data: function () {
        return {
            title: "",
            description: "",
            thumbnail: ""
        }
    }
    ,
    mounted: function () {
        var me = this;
        var entityLoadedSubscription = options.mediator.subscribe("entityLoaded", function (entity) {
            me.title = entity.properties.Title();
            me.description = entity.properties.Description()[options.culture];
            me.thumbnail = entity.renditions().thumbnail[0].href;
            var entitySavedEvent = Utils.format("entitySaved:{id}", { id: entity.systemProperties.id() });
            var refreshData = function (entity) {
                me.title = entity.properties.Title();
                me.description = entity.properties.Description()[options.culture];
                me.thumbnail = entity.renditions().thumbnail[0].href;
            };
            options._page.mediator.subscribe(entitySavedEvent, refreshData);
        });
    }
});
var app = new Vue({
    el: '#app'
});