<template>
  <div>
    <v-row class="justify-center">
      <v-col v-if="isSupported" cols="auto">
        <v-btn v-if="!isListening"
        color="primary" 
        class="my-4"
        elevation="4"
        title="Speak what you want"
        size="large"
        icon="mdi-account-voice"
        variant="tonal"
        ripple
        @click="startSpeechRecognition"
      > 
      </v-btn>
      <!-- Stop Talking Button -->
        <v-btn v-if="isListening"
            title="Stop talking" 
            variant="tonal" 
            ripple 
            elevation="4"
            class="my-4"
            size="large"
            color="error" 
            icon="mdi-voice-off" 
            @click="stopSpeechRecognition"
        ></v-btn>
      </v-col>
  </div>
</template>