<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords"
        content="Nonprofit, Fundraising, AI-driven, Custom Solutions, Letters of Inquiry, Budgets, Case Statements, Grant Writing, Funding Entities" />
    <meta name="description"
        content="FundMagnet is your ultimate platform for nonprofit fundraising, designed to ignite your organization's potential. Leveraging cutting-edge AI technology, we offer personalized funding solutions tailored to your mission. From crafting compelling Letters of Inquiry to devising meticulous budgets and strategic fundraising plans, FundMagnet is your one-stop solution for all your fundraising needs. Let us help you turn your vision into reality." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="FundMagnet - Ignite Your Nonprofit's Potential" />
    <meta property="og:description"
        content="FundMagnet is your ultimate platform for nonprofit fundraising, designed to ignite your organization's potential. Leveraging cutting-edge AI technology, we offer personalized funding solutions tailored to your mission. From crafting compelling Letters of Inquiry to devising meticulous budgets and strategic fundraising plans, FundMagnet is your one-stop solution for all your fundraising needs. Let us help you turn your vision into reality." />
    <meta property="og:url" content="https://xsbrt.com/tinyfundraiser" />
    <meta property="og:site_name" content="FundMagnet - Spark Your Nonprofit's Potential" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="FundMagnet - Ignite Your Nonprofit's Potential" />
    <meta name="msapplication-TileImage" content="magnet.png" />
    <meta name="msapplication-TileColor" content="white" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="magnet.png" />
    <link rel="icon" href="magnet_icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <title>FundMagnet - Ignite Your Nonprofit's Potential</title>
</head>
<script src="bq8nqs68.js"></script>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
    <v-app id="inspire">  

      <v-app-bar color="primary" dark density="prominent" elevation="18" style="cursor:pointer" @click="window.location.reload()">
        <v-app-bar-title link class="text-center justify-center action-title d-flex flex-column pb-1">
          <div class="d-flex align-center justify-center" link>
              <v-icon left class="pb-1">mdi-magnet</v-icon>
              FundMagnet
          </div>
          <div class="subtitle text-center" link>Ignite Your Nonprofit's Potential</div>         
      </v-app-bar-title>          
    </v-app-bar> 

    <v-main class="justify-center text-center ma-4">

      <v-btn v-if="isSupported&&!isListening"
      class="justify-center my-4 mx-2"
      color="primary" 
      title="Speak what you want"
      size="large"
      icon="mdi-account-voice"
      variant="tonal"
      ripple
      @click="startSpeechRecognition"
    > 
    </v-btn>
    <v-btn v-if="isSupported&&isListening" class="justify-center my-4 mx-2" title="Stop talking" variant="tonal" ripple size="large" color="error" icon="mdi-voice-off" large @click="stopSpeechRecognition"></v-btn>

      <v-btn 
        v-if="favorites" 
        class="justify-center my-4 mx-2"
        color="primary" 
        title="View your saved favorites"
        variant="tonal"
        ripple
        icon="mdi-star"
        size="large"
        @click="showFavorites=!showFavorites"
      > 
      </v-btn>

      <v-btn 
      v-if="showFavorites&&favorites||o&&o.results" 
      class="justify-center my-4 mx-2"
      color="primary" 
      title="Download results"
      size="large"
      icon="mdi-download"
      variant="tonal"
      ripple
      @click="downloadData"
    > 
    </v-btn>

    <v-textarea 
      v-model.trim="o.description" 
      label="Your Nonprofit Mission, Story, Future. Share It Here!"
      hint="Pour your passion into words. Your next big nonprofit funding opportunity starts with a single sentence!"
      placeholder="What's your dream? What fuels your nonprofit organization? Let's make it happen!"
      persistent-hint 
      auto-grow 
      rounded
      clearable 
      rows="2" 
      class="mx-4 mt-2 mb-4 action-textarea"
      variant="outlined"
      maxlength="750"
      :counter="750"
      color="primary"
  >
  </v-textarea>

  <v-btn 
  v-if="o&&o.description&&o.description.length > 4" 
  color="primary" 
  elevation="8" 
  variant="tonal"
  size="large" 
  rounded  
  ripple
  @click="gatherResults" 
  class="mb-4 mt-2 pa-3 text-center justify-center action-button" 
  :loading="loading"
>
  <v-icon class="mr-1" size="large">mdi-cash-multiple</v-icon> 
  Unleash Your Funding Potential!
</v-btn>

  <v-container v-if="previousSessions" class="my-2 mx-4 px-4">    
      <v-autocomplete 
        density="compact"
        class="mx-4 my-1"
        label="Keeping track of your previous interests"
        hint="Here's a searchable list of ideas you have asked to fund in the past"
        persistent-hint
        auto-grow
        rounded
        variant="outlined"
        color="primary"      
        :items="previousSessions"
        item-title="description"
        v-model.lazy="o"
        @update:modalValue="showFavorites=false;getResults();"
        return-object
    ></v-autocomplete>
  </v-container> 
    
      <v-overlay
        v-if="note" 
        v-model="note"
        class="overlay-container"
        close-on-back
        width="99%"
        height="99%"
      >
        <v-card class="overlay-card pa-1 text-center justify-center">
          <v-card-title class="overlay-title">
            <span>{{note.name}}</span>
            <v-spacer></v-spacer>
            <v-btn 
              class="my-4"
              variant="tonal"
              size="small"
              color="error" 
              @click="note = null; console.clear();" 
              title="Close"
              icon="mdi-close"
            >
            </v-btn>
          </v-card-title>
          <v-card-subtitle class="overlay-subtitle text-center justify-center pb-4">
            Notes
          </v-card-subtitle>

          <v-row>
            <v-col cols="12">
              <v-textarea 
                v-model.trim="note.description" 
                label="Enter your private notes below." 
                hint="Your notes are stored only on this device and won't be shared." 
                placeholder="E.g., Important details about this funder..."
                persistent-hint 
                auto-grow 
                rounded
                clearable 
                rows="2" 
                class="mb-2 mx-2"
                variant="outlined"
                color="primary"
              >
              </v-textarea>
            </v-col>
          </v-row>
              
          <v-btn v-if="note.description" 
              text 
              class="my-2 overlay-content"
              color="success"
              rounded
              size="large"
              variant="tonal" 
              title="submit"
              icon="mdi-plus"
              @click="addNote"
            >
            </v-btn>

            <v-card-text v-if="notes" class="mt-1 overlay-content">
              <v-timeline side="end" align="start"> 
                <v-timeline-item v-for="it in notes" :key="it.id" dot-color="primary" size="small">
                  <div class="d-flex">
                      <v-row>
                        <v-col class="text-left small font-weight-bold" cols="12">
                          <v-btn 
                            icon 
                            size="x-small"
                            class="mr-2"
                            color="error"  
                            title="Delete note"
                            @click="deleteNote(it,note)"
                          >
                            <v-icon>mdi-close</v-icon>
                          </v-btn>{{toHumanReadableDate(it.mod)}}
                        </v-col>
                        <v-col class="text-left text-caption mb-2" cols="12">
                          {{it.description}}                          
                        </v-col>
                      </v-row>
                  </div>
                </v-timeline-item>
              </v-timeline>
            </v-card-text>
           
        </v-card>
      </v-overlay>

      <v-overlay
  v-model="deliverable"
  class="overlay-container"
  close-on-back
  width="99%"
  height="99%"
>
  <v-card class="overlay-card py-4">
    <v-card-title class="overlay-title text-center justify-center">
      <span>{{deliverable.entity}}</span>
      <v-progress-linear v-if="loading&&selectedQuote.q" color="primary" indeterminate height="45" class="py-4 my-4 mx-1 text-center justify-center text-white font-weight-black">
        <span class="pa-1">{{ selectedQuote.q }}</span>
      </v-progress-linear>
      <v-spacer></v-spacer>
        <v-btn v-if="deliverable.result" 
        icon
        color="success"
        class="my-4 mx-2"
        variant="tonal"
        size="small"
        @click="copyClipboard" 
        title="Copy to clipboard">
      <v-icon>mdi-content-copy</v-icon>
      </v-btn>
      <v-btn 
        icon 
        class="my-4 mx-2"
        color="error" 
        @click="overlay = false; deliverable = null;" 
        title="Close"
        variant="tonal"
        size="small"
      >
      <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-card-title>

    <v-card-subtitle class="overlay-subtitle text-center justify-center pb-4">
      {{deliverable.type}}
    </v-card-subtitle>

    <v-card-text class="overlay-content pb-2">
      <v-progress-linear 
        v-if="!deliverable.result" 
        indeterminate 
        color="primary" 
      >
      </v-progress-linear>

      <pre v-if="deliverable.result" class="result-text pb-2">
        {{deliverable.result}}
      </pre>
    </v-card-text>
  </v-card>
</v-overlay> 

<v-progress-linear v-if="loading&&selectedQuote.q" color="primary" rounded indeterminate height="40" class="py-4 my-4 mx-1 text-center justify-center text-white font-weight-black">
  {{ selectedQuote.q }}
</v-progress-linear>
 
      <v-row v-if="o && o.description && showResults" class="mt-4 text-center justify-center">

        <v-col v-if="showFavorites&&favorites" cols="12" class="text-h5 text-primary">
          <v-icon color="primary" size="large" class="pr-1 pb-2">mdi-star</v-icon> 
          Favorites
        </v-col>

        <v-col
          v-for="it in showResults"
          :key="it.name"
          cols="12"  
          sm="6"    
          md="4"   
          lg="3">   
          
          <v-card
        class="text-center ma-4"
        outlined
        elevation="10"
        color="purple-lighten-5"
      >
  <v-card-text>
    <v-card-title class="headline text--primary">{{it.name}}</v-card-title>
    <v-card-subtitle class="mb-2 text--secondary">
      <div><a style="text-decoration:none;" class="text--secondary" :href="'tel:' + it.phone">{{it.phone}}</a></div>
      <a :href="it.website" class="text--secondary" style="text-decoration: none;" target="_blank">
        {{it.website}}
      </a>
    </v-card-subtitle>
    
    <v-card-text class="body-1 mt-2 text-left text--primary">{{it.summary}}</v-card-text>

    <v-select 
      v-model.lazy="deliverable" 
      return-object 
      @update:modelValue="getDeliverable(it)" 
      :items="deliverables" 
      label="Kickstart Your Funding Journey With..." 
      hint="Choose a deliverable to get started. Your dream funding is just a click away!" 
      persistent-hint
      density="comfortable" 
      class="mt-4 mx-4" 
      clearable 
      variant="filled" 
      item-title="type"
      color="primary"
    ></v-select>
  </v-card-text>
  <v-card-actions class="text-center justify-center">
    <v-btn v-if="!showFavorites"
    icon 
    class="mx-2"
    size="x-large"
    color="success" 
    title="Save"
    @click="saveEntity(it)"
  >
    <v-icon size="x-large">mdi-star</v-icon>
  </v-btn>
   <v-btn 
    icon 
    class="mx-2"
    size="x-large"
    color="success" 
    title="Notes"
    @click="note=it;console.log(notes.length);console.clear();"
  >
    <v-icon size="x-large">mdi-note</v-icon>
  </v-btn>
  <v-btn 
    icon 
    class="mx-2"
    size="x-large"
    color="success"
    title="Share" 
    @click="shareItem(it)"
  >
  <v-icon size="x-large">mdi-share</v-icon>
  </v-btn>
  </v-card-actions>
</v-card>

        </v-col>
      </v-row>
    </v-main>
    <v-footer app class="text-center justify-center d-flex pa-4" elevation="18">
        <v-btn 
          icon
          size="small"
          color="primary" 
          title="Share this site"
          @click="shareContent"
      >
        <v-icon>mdi-share</v-icon>
      </v-btn>
    </v-footer>
  </v-app>

     </script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script src="artyom.window.min.js"></script>   
    <script async defer src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>   
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.6/xlsx.full.min.js"></script>    
    <script setup> 
        const { createApp } = Vue;
        const { createVuetify } = Vuetify;      
        const vuetify = createVuetify();      
        const app = createApp({

            data() {
                return {
                    o: {description: ''},
                    session: null,
                    loading: false,
                    deliverable: null,
                    showFavorites: false,
                    favorites: null,
                    note: null,
                    isListening: false,
                    loading: false,
                    isSupported: true,
                    selectedQuote: null
                }
            },

            created() {                
              alasql([
                    'CREATE localStorage DATABASE IF NOT EXISTS FundMagnet',
                    'ATTACH localStorage DATABASE FundMagnet',
                    'USE FundMagnet',
                    'CREATE TABLE IF NOT EXISTS notes',                  
                    'SET AUTOCOMMIT ON'
                ]);                                               
              this.role = 'You are a professional fundraiser, grant researcher and grant writer with over 30 years of experience successfully securing funding for many different nonprofits from foundations, corporations and charitable trusts. You only return valid, well-formed JSON based on data up to September 2021. No hypotheticals or made-up information.';
              this.apiUrl = 'https://api.openai.com/v1/chat/completions';
              this.deliverables = [  
                  {
                      "type": "Letter of Inquiry (LOI)",
                      "description": "Compose an incisive Letter of Inquiry that serves as an impactful introduction to an organization and its mission. Leverage my years of experience to make it resonate with potential funders. Results must be well-formed JSON."
                  },
                  {
                      "type": "Budget",
                      "description": "Develop a meticulous Budget that reflects the financial acumen I've gained over the years. Include a comprehensive breakdown of projected expenses and income. Results must be well-formed JSON."
                  },
                  {
                      "type": "Case Statement",
                      "description": "Create a robust Case Statement that encapsulates the mission, vision, and needs of an organization. Utilize my decades of experience to make it an invaluable asset for major gift fundraising. Results must be well-formed JSON."
                  },
                  {
                      "type": "Fundraising Plan",
                      "description": "Formulate a strategic Fundraising Plan that draws on my 30 years of experience. Outline achievable fundraising goals, innovative strategies, and realistic timelines. Results must be well-formed JSON."
                  }]; 
                  this.id = null;              
                  this.artyom = null;                           
            },

            watch: {
                deliverable: function (newValue) {
                    return newValue;
                },

                o: function (newValue) {
                    return newValue;
                },

                note: function (newValue) {
                    return newValue;
                },

                favorites: function (newValue) {
                    return newValue;
                }
            },

            async mounted() {                  
                this.session = this.randomString();                             
                let res = alasql("SELECT TOP 1 description FROM notes WHERE description IS NOT NULL AND id IS NULL ORDER BY DATE(mod) DESC");
                if (res&&res.length > 0) { 
                  this.o = res[0];
                  await this.getFavorites();
                  if (this.favorites) {
                    this.showFavorites = true;
                  };
                };
                this.o.id = await this.retrieveId();
                this.artyom = new Artyom();
                this.isSupported = this.artyom.speechSupported();
                console.clear();
                //console.log(this.o.id); 
            },

            computed: {

              notes() {
                  if (!this.note||!this.note.name) { return null };
                  let res = alasql("SELECT * FROM notes WHERE description IS NOT NULL AND id IS NOT NULL AND mod IS NOT NULL AND name IS NOT NULL AND session IS NOT NULL ORDER BY DATE(mod) DESC");
                  if (res&&res.length > 0) {
                    res = res.filter(element => element.name == this.note.name); 
                    if (res&&res.length > 0) {
                      return res;
                    };                    
                  };
                  return null;
                },

              previousSessions() {                
                if (!this.session) { return null };
                try {
                  let res = alasql("SELECT description FROM notes WHERE description IS NOT NULL AND description <> '' AND id IS NULL GROUP BY description ORDER BY DATE(mod) DESC");
                  if (res&&res.length > 1) { 
                    return res;
                  };
                } catch(error) { return [] };                
                return [{description: ''}];  
              },

              showResults() {
                if (this.showFavorites&&this.favorites) { return this.favorites };
                if (this.o&&this.o.results&&this.o.results.length > 0) { return this.o.results };
                return null;
              }    

            },

            methods: {   
              
              async changeQuote() {
                  this.selectedQuote = getRandomQuote();
              },

              async retrieveId() {
                try {
                  const match = document.cookie.match(new RegExp('(^| )id=([^;]+)'));
                  if (match) { return match[2] };
                  if (localStorage.getItem('id')) { return localStorage.getItem('id') };                  
                } catch(error) { 
                  const id = this.randomString();
                  this.saveId(id);
                  return id;                
                };                  
              },

              async saveId(id) {
                try {
                  document.cookie = `id=${id};path=/;max-age=31536000`;
                  localStorage.setItem('id', id);
                } catch(error) { return };                
              },

              async startSpeechRecognition() { 
                try {
                  this.o["description"] = '';
                  this.changeObject(this.o);
                  this.artyom.fatality();
                  await this.artyom.initialize({ debug: false, soundex: true, continuous: true, listen: true, speed: 1 });       
                  this.artyom.addCommands({
                    indexes: [/.*/],
                    smart: true,
                    action: (i, wildcard) => {
                      this.o["description"] = this.language.text + ' ' + wildcard.trim();
                    }
                  });
                  setTimeout(() => { this.isListening = true }, 2000);
                  this.artyom.redirectRecognizedTextOutput((text, isFinal) => {
                    this.o["description"] = text.trim();
                });
                } catch (error) { return };               
              },

              async stopSpeechRecognition() { 
                try {
                  this.isListening = false;
                  this.artyom.fatality();
                if (!this.loading) { this.gatherResults() };
                } catch (error) { return };               
              },

              async shareItem(it) {                
                if (navigator.share) {
                  const shareData = {
                        title: it.name,
                        text: it.summary,
                        url: it.website
                    };
                    navigator.share(shareData);
                    this.saveEntity(it);
                  }; 
                },

              async shareContent() {                
                if (navigator.share) {
                  const shareData = {
                        title: 'FundMagnet - Ignite Your Nonprofit\'s Potential',
                        text: 'FundMagnet is your ultimate platform for nonprofit fundraising, designed to ignite your organization\'s potential. Leveraging cutting-edge AI technology, we offer personalized funding solutions tailored to your mission. From crafting compelling Letters of Inquiry to devising meticulous budgets and strategic fundraising plans, FundMagnet is your one-stop solution for all your fundraising needs. Let us help you turn your vision into reality.',
                        url: 'https://xsbrt.com/tinyfundraiser'
                    };
                    navigator.share(shareData);
                  }; 
                },

              async changeObject(o) {
                if (typeof o === 'string') {
                  this.o.description = o;
                };
                this.o = o;
              },

              async clearInput() {
                this.session = this.randomString();
                if (!this.o) {
                  this.o = { description: ''}; 
                  return;                 
                };
                this.o.description = '';                
              },

              async getDeliverable(it) { 
                console.clear();                              
                if (!this.deliverable) { return };                
                if (this.deliverable.result) { 
                  this.deliverable.result = '';                                
                };
                setInterval(this.changeQuote, 5500); 
                this.deliverable["entity"] = it.name;
                this.o["description"] = this.o.description.replace(/\s+/g, ' ').trim();
                let txt = `Generate a ${this.deliverable.type} focused on the mission: ${this.o.description}, taking into account ${it.name}'s summary: ${it.summary}. The output must be a valid JSON object in the format { result: 'formatted text' }.`;
                const messages = [
                    { role: "system", content: this.role },
                    { role: "user", content: txt }
                ];
                let res = await this.getResults(messages);
                if (res) {
                  this.deliverable["result"] = res.result;
                  this.saveEntity(it);
                };                            
              },

              async gatherResults() {
                if (!this.o||!this.o.description||this.o.description.length < 5) { return };
                this.showFavorites = false;
                console.clear();  
                this.loading = true;
                setInterval(this.changeQuote, 5500); 
                this.stopSpeechRecognition();
                if (this.o.results) { delete this.o.results }; 
                this.session = this.randomString();
                this.o["description"] = this.o.description.replace(/\s+/g, ' ').trim();
                this.saveEntity(this.o);                             
                const messages = [
                    { role: "system", content: this.role },
                    { role: "user", content: `Generate a JSON object with the key 'result' containing an array of 15 diverse, unique, and interesting funding entities. Ensure that no more than half of the entries are major funders and prioritize smaller funders in the ranking. The array should be ordered from best to worst matches based on alignment with the mission: "${this.o.description}". Each entity must have a name, phone (formatted as 202-123-4567), website, and summary. All entries in the 'result' array must be unique and duplicate-free. No hypotheticals or made-up information. Only entries which provide funding.` }
                ];
                let res = await this.getResults(messages);
                if (res) {
                  this.o["results"] = alasql("SELECT * FROM ? WHERE name IS NOT NULL GROUP BY name",[res.result]);                  
                }; 
                this.loading = false;                
              },

              async getResults(messages) {
                console.clear();
                console.log(window.globalString.length);
                try {                     
                    let response = await axios.post(this.apiUrl, {
                        'model': 'gpt-3.5-turbo',
                        'temperature': 0.4,
                        'messages': messages
                    }, {
                        headers: {
                            'Authorization': `Bearer ${ window.globalString }`,
                            'Content-Type': 'application/json'
                        }
                    }); 
                    let res = JSON.parse(response.data.choices[0].message.content);
                    if (res) { return res };
                } catch (error) {
                   this.loading = false;
                   //alert(error);
                   return null;
                };
            },

            async copyClipboard() {
              const res = await navigator.clipboard.writeText(this.deliverable["result"]);
              alert('Copied to clipboard! ' + this.deliverable["entity"] + ': ' + this.deliverable["type"]);
            },

            randomString() { return Math.random().toString(36).substring(2, 6) + Math.random().toString(36).substring(2, 6) },

            async saveEntity(it) {
              it.session = this.session;
              it.mod = new Date().toISOString();
              it = JSON.parse(JSON.stringify(it));
              await alasql('INSERT INTO notes ?', [it]);
              if (it.name) {
                if (!it.id) { this.getFavorites(); return;};
                this.note = it;
              };
            },

            async addNote() {  
              if (this.note.phone) { delete this.note.phone };
              if (this.note.website) { delete this.note.website };
              if (this.note.summary) { delete this.note.summary };   
              this.note["id"] = this.randomString();
              await this.saveEntity(this.note);
              this.note["description"] = '';
              console.clear();
            },

            async deleteNote(it,note) {
              await alasql("DELETE FROM notes WHERE id = '" + it.id + "'");
              this.note = JSON.parse(JSON.stringify(note));
              console.log(this.notes.length);
              console.clear();
            },

           toHumanReadableDate(isoString) {
              const date = new Date(isoString);
              const year = date.getFullYear();
              const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-based
              const day = String(date.getDate()).padStart(2, '0');
              const hours = String(date.getHours()).padStart(2, '0');
              const minutes = String(date.getMinutes()).padStart(2, '0');
              return `${year}-${month}-${day} ${hours}:${minutes}`;
            },           

            async downloadData() {
                let res = null;
                if (this.showFavorites) { res = this.favorites } else { res = this.o.results };
                if (res&&res.length > 0) {
                    const filename = this.randomString() + ".xlsx"
                    await alasql('SELECT * INTO XLSX("' + filename + '",{headers:true}) FROM ?', [res]);
                    res = null;
                };            
            },
            
            async getFavorites() {  
                  let res = await alasql("SELECT * FROM notes WHERE session IS NOT NULL AND name IS NOT NULL ORDER BY DATE(mod) DESC");
                  if (res&&res.length > 0) { 
                    this.favorites = alasql("SELECT * FROM ? GROUP BY name",[res]);
                  };
              }
            },

            template: "#app-template", 
        });
        app.use(vuetify).mount('#app');
    </script>
    
    <style scoped>
      #app {
          width: 100%;
          height: 100vh;
          background-color: white;
      }
  
      .overlay-container {
          overflow: auto;
      }
  
      .overlay-card {
          max-width: 90%;
          margin: auto;
      }
  
      .overlay-title {
          font-size: 1.5em;
          font-weight: bold;
      }
  
      .overlay-subtitle {
          font-size: 1.2em;
      }
  
      .overlay-content {
          overflow-y: auto;
          max-height: 70vh;
      }
  
      .result-text {
          font-size: 1.1em;
          white-space: pre-wrap;
          word-wrap: break-word;
      }
  
      .action-title {
          font-weight: bold;
          letter-spacing: 1.2px;
      }
  
      .subtitle {
          font-size: 0.8em;
          margin-left: 5px;
      }
  
      .action-button {
          font-weight: bold;
          letter-spacing: 1.2px;
          transition: all 0.3s ease;
      }
  
      .action-button:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }
  
      .action-textarea {
          border: 2px solid var(--primary-color);
          border-radius: 8px;
          transition: all 0.3s ease;
      }
  
      .action-textarea:focus-within {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  </style>
  
</body>
</html>