<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”index,follow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords"
    content="lobbying, congress, advocacy, political connections, mission statement, position statement, congresspersons, legislative insights, political advocacy, lobbying tools" />
    <meta name="description"
        content="TinyLobby simplifies the lobbying process by connecting organizations with relevant congresspersons. Input your mission and position, and get insights, deliverables, and key connections tailored to your advocacy needs." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="TinyLobby: Congressional Advocacy Made Easy" />
    <meta property="og:description"
        content="TinyLobby simplifies the lobbying process by connecting organizations with relevant congresspersons. Input your mission and position, and get insights, deliverables, and key connections tailored to your advocacy needs." />
    <meta property="og:url" content="https://xsbrt.com/tinylobby" />
    <meta property="og:site_name" content="TinyLobby: Congressional Advocacy Made Easy" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="TinyLobby: Congressional Advocacy Made Easy" />
    <meta name="msapplication-TileImage" content="bullhorn.png" />
    <meta name="msapplication-TileColor" content="#121212" />
    <meta name="msapplication-TileImage" content="bullhorn.png" />
    <meta name="msapplication-TileColor" content="white" />
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="bullhorn.png" />
    <link rel="icon" href="bullhorn.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
    <title>TinyLobby: Congressional Advocacy Made Easy</title>
</head>
<script src="incs.js"></script>
<body oncontextmenu="return false">
     <div id="app"></div>
    <script type="text/x-template" id="app-template">
    <v-app id="inspire">  

      <v-app-bar color="primary" dark density="prominent" elevation="18">
        <v-app-bar-title link class="text-center justify-center action-title d-flex flex-column pb-1" style="cursor:pointer">
            <div class="d-flex align-center justify-center" link @click="linkOpen('https://xsbrt.com/tinylobby')">
                <v-icon left class="pb-1 mr-1">mdi-bullhorn</v-icon>
                TinyLobby
            </div>
            <div class="subtitle text-center" link>Congressional Advocacy Made Easy</div>         
        </v-app-bar-title>          
    </v-app-bar>
    

    <v-main class="justify-center text-center ma-4">
      <v-row class="justify-center my-4 mx-2">
        <!-- Speak Button -->
        <v-col v-if="isSupported&&!isListening" cols="auto">
            <v-btn 
                color="primary" 
                title="Speak what you want need"
                icon="mdi-account-voice"
                variant="tonal"
                size="large"
                ripple
                elevation="4"
                @click="startSpeechRecognition"
            ></v-btn>
        </v-col>
    
        <!-- Stop Talking Button -->
        <v-col v-if="isSupported&&isListening" cols="auto">
            <v-btn 
                title="Stop talking" 
                variant="tonal" 
                size="large"
                ripple 
                color="error" 
                elevation="4"
                icon="mdi-voice-off" 
                @click="stopSpeechRecognition"
            ></v-btn>
        </v-col>
    
        <!-- View Saved Favorites Button -->
        <v-col v-if="favorites" cols="auto">
            <v-btn 
                color="primary" 
                title="View your saved favorites"
                variant="tonal"
                ripple
                size="large"
                elevation="4"
                icon="mdi-star"
                @click="showFavorites=!showFavorites"
            ></v-btn>
        </v-col>
    
        <!-- Download Results Button -->
        <v-col v-if="showFavorites&&favorites||o&&o.results" cols="auto">
            <v-btn 
                color="primary" 
                title="Download results"
                icon="mdi-download"
                variant="tonal"
                ripple
                size="large"
                elevation="4"
                @click="downloadData"
            ></v-btn>
        </v-col>
    
        <!-- Revisit Past Queries Autocomplete -->
        <v-col v-if="previousSessions&&previousSessions.length > 1" cols="12" md="3">
            <v-autocomplete 
                label="Revisit Your Past Queries"
                hint="Easily find and explore topics you've shown interest in before"
                persistent-hint
                auto-grow
                clearable
                elevation="4"
                density="compact"
                rounded
                variant="outlined"
                color="primary"      
                :items="previousSessions"
                item-title="position"
                v-model="o" 
                @update:modelValue="changeIssue"          
                return-object
            ></v-autocomplete>
        </v-col>
    </v-row>

    <v-alert v-if="!o.mission" class="mb-4 pl-4 py-2 text-left" variant="text" text="TinyLobby simplifies the lobbying process by connecting organizations with relevant congresspersons. Input your mission and position, and get insights, deliverables, and key connections tailored to your advocacy needs." color="primary" title="Welcome to TinyLobby!" border elevation="8" rounded closable>      
    </v-alert>

    <v-row>
      <v-col cols="12" md="6">
        <v-textarea 
            v-model.trim="o.mission" 
            label="Share Your Mission"
            hint="What drives your organization? Paint a vivid picture in 750 characters or less."
            placeholder="E.g., 'We strive to ensure every child has access to quality education, regardless of their socio-economic background.'"
            persistent-hint 
            auto-grow 
            single-line
            rounded
            clearable 
            elevation="4"
            rows="1" 
            variant="outlined"
            maxlength="750"    
            :counter="750"
            color="primary"
            required
            @click:clear="o.position = '';results=[];"
        >
        </v-textarea>
      </v-col>
      <v-col v-if="o.mission&&o.mission.length > 9" cols="12" md="6">
        <v-textarea 
        v-model.trim="o.position" 
        label="State Your Stance"
        hint="What's the core issue or position you're advocating for? Make it clear and compelling in 750 characters or less."
        placeholder="E.g., 'We advocate for sustainable urban development, ensuring cities grow responsibly without harming the environment.'"
        persistent-hint 
        single-line
        auto-grow 
        rounded
        elevation="4"
        clearable 
        rows="1"
        variant="outlined"
        maxlength="750"    
        :counter="750"
        color="primary"
        required
        @click:clear="results=[];processed=[];"
        >
        </v-textarea>        
      </v-col>
    </v-row>   

    <v-container v-if="congress && congress.length > 0 && o.mission && o.mission.length > 9 && o.position && o.position.length > 9" class="mt-4 text-center justify-center"> 
        <v-autocomplete            
            v-model.lazy="results"
            :items="congress"
            label="Connect with a Congressperson"
            hint="Discover Congress members who resonate with your cause!"
            persistent-hint
            item-title="v"
            multiple
            chips
            elevation="4"
            density="comfortable"
            Prepend-inner icon="mdi-account-search"
            clearable
            variant="outlined"
            closable-chips
            rounded
            return-object
            @update:modelValue="results"
            style="max-height: 105px; overflow-y: auto;">
        </v-autocomplete>
        <v-btn v-if="showPotential" class="mt-4" elevation="8" ripple rounded prepend-icon="mdi-speedometer" color="primary" size="large" title="Click to get congresspersons closely aligned with the mission and the position" @click="getPotential" :loading="prospectLoading">top prospects</v-btn>
    </v-container>

    <v-progress-linear v-if="noSummaries&&selectedQuote&&!deliverable" elevation="4" color="primary" indeterminate height="65" class="py-4 mt-4 mb-2 mx-1 text-center justify-center text-white font-weight-black">
      <span class="pa-1">{{ selectedQuote }}</span>
    </v-progress-linear>

    <v-container v-if="showResults" class="justify-center text-center" fluid>

       <v-flex v-if="showFavorites" xs12 md12 class="text-center text-primary text-h5 mb-4 pb-4"><v-icon color="primary" size="large" class="pb-2 pr-1">mdi-star</v-icon>Favorites</v-flex>

       <v-table v-if="scoreCard" fixed-header density="compact" class="mb-4 pa-4" elevation="6" color="primary" theme="dark">
          <thead>
            <tr>
              <th class="text-left text-white">
                Item
              </th>
              <th class="text-left text-white">
                Total
              </th>
              <th class="text-left text-white">
                Support
              </th>
              <th class="text-left text-white">
                Position
              </th>
              <th class="text-left text-white">
                Mission
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in scoreCard" :key="item.Item">
              <td class="text-left text-white">{{item.Item}}</td>
              <td class="text-left text-white">{{item.Total}}</td>
              <td class="text-left text-white">{{item.Support}}</td>
              <td class="text-left text-white">{{item.Position}}</td>
              <td class="text-left text-white">{{item.Mission}}</td>
            </tr>
          </tbody>
        </v-table>

        <v-row>
            <v-col sm="6" md="4" lg="3" v-for="o in showResults" :key="o.id.bioguide">  
        <v-card elevation="12" class="ma-1 pa-1" max-width="420" style="background: linear-gradient(135deg, #A8FACD 0%, #B0E0F8 100%);">
      
            <!-- Congressperson's Image and Basic Info -->
            <v-card-title class="text-left pb-0 mb-0">
                <v-row>
                    <v-col cols="4">
                        <v-img
                        height="140" 
                        width="145"
                        aspect-ratio="16/9"
                        rel="prefetch"
                        cover
                        class="lazy rounded-lg"
                        :src="`https://theunitedstates.io/images/congress/225x275/${o.id.bioguide}.jpg`"
                        @error="onImgError"
                        >
                        <template v-slot:placeholder>
                          <v-row class="fill-height ma-0" align="center" justify="center">
                              <v-col class="text-center text-error text-caption">
                                  No image
                              </v-col>
                          </v-row>
                      </template>
                      </v-img>
                    </v-col>
                    <v-col cols="8" class="pl-1 text-subtitle-2">
                        <strong class="text-capitalize">{{o.terms.type}} {{o.v}}</strong>
                        <div>{{o.terms.state}} {{o.terms.district}} - {{o.terms.party}}</div>
                        <div>{{o.terms.office}}</div>
                        <a :href="'tel:' + o.terms.phone" style="text-decoration: none; color: inherit;">
                          <div>{{o.terms.phone}}</div>
                        </a>                      
                        <v-select v-if="o.summary" :items="deliverables" class="mr-1 mt-2" ripple v-model="deliverable" return-object clearable rounded variant="outlined" density="comfortable" label="Engage" hint="Choose a deliverable to create" item-title="type" @update:model-value="deliverable = {...deliverable,...o};prospectLoading=false;" @click:clear="deliverable=null;prospectLoading=false;"></v-select> 
                    </v-col>
                </v-row> 
            </v-card-title>

            <v-progress-circular v-if="!o.summary" color="primary" :size="45" indeterminate></v-progress-circular>
      
            <!-- Connection Scores and Summary -->
            <v-card-text v-if="o.summary" class="text-center justify-center pa-0 ma-0">
                <v-flex xs12 md12 class="small text-center justify-center px-2 pb-2">
                    <v-flex v-if="o.summary.missionConnection || o.summary.positionConnection" xs12 md12 class="mb-4 text-center justify-center font-weight-bold pb-2">
                        <div class="h6 pb-2">Alignment Scores (1 = low; 10 = high)</div>
                        <v-chip v-if="o.summary.vote&&['yes','no'].includes(o.summary.vote)" class="font-weight-bold mx-1" elevation="8" border dark :color="o.summary.vote =='no' ? 'red' : 'green'">Support: {{o.summary.vote}}</v-chip>
                        <v-chip class="font-weight-bold mx-1" elevation="8" border dark :color="o.summary.missionConnection < 5 ? 'red' : 'green'">Mission: {{o.summary.missionConnection}}</v-chip>
                        <v-chip class="font-weight-bold mx-1" elevation="8" border dark :color="o.summary.positionConnection < 5 ? 'red' : 'green'">Position: {{o.summary.positionConnection}}</v-chip>                        
                    </v-flex>
      
                    <!-- Keywords -->
                    <v-chip-group class="d-flex justify-center align-center my-4 py-4" dark column>
                      <v-chip v-for="k in o.summary.keywords" :key="k">{{k}}</v-chip> 
                    </v-chip-group>
      
                    <!-- Summary -->
                    <p class="text-left px-3">{{o.summary.summary}}</p>
                </v-flex>
            </v-card-text>
      
            <!-- External Links -->
            <v-card-text class="text-center justify-center">
                <v-chip-group class="d-flex justify-center align-center" dark>
                  <v-chip @click="linkOpen(`http://bioguide.congress.gov/scripts/biodisplay.pl?index=${o.id.bioguide}`)" color="blue lighten-1">Bio</v-chip>
                  <v-chip @click="linkOpen(`https://www.fec.gov/data/candidate/${o.id.fec}/`)" color="green lighten-1">FEC</v-chip>
                  <v-chip @click="linkOpen(`https://www.opensecrets.org/members-of-congress/summary?cid=${o.id.opensecrets}`)" color="purple lighten-1">OpenSecrets</v-chip>
                  <v-chip @click="linkOpen(`https://www.govtrack.us/congress/members/${o.id.govtrack}`)" color="orange lighten-1">GovTrack</v-chip>
                  <v-chip @click="linkOpen(`https://justfacts.votesmart.org/candidate/key-votes/${o.id.votesmart}`)" color="red lighten-1">VoteSmart</v-chip>
                  <v-chip @click="linkOpen(`https://ballotpedia.org/${o.id.ballotpedia}`)" color="teal lighten-1">Ballotpedia</v-chip>
                  <v-chip @click="linkOpen(`${o.terms.url}`)" color="cyan lighten-1">Official Website</v-chip>                  
                </v-chip-group>
            </v-card-text>

            <v-card-actions class="text-center justify-center">
              <v-btn v-if="!showFavorites"
              icon 
              ripple
              class="mx-2"
              variant="tonal"
              elevation="4"
              color="success" 
              title="Save"
              @click="saveFavorite(o);prospectLoading=false;"
            >
              <v-icon>mdi-star</v-icon>
            </v-btn>
             <v-btn 
              icon 
              ripple
              class="mx-2"
              variant="tonal"
              elevation="4"
              color="success" 
              title="Notes"
              @click="note=o;console.log(notes.length);console.clear();;prospectLoading=false;"
            >
              <v-icon>mdi-note</v-icon>
            </v-btn>
            <v-btn 
              icon 
              class="mx-2"
              variant="tonal"
              elevation="4"
              color="success"
              title="Share" 
              ripple
              @click="shareItem(o);prospectLoading=false;"
            >
            <v-icon>mdi-share</v-icon>
            </v-btn>
            </v-card-actions>
      
        </v-card>

    </v-col>
</v-row>

    </v-container>
    
      <v-overlay
        v-if="note" 
        v-model="note"
        class="overlay-container"
        close-on-back
        width="99%"
        height="99%"
      >
        <v-card class="overlay-card pa-1 text-center justify-center">
          <v-card-title class="overlay-title">
            <span class="text-capitalize">{{note.terms.type}} {{note.v}}</span>
            <v-spacer></v-spacer>
            <v-btn 
              class="my-4"
              variant="tonal"
              elevation="4"
              color="error" 
              ripple
              @click="note = null; console.clear();" 
              title="Close"
              icon="mdi-close"
            >
            </v-btn>
          </v-card-title>
          <v-card-subtitle class="overlay-subtitle text-center justify-center pb-4">
            Notes
          </v-card-subtitle>

          <v-row>
            <v-col cols="12">
              <v-textarea 
                v-model.trim="note.description" 
                label="Enter your private notes below." 
                hint="Your notes are stored only on this device and won't be shared." 
                placeholder="E.g., Important details about this resource..."
                persistent-hint 
                auto-grow 
                rounded
                clearable 
                rows="2" 
                class="mb-2 mx-2"
                variant="outlined"
                color="primary"
              >
              </v-textarea>
            </v-col>
          </v-row>
              
          <v-btn v-if="note.description" 
              text 
              class="my-2 overlay-content"
              color="success"
              rounded
              ripple
              variant="tonal"
              elevation="4"
              title="submit"
              icon="mdi-plus"
              @click="addNote"
            >
            </v-btn>

            <v-card-text v-if="notes" class="mt-1 overlay-content">
              <v-timeline side="end" align="start"> 
                <v-timeline-item v-for="it in notes" :key="it.id" dot-color="primary" size="small">
                  <div class="d-flex">
                      <v-row>
                        <v-col class="text-left small font-weight-bold" cols="12">
                          <v-btn 
                            icon 
                            variant="tonal"
                            elevation="4"
                            size="small"
                            class="mr-2"
                            ripple
                            color="error"  
                            title="Delete note"
                            @click="deleteNote(it,note)"
                          >
                            <v-icon>mdi-close</v-icon>
                          </v-btn>{{toHumanReadableDate(it.mod)}}
                        </v-col>
                        <v-col class="text-left text-caption mb-2" cols="12">
                          {{it.description}}                          
                        </v-col>
                      </v-row>
                  </div>
                </v-timeline-item>
              </v-timeline>
            </v-card-text>
           
        </v-card>
      </v-overlay> 

      <v-overlay
      v-if="deliverable&&deliverable.v"
      v-model="deliverable"
      class="overlay-container"
      close-on-back
      width="100%"
      height="70%"
    >
  <v-card class="overlay-card py-2">
    <v-card-title class="overlay-title text-center justify-center text-capitalize">
      <span class="text-capitalize">{{deliverable.terms.type}} {{deliverable.v}}</span>
      <v-spacer></v-spacer>
        <v-btn v-if="deliverable.results" 
        icon
        ripple
        color="success"
        class="my-4 mx-2"
        variant="tonal"
              elevation="4"
        @click="copyToClipboard" 
        title="Copy to clipboard">
      <v-icon>mdi-content-copy</v-icon>
      </v-btn>
      <v-btn v-if="deliverable.results" 
      icon 
      class="my-4 mx-2"
      color="success"
      variant="tonal"
      ripple
      variant="tonal"
      elevation="4" 
      @click="shareDeliverable(deliverable)"
    >
    <v-icon>mdi-share</v-icon>
    </v-btn>
      <v-btn 
        icon 
        class="my-4 mx-2"
        color="error" 
        ripple
        @click="overlay = false; deliverable = null;" 
        title="Close"
        variant="tonal"
        elevation="4"
      >
      <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-card-title>

    <v-progress-linear v-if="selectedQuote" color="primary" indeterminate height="65" class="py-4 my-4 mx-1 text-center justify-center text-white font-weight-black">
      <span class="pa-1">{{ selectedQuote }}</span>
    </v-progress-linear>

    <v-card-subtitle class="overlay-subtitle text-center justify-center pb-4">
      {{deliverable.type}}
    </v-card-subtitle>   

    <v-card-text class="overlay-content pb-2">    
      <pre v-if="deliverable.results" class="result-text pb-2">
        {{deliverable.results}}
      </pre>
    </v-card-text>
  </v-card>
</v-overlay>       
 
    </v-main>
    <v-footer app class="text-center justify-center d-flex pa-4" elevation="18">
        <v-btn 
          icon
          size="large"
          variant="tonal"
          elevation="4"
          color="primary" 
          ripple
          title="Share this site"
          @click="shareContent"
      >
        <v-icon>mdi-share</v-icon>
      </v-btn>
    </v-footer>
  </v-app>

     </script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.13/dist/vuetify.min.js"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script> 
    <script src="artyom.window.min.js"></script> 
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.6/xlsx.full.min.js"></script>    
    <script setup> 
        const { createApp } = Vue;
        const { createVuetify } = Vuetify;      
        const vuetify = createVuetify();      
        const app = createApp({

            data() {
                return {
                    o: {},
                    session: null,
                    updateFavorites: false,
                    showFavorites: false,
                    deliverable: null,
                    note: null,
                    isListening: false,
                    loading: false,
                    isSupported: true,
                    results: [],
                    speechText: '',
                    congress: [],
                    selectedQuote: null,
                    quoteInterval: null,
                    prospectLoading: false
                }
            },

            created() {   
              window.open('https://xsbrt.com/?s=mdi-account-switch','_self');
              return;                                 
              this.role = '';
              this.deliverables = [
                {    
                    "type": "Executive Summary",
                    "description": "A high-level summary of the issue at hand and our proposed solution."
                },
                {
                    
                    "type": "Constituent Impact Analysis",
                    "description": "Details on how the issue and proposed solution impact the congressperson's constituents."
                },
                {
                    
                    "type": "Economic Impact Analysis",
                    "description": "Details on the economic implications of the issue and our proposed solution."
                },
                {
                    "type": "Tweet Draft",
                    "description": "A draft tweet the congressperson can use to express support for the issue."
                },
                {
                    "type": "Press Release Draft",
                    "description": "A draft press release the congressperson can use to announce support for the issue."
                },
                {
                    "type": "Op-Ed Draft",
                    "description": "A draft opinion editorial the congressperson can submit to a news outlet to express support for the issue."
                },
                {
                    "type": "Talking Points",
                    "description": "Key messages and arguments in favor of our position that the congressperson can use in speeches and interviews."
                },
                {
                    "type": "Event Invitation",
                    "description": "An invitation for the congressperson to attend a related event or town hall."
                },
                {
                    
                    "type": "Legal Analysis",
                    "description": "Details on the legal aspects of the issue and our proposed solution, including potential constitutional considerations or precedent."
                }
              ];
              this.id = null;              
              this.artyom = null;
              this.processed = [];
              this.location = null; 
              this.quotesLobby = [
                "Lobbyists: The only people who find politicians more interesting than their policies.","If politicians are the hardware, lobbyists are the software updates nobody asked for.",
                "Lobbying: Where you whisper in one ear and hope it doesn't go out the other.",
                "Lobbyists: Making sure politicians have a 'change' of heart, one bill at a time.",
                "If talking were an Olympic sport, lobbyists would always take gold.",
                "Lobbying: Because sometimes politicians need a little 'nudge'... or a big push.",
                "Lobbyists: Turning coffee breaks into policy breaks since forever.",
                "If persistence were a perfume, every lobbyist would wear it.",
                "Behind every undecided politician is a lobbyist with a convincing PowerPoint presentation.",
                "Lobbying: The art of making friends and influencing people... especially the ones with voting power."
              ];                      
            },

            watch: {

                o: function (newValue) {
                    return newValue;
                },

                session: function (newValue) {
                    return newValue;
                },

                showFavorites: function (newValue) {
                    return newValue;
                },

                updateFavorites: function (newValue) {
                    return newValue;
                },

                note: function (newValue) {
                    return newValue;
                },

                deliverable: function (newValue) {                    
                    this.getDeliverable();
                    return newValue;
                },

                results: function (newValue) {
                    this.checkCongress();
                    return newValue;
                },

                selectedQuote: function (newValue) {
                    return newValue;
                },

            },

            async mounted() { 
                this.role = window.tinylobby;
                await createStorage('tinylobby'); 
                await this.getCongress();                  
                this.session = randomString(); 
                if (this.previousSessions) { 
                  this.o = JSON.parse(JSON.stringify(this.previousSessions[0]));
                  if (this.o.results) { this.results = JSON.parse(JSON.stringify(this.o.results)) } else {  this.showFavorites = true };                 
                };
                this.o.u = await retrieveId();
                this.artyom = new Artyom();
                this.isSupported = this.artyom.speechSupported();
                //this.location = await getDeviceLocation();
                //if (this.location) { this.o["location"] = this.location };
                //console.clear();                
            },

            computed: {

              favorites() {
                if (this.showFavorites||this.updateFavorites) {
                  let res = alasql("SELECT * FROM notes WHERE session IS NOT NULL AND v IS NOT NULL ORDER BY DATE(mod) DESC");
                  if (res&&res.length > 0) { 
                    return alasql("SELECT * FROM ? GROUP BY v",[res]);
                  };
                };
                return null;
              },

              notes() {
                  if (!this.note||!this.note.id.bioguide) { return null };
                  let res = alasql("SELECT * FROM notes WHERE description IS NOT NULL AND id IS NOT NULL AND nid IS NOT NULL AND mod IS NOT NULL AND session IS NOT NULL ORDER BY DATE(mod) DESC");
                  if (res&&res.length > 0) {
                    res = res.filter(element => element.id.bioguide == this.note.id.bioguide); 
                    if (res&&res.length > 0) {
                      return res;
                    };                    
                  };
                  return null;
                },

              previousSessions() {                
                  if (!this.session) { return null };
                  let res = alasql("SELECT * FROM notes WHERE session is NOT NULL AND mission IS NOT NULL AND position IS NOT NULL ORDER BY DATE(mod) DESC");
                  if (res&&res.length > 0) { 
                    return alasql("SELECT * FROM ? GROUP BY position",[res]);
                  };               
                  return null;  
              },

              showResults() {
                if (this.showFavorites&&this.favorites) { return this.favorites };
                if (this.getResults) { 
                  let res = alasql("SELECT * FROM ? WHERE terms IS NOT NULL GROUP BY v",[this.getResults]);
                  if (res&&res.length > 0) {
                    res = this.filterProspects(res);
                    if (!res||res.length < 1) { return res };
                    return alasql("SELECT * FROM ? ORDER BY w DESC, v ASC",[res]);
                  };
                };
                return null;
              },

              getResults() {
                  if (this.results&&this.results.length > 0) {
                    const res = alasql("SELECT * FROM ? WHERE id IS NOT NULL AND v IS NOT NULL GROUP BY v",[this.results]);
                    if (res&&res.length > 0) { return res }; 
                  };
                  return null;
              },

              scoreCard() {
                if (this.getResults) {
                  const res = alasql("SELECT * FROM ? WHERE summary IS NOT NULL",[this.getResults]);
                  if (res&&res.length > 0) { 
                    const total = res.length;
                    const support = res.filter(element => element.summary.vote&&element.summary.vote=='yes');
                    const position = res.filter(element => element.summary.positionConnection&&element.summary.positionConnection>5);
                    const mission = res.filter(element => element.summary.missionConnection&&element.summary.missionConnection>5); 
                    const al = [];
                     //total                    
                     al.push({Item: 'All', Total: total, Support: this.convertToPercent(support.length,total), Position: this.convertToPercent(position.length,total), Mission: this.convertToPercent(mission.length,total)});
                    let totalTmp, supportTmp, positionTmp, missionTmp;
                    //party
                    totalTmp = res.filter(element => element.terms.party=='Democrat');
                    if (totalTmp.length > 0) {
                      supportTmp = totalTmp.filter(element => element.summary.vote&&element.summary.vote=='yes');
                      positionTmp = totalTmp.filter(element => element.summary.positionConnection&&element.summary.positionConnection>5);
                      missionTmp = totalTmp.filter(element => element.summary.missionConnection&&element.summary.missionConnection>5);
                      al.push({Item: 'Democrat', Total: this.convertToPercent(totalTmp.length,total), Support: this.convertToPercent(supportTmp.length,total), Position: this.convertToPercent(positionTmp.length,total), Mission: this.convertToPercent(missionTmp.length,total)});
                    };
                    totalTmp = res.filter(element => element.terms.party=='Republican');
                    if (totalTmp.length > 0) {
                      supportTmp = totalTmp.filter(element => element.summary.vote&&element.summary.vote=='yes');
                      positionTmp = totalTmp.filter(element => element.summary.positionConnection&&element.summary.positionConnection>5);
                      missionTmp = totalTmp.filter(element => element.summary.missionConnection&&element.summary.missionConnection>5);
                      al.push({Item: 'Republican', Total: this.convertToPercent(totalTmp.length,total), Support: this.convertToPercent(supportTmp.length,total), Position: this.convertToPercent(positionTmp.length,total), Mission: this.convertToPercent(missionTmp.length,total)});
                    };                     
                    //rep/sen
                    //state
                    return al; 
                  };
                };
                return null;
              },

              noSummaries() {
                if (this.getResults) {
                  let res = alasql("SELECT * FROM ? WHERE summary IS NULL",[this.getResults]);
                  if (res&&res.length > 0) {
                      res = res.filter(element => (element.id.bioguide&&!this.processed.includes(element.id.bioguide))||!this.processed.includes(element.id));
                      if (res&&res.length > 0) { 
                        if (!this.selectedQuote) { this.startQuotes() };
                        return res;
                      };
                  };
                  if (!this.deliverable || !this.deliverable.v || !this.prospectLoading) { this.stopQuotes(); return; }; 
                };
                return null;
              },

              showPotential() {
                if (!this.o.mission||this.o.mission.length < 10||!this.o.position||this.o.position.length < 10) { return false };
                return true;
              }

            },

            methods: { 

              async linkOpen(url) {
                window.open(url, '_blank');
                this.prospectLoading=false;
              },

              async changeIssue() {
                this.prospectLoading=false;
                if (this.previousSessions) { 
                  this.o = JSON.parse(JSON.stringify(this.o));
                  if (this.o.results) { this.results = JSON.parse(JSON.stringify(this.o.results)); console.log(this.scoreCard.length); };                 
                };
              },

              convertToPercent(i,total) {
                if (i<1) { return 0 };
                return ((i/total)*100).toFixed(0) + '% (' + i + ')';
              },

              async copyToClipboard() {
                if (this.deliverable&&this.deliverable.results) {
                  copyClipboard(this.deliverable.results);
                  alert('Use CTRL + V to paste this deliverable from your clipboard');
                };
              },

              getRandomQuote(quotesArray) {
                  const randomIndex = Math.floor(Math.random() * quotesArray.length);
                  return quotesArray[randomIndex];
              },

             async startQuotes() {
              this.changeQuote();              
              this.quoteInterval = setInterval(this.changeQuote, 4500);    
             },  
             
             async stopQuotes() {
                  this.selectedQuote = null;
                  clearInterval(this.quoteInterval);
                  this.quoteInterval = null;                  
              },

              async changeQuote() {
                  this.selectedQuote = this.getRandomQuote(this.quotesLobby);
                  console.clear();
                  console.log(this.selectedQuote);
              },

              async getState(id) {
                if (!this.processed.includes(id)) {
                  this.processed.push(id);
                  let st = new Set();
                  if (this.showResults) {
                    st = alasql("COLUMN OF SELECT id FROM ?",[this.showResults]);
                    st = new Set(alasql("COLUMN OF SELECT bioguide FROM ?",[st]));
                  };
                  let res = this.congress.filter(element => element.terms&&id==element.terms.state&&!this.processed.includes(element.id.bioguide)&&!st.has(element.id.bioguide));
                  if (res&&res.length > 0) {
                    res = [...res,...this.results];
                    this.results = alasql("SELECT * FROM ? WHERE id IS NOT NULL AND v IS NOT NULL GROUP BY v",[res]); 
                    res = null;
                    this.checkCongress();
                  };
                };        
              },

              async checkCongress() {                
                  if (this.noSummaries) { 
                      if (this.results.length === 1)  {
                        this.showFavorites = false;
                        this.cleanText(); 
                        this.o["session"] = this.session;
                        await saveEntity(this.o);
                      };   
                      let res = this.noSummaries; 
                      for (let o, i = res.length; i--;) {  
                          o = res[i];
                          if (o.v.includes('*')) {
                            this.getState(o.id);
                            continue;
                          };
                          if (o.id.bioguide&&!this.processed.includes(o.id.bioguide)) { 
                            o = await this.getCongressPerson(o);
                          };
                      };                      
                      res = alasql("SELECT * FROM ? WHERE terms IS NOT NULL AND summary IS NOT NULL",[res]);
                      if (res&&res.length > 0) {
                        res = [...res,...this.results]; 
                        res = await this.filterProspects(res);
                        this.results = alasql("SELECT * FROM ? WHERE id IS NOT NULL AND v IS NOT NULL GROUP BY v",[res]);  
                        return;
                      };             
                  };
                  this.stopQuotes();
                  if (this.results.length > 0) {
                    this.o["results"] = this.results;
                    saveEntity(this.o); 
                  };
                },

                filterProspects(res) {
                  if (this.prospectLoading) {
                    res = res.filter(element => element.summary&&element.summary.vote&&element.summary.vote=='yes');
                    if (!res||res.length < 1) { return []; };
                  };
                  return res;
                },

                async cleanText() {
                  if (this.results&&this.results.length === 1) {
                    if (this.o.mission) {
                       this.o.mission = convertMultipleSpacesToSingle(this.o.mission);
                    };
                    if (this.o.position) {
                      this.o.position = convertMultipleSpacesToSingle(this.o.position);
                    };
                  };                  
                },
                
                async getPotential() {
                    this.startQuotes(); 
                    this.prospectLoading = true; 
                    this.processed = [];
                    this.results = [];                      
                    const messages = [
                        { role: "system", content: "You are a knowledgeable database on congressional members with deep insights on their known stances and voting patterns." },
                        { role: 'user', content: `Based on historical stances and patterns, list the bioguide IDs of ten congresspersons who have been strongly associated with and will support the mission: ${this.o.mission} and position: ${this.o.position}. You will respond only with valid JSON in the following format: {congress: ['id1','id2','id3','id4','id5','id6','id7','id8','id9','id10']}.`}
                    ];
                    try {
                        let st = await getResults(messages,0.3);
                        st = new Set(st.congress.sort());
                        let res = this.congress.filter(element => st.has(element.id.bioguide));                        
                        if (res&&res.length > 0) { this.results = res; await this.checkCongress(); };                        
                    } catch(error) { this.stopQuotes(); }                            
                },

              async getCongressPerson(o) {                
                const messages = [
                  { role: "system",  content: this.role },                
                  { role: "user", content: "Write a detailed, yet concise summary no longer than one paragraphs of the political motivations, convictions and interests of " + o.terms.type + " " + o.v + " (" + o.terms.state + " "  + o.terms.district + ' ' + o.terms.party + "). In addition to a general summary, your summary should also include, if possible, the congressperson's connections to the provided mission: " + this.o.mission + "; and the provided position: " + this.o.position + ". Using a scale of 1 to 10, with 1 being low connection and 10 being high connection, calculate the congressperson's connection to the provided mission and the provided position returning only an integer from 1 to 10. Highlight any common keywords, categories or phrases which respresent the congresspersons interests, motivations and convictions and put into a JSON array under the key 'keywords'. Return results as a single JSON object in the following format: {summary: '',keywords: '', missionConnection: '', positionConnection: '', vote: 'yes/no'}" }
                ]; 
                o["w"] = 0;
                this.processed.push(o.id.bioguide);              
                try {                  
                  o["summary"] = await getResults(messages,0.4);
                  let w = 0;                     
                  if (o.summary.vote&&o.summary.vote == 'yes') { w = w + 10 };
                  if (o.summary.positionConnection) { w = w + ~~o.summary.positionConnection };
                  if (o.summary.missionConnection) { w = w + ~~o.summary.missionConnection };
                  o["w"] = w;
                  return o;
                } catch(error) { return o };                
                return o;
              },

              async getDeliverable() {                  
                  if (!this.deliverable || !this.deliverable.v || this.deliverable.results) { this.stopQuotes(); return; };
                  this.startQuotes();                  
                  let delv = JSON.parse(JSON.stringify(this.deliverable));
                  let txt = "You will create an " + delv.type + " (" + delv.description + "). Your creation of the " + delv.type + " will be focused on the provided mission:  " + this.o.mission + "; and the provided position: " + this.o.position + ". In your creation, you must take into account the selected congresspersons political motivations, convictions and interests as summarized here: " + delv.summary.summary + ". Your creation will only be returned as a single, well-formed JSON object in the following format: {results: 'formatted text of request result'}. ";
                  txt = txt + writingPrompt();
                  const messages = [
                      { role: "system", content: this.role },
                      { role: "user", content: txt }
                  ];
                  try {
                      const result = await Promise.race([
                          getResults(messages, 0.4),
                          new Promise((_, reject) => setTimeout(() => reject(new Error('Request timed out after 45 seconds')), 45000))
                      ]);                      
                      if (result && result.results) {
                          this.deliverable = JSON.parse(JSON.stringify({ ...this.deliverable, ...result }));
                      };
                      this.stopQuotes();
                  } catch (error) {
                      this.stopQuotes();
                      this.deliverable.results = 'This request has become way too slow! Try again please!';
                      this.deliverable = JSON.parse(JSON.stringify(this.deliverable));
                  }
              },

                async getCongress() {
                  //let res = alasql('COLUMN OF SELECT TOP 1 congress FROM notes WHERE congress IS NOT NULL ORDER BY DATE(mod) DESC');  
                  //if (res&&res.length > 0) {
                    //this.congress = [...this.congress,...res[0]];
                    //return;
                    //console.log(res.length);
                  //};                 
                  let res = await axios.get('https://theunitedstates.io/congress-legislators/legislators-current.json');
                  if (res&&res.data&&res.data.length > 0) {
                      res = res.data;
                      let states = [];
                      for (let oo, i = res.length; i--;) {
                          oo = res[i];
                          oo['v'] = oo.name.official_full;
                          oo['terms'] = oo.terms[oo.terms.length-1];
                          states.push({v: '* State: ' + oo.terms.state, id: oo.terms.state })
                      };
                      states = alasql("SELECT * FROM ? GROUP BY v",[states]);
                      res = [...states,...res];
                      res = alasql("SELECT * FROM ? WHERE v IS NOT NULL ORDER BY v ASC",[res]);
                      this.congress = [...this.congress,...res];
                      res = {congress: res};
                      await saveEntity(res);
                      res = null;
                      states = null;
                  };
                },            
              
              toHumanReadableDate(isoString) {
                const date = new Date(isoString);
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-based
                const day = String(date.getDate()).padStart(2, '0');
                const hours = String(date.getHours()).padStart(2, '0');
                const minutes = String(date.getMinutes()).padStart(2, '0');
                return `${year}-${month}-${day} ${hours}:${minutes}`;
              },

              async downloadData() {  
                let res = this.favorites;
                if (this.o.results) { res = this.o.results };                  
                if (res&&res.length > 0) {
                    downloadData(res);
                    res = null;
                };            
              },
              
              async saveFavorite(it) {
                this.updateFavorites = false;
                it["session"] = this.session;
                await saveEntity(it); 
                this.updateFavorites = true;               
              },

              async startSpeechRecognition() { 
                  try {
                      this.speechText = '';
                      this.changeObject(this.o);
                      this.artyom.fatality();
                      await this.artyom.initialize({ debug: false, soundex: true, continuous: true, listen: true, speed: 1 });  
                      this.artyom.addCommands({
                          indexes: [/.*/],
                          smart: true,
                          action: (i, wildcard) => {
                              // Do nothing here to avoid repetition
                          }
                      });
                      setTimeout(() => { this.isListening = true }, 2000);
                      this.artyom.redirectRecognizedTextOutput((text, isFinal) => {
                          if (isFinal) {
                              this.speechText += ' ' + text.trim();
                              this.stopSpeechRecognition();
                          }
                      }); 
                  } catch (error) {
                      return;
                  }
              },

              async stopSpeechRecognition() { 
                try {
                    this.isListening = false; 
                    if (!this.o.mission) { 
                      this.o["position"] = '';
                      this.o["mission"] = this.speechText;                   
                    } 
                    else {
                      this.o["position"] = this.speechText;                                                
                    }; 
                    if (this.o.results) { delete this.o.results }; 
                    this.o = JSON.parse(JSON.stringify(this.o));
                    this.results = [];
                    this.clearInput();
                    this.artyom.fatality();
                } catch (error) { return };               
              },

              async shareItem(it) {                
                if (navigator.share) {
                  const shareData = {
                        title: it.terms.type + ' ' + it.v,
                        text: it.summary&&it.summary.summary ? it.summary.summary : '',
                        url: it.terms.url
                    };
                    navigator.share(shareData);
                    it["session"] = this.session; 
                    saveEntity(it);
                  }; 
                },

              async shareDeliverable(deliverable) {                
                if (navigator.share) {
                  const shareData = {
                        title: deliverable.type + ': ' + deliverable.terms.type + ' ' + deliverable.v,
                        text: deliverable.results,
                        url: 'https://xsbrt.com/tinylobby'
                    };
                    navigator.share(shareData);
                  }; 
                },

                async shareContent() {                
                  if (navigator.share) {
                      const shareData = {
                        title: 'TinyLobby - Your Bridge to Congress',
                        text: 'TinyLobby simplifies the lobbying process by connecting organizations with relevant congresspersons. Define your mission and position, and get insights, deliverables, and key connections tailored to your advocacy needs. Leverage decades of lobbying experience to shape policies favorably for your cause.',
                        url: 'https://xsbrt.com/tinylobby'
                      };
                      try {
                          await navigator.share(shareData);
                      } catch (error) {
                          return;
                      }
                  } else {
                      return;
                  }
              },

              async changeObject(o) {
                if (typeof o === 'string') {
                  this.o.description = o;
                };
                this.o = o;
              },

              async clearInput() {
                this.session = randomString();        
              },
              
            async addNote() {  
              let it = JSON.parse(JSON.stringify(this.note));
              if (it.phone) { delete it.phone };
              if (it.website) { delete it.website };
              if (it.summary) { delete it.summary };
              it["session"] = this.session;   
              it["nid"] = randomString();
              await saveEntity(it);
              it["description"] = '';
              this.note = JSON.parse(JSON.stringify(it));              
              console.log(this.notes.length);
            },

            async deleteNote(it,note) {
              await deleteItem(it);
              this.note = JSON.parse(JSON.stringify(note));
              console.log(this.notes.length);
              console.clear();
            },

            onImgError(event) {
                if (!event) { return };
                try {event.target.style.display = 'none';} catch (error) { return; }                
            }

            },

            template: "#app-template", 
        });
        app.use(vuetify).mount('#app');
    </script>
    
    <style scoped>
      #app {
          width: 100%;
          height: 100vh;
          background-color: white;
      }
  
      .overlay-container {
          width: 100%;
          height: 70%;
          overflow: auto;
      }
  
      .overlay-card {
          width: 100%;
          height: 70%;
          margin: auto;
      }
  
      .overlay-title {
          font-size: 1.5em;
          font-weight: bold;
      }
  
      .overlay-subtitle {
          font-size: 1.2em;
      }
  
      .overlay-content {
          overflow-y: auto;
          max-height: 90vh;
      }
  
      .result-text {
          font-size: 1.1em;
          white-space: pre-wrap;
          word-wrap: break-word;
      }
  
      .action-title {
          font-weight: bold;
          letter-spacing: 1.2px;
      }
  
      .subtitle {
          font-size: 0.8em;
          margin-left: 5px;
      }
  
      .action-button {
          font-weight: bold;
          letter-spacing: 1.2px;
          transition: all 0.3s ease;
      }
  
      .action-button:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }
  
      .action-textarea {
          border: 2px solid var(--primary-color);
          border-radius: 8px;
          transition: all 0.3s ease;
      }
  
      .action-textarea:focus-within {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  </style>
  
</body>
</html>