<template>
    <v-alert
      v-if="showAlert"
      type="info"
      color="primary"
      variant="text
      dismissible
      class="my-1 pa-2 text-left"
      title="Welcome!"
      @input="showAlert = false"
    >    
    {{ o.text }}  
    </v-alert>
  </template>
  
  <script>
  export default {
    props: {

        o: {
            type: Object,
            required: true
        }

    },
    data() {
      return {
        showAlert: true,
      };
    },
    async mounted() {
        try {
            if (localStorage.getItem('id')) {
                this.showAlert = false;
                return;      
            };
        } catch (error) {
            console.clear(); 
        };        
        setTimeout(() => {
            this.showAlert = false;
        }, 10000);
    }
  }
  </script>  