<template>
    <v-alert
      v-if="showAlert"
      type="success"
      color="primary"
      text
      dismissible
      class="my-2"
      title="Welcome!"
      @input="showAlert = false"
    >
      
    </v-alert>
  </template>
  
  <script>
  export default {
    data() {
      return {
        showAlert: true,
      };
    },
    mounted() {
      setTimeout(() => {
        this.showAlert = false;
      }, 10000); // 10000 milliseconds = 10 seconds
    },
  };
  </script>  