<template>
    <v-alert
      v-if="showAlert"
      type="success"
      color="primary"
      text
      dismissible
      class="my-2"
      :title="o.title"
      @input="showAlert = false"
    >    
    {{ o.text }}  
    </v-alert>
  </template>
  
  <script>
  export default {
    props: {

        o: {
            type: Object,
            required: true
        }

    },
    data() {
      return {
        showAlert: true,
      };
    },
    mounted() {
        if (localStorage.getItem('id')) {
            return;      
        };
      setTimeout(() => {
        this.showAlert = false;
      }, 10000); // 10000 milliseconds = 10 seconds
    }
  }
  </script>  