<template>
    <v-alert
      v-if="showAlert"
      type="info"
      color="primary"
      variant="outlined"
      closable
      density="comfortable"
      :text="o.text"
      prominent
      rounded
      border="bottom"
      elevation="8"
      class="mx-4 px-2 py-4 text-left"
      @input="showAlert = false"
    > 
    </v-alert>
  </template>
  
  <script>
  export default {
    props: {

        o: {
            type: Object,
            required: true
        }

    },
    data() {
      return {
        showAlert: true,
      };
    },
    async mounted() {
        try {
            if (localStorage.getItem('id')) {
                this.showAlert = false;
                return;      
            };
        } catch (error) {
            console.clear(); 
        };        
        setTimeout(() => {
            this.showAlert = false;
        }, 9000);
    }
  }
  </script>  