<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”robots” content=”noindex,nofollow” />
    <meta http-equiv="CACHE-CONTROL" content="Public" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords"
        content="DC Speed, track and field, youth, age group, DMV, Washington DC, sprinters, jumpers, distance runners" />
    <meta name="description"
        content="DC Speed Track Club a youth Track and Field Club that trains and develops athletes throughout the DMV area. DC Speed is overseen by professional staff with the assistance of volunteers and parents.  Track and Field is a great opportunity for youth to participate in an Olympic sport, regardless of previous experience or skill level. Track and Field also gives youth the chance to travel outside of the District and meet and compete with youth from across the country." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="DC Speed Track and Field Club" />
    <meta property="og:description"
        content="DC Speed Track Club a youth Track and Field Club that trains and develops athletes throughout the DMV area. DC Speed is overseen by professional staff with the assistance of volunteers and parents.  Track and Field is a great opportunity for youth to participate in an Olympic sport, regardless of previous experience or skill level. Track and Field also gives youth the chance to travel outside of the District and meet and compete with youth from across the country." />
    <meta property="og:url" content="https://dcspeedtrackclub.com" />
    <meta property="og:site_name" content="DC Speed Track and Field Club" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta name="apple-mobile-web-app-title" content="DC Speed Track and Field Club" />
    <meta name="msapplication-TileImage" content="logo.png" />
    <meta name="msapplication-TileColor" content="#121212" />
    <meta name="theme-color" content="#FFCD24" />
    <link rel="apple-touch-icon" href="logo.png" />
    <link rel="icon" href="logo_HJC_icon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet" />   
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.5.8/dist/vuetify.min.css" />
    <title>DC Speed Track and Field Club</title>
</head>

<body oncontextmenu="return false">
    <div id="app">
        <v-app fluid fullwidth fullheight fluid>
        
    <!-- Navbar with hover animations -->
    <v-app-bar app color="black" dark prominent>

        <!-- Wrapper for Logo and Title -->
        <div class="d-flex align-center">
          <v-img src="logo.png" rel="preload" class="lazy ma-1" style="filter: brightness(0) invert(1); max-width: 110px; max-height: 110px;" contain @click="showItem=null;"></v-img>
        </div>
    
        <v-spacer></v-spacer>
    
        <!-- Wrapper for Buttons, making it scrollable -->
        <div class="d-flex align-center overflow-x-auto hide-scrollbars">
          <v-btn v-for="item in items" :key="item.title" text class="mx-2" @click="o={};showItem=item.title;checkStats();">
            {{ item.title }}
          </v-btn>
        </div>
    
      </v-app-bar>

      <v-main style="min-height: calc(100vh - 64px); overflow-y: auto;">
  
      <!-- Landing Screen -->
      <v-card v-if="!showItem" flat tile>
        <v-responsive aspect-ratio="16/9">
            <v-img :src="landingImage" class="fill-height">
                <v-row class="fill-height" align="center" justify="center">
                    <v-col class="text-center">
                        <v-sheet color="rgba(0, 0, 0, 0.5)" class="pa-4 text-center pt-4">
                          <v-flex class="hidden-md-and-up white--text font-weight-bold body-2 pt-4">
                            {{ currentQuote }}
                          </v-flex>
                          <v-flex class="hidden-sm-and-down white--text font-weight-bold display-1 pt-4">
                            {{ currentQuote }}
                          </v-flex>
                        </v-sheet>
                    </v-col>
                </v-row>
            </v-img>
        </v-responsive>
    </v-card>
  
      <!-- Begin the Journey Section -->
      <v-container v-if="!showItem||showItem=='Begin'" class="mt-3">

        <v-alert v-if="registration"
          elevation="10"
          outlined
          text
          class="ma-4 pa-4 text-center justify-center"
          type="error"
          style="cursor:pointer;"
          title="Click to register!"
          @click="showItem='Join'"
        >
          <v-flex xs12 md12 class="display-1 pb-2">It's {{registration.title}} season!</v-flex>
          Season starts: {{registration.start}}. Click here to register today!
        </v-alert>

        <v-row>
          <v-col cols="12" class="text-center my-1 pt-1">
            <h2 class="mt-1 pt-1">Begin the Journey</h2>

            <v-flex class="hidden-md-and-up">
              <v-card v-for="milestone in milestones" raised rounded class="text--primary mb-4" dark @click="window.open(milestone.link,'_blank')"> 
                <v-card-title class="white--text title text-h5-sm d-flex text-center justify-center">
                  {{ milestone.title }}
                </v-card-title>
                <v-card-text class="text-left white--text text-h6-sm">
                  <v-banner
                  outlined
                  rounded
                  tile
                  elevation="10"
                  class="red--text title text-h6-sm text-center pa-4 overflow-x-auto mb-4"
                  v-html="getAgeGroupYearsTitle(milestone)"
                >
                </v-banner>
                  {{ milestone.description }}
                  </v-card-text>
                <v-responsive aspect-ratio="16/9">
                  <v-img :src="milestone.image" class="fill-height"></v-img>
                </v-responsive>    
              </v-card>
            </v-flex>          

            <v-timeline class="hidden-sm-and-down" align-top>
              <v-timeline-item
                v-for="milestone in milestones"
                :key="milestone.date"
                color="red"
                icon="mdi-trophy-award"
              >
                <template v-slot:opposite>
                  <v-banner
                    outlined
                    rounded
                    tile
                    elevation="12"
                    class="red--text title text-h6-sm text-left pa-4 overflow-x-auto"
                    v-html="getAgeGroupYearsTitle(milestone)"
                  >                 
                  </v-banner>
                </template>
                <v-card raised rounded class="text--primary" dark @click="window.open(milestone.link,'_blank')"> 
                  <v-card-title class="white--text title text-center justify-center d-flex text-h5-sm">
                    {{ milestone.title }}
                    </v-card-title>
                  <v-card-text class="text-left white--text text-h6-sm">{{ milestone.description }}</v-card-text>
                  <v-responsive aspect-ratio="16/9">
                    <v-img :src="milestone.image" class="fill-height"></v-img>
                  </v-responsive>
                </v-card>
              </v-timeline-item>
            </v-timeline>

          </v-col>
        </v-row>
      </v-container>
      
      <!-- Upcoming Races Section -->
      <v-container v-if="showItem&&showItem=='Upcoming'" class="grey lighten-3 mt-4 pt-4">
        <v-row justify="center" class="my-4 pt-4">
          <v-col cols="12" md="8" class="text-center my-4 pt-4">
            <h2 class="mt-4 pt-4">Upcoming</h2>
            <v-calendar></v-calendar>
          </v-col>
        </v-row>
      </v-container>
  
      <!-- Our Stories Section -->
      <v-container v-if="showItem&&showItem=='Stories'" class="mt-4 pt-4">
        <v-row class="mt-4 pt-4">
          <v-col cols="12" class="text-center my-4 pt-4">
            <h2 class="mt-4 pt-4">Some of our Stories</h2>
            <v-row>
              <v-col v-for="story in stories" :key="story.title" cols="12" md="4">
                <v-card :img="story.image" hover class="mx-2 my-4" rounded raised @click="handleCardClick(story)">
                  <v-card-title class="text-center justify-center d-flex red--text text-uppercase">
                    <v-icon color="red" x-large>person</v-icon>{{ story.title }}
                  </v-card-title>
                  <v-card-text class="text-left pa-4">{{ truncatedDescription(story) }}</v-card-text>
                </v-card>
              </v-col>              
            </v-row>
          </v-col>
        </v-row>
      </v-container>
  
      <!-- Join the Revolution Section  -->
      <v-container v-if="showItem&&showItem=='Join'" class="red my-4 pa-4">
            <v-row justify="center" class="my-4 mx-2 pa-4">
              <v-col cols="12" md="8" class="text-center my-4 white--text pt-4">
                <h2 class="white--text mt-4 pt-4">Join</h2>
                <p>Embrace the journey and sign up for an unforgettable experience!</p>  
                
                <label for="start">Enter athlete's birthday. If your athletes not of age then you will not be able to move on: </label>
                <input type="date" class="white--text" v-model.async="o.selectedDate" @change="checkAgeGroup" />

            <v-flex v-if="o.ageGroup" xs12 md12 class="my-1 font-weight-bold">  
              <v-flex xs12 md12 class="my-3 display-1 white--text">
                {{ o.ageGroup }} Age Group
              </v-flex> 
              
              <v-select v-model.async="o.type" class="my-1" outlined rounded dark :items="types" hint="Select your athlete's status" label="Select your athlete's status"></v-select>
                           
              <v-select v-if="o.type" v-model.async="o.gender" class="my-1" outlined rounded dark :items="genders" hint="Select athlete gender" label="Select athlete gender"></v-select>
             
              <v-text-field v-if="o.gender" class="my-1" v-model.trim="o.firstName" label="Athlete's first name" hint="Athlete's first name" outlined rounded dark clearable autocomplete="true"></v-text-field>
              <v-text-field v-if="o.firstName" class="my-1" v-model.trim="o.lastName" label="Athlete's last name" hint="Athlete's last name" outlined rounded dark clearable autocomplete="true"></v-text-field>             

              <v-select v-if="o.lastName" class="my-1" outlined rounded dark v-model.async="o.shirtSize" :items="sizes" hint="Select shirt size" label="Select shirt size"></v-select>

              <v-text-field v-if="o.shirtSize" class="my-1" v-model.trim="o.parentFirstName" label="Parent/guardian first name" hint="Parent/guardian first name" outlined rounded dark clearable autocomplete="true"></v-text-field>

            <v-text-field v-if="o.parentFirstName" class="my-1" v-model.trim="o.parentLastName" label="Parent/guardian last name" hint="Parent/guardian last name" outlined rounded dark clearable autocomplete="true"></v-text-field> 

            <v-text-field v-if="o.parentLastName" class="my-1" v-model.trim="o.parentPhone" label="Parent/guardian phone" hint="Parent/guardian phone" outlined rounded dark clearable autocomplete="true" placeholder="202123456" type="number"></v-text-field> 

            <v-text-field v-if="o.parentPhone" class="my-1" v-model.trim="o.parentEmail" label="Parent/guardian email" hint="Parent/guardian email" outlined rounded dark clearable autocomplete="true" type="email"></v-text-field> 

            <v-text-field v-if="o.parentPhone" class="my-1" v-model.trim="o.emergencyContact" label="Emergency contact name" hint="Emergency contact name" outlined rounded dark clearable autocomplete="true"></v-text-field> 

            <v-text-field v-if="o.emergencyContact" class="my-1" v-model.trim="o.emergencyPhone" label="Emergency phone" hint="Emergency phone" outlined rounded dark clearable autocomplete="true" type="number" placeholder="202123456"></v-text-field>            
             
            <v-checkbox v-if="o.emergencyPhone" v-model.async="o.mediaRelease" class="white--text" label="I give permission for my child's image to be used in team media, including photos and videos, for promotional and team-related purposes."></v-checkbox>

            <v-checkbox v-if="o.emergencyPhone" v-model.async="o.parentAgreement" class="white--text" label="I have read and understand all of the following document:"></v-checkbox>

            <v-flex v-if="o.emergencyPhone" xs12 md12 class="white--text text-center justify-center font-weight-bold mb-4">
              <a href="https://docs.google.com/document/d/1n4KdwhwIhG-wupeBXSiddybKbu1dUaBiFx6r2vKDdW4/edit" target="_blank" class="white--text">Warning Signs of Overzealous Parents in Youth Track and Field</a>.
            </v-flex>
            
            <v-btn v-if="o.parentAgreement" x-large color="white" class="mt-2 black--text">Register</v-btn>
            
          </v-flex>
                
              </v-col>
            </v-row>
      </v-container>

        <!-- learn -->
        <v-container v-if="showItem&&showItem=='Learn'" class="mt-4 pt-4">          
          <v-layout class="mt-4 pt-4 justify-center" row wrap>
              <v-flex xs12 md12 class="mt-4 pt-4 mb-2 text-center justify-center text--h3 red--text">Learn</v-flex>
              <v-card v-for="it in learn" :key="it.category" width="470" class="mx-2 my-4" rounded raised title="Click for full story">
                <v-card-title class="d-flex text-center justify-center text--h4 red--text"><v-icon color="red" class="pr-1 pb-1">tips_and_updates</v-icon>{{ it.category }}</v-card-title>
                <v-card-text class="text-left body-1">
                  <li v-for="story in it.articles" :key="story.title" style="cursor:pointer;" class="pb-2" @click="window.open(story.link,'_blank')">{{story.title}}</li>
                </v-card-text>
              </v-card>
          </v-layout>
        </v-container>

      </v-main>

        <v-footer class="mt-4 pa-4 red--text justify-center text-center" app>
          <a href="mailto:dcspeedtrackclub@gmail.com" style="text-decoration:none; color:red;">dcspeedtrackclub@gmail.com</a><v-btn v-if="navigator.share" icon fab large title="Click to share this website" class="ml-1" @click="shareWebPage"><v-icon color="red">share</v-icon></v-btn>
        </v-footer>

        </v-app>
          
    </div>    

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.8/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7.3/dist/alasql.min.js"></script>
    <script async defer src="https://js.stripe.com/v3/" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
    <script>        

          new Vue({
            el: '#app',
            mode: 'production',
            vuetify: new Vuetify(),
            data() {
                return {
                  showItem: null,
                  clickedCard: null,
                  quotes: [
                  'Begin your track and field journey!',
                  'Running is the greatest metaphor for life.',
                  'To give anything less than your best is to sacrifice the gift.',
                  'The only true limitation is the one you set for yourself.',
                  'The only thing that matters is the finish line.',
                  'The only real limitation is the one you set for yourself.',
                  'I don’t run to add days to my life, I run to add life to my days.',
                  'Most people run a race to see who is fastest. I run a race to see who has the most guts.',
                  'The reason we race isn’t so much to beat each other,… but to be with each other.',
                  'One run can change your day; many runs can change your life.',
                   'If you don’t think you were born to run you’re not only denying history. You’re denying who you are.'
                ],
                currentQuote: '',
                  hoveredButton: '',
                  registration: null,
                  o: {}                
                };
            },
            
            methods: { 

              async checkAgeGroup() {
                if (this.o.selectedDate) {
                  this.o["ageGroup"] = this.getAthleteAgeGroup(new Date(this.o.selectedDate));
                  this.o = JSON.parse(JSON.stringify(this.o));
                };
              },

              async setRandomQuote() {
                const randomIndex = Math.floor(Math.random() * this.quotes.length);
                this.currentQuote = this.quotes[randomIndex];
              },

              async checkStats() {
                if (this.showItem) {
                    if (this.showItem == 'Stats') {
                        window.open('https://lookerstudio.google.com/s/vzFIac_ZSis','_blank');
                        this.showItem = "Begin";
                        return;
                    };
                    if (this.showItem == 'Season Review') {
                        window.open('https://docs.google.com/document/d/1sQJ2BmVnf_qeYbA26rWHOSYLHNIABMXWmnWixO2WFJk/edit?usp=sharing','_blank');
                        this.showItem = "Begin";
                        return;
                    };
                 };
              },

              async handleCardClick(story) {
                this.clickedCard = this.clickedCard === story.title ? null : story.title;
              },

              shareWebPage() {
                  if (navigator.share) { 
                      navigator.share({
                          title: 'DC Speed Track and Field Club',      
                          url: 'https://dcspeedtrackclub.com',          
                          text: 'DC Speed Track Club a youth Track and Field Club that trains and develops athletes throughout the DMV area.'         
                      });
                  };
              },

              getAgeGroupYearsTitle(milestone) {
                if (milestone.title.includes('Age Group')) {
                  if (milestone.title.includes('7-8')) {
                    return milestone.date + ' ' + this.ageGroupYears.get('7-8');
                  };
                  if (milestone.title.includes('9-10')) {
                    return milestone.date + ' ' + this.ageGroupYears.get('9-10');
                  };
                  if (milestone.title.includes('11-12')) {
                    return milestone.date + ' ' + this.ageGroupYears.get('11-12');
                  };
                  if (milestone.title.includes('13-14')) {
                    return milestone.date + ' ' + this.ageGroupYears.get('13-14');
                  };
                };
                return milestone.date;
              },

              getAgeGroupYears() {
                const ageGroups = ['7-8', '9-10', '11-12', '13-14', '15-16', '17-18'];
                const ageGroupMap = new Map();
                ageGroups.forEach(group => {
                    const [startAge, endAge] = group.split('-').map(Number);
                    const endYear = this.targetYear - startAge;
                    const startYear = this.targetYear - endAge;
                    ageGroupMap.set(group, `${startYear}-${endYear}`);
                });
                return ageGroupMap;
            },

              getAthleteAgeGroup(birthDate) {
                const ageOnTargetDate = this.targetYear - birthDate.getFullYear() - 
                                      (birthDate.getMonth() > 11 || (birthDate.getMonth() === 11 && birthDate.getDate() > 31) ? 1 : 0);

                // Determine the age group based on the age
                if (ageOnTargetDate >= 7 && ageOnTargetDate <= 8) {
                    return "7-8";
                } else if (ageOnTargetDate >= 9 && ageOnTargetDate <= 10) {
                    return "9-10";
                } else if (ageOnTargetDate >= 11 && ageOnTargetDate <= 12) {
                    return "11-12";
                } else if (ageOnTargetDate >= 13 && ageOnTargetDate <= 14) {
                    return "13-14";
                } else if (ageOnTargetDate >= 15 && ageOnTargetDate <= 16) {
                    return "15-16";
                } else if (ageOnTargetDate >= 17 && ageOnTargetDate <= 18) {
                    return "17-18";
                } else {
                    return null;
                }
            },

            getProgramStatus() {                
                const programs = {
                    "Strength and Conditioning": {
                        getStartDate: function(year) {
                            return getNthWeekdayOfMonth(3, 2, 9, year); // 3rd Tuesday of September
                        }
                    },
                    "Indoor": {
                        getStartDate: function(year) {
                            return getNthWeekdayOfMonth(2, 2, 11, year); // 2nd Tuesday of November
                        }
                    },
                    "Outdoor": {
                        getStartDate: function(year) {
                            return getNthWeekdayOfMonth(1, 1, 4, year); // 1st Monday of April
                        }
                    }
                };

          for (let program in programs) {
              const startDate = programs[program].getStartDate(this.today.getFullYear());
              const registrationDate = new Date(startDate);
              registrationDate.setMonth(startDate.getMonth() - 1); // Registration starts 1 month before
              
              if (this.today >= registrationDate && this.today <= startDate) {
                  return {
                      'title': program,
                      'registration': formatDate(registrationDate),
                      'start': formatDate(startDate)
                  };
              }
          }

     return null;

    function getNthWeekdayOfMonth(n, weekday, month, year) {
        const firstDateOfMonth = new Date(year, month - 1, 1); 
        let dayDifference = weekday - firstDateOfMonth.getDay();
        if (dayDifference < 0) {
            dayDifference += 7;
        }
        const dateOfMonth = 1 + dayDifference + (n - 1) * 7;
        return new Date(year, month - 1, dateOfMonth);
    }

    function formatDate(dateObj) {
        const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

        const dayOfWeek = days[dateObj.getDay()];
        const monthName = months[dateObj.getMonth()];
        const dayOfMonth = dateObj.getDate();
        const year = dateObj.getFullYear();

        return `${dayOfWeek}, ${monthName} ${dayOfMonth}, ${year}`;
    }
}

            },

            computed: {              

              truncatedDescription() {
                return story => {
                  if (this.clickedCard === story.title) return story.description;
                  return story.description.length > 100 ? story.description.substring(0, 100) + '...' : story.description;
                };
              }

            },

            created() { 
              this.items = [ 
                    { title: 'Join' },                    
                    { title: 'Begin' },                    
                    { title: 'Stories' }, 
                    { title: 'Upcoming' },                  
                    { title: 'Learn' },
                    { title: 'Stats' },
                    { title: 'Season Review'}
                ];
                this.sizes = ["youth small","youth medium","youth large","small","medium","large","extra large"];
                this.genders = ["female","male"];
                this.types = ["new athlete","returning athlete (have registered and paid in the past)"];
                this.landingImage = 'jobrialauren.webp';
                this.today = new Date();
                this.targetYear = this.today.getFullYear() + 1;
                if (this.today.getMonth() >= 0 && this.today.getMonth() <= 6) { 
                    this.targetYear = this.today.getFullYear();
                };
                this.ageDate =  'December, 31, ' + new Date(this.targetYear, 11, 31).getFullYear();
                this.registration = this.getProgramStatus();
                this.ageGroupYears = this.getAgeGroupYears();
                this.milestones = [                  
                    {
                    date: 'September - October<br/>6:30 - 8 pm, Tuesdays<br/>10 am - 12 pm, Saturdays',
                    title: 'Strength and Conditioning',
                    description: 'We use this time to slowly get kids bodies back in shape after the break from outdoor season. The focus is on overall conditioning with a mixture of exercises, slow jogging, short sprints and hills. The strength and conditioning season runs in parallel with the cross country season, with all practice outside. Registration happens early September.',
                    image: 'sAndc.webp'
                    },
                    {
                    date: 'November - March<br/>6:30 - 8 pm, Tuesdays/Thursdays/Fridays<br/>Sunday track meets',
                    title: 'Indoor Track and Field Season',
                    description: 'The indoor season has a necessary long training lead-in prior to the start of competitions in January. The kids learn sprint techniques, starts and some field events. There are typically six meets each season, all at Prince Georges Sports and Learning Complex, usually culminating in the indoor national championship meet. Registration happens in late October.',
                    image: 'indoor.webp'
                    },
                    {
                    date: 'April - August<br/>6:30 to 8 pm, Mondays/Wednesdays/Thursdays<br/>Saturday track meets',
                    title: 'Outdoor Track and Field Season',
                    description: 'The outdoor season is the largest and most competitive season, with up to nine meets depending on athletes abilities. Athletes compete in nearly every event in track and field at meets with 20 to 60 other teams from around the DMV. There are a series of qualifying meets, each more difficult and ending with the national championships hosted at a different location each year (west coast, central U.S., east coast). Registration happens in mid-March.',
                    image: 'outdoorGeneric.webp',
                    link: 'https://docs.google.com/document/d/1I7NsjFNg7NYhPex1QuzqIMyHieZx0FpUp5PN9q3IvZU/edit?usp=sharing'
                    },
                    {
                    date: 'If athlete born in ',
                    title: '7-8 Age Group',
                    description: 'Most kids at this age are trying out sports for the first time and trying to find something they enjoy. Track and field is an excellent entry sport because: (1) running is the foundation of most sports; and (2) they have all run on the playground, with their friends, during games, and so on. It appears to be straightforward. Most young children imagine themselves to be sprinters, but only a few are.',
                    image: '7and8.webp'                    ,
                    link: 'https://docs.google.com/document/d/1gYax2NWQXY34p7dpA-4sAnn47-doeNqGvN1ytvEXpIo/edit?usp=sharing'
                    },
                    {
                    date: 'If athlete born ',
                    title: '9-10 Age Group',
                    description: 'Those who have participated in at least one full season of track and/or other organized sports will find the sport easier. They usually know how to move, execute most drills, and pace themselves. Peer pressure begins to take effect, and kids tend to fall in line, wanting to do well in both practice and meets. It is still very much a social activity, but the athletes begin to distinguish themselves based on their results, and they understand what constitutes good results.',
                    image: '9and10.webp',
                    link: 'https://docs.google.com/document/d/1gYax2NWQXY34p7dpA-4sAnn47-doeNqGvN1ytvEXpIo/edit?usp=sharing'
                    },
                    {
                    date: 'If athlete born ',
                    title: '11-12 Age Group',
                    description: 'If age group track is overemphasized, this is the age range to concentrate on. Those who have stuck with it and truly have track understanding will begin to separate themselves through hard work, focus, and injury-free running. Finals, travel meets, nationals, it all tiringly awaits. Kids will start to define themselves by track both in and out of school and have friends on other teams they see every weekend.',
                    image: '11and12.webp',
                    link: 'https://docs.google.com/document/d/1gYax2NWQXY34p7dpA-4sAnn47-doeNqGvN1ytvEXpIo/edit?usp=sharing'
                    },
                    {
                    date: 'If athlete born ',
                    title: '13-14 Age Group',
                    description: 'Teenagers are fully immersed in puberty, with high school either already started or looming for others. Those who continue to enjoy what track brings to their lives go all in. Many athletes begin lifting weights. Some kids begin doing workouts on the side, such as exercises and unsupervised light runs.',
                    image: '13and14.webp',
                    link: 'https://docs.google.com/document/d/1gYax2NWQXY34p7dpA-4sAnn47-doeNqGvN1ytvEXpIo/edit?usp=sharing'
                    }
                ];
                this.stories = [
                    {
                    title: 'Sylas',
                    description: 'Sylas began as a 7 year old without an event, but a lot of heart. He started as a sprinter in the indoor season and slowly worked he way up to middle distance, setting personal records in all of his events by the end of the indoor season. Sylas first outdoor season saw him go full throttle for middle-distance, an uncommon show of strength, stamina and dedication for someone so young. He set personal records in nearly every meet of the outdoor season and moved up into the top 1/3 of all competitors regardless of the size of the meet. His hard-work made his future on the track brighter than ever! Here are his stats: https://lookerstudio.google.com/s/lIyN1OD8ugo'
                    },
                    {
                    title: 'Sonia',
                    description: 'Sonia worked harder from day 1 than any little kid on the track. She did everything exactly right, no questions asked. While she wasnt the fastest kid in terms of speed, her desire to improve was undeniable. She found her groove the harder the workouts became and her work began to pay-off slowly at first, then with an avalanche of personal records, medals and ribbons. Sonia went from being happy to finish her races strongly to lopping-off many seconds in all of her races. Each meet, she began to shatter all of her previous bests. She has found her set of races and is laser-focused on her steady improvement moving forward. Here are her stats: https://lookerstudio.google.com/s/i5qAzDkvBFo'
                    },
                    {
                    title: 'Ophelia',
                    description: 'Ophelia started track at the age of 5 because her siblings had been running track for years. She had no choice but to start running. Despite being the smallest kid on the track, she began to excel in the short sprints and the long jump. She collected a few medals and ribbons, set some personal records and kept working, waiting for Mother Nature to catch-up with her ambitions. When she hit the 11-12 age group, her desperation to win created a huge shift in her results, as she became one of the fastest sprinters in the DMV, then one of the top-ranked sprinters in the country. She has tasted success and is now setting higher goals. Here are her stats: https://lookerstudio.google.com/s/mnpkh-4j0M4'
                    },
                    {
                    title: 'Layla',
                    description: 'Layla was a basketball player with an interest in sprinting and jumping. Always curious, she quickly took to executing the many drills of track, peppering coaches with questions. She wanted to learn more and to try more. She soon added the long jump to her sprinting events and quickly excelled, become one of the better jumpers in the DMV. In her first season, Layla qualified for AAU Nationals in the long jump. She is looking ahead to add even more events to repetoire. Here are her stats: https://lookerstudio.google.com/s/iXeZwlJgPpo'
                    },
                    {
                    title: 'Edrick',
                    description: 'Edrick has been on the team longer than anyone and used his time to master more events than anyone. He began as a 6 year old distance runner and thrower. He has always worked hard to master the many events he takes on. He jumps, throws, sprints. Over the years, he has traded-in his distance medals for shot put and javelin medals, become one of the better throwers in the DMV. He will take his talents to high school this upcoming season where we will all track his progress as he helps yet another team succeed. Here are his stats: https://lookerstudio.google.com/s/pmZqF0wK82Y'
                    },
                    {
                    title: 'Cailey',
                    description: 'Cailey arrived as a strong athlete at the age of 8 and quickly moved to excel in everything she tried. She could sprint, anchor relays, throw and jump. She not only made it to Nationals every year, but medaled every year, setting a still-standing shot put national record along the way. She just completed a very solid first year of high school track helping one of the better area programs to a successful season. Already arguably the top thrower in the DMV, her national aspirations are not just wishful thinking, but a soon to be reality. Here are her stats: https://lookerstudio.google.com/s/uH5epv1DmwI'
                    }
                ];
                this.learn = [
                    { category: 'Understanding Age Group Track', articles: [
                      {title: 'Open Letter to Age Group Track', link: 'https://docs.google.com/document/u/0/d/1GVe4AJpGHx4n5A3qaP6GCbBIL_YBR2meK-8oRJur-CA/edit'},
                      {title: 'Aren’t you just ‘volunteers’? OR Are you really ‘volunteers’?',link: 'https://docs.google.com/document/d/1O9IUdDwyendj4hZ1rKs7uR7sCFAcuZOkoB8RpWMytzc/edit?usp=sharing'},
                      {title: 'A week in the life of a volunteer coach (roughly 23 weeks out of every year)',link: 'https://docs.google.com/document/d/1xgTqlrNjBix08hAlh1_sVUiu0GPt0ONU5hcy2wJXZ_Y/edit?usp=sharing'},
                      {title: 'Navigating the Track: Warning Signs of Overzealous Parents in Youth Track and Field',link: 'https://docs.google.com/document/u/0/d/1n4KdwhwIhG-wupeBXSiddybKbu1dUaBiFx6r2vKDdW4/edit'},
                      {title: 'Cautionary Tales',link: 'https://docs.google.com/document/d/1zzQHDURJqKyEDrWojGJvCFYtbMS9sI0WsN1kMQ8-1y4/edit?usp=sharing'},
                      {title: 'Age Groups Explained / What to Expect',link:'https://docs.google.com/document/u/0/d/1gYax2NWQXY34p7dpA-4sAnn47-doeNqGvN1ytvEXpIo/edit'},
                      {title: 'Moving Forward',link: 'https://docs.google.com/document/u/0/d/1Qk8BdU-DbKxdEHqI2aEMM1d9hz459M3-_FoedgxEZRE/edit'},
                      {title: 'Reasonable Performance Improvement Expectations',link:'https://docs.google.com/document/d/1u1u1X0IFJaSbaG5YHsE7c00EwRgWLJj_16rAploFf_M/edit?usp=sharing'}
                    ] },
                    { category: 'Nutrition for Athletes', articles: [
                      {title: 'Sprinters Nutrition',link: 'https://docs.google.com/document/u/0/d/1rAn2xsKKSNQ_LRghGDenyEMkJ2awJ6STiymTZH3_qgw/edit'},
                      {title: 'Distance Nutrition',link: 'https://docs.google.com/document/u/0/d/10d6lifspTYIc1n4rdWRGpAQnNNwkwOQmqD2KmIqB1Vc/edit'},
                      {title: 'Mid-Distance Nutrition',link: 'https://docs.google.com/document/u/0/d/1O_1HReSICZKb9Yq6MFC7HFPtzpVQIh3nH5GFjs5tTw4/edit'}
                    ] },
                    { category: 'Track Meet Preparation', articles: [
                      {title: 'What to Expect When You are Expecting (...to Attend an Outdoor Track Meet)',link: 'https://docs.google.com/document/d/1I7NsjFNg7NYhPex1QuzqIMyHieZx0FpUp5PN9q3IvZU/edit?usp=sharing'},
                      {title: 'Track Meet Food',link: 'https://docs.google.com/document/d/1TOFSQkFQ77nCvBEP6dBNu6Y2C8naAaHK2Amgbaua9Ps/edit?usp=sharing'},
                      {title: 'Track Spikes',link: 'https://docs.google.com/document/u/0/d/1zZP6g-7g1cKIdYmwxSKbOascxIJY38HAmdkHJarU1rs/edit'}
                    ] },
                    { category: 'Competition and Performance', articles: [
                      {title: 'I Need to Go to Nationals',link: 'https://docs.google.com/document/u/0/d/141s1Z2ejT8Zmi5d_23sj7LTsG528xbRusZmKbRAy1fc/edit'},
                      {title: 'Sample Recruiting Email',link: 'https://docs.google.com/document/u/0/d/1CD4gT3_soTVDt6LsqvH4kq9IvZnOOwDS_mqghFIsN5M/edit'},
                      {title: 'Junior Year Options',link: 'https://docs.google.com/document/u/0/d/1qkfWLXYWw26eHopmFYxe4giENOMMLaHX3dw4PgOQ794/edit'}
                    ] },
                    { category: 'Training and Exercise', articles: [
                      {title: 'Making Practice',link: 'https://docs.google.com/document/d/1HY4zIYiPR67xnZZg6vm_COkJWzYcAwInPylwroLKxsY/edit?usp=sharing'},
                      {title: 'Practice DOs and DONTs',link: 'https://docs.google.com/document/u/0/d/12hHmmFdWb97Agj7E4GatKXGBixWYk1-yoRqEJfRKNBU/edit'},
                      {title: 'Practice Groupings',link: 'https://docs.google.com/document/u/0/d/1Ue9wV1rKjy9P4golpPASSSoPNO-yEITaEKpQpTFgdBY/edit'},
                      {title: 'Power Homework',link: 'https://docs.google.com/document/u/0/d/18Kf2ZfW_OpvrOqRMZdcMObs2xuxfl49TuKxtveT3icM/edit'},
                      {title: 'Explosive Leg Exercises', link: 'https://docs.google.com/document/u/0/d/1HCw4p-JGq2dP_xql7gm0LKEL848Sdmqa4jT_K5fICo4/edit'},
                      {title: 'Sprint Exercises #1', link: 'https://docs.google.com/document/d/1yMmsapnzdsgPtKLy7hGh-N8_HX_w5U1p7XbTfYyPM9o/edit?usp=sharing'},
                      {title: 'Sprint Exercises #2', link: 'https://docs.google.com/document/u/0/d/1eW43z-LUzEggugBcPPembZ1qcYgcPRBTspL51g3ho4I/edit'},
                      {title: 'Strength Homework', link: 'https://docs.google.com/document/u/0/d/1LT3sBk0_-vQoY3NkZ0BtiKtJF1wH6CjPOPRHGTvNYcA/edit'},
                      {title: 'General Warmup', link: 'https://docs.google.com/document/u/0/d/1SPsCR2xl9zCvEKy2CHrnsB1FMlNVZoj01kh3GGTXAD0/edit'},
                      {title: 'Light Impact Exercises', link: 'https://docs.google.com/document/u/0/d/1jYUQaV3Vmw6tJ4wyHHM6xF1-izB6hhlrWiBATcT5DO8/edit'},
                      {title: 'Bloodflow Restriction', link: 'https://docs.google.com/document/u/0/d/1KZd-DVUWIKt9sn5eqJeYphXX1cXu1JtyU4_Q1iE7s6Y/edit'},
                      {title: 'How long does it take to fall out of shape?', link: 'https://docs.google.com/document/d/1YlWAtjVHlPP5kgqBz2prtFRxFKlgKESNOIDv40RYZg0/edit?usp=sharing'},
                      {title: 'Why Do You Get Sore After Running?', link: 'https://docs.google.com/document/u/0/d/1wEendIYs82Y5ahNuJkPvTQHbr5MX7VTEOtXGwZx9rt8/edit'},
                      {title: 'Why Stretching Does not Help?', link: 'https://docs.google.com/document/u/0/d/1rKjyyDPr-goKJurvpuQ_e7Eaile47XxGDNFyPhHCV1M/edit'}
                    ] },
                    { category: 'Track and Field Knowledge', articles: [
                      {title: 'Track Conversions',link: 'https://docs.google.com/document/u/0/d/1z6lsr7XmeHKsPZI4XsLff3zt4RHrVsSAmFAJEclR3P0/edit'},
                      {title: 'Sprinting and Body Weight',link: 'https://docs.google.com/document/u/0/d/1DIxzHIAy44nHMWkvJ2Se4e-KezLsVCGACWuQHXI9J1Q/edit'},
                      {title: 'Proper Running Form',link: 'https://docs.google.com/document/u/0/d/1RwMPicmTEIJaV8z4w5g9J3pa9zgSu-dxhKbjEjlxCvA/edit'},
                      {title: 'How Are Relays Chosen?', link: 'https://docs.google.com/document/u/0/d/144IXSmZ4cgbrSkuV0frDtZohRoiv21cyKRKOeloBj88/edit'},
                      {title: 'Track Events', link: 'https://docs.google.com/document/u/0/d/1PzS_RlpurfJD219fCRBNKckCffWoldf8dUkEaXPysBc/edit'},
                      {title: 'DC Track Locations', link: 'https://docs.google.com/document/d/1HxvUMLzxa6NomfSht3iKT2jYrF7EcTZXr5hZ3N8AkeY/edit?usp=sharing'},
                      {title: 'DC Speed and DVM Track', link: 'https://docs.google.com/document/u/0/d/1VzndZvhFh48v2jbcmNrDqpz0erOU8o53rZmLxj2AgAc/edit'},
                      {title: 'Why Are Kenyans So Fast?', link: 'https://docs.google.com/document/u/0/d/1u5RiIv0WJbA_849CiFp3dDrMmDuP40jJUIScgdWSJH0/edit'},
                      {title: 'Why Are Jamaicans So Fast?', link: 'https://docs.google.com/document/u/0/d/1O2Gwu1gK7xCF0Oi9rXXlaZVpci7ji3ZEd9YvHIkJvqM/edit'},
                      {title: 'What’s the best lane for curved sprint races?', link: 'https://docs.google.com/document/d/1W12kNIaEWgkFqdbwR0JAWSqOi8aKugUOXmDUFYrPVwA/edit?usp=sharing'},
                      {title: 'USATF vs AAU', link: 'https://docs.google.com/document/d/1iuowFfg8Ei8Fksx0SBRssRRW_shtexkoHJ75CNat6HE/edit?usp=sharing'},
                      {title: 'Sprinting Primer', link: 'https://docs.google.com/document/u/0/d/1xdvqEe-uLvYkWnNp04gs4JhPhoNaqSEK4Mmv3adxiEg/edit'}
                    ] },
                ];
                alasql([
                    'CREATE localStorage DATABASE IF NOT EXISTS dcspeed',
                    'ATTACH localStorage DATABASE dcspeed',
                    'USE dcspeed',
                    'CREATE TABLE IF NOT EXISTS notes',                  
                    'SET AUTOCOMMIT ON'
                ]); 
                //this.stripe = Stripe('pk_test_TYooMQauvdEDq54NiTphI7jx');                                         
            },

            async mounted() {
              this.setRandomQuote();
              setInterval(this.setRandomQuote, 3400);
              //const birthDate = new Date('2011-10-02');
              //console.log(this.getAthleteAgeGroup(birthDate));
            }

        }); 

    </script>
   <style scoped>
      #app {
           width: 100%;
           height: 100vh;
       }
       body {
        background-color: white;
        }
        .textShadow {
          text-shadow: 2px 4px black;
        }
        .h1 {
          z-index: 1000;
        }
        a.white--text:hover {
          text-decoration: underline;
        }
        .hide-scrollbars::-webkit-scrollbar {
        display: none; 
        }
        .hide-scrollbars {
        -ms-overflow-style: none; 
        scrollbar-width: none; 
        }
        .v-app-bar {
        box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        }
        .v-checkbox >>> .v-label {
            color: white !important;
        }
        h2 {
        color: red;
        font-weight: bold;
        }
        .grey.lighten-3 {
        background-color: #f5f5f5;
        }
        .red {
        background-color: #f44336;
        }
        .red--text:hover {
        text-decoration: underline;
        }
        .v-card:hover {
        transform: scale(1.05);
        transition: transform .3s ease-in-out;
        }

   </style>
</body>

</html>